In [1]:
import gc
import numpy as np
import pandas as pd
import sys
import os
import utils
from utils import logger_func, get_categorical_features
logger = logger_func()
import eda
key = 'SK_ID_CURR'
target = 'TARGET'

utils.start(sys.argv[0])

#==============================================================================
# to pickle
#==============================================================================
def to_pkl():
    app_train = pd.read_csv('../input/application_train.csv')
    app_test = pd.read_csv('../input/application_test.csv')
    app = pd.concat([app_train, app_test], axis=0)
    utils.to_df_pkl(df=app, path='../input', fname='application_train_test')
    app_eda = eda.df_info(app)
    app_eda.to_csv('../eda/application_eda.csv')

    bur = pd.read_csv('../input/bureau.csv')
    utils.to_df_pkl(df=bur, path='../input', fname='bureau')
    bur_eda = eda.df_info(bur)
    bur_eda.to_csv('../eda/bureau_eda.csv')

    pre = pd.read_csv('../input/previous_application.csv')
    utils.to_df_pkl(df=pre, path='../input', fname='previous_application')
    pre_eda = eda.df_info(pre)
    pre_eda.to_csv('../eda/prev_eda.csv')

    ins = pd.read_csv('../input/installments_payments.csv')
    utils.to_df_pkl(df=ins, path='../input', fname='installments_payments')
    ins_eda = eda.df_info(ins)
    ins_eda.to_csv('../eda/install_eda.csv')

    ccb = pd.read_csv('../input/credit_card_balance.csv')
    utils.to_df_pkl(df=ccb, path='../input', fname='credit_card_balance')
    ccb_eda = eda.df_info(ccb)
    ccb_eda.to_csv('../eda/credit_eda.csv')

    pos = pd.read_csv('../input/POS_CASH_balance.csv')
    utils.to_df_pkl(df=pos, path='../input', fname='POS_CASH_balance')
    pos_eda = eda.df_info(pos)
    pos_eda.to_csv('../eda/pos_eda.csv')

to_pkl()
#  sys.exit()

#========================================================================
# CLEANSING & PROCESSING
#========================================================================
def clean_app(app):
    logger.info(f'''
    #==============================================================================
    # APPLICATION
    #==============================================================================''')

    app['CODE_GENDER'].replace('XNA', 'F', inplace=True)

    cat_cols = get_categorical_features(df=app, ignore_list=[])
    for col in cat_cols:
        app[col].fillna('XNA', inplace=True)

    ' revo '
    #  revo = 'Revolving loans'
    #  amt_list = ['AMT_ANNUITY', 'AMT_CREDIT', 'AMT_GOODS_PRICE']
    #  for col in amt_list:
    #      app[f'revo_{col}'] = app[col].where(app[f'NAME_CONTRACT_TYPE']==revo, np.nan)
    #      app[col] = app[col].where(app[f'NAME_CONTRACT_TYPE']!=revo, np.nan)

    utils.to_df_pkl(df=app, path='../input', fname='clean_application_train_test')


def clean_bureau(bur):
    logger.info(f'''
    #==============================================================================
    # BUREAU CLEANSING
    #==============================================================================''')

    bur = utils.read_df_pkl(path='../input/bureau*.p')
    bur['DAYS_CREDIT_ENDDATE'] = bur['DAYS_CREDIT_ENDDATE'].where(bur['DAYS_CREDIT_ENDDATE']>-36000, np.nan)
    bur['DAYS_ENDDATE_FACT'] = bur['DAYS_ENDDATE_FACT'].where(bur['DAYS_ENDDATE_FACT']>-36000, np.nan)
    bur['DAYS_CREDIT_UPDATE'] = bur['DAYS_CREDIT_UPDATE'].where(bur['DAYS_CREDIT_UPDATE']>-36000, np.nan)
    bur = utils.to_df_pkl(df=bur, path='../input', fname='clean_bureau')


def clean_prev(pre):
    logger.info(f'''
    #==============================================================================
    # PREV CLEANSING
    #==============================================================================''')

    cash = 'Cash loans'
    revo = 'Revolving loans'
    pre = utils.read_df_pkl(path='../input/previous*.p')
    pre['AMT_CREDIT'] = pre['AMT_CREDIT'].where(pre['AMT_CREDIT']>0, np.nan)
    pre['AMT_ANNUITY'] = pre['AMT_ANNUITY'].where(pre['AMT_ANNUITY']>0, np.nan)
    pre['AMT_APPLICATION'] = pre['AMT_APPLICATION'].where(pre['AMT_APPLICATION']>0, np.nan)
    pre['CNT_PAYMENT'] = pre['CNT_PAYMENT'].where(pre['CNT_PAYMENT']>0, np.nan)
    pre['AMT_DOWN_PAYMENT'] = pre['AMT_DOWN_PAYMENT'].where(pre['AMT_DOWN_PAYMENT']>0, np.nan)
    pre['RATE_DOWN_PAYMENT'] = pre['RATE_DOWN_PAYMENT'].where(pre['RATE_DOWN_PAYMENT']>0, np.nan)

    pre['DAYS_FIRST_DRAWING']        = pre['DAYS_FIRST_DRAWING'].where(pre['DAYS_FIRST_DRAWING'] <100000, np.nan)
    pre['DAYS_FIRST_DUE']            = pre['DAYS_FIRST_DUE'].where(pre['DAYS_FIRST_DUE']         <100000, np.nan)
    pre['DAYS_LAST_DUE_1ST_VERSION'] = pre['DAYS_LAST_DUE_1ST_VERSION'].where(pre['DAYS_LAST_DUE_1ST_VERSION'] <100000, np.nan)
    pre['DAYS_LAST_DUE']             = pre['DAYS_LAST_DUE'].where(pre['DAYS_LAST_DUE']           <100000, np.nan)
    pre['DAYS_TERMINATION']          = pre['DAYS_TERMINATION'].where(pre['DAYS_TERMINATION']     <100000, np.nan)
    #  pre['SELLERPLACE_AREA']          = pre['SELLERPLACE_AREA'].where(pre['SELLERPLACE_AREA']     <200, 200)

    ignore_list = ['SK_ID_CURR', 'SK_ID_PREV', 'NAME_CONTRACT_TYPE', 'NAME_CONTRACT_STATUS']
    ' revo '
    ' RevolvingではCNT_PAYMENT, AMT系をNULLにする '
    #  for col in pre.columns:
    #      if col in ignore_list:
    #          logger.info(f'CONTINUE: {col}')
    #          continue
    #      pre[f'revo_{col}'] = pre[col].where(pre[f'NAME_CONTRACT_TYPE']==revo, np.nan)
    #      pre[col] = pre[col].where(pre[f'NAME_CONTRACT_TYPE']!=revo, np.nan)

    pre['NAME_TYPE_SUITE'].fillna('XNA', inplace=True)
    pre['PRODUCT_COMBINATION'].fillna('XNA', inplace=True)

    pre = utils.to_df_pkl(df=pre, path='../input', fname='clean_prev')


def clean_pos(pos):
    logger.info(f'''
    #==============================================================================
    # PREV CLEANSING
    #==============================================================================''')

    pos = pos.query("NAME_CONTRACT_STATUS!='Signed' and NAME_CONTRACT_STATUS!='Approved' and NAME_CONTRACT_STATUS!='XNA'")
    pos.loc[(pos.NAME_CONTRACT_STATUS=='Completed') & (pos.CNT_INSTALMENT_FUTURE!=0), 'NAME_CONTRACT_STATUS'] = 'Active'

    pos_0 = pos.query('CNT_INSTALMENT_FUTURE==0')
    pos_1 = pos.query('CNT_INSTALMENT_FUTURE>0')
    pos_0['NAME_CONTRACT_STATUS'] = 'Completed'
    pos_0.sort_values(by=['SK_ID_PREV', 'MONTHS_BALANCE'], ascending=[True, False], inplace=True)
    pos_0.drop_duplicates('SK_ID_PREV', keep='last', inplace=True)
    pos = pd.concat([pos_0, pos_1], ignore_index=True)
    del pos_0, pos_1
    gc.collect()

    utils.to_df_pkl(df=pos, path='../input', fname='clean_pos')


def clean_ins(ins):

    # なぜ0なのかよくわからないし290行しかないので抜いてしまう
    ins = ins.query("AMT_INSTALMENT>0")

    utils.to_df_pkl(df=ins, path='../input', fname='clean_install')


def clean_ccb(ccb):

    amt_cols = [col for col in ccb.columns if col.count('AMT')]
    cnt_cols = [col for col in ccb.columns if col.count('CNT')]
    amt_cnt_cols = list(set(amt_cols+cnt_cols))
    for col in amt_cnt_cols:
        ccb[col].fillna(0, inplace=True)

    utils.to_df_pkl(df=ccb, path='../input', fname='clean_ccb')

app = utils.read_df_pkl(path='../input/application_train_test*.p')
clean_app(app)
del app
gc.collect()
bur = utils.read_df_pkl(path='../input/bureau*.p')
clean_bureau(bur)
del bur
gc.collect()
pre = utils.read_df_pkl(path='../input/prev*.p')
clean_prev(pre)
del pre
gc.collect()
pos = utils.read_df_pkl(path='../input/POS*.p')
clean_pos(pos)
del pos
gc.collect()
ins = utils.read_df_pkl(path='../input/install*.p')
clean_ins(ins)
del ins
gc.collect()
ccb = utils.read_df_pkl(path='../input/credit*.p')
clean_ccb(ccb)
del ccb
gc.collect()

utils.end(sys.argv[0])

2018-10-27 09:12:53,447 utils 353 [INFO]    [logger_func] start

SystemExit:

In [2]:
app_eda = pd.read_csv('../eda/application_eda.csv')
bur_eda = pd.read_csv('../eda/bureau_eda.csv')
pre_eda = pd.read_csv('../eda/prev_eda.csv')
ins_eda = pd.read_csv('../eda/install_eda.csv')
ccb_eda = pd.read_csv('../eda/credit_eda.csv')
pos_eda = pd.read_csv('../eda/pos_eda.csv')
display(app_eda)
display(bur_eda)
display(pre_eda)
display(ins_eda)
display(ccb_eda)
display(pos_eda)

,Unnamed: 0,DataType,#Nulls,#Uniques,#Inf,#-Inf,Min,Mean,Max,Std,z 1.96 val,z -1.96 val,z 1.96 cnt,z -1.96 cnt,top10 val,top10 cnt,top10 ratio
0,AMT_ANNUITY,float64,36,14166,0,0,1615.500000,27425.560657,2.580255e+05,14732.808190,5.630186e+04,-1450.743395,14003,0,"[9000.0, 13500.0, 6750.0, 10125.0, 37800.0, 11...","[6450, 5556, 2404, 2052, 1612, 1508, 1454, 135...","[0.02, 0.02, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0..."
1,AMT_CREDIT,float64,0,6480,0,0,45000.000000,587767.413753,4.050000e+06,398623.693715,1.369070e+06,-193535.025929,15406,0,"[450000.0, 675000.0, 225000.0, 180000.0, 27000...","[11827, 10303, 9998, 7757, 7733, 7081, 4575, 4...","[0.029999999999999999, 0.029999999999999999, 0..."
2,AMT_GOODS_PRICE,float64,278,1291,0,0,40500.000000,528019.997800,4.050000e+06,366064.985656,1.245507e+06,-189467.374084,18719,0,"[450000.0, 225000.0, 675000.0, 900000.0, 27000...","[30711, 29732, 28434, 17404, 12653, 11111, 996...","[0.089999999999999997, 0.080000000000000002, 0..."
3,AMT_INCOME_TOTAL,float64,0,2741,0,0,25650.000000,170116.059860,1.170000e+08,223506.819009,6.081894e+05,-267957.305397,1836,0,"[135000.0, 112500.0, 157500.0, 180000.0, 90000...","[41312, 35870, 30991, 28924, 25427, 24462, 193...","[0.12, 0.10000000000000001, 0.0899999999999999..."
4,AMT_REQ_CREDIT_BUREAU_DAY,float64,47568,9,0,0,0.000000,0.006281,9.000000e+00,0.104250,2.106115e-01,-0.198049,1559,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 9.0, 8.0]","[307128, 1355, 113, 45, 26, 9, 8, 2, 1]","[0.85999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0,..."
5,AMT_REQ_CREDIT_BUREAU_HOUR,float64,47568,5,0,0,0.000000,0.005808,4.000000e+00,0.079736,1.620915e-01,-0.150475,1715,0,"[0.0, 1.0, 2.0, 3.0, 4.0]","[306972, 1648, 57, 9, 1]","[0.85999999999999999, 0.0, 0.0, 0.0, 0.0]"
6,AMT_REQ_CREDIT_BUREAU_MON,float64,47568,24,0,0,0.000000,0.231697,2.700000e+01,0.855949,1.909358e+00,-1.445963,10642,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, ...","[264574, 33471, 5409, 1995, 1077, 603, 344, 29...","[0.73999999999999999, 0.089999999999999997, 0...."
7,AMT_REQ_CREDIT_BUREAU_QRT,float64,47568,11,0,0,0.000000,0.304399,2.610000e+02,0.786915,1.846753e+00,-1.237955,20276,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[238976, 49435, 17410, 2212, 533, 75, 29, 8, 7...","[0.67000000000000004, 0.14000000000000001, 0.0..."
8,AMT_REQ_CREDIT_BUREAU_WEEK,float64,47568,9,0,0,0.000000,0.029995,8.000000e+00,0.191374,4.050872e-01,-0.345098,8652,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 6.0, 5.0, 8.0, 7.0]","[300035, 8321, 202, 58, 34, 20, 10, 5, 2]","[0.83999999999999997, 0.02, 0.0, 0.0, 0.0, 0.0..."
9,AMT_REQ_CREDIT_BUREAU_YEAR,float64,47568,25,0,0,0.000000,1.911564,2.500000e+01,1.865338,5.567627e+00,-1.744499,16341,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[82640, 72616, 58681, 39822, 24459, 14128, 809...","[0.23000000000000001, 0.20000000000000001, 0.1..."
10,APARTMENTS_AVG,float64,179948,2391,0,0,0.000000,0.118138,1.000000e+00,0.108954,3.316872e-01,-0.095411,8565,0,"[0.082500000000000004, 0.061899999999999997, 0...","[7773, 7345, 5172, 4619, 3986, 3451, 3330, 325...","[0.02, 0.02, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
11,APARTMENTS_MEDI,float64,179948,1163,0,0,0.000000,0.118549,1.000000e+00,0.109824,3.338035e-01,-0.096705,8626,0,"[0.083299999999999999, 0.0625, 0.0937000000000...","[8278, 7777, 5433, 4881, 4049, 3590, 3528, 351...","[0.02, 0.02, 0.02, 0.01, 0.01, 0.01, 0.01, 0.0..."
12,APARTMENTS_MODE,float64,179948,770,0,0,0.000000,0.114914,1.000000e+00,0.108745,3.280551e-01,-0.098226,8567,0,"[0.084000000000000005, 0.063, 0.09450000000000...","[8752, 8663, 5578, 5068, 4519, 3780, 3604, 358...","[0.02, 0.02, 0.02, 0.01, 0.01, 0.01, 0.01, 0.0..."
13,BASEMENTAREA_AVG,float64,207584,3831,0,0,0.000000,0.088673,1.000000e+00,0.082312,2.500050e-01,-0.072660,5554,0,"[0.0, 0.1091, 0.0545, 0.072700000000000001, 0....","[16986, 305, 296, 295, 292, 274, 272, 268, 262...","[0.050000000000000003, 0.0, 0.0, 0.0, 0.0, 0.0..."
14,BASEMENTAREA_MEDI,float64,207584,3821,0,0,0.000000,0.088178,1.000000e+00,0.082017,2.489319e-01,-0.072575,5614,0,"[0.0, 0.1091, 0.081799999999999998, 0.0545, 0....","[17270, 326, 317, 312, 295, 275, 273, 272, 265...","[0.050000000000000003, 0.0, 0.0, 0.0, 0.0, 0.0..."
15,BASEMENTAREA_MODE,float64,207584,3891,0,0,0.000000,0.087750,1.000000e+00,0.084076,2.525385e-01,-0.077039,5722,0,"[0.0, 0.056599999999999998, 0.0849000000000000...","[19156, 310, 304, 299, 286, 282, 278, 263, 263...","[0.050000000000000003, 0.0, 0.0, 0.0, 0.0, 0.0..."
16,CNT_CHILDREN,int64,0,16,0,0,0.000000,0.414316,2.000000e+01,0.720378,1.826257e+00,-0.997626,35576,0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 14]","[250056, 70623, 30698, 4252, 478, 96, 24, 8, 5...","[0.69999999999999996, 0.20000000000000001, 0.0..."
17,CNT_FAM_MEMBERS,float64,2,18,0,0,1.000000,2.151858,2.100000e+01,0.907937,3.931416e+00,0.372301,32970,0,"[2.0, 1.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...","[184411, 78098, 60774, 28387, 3990, 451, 93, 2...","[0.52000000000000002, 0.22, 0.1700000000000000..."
18,CODE_GENDER,object,0,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN,32970,0,"['F', 'M', 'XNA']","[235126, 121125, 4]","[0.66000000000000003, 0.34000000000000002, 0.0]"
19,COMMONAREA_AVG,float64,248360,3271,0,0,0.000000,0.045045,1.000000e+00,0.077045,1.960531e-01,-0.105963,3816,0,"[0.0, 0.0079000000000000008, 0.007799999999999...","[9815, 633, 559, 515, 487, 429, 400, 399, 365,...","[0.029999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0..."
20,COMMONAREA_MEDI,float64,248360,3289,0,0,0.000000,0.044994,1.000000e+00,0.077140,1.961881e-01,-0.106199,3876,0,"[0.0, 0.0079000000000000008, 0.008000000000000...","[10116, 675, 571, 551, 436, 430, 390, 383, 367...","[0.029999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0..."
21,COMMONAREA_MODE,float64,248360,3215,0,0,0.000000,0.042930,1.000000e+00,0.075437,1.907862e-01,-0.104925,3836,0,"[0.0, 0.0080000000000000002, 0.007900000000000...","[11294, 633, 629, 599, 481, 467, 461, 420, 402...","[0.029999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0..."
22,DAYS_BIRTH,int64,0,17467,0,0,-25229.000000,-16041.248841,-7.338000e+03,4358.803980,-7.497993e+03,-24584.504642,3,2511,"[-10020, -18248, -15771, -13922, -15565, -1348...","[50, 47, 45, 44, 44, 44, 44, 44, 44, 43]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
23,DAYS_EMPLOYED,int64,0,12896,0,0,-17912.000000,64317.231413,3.652430e+05,141705.532576,3.420601e+05,-213425.612436,64648,0,"[365243, -200, -199, -212, -224, -229, -230, -...","[64648, 175, 171, 165, 163, 162, 161, 159, 158...","[0.17999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0,..."
24,DAYS_ID_PUBLISH,int64,0,6224,0,0,-7197.000000,-3002.071163,0.000000e+00,1517.901735,-2.698376e+01,-5977.158564,1841,661,"[-4291, -4270, -4263, -4200, -4256, -4375, -43...","[186, 184, 183, 182, 178, 178, 177, 177, 175, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
25,DAYS_LAST_PHONE_CHANGE,float64,1,3846,0,0,-4361.000000,-978.580852,0.000000e+00,835.063902,6.581444e+02,-2615.306101,0,15152,"[0.0, -1.0, -2.0, -3.0, -4.0, -5.0, -6.0, -7.0...","[43473, 2986, 2389, 1808, 1328, 859, 551, 469,...","[0.12, 0.01, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0..."
26,DAYS_REGISTRATION,float64,0,15898,0,0,-24672.000000,-4983.593527,0.000000e+00,3526.968986,1.929266e+03,-11896.452740,0,14124,"[-1.0, -7.0, -6.0, -2.0, -4.0, -5.0, -3.0, 0.0...","[123, 111, 107, 99, 99, 95, 94, 93, 92, 91]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
27,DEF_30_CNT_SOCIAL_CIRCLE,float64,1050,10,0,0,0.000000,0.143452,3.400000e+01,0.456579,1.038347e+00,-0.751442,7915,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 34.0, 7.0,...","[314519, 32771, 6157, 1381, 293, 64, 14, 4, 1, 1]","[0.88, 0.089999999999999997, 0.02, 0.0, 0.0, 0..."
28,DEF_60_CNT_SOCIAL_CIRCLE,float64,1050,9,0,0,0.000000,0.100198,2.400000e+01,0.368259,8.219858e-01,-0.621589,29870,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 24.0, 6.0, 7.0]","[325335, 25325, 3666, 695, 152, 24, 4, 3, 1]","[0.91000000000000003, 0.070000000000000007, 0...."
29,ELEVATORS_AVG,float64,189080,266,0,0,0.000000,0.079819,1.000000e+00,0.135249,3.449066e-01,-0.185269,8841,0,"[0.0, 0.080000000000000002, 0.16, 0.2399999999...","[99185, 11568, 10392, 7138, 6515, 5344, 4770, ...","[0.28000000000000003, 0.029999999999999999, 0...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,NAME_TYPE_SUITE,object,2203,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8787,0,"['Unaccompanied', 'Family', 'Spouse, partner',...","[288253, 46030, 12818, 3675, 1981, 975, 320]","[0.81000000000000005, 0.13, 0.0400000000000000..."
93,NONLIVINGAPARTMENTS_AVG,float64,246861,410,0,0,0.000000,0.008868,1.000000e+00,0.047876,1.027055e-01,-0.084969,1153,0,"[0.0, 0.0038999999999999998, 0.007700000000000...","[63364, 15840, 7371, 4296, 3011, 1934, 1446, 1...","[0.17999999999999999, 0.040000000000000001, 0...."
94,NONLIVINGAPARTMENTS_MEDI,float64,246861,231,0,0,0.000000,0.008697,1.000000e+00,0.047519,1.018336e-01,-0.084439,1119,0,"[0.0, 0.0038999999999999998, 0.007799999999999...","[65214, 16467, 7547, 4380, 3040, 1959, 1494, 1...","[0.17999999999999999, 0.050000000000000003, 0...."
95,NONLIVINGAPARTMENTS_MODE,float64,246861,178,0,0,0.000000,0.008116,1.000000e+00,0.046330,9.892270e-02,-0.082691,1071,0,"[0.0, 0.0038999999999999998, 0.007799999999999...","[68893, 16439, 7452, 4247, 2957, 1913, 1392, 9...","[0.19, 0.050000000000000003, 0.02, 0.01, 0.01,..."
96,NONLIVINGAREA_AVG,float64,195766,3397,0,0,0.000000,0.028503,1.000000e+00,0.069880,1.654679e-01,-0.108462,5258,0,"[0.0, 0.0011999999999999999, 0.004400000000000...","[68204, 648, 525, 510, 486, 477, 470, 468, 461...","[0.19, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
97,NONLIVINGAREA_MEDI,float64,195766,3419,0,0,0.000000,0.028386,1.000000e+00,0.070574,1.667105e-01,-0.109939,5281,0,"[0.0, 0.0011999999999999999, 0.002200000000000...","[70821, 636, 547, 531, 493, 483, 482, 479, 471...","[0.20000000000000001, 0.0, 0.0, 0.0, 0.0, 0.0,..."
98,NONLIVINGAREA_MODE,float64,195766,3432,0,0,0.000000,0.027183,1.000000e+00,0.070723,1.657996e-01,-0.111433,5407,0,"[0.0, 0.0011000000000000001, 0.004599999999999...","[78048, 576, 529, 497, 497, 488, 483, 430, 426...","[0.22, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
99,OBS_30_CNT_SOCIAL_CIRCLE,float64,1050,36,0,0,0.000000,1.425729,3.540000e+02,2.599914,6.521560e+00,-3.670102,15720,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[189935, 56548, 34559, 23591, 16345, 11020, 74...","[0.53000000000000003, 0.16, 0.1000000000000000..."
100,OBS_60_CNT_SOCIAL_CIRCLE,float64,1050,35,0,0,0.000000,1.409468,3.510000e+02,2.577724,6.461807e+00,-3.642871,15382,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[190806, 56611, 34501, 23477, 16145, 10904, 73...","[0.54000000000000004, 0.16, 0.1000000000000000..."
101,OCCUPATION_TYPE,object,111996,18,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15382,0,"['Laborers', 'Sales staff', 'Core staff', 'Man...","[63841, 37174, 31931, 24945, 21376, 13234, 114...","[0.17999999999999999, 0.10000000000000001, 0.0..."
102,ORGANIZATION_TYPE,object,0,58,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15382,0,"['Business Entity Type 3', 'XNA', 'Self-employ...","[78832, 64648, 44332, 19390, 12909, 12032, 119...","[0.22, 0.17999999999999999, 0.12, 0.0500000000..."
103,OWN_CAR_AGE,float64,235241,63,0,0,0.000000,12.023741,9.100000e+01,11.880848,3.531020e+01,-11.262721,4531,0,"[7.0, 3.0, 8.0, 4.0, 6.0, 2.0, 1.0, 9.0, 10.0,...","[8625, 7397, 6984, 6909, 6880, 6832, 5930, 586...","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."
104,REGION_POPULATION_RELATIVE,float64,0,82,0,0,0.000253,0.020917,7.250800e-02,0.013915,4.819040e-02,-0.006356,9977,0,"[0.035792000000000004, 0.046219999999999997, 0...","[18990, 15939, 14154, 13549, 13406, 12916, 128...","[0.050000000000000003, 0.040000000000000001, 0..."
105,REGION_RATING_CLIENT,int64,0,3,0,0,1.000000,2.050506,3.000000e+00,0.510947,3.051963e+00,1.049049,0,37961,"[2, 3, 1]","[262340, 55954, 37961]","[0.73999999999999999, 0.16, 0.11]"
106,REGION_RATING_CLIENT_W_CITY,int64,0,4,0,0,-1.000000,2.028932,3.000000e+00,0.504586,3.017920e+00,1.039943,0,40343,"[2, 3, 1, -1]","[265260, 50652, 40342, 1]","[0.73999999999999999, 0.14000000000000001, 0.1..."
107,REG_CITY_NOT_LIVE_CITY,int64,0,2,0,0,0.000000,0.078076,1.000000e+00,0.268292,6.039278e-01,-0.447776,27815,0,"[0, 1]","[328440, 27815]","[0.92000000000000004, 0.080000000000000002]"
108,REG_CITY_NOT_WORK_CITY,int64,0,2,0,0,0.000000,0.229661,1.000000e+00,0.420616,1.054068e+00,-0.594745,0,0,"[0, 1]","[274437, 81818]","[0.77000000000000002, 0.23000000000000001]"
109,REG_REGION_NOT_LIVE_REGION,int64,0,2,0,0,0.000000,0.015649,1.000000e+00,0.124113,2.589106e-01,-0.227613,5575,0,"[0, 1]","[350680, 5575]","[0.97999999999999998, 0.02]"
110,REG_REGION_NOT_WORK_REGION,int64,0,2,0,0,0.000000,0.051371,1.000000e+00,0.220753,4.840456e-01,-0.381305,18301,0,"[0, 1]","[337954, 18301]","[0.94999999999999996, 0.050000000000000003]"
111,SK_ID_CURR,int64,0,356255,0,0,100001.000000,278128.000000,4.562550e+05,102842.104413,4.796985e+05,76557.475351,0,0,"[100303, 344829, 328437, 334582, 332535, 35506...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
112,TARGET,float64,48744,2,0,0,0.000000,0.080729,1.000000e+00,0.272419,6.146694e-01,-0.453212,24825,0,"[0.0, 1.0]","[282686, 24825]","[0.79000000000000004, 0.070000000000000007]"
113,TOTALAREA_MODE,float64,171055,5191,0,0,0.000000,0.103193,1.000000e+00,0.108041,3.149527e-01,-0.108567,8975,0,"[0.0, 0.057000000000000002, 0.0551000000000000...","[655, 285, 268, 265, 263, 259, 258, 255, 254, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
114,WALLSMATERIAL_MODE,object,180234,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8975,0,"['Panel', 'Stone, brick', 'Block', 'Wooden', '...","[77309, 75249, 10681, 6156, 2649, 2068, 1909]","[0.22, 0.20999999999999999, 0.0299999999999999..."
115,WEEKDAY_APPR_PROCESS_START,object,0,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8975,0,"['TUESDAY', 'WEDNESDAY', 'MONDAY', 'THURSDAY',...","[63652, 60391, 59120, 59009, 57588, 38455, 18040]","[0.17999999999999999, 0.17000000000000001, 0.1..."
116,YEARS_BEGINEXPLUATATION_AVG,float64,172863,294,0,0,0.000000,0.977889,1.000000e+00,0.057929,1.091430e+00,0.864348,0,777,"[0.98709999999999998, 0.98560000000000003, 0.9...","[5012, 4866, 4861, 4841, 4788, 4777, 4763, 464...","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
117,YEARS_BEGINEXPLUATATION_MEDI,float64,172863,250,0,0,0.000000,0.977903,1.000000e+00,0.058562,1.092685e+00,0.863121,0,733,"[0.98709999999999998, 0.98609999999999998, 0.9...","[5028, 4918, 4884, 4871, 4773, 4729, 4693, 460...","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
118,YEARS_BEGINEXPLUATATION_MODE,float64,172863,224,0,0,0.000000,0.977239,1.000000e+00,0.063165,1.101042e+00,0.853435,0,764,"[0.98709999999999998, 0.98660000000000003, 0.9...","[5011, 4902, 4842, 4779, 4742, 4723, 4659, 461...","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
119,YEARS_BUILD_AVG,float64,236306,149,0,0,0.000000,0.752283,1.000000e+00,0.113267,9.742874e-01,0.530279,2426,3168,"[0.82320000000000004, 0.81640000000000001, 0.8...","[3506, 3361, 3293, 3228, 3213, 3212, 3186, 315...","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
120,YEARS_BUILD_MEDI,float64,236306,151,0,0,0.000000,0.755548,1.000000e+00,0.112057,9.751805e-01,0.535916,2478,3165,"[0.8256, 0.81889999999999996, 0.8054, 0.812100...","[3510, 3370, 3284, 3249, 3224, 3172, 3162, 314...","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
121,YEARS_BUILD_MODE,float64,236306,154,0,0,0.000000,0.759452,1.000000e+00,0.110112,9.752727e-01,0.543632,2444,3359,"[0.83009999999999995, 0.8236, 0.81710000000000...","[3478, 3362, 3226, 3211, 3186, 3170, 3131, 313...","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."

,Unnamed: 0,DataType,#Nulls,#Uniques,#Inf,#-Inf,Min,Mean,Max,Std,z 1.96 val,z -1.96 val,z 1.96 cnt,z -1.96 cnt,top10 val,top10 cnt,top10 ratio
0,SK_ID_CURR,int64,0,305811,0,0,100001.000,2.782149e+05,4.562550e+05,1.029386e+05,4.799745e+05,7.645536e+04,0,0,"[120860, 169704, 318065, 251643, 425396, 29580...","[116, 94, 78, 61, 60, 59, 58, 57, 56, 55]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,SK_ID_BUREAU,int64,0,1716428,0,0,5000000.000,5.924434e+06,6.843457e+06,5.322657e+05,6.967675e+06,4.881194e+06,0,0,"[5000822, 6547158, 6487797, 6481654, 6483703, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,CREDIT_ACTIVE,object,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,"['Closed', 'Active', 'Sold', 'Bad debt']","[1079273, 630607, 6527, 21]","[0.63, 0.37, 0.0, 0.0]"
3,CREDIT_CURRENCY,object,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,"['currency 1', 'currency 2', 'currency 3', 'cu...","[1715020, 1224, 174, 10]","[1.0, 0.0, 0.0, 0.0]"
4,DAYS_CREDIT,int64,0,2923,0,0,-2922.000,-1.142108e+03,0.000000e+00,7.951649e+02,4.164156e+02,-2.700631e+03,0,72833,"[-364, -336, -273, -357, -343, -315, -371, -36...","[1330, 1248, 1238, 1218, 1203, 1202, 1196, 119...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5,CREDIT_DAY_OVERDUE,int64,0,942,0,0,0.000,8.181666e-01,2.792000e+03,3.654443e+01,7.244525e+01,-7.080891e+01,1404,0,"[0, 30, 60, 13, 8, 9, 7, 14, 17, 11]","[1712211, 311, 126, 103, 103, 93, 92, 91, 77, 75]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
6,DAYS_CREDIT_ENDDATE,float64,105553,14096,0,0,-42060.000,5.105174e+02,3.119900e+04,4.994220e+03,1.029919e+04,-9.278154e+03,48286,146,"[0.0, 3.0, -7.0, 1.0, -14.0, -10.0, 4.0, -2.0,...","[883, 845, 837, 830, 787, 782, 777, 772, 771, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
7,DAYS_ENDDATE_FACT,float64,633653,2917,0,0,-42023.000,-1.017437e+03,0.000000e+00,7.140106e+02,3.820237e+02,-2.416898e+03,0,49323,"[-329.0, -273.0, -301.0, -91.0, -84.0, -154.0,...","[811, 794, 791, 785, 783, 783, 782, 778, 778, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8,AMT_CREDIT_MAX_OVERDUE,float64,1124488,68251,0,0,0.000,3.825418e+03,1.159872e+08,2.060316e+05,4.076474e+05,-3.999965e+05,310,0,"[0.0, 1440.0, 225.0, 45.0, 4.5, 90.0, 4500.0, ...","[470650, 688, 405, 377, 315, 222, 220, 192, 19...","[0.27000000000000002, 0.0, 0.0, 0.0, 0.0, 0.0,..."
9,CNT_CREDIT_PROLONG,int64,0,10,0,0,0.000,6.410406e-03,9.000000e+00,9.622391e-02,1.950093e-01,-1.821884e-01,9114,0,"[0, 1, 2, 3, 4, 5, 9, 6, 8, 7]","[1707314, 7620, 1222, 191, 54, 21, 2, 2, 1, 1]","[0.98999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0,..."
10,AMT_CREDIT_SUM,float64,13,236708,0,0,0.000,3.549946e+05,5.850000e+08,1.149811e+06,2.608625e+06,-1.898636e+06,30308,0,"[0.0, 225000.0, 135000.0, 450000.0, 90000.0, 1...","[66582, 57608, 50195, 37156, 36940, 28840, 265...","[0.040000000000000001, 0.029999999999999999, 0..."
11,AMT_CREDIT_SUM_DEBT,float64,257669,226537,0,0,-4705600.320,1.370851e+05,1.701000e+08,6.774011e+05,1.464791e+06,-1.190621e+06,26310,9,"[0.0, 4.5, -450.0, 135000.0, 90000.0, 45000.0,...","[1016434, 653, 543, 344, 320, 316, 307, 238, 2...","[0.58999999999999997, 0.0, 0.0, 0.0, 0.0, 0.0,..."
12,AMT_CREDIT_SUM_LIMIT,float64,591780,51726,0,0,-586406.115,6.229515e+03,4.705600e+06,4.503203e+04,9.449230e+04,-8.203327e+04,23714,29,"[0.0, 135000.0, 4500.0, 45000.0, 90000.0, 1350...","[1050142, 2178, 1474, 1335, 974, 833, 766, 757...","[0.60999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0,..."
13,AMT_CREDIT_SUM_OVERDUE,float64,0,1616,0,0,0.000,3.791276e+01,3.756681e+06,5.937650e+03,1.167571e+04,-1.159988e+04,592,0,"[0.0, 4.5, 9.0, 13.5, 18.0, 22.5, 45.0, 27.0, ...","[1712270, 301, 107, 81, 72, 60, 56, 52, 50, 48]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
14,CREDIT_TYPE,object,0,15,0,0,NaN,NaN,NaN,NaN,NaN,NaN,592,0,"['Consumer credit', 'Credit card', 'Car loan',...","[1251615, 402195, 27690, 18391, 12413, 1975, 1...","[0.72999999999999998, 0.23000000000000001, 0.0..."
15,DAYS_CREDIT_UPDATE,int64,0,2982,0,0,-41947.000,-5.937483e+02,3.720000e+02,7.207473e+02,8.189164e+02,-2.006413e+03,0,96647,"[-7, -8, -11, -15, -12, -10, -9, -13, -6, -14]","[18503, 18462, 16975, 16870, 16827, 16651, 165...","[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0..."
16,AMT_ANNUITY,float64,1226791,40321,0,0,0.000,1.571276e+04,1.184534e+08,3.258269e+05,6.543336e+05,-6.229081e+05,759,0,"[0.0, 4500.0, 13500.0, 22500.0, 9000.0, 18000....","[256915, 5182, 3147, 2502, 1725, 1605, 1593, 1...","[0.14999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0,..."

,Unnamed: 0,DataType,#Nulls,#Uniques,#Inf,#-Inf,Min,Mean,Max,Std,z 1.96 val,z -1.96 val,z 1.96 cnt,z -1.96 cnt,top10 val,top10 cnt,top10 ratio
0,SK_ID_PREV,int64,0,1670214,0,0,1.000001e+06,1.923089e+06,2845382.000,532597.958696,2.966981e+06,879197.136287,0,0,"[1000983, 2428426, 1026910, 1024863, 2448896, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,SK_ID_CURR,int64,0,338857,0,0,1.000010e+05,2.783572e+05,456255.000,102814.823849,4.798742e+05,76840.119355,0,0,"[187868, 265681, 173680, 242412, 206783, 15636...","[77, 73, 72, 68, 67, 66, 64, 64, 63, 62]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,NAME_CONTRACT_TYPE,object,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,"['Cash loans', 'Consumer loans', 'Revolving lo...","[747553, 729151, 193164, 346]","[0.45000000000000001, 0.44, 0.12, 0.0]"
3,AMT_ANNUITY,float64,372235,357959,0,0,0.000000e+00,1.595512e+04,418058.145,14782.137335,4.492811e+04,-13017.868517,70564,0,"[2250.0, 11250.0, 6750.0, 9000.0, 22500.0, 450...","[31865, 13974, 13442, 12496, 11903, 10597, 717...","[0.02, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0, 0.0,..."
4,AMT_APPLICATION,float64,0,93885,0,0,0.000000e+00,1.752339e+05,6905160.000,292779.762387,7.490822e+05,-398614.473919,90181,0,"[0.0, 45000.0, 225000.0, 135000.0, 450000.0, 9...","[392402, 47831, 43543, 40678, 38905, 29367, 24...","[0.23000000000000001, 0.029999999999999999, 0...."
5,AMT_CREDIT,float64,1,86803,0,0,0.000000e+00,1.961140e+05,6905160.000,318574.616546,8.205203e+05,-428292.227212,90691,0,"[0.0, 45000.0, 225000.0, 450000.0, 135000.0, 1...","[336768, 35051, 21094, 19954, 18720, 17085, 13...","[0.20000000000000001, 0.02, 0.01, 0.01, 0.01, ..."
6,AMT_DOWN_PAYMENT,float64,895844,29278,0,0,-9.000000e-01,6.697402e+03,3060045.000,20921.495410,4.770353e+04,-34308.728864,12685,0,"[0.0, 4500.0, 9000.0, 13500.0, 22500.0, 6750.0...","[369854, 21241, 14747, 9655, 8165, 7709, 6241,...","[0.22, 0.01, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0..."
7,AMT_GOODS_PRICE,float64,385515,93885,0,0,0.000000e+00,2.278473e+05,6905160.000,315396.557937,8.460245e+05,-390329.974272,77754,0,"[45000.0, 225000.0, 135000.0, 450000.0, 90000....","[47831, 43549, 40666, 38926, 29367, 24736, 205...","[0.029999999999999999, 0.029999999999999999, 0..."
8,WEEKDAY_APPR_PROCESS_START,object,0,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,77754,0,"['TUESDAY', 'WEDNESDAY', 'MONDAY', 'FRIDAY', '...","[255118, 255010, 253557, 252048, 249099, 24063...","[0.14999999999999999, 0.14999999999999999, 0.1..."
9,HOUR_APPR_PROCESS_START,int64,0,24,0,0,0.000000e+00,1.248418e+01,23.000,3.334028,1.901888e+01,5.949487,19539,31183,"[11, 12, 10, 13, 14, 15, 9, 16, 17, 8]","[192728, 185980, 181690, 172256, 157711, 14296...","[0.12, 0.11, 0.11, 0.10000000000000001, 0.0899..."
10,FLAG_LAST_APPL_PER_CONTRACT,object,0,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,19539,31183,"['Y', 'N']","[1661739, 8475]","[0.98999999999999999, 0.01]"
11,NFLAG_LAST_APPL_IN_DAY,int64,0,2,0,0,0.000000e+00,9.964675e-01,1.000,0.059330,1.112754e+00,0.880181,0,5900,"[1, 0]","[1664314, 5900]","[1.0, 0.0]"
12,RATE_DOWN_PAYMENT,float64,895844,207033,0,0,-1.497876e-05,7.963682e-02,1.000,0.107823,2.909705e-01,-0.131697,39301,0,"[0.0, 0.1089090909090909, 0.2178181818181818, ...","[369854, 36341, 6482, 1081, 746, 449, 304, 258...","[0.22, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
13,RATE_INTEREST_PRIMARY,float64,1664263,148,0,0,3.478125e-02,1.883569e-01,1.000,0.087671,3.601923e-01,0.016522,163,0,"[0.1891363481808909, 0.14244021307945146, 0.16...","[1218, 951, 821, 681, 573, 241, 210, 204, 187,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
14,RATE_INTEREST_PRIVILEGED,float64,1664263,25,0,0,3.731501e-01,7.735025e-01,1.000,0.100879,9.712246e-01,0.575781,1,246,"[0.83509513742071884, 0.71564482029598298, 0.6...","[1717, 1046, 1039, 931, 876, 127, 66, 45, 40, 19]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
15,NAME_CASH_LOAN_PURPOSE,object,0,25,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,246,"['XAP', 'XNA', 'Repairs', 'Other', 'Urgent nee...","[922661, 677918, 23765, 15608, 8412, 2888, 269...","[0.55000000000000004, 0.40999999999999998, 0.0..."
16,NAME_CONTRACT_STATUS,object,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,246,"['Approved', 'Canceled', 'Refused', 'Unused of...","[1036781, 316319, 290678, 26436]","[0.62, 0.19, 0.17000000000000001, 0.02]"
17,DAYS_DECISION,int64,0,2922,0,0,-2.922000e+03,-8.806797e+02,-1.000,779.099667,6.463557e+02,-2407.715015,0,127165,"[-245, -238, -210, -273, -196, -224, -252, -18...","[2444, 2390, 2375, 2350, 2315, 2305, 2300, 228...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
18,NAME_PAYMENT_TYPE,object,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['Cash through the bank', 'XNA', 'Non-cash fro...","[1033552, 627384, 8193, 1085]","[0.62, 0.38, 0.0, 0.0]"
19,CODE_REJECT_REASON,object,0,9,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['XAP', 'HC', 'LIMIT', 'SCO', 'CLIENT', 'SCOFR...","[1353093, 175231, 55680, 37467, 26436, 12811, ...","[0.81000000000000005, 0.10000000000000001, 0.0..."
20,NAME_TYPE_SUITE,object,820405,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['Unaccompanied', 'Family', 'Spouse, partner',...","[508970, 213263, 67069, 31566, 17624, 9077, 2240]","[0.29999999999999999, 0.13, 0.0400000000000000..."
21,NAME_CLIENT_TYPE,object,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['Repeater', 'New', 'Refreshed', 'XNA']","[1231261, 301363, 135649, 1941]","[0.73999999999999999, 0.17999999999999999, 0.0..."
22,NAME_GOODS_CATEGORY,object,0,28,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['XNA', 'Mobile', 'Consumer Electronics', 'Com...","[950809, 224708, 121576, 105769, 99441, 53656,...","[0.56999999999999995, 0.13, 0.0700000000000000..."
23,NAME_PORTFOLIO,object,0,5,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['POS', 'Cash', 'XNA', 'Cards', 'Cars']","[691011, 461563, 372230, 144985, 425]","[0.40999999999999998, 0.28000000000000003, 0.2..."
24,NAME_PRODUCT_TYPE,object,0,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['XNA', 'x-sell', 'walk-in']","[1063666, 456287, 150261]","[0.64000000000000001, 0.27000000000000002, 0.0..."
25,CHANNEL_TYPE,object,0,8,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,127165,"['Credit and cash offices', 'Country-wide', 'S...","[719968, 494690, 212083, 108528, 71297, 57046,...","[0.42999999999999999, 0.29999999999999999, 0.1..."
26,SELLERPLACE_AREA,int64,0,2097,0,0,-1.000000e+00,3.139511e+02,4000000.000,7127.443459,1.428374e+04,-13655.838065,1547,0,"[-1, 0, 50, 30, 20, 100, 40, 25, 15, 150]","[762675, 60523, 37401, 34423, 33840, 31409, 24...","[0.46000000000000002, 0.040000000000000001, 0...."
27,NAME_SELLER_INDUSTRY,object,0,11,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1547,0,"['XNA', 'Consumer electronics', 'Connectivity'...","[855720, 398265, 276029, 57849, 29781, 23949, ...","[0.51000000000000001, 0.23999999999999999, 0.1..."
28,CNT_PAYMENT,float64,372230,49,0,0,0.000000e+00,1.605408e+01,84.000,14.567288,4.460597e+01,-12.497802,103227,0,"[12.0, 6.0, 0.0, 10.0, 24.0, 18.0, 36.0, 60.0,...","[323049, 190461, 144985, 141851, 137764, 77430...","[0.19, 0.11, 0.089999999999999997, 0.080000000..."
29,NAME_YIELD_GROUP,object,0,5,0,0,NaN,NaN,NaN,NaN,NaN,NaN,103227,0,"['XNA', 'middle', 'high', 'low_normal', 'low_a...","[517215, 385532, 353331, 322095, 92041]","[0.31, 0.23000000000000001, 0.2099999999999999..."
30,PRODUCT_COMBINATION,object,346,17,0,0,NaN,NaN,NaN,NaN,NaN,NaN,103227,0,"['Cash', 'POS household with interest', 'POS m...","[285990, 263622, 220670, 143883, 130248, 11258...","[0.17000000000000001, 0.16, 0.13, 0.0899999999..."
31,DAYS_FIRST_DRAWING,float64,673065,2838,0,0,-2.922000e+03,3.422099e+05,365243.000,88916.115834,5.164854e+05,167934.268005,0,62705,"[365243.0, -228.0, -224.0, -212.0, -223.0, -22...","[934444, 123, 121, 121, 119, 118, 117, 117, 11...","[0.56000000000000005, 0.0, 0.0, 0.0, 0.0, 0.0,..."
32,DAYS_FIRST_DUE,float64,673065,2892,0,0,-2.892000e+03,1.382627e+04,365243.000,72444.869708,1.558182e+05,-128165.675291,40645,0,"[365243.0, -334.0, -509.0, -208.0, -330.0, -29...","[40645, 772, 760, 751, 750, 746, 745, 744, 744...","[0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
33,DAYS_LAST_DUE_1ST_VERSION,float64,673065,4605,0,0,-2.801000e+03,3.376777e+04,365243.000,106857.034789,2.432076e+05,-175672.014133,93864,0,"[365243.0, 9.0, 8.0, 0.0, 5.0, 10.0, 2.0, 1.0,...","[93864, 720, 706, 705, 702, 698, 688, 685, 685...","[0.059999999999999998, 0.0, 0.0, 0.0, 0.0, 0.0..."
34,DAYS_LAST_DUE,float64,673065,2873,0,0,-2.889000e+03,7.658240e+04,365243.000,149647.415123,3.698913e+05,-216726.530578,0,0,"[365243.0, -245.0, -188.0, -239.0, -167.0, -24...","[211221, 658, 650, 642, 638, 629, 627, 624, 62...","[0.13, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
35,DAYS_TERMINATION,float64,673065,2830,0,0,-2.874000e+03,8.199234e+04,365243.000,153303.516729,3.824672e+05,-218482.548951,0,0,"[365243.0, -233.0, -184.0, -170.0, -163.0, -16...","[225913, 786, 770, 770, 769, 760, 754, 753, 74...","[0.14000000000000001, 0.0, 0.0, 0.0, 0.0, 0.0,..."
36,NFLAG_INSURED_ON_APPROVAL,float64,673065,2,0,0,0.000000e+00,3.325702e-01,1.000,0.471134,1.255993e+00,-0.590853,0,0,"[0.0, 1.0]","[665527, 331622]","[0.40000000000000002, 0.20000000000000001]"

,Unnamed: 0,DataType,#Nulls,#Uniques,#Inf,#-Inf,Min,Mean,Max,Std,z 1.96 val,z -1.96 val,z 1.96 cnt,z -1.96 cnt,top10 val,top10 cnt,top10 ratio
0,SK_ID_PREV,int64,0,997752,0,0,1000001.0,1.903365e+06,2843499.000,536202.905546,2.954323e+06,852407.274679,0,0,"[2360056, 2592574, 1017477, 1449382, 1746731, ...","[293, 279, 248, 243, 236, 223, 222, 220, 219, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,SK_ID_CURR,int64,0,339587,0,0,100001.0,2.784449e+05,456255.000,102718.310411,4.797728e+05,77116.993332,0,0,"[145728, 296205, 453103, 189699, 186851, 17269...","[372, 350, 347, 344, 337, 336, 332, 324, 323, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,NUM_INSTALMENT_VERSION,float64,0,65,0,0,0.0,8.566373e-01,178.000,1.035216,2.885660e+00,-1.172386,417616,0,"[1.0, 0.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, ...","[8485004, 4082498, 620283, 237063, 55274, 4840...","[0.62, 0.29999999999999999, 0.0500000000000000..."
3,NUM_INSTALMENT_NUMBER,int64,0,277,0,0,1.0,1.887090e+01,277.000,26.664067,7.113247e+01,-33.390675,932424,0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[1004160, 985716, 968279, 943502, 880007, 8279...","[0.070000000000000007, 0.070000000000000007, 0..."
4,DAYS_INSTALMENT,float64,0,2922,0,0,-2922.0,-1.042270e+03,-1.000,800.946284,5.275847e+02,-2612.124709,0,544170,"[-120.0, -180.0, -150.0, -119.0, -149.0, -210....","[11512, 11212, 11194, 11183, 11144, 11140, 111...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5,DAYS_ENTRY_PAYMENT,float64,2905,3039,0,0,-4921.0,-1.051114e+03,-1.000,800.585883,5.180346e+02,-2620.262015,0,540333,"[-91.0, -182.0, -154.0, -92.0, -245.0, -273.0,...","[13103, 13090, 13071, 12646, 12405, 12151, 119...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
6,AMT_INSTALMENT,float64,0,902539,0,0,0.0,1.705091e+04,3771487.845,50570.254429,1.161686e+05,-82066.791691,171300,0,"[9000.0, 2250.0, 4500.0, 6750.0, 3375.0, 5625....","[254062, 179120, 174143, 173659, 149941, 96362...","[0.02, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0, 0.0,..."
7,AMT_PAYMENT,float64,2905,944235,0,0,0.0,1.723822e+04,3771487.845,54735.783981,1.245204e+05,-90043.913353,190177,0,"[9000.0, 2250.0, 4500.0, 6750.0, 3375.0, 5625....","[248757, 182654, 178309, 170360, 141832, 91165...","[0.02, 0.01, 0.01, 0.01, 0.01, 0.01, 0.0, 0.0,..."

,Unnamed: 0,DataType,#Nulls,#Uniques,#Inf,#-Inf,Min,Mean,Max,Std,z 1.96 val,z -1.96 val,z 1.96 cnt,z -1.96 cnt,top10 val,top10 cnt,top10 ratio
0,SK_ID_PREV,int64,0,104307,0,0,1000018.000,1.904504e+06,2843496.000,536469.470563,2.955984e+06,853023.427596,0,0,"[1009171, 1348858, 1745395, 2526035, 1567893, ...","[96, 96, 96, 96, 96, 96, 96, 96, 96, 96]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,SK_ID_CURR,int64,0,103558,0,0,100006.000,2.783242e+05,456250.000,102704.475133,4.796250e+05,77023.436029,0,0,"[186401, 311118, 120076, 128827, 246089, 19182...","[192, 178, 140, 129, 128, 128, 128, 127, 127, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,MONTHS_BALANCE,int64,0,96,0,0,-96.000,-3.452192e+01,-1.000,26.667751,1.774687e+01,-86.790713,0,152148,"[-4, -5, -3, -6, -7, -2, -8, -9, -10, -11]","[102115, 100546, 100355, 98577, 95332, 94643, ...","[0.029999999999999999, 0.029999999999999999, 0..."
3,AMT_BALANCE,float64,0,1347904,0,0,-420250.185,5.830016e+04,1505902.185,106307.031025,2.666619e+05,-150061.625546,178607,8,"[0.0, 67.5, 130.5, 270.0, 135.0, 202.5, 450.0,...","[2156420, 16049, 3662, 2313, 921, 742, 536, 31...","[0.56000000000000005, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,AMT_CREDIT_LIMIT_ACTUAL,int64,0,181,0,0,0.000,1.538080e+05,1350000.000,165145.699523,4.774935e+05,-169877.613665,138559,0,"[0, 180000, 135000, 45000, 90000, 67500, 45000...","[753823, 529292, 430142, 329932, 319996, 30886...","[0.20000000000000001, 0.14000000000000001, 0.1..."
5,AMT_DRAWINGS_ATM_CURRENT,float64,749816,2267,0,0,-6827.310,5.961325e+03,2115000.000,28225.688579,6.128367e+04,-49361.024792,96233,0,"[0.0, 4500.0, 9000.0, 45000.0, 2250.0, 22500.0...","[2665718, 35851, 27726, 22946, 22854, 22676, 2...","[0.68999999999999995, 0.01, 0.01, 0.01, 0.01, ..."
6,AMT_DRAWINGS_CURRENT,float64,0,187005,0,0,-6211.620,7.433388e+03,2287098.315,33846.077334,7.377170e+04,-58904.923394,118470,0,"[0.0, 4500.0, 9000.0, 2250.0, 45000.0, 22500.0...","[3223443, 30257, 22968, 20212, 18947, 18670, 1...","[0.83999999999999997, 0.01, 0.01, 0.01, 0.0, 0..."
7,AMT_DRAWINGS_OTHER_CURRENT,float64,749816,1832,0,0,0.000,2.881696e+02,1529847.000,8201.989345,1.636407e+04,-15787.729533,7583,0,"[0.0, 3343.5, 6682.5, 4455.0, 8910.0, 46800.0,...","[3078163, 782, 460, 441, 319, 242, 235, 216, 2...","[0.80000000000000004, 0.0, 0.0, 0.0, 0.0, 0.0,..."
8,AMT_DRAWINGS_POS_CURRENT,float64,749816,168748,0,0,0.000,2.968805e+03,2239274.160,20796.887047,4.373070e+04,-37793.093765,59736,0,"[0.0, 450.0, 900.0, 2250.0, 4500.0, 1350.0, 22...","[2825595, 1287, 976, 910, 801, 784, 609, 462, ...","[0.73999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0,..."
9,AMT_INST_MIN_REGULARITY,float64,305236,312266,0,0,0.000,3.540204e+03,202882.005,5600.154122,1.451651e+04,-7436.097951,149765,0,"[0.0, 9000.0, 6750.0, 3375.0, 4500.0, 2250.0, ...","[1928864, 225429, 147469, 127613, 124979, 1083...","[0.5, 0.059999999999999998, 0.0400000000000000..."
10,AMT_PAYMENT_CURRENT,float64,767988,163209,0,0,0.000,1.028054e+04,4289207.445,36078.084953,8.099358e+04,-60432.508806,62474,0,"[0.0, 9000.0, 4500.0, 6750.0, 13500.0, 22500.0...","[390507, 257297, 143572, 128296, 100454, 56016...","[0.10000000000000001, 0.070000000000000007, 0...."
11,AMT_PAYMENT_TOTAL_CURRENT,float64,0,182957,0,0,0.000,7.588857e+03,4278315.690,32005.987768,7.032059e+04,-55142.879285,67024,0,"[0.0, 9000.0, 4500.0, 6750.0, 13500.0, 22500.0...","[2172223, 250826, 139736, 126483, 94005, 49059...","[0.56999999999999995, 0.070000000000000007, 0...."
12,AMT_RECEIVABLE_PRINCIPAL,float64,0,1195839,0,0,-423305.820,5.596588e+04,1472316.795,102533.616843,2.569318e+05,-145000.012107,178869,8,"[0.0, 45000.0, 90000.0, 135000.0, 67500.0, 180...","[2296167, 5072, 4767, 4513, 3537, 3256, 2034, ...","[0.59999999999999998, 0.0, 0.0, 0.0, 0.0, 0.0,..."
13,AMT_RECIVABLE,float64,0,1338878,0,0,-420250.185,5.808881e+04,1493338.185,105965.369908,2.657809e+05,-149603.313844,178950,8,"[0.0, 67.5, 270.0, 130.5, 135.0, 202.5, 45000....","[2113816, 3144, 2301, 825, 756, 699, 645, 310,...","[0.55000000000000004, 0.0, 0.0, 0.0, 0.0, 0.0,..."
14,AMT_TOTAL_RECEIVABLE,float64,0,1339008,0,0,-420250.185,5.809829e+04,1493338.185,105971.801103,2.658030e+05,-149606.444673,178979,8,"[0.0, 67.5, 270.0, 130.5, 135.0, 202.5, 45000....","[2113643, 3144, 2301, 825, 756, 699, 645, 310,...","[0.55000000000000004, 0.0, 0.0, 0.0, 0.0, 0.0,..."
15,CNT_DRAWINGS_ATM_CURRENT,float64,749816,44,0,0,0.000,3.094490e-01,51.000,1.100401,2.466235e+00,-1.847337,115671,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[2665718, 213460, 95647, 46730, 26335, 14910, ...","[0.68999999999999995, 0.059999999999999998, 0...."
16,CNT_DRAWINGS_CURRENT,int64,0,129,0,0,0.000,7.031439e-01,165.000,3.190347,6.956224e+00,-5.549936,103916,0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3229952, 231319, 116762, 65318, 43290, 28987,...","[0.83999999999999997, 0.059999999999999998, 0...."
17,CNT_DRAWINGS_OTHER_CURRENT,float64,749816,11,0,0,0.000,4.812496e-03,12.000,0.082639,1.667842e-01,-0.157159,12808,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 10.0,...","[3077688, 11354, 1076, 259, 65, 27, 11, 9, 3, 3]","[0.80000000000000004, 0.0, 0.0, 0.0, 0.0, 0.0,..."
18,CNT_DRAWINGS_POS_CURRENT,float64,749816,133,0,0,0.000,5.594791e-01,165.000,3.240649,6.911151e+00,-5.792193,76733,0,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[2825594, 72216, 41061, 27337, 20273, 15149, 1...","[0.73999999999999999, 0.02, 0.01, 0.01, 0.01, ..."
19,CNT_INSTALMENT_MATURE_CUM,float64,305236,121,0,0,0.000,2.082508e+01,120.000,20.051494,6.012601e+01,-18.475844,184167,0,"[0.0, 5.0, 2.0, 4.0, 6.0, 3.0, 1.0, 7.0, 8.0, ...","[551467, 91691, 91035, 89941, 89829, 89492, 87...","[0.14000000000000001, 0.02, 0.02, 0.02, 0.02, ..."
20,NAME_CONTRACT_STATUS,object,0,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,184167,0,"['Active', 'Completed', 'Signed', 'Demand', 'S...","[3698436, 128918, 11058, 1365, 513, 17, 5]","[0.95999999999999996, 0.029999999999999999, 0...."
21,SK_DPD,int64,0,917,0,0,0.000,9.283667e+00,3260.000,97.515700,2.004144e+02,-181.847105,41671,0,"[0, 1, 8, 32, 7, 62, 31, 366, 93, 18]","[3686957, 90369, 2772, 2340, 1797, 1406, 1290,...","[0.95999999999999996, 0.02, 0.0, 0.0, 0.0, 0.0..."
22,SK_DPD_DEF,int64,0,378,0,0,0.000,3.316220e-01,3260.000,21.479231,4.243092e+01,-41.767672,1280,0,"[0, 1, 8, 7, 32, 5, 31, 18, 12, 62]","[3750972, 83080, 1729, 1176, 492, 406, 291, 25...","[0.97999999999999998, 0.02, 0.0, 0.0, 0.0, 0.0..."

,Unnamed: 0,DataType,#Nulls,#Uniques,#Inf,#-Inf,Min,Mean,Max,Std,z 1.96 val,z -1.96 val,z 1.96 cnt,z -1.96 cnt,top10 val,top10 cnt,top10 ratio
0,SK_ID_PREV,int64,0,936325,0,0,1000001.0,1.903217e+06,2843499.0,535846.530722,2.953476e+06,852957.398742,0,0,"[1624618, 2746611, 1889497, 1235285, 2263451, ...","[96, 96, 96, 96, 96, 96, 96, 96, 96, 96]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,SK_ID_CURR,int64,0,337252,0,0,100001.0,2.784039e+05,456255.0,102763.745090,4.798208e+05,76986.922930,0,0,"[265042, 172612, 309133, 197583, 127659, 18518...","[295, 247, 246, 245, 245, 245, 244, 239, 237, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,MONTHS_BALANCE,int64,0,96,0,0,-96.0,-3.501259e+01,-1.0,26.066570,1.607789e+01,-86.103065,0,436635,"[-10, -11, -9, -12, -8, -13, -7, -14, -6, -15]","[216441, 216023, 215558, 214716, 214149, 21095...","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."
3,CNT_INSTALMENT,float64,26071,73,0,0,1.0,1.708965e+01,92.0,11.995056,4.059996e+01,-6.420659,589927,0,"[12.0, 24.0, 10.0, 6.0, 18.0, 36.0, 8.0, 48.0,...","[2496845, 1517472, 1243449, 1065500, 727394, 5...","[0.25, 0.14999999999999999, 0.12, 0.11, 0.0700..."
4,CNT_INSTALMENT_FUTURE,float64,26087,79,0,0,0.0,1.048384e+01,85.0,11.109058,3.225759e+01,-11.289913,605599,0,"[0.0, 6.0, 4.0, 5.0, 3.0, 2.0, 1.0, 10.0, 8.0,...","[1185960, 614058, 613632, 600295, 582007, 5471...","[0.12, 0.059999999999999998, 0.059999999999999..."
5,NAME_CONTRACT_STATUS,object,0,9,0,0,NaN,NaN,NaN,NaN,NaN,NaN,605599,0,"['Active', 'Completed', 'Signed', 'Demand', 'R...","[9151119, 744883, 87260, 7065, 5461, 4917, 636...","[0.91000000000000003, 0.070000000000000007, 0...."
6,SK_DPD,int64,0,3400,0,0,0.0,1.160693e+01,4231.0,132.714043,2.717265e+02,-248.512597,96162,0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[9706131, 21872, 17358, 14403, 12350, 11046, 9...","[0.96999999999999997, 0.0, 0.0, 0.0, 0.0, 0.0,..."
7,SK_DPD_DEF,int64,0,2307,0,0,0.0,6.544684e-01,3595.0,32.762491,6.486895e+01,-63.560013,4902,0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[9887389, 22134, 14690, 11652, 9528, 8031, 662...","[0.98999999999999999, 0.0, 0.0, 0.0, 0.0, 0.0,..."