In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
import datetime
import glob ,sys , re
from multiprocessing import Pool
import multiprocessing
from categorical_encoding import select_category_value_agg, select_level_agg, select_category_value_agg, cnt_encoding
from mv_wg_avg import exp_weight_avg
from target_encoding import target_encoding

sys.path.append('../../../github/module/')
from preprocessing import set_validation, split_dataset, get_dummies, factorize_categoricals, impute_avg
from convinience_function import get_categorical_features, get_numeric_features, row_number, pararell_process
from logger import logger_func
from feature_engineering import base_aggregation, diff_feature, division_feature
from make_file import make_npy, make_feature_set
from tqdm import tqdm

logger = logger_func()
start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 101)

unique_id = 'SK_ID_CURR'
b_id = 'SK_ID'
p_id = 'SK_ID_PREV'
target = 'TARGET'
ignore_features = [unique_id, target, 'valid_no', 'is_train', 'is_test', 'SK_ID_PREV']

2018-07-24 07:43:18,805 logger 19 [INFO]    [logger_func] start
2018-07-24 07:43:18,815 logger 19 [INFO]    [logger_func] start
2018-07-24 07:43:18,815 logger 19 [INFO]    [logger_func] start
2018-07-24 07:43:18,839 logger 19 [INFO]    [logger_func] start
2018-07-24 07:43:18,839 logger 19 [INFO]    [logger_func] start
2018-07-24 07:43:18,839 logger 19 [INFO]    [logger_func] start

In [40]:
base = pd.read_csv('../data/base.csv')[unique_id].to_frame()
bureau = pd.read_csv('../data/bureau_after.csv')
bureau_clean = pd.read_csv('../data/bureau_cleansing.csv')
bureau.sort_values(by=[unique_id, 'SK_ID_BUREAU'], inplace=True)
bureau = row_number(bureau, unique_id)

train = pd.read_csv('../data/application_train_test.csv')
app = train[[unique_id, 'AMT_CREDIT', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH']]
base_bureau = bureau[['SK_ID_CURR', 'SK_ID_BUREAU']].drop_duplicates()

' bureau_balanceで遅延したことのあるIDのみJOINする '
balance = pd.read_csv('../data/rawdata/bureau_balance.csv')
balance['STATUS'] =  balance['STATUS'].map(lambda x: '-1' if x=='C' or x=='X' else x).astype('int')
b_status = balance.groupby(b_id)['STATUS'].max()

b_status = b_status.reset_index().query('STATUS>=0')
bureau = bureau_clean.merge(b_status, on=b_id, how='left')

In [41]:
df = bureau
df['STATUS'] = df['STATUS'] + 1
df['DAYS_ENDDATE'] = df.apply(lambda x: x['DAYS_ENDDATE_FACT'] if x['DAYS_ENDDATE_FACT'] < 99999 else x['DAYS_CREDIT_ENDDATE'], axis=1)

' ENDDATE_FACT '
df['CREDIT_TERM_FACT'] = df['DAYS_ENDDATE_FACT'] - df['DAYS_CREDIT']
df['CREDIT_TERM_FACT'] = df['CREDIT_TERM_FACT'].map(lambda x:0 if x<0 else x)
df['LOAN_MONTHLY_FACT'] = df['AMT_CREDIT_SUM'] / df['CREDIT_TERM_FACT']

' ENDDATE '
df['CREDIT_TERM'] = df['DAYS_ENDDATE'] - df['DAYS_CREDIT']
df['CREDIT_TERM'] = df['CREDIT_TERM'].map(lambda x:0 if x<0 else x)
df['LOAN_MONTHLY'] = df['AMT_CREDIT_SUM'] / df['CREDIT_TERM']

In [42]:
amt_list = [col for col in bureau_clean.columns if col.count('AMT_') or col.count('LOAN_')]
ab = bureau.merge(app, on=unique_id, how='inner')
df = ab

for num in amt_list:
    df = division_feature(df=df, first=num, second='AMT_INCOME_TOTAL')

In [10]:
def make_feature(df, prefix='b_'):
    result = base.merge(df, on=unique_id, how='left')
    make_npy(result=result, ignore_list=ignore_features, logger=logger, prefix=prefix)

In [1]:
' OVERDUEの数と割合 '
ab['BUREAU_OVERDUE_CNT_ALL@'] = ab['AMT_CREDIT_MAX_OVERDUE'].fillna(0) + ab['AMT_CREDIT_SUM_OVERDUE'].fillna(0) + ab['STATUS'].fillna(0)
ab['BUREAU_OVERDUE_CNT_ALL@'] = ab['BUREAU_OVERDUE_CNT_ALL@'].map(lambda x: 1 if x>0 else 0)
cnt_all = ab.groupby(unique_id)['BUREAU_OVERDUE_CNT_ALL@'].sum().reset_index()
cnt_all = ab.groupby(unique_id)['BUREAU_OVERDUE_CNT_ALL@'].sum().reset_index()
# cnt_all['BUREAU_OVERDUE_CNT_ALL@'].value_counts()
freq_overdue = cnt_all.merge(ab.groupby(unique_id).size().reset_index(), on=unique_id, how='inner').rename(columns={0:'CNT_ID@'})
freq_overdue['BUREAU_OVERDUE_ratio@'] = freq_overdue['BUREAU_OVERDUE_CNT_ALL@'] / freq_overdue['CNT_ID@']

freq_overdue = freq_overdue.merge(app, on=unique_id, how='inner')
num_list = ['BUREAU_OVERDUE_ratio@', 'CNT_ID@']
for num in num_list:
    freq_overdue = division_feature(df=freq_overdue, first=num, second='DAYS_BIRTH')
   
make_feature(df=freq_overdue, prefix='b_')

In [96]:
' 1年、半年、全期間のACTIVE, CLOSED, Bad debt, Sold, ID数 '
# prefix = 'b_YEAR_'
prefix = 'b_'

# act = 'SOLD'
# df = ab.query('DAYS_ENDDATE>=-12')
# df = ab.query("CREDIT_ACTIVE>='Sold'")
# df = ab
df['DAYS_ENDDATE'].fillna(999, inplace=True)

# cnt_act = df.groupby(unique_id).size().reset_index().rename(columns={0:f'CNT_{act}@'})
cnt_act = df.query('DAYS_ENDDATE>0').groupby(unique_id).size().reset_index().rename(columns={0:'CNT_ACTIVE@'})
cnt_id = df.groupby(unique_id).size().reset_index().rename(columns={0:'CNT_ID@'})

act_ratio = cnt_id.merge(cnt_act, on=unique_id, how='left').fillna(0)
act_ratio['CNT_CLOSED@'] = act_ratio['CNT_ID@'] - act_ratio['CNT_ACTIVE@']

act_ratio = division_feature(df=act_ratio, first='CNT_ACTIVE@', second='CNT_ID@')
# act_ratio = division_feature(df=act_ratio, first='CNT_SOLD@', second='CNT_ID@')
make_feature(act_ratio, prefix=prefix)

In [13]:
def extract_term(df, term):
    df = df.query(f'DAYS_CREDIT>={term}')
    return df

In [15]:
income_list = [col for col in ab.columns if col.count('INCOME') and col.count('@')]

' np.infとnp.nanは全て0にする '
for col in income_list:
    ab[col] = ab[col].map(lambda x : 0 if x==np.inf else x)
    ab[col] = ab[col].map(lambda x : 0 if x!=x else x)

In [2]:
prefix = 'b_'
data = ab.copy()
data['DAYS_ENDDATE'] = data['DAYS_ENDDATE'].where(data['DAYS_ENDDATE']<0, 0)
data['DAYS_ENDDATE'] = data['DAYS_ENDDATE'].map(lambda x: np.abs(x))

' 重み付き平均 '
label = 'DAYS_ENDDATE'
weight_list = [0.99, 0.95, 0.9]
feature_list = ['AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_diff_AMT_CREDIT_SUM_DEBT@' ,'AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'AMT_ANNUITY', 'LOAN_MONTHLY_FACT', 'LOAN_MONTHLY']
feature_list = income_list
days_list = ['DAYS_CREDIT', 'DAYS_CREDIT_UPDATE']
feature_list = feature_list + days_list

for num in feature_list:
    for weight in weight_list:
        wavg = exp_weight_avg(data=data, level=unique_id, weight=weight, label=label, value=num)
        result = base.merge(wavg.to_frame().reset_index(), on=unique_id, how='left').fillna(0)
        make_npy(logger=logger, result=result, ignore_list=ignore_features, prefix=prefix)
del data

In [17]:
amt_list

['AMT_CREDIT_MAX_OVERDUE',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'AMT_ANNUITY']

In [18]:
data = ab
num_list = ['CREDIT_TERM', 'DAYS_CREDIT', 'DAYS_ENDDATE', 'DAYS_ENDDATE_FACT', 'DAYS_CREDIT_UPDATE']
select_level_agg(base=base, data=data, ignore_list=ignore_features, level=unique_id, method_list=method_list, num_list=num_list, prefix=prefix)

2018-07-21 15:36:05,017 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: sum
['SK_ID_CURR']
2018-07-21 15:36:05,017 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: sum
['SK_ID_CURR']
../../../github/module/feature_engineering.py:26: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  result = df.groupby(level)[feature].agg({'tmp': {method}})
2018-07-21 15:36:05,157 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:05,157 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:05,237 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:05,237 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:05,250 logger 29 [INFO]    [make_npy] 10.0      4075
6.0       3790
12.0      3776
60.0      3576
0.0       3131
11.0      2943
36.0      2607
24.0      2203
35.0      1920
7.0       1909
13.0      1896
23.0      1888
5.0       1842
9.0       1841
18.0      1583
8.0       1576
4.0       1534
3.0       1509
17.0      1417
19.0      1299
25.0      1247
20.0      1244
59.0      1242
16.0      1226
37.0      1177
22.0      1174
48.0      1166
15.0      1161
21.0      1154
14.0      1146
46.0      1070
45.0      1031
47.0      1027
44.0      1023
72.0      1021
43.0       997
42.0       984
1.0        984
61.0       960
71.0       954
34.0       945
29.0       942
41.0       939
70.0       938
30.0       937
40.0       911
31.0       881
33.0       873
26.0       867
28.0       863
          ...
669.0        1
663.0        1
750.0        1
752.0        1
808.0        1
609.0        1
653.0        1
864.0        1
645.0        1
870.0        1
698.0        1
641.0        1
748.0        1
754.0        1
922.0        1
637.0        1
633.0        1
727.0        1
704.0        1
729.0        1
938.0        1
825.0        1
662.0        1
718.0        1
819.0        1
882.0        1
815.0        1
811.0        1
712.0        1
824.0        1
799.0        1
555.0        1
795.0        1
714.0        1
772.0        1
648.0        1
763.0        1
970.0        1
1127.0       1
998.0        1
753.0        1
751.0        1
766.0        1
690.0        1
743.0        1
741.0        1
737.0        1
735.0        1
733.0        1
739.0        1
Name: CREDIT_TERM_sum@['SK_ID_CURR'], Length: 789, dtype: int64
2018-07-21 15:36:05,250 logger 29 [INFO]    [make_npy] 10.0      4075
6.0       3790
12.0      3776
60.0      3576
0.0       3131
11.0      2943
36.0      2607
24.0      2203
35.0      1920
7.0       1909
13.0      1896
23.0      1888
5.0       1842
9.0       1841
18.0      1583
8.0       1576
4.0       1534
3.0       1509
17.0      1417
19.0      1299
25.0      1247
20.0      1244
59.0      1242
16.0      1226
37.0      1177
22.0      1174
48.0      1166
15.0      1161
21.0      1154
14.0      1146
46.0      1070
45.0      1031
47.0      1027
44.0      1023
72.0      1021
43.0       997
42.0       984
1.0        984
61.0       960
71.0       954
34.0       945
29.0       942
41.0       939
70.0       938
30.0       937
40.0       911
31.0       881
33.0       873
26.0       867
28.0       863
          ...
669.0        1
663.0        1
750.0        1
752.0        1
808.0        1
609.0        1
653.0        1
864.0        1
645.0        1
870.0        1
698.0        1
641.0        1
748.0        1
754.0        1
922.0        1
637.0        1
633.0        1
727.0        1
704.0        1
729.0        1
938.0        1
825.0        1
662.0        1
718.0        1
819.0        1
882.0        1
815.0        1
811.0        1
712.0        1
824.0        1
799.0        1
555.0        1
795.0        1
714.0        1
772.0        1
648.0        1
763.0        1
970.0        1
1127.0       1
998.0        1
753.0        1
751.0        1
766.0        1
690.0        1
743.0        1
741.0        1
737.0        1
735.0        1
733.0        1
739.0        1
Name: CREDIT_TERM_sum@['SK_ID_CURR'], Length: 789, dtype: int64
2018-07-21 15:36:05,299 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: mean
['SK_ID_CURR']
2018-07-21 15:36:05,299 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: mean
['SK_ID_CURR']
2018-07-21 15:36:05,411 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:05,411 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:05,487 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:05,487 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:05,502 logger 29 [INFO]    [make_npy] 10.000000     4943
6.000000      4571
12.000000     4105
11.000000     3638
60.000000     3174
9.000000      2661
7.000000      2566
36.000000     2502
8.000000      2466
5.000000      2307
24.000000     2277
13.000000     2157
23.000000     1983
35.000000     1889
4.000000      1858
18.000000     1737
3.000000      1695
17.000000     1574
14.000000     1427
15.000000     1401
19.000000     1336
16.000000     1263
21.000000     1247
25.000000     1230
20.000000     1178
22.000000     1122
1.000000      1011
26.000000      951
33.000000      925
37.000000      895
27.000000      883
2.000000       862
30.000000      838
28.000000      820
9.500000       796
8.500000       792
32.000000      786
29.000000      783
31.000000      775
34.000000      770
10.500000      748
11.500000      732
7.500000       697
48.000000      676
6.500000       672
59.000000      665
12.500000      628
14.500000      608
23.500000      602
17.500000      587
              ...
13.954545        1
18.529412        1
76.714286        1
2.739130         1
96.400000        1
12.172414        1
30.642857        1
80.166667        1
20.809524        1
34.470588        1
55.428571        1
32.466667        1
47.611111        1
12.470588        1
5.466667         1
68.857143        1
10.944444        1
12.476190        1
22.130435        1
22.346154        1
40.190476        1
74.454545        1
34.315789        1
2.142857         1
9.885714         1
7.275862         1
28.722222        1
61.888889        1
38.230769        1
19.423077        1
12.850000        1
7.703704         1
127.333333       1
39.538462        1
30.684211        1
120.800000       1
33.476190        1
18.421053        1
6.923077         1
12.086957        1
8.086957         1
15.266667        1
5.611111         1
50.923077        1
7.450000         1
50.363636        1
23.944444        1
43.090909        1
14.066667        1
57.222222        1
Name: CREDIT_TERM_mean@['SK_ID_CURR'], Length: 5232, dtype: int64
2018-07-21 15:36:05,502 logger 29 [INFO]    [make_npy] 10.000000     4943
6.000000      4571
12.000000     4105
11.000000     3638
60.000000     3174
9.000000      2661
7.000000      2566
36.000000     2502
8.000000      2466
5.000000      2307
24.000000     2277
13.000000     2157
23.000000     1983
35.000000     1889
4.000000      1858
18.000000     1737
3.000000      1695
17.000000     1574
14.000000     1427
15.000000     1401
19.000000     1336
16.000000     1263
21.000000     1247
25.000000     1230
20.000000     1178
22.000000     1122
1.000000      1011
26.000000      951
33.000000      925
37.000000      895
27.000000      883
2.000000       862
30.000000      838
28.000000      820
9.500000       796
8.500000       792
32.000000      786
29.000000      783
31.000000      775
34.000000      770
10.500000      748
11.500000      732
7.500000       697
48.000000      676
6.500000       672
59.000000      665
12.500000      628
14.500000      608
23.500000      602
17.500000      587
              ...
13.954545        1
18.529412        1
76.714286        1
2.739130         1
96.400000        1
12.172414        1
30.642857        1
80.166667        1
20.809524        1
34.470588        1
55.428571        1
32.466667        1
47.611111        1
12.470588        1
5.466667         1
68.857143        1
10.944444        1
12.476190        1
22.130435        1
22.346154        1
40.190476        1
74.454545        1
34.315789        1
2.142857         1
9.885714         1
7.275862         1
28.722222        1
61.888889        1
38.230769        1
19.423077        1
12.850000        1
7.703704         1
127.333333       1
39.538462        1
30.684211        1
120.800000       1
33.476190        1
18.421053        1
6.923077         1
12.086957        1
8.086957         1
15.266667        1
5.611111         1
50.923077        1
7.450000         1
50.363636        1
23.944444        1
43.090909        1
14.066667        1
57.222222        1
Name: CREDIT_TERM_mean@['SK_ID_CURR'], Length: 5232, dtype: int64

2018-07-21 15:36:05,550 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: std
['SK_ID_CURR']
2018-07-21 15:36:05,550 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: std
['SK_ID_CURR']
2018-07-21 15:36:05,670 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:05,670 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:05,750 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:05,750 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:05,771 logger 29 [INFO]    [make_npy] 0.000000     2597
0.707107     2248
1.414214     1556
2.121320     1219
2.828427     1204
3.535534     1068
4.242641     1038
4.949747      827
8.485281      705
5.656854      677
7.778175      629
16.970563     620
6.363961      587
7.071068      545
9.192388      519
17.677670     473
9.899495      458
12.727922     443
12.020815     443
16.263456     433
10.606602     414
11.313708     400
18.384776     376
13.435029     341
14.142136     337
21.213203     337
15.556349     328
20.506097     323
19.091883     318
25.455844     300
19.798990     293
35.355339     285
33.941125     285
14.849242     284
21.920310     276
34.648232     270
38.183766     269
22.627417     263
2.645751      257
23.334524     255
24.041631     254
24.748737     253
1.000000      250
1.732051      227
4.041452      226
26.162951     224
0.577350      218
33.234019     195
2.516611      194
3.464102      181
             ...
45.984987       1
15.310594       1
40.786221       1
13.076920       1
45.986955       1
24.679276       1
19.729872       1
16.825419       1
30.906310       1
29.090172       1
30.848175       1
13.317510       1
33.047945       1
27.811868       1
13.527469       1
31.510072       1
35.552108       1
34.195516       1
38.638280       1
18.296700       1
54.117465       1
19.569169       1
15.708191       1
13.239251       1
17.249741       1
44.235732       1
20.848038       1
23.826756       1
19.395017       1
6.642665        1
33.979569       1
44.305756       1
44.878230       1
10.476959       1
5.512108        1
25.641763       1
46.208959       1
29.884301       1
9.386752        1
45.758059       1
32.294518       1
9.991663        1
57.679430       1
57.433239       1
16.512621       1
16.863085       1
23.711290       1
38.959808       1
11.517576       1
57.020708       1
Name: CREDIT_TERM_std@['SK_ID_CURR'], Length: 49820, dtype: int64
2018-07-21 15:36:05,771 logger 29 [INFO]    [make_npy] 0.000000     2597
0.707107     2248
1.414214     1556
2.121320     1219
2.828427     1204
3.535534     1068
4.242641     1038
4.949747      827
8.485281      705
5.656854      677
7.778175      629
16.970563     620
6.363961      587
7.071068      545
9.192388      519
17.677670     473
9.899495      458
12.727922     443
12.020815     443
16.263456     433
10.606602     414
11.313708     400
18.384776     376
13.435029     341
14.142136     337
21.213203     337
15.556349     328
20.506097     323
19.091883     318
25.455844     300
19.798990     293
35.355339     285
33.941125     285
14.849242     284
21.920310     276
34.648232     270
38.183766     269
22.627417     263
2.645751      257
23.334524     255
24.041631     254
24.748737     253
1.000000      250
1.732051      227
4.041452      226
26.162951     224
0.577350      218
33.234019     195
2.516611      194
3.464102      181
             ...
45.984987       1
15.310594       1
40.786221       1
13.076920       1
45.986955       1
24.679276       1
19.729872       1
16.825419       1
30.906310       1
29.090172       1
30.848175       1
13.317510       1
33.047945       1
27.811868       1
13.527469       1
31.510072       1
35.552108       1
34.195516       1
38.638280       1
18.296700       1
54.117465       1
19.569169       1
15.708191       1
13.239251       1
17.249741       1
44.235732       1
20.848038       1
23.826756       1
19.395017       1
6.642665        1
33.979569       1
44.305756       1
44.878230       1
10.476959       1
5.512108        1
25.641763       1
46.208959       1
29.884301       1
9.386752        1
45.758059       1
32.294518       1
9.991663        1
57.679430       1
57.433239       1
16.512621       1
16.863085       1
23.711290       1
38.959808       1
11.517576       1
57.020708       1
Name: CREDIT_TERM_std@['SK_ID_CURR'], Length: 49820, dtype: int64
2018-07-21 15:36:05,817 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: max
['SK_ID_CURR']
2018-07-21 15:36:05,817 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: max
['SK_ID_CURR']
2018-07-21 15:36:05,936 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:05,936 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,013 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,013 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,026 logger 29 [INFO]    [make_npy] 60.0     30596
36.0      9391
12.0      7106
10.0      6437
35.0      5492
11.0      5313
6.0       5052
24.0      4716
59.0      4284
23.0      3670
13.0      3340
61.0      3088
37.0      3058
7.0       2669
48.0      2547
9.0       2544
5.0       2255
18.0      2202
8.0       2014
25.0      2003
72.0      2001
121.0     1864
17.0      1846
4.0       1839
3.0       1665
45.0      1664
44.0      1575
47.0      1572
43.0      1419
46.0      1397
14.0      1390
19.0      1357
42.0      1313
41.0      1243
15.0      1178
40.0      1165
38.0      1095
1.0       1076
39.0      1062
34.0      1055
16.0      1045
22.0       991
20.0       969
58.0       962
21.0       956
84.0       922
33.0       902
71.0       898
2.0        864
32.0       846
         ...
161.0       62
159.0       61
170.0       60
172.0       59
88.0        54
169.0       54
187.0       53
184.0       52
177.0       52
93.0        52
180.0       51
185.0       51
195.0       51
168.0       51
183.0       50
166.0       49
193.0       49
164.0       49
105.0       48
175.0       48
108.0       48
188.0       48
173.0       47
176.0       47
171.0       47
178.0       46
167.0       44
179.0       44
189.0       44
190.0       43
191.0       41
192.0       39
174.0       39
199.0       38
198.0       38
194.0       37
197.0       37
91.0        35
186.0       34
104.0       34
98.0        30
92.0        29
196.0       24
100.0       23
107.0       23
103.0       21
101.0       19
99.0        18
102.0       17
106.0       14
Name: CREDIT_TERM_max@['SK_ID_CURR'], Length: 201, dtype: int64
2018-07-21 15:36:06,026 logger 29 [INFO]    [make_npy] 60.0     30596
36.0      9391
12.0      7106
10.0      6437
35.0      5492
11.0      5313
6.0       5052
24.0      4716
59.0      4284
23.0      3670
13.0      3340
61.0      3088
37.0      3058
7.0       2669
48.0      2547
9.0       2544
5.0       2255
18.0      2202
8.0       2014
25.0      2003
72.0      2001
121.0     1864
17.0      1846
4.0       1839
3.0       1665
45.0      1664
44.0      1575
47.0      1572
43.0      1419
46.0      1397
14.0      1390
19.0      1357
42.0      1313
41.0      1243
15.0      1178
40.0      1165
38.0      1095
1.0       1076
39.0      1062
34.0      1055
16.0      1045
22.0       991
20.0       969
58.0       962
21.0       956
84.0       922
33.0       902
71.0       898
2.0        864
32.0       846
         ...
161.0       62
159.0       61
170.0       60
172.0       59
88.0        54
169.0       54
187.0       53
184.0       52
177.0       52
93.0        52
180.0       51
185.0       51
195.0       51
168.0       51
183.0       50
166.0       49
193.0       49
164.0       49
105.0       48
175.0       48
108.0       48
188.0       48
173.0       47
176.0       47
171.0       47
178.0       46
167.0       44
179.0       44
189.0       44
190.0       43
191.0       41
192.0       39
174.0       39
199.0       38
198.0       38
194.0       37
197.0       37
91.0        35
186.0       34
104.0       34
98.0        30
92.0        29
196.0       24
100.0       23
107.0       23
103.0       21
101.0       19
99.0        18
102.0       17
106.0       14
Name: CREDIT_TERM_max@['SK_ID_CURR'], Length: 201, dtype: int64

2018-07-21 15:36:06,074 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: min
['SK_ID_CURR']
2018-07-21 15:36:06,074 logger 122 [INFO]    [select_level_agg]
num: CREDIT_TERM
method: min
['SK_ID_CURR']
2018-07-21 15:36:06,174 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,174 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'CREDIT_TERM_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,253 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,253 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,267 logger 29 [INFO]    [make_npy] 6.0      20962
3.0      14308
10.0     13409
5.0      12417
4.0      12263
1.0      11257
2.0       9214
12.0      8210
7.0       7952
11.0      7311
9.0       6450
8.0       5866
0.0       5567
60.0      3433
13.0      3008
36.0      2883
24.0      2436
23.0      2094
35.0      2002
18.0      1572
17.0      1360
14.0      1251
15.0      1038
25.0       977
19.0       959
16.0       899
37.0       818
59.0       758
20.0       684
22.0       663
21.0       662
44.0       445
48.0       443
43.0       429
45.0       429
34.0       427
33.0       396
26.0       381
32.0       371
31.0       361
30.0       354
42.0       347
41.0       344
27.0       339
46.0       326
29.0       323
28.0       323
38.0       309
40.0       307
61.0       299
         ...
185.0        6
193.0        5
93.0         5
108.0        5
144.0        5
94.0         5
89.0         5
78.0         5
186.0        4
196.0        4
77.0         4
170.0        4
99.0         4
135.0        4
153.0        4
199.0        4
162.0        4
161.0        4
164.0        4
197.0        4
198.0        4
88.0         3
177.0        3
191.0        3
154.0        3
187.0        3
166.0        3
163.0        3
168.0        3
194.0        3
192.0        3
105.0        3
100.0        2
183.0        2
189.0        2
180.0        2
171.0        2
174.0        2
190.0        2
104.0        2
169.0        2
103.0        2
184.0        1
172.0        1
107.0        1
167.0        1
165.0        1
176.0        1
101.0        1
91.0         1
Name: CREDIT_TERM_min@['SK_ID_CURR'], Length: 196, dtype: int64
2018-07-21 15:36:06,267 logger 29 [INFO]    [make_npy] 6.0      20962
3.0      14308
10.0     13409
5.0      12417
4.0      12263
1.0      11257
2.0       9214
12.0      8210
7.0       7952
11.0      7311
9.0       6450
8.0       5866
0.0       5567
60.0      3433
13.0      3008
36.0      2883
24.0      2436
23.0      2094
35.0      2002
18.0      1572
17.0      1360
14.0      1251
15.0      1038
25.0       977
19.0       959
16.0       899
37.0       818
59.0       758
20.0       684
22.0       663
21.0       662
44.0       445
48.0       443
43.0       429
45.0       429
34.0       427
33.0       396
26.0       381
32.0       371
31.0       361
30.0       354
42.0       347
41.0       344
27.0       339
46.0       326
29.0       323
28.0       323
38.0       309
40.0       307
61.0       299
         ...
185.0        6
193.0        5
93.0         5
108.0        5
144.0        5
94.0         5
89.0         5
78.0         5
186.0        4
196.0        4
77.0         4
170.0        4
99.0         4
135.0        4
153.0        4
199.0        4
162.0        4
161.0        4
164.0        4
197.0        4
198.0        4
88.0         3
177.0        3
191.0        3
154.0        3
187.0        3
166.0        3
163.0        3
168.0        3
194.0        3
192.0        3
105.0        3
100.0        2
183.0        2
189.0        2
180.0        2
171.0        2
174.0        2
190.0        2
104.0        2
169.0        2
103.0        2
184.0        1
172.0        1
107.0        1
167.0        1
165.0        1
176.0        1
101.0        1
91.0         1
Name: CREDIT_TERM_min@['SK_ID_CURR'], Length: 196, dtype: int64
2018-07-21 15:36:06,323 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: sum
['SK_ID_CURR']
2018-07-21 15:36:06,323 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: sum
['SK_ID_CURR']
2018-07-21 15:36:06,428 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,428 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,503 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,503 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,518 logger 29 [INFO]    [make_npy] -90.0      2834
-12.0      1123
-6.0       1093
-24.0      1076
-16.0      1070
-26.0      1058
-20.0      1053
-11.0      1049
-8.0       1046
-22.0      1030
-10.0      1028
-23.0      1008
-25.0      1004
-9.0       1003
-18.0       993
-34.0       990
-14.0       985
-27.0       982
-13.0       982
-37.0       981
-21.0       977
-28.0       972
-38.0       965
-7.0        962
-32.0       960
-4.0        959
-17.0       954
-36.0       949
-40.0       943
-48.0       942
-42.0       934
-15.0       934
-30.0       933
-19.0       931
-29.0       920
-33.0       918
-50.0       917
-5.0        916
-46.0       912
-39.0       907
-47.0       903
-41.0       896
-31.0       893
-35.0       886
-44.0       886
-49.0       883
-84.0       882
-3.0        878
-83.0       872
-52.0       868
           ...
-1480.0       1
-1221.0       1
-1141.0       1
-1172.0       1
-1376.0       1
-976.0        1
-1421.0       1
-1300.0       1
-1148.0       1
-1130.0       1
-1951.0       1
-1389.0       1
-1093.0       1
-1166.0       1
-1169.0       1
-966.0        1
-932.0        1
-1528.0       1
-1448.0       1
-1120.0       1
-1087.0       1
-1022.0       1
-1085.0       1
-1403.0       1
-1080.0       1
-1508.0       1
-1284.0       1
-1013.0       1
-1046.0       1
-1097.0       1
-1103.0       1
-1522.0       1
-1313.0       1
-2056.0       1
-1333.0       1
-1337.0       1
-1576.0       1
-1349.0       1
-1372.0       1
-1344.0       1
-1224.0       1
-1162.0       1
-1357.0       1
-1101.0       1
-1363.0       1
-1738.0       1
-2740.0       1
-1076.0       1
-1371.0       1
-1377.0       1
Name: DAYS_CREDIT_sum@['SK_ID_CURR'], Length: 1283, dtype: int64
2018-07-21 15:36:06,518 logger 29 [INFO]    [make_npy] -90.0      2834
-12.0      1123
-6.0       1093
-24.0      1076
-16.0      1070
-26.0      1058
-20.0      1053
-11.0      1049
-8.0       1046
-22.0      1030
-10.0      1028
-23.0      1008
-25.0      1004
-9.0       1003
-18.0       993
-34.0       990
-14.0       985
-27.0       982
-13.0       982
-37.0       981
-21.0       977
-28.0       972
-38.0       965
-7.0        962
-32.0       960
-4.0        959
-17.0       954
-36.0       949
-40.0       943
-48.0       942
-42.0       934
-15.0       934
-30.0       933
-19.0       931
-29.0       920
-33.0       918
-50.0       917
-5.0        916
-46.0       912
-39.0       907
-47.0       903
-41.0       896
-31.0       893
-35.0       886
-44.0       886
-49.0       883
-84.0       882
-3.0        878
-83.0       872
-52.0       868
           ...
-1480.0       1
-1221.0       1
-1141.0       1
-1172.0       1
-1376.0       1
-976.0        1
-1421.0       1
-1300.0       1
-1148.0       1
-1130.0       1
-1951.0       1
-1389.0       1
-1093.0       1
-1166.0       1
-1169.0       1
-966.0        1
-932.0        1
-1528.0       1
-1448.0       1
-1120.0       1
-1087.0       1
-1022.0       1
-1085.0       1
-1403.0       1
-1080.0       1
-1508.0       1
-1284.0       1
-1013.0       1
-1046.0       1
-1097.0       1
-1103.0       1
-1522.0       1
-1313.0       1
-2056.0       1
-1333.0       1
-1337.0       1
-1576.0       1
-1349.0       1
-1372.0       1
-1344.0       1
-1224.0       1
-1162.0       1
-1357.0       1
-1101.0       1
-1363.0       1
-1738.0       1
-2740.0       1
-1076.0       1
-1371.0       1
-1377.0       1
Name: DAYS_CREDIT_sum@['SK_ID_CURR'], Length: 1283, dtype: int64

2018-07-21 15:36:06,538 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: mean
['SK_ID_CURR']
2018-07-21 15:36:06,538 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: mean
['SK_ID_CURR']
2018-07-21 15:36:06,644 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,644 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,728 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,728 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:06,748 logger 29 [INFO]    [make_npy] -90.000000    2539
-12.000000    1416
-11.000000    1390
-24.000000    1361
-16.000000    1345
-23.000000    1341
-20.000000    1340
-13.000000    1340
-17.000000    1336
-21.000000    1322
-10.000000    1314
-15.000000    1302
-27.000000    1298
-25.000000    1292
-18.000000    1292
-8.000000     1287
-14.000000    1279
-26.000000    1278
-9.000000     1275
-28.000000    1275
-19.000000    1262
-6.000000     1261
-22.000000    1254
-31.000000    1241
-34.000000    1220
-35.000000    1213
-32.000000    1210
-39.000000    1209
-29.000000    1205
-30.000000    1186
-37.000000    1186
-7.000000     1185
-36.000000    1170
-33.000000    1166
-38.000000    1139
-41.000000    1132
-5.000000     1094
-40.000000    1091
-4.000000     1071
-44.000000    1061
-46.000000    1047
-45.000000    1026
-43.000000    1022
-42.000000    1019
-3.000000     1010
-47.000000    1000
-48.000000     981
-50.000000     923
-49.000000     902
-52.000000     863
              ...
-46.304348       1
-64.692308       1
-26.058824       1
-49.680000       1
-65.900000       1
-27.062500       1
-69.272727       1
-16.304348       1
-61.076923       1
-30.976190       1
-48.590909       1
-50.814815       1
-8.636364        1
-39.772727       1
-47.133333       1
-14.235294       1
-39.947368       1
-63.727273       1
-34.923077       1
-27.291667       1
-22.760000       1
-41.958333       1
-24.066667       1
-64.100000       1
-60.050000       1
-36.304348       1
-20.363636       1
-56.352941       1
-34.892857       1
-7.357143        1
-35.050000       1
-28.194444       1
-39.052632       1
-37.448276       1
-60.461538       1
-70.300000       1
-8.888889        1
-57.058824       1
-58.692308       1
-47.866667       1
-28.680000       1
-52.294118       1
-27.450000       1
-83.833333       1
-87.200000       1
-50.315789       1
-28.095238       1
-5.937500        1
-27.235294       1
-10.478261       1
Name: DAYS_CREDIT_mean@['SK_ID_CURR'], Length: 6003, dtype: int64
2018-07-21 15:36:06,748 logger 29 [INFO]    [make_npy] -90.000000    2539
-12.000000    1416
-11.000000    1390
-24.000000    1361
-16.000000    1345
-23.000000    1341
-20.000000    1340
-13.000000    1340
-17.000000    1336
-21.000000    1322
-10.000000    1314
-15.000000    1302
-27.000000    1298
-25.000000    1292
-18.000000    1292
-8.000000     1287
-14.000000    1279
-26.000000    1278
-9.000000     1275
-28.000000    1275
-19.000000    1262
-6.000000     1261
-22.000000    1254
-31.000000    1241
-34.000000    1220
-35.000000    1213
-32.000000    1210
-39.000000    1209
-29.000000    1205
-30.000000    1186
-37.000000    1186
-7.000000     1185
-36.000000    1170
-33.000000    1166
-38.000000    1139
-41.000000    1132
-5.000000     1094
-40.000000    1091
-4.000000     1071
-44.000000    1061
-46.000000    1047
-45.000000    1026
-43.000000    1022
-42.000000    1019
-3.000000     1010
-47.000000    1000
-48.000000     981
-50.000000     923
-49.000000     902
-52.000000     863
              ...
-46.304348       1
-64.692308       1
-26.058824       1
-49.680000       1
-65.900000       1
-27.062500       1
-69.272727       1
-16.304348       1
-61.076923       1
-30.976190       1
-48.590909       1
-50.814815       1
-8.636364        1
-39.772727       1
-47.133333       1
-14.235294       1
-39.947368       1
-63.727273       1
-34.923077       1
-27.291667       1
-22.760000       1
-41.958333       1
-24.066667       1
-64.100000       1
-60.050000       1
-36.304348       1
-20.363636       1
-56.352941       1
-34.892857       1
-7.357143        1
-35.050000       1
-28.194444       1
-39.052632       1
-37.448276       1
-60.461538       1
-70.300000       1
-8.888889        1
-57.058824       1
-58.692308       1
-47.866667       1
-28.680000       1
-52.294118       1
-27.450000       1
-83.833333       1
-87.200000       1
-50.315789       1
-28.095238       1
-5.937500        1
-27.235294       1
-10.478261       1
Name: DAYS_CREDIT_mean@['SK_ID_CURR'], Length: 6003, dtype: int64
2018-07-21 15:36:06,804 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: std
['SK_ID_CURR']
2018-07-21 15:36:06,804 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: std
['SK_ID_CURR']
2018-07-21 15:36:06,993 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:06,993 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:07,117 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:07,117 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:07,143 logger 29 [INFO]    [make_npy] 0.000000     3280
0.707107      991
2.121320      895
4.242641      887
1.414214      884
2.828427      841
4.949747      814
6.363961      768
3.535534      742
5.656854      738
7.071068      720
8.485281      718
7.778175      679
9.192388      624
9.899495      595
10.606602     509
11.313708     505
12.020815     483
15.556349     458
13.435029     452
12.727922     448
16.970563     409
14.849242     406
16.263456     401
14.142136     397
17.677670     373
19.091883     366
18.384776     360
19.798990     339
24.041631     288
21.213203     282
21.920310     280
20.506097     277
22.627417     276
24.748737     268
25.455844     257
23.334524     247
26.162951     245
28.991378     234
29.698485     232
26.870058     224
27.577164     211
31.112698     207
28.284271     203
4.041452      187
1.732051      182
32.526912     176
30.405592     176
33.941125     174
34.648232     173
             ...
18.591787       1
36.051352       1
24.800000       1
32.099844       1
28.446343       1
17.610366       1
15.206515       1
16.034685       1
32.635359       1
32.952997       1
23.474809       1
22.342784       1
8.455332        1
24.962639       1
35.058047       1
22.396428       1
27.294361       1
17.097758       1
22.198599       1
25.433693       1
30.591490       1
32.991750       1
36.827785       1
20.638703       1
28.849225       1
20.342103       1
13.317908       1
24.454606       1
25.965192       1
28.029746       1
19.333415       1
27.620480       1
35.919354       1
28.334734       1
16.902557       1
25.990917       1
31.923346       1
9.485892        1
19.586195       1
10.598742       1
17.963952       1
40.835034       1
22.515853       1
22.367068       1
20.493466       1
13.337916       1
26.862303       1
29.982773       1
14.490761       1
10.562738       1
Name: DAYS_CREDIT_std@['SK_ID_CURR'], Length: 54673, dtype: int64
2018-07-21 15:36:07,143 logger 29 [INFO]    [make_npy] 0.000000     3280
0.707107      991
2.121320      895
4.242641      887
1.414214      884
2.828427      841
4.949747      814
6.363961      768
3.535534      742
5.656854      738
7.071068      720
8.485281      718
7.778175      679
9.192388      624
9.899495      595
10.606602     509
11.313708     505
12.020815     483
15.556349     458
13.435029     452
12.727922     448
16.970563     409
14.849242     406
16.263456     401
14.142136     397
17.677670     373
19.091883     366
18.384776     360
19.798990     339
24.041631     288
21.213203     282
21.920310     280
20.506097     277
22.627417     276
24.748737     268
25.455844     257
23.334524     247
26.162951     245
28.991378     234
29.698485     232
26.870058     224
27.577164     211
31.112698     207
28.284271     203
4.041452      187
1.732051      182
32.526912     176
30.405592     176
33.941125     174
34.648232     173
             ...
18.591787       1
36.051352       1
24.800000       1
32.099844       1
28.446343       1
17.610366       1
15.206515       1
16.034685       1
32.635359       1
32.952997       1
23.474809       1
22.342784       1
8.455332        1
24.962639       1
35.058047       1
22.396428       1
27.294361       1
17.097758       1
22.198599       1
25.433693       1
30.591490       1
32.991750       1
36.827785       1
20.638703       1
28.849225       1
20.342103       1
13.317908       1
24.454606       1
25.965192       1
28.029746       1
19.333415       1
27.620480       1
35.919354       1
28.334734       1
16.902557       1
25.990917       1
31.923346       1
9.485892        1
19.586195       1
10.598742       1
17.963952       1
40.835034       1
22.515853       1
22.367068       1
20.493466       1
13.337916       1
26.862303       1
29.982773       1
14.490761       1
10.562738       1
Name: DAYS_CREDIT_std@['SK_ID_CURR'], Length: 54673, dtype: int64

2018-07-21 15:36:07,190 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: max
['SK_ID_CURR']
2018-07-21 15:36:07,190 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: max
['SK_ID_CURR']
2018-07-21 15:36:07,356 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:07,356 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:07,517 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:07,517 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:07,536 logger 29 [INFO]    [make_npy] -3.0     8351
-6.0     8148
-4.0     7971
-5.0     7961
-2.0     7934
-7.0     7418
-1.0     7260
-8.0     6843
-9.0     6254
-10.0    5868
-11.0    5607
-12.0    5138
 0.0     4929
-13.0    4458
-14.0    3998
-15.0    3593
-16.0    3489
-17.0    3219
-18.0    2842
-19.0    2665
-20.0    2593
-21.0    2548
-90.0    2539
-22.0    2296
-23.0    2280
-24.0    2193
-25.0    1985
-26.0    1890
-27.0    1800
-28.0    1661
-29.0    1509
-30.0    1413
-31.0    1409
-32.0    1340
-33.0    1311
-34.0    1295
-37.0    1274
-36.0    1245
-35.0    1208
-38.0    1165
-39.0    1104
-40.0    1017
-41.0    1016
-42.0     909
-44.0     876
-48.0     876
-43.0     867
-47.0     859
-45.0     807
-49.0     789
-46.0     789
-50.0     734
-51.0     695
-52.0     669
-53.0     591
-54.0     576
-55.0     554
-57.0     502
-58.0     499
-56.0     497
-83.0     482
-84.0     476
-59.0     463
-82.0     449
-85.0     447
-81.0     445
-87.0     445
-79.0     444
-60.0     443
-75.0     437
-77.0     433
-74.0     426
-80.0     416
-62.0     416
-76.0     414
-61.0     413
-86.0     411
-88.0     408
-78.0     407
-89.0     380
-63.0     377
-73.0     376
-72.0     347
-64.0     309
-65.0     299
-71.0     276
-69.0     276
-67.0     274
-66.0     266
-68.0     236
-70.0     236
Name: DAYS_CREDIT_max@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:07,536 logger 29 [INFO]    [make_npy] -3.0     8351
-6.0     8148
-4.0     7971
-5.0     7961
-2.0     7934
-7.0     7418
-1.0     7260
-8.0     6843
-9.0     6254
-10.0    5868
-11.0    5607
-12.0    5138
 0.0     4929
-13.0    4458
-14.0    3998
-15.0    3593
-16.0    3489
-17.0    3219
-18.0    2842
-19.0    2665
-20.0    2593
-21.0    2548
-90.0    2539
-22.0    2296
-23.0    2280
-24.0    2193
-25.0    1985
-26.0    1890
-27.0    1800
-28.0    1661
-29.0    1509
-30.0    1413
-31.0    1409
-32.0    1340
-33.0    1311
-34.0    1295
-37.0    1274
-36.0    1245
-35.0    1208
-38.0    1165
-39.0    1104
-40.0    1017
-41.0    1016
-42.0     909
-44.0     876
-48.0     876
-43.0     867
-47.0     859
-45.0     807
-49.0     789
-46.0     789
-50.0     734
-51.0     695
-52.0     669
-53.0     591
-54.0     576
-55.0     554
-57.0     502
-58.0     499
-56.0     497
-83.0     482
-84.0     476
-59.0     463
-82.0     449
-85.0     447
-81.0     445
-87.0     445
-79.0     444
-60.0     443
-75.0     437
-77.0     433
-74.0     426
-80.0     416
-62.0     416
-76.0     414
-61.0     413
-86.0     411
-88.0     408
-78.0     407
-89.0     380
-63.0     377
-73.0     376
-72.0     347
-64.0     309
-65.0     299
-71.0     276
-69.0     276
-67.0     274
-66.0     266
-68.0     236
-70.0     236
Name: DAYS_CREDIT_max@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:07,554 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: min
['SK_ID_CURR']
2018-07-21 15:36:07,554 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT
method: min
['SK_ID_CURR']
2018-07-21 15:36:07,694 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:07,694 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:07,776 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:07,776 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:07,803 logger 29 [INFO]    [make_npy] -90.0    25670
-88.0     3055
-89.0     3030
-87.0     2985
-85.0     2850
-86.0     2756
-84.0     2732
-83.0     2647
-82.0     2500
-81.0     2357
-80.0     2148
-48.0     1998
-79.0     1977
-38.0     1942
-50.0     1927
-49.0     1907
-39.0     1886
-78.0     1884
-40.0     1870
-51.0     1853
-52.0     1849
-77.0     1840
-41.0     1833
-37.0     1832
-47.0     1828
-46.0     1818
-42.0     1815
-45.0     1806
-36.0     1797
-53.0     1786
-35.0     1770
-44.0     1763
-76.0     1760
-26.0     1754
-54.0     1753
-34.0     1752
-24.0     1750
-56.0     1726
-25.0     1713
-43.0     1706
-28.0     1694
-33.0     1694
-55.0     1693
-23.0     1689
-75.0     1675
-22.0     1669
-27.0     1667
-57.0     1667
-32.0     1657
-21.0     1639
-29.0     1638
-20.0     1623
-30.0     1623
-58.0     1622
-31.0     1568
-60.0     1543
-12.0     1541
-17.0     1537
-74.0     1537
-16.0     1526
-13.0     1518
-73.0     1504
-18.0     1499
-59.0     1498
-62.0     1476
-11.0     1463
-61.0     1460
-19.0     1453
-15.0     1440
-14.0     1434
-63.0     1381
-10.0     1338
-72.0     1323
-9.0      1296
-8.0      1296
-6.0      1233
-7.0      1224
-64.0     1211
-65.0     1210
-66.0     1143
-5.0      1134
-71.0     1133
-67.0     1132
-69.0     1079
-4.0      1077
-68.0      986
-3.0       979
-70.0      969
-2.0       865
-1.0       737
 0.0       435
Name: DAYS_CREDIT_min@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:07,803 logger 29 [INFO]    [make_npy] -90.0    25670
-88.0     3055
-89.0     3030
-87.0     2985
-85.0     2850
-86.0     2756
-84.0     2732
-83.0     2647
-82.0     2500
-81.0     2357
-80.0     2148
-48.0     1998
-79.0     1977
-38.0     1942
-50.0     1927
-49.0     1907
-39.0     1886
-78.0     1884
-40.0     1870
-51.0     1853
-52.0     1849
-77.0     1840
-41.0     1833
-37.0     1832
-47.0     1828
-46.0     1818
-42.0     1815
-45.0     1806
-36.0     1797
-53.0     1786
-35.0     1770
-44.0     1763
-76.0     1760
-26.0     1754
-54.0     1753
-34.0     1752
-24.0     1750
-56.0     1726
-25.0     1713
-43.0     1706
-28.0     1694
-33.0     1694
-55.0     1693
-23.0     1689
-75.0     1675
-22.0     1669
-27.0     1667
-57.0     1667
-32.0     1657
-21.0     1639
-29.0     1638
-20.0     1623
-30.0     1623
-58.0     1622
-31.0     1568
-60.0     1543
-12.0     1541
-17.0     1537
-74.0     1537
-16.0     1526
-13.0     1518
-73.0     1504
-18.0     1499
-59.0     1498
-62.0     1476
-11.0     1463
-61.0     1460
-19.0     1453
-15.0     1440
-14.0     1434
-63.0     1381
-10.0     1338
-72.0     1323
-9.0      1296
-8.0      1296
-6.0      1233
-7.0      1224
-64.0     1211
-65.0     1210
-66.0     1143
-5.0      1134
-71.0     1133
-67.0     1132
-69.0     1079
-4.0      1077
-68.0      986
-3.0       979
-70.0      969
-2.0       865
-1.0       737
 0.0       435
Name: DAYS_CREDIT_min@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:07,853 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: sum
['SK_ID_CURR']
2018-07-21 15:36:07,853 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: sum
['SK_ID_CURR']
2018-07-21 15:36:07,978 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:07,978 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:08,082 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:08,082 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:08,109 logger 29 [INFO]    [make_npy]  0.0       4447
-80.0      2115
-1.0       1210
-2.0       1195
-3.0       1144
-4.0       1144
-12.0      1129
-5.0       1126
-7.0       1121
-30.0      1106
-10.0      1103
-9.0       1099
-32.0      1095
-8.0       1093
-18.0      1072
-15.0      1070
-11.0      1065
-6.0       1061
-17.0      1060
-33.0      1048
-31.0      1047
-14.0      1037
-16.0      1033
-19.0      1023
-20.0      1020
-13.0      1019
-21.0      1012
-24.0      1006
-22.0      1005
-25.0      1001
-26.0       996
-34.0       988
-23.0       953
 110.0      951
-27.0       949
-29.0       948
-36.0       942
-28.0       932
-39.0       923
-38.0       910
-37.0       905
 5.0        901
-40.0       896
 7.0        894
-35.0       882
 2.0        881
 3.0        880
 4.0        866
 1.0        865
-42.0       857
           ...
-845.0        1
-780.0        1
-862.0        1
-849.0        1
-1137.0       1
-855.0        1
 248.0        1
-1135.0       1
-861.0        1
-837.0        1
-894.0        1
-838.0        1
-914.0        1
-863.0        1
-782.0        1
-865.0        1
 307.0        1
-1000.0       1
-832.0        1
-883.0        1
 368.0        1
 306.0        1
-835.0        1
-779.0        1
 311.0        1
 312.0        1
-781.0        1
-1070.0       1
-1030.0       1
-830.0        1
-795.0        1
 399.0        1
-712.0        1
 353.0        1
-809.0        1
-1552.0       1
-882.0        1
 377.0        1
-817.0        1
-826.0        1
 388.0        1
 276.0        1
-770.0        1
 336.0        1
-819.0        1
 328.0        1
-718.0        1
 417.0        1
-831.0        1
-751.0        1
Name: DAYS_ENDDATE_sum@['SK_ID_CURR'], Length: 1245, dtype: int64

2018-07-21 15:36:08,109 logger 29 [INFO]    [make_npy]  0.0       4447
-80.0      2115
-1.0       1210
-2.0       1195
-3.0       1144
-4.0       1144
-12.0      1129
-5.0       1126
-7.0       1121
-30.0      1106
-10.0      1103
-9.0       1099
-32.0      1095
-8.0       1093
-18.0      1072
-15.0      1070
-11.0      1065
-6.0       1061
-17.0      1060
-33.0      1048
-31.0      1047
-14.0      1037
-16.0      1033
-19.0      1023
-20.0      1020
-13.0      1019
-21.0      1012
-24.0      1006
-22.0      1005
-25.0      1001
-26.0       996
-34.0       988
-23.0       953
 110.0      951
-27.0       949
-29.0       948
-36.0       942
-28.0       932
-39.0       923
-38.0       910
-37.0       905
 5.0        901
-40.0       896
 7.0        894
-35.0       882
 2.0        881
 3.0        880
 4.0        866
 1.0        865
-42.0       857
           ...
-845.0        1
-780.0        1
-862.0        1
-849.0        1
-1137.0       1
-855.0        1
 248.0        1
-1135.0       1
-861.0        1
-837.0        1
-894.0        1
-838.0        1
-914.0        1
-863.0        1
-782.0        1
-865.0        1
 307.0        1
-1000.0       1
-832.0        1
-883.0        1
 368.0        1
 306.0        1
-835.0        1
-779.0        1
 311.0        1
 312.0        1
-781.0        1
-1070.0       1
-1030.0       1
-830.0        1
-795.0        1
 399.0        1
-712.0        1
 353.0        1
-809.0        1
-1552.0       1
-882.0        1
 377.0        1
-817.0        1
-826.0        1
 388.0        1
 276.0        1
-770.0        1
 336.0        1
-819.0        1
 328.0        1
-718.0        1
 417.0        1
-831.0        1
-751.0        1
Name: DAYS_ENDDATE_sum@['SK_ID_CURR'], Length: 1245, dtype: int64
2018-07-21 15:36:08,166 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: mean
['SK_ID_CURR']
2018-07-21 15:36:08,166 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: mean
['SK_ID_CURR']
2018-07-21 15:36:08,319 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:08,319 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:08,491 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:08,491 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:08,515 logger 29 [INFO]    [make_npy] -80.000000     1800
 0.000000      1680
-2.000000      1206
-1.000000      1188
-4.000000      1186
-3.000000      1176
-6.000000      1158
-11.000000     1157
-9.000000      1152
-7.000000      1152
-5.000000      1136
-12.000000     1135
-8.000000      1134
-14.000000     1120
-13.000000     1095
-17.000000     1089
-10.000000     1080
-18.000000     1071
-15.000000     1067
-16.000000     1066
-30.000000     1022
-22.000000      999
-19.000000      993
-20.000000      989
-21.000000      972
-24.000000      965
-25.000000      960
-31.000000      955
-23.000000      951
-32.000000      925
-26.000000      891
 110.000000     891
-27.000000      885
 3.000000       877
-28.000000      865
 2.000000       861
-33.000000      860
-29.000000      857
 4.000000       828
-34.000000      816
 1.000000       806
 5.000000       802
 7.000000       793
 6.000000       792
-36.000000      770
-35.000000      748
 8.000000       721
 9.000000       709
-37.000000      691
-40.000000      686
               ...
-15.882353        1
-74.920000        1
 103.000000       1
-20.640000        1
-6.470588         1
 6.909091         1
-26.941176        1
-12.466667        1
-28.450000        1
-35.352941        1
-7.259259         1
-1.307692         1
-31.214286        1
 2.727273         1
-31.133333        1
-37.277778        1
-38.952381        1
-38.076923        1
-22.424242        1
-11.210526        1
-65.600000        1
-16.578947        1
-9.769231         1
 14.416667        1
-61.875000        1
-15.684211        1
 14.777778        1
-4.312500         1
-49.111111        1
-28.208333        1
-16.692308        1
 56.333333        1
-1.473684         1
-20.114286        1
-13.705882        1
-11.950000        1
-6.062500         1
-39.812500        1
-31.826087        1
-2.758621         1
-4.578947         1
 0.642857         1
-17.772727        1
-46.454545        1
 10.444444        1
-12.240000        1
-56.461538        1
 50.625000        1
-29.216216        1
 13.818182        1
Name: DAYS_ENDDATE_mean@['SK_ID_CURR'], Length: 6896, dtype: int64
2018-07-21 15:36:08,515 logger 29 [INFO]    [make_npy] -80.000000     1800
 0.000000      1680
-2.000000      1206
-1.000000      1188
-4.000000      1186
-3.000000      1176
-6.000000      1158
-11.000000     1157
-9.000000      1152
-7.000000      1152
-5.000000      1136
-12.000000     1135
-8.000000      1134
-14.000000     1120
-13.000000     1095
-17.000000     1089
-10.000000     1080
-18.000000     1071
-15.000000     1067
-16.000000     1066
-30.000000     1022
-22.000000      999
-19.000000      993
-20.000000      989
-21.000000      972
-24.000000      965
-25.000000      960
-31.000000      955
-23.000000      951
-32.000000      925
-26.000000      891
 110.000000     891
-27.000000      885
 3.000000       877
-28.000000      865
 2.000000       861
-33.000000      860
-29.000000      857
 4.000000       828
-34.000000      816
 1.000000       806
 5.000000       802
 7.000000       793
 6.000000       792
-36.000000      770
-35.000000      748
 8.000000       721
 9.000000       709
-37.000000      691
-40.000000      686
               ...
-15.882353        1
-74.920000        1
 103.000000       1
-20.640000        1
-6.470588         1
 6.909091         1
-26.941176        1
-12.466667        1
-28.450000        1
-35.352941        1
-7.259259         1
-1.307692         1
-31.214286        1
 2.727273         1
-31.133333        1
-37.277778        1
-38.952381        1
-38.076923        1
-22.424242        1
-11.210526        1
-65.600000        1
-16.578947        1
-9.769231         1
 14.416667        1
-61.875000        1
-15.684211        1
 14.777778        1
-4.312500         1
-49.111111        1
-28.208333        1
-16.692308        1
 56.333333        1
-1.473684         1
-20.114286        1
-13.705882        1
-11.950000        1
-6.062500         1
-39.812500        1
-31.826087        1
-2.758621         1
-4.578947         1
 0.642857         1
-17.772727        1
-46.454545        1
 10.444444        1
-12.240000        1
-56.461538        1
 50.625000        1
-29.216216        1
 13.818182        1
Name: DAYS_ENDDATE_mean@['SK_ID_CURR'], Length: 6896, dtype: int64
2018-07-21 15:36:08,565 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: std
['SK_ID_CURR']
2018-07-21 15:36:08,565 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: std
['SK_ID_CURR']
2018-07-21 15:36:08,695 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:08,695 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:08,779 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:08,779 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:08,811 logger 29 [INFO]    [make_npy] 0.000000     1572
0.707107      921
7.778175      583
1.414214      554
8.485281      552
4.242641      535
7.071068      518
3.535534      507
2.828427      499
9.192388      497
9.899495      491
5.656854      491
16.263456     491
12.020815     490
2.121320      487
6.363961      484
4.949747      478
12.727922     461
11.313708     453
10.606602     451
13.435029     439
16.970563     436
14.849242     433
17.677670     431
42.426407     425
15.556349     419
25.455844     414
14.142136     410
24.748737     390
20.506097     366
18.384776     366
21.213203     365
24.041631     360
19.091883     358
21.920310     349
19.798990     347
23.334524     318
22.627417     313
28.284271     294
26.162951     293
26.870058     273
27.577164     273
41.719300     268
33.941125     262
28.991378     257
30.405592     251
32.526912     245
33.234019     239
31.112698     235
31.819805     233
             ...
32.881099       1
24.927227       1
29.045283       1
36.280055       1
22.675243       1
87.643216       1
24.673422       1
59.122150       1
24.512388       1
11.219031       1
34.092032       1
42.254332       1
12.047525       1
34.894126       1
39.981246       1
34.597206       1
41.592067       1
35.991986       1
62.067168       1
41.785963       1
35.650152       1
49.439718       1
30.216761       1
39.431087       1
49.975827       1
20.422210       1
41.555471       1
38.750115       1
25.811819       1
45.144817       1
31.120733       1
12.339638       1
29.619151       1
66.333438       1
22.070908       1
26.888327       1
45.872650       1
28.668881       1
37.927929       1
25.998626       1
64.705487       1
50.403904       1
25.833164       1
37.792856       1
34.630017       1
35.153430       1
22.060660       1
27.077563       1
50.289874       1
47.310323       1
Name: DAYS_ENDDATE_std@['SK_ID_CURR'], Length: 61626, dtype: int64

2018-07-21 15:36:08,811 logger 29 [INFO]    [make_npy] 0.000000     1572
0.707107      921
7.778175      583
1.414214      554
8.485281      552
4.242641      535
7.071068      518
3.535534      507
2.828427      499
9.192388      497
9.899495      491
5.656854      491
16.263456     491
12.020815     490
2.121320      487
6.363961      484
4.949747      478
12.727922     461
11.313708     453
10.606602     451
13.435029     439
16.970563     436
14.849242     433
17.677670     431
42.426407     425
15.556349     419
25.455844     414
14.142136     410
24.748737     390
20.506097     366
18.384776     366
21.213203     365
24.041631     360
19.091883     358
21.920310     349
19.798990     347
23.334524     318
22.627417     313
28.284271     294
26.162951     293
26.870058     273
27.577164     273
41.719300     268
33.941125     262
28.991378     257
30.405592     251
32.526912     245
33.234019     239
31.112698     235
31.819805     233
             ...
32.881099       1
24.927227       1
29.045283       1
36.280055       1
22.675243       1
87.643216       1
24.673422       1
59.122150       1
24.512388       1
11.219031       1
34.092032       1
42.254332       1
12.047525       1
34.894126       1
39.981246       1
34.597206       1
41.592067       1
35.991986       1
62.067168       1
41.785963       1
35.650152       1
49.439718       1
30.216761       1
39.431087       1
49.975827       1
20.422210       1
41.555471       1
38.750115       1
25.811819       1
45.144817       1
31.120733       1
12.339638       1
29.619151       1
66.333438       1
22.070908       1
26.888327       1
45.872650       1
28.668881       1
37.927929       1
25.998626       1
64.705487       1
50.403904       1
25.833164       1
37.792856       1
34.630017       1
35.153430       1
22.060660       1
27.077563       1
50.289874       1
47.310323       1
Name: DAYS_ENDDATE_std@['SK_ID_CURR'], Length: 61626, dtype: int64
2018-07-21 15:36:08,858 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: max
['SK_ID_CURR']
2018-07-21 15:36:08,858 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: max
['SK_ID_CURR']
2018-07-21 15:36:09,001 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,001 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,102 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,102 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,119 logger 29 [INFO]    [make_npy]  110.0    10872
 0.0       4241
-1.0       2395
 34.0      2335
-2.0       2253
 35.0      2202
 33.0      2138
 32.0      2028
 31.0      2021
-3.0       2005
 30.0      1999
 29.0      1985
-4.0       1982
 54.0      1910
-5.0       1865
 28.0      1851
 5.0       1826
 53.0      1820
 27.0      1812
 9.0       1806
-80.0      1805
 3.0       1804
 4.0       1785
 23.0      1783
 8.0       1738
-6.0       1731
 7.0       1727
 26.0      1724
 52.0      1716
 6.0       1700
 25.0      1690
 22.0      1656
 51.0      1649
 10.0      1643
 21.0      1643
 20.0      1642
 50.0      1639
 2.0       1632
 11.0      1624
 55.0      1616
-7.0       1609
-8.0       1602
 49.0      1586
 24.0      1584
 19.0      1579
 48.0      1564
-10.0      1556
-9.0       1547
-11.0      1512
 18.0      1494
          ...
 72.0        82
 109.0       82
 75.0        81
 73.0        80
 68.0        79
 80.0        76
 108.0       76
 106.0       75
 67.0        75
 105.0       73
 100.0       72
 104.0       70
 102.0       68
 101.0       67
 82.0        65
 66.0        65
 97.0        64
 63.0        62
 61.0        61
 95.0        57
 94.0        56
 103.0       56
 83.0        53
 98.0        53
 84.0        52
 62.0        52
 96.0        50
 64.0        50
 65.0        50
 89.0        49
 99.0        48
 92.0        44
 93.0        44
 91.0        43
 85.0        43
 86.0        42
 90.0        38
 87.0        37
 88.0        33
-83.0        10
-84.0         8
-85.0         7
-81.0         6
-82.0         6
-86.0         4
-90.0         4
-87.0         3
-89.0         2
-88.0         2
-93.0         1
Name: DAYS_ENDDATE_max@['SK_ID_CURR'], Length: 202, dtype: int64
2018-07-21 15:36:09,119 logger 29 [INFO]    [make_npy]  110.0    10872
 0.0       4241
-1.0       2395
 34.0      2335
-2.0       2253
 35.0      2202
 33.0      2138
 32.0      2028
 31.0      2021
-3.0       2005
 30.0      1999
 29.0      1985
-4.0       1982
 54.0      1910
-5.0       1865
 28.0      1851
 5.0       1826
 53.0      1820
 27.0      1812
 9.0       1806
-80.0      1805
 3.0       1804
 4.0       1785
 23.0      1783
 8.0       1738
-6.0       1731
 7.0       1727
 26.0      1724
 52.0      1716
 6.0       1700
 25.0      1690
 22.0      1656
 51.0      1649
 10.0      1643
 21.0      1643
 20.0      1642
 50.0      1639
 2.0       1632
 11.0      1624
 55.0      1616
-7.0       1609
-8.0       1602
 49.0      1586
 24.0      1584
 19.0      1579
 48.0      1564
-10.0      1556
-9.0       1547
-11.0      1512
 18.0      1494
          ...
 72.0        82
 109.0       82
 75.0        81
 73.0        80
 68.0        79
 80.0        76
 108.0       76
 106.0       75
 67.0        75
 105.0       73
 100.0       72
 104.0       70
 102.0       68
 101.0       67
 82.0        65
 66.0        65
 97.0        64
 63.0        62
 61.0        61
 95.0        57
 94.0        56
 103.0       56
 83.0        53
 98.0        53
 84.0        52
 62.0        52
 96.0        50
 64.0        50
 65.0        50
 89.0        49
 99.0        48
 92.0        44
 93.0        44
 91.0        43
 85.0        43
 86.0        42
 90.0        38
 87.0        37
 88.0        33
-83.0        10
-84.0         8
-85.0         7
-81.0         6
-82.0         6
-86.0         4
-90.0         4
-87.0         3
-89.0         2
-88.0         2
-93.0         1
Name: DAYS_ENDDATE_max@['SK_ID_CURR'], Length: 202, dtype: int64
2018-07-21 15:36:09,167 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: min
['SK_ID_CURR']
2018-07-21 15:36:09,167 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE
method: min
['SK_ID_CURR']
2018-07-21 15:36:09,283 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,283 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,401 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,401 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,414 logger 29 [INFO]    [make_npy] -80.0     19202
-77.0      2300
-33.0      2238
-78.0      2222
-30.0      2155
-76.0      2150
-31.0      2140
-79.0      2127
-34.0      2108
-32.0      2097
 0.0       2086
-75.0      2058
-38.0      2036
-36.0      2024
-40.0      2001
-39.0      1926
-35.0      1918
-73.0      1900
-37.0      1877
-74.0      1840
-25.0      1814
-71.0      1800
-70.0      1782
-72.0      1762
-26.0      1758
-29.0      1753
-28.0      1736
-42.0      1723
-23.0      1722
-41.0      1709
-21.0      1698
-24.0      1697
-22.0      1697
-27.0      1686
-18.0      1685
-17.0      1683
-14.0      1666
-20.0      1654
-16.0      1651
-15.0      1643
-44.0      1627
-19.0      1608
-45.0      1606
-48.0      1599
-12.0      1595
-46.0      1594
-11.0      1590
-10.0      1583
-43.0      1576
-49.0      1574
          ...
 70.0        10
 74.0         9
 75.0         9
-91.0         8
 98.0         8
 95.0         8
 67.0         8
 105.0        8
 104.0        8
 69.0         8
 82.0         8
 72.0         7
 91.0         7
 71.0         7
 86.0         7
 92.0         7
 108.0        6
 64.0         6
 109.0        6
 81.0         6
 77.0         6
 100.0        6
 107.0        6
 80.0         5
 87.0         5
 73.0         5
 68.0         5
 83.0         5
-100.0        5
 62.0         5
 101.0        4
 94.0         4
 99.0         4
-93.0         4
 96.0         4
 85.0         4
 89.0         3
 78.0         3
 102.0        3
 65.0         3
 90.0         3
 97.0         3
 61.0         3
 103.0        2
 93.0         2
 88.0         2
 106.0        1
 84.0         1
-94.0         1
 63.0         1
Name: DAYS_ENDDATE_min@['SK_ID_CURR'], Length: 206, dtype: int64

2018-07-21 15:36:09,414 logger 29 [INFO]    [make_npy] -80.0     19202
-77.0      2300
-33.0      2238
-78.0      2222
-30.0      2155
-76.0      2150
-31.0      2140
-79.0      2127
-34.0      2108
-32.0      2097
 0.0       2086
-75.0      2058
-38.0      2036
-36.0      2024
-40.0      2001
-39.0      1926
-35.0      1918
-73.0      1900
-37.0      1877
-74.0      1840
-25.0      1814
-71.0      1800
-70.0      1782
-72.0      1762
-26.0      1758
-29.0      1753
-28.0      1736
-42.0      1723
-23.0      1722
-41.0      1709
-21.0      1698
-24.0      1697
-22.0      1697
-27.0      1686
-18.0      1685
-17.0      1683
-14.0      1666
-20.0      1654
-16.0      1651
-15.0      1643
-44.0      1627
-19.0      1608
-45.0      1606
-48.0      1599
-12.0      1595
-46.0      1594
-11.0      1590
-10.0      1583
-43.0      1576
-49.0      1574
          ...
 70.0        10
 74.0         9
 75.0         9
-91.0         8
 98.0         8
 95.0         8
 67.0         8
 105.0        8
 104.0        8
 69.0         8
 82.0         8
 72.0         7
 91.0         7
 71.0         7
 86.0         7
 92.0         7
 108.0        6
 64.0         6
 109.0        6
 81.0         6
 77.0         6
 100.0        6
 107.0        6
 80.0         5
 87.0         5
 73.0         5
 68.0         5
 83.0         5
-100.0        5
 62.0         5
 101.0        4
 94.0         4
 99.0         4
-93.0         4
 96.0         4
 85.0         4
 89.0         3
 78.0         3
 102.0        3
 65.0         3
 90.0         3
 97.0         3
 61.0         3
 103.0        2
 93.0         2
 88.0         2
 106.0        1
 84.0         1
-94.0         1
 63.0         1
Name: DAYS_ENDDATE_min@['SK_ID_CURR'], Length: 206, dtype: int64
2018-07-21 15:36:09,446 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: sum
['SK_ID_CURR']
2018-07-21 15:36:09,446 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: sum
['SK_ID_CURR']
2018-07-21 15:36:09,557 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,557 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,640 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,640 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,653 logger 29 [INFO]    [make_npy]  0.0       27381
-80.0       3065
-30.0       1309
-14.0       1304
-17.0       1272
-12.0       1257
-18.0       1256
-10.0       1255
-9.0        1250
-7.0        1248
-16.0       1242
-31.0       1238
-15.0       1238
-4.0        1236
-8.0        1232
-13.0       1228
-5.0        1227
-11.0       1226
-32.0       1213
-2.0        1208
-6.0        1201
-34.0       1189
-25.0       1186
-20.0       1169
-22.0       1166
-33.0       1165
-23.0       1162
-3.0        1154
-1.0        1150
-21.0       1140
-24.0       1138
-36.0       1136
-19.0       1133
-28.0       1115
-26.0       1105
-40.0       1100
-29.0       1094
-27.0       1092
-38.0       1065
-35.0       1063
-37.0       1048
-39.0       1029
-42.0        967
-41.0        952
-44.0        915
-46.0        910
-77.0        904
-45.0        895
-48.0        889
-49.0        884
           ...
-1001.0        1
-1926.0        1
-942.0         1
-980.0         1
-963.0         1
-1140.0        1
-1064.0        1
-791.0         1
-880.0         1
-802.0         1
-1146.0        1
-1052.0        1
-827.0         1
-823.0         1
-760.0         1
-780.0         1
-1695.0        1
-784.0         1
-857.0         1
-866.0         1
-859.0         1
-860.0         1
-1149.0        1
-810.0         1
-894.0         1
-1099.0        1
-840.0         1
-952.0         1
-872.0         1
-723.0         1
-772.0         1
-1333.0        1
-731.0         1
-914.0         1
-1301.0        1
-1276.0        1
-829.0         1
-1060.0        1
-831.0         1
-864.0         1
-806.0         1
-768.0         1
-862.0         1
-1139.0        1
-833.0         1
-1135.0        1
-716.0         1
-738.0         1
-989.0         1
-1306.0        1
Name: DAYS_ENDDATE_FACT_sum@['SK_ID_CURR'], Length: 932, dtype: int64
2018-07-21 15:36:09,653 logger 29 [INFO]    [make_npy]  0.0       27381
-80.0       3065
-30.0       1309
-14.0       1304
-17.0       1272
-12.0       1257
-18.0       1256
-10.0       1255
-9.0        1250
-7.0        1248
-16.0       1242
-31.0       1238
-15.0       1238
-4.0        1236
-8.0        1232
-13.0       1228
-5.0        1227
-11.0       1226
-32.0       1213
-2.0        1208
-6.0        1201
-34.0       1189
-25.0       1186
-20.0       1169
-22.0       1166
-33.0       1165
-23.0       1162
-3.0        1154
-1.0        1150
-21.0       1140
-24.0       1138
-36.0       1136
-19.0       1133
-28.0       1115
-26.0       1105
-40.0       1100
-29.0       1094
-27.0       1092
-38.0       1065
-35.0       1063
-37.0       1048
-39.0       1029
-42.0        967
-41.0        952
-44.0        915
-46.0        910
-77.0        904
-45.0        895
-48.0        889
-49.0        884
           ...
-1001.0        1
-1926.0        1
-942.0         1
-980.0         1
-963.0         1
-1140.0        1
-1064.0        1
-791.0         1
-880.0         1
-802.0         1
-1146.0        1
-1052.0        1
-827.0         1
-823.0         1
-760.0         1
-780.0         1
-1695.0        1
-784.0         1
-857.0         1
-866.0         1
-859.0         1
-860.0         1
-1149.0        1
-810.0         1
-894.0         1
-1099.0        1
-840.0         1
-952.0         1
-872.0         1
-723.0         1
-772.0         1
-1333.0        1
-731.0         1
-914.0         1
-1301.0        1
-1276.0        1
-829.0         1
-1060.0        1
-831.0         1
-864.0         1
-806.0         1
-768.0         1
-862.0         1
-1139.0        1
-833.0         1
-1135.0        1
-716.0         1
-738.0         1
-989.0         1
-1306.0        1
Name: DAYS_ENDDATE_FACT_sum@['SK_ID_CURR'], Length: 932, dtype: int64
2018-07-21 15:36:09,707 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: mean
['SK_ID_CURR']
2018-07-21 15:36:09,707 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: mean
['SK_ID_CURR']
2018-07-21 15:36:09,819 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,819 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:09,938 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,938 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:09,953 logger 29 [INFO]    [make_npy] -80.000000    2766
-31.000000    1561
-17.000000    1560
-30.000000    1555
-14.000000    1540
-18.000000    1534
-16.000000    1512
-15.000000    1510
-22.000000    1504
-13.000000    1504
-12.000000    1504
-10.000000    1494
-21.000000    1488
-20.000000    1471
-11.000000    1468
-9.000000     1463
-32.000000    1455
-23.000000    1443
-25.000000    1440
-33.000000    1433
-7.000000     1429
-19.000000    1427
-26.000000    1427
-24.000000    1415
-29.000000    1410
-27.000000    1409
-8.000000     1400
-28.000000    1369
-6.000000     1361
-34.000000    1345
-5.000000     1338
-4.000000     1328
-36.000000    1276
-2.000000     1265
-3.000000     1243
-35.000000    1219
-38.000000    1214
-37.000000    1201
-40.000000    1191
-1.000000     1191
-39.000000    1187
-41.000000    1053
-42.000000    1035
-45.000000     937
 0.000000      920
-43.000000     906
-44.000000     884
-46.000000     881
-47.000000     770
-49.000000     739
              ...
-15.444444       1
-66.142857       1
-14.846154       1
-46.538462       1
-3.111111        1
-39.933333       1
-34.588235       1
-4.222222        1
-66.857143       1
-25.782609       1
-47.235294       1
-28.642857       1
-18.526316       1
-28.615385       1
-1.071429        1
-33.133333       1
-20.409091       1
-12.720000       1
-11.923077       1
-22.545455       1
-23.642857       1
-38.055556       1
-35.916667       1
-45.466667       1
-50.071429       1
-64.857143       1
-56.583333       1
-15.928571       1
-39.066667       1
-19.608696       1
-47.357143       1
-59.545455       1
-63.714286       1
-31.266667       1
-18.545455       1
-37.083333       1
-61.153846       1
-27.227273       1
-20.454545       1
-21.321429       1
-27.954545       1
-53.055556       1
-31.045455       1
-39.187500       1
-30.312500       1
-30.304348       1
-58.923077       1
-17.545455       1
-62.900000       1
-44.687500       1
Name: DAYS_ENDDATE_FACT_mean@['SK_ID_CURR'], Length: 3765, dtype: int64

2018-07-21 15:36:09,953 logger 29 [INFO]    [make_npy] -80.000000    2766
-31.000000    1561
-17.000000    1560
-30.000000    1555
-14.000000    1540
-18.000000    1534
-16.000000    1512
-15.000000    1510
-22.000000    1504
-13.000000    1504
-12.000000    1504
-10.000000    1494
-21.000000    1488
-20.000000    1471
-11.000000    1468
-9.000000     1463
-32.000000    1455
-23.000000    1443
-25.000000    1440
-33.000000    1433
-7.000000     1429
-19.000000    1427
-26.000000    1427
-24.000000    1415
-29.000000    1410
-27.000000    1409
-8.000000     1400
-28.000000    1369
-6.000000     1361
-34.000000    1345
-5.000000     1338
-4.000000     1328
-36.000000    1276
-2.000000     1265
-3.000000     1243
-35.000000    1219
-38.000000    1214
-37.000000    1201
-40.000000    1191
-1.000000     1191
-39.000000    1187
-41.000000    1053
-42.000000    1035
-45.000000     937
 0.000000      920
-43.000000     906
-44.000000     884
-46.000000     881
-47.000000     770
-49.000000     739
              ...
-15.444444       1
-66.142857       1
-14.846154       1
-46.538462       1
-3.111111        1
-39.933333       1
-34.588235       1
-4.222222        1
-66.857143       1
-25.782609       1
-47.235294       1
-28.642857       1
-18.526316       1
-28.615385       1
-1.071429        1
-33.133333       1
-20.409091       1
-12.720000       1
-11.923077       1
-22.545455       1
-23.642857       1
-38.055556       1
-35.916667       1
-45.466667       1
-50.071429       1
-64.857143       1
-56.583333       1
-15.928571       1
-39.066667       1
-19.608696       1
-47.357143       1
-59.545455       1
-63.714286       1
-31.266667       1
-18.545455       1
-37.083333       1
-61.153846       1
-27.227273       1
-20.454545       1
-21.321429       1
-27.954545       1
-53.055556       1
-31.045455       1
-39.187500       1
-30.312500       1
-30.304348       1
-58.923077       1
-17.545455       1
-62.900000       1
-44.687500       1
Name: DAYS_ENDDATE_FACT_mean@['SK_ID_CURR'], Length: 3765, dtype: int64
2018-07-21 15:36:10,000 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: std
['SK_ID_CURR']
2018-07-21 15:36:10,000 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: std
['SK_ID_CURR']
2018-07-21 15:36:10,121 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:10,121 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:10,205 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:10,205 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:10,220 logger 29 [INFO]    [make_npy] 0.000000     2343
0.707107     1644
1.414214      975
4.242641      841
2.828427      826
2.121320      825
5.656854      817
3.535534      816
8.485281      813
6.363961      808
7.778175      792
4.949747      768
7.071068      761
9.192388      737
9.899495      698
12.727922     633
11.313708     626
10.606602     596
12.020815     583
13.435029     536
14.142136     531
15.556349     503
16.970563     492
14.849242     486
16.263456     446
17.677670     425
18.384776     391
19.091883     385
20.506097     375
19.798990     366
21.920310     354
21.213203     332
24.041631     321
25.455844     308
24.748737     301
23.334524     298
22.627417     298
26.162951     270
26.870058     250
27.577164     245
28.284271     241
28.991378     237
31.112698     216
33.234019     209
32.526912     208
33.941125     205
30.405592     203
29.698485     189
35.355339     164
31.819805     162
             ...
23.446102       1
25.930677       1
24.702227       1
34.767596       1
17.739685       1
31.316130       1
23.698503       1
18.713483       1
5.550633        1
19.677398       1
20.718780       1
27.823851       1
24.663063       1
18.616220       1
17.995580       1
23.625551       1
15.086418       1
26.757843       1
29.538111       1
13.002564       1
24.038857       1
34.230052       1
19.246057       1
32.201967       1
10.578351       1
22.976178       1
28.488929       1
27.827306       1
30.358964       1
10.385888       1
24.316661       1
14.861787       1
20.355180       1
11.636611       1
11.582006       1
11.916375       1
29.010534       1
24.032716       1
25.786301       1
30.568132       1
30.081707       1
24.835650       1
13.217413       1
33.946036       1
19.453714       1
17.794790       1
8.805899        1
27.543684       1
18.169310       1
28.220560       1
Name: DAYS_ENDDATE_FACT_std@['SK_ID_CURR'], Length: 31575, dtype: int64
2018-07-21 15:36:10,220 logger 29 [INFO]    [make_npy] 0.000000     2343
0.707107     1644
1.414214      975
4.242641      841
2.828427      826
2.121320      825
5.656854      817
3.535534      816
8.485281      813
6.363961      808
7.778175      792
4.949747      768
7.071068      761
9.192388      737
9.899495      698
12.727922     633
11.313708     626
10.606602     596
12.020815     583
13.435029     536
14.142136     531
15.556349     503
16.970563     492
14.849242     486
16.263456     446
17.677670     425
18.384776     391
19.091883     385
20.506097     375
19.798990     366
21.920310     354
21.213203     332
24.041631     321
25.455844     308
24.748737     301
23.334524     298
22.627417     298
26.162951     270
26.870058     250
27.577164     245
28.284271     241
28.991378     237
31.112698     216
33.234019     209
32.526912     208
33.941125     205
30.405592     203
29.698485     189
35.355339     164
31.819805     162
             ...
23.446102       1
25.930677       1
24.702227       1
34.767596       1
17.739685       1
31.316130       1
23.698503       1
18.713483       1
5.550633        1
19.677398       1
20.718780       1
27.823851       1
24.663063       1
18.616220       1
17.995580       1
23.625551       1
15.086418       1
26.757843       1
29.538111       1
13.002564       1
24.038857       1
34.230052       1
19.246057       1
32.201967       1
10.578351       1
22.976178       1
28.488929       1
27.827306       1
30.358964       1
10.385888       1
24.316661       1
14.861787       1
20.355180       1
11.636611       1
11.582006       1
11.916375       1
29.010534       1
24.032716       1
25.786301       1
30.568132       1
30.081707       1
24.835650       1
13.217413       1
33.946036       1
19.453714       1
17.794790       1
8.805899        1
27.543684       1
18.169310       1
28.220560       1
Name: DAYS_ENDDATE_FACT_std@['SK_ID_CURR'], Length: 31575, dtype: int64
2018-07-21 15:36:10,272 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: max
['SK_ID_CURR']
2018-07-21 15:36:10,272 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: max
['SK_ID_CURR']
2018-07-21 15:36:10,429 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:10,429 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:10,514 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:10,514 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:10,525 logger 29 [INFO]    [make_npy] -1.0     6731
-2.0     6609
-3.0     6270
-4.0     6017
-5.0     5870
-6.0     5631
 0.0     5537
-7.0     5453
-8.0     5168
-9.0     4942
-10.0    4704
-11.0    4416
-12.0    3899
-13.0    3624
-14.0    3570
-15.0    3361
-16.0    3102
-17.0    3066
-18.0    2773
-80.0    2766
-19.0    2465
-20.0    2367
-21.0    2212
-22.0    2143
-23.0    2082
-24.0    2023
-30.0    1939
-25.0    1912
-26.0    1775
-31.0    1744
-27.0    1739
-32.0    1652
-28.0    1608
-29.0    1590
-33.0    1561
-34.0    1463
-36.0    1220
-35.0    1203
-37.0    1117
-38.0    1103
-39.0    1060
-40.0    1053
-42.0     815
-41.0     813
-43.0     733
-44.0     712
-45.0     709
-46.0     662
-48.0     635
-47.0     611
-49.0     609
-51.0     585
-50.0     583
-52.0     561
-53.0     489
-54.0     489
-55.0     464
-56.0     448
-71.0     444
-57.0     428
-59.0     424
-75.0     424
-77.0     422
-78.0     415
-58.0     413
-70.0     412
-72.0     412
-60.0     400
-62.0     397
-76.0     393
-63.0     391
-61.0     389
-74.0     388
-64.0     383
-66.0     383
-68.0     379
-73.0     377
-67.0     372
-69.0     370
-79.0     364
-65.0     354
Name: DAYS_ENDDATE_FACT_max@['SK_ID_CURR'], dtype: int64

2018-07-21 15:36:10,525 logger 29 [INFO]    [make_npy] -1.0     6731
-2.0     6609
-3.0     6270
-4.0     6017
-5.0     5870
-6.0     5631
 0.0     5537
-7.0     5453
-8.0     5168
-9.0     4942
-10.0    4704
-11.0    4416
-12.0    3899
-13.0    3624
-14.0    3570
-15.0    3361
-16.0    3102
-17.0    3066
-18.0    2773
-80.0    2766
-19.0    2465
-20.0    2367
-21.0    2212
-22.0    2143
-23.0    2082
-24.0    2023
-30.0    1939
-25.0    1912
-26.0    1775
-31.0    1744
-27.0    1739
-32.0    1652
-28.0    1608
-29.0    1590
-33.0    1561
-34.0    1463
-36.0    1220
-35.0    1203
-37.0    1117
-38.0    1103
-39.0    1060
-40.0    1053
-42.0     815
-41.0     813
-43.0     733
-44.0     712
-45.0     709
-46.0     662
-48.0     635
-47.0     611
-49.0     609
-51.0     585
-50.0     583
-52.0     561
-53.0     489
-54.0     489
-55.0     464
-56.0     448
-71.0     444
-57.0     428
-59.0     424
-75.0     424
-77.0     422
-78.0     415
-58.0     413
-70.0     412
-72.0     412
-60.0     400
-62.0     397
-76.0     393
-63.0     391
-61.0     389
-74.0     388
-64.0     383
-66.0     383
-68.0     379
-73.0     377
-67.0     372
-69.0     370
-79.0     364
-65.0     354
Name: DAYS_ENDDATE_FACT_max@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:10,567 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: min
['SK_ID_CURR']
2018-07-21 15:36:10,567 logger 122 [INFO]    [select_level_agg]
num: DAYS_ENDDATE_FACT
method: min
['SK_ID_CURR']
2018-07-21 15:36:10,670 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:10,670 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_ENDDATE_FACT_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:10,755 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:10,755 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:10,765 logger 29 [INFO]    [make_npy] -80.0    19209
-33.0     2241
-77.0     2183
-30.0     2173
-31.0     2138
-78.0     2122
-34.0     2108
-32.0     2102
-38.0     2062
-76.0     2047
-36.0     2043
-79.0     2033
-40.0     2012
-75.0     2006
-39.0     1940
-35.0     1913
-37.0     1884
-73.0     1814
-25.0     1802
-74.0     1773
-29.0     1754
-26.0     1740
-28.0     1740
-71.0     1726
-42.0     1724
-41.0     1722
-70.0     1705
-23.0     1690
-27.0     1687
-17.0     1680
-72.0     1679
-21.0     1677
-24.0     1674
-18.0     1668
-14.0     1668
-22.0     1665
-16.0     1657
-20.0     1638
-15.0     1630
-44.0     1614
-19.0     1611
-45.0     1603
-43.0     1582
-48.0     1581
-46.0     1581
-49.0     1558
-12.0     1552
-11.0     1539
-13.0     1539
-10.0     1533
-67.0     1518
-9.0      1513
-68.0     1506
-47.0     1499
-50.0     1486
-69.0     1483
-51.0     1480
-54.0     1457
-8.0      1455
-53.0     1441
-7.0      1437
-65.0     1431
-52.0     1429
-5.0      1403
-66.0     1399
-56.0     1387
-55.0     1384
-63.0     1368
-64.0     1364
-59.0     1353
-4.0      1347
-6.0      1346
-57.0     1337
-58.0     1311
-62.0     1282
-3.0      1279
-2.0      1272
-61.0     1240
-60.0     1232
-1.0      1211
 0.0       920
Name: DAYS_ENDDATE_FACT_min@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:10,765 logger 29 [INFO]    [make_npy] -80.0    19209
-33.0     2241
-77.0     2183
-30.0     2173
-31.0     2138
-78.0     2122
-34.0     2108
-32.0     2102
-38.0     2062
-76.0     2047
-36.0     2043
-79.0     2033
-40.0     2012
-75.0     2006
-39.0     1940
-35.0     1913
-37.0     1884
-73.0     1814
-25.0     1802
-74.0     1773
-29.0     1754
-26.0     1740
-28.0     1740
-71.0     1726
-42.0     1724
-41.0     1722
-70.0     1705
-23.0     1690
-27.0     1687
-17.0     1680
-72.0     1679
-21.0     1677
-24.0     1674
-18.0     1668
-14.0     1668
-22.0     1665
-16.0     1657
-20.0     1638
-15.0     1630
-44.0     1614
-19.0     1611
-45.0     1603
-43.0     1582
-48.0     1581
-46.0     1581
-49.0     1558
-12.0     1552
-11.0     1539
-13.0     1539
-10.0     1533
-67.0     1518
-9.0      1513
-68.0     1506
-47.0     1499
-50.0     1486
-69.0     1483
-51.0     1480
-54.0     1457
-8.0      1455
-53.0     1441
-7.0      1437
-65.0     1431
-52.0     1429
-5.0      1403
-66.0     1399
-56.0     1387
-55.0     1384
-63.0     1368
-64.0     1364
-59.0     1353
-4.0      1347
-6.0      1346
-57.0     1337
-58.0     1311
-62.0     1282
-3.0      1279
-2.0      1272
-61.0     1240
-60.0     1232
-1.0      1211
 0.0       920
Name: DAYS_ENDDATE_FACT_min@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:10,822 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: sum
['SK_ID_CURR']
2018-07-21 15:36:10,822 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: sum
['SK_ID_CURR']
2018-07-21 15:36:10,955 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:10,955 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:11,041 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,041 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,052 logger 29 [INFO]    [make_npy]  0.0       15431
-1.0        5850
-62.0       5034
-2.0        3099
-3.0        2155
-4.0        2067
-5.0        1864
-23.0       1640
-24.0       1625
-6.0        1570
-7.0        1561
-30.0       1544
-20.0       1521
-25.0       1502
-14.0       1502
-15.0       1491
-13.0       1487
-8.0        1476
-17.0       1469
-12.0       1466
-22.0       1465
-16.0       1463
-9.0        1448
-21.0       1447
-18.0       1427
-28.0       1427
-19.0       1414
-26.0       1413
-10.0       1412
-11.0       1380
-27.0       1377
-31.0       1334
-29.0       1323
-33.0       1310
-34.0       1306
-32.0       1211
-38.0       1186
-35.0       1171
-36.0       1151
-37.0       1146
-39.0       1084
-40.0       1057
-41.0       1000
-52.0        977
-44.0        973
-42.0        973
-46.0        972
-43.0        966
-47.0        955
-45.0        952
           ...
-920.0         1
-674.0         1
-939.0         1
-788.0         1
-647.0         1
-645.0         1
-814.0         1
-915.0         1
-754.0         1
-582.0         1
-560.0         1
-701.0         1
-705.0         1
-970.0         1
-1052.0        1
-973.0         1
-1494.0        1
-690.0         1
-746.0         1
-751.0         1
-776.0         1
-753.0         1
-1794.0        1
-832.0         1
-888.0         1
-1121.0        1
-757.0         1
-759.0         1
-1119.0        1
-732.0         1
-739.0         1
-734.0         1
-912.0         1
-632.0         1
-709.0         1
-610.0         1
-930.0         1
-750.0         1
-893.0         1
-634.0         1
-650.0         1
-802.0         1
-858.0         1
-878.0         1
-967.0         1
-1428.0        1
-887.0         1
-725.0         1
-760.0         1
-661.0         1
Name: DAYS_CREDIT_UPDATE_sum@['SK_ID_CURR'], Length: 819, dtype: int64
2018-07-21 15:36:11,052 logger 29 [INFO]    [make_npy]  0.0       15431
-1.0        5850
-62.0       5034
-2.0        3099
-3.0        2155
-4.0        2067
-5.0        1864
-23.0       1640
-24.0       1625
-6.0        1570
-7.0        1561
-30.0       1544
-20.0       1521
-25.0       1502
-14.0       1502
-15.0       1491
-13.0       1487
-8.0        1476
-17.0       1469
-12.0       1466
-22.0       1465
-16.0       1463
-9.0        1448
-21.0       1447
-18.0       1427
-28.0       1427
-19.0       1414
-26.0       1413
-10.0       1412
-11.0       1380
-27.0       1377
-31.0       1334
-29.0       1323
-33.0       1310
-34.0       1306
-32.0       1211
-38.0       1186
-35.0       1171
-36.0       1151
-37.0       1146
-39.0       1084
-40.0       1057
-41.0       1000
-52.0        977
-44.0        973
-42.0        973
-46.0        972
-43.0        966
-47.0        955
-45.0        952
           ...
-920.0         1
-674.0         1
-939.0         1
-788.0         1
-647.0         1
-645.0         1
-814.0         1
-915.0         1
-754.0         1
-582.0         1
-560.0         1
-701.0         1
-705.0         1
-970.0         1
-1052.0        1
-973.0         1
-1494.0        1
-690.0         1
-746.0         1
-751.0         1
-776.0         1
-753.0         1
-1794.0        1
-832.0         1
-888.0         1
-1121.0        1
-757.0         1
-759.0         1
-1119.0        1
-732.0         1
-739.0         1
-734.0         1
-912.0         1
-632.0         1
-709.0         1
-610.0         1
-930.0         1
-750.0         1
-893.0         1
-634.0         1
-650.0         1
-802.0         1
-858.0         1
-878.0         1
-967.0         1
-1428.0        1
-887.0         1
-725.0         1
-760.0         1
-661.0         1
Name: DAYS_CREDIT_UPDATE_sum@['SK_ID_CURR'], Length: 819, dtype: int64

2018-07-21 15:36:11,100 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: mean
['SK_ID_CURR']
2018-07-21 15:36:11,100 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: mean
['SK_ID_CURR']
2018-07-21 15:36:11,207 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:11,207 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:11,294 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,294 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,314 logger 29 [INFO]    [make_npy]  0.000000     15430
-1.000000      5672
-62.000000     3842
-2.000000      2494
-3.000000      1951
-4.000000      1888
-5.000000      1693
-7.000000      1644
-14.000000     1617
-6.000000      1613
-12.000000     1612
-9.000000      1589
-17.000000     1539
-10.000000     1523
-16.000000     1520
-13.000000     1517
-31.000000     1511
-11.000000     1511
-8.000000      1495
-15.000000     1494
-20.000000     1482
-19.000000     1468
-18.000000     1430
-21.000000     1425
-23.000000     1393
-0.500000      1388
-24.000000     1366
-22.000000     1352
-25.000000     1219
-27.000000     1204
-26.000000     1193
-30.000000     1144
-29.000000     1053
-28.000000     1042
-32.000000      887
-33.000000      872
-1.500000       768
-2.500000       756
-34.000000      702
-35.000000      661
-11.500000      646
-12.500000      638
-6.500000       632
-3.500000       631
-36.000000      620
-7.500000       615
-38.000000      612
-15.500000      612
-5.500000       599
-10.500000      582
              ...
-42.045455        1
-15.052632        1
-32.120000        1
-33.809524        1
-31.187500        1
-1.545455         1
-19.772727        1
-37.933333        1
-44.538462        1
-29.421053        1
-30.533333        1
-23.304348        1
-19.350000        1
-30.157895        1
-9.960000         1
-7.913043         1
-28.210526        1
-24.642857        1
-19.739130        1
-27.631579        1
-7.529412         1
-33.866667        1
-41.363636        1
-41.210526        1
-39.562500        1
-19.037037        1
-13.647059        1
-5.346154         1
-22.352941        1
-50.428571        1
-26.388889        1
-3.941176         1
-27.473684        1
-11.611111        1
-22.842105        1
-28.315789        1
-26.722222        1
-43.285714        1
-23.423077        1
-31.823529        1
-21.107143        1
-22.950000        1
-29.703704        1
-30.846154        1
-27.176471        1
-16.105263        1
-13.291667        1
-37.263158        1
-34.533333        1
-38.416667        1
Name: DAYS_CREDIT_UPDATE_mean@['SK_ID_CURR'], Length: 4586, dtype: int64
2018-07-21 15:36:11,314 logger 29 [INFO]    [make_npy]  0.000000     15430
-1.000000      5672
-62.000000     3842
-2.000000      2494
-3.000000      1951
-4.000000      1888
-5.000000      1693
-7.000000      1644
-14.000000     1617
-6.000000      1613
-12.000000     1612
-9.000000      1589
-17.000000     1539
-10.000000     1523
-16.000000     1520
-13.000000     1517
-31.000000     1511
-11.000000     1511
-8.000000      1495
-15.000000     1494
-20.000000     1482
-19.000000     1468
-18.000000     1430
-21.000000     1425
-23.000000     1393
-0.500000      1388
-24.000000     1366
-22.000000     1352
-25.000000     1219
-27.000000     1204
-26.000000     1193
-30.000000     1144
-29.000000     1053
-28.000000     1042
-32.000000      887
-33.000000      872
-1.500000       768
-2.500000       756
-34.000000      702
-35.000000      661
-11.500000      646
-12.500000      638
-6.500000       632
-3.500000       631
-36.000000      620
-7.500000       615
-38.000000      612
-15.500000      612
-5.500000       599
-10.500000      582
              ...
-42.045455        1
-15.052632        1
-32.120000        1
-33.809524        1
-31.187500        1
-1.545455         1
-19.772727        1
-37.933333        1
-44.538462        1
-29.421053        1
-30.533333        1
-23.304348        1
-19.350000        1
-30.157895        1
-9.960000         1
-7.913043         1
-28.210526        1
-24.642857        1
-19.739130        1
-27.631579        1
-7.529412         1
-33.866667        1
-41.363636        1
-41.210526        1
-39.562500        1
-19.037037        1
-13.647059        1
-5.346154         1
-22.352941        1
-50.428571        1
-26.388889        1
-3.941176         1
-27.473684        1
-11.611111        1
-22.842105        1
-28.315789        1
-26.722222        1
-43.285714        1
-23.423077        1
-31.823529        1
-21.107143        1
-22.950000        1
-29.703704        1
-30.846154        1
-27.176471        1
-16.105263        1
-13.291667        1
-37.263158        1
-34.533333        1
-38.416667        1
Name: DAYS_CREDIT_UPDATE_mean@['SK_ID_CURR'], Length: 4586, dtype: int64
2018-07-21 15:36:11,360 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: std
['SK_ID_CURR']
2018-07-21 15:36:11,360 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: std
['SK_ID_CURR']
2018-07-21 15:36:11,511 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:11,511 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:11,606 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,606 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,631 logger 29 [INFO]    [make_npy] 0.000000     5979
0.707107     1984
1.414214     1194
2.121320      945
2.828427      938
3.535534      811
4.242641      753
0.577350      719
5.656854      685
7.778175      670
6.363961      667
8.485281      660
7.071068      659
4.949747      654
9.192388      640
43.840620     601
9.899495      560
10.606602     538
14.142136     489
12.020815     486
12.727922     482
11.313708     476
13.435029     452
15.556349     440
14.849242     417
16.970563     416
16.263456     400
17.677670     372
19.798990     364
18.384776     339
35.795717     339
21.213203     332
1.154701      323
1.732051      320
19.091883     306
21.920310     290
20.506097     285
43.133514     267
22.627417     262
24.041631     253
23.334524     248
2.309401      241
4.041452      240
24.748737     231
2.886751      219
3.464102      212
25.455844     211
26.870058     210
6.350853      206
27.577164     204
             ...
23.498440       1
19.183918       1
17.923270       1
21.361960       1
22.751887       1
4.356850        1
24.107975       1
23.143638       1
24.252835       1
15.775332       1
29.844598       1
23.294185       1
31.133583       1
6.578585        1
20.408062       1
10.108083       1
22.600885       1
15.930404       1
4.580627        1
10.521237       1
14.150704       1
14.512720       1
18.459608       1
7.681146        1
17.677355       1
23.812345       1
15.304839       1
17.245600       1
18.385063       1
10.169771       1
20.372358       1
10.140971       1
25.334978       1
4.785892        1
21.355730       1
24.496598       1
9.889388        1
20.565613       1
12.317455       1
18.966198       1
29.672454       1
10.020515       1
27.394821       1
24.377554       1
14.891273       1
22.121565       1
24.846803       1
17.081179       1
21.651817       1
0.547723        1
Name: DAYS_CREDIT_UPDATE_std@['SK_ID_CURR'], Length: 45495, dtype: int64
2018-07-21 15:36:11,631 logger 29 [INFO]    [make_npy] 0.000000     5979
0.707107     1984
1.414214     1194
2.121320      945
2.828427      938
3.535534      811
4.242641      753
0.577350      719
5.656854      685
7.778175      670
6.363961      667
8.485281      660
7.071068      659
4.949747      654
9.192388      640
43.840620     601
9.899495      560
10.606602     538
14.142136     489
12.020815     486
12.727922     482
11.313708     476
13.435029     452
15.556349     440
14.849242     417
16.970563     416
16.263456     400
17.677670     372
19.798990     364
18.384776     339
35.795717     339
21.213203     332
1.154701      323
1.732051      320
19.091883     306
21.920310     290
20.506097     285
43.133514     267
22.627417     262
24.041631     253
23.334524     248
2.309401      241
4.041452      240
24.748737     231
2.886751      219
3.464102      212
25.455844     211
26.870058     210
6.350853      206
27.577164     204
             ...
23.498440       1
19.183918       1
17.923270       1
21.361960       1
22.751887       1
4.356850        1
24.107975       1
23.143638       1
24.252835       1
15.775332       1
29.844598       1
23.294185       1
31.133583       1
6.578585        1
20.408062       1
10.108083       1
22.600885       1
15.930404       1
4.580627        1
10.521237       1
14.150704       1
14.512720       1
18.459608       1
7.681146        1
17.677355       1
23.812345       1
15.304839       1
17.245600       1
18.385063       1
10.169771       1
20.372358       1
10.140971       1
25.334978       1
4.785892        1
21.355730       1
24.496598       1
9.889388        1
20.565613       1
12.317455       1
18.966198       1
29.672454       1
10.020515       1
27.394821       1
24.377554       1
14.891273       1
22.121565       1
24.846803       1
17.081179       1
21.651817       1
0.547723        1
Name: DAYS_CREDIT_UPDATE_std@['SK_ID_CURR'], Length: 45495, dtype: int64

2018-07-21 15:36:11,678 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: max
['SK_ID_CURR']
2018-07-21 15:36:11,678 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: max
['SK_ID_CURR']
2018-07-21 15:36:11,838 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:11,838 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:11,960 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,960 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:11,971 logger 29 [INFO]    [make_npy]  0.0     99322
-1.0     19312
-2.0      4610
-62.0     3842
-3.0      2919
-4.0      2439
-5.0      2157
-6.0      1798
-7.0      1627
-8.0      1537
-9.0      1465
-20.0     1426
-15.0     1385
-10.0     1375
-12.0     1343
-13.0     1304
-11.0     1303
-14.0     1291
-23.0     1286
-16.0     1279
-17.0     1265
-19.0     1239
-22.0     1231
-24.0     1227
-21.0     1204
-18.0     1150
-25.0     1060
-26.0     1025
-30.0      992
-27.0      923
-28.0      850
-29.0      796
-31.0      766
-32.0      721
-33.0      665
-34.0      590
-35.0      477
-38.0      445
-36.0      444
-37.0      431
-39.0      409
-40.0      392
-43.0      305
-41.0      295
-49.0      287
-42.0      268
-44.0      264
-52.0      261
-45.0      259
-46.0      252
-51.0      249
-47.0      249
-50.0      241
-48.0      226
-55.0      199
-59.0      199
-57.0      197
-56.0      191
-54.0      187
-53.0      180
-58.0      169
-61.0      142
-60.0      110
Name: DAYS_CREDIT_UPDATE_max@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:11,971 logger 29 [INFO]    [make_npy]  0.0     99322
-1.0     19312
-2.0      4610
-62.0     3842
-3.0      2919
-4.0      2439
-5.0      2157
-6.0      1798
-7.0      1627
-8.0      1537
-9.0      1465
-20.0     1426
-15.0     1385
-10.0     1375
-12.0     1343
-13.0     1304
-11.0     1303
-14.0     1291
-23.0     1286
-16.0     1279
-17.0     1265
-19.0     1239
-22.0     1231
-24.0     1227
-21.0     1204
-18.0     1150
-25.0     1060
-26.0     1025
-30.0      992
-27.0      923
-28.0      850
-29.0      796
-31.0      766
-32.0      721
-33.0      665
-34.0      590
-35.0      477
-38.0      445
-36.0      444
-37.0      431
-39.0      409
-40.0      392
-43.0      305
-41.0      295
-49.0      287
-42.0      268
-44.0      264
-52.0      261
-45.0      259
-46.0      252
-51.0      249
-47.0      249
-50.0      241
-48.0      226
-55.0      199
-59.0      199
-57.0      197
-56.0      191
-54.0      187
-53.0      180
-58.0      169
-61.0      142
-60.0      110
Name: DAYS_CREDIT_UPDATE_max@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:12,015 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: min
['SK_ID_CURR']
2018-07-21 15:36:12,015 logger 122 [INFO]    [select_level_agg]
num: DAYS_CREDIT_UPDATE
method: min
['SK_ID_CURR']
2018-07-21 15:36:12,112 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:12,112 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_CREDIT_UPDATE_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 15:36:12,216 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:12,216 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 15:36:12,230 logger 29 [INFO]    [make_npy] -62.0    36895
 0.0     15430
-1.0      7015
-24.0     2954
-2.0      2896
-30.0     2819
-28.0     2714
-23.0     2694
-29.0     2563
-26.0     2563
-25.0     2561
-27.0     2468
-34.0     2459
-20.0     2429
-21.0     2423
-22.0     2415
-31.0     2403
-33.0     2352
-38.0     2321
-3.0      2299
-19.0     2286
-36.0     2238
-4.0      2237
-32.0     2206
-39.0     2192
-35.0     2149
-15.0     2117
-5.0      2114
-17.0     2109
-18.0     2055
-40.0     2019
-16.0     2018
-37.0     2010
-14.0     1985
-13.0     1936
-43.0     1927
-12.0     1888
-7.0      1862
-6.0      1771
-8.0      1760
-11.0     1754
-9.0      1753
-10.0     1704
-42.0     1703
-49.0     1699
-41.0     1621
-45.0     1620
-44.0     1574
-52.0     1539
-46.0     1501
-51.0     1477
-50.0     1462
-48.0     1418
-53.0     1412
-47.0     1396
-57.0     1245
-56.0     1227
-54.0     1211
-55.0     1189
-58.0     1139
-59.0     1118
-60.0      894
-61.0      844
Name: DAYS_CREDIT_UPDATE_min@['SK_ID_CURR'], dtype: int64
2018-07-21 15:36:12,230 logger 29 [INFO]    [make_npy] -62.0    36895
 0.0     15430
-1.0      7015
-24.0     2954
-2.0      2896
-30.0     2819
-28.0     2714
-23.0     2694
-29.0     2563
-26.0     2563
-25.0     2561
-27.0     2468
-34.0     2459
-20.0     2429
-21.0     2423
-22.0     2415
-31.0     2403
-33.0     2352
-38.0     2321
-3.0      2299
-19.0     2286
-36.0     2238
-4.0      2237
-32.0     2206
-39.0     2192
-35.0     2149
-15.0     2117
-5.0      2114
-17.0     2109
-18.0     2055
-40.0     2019
-16.0     2018
-37.0     2010
-14.0     1985
-13.0     1936
-43.0     1927
-12.0     1888
-7.0      1862
-6.0      1771
-8.0      1760
-11.0     1754
-9.0      1753
-10.0     1704
-42.0     1703
-49.0     1699
-41.0     1621
-45.0     1620
-44.0     1574
-52.0     1539
-46.0     1501
-51.0     1477
-50.0     1462
-48.0     1418
-53.0     1412
-47.0     1396
-57.0     1245
-56.0     1227
-54.0     1211
-55.0     1189
-58.0     1139
-59.0     1118
-60.0      894
-61.0      844
Name: DAYS_CREDIT_UPDATE_min@['SK_ID_CURR'], dtype: int64

In [46]:
def bureau_credit_agg(base, df):

    df = diff_feature(df=df, first='AMT_CREDIT_SUM', second='AMT_CREDIT_SUM_DEBT')
    
#     num_list = ['AMT_CREDIT_SUM_diff_AMT_CREDIT_SUM_DEBT@']
    num_list = ['AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_diff_AMT_CREDIT_SUM_DEBT@','AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'AMT_ANNUITY', 'LOAN_MONTHLY_FACT', 'LOAN_MONTHLY']
    num_list = income_list
    select_level_agg(base=base, data=df, ignore_list=ignore_features, 
                     level=unique_id, method_list=method_list, num_list=num_list, prefix=prefix)
    
prefix='b_ACT_3YEAR_'
prefix='b_CLO_after_REG_'
# prefix='b_'

if prefix.count('_HALF'):
    data = extract_term(df=ab, term=-6)
elif prefix.count('_YEAR'):
    data = extract_term(df=ab, term=-12)
elif prefix.count('_2YEAR'):
    data = extract_term(df=ab, term=-24)
elif prefix.count('_3YEAR'):
    data = extract_term(df=ab, term=-36)
elif prefix.count('_REG'):
    data = ab.query('DAYS_CREDIT > DAYS_REGISTRATION')
elif prefix.count('_PUBLISH'):
    data = ab.query('DAYS_CREDIT > DAYS_ID_PUBLISH')
else:
    data = ab.copy()
    
data['DAYS_ENDDATE'].fillna(999, inplace=True)

' ACTIVE '
if prefix.count('ACT'):
    data = data.query('DAYS_ENDDATE>0')
elif prefix.count('CLO'):
    ' CLOSED '
    data = data.query('DAYS_ENDDATE<=0')

# df = data.groupby(unique_id)['LOAN_MONTHLY'].sum().reset_index()
# df = df.merge(data.groupby(unique_id)['AMT_INCOME_TOTAL'].max().reset_index(), on=unique_id, how='inner')
# df = division_feature(df=df, first='LOAN_MONTHLY', second='AMT_INCOME_TOTAL', sort=0)
# make_feature(df=df, prefix=prefix)
    
bureau_credit_agg(base=base, df=data)
del data

/mnt/c/Users/gixo/go/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
2018-07-21 16:13:40,972 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:40,972 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: sum
['SK_ID_CURR']
../../../github/module/feature_engineering.py:26: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  result = df.groupby(level)[feature].agg({'tmp': {method}})
2018-07-21 16:13:41,266 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:41,266 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:41,351 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:41,351 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:41,367 logger 29 [INFO]    [make_npy] 0.000000        111783
2500.000000         27
25.000000           22
5000.000000         18
2000.000000         18
12.500000           18
1500.000000         17
50.000000           17
500.000000          16
20.000000           16
30000.000000        16
38.461538           15
7500.000000         15
10.000000           15
3000.000000         14
16.666667           13
41.666667           13
20000.000000        13
62.500000           13
33.333333           12
40.000000           12
4000.000000         12
66.666667           12
156.250000          11
100.000000          11
600.000000          11
1666.666667         11
55.555556           11
1000.000000         11
10000.000000        10
31.250000           10
22.727273           10
3500.000000          9
25000.000000         9
750.000000           9
15000.000000         9
333.333333           9
26.315789            9
125.000000           9
83.333333            9
3333.333333          9
50000.000000         8
250.000000           8
22.222222            8
37.037037            8
20.833333            8
31.914894            8
57.692308            8
19.607843            8
60.000000            8
                 ...
31.970587            1
81.312061            1
6.054735             1
74.301302            1
25.364616            1
55.147620            1
53.659657            1
5.539338             1
23.456790            1
17.553978            1
43.953609            1
67.564144            1
3.096167             1
175.101954           1
0.742246             1
196.304468           1
50.904977            1
86.892297            1
37.881084            1
4.041198             1
39.409385            1
36.761152            1
11.819213            1
11.692898            1
14.975366            1
23.948782            1
459.623550           1
46.051117            1
84.889643            1
209.876169           1
2.339928             1
66.140113            1
21.561610            1
1174.536058          1
20.293123            1
2.479046             1
20.304569            1
111.560461           1
15.270556            1
10.335223            1
19.320215            1
6.077944             1
8.088449             1
76.820053            1
34.021871            1
1315.126007          1
15.517241            1
921.052632           1
40.559724            1
50.733731            1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_sum@['SK_ID_CURR'], Length: 21435, dtype: int64
2018-07-21 16:13:41,367 logger 29 [INFO]    [make_npy] 0.000000        111783
2500.000000         27
25.000000           22
5000.000000         18
2000.000000         18
12.500000           18
1500.000000         17
50.000000           17
500.000000          16
20.000000           16
30000.000000        16
38.461538           15
7500.000000         15
10.000000           15
3000.000000         14
16.666667           13
41.666667           13
20000.000000        13
62.500000           13
33.333333           12
40.000000           12
4000.000000         12
66.666667           12
156.250000          11
100.000000          11
600.000000          11
1666.666667         11
55.555556           11
1000.000000         11
10000.000000        10
31.250000           10
22.727273           10
3500.000000          9
25000.000000         9
750.000000           9
15000.000000         9
333.333333           9
26.315789            9
125.000000           9
83.333333            9
3333.333333          9
50000.000000         8
250.000000           8
22.222222            8
37.037037            8
20.833333            8
31.914894            8
57.692308            8
19.607843            8
60.000000            8
                 ...
31.970587            1
81.312061            1
6.054735             1
74.301302            1
25.364616            1
55.147620            1
53.659657            1
5.539338             1
23.456790            1
17.553978            1
43.953609            1
67.564144            1
3.096167             1
175.101954           1
0.742246             1
196.304468           1
50.904977            1
86.892297            1
37.881084            1
4.041198             1
39.409385            1
36.761152            1
11.819213            1
11.692898            1
14.975366            1
23.948782            1
459.623550           1
46.051117            1
84.889643            1
209.876169           1
2.339928             1
66.140113            1
21.561610            1
1174.536058          1
20.293123            1
2.479046             1
20.304569            1
111.560461           1
15.270556            1
10.335223            1
19.320215            1
6.077944             1
8.088449             1
76.820053            1
34.021871            1
1315.126007          1
15.517241            1
921.052632           1
40.559724            1
50.733731            1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_sum@['SK_ID_CURR'], Length: 21435, dtype: int64
2018-07-21 16:13:41,423 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:41,423 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:41,495 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:41,495 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:41,576 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:41,576 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:41,586 logger 29 [INFO]    [make_npy] 2500.000000     27
25.000000       22
12.500000       18
1500.000000     18
2000.000000     18
5000.000000     18
50.000000       17
30000.000000    16
20.000000       16
500.000000      16
7500.000000     15
10.000000       15
38.461538       15
41.666667       13
3000.000000     13
20000.000000    13
62.500000       13
33.333333       12
4000.000000     12
16.666667       12
66.666667       12
40.000000       12
1666.666667     11
100.000000      11
1000.000000     11
156.250000      11
55.555556       11
600.000000      11
22.727273       10
10000.000000    10
31.250000       10
15000.000000     9
333.333333       9
25000.000000     9
3333.333333      9
125.000000       9
3500.000000      9
750.000000       9
83.333333        9
26.315789        9
60.000000        8
31.914894        8
27.777778        8
57.692308        8
37.037037        8
50000.000000     8
19.607843        8
428.571429       8
250.000000       8
20.833333        8
                ..
36.889270        1
10.460418        1
406.652393       1
18.524756        1
32.915350        1
8.152751         1
40.302267        1
12.171570        1
12.257365        1
31.355545        1
21.766965        1
24.169184        1
5.118110         1
8.812702         1
5.458879         1
56191.038521     1
15.603626        1
29.164722        1
24.468085        1
32.280453        1
21.804734        1
8.893281         1
31.426776        1
12.862439        1
121.681117       1
23.198012        1
28.137432        1
79.444644        1
6.920834         1
10.202995        1
12.452732        1
12.969496        1
10.102958        1
45.746703        1
171.674497       1
5.748788         1
78.260870        1
18.251406        1
3345.444817      1
32.197548        1
31.078141        1
39.230296        1
15.837628        1
53424.657534     1
28.829363        1
16.145783        1
6.027502         1
17.979144        1
39.316831        1
939.420290       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_mean@['SK_ID_CURR'], Length: 21431, dtype: int64

2018-07-21 16:13:41,586 logger 29 [INFO]    [make_npy] 2500.000000     27
25.000000       22
12.500000       18
1500.000000     18
2000.000000     18
5000.000000     18
50.000000       17
30000.000000    16
20.000000       16
500.000000      16
7500.000000     15
10.000000       15
38.461538       15
41.666667       13
3000.000000     13
20000.000000    13
62.500000       13
33.333333       12
4000.000000     12
16.666667       12
66.666667       12
40.000000       12
1666.666667     11
100.000000      11
1000.000000     11
156.250000      11
55.555556       11
600.000000      11
22.727273       10
10000.000000    10
31.250000       10
15000.000000     9
333.333333       9
25000.000000     9
3333.333333      9
125.000000       9
3500.000000      9
750.000000       9
83.333333        9
26.315789        9
60.000000        8
31.914894        8
27.777778        8
57.692308        8
37.037037        8
50000.000000     8
19.607843        8
428.571429       8
250.000000       8
20.833333        8
                ..
36.889270        1
10.460418        1
406.652393       1
18.524756        1
32.915350        1
8.152751         1
40.302267        1
12.171570        1
12.257365        1
31.355545        1
21.766965        1
24.169184        1
5.118110         1
8.812702         1
5.458879         1
56191.038521     1
15.603626        1
29.164722        1
24.468085        1
32.280453        1
21.804734        1
8.893281         1
31.426776        1
12.862439        1
121.681117       1
23.198012        1
28.137432        1
79.444644        1
6.920834         1
10.202995        1
12.452732        1
12.969496        1
10.102958        1
45.746703        1
171.674497       1
5.748788         1
78.260870        1
18.251406        1
3345.444817      1
32.197548        1
31.078141        1
39.230296        1
15.837628        1
53424.657534     1
28.829363        1
16.145783        1
6.027502         1
17.979144        1
39.316831        1
939.420290       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_mean@['SK_ID_CURR'], Length: 21431, dtype: int64
2018-07-21 16:13:41,631 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: std
['SK_ID_CURR']
2018-07-21 16:13:41,631 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: std
['SK_ID_CURR']
2018-07-21 16:13:41,714 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:41,714 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:41,795 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:41,795 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:41,802 logger 29 [INFO]    [make_npy] 0.000000        5
14.415228       2
181.745324      2
8.863907        2
9.685906        2
1.726028        2
10.844975       2
12.290993       2
6.843768        2
24727.584575    2
660.656763      2
954.937831      2
2095.450583     2
20.041030       2
20.138649       2
1.719345        1
0.692819        1
0.433993        1
5.173078        1
64.447732       1
48.124881       1
4.554293        1
13.873214       1
23.993536       1
6.056313        1
6.440339        1
62.317106       1
1724.657584     1
528.571033      1
5.567908        1
16.397145       1
14.930790       1
4.542818        1
12.725214       1
1.682493        1
0.610826        1
22.726849       1
6.299329        1
10.016817       1
8.710414        1
12.759761       1
81.737488       1
564.634941      1
10.814414       1
170.761530      1
258.741718      1
7.827930        1
0.986313        1
2.382378        1
29.724113       1
               ..
99.752233       1
3.548697        1
15.713484       1
48.701768       1
4.709713        1
3.526790        1
26.166076       1
14.325914       1
70.489996       1
0.345647        1
2.100047        1
11.225965       1
5.912162        1
14.747090       1
9.388803        1
7.036710        1
19.278727       1
16.503477       1
689.620209      1
387.593751      1
0.169046        1
10.426509       1
2.244739        1
11.821036       1
76.561302       1
7.317997        1
13.813836       1
1164.900007     1
4887.609987     1
36.423293       1
21.761074       1
386.639617      1
32.273338       1
91.951903       1
50.830538       1
5.252024        1
3.323035        1
10.950432       1
2.388082        1
25.193413       1
1.281201        1
48.262573       1
7.381256        1
23.720948       1
304.283596      1
3549.263560     1
11.830059       1
7.621940        1
10.921465       1
0.057417        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_std@['SK_ID_CURR'], Length: 5331, dtype: int64
2018-07-21 16:13:41,802 logger 29 [INFO]    [make_npy] 0.000000        5
14.415228       2
181.745324      2
8.863907        2
9.685906        2
1.726028        2
10.844975       2
12.290993       2
6.843768        2
24727.584575    2
660.656763      2
954.937831      2
2095.450583     2
20.041030       2
20.138649       2
1.719345        1
0.692819        1
0.433993        1
5.173078        1
64.447732       1
48.124881       1
4.554293        1
13.873214       1
23.993536       1
6.056313        1
6.440339        1
62.317106       1
1724.657584     1
528.571033      1
5.567908        1
16.397145       1
14.930790       1
4.542818        1
12.725214       1
1.682493        1
0.610826        1
22.726849       1
6.299329        1
10.016817       1
8.710414        1
12.759761       1
81.737488       1
564.634941      1
10.814414       1
170.761530      1
258.741718      1
7.827930        1
0.986313        1
2.382378        1
29.724113       1
               ..
99.752233       1
3.548697        1
15.713484       1
48.701768       1
4.709713        1
3.526790        1
26.166076       1
14.325914       1
70.489996       1
0.345647        1
2.100047        1
11.225965       1
5.912162        1
14.747090       1
9.388803        1
7.036710        1
19.278727       1
16.503477       1
689.620209      1
387.593751      1
0.169046        1
10.426509       1
2.244739        1
11.821036       1
76.561302       1
7.317997        1
13.813836       1
1164.900007     1
4887.609987     1
36.423293       1
21.761074       1
386.639617      1
32.273338       1
91.951903       1
50.830538       1
5.252024        1
3.323035        1
10.950432       1
2.388082        1
25.193413       1
1.281201        1
48.262573       1
7.381256        1
23.720948       1
304.283596      1
3549.263560     1
11.830059       1
7.621940        1
10.921465       1
0.057417        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_std@['SK_ID_CURR'], Length: 5331, dtype: int64
2018-07-21 16:13:41,852 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: max
['SK_ID_CURR']
2018-07-21 16:13:41,852 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: max
['SK_ID_CURR']
2018-07-21 16:13:41,931 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:41,931 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,018 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,018 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,029 logger 29 [INFO]    [make_npy] 2500.000000     36
50.000000       34
2000.000000     31
25.000000       31
5000.000000     25
20.000000       25
1500.000000     24
62.500000       23
12.500000       23
31.250000       21
500.000000      20
41.666667       20
3000.000000     20
38.461538       19
30000.000000    18
100.000000      18
4000.000000     18
20000.000000    18
7500.000000     17
55.555556       16
10.000000       16
33.333333       16
1000.000000     16
250.000000      15
66.666667       15
1666.666667     15
16.666667       15
40.000000       15
125.000000      14
10000.000000    14
22.727273       14
750.000000      14
60.000000       14
83.333333       14
45.454545       13
15000.000000    13
833.333333      12
28.571429       12
26.315789       12
600.000000      12
1250.000000     12
4500.000000     12
21.739130       12
25000.000000    11
37.037037       11
3333.333333     11
3500.000000     11
57.692308       11
200.000000      11
156.250000      11
                ..
459.183673       1
9.443508         1
10.302927        1
69.447889        1
9.651811         1
10.687023        1
131.013306       1
50.559951        1
43.882745        1
24.900398        1
6.041000         1
32.828283        1
5.098689         1
60.901340        1
22.916667        1
50.553927        1
16.675560        1
1681.237391      1
13.850055        1
25.227892        1
13.449212        1
31.116200        1
34.648757        1
6.892232         1
335.453211       1
1009.647745      1
23.129252        1
6.498148         1
31.282586        1
37.715517        1
37.643313        1
21.165634        1
14388.489209     1
334.057124       1
331.674959       1
32.509753        1
6.208053         1
22.655555        1
32.393560        1
8.144848         1
107.168214       1
8.576329         1
121.397809       1
12.767696        1
32.809260        1
30.173649        1
4.020101         1
15.003262        1
18.274770        1
11.868860        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_max@['SK_ID_CURR'], Length: 20112, dtype: int64

2018-07-21 16:13:42,029 logger 29 [INFO]    [make_npy] 2500.000000     36
50.000000       34
2000.000000     31
25.000000       31
5000.000000     25
20.000000       25
1500.000000     24
62.500000       23
12.500000       23
31.250000       21
500.000000      20
41.666667       20
3000.000000     20
38.461538       19
30000.000000    18
100.000000      18
4000.000000     18
20000.000000    18
7500.000000     17
55.555556       16
10.000000       16
33.333333       16
1000.000000     16
250.000000      15
66.666667       15
1666.666667     15
16.666667       15
40.000000       15
125.000000      14
10000.000000    14
22.727273       14
750.000000      14
60.000000       14
83.333333       14
45.454545       13
15000.000000    13
833.333333      12
28.571429       12
26.315789       12
600.000000      12
1250.000000     12
4500.000000     12
21.739130       12
25000.000000    11
37.037037       11
3333.333333     11
3500.000000     11
57.692308       11
200.000000      11
156.250000      11
                ..
459.183673       1
9.443508         1
10.302927        1
69.447889        1
9.651811         1
10.687023        1
131.013306       1
50.559951        1
43.882745        1
24.900398        1
6.041000         1
32.828283        1
5.098689         1
60.901340        1
22.916667        1
50.553927        1
16.675560        1
1681.237391      1
13.850055        1
25.227892        1
13.449212        1
31.116200        1
34.648757        1
6.892232         1
335.453211       1
1009.647745      1
23.129252        1
6.498148         1
31.282586        1
37.715517        1
37.643313        1
21.165634        1
14388.489209     1
334.057124       1
331.674959       1
32.509753        1
6.208053         1
22.655555        1
32.393560        1
8.144848         1
107.168214       1
8.576329         1
121.397809       1
12.767696        1
32.809260        1
30.173649        1
4.020101         1
15.003262        1
18.274770        1
11.868860        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_max@['SK_ID_CURR'], Length: 20112, dtype: int64
2018-07-21 16:13:42,074 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: min
['SK_ID_CURR']
2018-07-21 16:13:42,074 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@
method: min
['SK_ID_CURR']
2018-07-21 16:13:42,143 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,143 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,226 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,226 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,236 logger 29 [INFO]    [make_npy] 25.000000       30
12.500000       29
2500.000000     27
10.000000       25
20.000000       20
16.666667       20
50.000000       19
5000.000000     18
2000.000000     18
1500.000000     18
38.461538       17
20.833333       16
500.000000      16
41.666667       16
30000.000000    16
22.727273       15
7500.000000     15
62.500000       14
33.333333       14
3000.000000     14
13.333333       13
20000.000000    13
40.000000       13
66.666667       12
4000.000000     12
27.777778       12
31.250000       12
1666.666667     12
24.390244       11
156.250000      11
100.000000      11
1000.000000     11
26.315789       11
55.555556       11
22.222222       11
8.333333        11
600.000000      11
10000.000000    10
12.195122       10
19.230769       10
18.518519       10
6.250000        10
11.111111       10
15.625000       10
37.037037       10
60.000000       10
83.333333       10
7.692308        10
19.607843       10
12.000000        9
                ..
9.479811         1
4.475703         1
49.288061        1
4.110220         1
13.782014        1
10.386296        1
19.171779        1
72580.645161     1
10.158627        1
1775.568182      1
28.703704        1
7.032710         1
3.007519         1
9.443508         1
10.838564        1
66.752246        1
12.635379        1
70.006035        1
2178.571429      1
58.487350        1
13.631366        1
42.897697        1
4708.798017      1
6.463192         1
5.098689         1
121.802680       1
32.509753        1
6.208053         1
22.655555        1
32.393560        1
30.936340        1
7.813248         1
18.275522        1
0.236073         1
10.302927        1
69.447889        1
9.651811         1
10.687023        1
5.551443         1
1.001236         1
50.559951        1
18.679119        1
24.900398        1
6.041000         1
32.828283        1
100.353976       1
18.725715        1
20.140500        1
25.093870        1
14.473684        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_min@['SK_ID_CURR'], Length: 20475, dtype: int64
2018-07-21 16:13:42,236 logger 29 [INFO]    [make_npy] 25.000000       30
12.500000       29
2500.000000     27
10.000000       25
20.000000       20
16.666667       20
50.000000       19
5000.000000     18
2000.000000     18
1500.000000     18
38.461538       17
20.833333       16
500.000000      16
41.666667       16
30000.000000    16
22.727273       15
7500.000000     15
62.500000       14
33.333333       14
3000.000000     14
13.333333       13
20000.000000    13
40.000000       13
66.666667       12
4000.000000     12
27.777778       12
31.250000       12
1666.666667     12
24.390244       11
156.250000      11
100.000000      11
1000.000000     11
26.315789       11
55.555556       11
22.222222       11
8.333333        11
600.000000      11
10000.000000    10
12.195122       10
19.230769       10
18.518519       10
6.250000        10
11.111111       10
15.625000       10
37.037037       10
60.000000       10
83.333333       10
7.692308        10
19.607843       10
12.000000        9
                ..
9.479811         1
4.475703         1
49.288061        1
4.110220         1
13.782014        1
10.386296        1
19.171779        1
72580.645161     1
10.158627        1
1775.568182      1
28.703704        1
7.032710         1
3.007519         1
9.443508         1
10.838564        1
66.752246        1
12.635379        1
70.006035        1
2178.571429      1
58.487350        1
13.631366        1
42.897697        1
4708.798017      1
6.463192         1
5.098689         1
121.802680       1
32.509753        1
6.208053         1
22.655555        1
32.393560        1
30.936340        1
7.813248         1
18.275522        1
0.236073         1
10.302927        1
69.447889        1
9.651811         1
10.687023        1
5.551443         1
1.001236         1
50.559951        1
18.679119        1
24.900398        1
6.041000         1
32.828283        1
100.353976       1
18.725715        1
20.140500        1
25.093870        1
14.473684        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_MAX_OVERDUE@_min@['SK_ID_CURR'], Length: 20475, dtype: int64
2018-07-21 16:13:42,285 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:42,285 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:42,363 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,363 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,457 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,457 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,477 logger 29 [INFO]    [make_npy] 0.000000     1565
2.000000      571
1.000000      546
2.500000      332
1.666667      315
0.500000      262
1.500000      258
1.250000      258
3.333333      251
5.000000      246
4.000000      244
3.000000      210
1.428571      198
1.200000      185
0.666667      185
0.600000      177
1.333333      169
0.750000      167
0.800000      157
0.833333      148
2.857143      145
0.400000      139
1.111111      129
0.333333      129
6.000000      128
0.857143      127
1.600000      121
0.200000      120
2.400000      116
0.250000      115
6.666667      107
2.222222      102
10.000000      98
2.666667       92
0.714286       91
8.000000       84
3.750000       79
0.571429       78
0.428571       78
0.166667       77
0.300000       76
0.625000       76
1.400000       76
2.333333       75
1.714286       74
3.500000       72
0.100000       72
7.500000       68
0.375000       68
1.800000       67
             ...
1.491834        1
1.068038        1
16.841655       1
2.572413        1
4.923109        1
3.467875        1
3.472500        1
6.438600        1
7.950000        1
2.885276        1
0.159358        1
3.133744        1
5.635344        1
0.350233        1
4.665617        1
4.397778        1
1.702242        1
0.140271        1
1.058515        1
0.233111        1
0.377040        1
10.265215       1
0.429486        1
0.274750        1
15.566450       1
2.342879        1
0.196380        1
1.786860        1
11.882063       1
14.770000       1
0.408605        1
2.201000        1
2.326444        1
0.598616        1
5.040960        1
4.777876        1
0.982059        1
0.308478        1
1.881169        1
3.125148        1
8.380000        1
1.135046        1
0.495363        1
0.264533        1
3.547500        1
1.148467        1
8.632286        1
3.535960        1
2.033333        1
12.563357       1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_sum@['SK_ID_CURR'], Length: 109989, dtype: int64

2018-07-21 16:13:42,477 logger 29 [INFO]    [make_npy] 0.000000     1565
2.000000      571
1.000000      546
2.500000      332
1.666667      315
0.500000      262
1.500000      258
1.250000      258
3.333333      251
5.000000      246
4.000000      244
3.000000      210
1.428571      198
1.200000      185
0.666667      185
0.600000      177
1.333333      169
0.750000      167
0.800000      157
0.833333      148
2.857143      145
0.400000      139
1.111111      129
0.333333      129
6.000000      128
0.857143      127
1.600000      121
0.200000      120
2.400000      116
0.250000      115
6.666667      107
2.222222      102
10.000000      98
2.666667       92
0.714286       91
8.000000       84
3.750000       79
0.571429       78
0.428571       78
0.166667       77
0.300000       76
0.625000       76
1.400000       76
2.333333       75
1.714286       74
3.500000       72
0.100000       72
7.500000       68
0.375000       68
1.800000       67
             ...
1.491834        1
1.068038        1
16.841655       1
2.572413        1
4.923109        1
3.467875        1
3.472500        1
6.438600        1
7.950000        1
2.885276        1
0.159358        1
3.133744        1
5.635344        1
0.350233        1
4.665617        1
4.397778        1
1.702242        1
0.140271        1
1.058515        1
0.233111        1
0.377040        1
10.265215       1
0.429486        1
0.274750        1
15.566450       1
2.342879        1
0.196380        1
1.786860        1
11.882063       1
14.770000       1
0.408605        1
2.201000        1
2.326444        1
0.598616        1
5.040960        1
4.777876        1
0.982059        1
0.308478        1
1.881169        1
3.125148        1
8.380000        1
1.135046        1
0.495363        1
0.264533        1
3.547500        1
1.148467        1
8.632286        1
3.535960        1
2.033333        1
12.563357       1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_sum@['SK_ID_CURR'], Length: 109989, dtype: int64
2018-07-21 16:13:42,524 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:42,524 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:42,600 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,600 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,680 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,680 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,705 logger 29 [INFO]    [make_npy] 2.000000    567
1.000000    565
2.500000    337
1.666667    334
1.500000    290
1.250000    283
0.500000    282
3.333333    253
1.428571    220
5.000000    214
4.000000    212
1.200000    201
0.666667    197
3.000000    191
0.750000    188
0.600000    176
1.333333    174
0.833333    174
0.800000    150
0.400000    141
2.857143    135
0.857143    133
1.111111    133
0.333333    133
0.200000    123
0.250000    122
1.600000    117
2.222222    107
2.400000    104
0.714286     95
0.166667     92
6.000000     90
2.666667     89
0.625000     88
1.400000     84
3.750000     84
6.666667     83
2.333333     83
0.428571     82
0.100000     82
1.750000     81
0.300000     78
0.571429     77
0.900000     73
0.555556     71
1.142857     71
1.714286     71
1.800000     70
1.875000     67
0.375000     66
           ...
1.177273      1
3.143796      1
0.517183      1
0.911700      1
0.331481      1
0.593806      1
0.269690      1
0.613179      1
0.422867      1
1.324003      1
0.694943      1
1.187997      1
0.068444      1
0.318475      1
0.888278      1
0.819776      1
0.661294      1
0.479750      1
0.563440      1
0.761167      1
0.214806      1
0.276626      1
0.962070      1
0.602530      1
0.401472      1
0.584800      1
0.335616      1
1.648000      1
1.036378      1
0.546750      1
1.754088      1
0.977759      1
1.279634      1
0.396900      1
1.252673      1
0.633276      1
0.404795      1
0.980693      1
0.125485      1
1.175123      1
0.444591      1
0.298239      1
0.962120      1
0.325176      1
2.499483      1
1.972059      1
1.894358      1
0.708354      1
0.280733      1
0.415000      1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_mean@['SK_ID_CURR'], Length: 109746, dtype: int64
2018-07-21 16:13:42,705 logger 29 [INFO]    [make_npy] 2.000000    567
1.000000    565
2.500000    337
1.666667    334
1.500000    290
1.250000    283
0.500000    282
3.333333    253
1.428571    220
5.000000    214
4.000000    212
1.200000    201
0.666667    197
3.000000    191
0.750000    188
0.600000    176
1.333333    174
0.833333    174
0.800000    150
0.400000    141
2.857143    135
0.857143    133
1.111111    133
0.333333    133
0.200000    123
0.250000    122
1.600000    117
2.222222    107
2.400000    104
0.714286     95
0.166667     92
6.000000     90
2.666667     89
0.625000     88
1.400000     84
3.750000     84
6.666667     83
2.333333     83
0.428571     82
0.100000     82
1.750000     81
0.300000     78
0.571429     77
0.900000     73
0.555556     71
1.142857     71
1.714286     71
1.800000     70
1.875000     67
0.375000     66
           ...
1.177273      1
3.143796      1
0.517183      1
0.911700      1
0.331481      1
0.593806      1
0.269690      1
0.613179      1
0.422867      1
1.324003      1
0.694943      1
1.187997      1
0.068444      1
0.318475      1
0.888278      1
0.819776      1
0.661294      1
0.479750      1
0.563440      1
0.761167      1
0.214806      1
0.276626      1
0.962070      1
0.602530      1
0.401472      1
0.584800      1
0.335616      1
1.648000      1
1.036378      1
0.546750      1
1.754088      1
0.977759      1
1.279634      1
0.396900      1
1.252673      1
0.633276      1
0.404795      1
0.980693      1
0.125485      1
1.175123      1
0.444591      1
0.298239      1
0.962120      1
0.325176      1
2.499483      1
1.972059      1
1.894358      1
0.708354      1
0.280733      1
0.415000      1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_mean@['SK_ID_CURR'], Length: 109746, dtype: int64
2018-07-21 16:13:42,754 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: std
['SK_ID_CURR']
2018-07-21 16:13:42,754 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: std
['SK_ID_CURR']
2018-07-21 16:13:42,869 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,869 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:42,963 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,963 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:42,982 logger 29 [INFO]    [make_npy] 0.000000    1765
0.707107      71
0.353553      52
1.414214      48
0.176777      30
1.060660      23
0.883883      21
2.121320      19
3.535534      19
0.471405      17
2.828427      16
0.088388      15
0.530330      15
0.424264      14
0.848528      14
0.265165      13
1.767767      13
2.474874      13
2.357023      13
0.441942      13
1.178511      12
1.010153      12
0.942809      12
0.565685      12
0.141421      12
0.989949      12
0.565685      12
1.697056      11
0.141421      11
0.235702      11
0.589256      11
0.141421      11
0.282843      11
0.707107      11
0.471405      10
0.589256      10
0.235702      10
1.237437      10
1.010153       9
1.272792       9
0.212132       9
1.414214       9
0.404061       9
1.555635       9
0.094281       9
0.202031       9
0.777817       8
1.979899       8
0.606092       8
1.571348       8
            ...
0.623059       1
0.167874       1
1.017226       1
0.065587       1
0.118747       1
0.067935       1
0.184544       1
0.118302       1
0.698629       1
1.786831       1
0.081370       1
0.982137       1
1.112438       1
2.665434       1
0.204265       1
0.053990       1
0.521441       1
0.552043       1
0.337935       1
1.482186       1
0.689414       1
0.502522       1
0.182719       1
0.910569       1
1.938088       1
0.808438       1
0.237606       1
0.967801       1
0.413118       1
0.256279       1
1.915094       1
0.595109       1
0.373610       1
0.409961       1
0.984104       1
1.933272       1
0.503699       1
0.804461       1
0.418116       1
0.126808       1
0.962199       1
0.876913       1
0.297451       1
0.803646       1
0.574398       1
3.542727       1
1.190375       1
1.859238       1
0.395179       1
5.596631       1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_std@['SK_ID_CURR'], Length: 82329, dtype: int64

2018-07-21 16:13:42,982 logger 29 [INFO]    [make_npy] 0.000000    1765
0.707107      71
0.353553      52
1.414214      48
0.176777      30
1.060660      23
0.883883      21
2.121320      19
3.535534      19
0.471405      17
2.828427      16
0.088388      15
0.530330      15
0.424264      14
0.848528      14
0.265165      13
1.767767      13
2.474874      13
2.357023      13
0.441942      13
1.178511      12
1.010153      12
0.942809      12
0.565685      12
0.141421      12
0.989949      12
0.565685      12
1.697056      11
0.141421      11
0.235702      11
0.589256      11
0.141421      11
0.282843      11
0.707107      11
0.471405      10
0.589256      10
0.235702      10
1.237437      10
1.010153       9
1.272792       9
0.212132       9
1.414214       9
0.404061       9
1.555635       9
0.094281       9
0.202031       9
0.777817       8
1.979899       8
0.606092       8
1.571348       8
            ...
0.623059       1
0.167874       1
1.017226       1
0.065587       1
0.118747       1
0.067935       1
0.184544       1
0.118302       1
0.698629       1
1.786831       1
0.081370       1
0.982137       1
1.112438       1
2.665434       1
0.204265       1
0.053990       1
0.521441       1
0.552043       1
0.337935       1
1.482186       1
0.689414       1
0.502522       1
0.182719       1
0.910569       1
1.938088       1
0.808438       1
0.237606       1
0.967801       1
0.413118       1
0.256279       1
1.915094       1
0.595109       1
0.373610       1
0.409961       1
0.984104       1
1.933272       1
0.503699       1
0.804461       1
0.418116       1
0.126808       1
0.962199       1
0.876913       1
0.297451       1
0.803646       1
0.574398       1
3.542727       1
1.190375       1
1.859238       1
0.395179       1
5.596631       1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_std@['SK_ID_CURR'], Length: 82329, dtype: int64
2018-07-21 16:13:43,051 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: max
['SK_ID_CURR']
2018-07-21 16:13:43,051 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: max
['SK_ID_CURR']
2018-07-21 16:13:43,118 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,118 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,191 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,191 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,207 logger 29 [INFO]    [make_npy] 2.000000     1993
1.000000     1470
2.500000     1315
1.666667     1196
3.333333     1135
5.000000     1046
4.000000      965
1.250000      761
1.500000      758
3.000000      749
1.428571      689
1.200000      579
1.333333      552
2.857143      544
0.500000      491
0.666667      470
6.000000      465
1.600000      420
1.111111      417
2.400000      410
2.222222      407
6.666667      407
0.750000      406
0.833333      398
3.750000      384
2.666667      378
0.800000      375
0.600000      364
0.857143      328
10.000000     326
4.285714      280
2.333333      279
10.487960     278
0.400000      263
1.714286      258
7.500000      254
2.142857      237
1.750000      227
0.333333      225
1.400000      223
8.000000      219
1.875000      217
1.800000      216
2.800000      216
0.714286      213
8.739967      205
3.500000      202
1.142857      196
5.714286      195
6.250000      194
             ...
1.936364        1
1.472429        1
0.337700        1
0.207371        1
0.162697        1
0.180956        1
3.505417        1
0.194091        1
3.139535        1
9.184550        1
0.491025        1
0.388412        1
1.029788        1
1.031200        1
0.400277        1
4.124233        1
1.250240        1
1.127390        1
0.997872        1
0.310325        1
0.594286        1
0.355667        1
0.624687        1
0.606547        1
2.465116        1
0.116719        1
1.200600        1
0.420127        1
0.190644        1
1.557875        1
0.212720        1
0.319973        1
8.648360        1
3.250200        1
6.607930        1
1.183600        1
0.529400        1
0.339565        1
1.180275        1
5.082500        1
0.304793        1
1.016217        1
2.798201        1
0.361300        1
0.203758        1
0.997117        1
1.519048        1
0.650440        1
1.363527        1
0.113552        1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_max@['SK_ID_CURR'], Length: 66930, dtype: int64
2018-07-21 16:13:43,207 logger 29 [INFO]    [make_npy] 2.000000     1993
1.000000     1470
2.500000     1315
1.666667     1196
3.333333     1135
5.000000     1046
4.000000      965
1.250000      761
1.500000      758
3.000000      749
1.428571      689
1.200000      579
1.333333      552
2.857143      544
0.500000      491
0.666667      470
6.000000      465
1.600000      420
1.111111      417
2.400000      410
2.222222      407
6.666667      407
0.750000      406
0.833333      398
3.750000      384
2.666667      378
0.800000      375
0.600000      364
0.857143      328
10.000000     326
4.285714      280
2.333333      279
10.487960     278
0.400000      263
1.714286      258
7.500000      254
2.142857      237
1.750000      227
0.333333      225
1.400000      223
8.000000      219
1.875000      217
1.800000      216
2.800000      216
0.714286      213
8.739967      205
3.500000      202
1.142857      196
5.714286      195
6.250000      194
             ...
1.936364        1
1.472429        1
0.337700        1
0.207371        1
0.162697        1
0.180956        1
3.505417        1
0.194091        1
3.139535        1
9.184550        1
0.491025        1
0.388412        1
1.029788        1
1.031200        1
0.400277        1
4.124233        1
1.250240        1
1.127390        1
0.997872        1
0.310325        1
0.594286        1
0.355667        1
0.624687        1
0.606547        1
2.465116        1
0.116719        1
1.200600        1
0.420127        1
0.190644        1
1.557875        1
0.212720        1
0.319973        1
8.648360        1
3.250200        1
6.607930        1
1.183600        1
0.529400        1
0.339565        1
1.180275        1
5.082500        1
0.304793        1
1.016217        1
2.798201        1
0.361300        1
0.203758        1
0.997117        1
1.519048        1
0.650440        1
1.363527        1
0.113552        1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_max@['SK_ID_CURR'], Length: 66930, dtype: int64
2018-07-21 16:13:43,266 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: min
['SK_ID_CURR']
2018-07-21 16:13:43,266 logger 122 [INFO]    [select_level_agg]
num: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@
method: min
['SK_ID_CURR']
2018-07-21 16:13:43,336 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,336 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,419 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,419 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,438 logger 29 [INFO]    [make_npy] 1.000000    1019
2.000000     740
0.500000     726
0.100000     597
0.200000     564
1.666667     512
0.333333     492
0.400000     483
0.666667     475
0.250000     473
1.250000     440
0.600000     422
2.500000     389
1.500000     382
0.750000     375
0.166667     356
0.800000     335
0.066667     324
1.428571     321
0.120000     315
1.200000     313
0.833333     308
0.050000     301
3.333333     297
0.033333     286
1.333333     268
0.150000     253
0.285714     252
0.040000     248
0.857143     243
0.300000     237
1.111111     233
0.075000     230
5.000000     229
0.125000     225
4.000000     225
0.085714     216
0.714286     216
3.000000     215
0.142857     214
0.428571     214
0.571429     198
0.375000     191
0.625000     181
0.025000     181
0.222222     176
1.600000     171
0.028571     168
0.020000     166
0.555556     164
            ...
3.409077       1
1.130650       1
0.658138       1
0.349726       1
0.207293       1
0.120809       1
0.209301       1
0.280738       1
2.120600       1
0.072079       1
0.500671       1
0.419025       1
0.168320       1
0.204550       1
1.195700       1
0.558318       1
0.121962       1
0.357932       1
1.411929       1
0.173569       1
0.291053       1
0.158612       1
1.352850       1
0.160680       1
1.034831       1
0.062100       1
0.524195       1
0.749611       1
3.006133       1
0.721940       1
0.002060       1
6.227409       1
1.963987       1
0.780085       1
0.097542       1
0.269412       1
0.192222       1
0.401786       1
0.327200       1
0.258745       1
0.519846       1
0.133367       1
0.210760       1
0.411543       1
0.649401       1
0.196952       1
0.101558       1
1.191881       1
0.392917       1
0.139382       1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_min@['SK_ID_CURR'], Length: 76864, dtype: int64

2018-07-21 16:13:43,438 logger 29 [INFO]    [make_npy] 1.000000    1019
2.000000     740
0.500000     726
0.100000     597
0.200000     564
1.666667     512
0.333333     492
0.400000     483
0.666667     475
0.250000     473
1.250000     440
0.600000     422
2.500000     389
1.500000     382
0.750000     375
0.166667     356
0.800000     335
0.066667     324
1.428571     321
0.120000     315
1.200000     313
0.833333     308
0.050000     301
3.333333     297
0.033333     286
1.333333     268
0.150000     253
0.285714     252
0.040000     248
0.857143     243
0.300000     237
1.111111     233
0.075000     230
5.000000     229
0.125000     225
4.000000     225
0.085714     216
0.714286     216
3.000000     215
0.142857     214
0.428571     214
0.571429     198
0.375000     191
0.625000     181
0.025000     181
0.222222     176
1.600000     171
0.028571     168
0.020000     166
0.555556     164
            ...
3.409077       1
1.130650       1
0.658138       1
0.349726       1
0.207293       1
0.120809       1
0.209301       1
0.280738       1
2.120600       1
0.072079       1
0.500671       1
0.419025       1
0.168320       1
0.204550       1
1.195700       1
0.558318       1
0.121962       1
0.357932       1
1.411929       1
0.173569       1
0.291053       1
0.158612       1
1.352850       1
0.160680       1
1.034831       1
0.062100       1
0.524195       1
0.749611       1
3.006133       1
0.721940       1
0.002060       1
6.227409       1
1.963987       1
0.780085       1
0.097542       1
0.269412       1
0.192222       1
0.401786       1
0.327200       1
0.258745       1
0.519846       1
0.133367       1
0.210760       1
0.411543       1
0.649401       1
0.196952       1
0.101558       1
1.191881       1
0.392917       1
0.139382       1
Name: AMT_CREDIT_SUM_div_AMT_INCOME_TOTAL@_min@['SK_ID_CURR'], Length: 76864, dtype: int64
2018-07-21 16:13:43,481 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:43,481 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:43,548 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,548 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,623 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,623 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,632 logger 29 [INFO]    [make_npy]  inf             123421
 0.000000e+00      8666
 2.500000e+00         4
 1.471025e-01         4
 1.351351e+01         4
 6.000000e+00         4
 6.250000e+00         3
 2.942050e-01         3
 9.803922e+00         3
 3.076923e+00         3
 5.649718e+00         3
 1.529052e+01         3
 4.629630e+00         3
 1.149425e+01         3
 8.826151e-02         3
 2.038439e+01         2
 3.846154e+00         2
 2.953337e+00         2
 1.968504e+01         2
 8.333333e+00         2
 1.522070e+01         2
 9.345794e+00         2
 3.611111e+00         2
 2.500743e-01         2
 2.340824e+00         2
 1.760563e+01         2
 5.308457e+00         2
 1.041667e+01         2
 9.259259e+00         2
 8.752735e+00         2
 3.952743e-01         2
 4.068445e+00         2
 7.419621e+00         2
 1.941748e+00         2
 3.164557e+00         2
 1.145038e+01         2
 6.583278e-01         2
 1.765230e-01         2
 2.173913e+01         2
 1.470588e+01         2
 6.784261e+00         2
-4.849661e+03         2
 4.500000e+04         2
 1.189202e+00         2
 3.614458e+00         2
 4.545455e+00         2
 4.918033e+00         2
 1.492537e+01         2
 1.200000e+00         2
 5.000000e+00         2
                  ...
 2.772083e+00         1
 1.046217e+00         1
 1.428571e+01         1
 1.676566e+00         1
 2.464344e-01         1
 1.146453e+04         1
 2.865330e+01         1
 2.007898e+00         1
 8.304498e+00         1
 1.023323e+00         1
 4.705882e+00         1
 2.779129e+00         1
 4.385828e-01         1
 4.088412e+00         1
 1.965066e+01         1
 9.579903e-01         1
 8.673215e-01         1
 1.807229e+01         1
 9.076687e-01         1
 9.579425e+00         1
 1.137386e+00         1
 1.263401e+00         1
-3.162055e+03         1
 8.629989e-01         1
 1.827485e+01         1
 2.089078e+00         1
 2.926136e+01         1
 5.001667e-01         1
 1.560000e+01         1
 9.124088e-01         1
 8.815677e-01         1
 1.377673e+00         1
 3.587963e+00         1
 4.128410e-01         1
 8.633333e+01         1
 9.641218e-01         1
 3.211009e+01         1
 6.505334e+00         1
 2.031851e+01         1
 1.679221e+00         1
 7.633296e-01         1
 9.927974e-01         1
-2.032680e+03         1
 6.135148e-01         1
 6.159760e-01         1
 5.772406e-01         1
 2.786571e+00         1
 1.192748e+00         1
 5.398305e-01         1
 3.761440e-01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_sum@['SK_ID_CURR'], Length: 3252, dtype: int64
2018-07-21 16:13:43,632 logger 29 [INFO]    [make_npy]  inf             123421
 0.000000e+00      8666
 2.500000e+00         4
 1.471025e-01         4
 1.351351e+01         4
 6.000000e+00         4
 6.250000e+00         3
 2.942050e-01         3
 9.803922e+00         3
 3.076923e+00         3
 5.649718e+00         3
 1.529052e+01         3
 4.629630e+00         3
 1.149425e+01         3
 8.826151e-02         3
 2.038439e+01         2
 3.846154e+00         2
 2.953337e+00         2
 1.968504e+01         2
 8.333333e+00         2
 1.522070e+01         2
 9.345794e+00         2
 3.611111e+00         2
 2.500743e-01         2
 2.340824e+00         2
 1.760563e+01         2
 5.308457e+00         2
 1.041667e+01         2
 9.259259e+00         2
 8.752735e+00         2
 3.952743e-01         2
 4.068445e+00         2
 7.419621e+00         2
 1.941748e+00         2
 3.164557e+00         2
 1.145038e+01         2
 6.583278e-01         2
 1.765230e-01         2
 2.173913e+01         2
 1.470588e+01         2
 6.784261e+00         2
-4.849661e+03         2
 4.500000e+04         2
 1.189202e+00         2
 3.614458e+00         2
 4.545455e+00         2
 4.918033e+00         2
 1.492537e+01         2
 1.200000e+00         2
 5.000000e+00         2
                  ...
 2.772083e+00         1
 1.046217e+00         1
 1.428571e+01         1
 1.676566e+00         1
 2.464344e-01         1
 1.146453e+04         1
 2.865330e+01         1
 2.007898e+00         1
 8.304498e+00         1
 1.023323e+00         1
 4.705882e+00         1
 2.779129e+00         1
 4.385828e-01         1
 4.088412e+00         1
 1.965066e+01         1
 9.579903e-01         1
 8.673215e-01         1
 1.807229e+01         1
 9.076687e-01         1
 9.579425e+00         1
 1.137386e+00         1
 1.263401e+00         1
-3.162055e+03         1
 8.629989e-01         1
 1.827485e+01         1
 2.089078e+00         1
 2.926136e+01         1
 5.001667e-01         1
 1.560000e+01         1
 9.124088e-01         1
 8.815677e-01         1
 1.377673e+00         1
 3.587963e+00         1
 4.128410e-01         1
 8.633333e+01         1
 9.641218e-01         1
 3.211009e+01         1
 6.505334e+00         1
 2.031851e+01         1
 1.679221e+00         1
 7.633296e-01         1
 9.927974e-01         1
-2.032680e+03         1
 6.135148e-01         1
 6.159760e-01         1
 5.772406e-01         1
 2.786571e+00         1
 1.192748e+00         1
 5.398305e-01         1
 3.761440e-01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_sum@['SK_ID_CURR'], Length: 3252, dtype: int64
2018-07-21 16:13:43,676 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:43,676 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: mean
['SK_ID_CURR']

2018-07-21 16:13:43,745 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,745 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,820 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,820 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:43,829 logger 29 [INFO]    [make_npy]  inf             123421
 6.000000e+00         5
 2.500000e+00         4
 1.471025e-01         4
 1.351351e+01         4
 4.629630e+00         3
 2.942050e-01         3
 1.529052e+01         3
 6.250000e+00         3
 1.149425e+01         3
 5.649718e+00         3
 8.826151e-02         3
 3.076923e+00         3
 9.803922e+00         3
 1.041667e+01         2
 1.968504e+01         2
 8.333333e+00         2
 1.522070e+01         2
 9.345794e+00         2
 1.765230e-01         2
 2.340824e+00         2
 3.611111e+00         2
 5.308457e+00         2
 1.189202e+00         2
 7.419621e+00         2
 2.953337e+00         2
 8.752735e+00         2
 3.952743e-01         2
 4.068445e+00         2
 1.760563e+01         2
 2.038439e+01         2
 6.583278e-01         2
 2.500743e-01         2
 2.173913e+01         2
 3.846154e+00         2
 3.614458e+00         2
 9.259259e+00         2
 4.500000e+04         2
 4.545455e+00         2
 1.145038e+01         2
 1.492537e+01         2
 1.200000e+00         2
 5.000000e+00         2
 1.655629e+01         2
 6.603774e+00         2
 1.500000e+04         2
 1.295337e+01         2
 8.035714e+00         2
 1.941748e+00         2
 6.784261e+00         2
                  ...
 4.519495e-01         1
 1.046217e+00         1
 1.428571e+01         1
 1.676566e+00         1
 2.464344e-01         1
 5.732266e+03         1
 2.865330e+01         1
 2.007898e+00         1
 8.304498e+00         1
 1.023323e+00         1
 4.705882e+00         1
 2.779129e+00         1
 4.385828e-01         1
 4.088412e+00         1
 1.965066e+01         1
 9.579903e-01         1
 8.673215e-01         1
 1.807229e+01         1
 9.076687e-01         1
 9.579425e+00         1
 1.137386e+00         1
 1.263401e+00         1
-3.162055e+03         1
 8.629989e-01         1
 1.827485e+01         1
 2.089078e+00         1
 1.386041e+00         1
 5.001667e-01         1
 2.926136e+01         1
 1.560000e+01         1
 9.124088e-01         1
 8.815677e-01         1
 1.377673e+00         1
 3.587963e+00         1
 4.128410e-01         1
 9.641218e-01         1
 3.211009e+01         1
 6.505334e+00         1
 2.031851e+01         1
 1.679221e+00         1
 7.633296e-01         1
 9.927974e-01         1
-5.081700e+02         1
 6.135148e-01         1
 6.159760e-01         1
 5.772406e-01         1
 1.393286e+00         1
 1.192748e+00         1
 5.398305e-01         1
 3.761440e-01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_mean@['SK_ID_CURR'], Length: 3251, dtype: int64
2018-07-21 16:13:43,829 logger 29 [INFO]    [make_npy]  inf             123421
 6.000000e+00         5
 2.500000e+00         4
 1.471025e-01         4
 1.351351e+01         4
 4.629630e+00         3
 2.942050e-01         3
 1.529052e+01         3
 6.250000e+00         3
 1.149425e+01         3
 5.649718e+00         3
 8.826151e-02         3
 3.076923e+00         3
 9.803922e+00         3
 1.041667e+01         2
 1.968504e+01         2
 8.333333e+00         2
 1.522070e+01         2
 9.345794e+00         2
 1.765230e-01         2
 2.340824e+00         2
 3.611111e+00         2
 5.308457e+00         2
 1.189202e+00         2
 7.419621e+00         2
 2.953337e+00         2
 8.752735e+00         2
 3.952743e-01         2
 4.068445e+00         2
 1.760563e+01         2
 2.038439e+01         2
 6.583278e-01         2
 2.500743e-01         2
 2.173913e+01         2
 3.846154e+00         2
 3.614458e+00         2
 9.259259e+00         2
 4.500000e+04         2
 4.545455e+00         2
 1.145038e+01         2
 1.492537e+01         2
 1.200000e+00         2
 5.000000e+00         2
 1.655629e+01         2
 6.603774e+00         2
 1.500000e+04         2
 1.295337e+01         2
 8.035714e+00         2
 1.941748e+00         2
 6.784261e+00         2
                  ...
 4.519495e-01         1
 1.046217e+00         1
 1.428571e+01         1
 1.676566e+00         1
 2.464344e-01         1
 5.732266e+03         1
 2.865330e+01         1
 2.007898e+00         1
 8.304498e+00         1
 1.023323e+00         1
 4.705882e+00         1
 2.779129e+00         1
 4.385828e-01         1
 4.088412e+00         1
 1.965066e+01         1
 9.579903e-01         1
 8.673215e-01         1
 1.807229e+01         1
 9.076687e-01         1
 9.579425e+00         1
 1.137386e+00         1
 1.263401e+00         1
-3.162055e+03         1
 8.629989e-01         1
 1.827485e+01         1
 2.089078e+00         1
 1.386041e+00         1
 5.001667e-01         1
 2.926136e+01         1
 1.560000e+01         1
 9.124088e-01         1
 8.815677e-01         1
 1.377673e+00         1
 3.587963e+00         1
 4.128410e-01         1
 9.641218e-01         1
 3.211009e+01         1
 6.505334e+00         1
 2.031851e+01         1
 1.679221e+00         1
 7.633296e-01         1
 9.927974e-01         1
-5.081700e+02         1
 6.135148e-01         1
 6.159760e-01         1
 5.772406e-01         1
 1.393286e+00         1
 1.192748e+00         1
 5.398305e-01         1
 3.761440e-01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_mean@['SK_ID_CURR'], Length: 3251, dtype: int64
2018-07-21 16:13:43,871 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: std
['SK_ID_CURR']
2018-07-21 16:13:43,871 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: std
['SK_ID_CURR']
2018-07-21 16:13:43,953 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:43,953 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,054 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,054 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,062 logger 29 [INFO]    [make_npy] 0.000000        14
68.588490        1
5.097735         1
12.789184        1
10293.899263     1
1.478545         1
1.931348         1
0.054585         1
0.030573         1
4.995962         1
0.085349         1
1.394436         1
1.582445         1
5836.361619      1
0.001910         1
0.002631         1
5.794306         1
7452.823727      1
5.615966         1
4.239596         1
14.673077        1
0.443854         1
0.175791         1
11.840487        1
0.026540         1
183.151288       1
4.546631         1
2.552336         1
0.070510         1
1.690712         1
2259.439052      1
0.206021         1
6.936128         1
0.010002         1
29.477503        1
0.257596         1
0.917100         1
6.027761         1
4.220809         1
26.602022        1
11.375632        1
4.079606         1
0.755105         1
22480.092297     1
2.971964         1
28.277677        1
1.500700         1
21.317371        1
17.685300        1
0.142922         1
                ..
17.129277        1
0.501630         1
0.097474         1
2.331259         1
14.241307        1
3.912148         1
5.571505         1
0.116577         1
0.911776         1
0.026731         1
126.721350       1
0.399009         1
0.000164         1
1.180065         1
91.891311        1
5.232476         1
445.975924       1
0.000566         1
0.691103         1
4.122594         1
0.802454         1
3.274113         1
0.475648         1
368.276767       1
0.161432         1
57.580273        1
2.127514         1
0.987830         1
0.829847         1
25255.057819     1
7.279771         1
25.442131        1
20.762975        1
3.652414         1
14.694171        1
1.141413         1
1.625894         1
267.485542       1
426.422648       1
1377.875439      1
6.359820         1
21.853332        1
0.982093         1
0.319427         1
4.681948         1
0.267123         1
3.134133         1
1.853221         1
2.350268         1
6.181024         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_std@['SK_ID_CURR'], Length: 185, dtype: int64

2018-07-21 16:13:44,062 logger 29 [INFO]    [make_npy] 0.000000        14
68.588490        1
5.097735         1
12.789184        1
10293.899263     1
1.478545         1
1.931348         1
0.054585         1
0.030573         1
4.995962         1
0.085349         1
1.394436         1
1.582445         1
5836.361619      1
0.001910         1
0.002631         1
5.794306         1
7452.823727      1
5.615966         1
4.239596         1
14.673077        1
0.443854         1
0.175791         1
11.840487        1
0.026540         1
183.151288       1
4.546631         1
2.552336         1
0.070510         1
1.690712         1
2259.439052      1
0.206021         1
6.936128         1
0.010002         1
29.477503        1
0.257596         1
0.917100         1
6.027761         1
4.220809         1
26.602022        1
11.375632        1
4.079606         1
0.755105         1
22480.092297     1
2.971964         1
28.277677        1
1.500700         1
21.317371        1
17.685300        1
0.142922         1
                ..
17.129277        1
0.501630         1
0.097474         1
2.331259         1
14.241307        1
3.912148         1
5.571505         1
0.116577         1
0.911776         1
0.026731         1
126.721350       1
0.399009         1
0.000164         1
1.180065         1
91.891311        1
5.232476         1
445.975924       1
0.000566         1
0.691103         1
4.122594         1
0.802454         1
3.274113         1
0.475648         1
368.276767       1
0.161432         1
57.580273        1
2.127514         1
0.987830         1
0.829847         1
25255.057819     1
7.279771         1
25.442131        1
20.762975        1
3.652414         1
14.694171        1
1.141413         1
1.625894         1
267.485542       1
426.422648       1
1377.875439      1
6.359820         1
21.853332        1
0.982093         1
0.319427         1
4.681948         1
0.267123         1
3.134133         1
1.853221         1
2.350268         1
6.181024         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_std@['SK_ID_CURR'], Length: 185, dtype: int64
2018-07-21 16:13:44,106 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: max
['SK_ID_CURR']
2018-07-21 16:13:44,106 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: max
['SK_ID_CURR']
2018-07-21 16:13:44,185 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,185 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,266 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,266 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,276 logger 29 [INFO]    [make_npy]  inf             123421
 6.000000e+00         5
 1.471025e-01         4
 2.500000e+00         4
 1.351351e+01         4
 1.529052e+01         3
 2.942050e-01         3
 4.629630e+00         3
 5.649718e+00         3
 6.250000e+00         3
 8.826151e-02         3
 9.803922e+00         3
 3.076923e+00         3
 8.333333e+00         3
 1.149425e+01         3
 6.583278e-01         2
 1.200000e+00         2
 1.522070e+01         2
 1.041667e+01         2
 3.164557e+00         2
 3.846154e+00         2
 1.765230e-01         2
 1.582278e+01         2
 7.419621e+00         2
 1.968504e+01         2
 8.035714e+00         2
 4.545455e+00         2
 1.644737e+01         2
 5.000000e+00         2
 6.784261e+00         2
 2.953337e+00         2
 1.434309e+01         2
 6.481481e+00         2
 1.600000e+01         2
 8.752735e+00         2
 7.219174e+00         2
 2.173913e+01         2
 4.500000e+04         2
 2.500743e-01         2
 1.760563e+01         2
 9.259259e+00         2
 5.555556e+00         2
 4.918033e+00         2
 3.952743e-01         2
 4.068445e+00         2
 1.153846e+01         2
 3.614458e+00         2
 6.603774e+00         2
 5.630631e+00         2
 2.000000e+00         2
                  ...
 3.211009e+01         1
 2.721406e+00         1
 4.088412e+00         1
 9.579903e-01         1
 8.673215e-01         1
 1.807229e+01         1
 9.076687e-01         1
 3.258390e+00         1
 9.579425e+00         1
 1.137386e+00         1
 1.263401e+00         1
-3.162055e+03         1
 8.629989e-01         1
 1.046217e+00         1
 1.892824e+00         1
 1.754509e+00         1
 1.338370e+00         1
 4.530011e+01         1
 2.413127e+00         1
 1.622718e+01         1
 1.443870e+00         1
 5.539143e+00         1
 1.196172e+02         1
 1.960784e+01         1
 1.965066e+01         1
 4.385828e-01         1
 6.505334e+00         1
 2.779129e+00         1
 1.629936e+00         1
 2.031851e+01         1
 1.679221e+00         1
 7.633296e-01         1
 9.927974e-01         1
 6.135148e-01         1
 6.159760e-01         1
 5.772406e-01         1
 1.192748e+00         1
 5.398305e-01         1
 5.001667e-01         1
 2.089078e+00         1
 1.428571e+01         1
 1.827485e+01         1
 1.676566e+00         1
 2.464344e-01         1
 2.865330e+01         1
 2.007898e+00         1
 8.304498e+00         1
 1.023323e+00         1
 4.705882e+00         1
 5.439048e-01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_max@['SK_ID_CURR'], Length: 3245, dtype: int64
2018-07-21 16:13:44,276 logger 29 [INFO]    [make_npy]  inf             123421
 6.000000e+00         5
 1.471025e-01         4
 2.500000e+00         4
 1.351351e+01         4
 1.529052e+01         3
 2.942050e-01         3
 4.629630e+00         3
 5.649718e+00         3
 6.250000e+00         3
 8.826151e-02         3
 9.803922e+00         3
 3.076923e+00         3
 8.333333e+00         3
 1.149425e+01         3
 6.583278e-01         2
 1.200000e+00         2
 1.522070e+01         2
 1.041667e+01         2
 3.164557e+00         2
 3.846154e+00         2
 1.765230e-01         2
 1.582278e+01         2
 7.419621e+00         2
 1.968504e+01         2
 8.035714e+00         2
 4.545455e+00         2
 1.644737e+01         2
 5.000000e+00         2
 6.784261e+00         2
 2.953337e+00         2
 1.434309e+01         2
 6.481481e+00         2
 1.600000e+01         2
 8.752735e+00         2
 7.219174e+00         2
 2.173913e+01         2
 4.500000e+04         2
 2.500743e-01         2
 1.760563e+01         2
 9.259259e+00         2
 5.555556e+00         2
 4.918033e+00         2
 3.952743e-01         2
 4.068445e+00         2
 1.153846e+01         2
 3.614458e+00         2
 6.603774e+00         2
 5.630631e+00         2
 2.000000e+00         2
                  ...
 3.211009e+01         1
 2.721406e+00         1
 4.088412e+00         1
 9.579903e-01         1
 8.673215e-01         1
 1.807229e+01         1
 9.076687e-01         1
 3.258390e+00         1
 9.579425e+00         1
 1.137386e+00         1
 1.263401e+00         1
-3.162055e+03         1
 8.629989e-01         1
 1.046217e+00         1
 1.892824e+00         1
 1.754509e+00         1
 1.338370e+00         1
 4.530011e+01         1
 2.413127e+00         1
 1.622718e+01         1
 1.443870e+00         1
 5.539143e+00         1
 1.196172e+02         1
 1.960784e+01         1
 1.965066e+01         1
 4.385828e-01         1
 6.505334e+00         1
 2.779129e+00         1
 1.629936e+00         1
 2.031851e+01         1
 1.679221e+00         1
 7.633296e-01         1
 9.927974e-01         1
 6.135148e-01         1
 6.159760e-01         1
 5.772406e-01         1
 1.192748e+00         1
 5.398305e-01         1
 5.001667e-01         1
 2.089078e+00         1
 1.428571e+01         1
 1.827485e+01         1
 1.676566e+00         1
 2.464344e-01         1
 2.865330e+01         1
 2.007898e+00         1
 8.304498e+00         1
 1.023323e+00         1
 4.705882e+00         1
 5.439048e-01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_max@['SK_ID_CURR'], Length: 3245, dtype: int64
2018-07-21 16:13:44,323 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: min
['SK_ID_CURR']

2018-07-21 16:13:44,323 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@
method: min
['SK_ID_CURR']
2018-07-21 16:13:44,410 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,410 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,503 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,503 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,528 logger 29 [INFO]    [make_npy]  inf             108416
 5.000000e+00        17
 3.000000e+04        15
 1.471025e-01        13
 2.500000e+00        13
 8.333333e+00        13
 1.765230e-01        12
 6.000000e+00        12
 1.000000e+01        12
 6.250000e+00        11
 2.000000e+00        10
 4.000000e+04        10
 1.000000e+00        10
 5.000000e+04        10
 3.000000e+00        10
 4.166667e+00         9
 7.142857e+00         9
 1.470588e+01         9
 1.500000e+04         8
 9.803922e+00         8
 2.500000e+04         8
 9.615385e+00         8
 4.545455e+00         8
 6.666667e+00         8
 2.000000e+01         8
 5.000000e-01         7
 4.310345e+00         7
 2.083333e+00         7
 1.666667e+00         7
 4.000000e+00         7
 3.846154e+00         7
 8.000000e+00         7
 5.263158e+00         7
 3.571429e+00         7
 8.826151e-02         7
 4.807692e+00         7
 1.323923e-01         7
 5.555556e+00         7
 9.090909e+00         6
 9.433962e+00         6
 3.921569e+00         6
 4.464286e+00         6
 5.952381e+00         6
 5.769231e+00         6
 1.000000e+04         6
 1.941748e+00         6
 3.600000e+00         6
 2.500000e+01         6
 4.385965e+00         6
 6.944444e+00         6
                  ...
 1.133787e+02         1
 1.263538e+01         1
 1.212371e+00         1
 1.505457e+01         1
 4.955401e+00         1
 2.795118e+00         1
 1.987369e+00         1
 7.858546e+00         1
 1.096780e+00         1
 1.016605e+00         1
 3.563982e-01         1
 3.890687e-01         1
 3.038427e+01         1
 2.047083e+00         1
-1.840491e+03         1
 1.335878e+00         1
 6.141249e-01         1
 1.544163e+00         1
 3.304348e+00         1
 4.255319e+01         1
 2.387268e+01         1
 7.258399e+00         1
 2.014806e-01         1
 1.782814e+00         1
 4.517222e+00         1
 3.488575e+00         1
 5.487872e-01         1
 2.008734e+01         1
-1.250000e+05         1
 2.558174e+00         1
-4.522159e+02         1
 6.764756e+00         1
 4.424094e-01         1
 3.959403e-01         1
 6.586038e+00         1
 5.360206e-01         1
 2.878733e+00         1
 8.537522e-01         1
 4.892543e+00         1
 8.063866e-01         1
 1.120301e+00         1
 7.068966e+00         1
 8.153651e-01         1
 6.618134e+00         1
 6.181015e+00         1
 5.002021e+00         1
 2.056404e+01         1
-6.912442e+04         1
-1.648352e+03         1
 9.243853e+00         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_min@['SK_ID_CURR'], Length: 16826, dtype: int64
2018-07-21 16:13:44,528 logger 29 [INFO]    [make_npy]  inf             108416
 5.000000e+00        17
 3.000000e+04        15
 1.471025e-01        13
 2.500000e+00        13
 8.333333e+00        13
 1.765230e-01        12
 6.000000e+00        12
 1.000000e+01        12
 6.250000e+00        11
 2.000000e+00        10
 4.000000e+04        10
 1.000000e+00        10
 5.000000e+04        10
 3.000000e+00        10
 4.166667e+00         9
 7.142857e+00         9
 1.470588e+01         9
 1.500000e+04         8
 9.803922e+00         8
 2.500000e+04         8
 9.615385e+00         8
 4.545455e+00         8
 6.666667e+00         8
 2.000000e+01         8
 5.000000e-01         7
 4.310345e+00         7
 2.083333e+00         7
 1.666667e+00         7
 4.000000e+00         7
 3.846154e+00         7
 8.000000e+00         7
 5.263158e+00         7
 3.571429e+00         7
 8.826151e-02         7
 4.807692e+00         7
 1.323923e-01         7
 5.555556e+00         7
 9.090909e+00         6
 9.433962e+00         6
 3.921569e+00         6
 4.464286e+00         6
 5.952381e+00         6
 5.769231e+00         6
 1.000000e+04         6
 1.941748e+00         6
 3.600000e+00         6
 2.500000e+01         6
 4.385965e+00         6
 6.944444e+00         6
                  ...
 1.133787e+02         1
 1.263538e+01         1
 1.212371e+00         1
 1.505457e+01         1
 4.955401e+00         1
 2.795118e+00         1
 1.987369e+00         1
 7.858546e+00         1
 1.096780e+00         1
 1.016605e+00         1
 3.563982e-01         1
 3.890687e-01         1
 3.038427e+01         1
 2.047083e+00         1
-1.840491e+03         1
 1.335878e+00         1
 6.141249e-01         1
 1.544163e+00         1
 3.304348e+00         1
 4.255319e+01         1
 2.387268e+01         1
 7.258399e+00         1
 2.014806e-01         1
 1.782814e+00         1
 4.517222e+00         1
 3.488575e+00         1
 5.487872e-01         1
 2.008734e+01         1
-1.250000e+05         1
 2.558174e+00         1
-4.522159e+02         1
 6.764756e+00         1
 4.424094e-01         1
 3.959403e-01         1
 6.586038e+00         1
 5.360206e-01         1
 2.878733e+00         1
 8.537522e-01         1
 4.892543e+00         1
 8.063866e-01         1
 1.120301e+00         1
 7.068966e+00         1
 8.153651e-01         1
 6.618134e+00         1
 6.181015e+00         1
 5.002021e+00         1
 2.056404e+01         1
-6.912442e+04         1
-1.648352e+03         1
 9.243853e+00         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_DEBT@_min@['SK_ID_CURR'], Length: 16826, dtype: int64
2018-07-21 16:13:44,582 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:44,582 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:44,665 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,665 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,745 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,745 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,756 logger 29 [INFO]    [make_npy] inf             112402
0.000000e+00     22561
1.453029e+00        23
2.421714e+00        21
1.210857e+00        17
1.695200e+00        14
1.937372e+00        13
9.686858e-01        11
2.179543e+00        10
7.265143e-01         7
2.906057e+00         6
3.000000e+01         6
3.000000e+00         5
7.000000e+01         4
1.500000e+00         4
2.663886e+00         4
6.000000e+01         4
3.390400e+00         4
1.259292e+00         4
2.500000e+01         4
2.034240e+00         4
1.333333e+00         3
4.000000e+01         3
2.500000e+00         3
3.500000e+01         3
2.082674e+00         3
4.500000e+01         3
7.500000e+00         2
5.000000e+00         2
5.500000e+01         2
3.148229e+00         2
1.065554e+00         2
1.113989e+00         2
7.749486e-01         2
3.632572e+00         2
9.202515e-01         2
2.712320e+00         2
7.500000e-01         2
2.000000e+00         2
6.000000e+00         2
1.356160e+00         2
1.598332e+00         2
4.849661e+03         2
2.000000e+01         2
1.307726e+00         2
1.900000e+00         1
1.666667e+00         1
3.487727e+00         1
8.387474e+01         1
8.098477e+02         1
                 ...
3.341966e+00         1
8.718172e-01         1
1.459769e+00         1
4.600000e+00         1
9.836066e+04         1
1.772565e+01         1
1.342732e+03         1
3.391473e+03         1
1.000000e+01         1
1.646766e+00         1
1.792069e+00         1
1.732994e+00         1
1.200000e+01         1
8.746037e+02         1
2.206298e+01         1
1.491968e+00         1
1.428571e+05         1
1.346869e+01         1
1.313879e+01         1
9.035365e+02         1
2.307692e+05         1
1.100000e+00         1
2.700000e+01         1
1.152681e+02         1
5.111111e+03         1
5.132991e+01         1
7.129646e+01         1
1.799820e+01         1
1.377052e+01         1
5.812115e+00         1
2.666667e+00         1
4.881509e+01         1
4.733480e+01         1
7.266441e+01         1
2.704530e+03         1
1.480721e+02         1
2.919026e+02         1
6.812377e+01         1
2.553952e+02         1
2.621086e+01         1
2.600000e+01         1
1.182965e+02         1
2.600564e+01         1
1.549897e+00         1
1.035599e+04         1
6.664940e+02         1
4.976362e+02         1
2.211125e+00         1
2.680965e+02         1
1.556558e+01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_sum@['SK_ID_CURR'], Length: 281, dtype: int64

2018-07-21 16:13:44,756 logger 29 [INFO]    [make_npy] inf             112402
0.000000e+00     22561
1.453029e+00        23
2.421714e+00        21
1.210857e+00        17
1.695200e+00        14
1.937372e+00        13
9.686858e-01        11
2.179543e+00        10
7.265143e-01         7
2.906057e+00         6
3.000000e+01         6
3.000000e+00         5
7.000000e+01         4
1.500000e+00         4
2.663886e+00         4
6.000000e+01         4
3.390400e+00         4
1.259292e+00         4
2.500000e+01         4
2.034240e+00         4
1.333333e+00         3
4.000000e+01         3
2.500000e+00         3
3.500000e+01         3
2.082674e+00         3
4.500000e+01         3
7.500000e+00         2
5.000000e+00         2
5.500000e+01         2
3.148229e+00         2
1.065554e+00         2
1.113989e+00         2
7.749486e-01         2
3.632572e+00         2
9.202515e-01         2
2.712320e+00         2
7.500000e-01         2
2.000000e+00         2
6.000000e+00         2
1.356160e+00         2
1.598332e+00         2
4.849661e+03         2
2.000000e+01         2
1.307726e+00         2
1.900000e+00         1
1.666667e+00         1
3.487727e+00         1
8.387474e+01         1
8.098477e+02         1
                 ...
3.341966e+00         1
8.718172e-01         1
1.459769e+00         1
4.600000e+00         1
9.836066e+04         1
1.772565e+01         1
1.342732e+03         1
3.391473e+03         1
1.000000e+01         1
1.646766e+00         1
1.792069e+00         1
1.732994e+00         1
1.200000e+01         1
8.746037e+02         1
2.206298e+01         1
1.491968e+00         1
1.428571e+05         1
1.346869e+01         1
1.313879e+01         1
9.035365e+02         1
2.307692e+05         1
1.100000e+00         1
2.700000e+01         1
1.152681e+02         1
5.111111e+03         1
5.132991e+01         1
7.129646e+01         1
1.799820e+01         1
1.377052e+01         1
5.812115e+00         1
2.666667e+00         1
4.881509e+01         1
4.733480e+01         1
7.266441e+01         1
2.704530e+03         1
1.480721e+02         1
2.919026e+02         1
6.812377e+01         1
2.553952e+02         1
2.621086e+01         1
2.600000e+01         1
1.182965e+02         1
2.600564e+01         1
1.549897e+00         1
1.035599e+04         1
6.664940e+02         1
4.976362e+02         1
2.211125e+00         1
2.680965e+02         1
1.556558e+01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_sum@['SK_ID_CURR'], Length: 281, dtype: int64
2018-07-21 16:13:44,803 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:44,803 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:44,881 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,881 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:44,972 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,972 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:44,982 logger 29 [INFO]    [make_npy] inf             112402
1.453029e+00        25
2.421714e+00        20
1.210857e+00        18
1.695200e+00        14
1.937372e+00        13
9.686858e-01        11
2.179543e+00        10
7.265143e-01         7
3.000000e+01         6
3.000000e+00         5
2.906057e+00         5
2.500000e+01         4
2.663886e+00         4
6.000000e+01         4
7.000000e+01         4
1.259292e+00         4
1.500000e+00         4
2.034240e+00         4
3.390400e+00         4
2.500000e+00         3
1.065554e+00         3
4.000000e+01         3
2.082674e+00         3
4.500000e+01         3
1.113989e+00         3
1.333333e+00         3
3.500000e+01         3
1.356160e+00         3
7.500000e+00         2
3.632572e+00         2
7.500000e-01         2
2.000000e+00         2
3.874743e+00         2
5.500000e+01         2
9.202515e-01         2
7.749486e-01         2
6.000000e+00         2
1.307726e+00         2
5.000000e+00         2
1.598332e+00         2
3.148229e+00         2
2.000000e+01         2
2.208333e+05         1
3.487727e+00         1
1.361801e+00         1
8.098477e+02         1
2.050000e+01         1
9.323195e+00         1
8.892224e+00         1
                 ...
1.342732e+03         1
2.270792e+01         1
1.000000e+01         1
2.961778e+02         1
1.646766e+00         1
1.792069e+00         1
1.556558e+01         1
1.310543e+01         1
1.200000e+01         1
1.732994e+00         1
1.463605e+01         1
2.206298e+01         1
1.491968e+00         1
1.428571e+05         1
2.424035e+01         1
5.844945e+01         1
6.552707e+03         1
4.398201e+01         1
1.303847e+02         1
1.100000e+00         1
2.919026e+02         1
2.700000e+01         1
1.152681e+02         1
5.111111e+03         1
5.132991e+01         1
1.799820e+01         1
6.885258e+00         1
3.011788e+02         1
2.666667e+00         1
2.440755e+01         1
2.366740e+01         1
3.633220e+01         1
2.307692e+05         1
2.704530e+03         1
2.553952e+02         1
3.199840e+01         1
2.600000e+01         1
1.182965e+02         1
2.600564e+01         1
1.549897e+00         1
1.035599e+04         1
3.332470e+02         1
4.976362e+02         1
2.211125e+00         1
2.680965e+02         1
7.403605e+01         1
1.313879e+01         1
6.734343e+00         1
2.235469e+03         1
8.746037e+02         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_mean@['SK_ID_CURR'], Length: 277, dtype: int64
2018-07-21 16:13:44,982 logger 29 [INFO]    [make_npy] inf             112402
1.453029e+00        25
2.421714e+00        20
1.210857e+00        18
1.695200e+00        14
1.937372e+00        13
9.686858e-01        11
2.179543e+00        10
7.265143e-01         7
3.000000e+01         6
3.000000e+00         5
2.906057e+00         5
2.500000e+01         4
2.663886e+00         4
6.000000e+01         4
7.000000e+01         4
1.259292e+00         4
1.500000e+00         4
2.034240e+00         4
3.390400e+00         4
2.500000e+00         3
1.065554e+00         3
4.000000e+01         3
2.082674e+00         3
4.500000e+01         3
1.113989e+00         3
1.333333e+00         3
3.500000e+01         3
1.356160e+00         3
7.500000e+00         2
3.632572e+00         2
7.500000e-01         2
2.000000e+00         2
3.874743e+00         2
5.500000e+01         2
9.202515e-01         2
7.749486e-01         2
6.000000e+00         2
1.307726e+00         2
5.000000e+00         2
1.598332e+00         2
3.148229e+00         2
2.000000e+01         2
2.208333e+05         1
3.487727e+00         1
1.361801e+00         1
8.098477e+02         1
2.050000e+01         1
9.323195e+00         1
8.892224e+00         1
                 ...
1.342732e+03         1
2.270792e+01         1
1.000000e+01         1
2.961778e+02         1
1.646766e+00         1
1.792069e+00         1
1.556558e+01         1
1.310543e+01         1
1.200000e+01         1
1.732994e+00         1
1.463605e+01         1
2.206298e+01         1
1.491968e+00         1
1.428571e+05         1
2.424035e+01         1
5.844945e+01         1
6.552707e+03         1
4.398201e+01         1
1.303847e+02         1
1.100000e+00         1
2.919026e+02         1
2.700000e+01         1
1.152681e+02         1
5.111111e+03         1
5.132991e+01         1
1.799820e+01         1
6.885258e+00         1
3.011788e+02         1
2.666667e+00         1
2.440755e+01         1
2.366740e+01         1
3.633220e+01         1
2.307692e+05         1
2.704530e+03         1
2.553952e+02         1
3.199840e+01         1
2.600000e+01         1
1.182965e+02         1
2.600564e+01         1
1.549897e+00         1
1.035599e+04         1
3.332470e+02         1
4.976362e+02         1
2.211125e+00         1
2.680965e+02         1
7.403605e+01         1
1.313879e+01         1
6.734343e+00         1
2.235469e+03         1
8.746037e+02         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_mean@['SK_ID_CURR'], Length: 277, dtype: int64

2018-07-21 16:13:45,102 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: std
['SK_ID_CURR']
2018-07-21 16:13:45,102 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: std
['SK_ID_CURR']
2018-07-21 16:13:45,175 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:45,175 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:45,254 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:45,254 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:45,260 logger 29 [INFO]    [make_npy] 0.000000      11
8.153870       1
23.550050      1
664.005552     1
21.965832      1
33.642928      1
577.375315     1
183.467159     1
1.499223       1
20.185757      1
0.131166       1
18.274042      1
8.024814       1
10.092879      1
838.958562     1
31.092662      1
21.975469      1
14.061514      1
22.181021      1
103.289014     1
519.140321     1
0.449248       1
2.046171       1
47.100100      1
101.962934     1
16.821464      1
46.586746      1
35.710137      1
28.478267      1
29.486289      1
38.345555      1
60.251245      1
469.227562     1
675.559560     1
51.467442      1
28.805626      1
53.828685      1
1.799844       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_std@['SK_ID_CURR'], dtype: int64
2018-07-21 16:13:45,260 logger 29 [INFO]    [make_npy] 0.000000      11
8.153870       1
23.550050      1
664.005552     1
21.965832      1
33.642928      1
577.375315     1
183.467159     1
1.499223       1
20.185757      1
0.131166       1
18.274042      1
8.024814       1
10.092879      1
838.958562     1
31.092662      1
21.975469      1
14.061514      1
22.181021      1
103.289014     1
519.140321     1
0.449248       1
2.046171       1
47.100100      1
101.962934     1
16.821464      1
46.586746      1
35.710137      1
28.478267      1
29.486289      1
38.345555      1
60.251245      1
469.227562     1
675.559560     1
51.467442      1
28.805626      1
53.828685      1
1.799844       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_std@['SK_ID_CURR'], dtype: int64
2018-07-21 16:13:45,490 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: max
['SK_ID_CURR']
2018-07-21 16:13:45,490 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: max
['SK_ID_CURR']
2018-07-21 16:13:45,591 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:45,591 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:45,673 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:45,673 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:45,681 logger 29 [INFO]    [make_npy] inf             112402
1.453029e+00        25
2.421714e+00        20
1.210857e+00        18
1.695200e+00        14
1.937372e+00        13
9.686858e-01        11
2.179543e+00        10
3.000000e+01         7
7.265143e-01         7
2.500000e+01         5
3.000000e+00         5
7.000000e+01         5
4.000000e+01         5
2.906057e+00         5
2.663886e+00         4
3.500000e+01         4
2.034240e+00         4
1.500000e+00         4
1.259292e+00         4
6.000000e+01         4
3.390400e+00         4
4.500000e+01         3
2.082674e+00         3
1.356160e+00         3
1.333333e+00         3
1.065554e+00         3
2.500000e+00         3
1.113989e+00         3
7.500000e+00         2
7.500000e-01         2
5.500000e+01         2
3.632572e+00         2
7.749486e-01         2
3.148229e+00         2
1.307726e+00         2
8.000000e+01         2
6.000000e+00         2
2.000000e+01         2
1.598332e+00         2
2.000000e+00         2
5.000000e+01         2
3.874743e+00         2
9.202515e-01         2
5.000000e+00         2
2.050000e+01         1
1.900000e+00         1
1.457726e+03         1
2.208333e+05         1
8.892224e+00         1
                 ...
1.646766e+00         1
1.792069e+00         1
1.556558e+01         1
1.798221e+02         1
4.639338e+01         1
2.601156e+02         1
1.200000e+01         1
8.746037e+02         1
2.206298e+01         1
1.732994e+00         1
1.491968e+00         1
1.428571e+05         1
5.844945e+01         1
6.552707e+03         1
6.404673e+01         1
1.032306e+01         1
1.999734e+00         1
1.764706e+00         1
1.833333e+02         1
1.256281e+04         1
2.973742e+01         1
4.398201e+01         1
5.238015e+01         1
1.100000e+00         1
2.700000e+01         1
1.152681e+02         1
5.111111e+03         1
5.132991e+01         1
1.799820e+01         1
2.666667e+00         1
2.307692e+05         1
2.704530e+03         1
2.919026e+02         1
5.960364e+01         1
3.370222e+00         1
2.553952e+02         1
1.255966e+01         1
2.600000e+01         1
1.182965e+02         1
2.600564e+01         1
1.549897e+00         1
1.035599e+04         1
4.976362e+02         1
2.211125e+00         1
2.680965e+02         1
1.313879e+01         1
2.235469e+03         1
3.199840e+01         1
2.961778e+02         1
9.006304e+02         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_max@['SK_ID_CURR'], Length: 269, dtype: int64
2018-07-21 16:13:45,681 logger 29 [INFO]    [make_npy] inf             112402
1.453029e+00        25
2.421714e+00        20
1.210857e+00        18
1.695200e+00        14
1.937372e+00        13
9.686858e-01        11
2.179543e+00        10
3.000000e+01         7
7.265143e-01         7
2.500000e+01         5
3.000000e+00         5
7.000000e+01         5
4.000000e+01         5
2.906057e+00         5
2.663886e+00         4
3.500000e+01         4
2.034240e+00         4
1.500000e+00         4
1.259292e+00         4
6.000000e+01         4
3.390400e+00         4
4.500000e+01         3
2.082674e+00         3
1.356160e+00         3
1.333333e+00         3
1.065554e+00         3
2.500000e+00         3
1.113989e+00         3
7.500000e+00         2
7.500000e-01         2
5.500000e+01         2
3.632572e+00         2
7.749486e-01         2
3.148229e+00         2
1.307726e+00         2
8.000000e+01         2
6.000000e+00         2
2.000000e+01         2
1.598332e+00         2
2.000000e+00         2
5.000000e+01         2
3.874743e+00         2
9.202515e-01         2
5.000000e+00         2
2.050000e+01         1
1.900000e+00         1
1.457726e+03         1
2.208333e+05         1
8.892224e+00         1
                 ...
1.646766e+00         1
1.792069e+00         1
1.556558e+01         1
1.798221e+02         1
4.639338e+01         1
2.601156e+02         1
1.200000e+01         1
8.746037e+02         1
2.206298e+01         1
1.732994e+00         1
1.491968e+00         1
1.428571e+05         1
5.844945e+01         1
6.552707e+03         1
6.404673e+01         1
1.032306e+01         1
1.999734e+00         1
1.764706e+00         1
1.833333e+02         1
1.256281e+04         1
2.973742e+01         1
4.398201e+01         1
5.238015e+01         1
1.100000e+00         1
2.700000e+01         1
1.152681e+02         1
5.111111e+03         1
5.132991e+01         1
1.799820e+01         1
2.666667e+00         1
2.307692e+05         1
2.704530e+03         1
2.919026e+02         1
5.960364e+01         1
3.370222e+00         1
2.553952e+02         1
1.255966e+01         1
2.600000e+01         1
1.182965e+02         1
2.600564e+01         1
1.549897e+00         1
1.035599e+04         1
4.976362e+02         1
2.211125e+00         1
2.680965e+02         1
1.313879e+01         1
2.235469e+03         1
3.199840e+01         1
2.961778e+02         1
9.006304e+02         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_max@['SK_ID_CURR'], Length: 269, dtype: int64

2018-07-21 16:13:45,728 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: min
['SK_ID_CURR']
2018-07-21 16:13:45,728 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@
method: min
['SK_ID_CURR']
2018-07-21 16:13:45,804 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:45,804 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:45,880 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:45,880 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:45,891 logger 29 [INFO]    [make_npy] inf             109396
1.453029e+00       177
1.695200e+00       144
1.210857e+00       141
1.937372e+00       140
2.421714e+00       139
2.179543e+00       100
9.686858e-01        83
2.906057e+00        70
7.265143e-01        48
3.390400e+00        48
2.663886e+00        39
1.356160e+00        30
3.874743e+00        25
4.843429e+00        23
3.000000e+01        23
2.500000e+00        23
2.000000e+00        22
3.632572e+00        21
3.000000e+00        21
1.840503e+00        19
1.259292e+00        18
1.500000e+00        18
3.148229e+00        18
2.500000e+01        16
1.065554e+00        16
1.792069e+00        16
1.549897e+00        16
1.113989e+00        16
1.333333e+00        15
1.307726e+00        15
5.000000e+01        15
4.359086e+00        15
1.250000e+00        14
6.000000e+00        14
5.000000e+00        14
4.000000e+01        14
4.500000e+01        13
6.000000e+01        12
1.598332e+00        12
7.500000e-01        12
8.718172e-01        12
1.743634e+00        12
2.000000e+01        11
2.034240e+00        11
4.000000e+00        11
9.202515e-01        11
8.233829e-01        11
3.500000e+01        11
2.333333e+00        10
                 ...
3.225684e+01         1
2.680965e+02         1
2.211125e+00         1
1.098977e+02         1
4.976362e+02         1
2.463127e+01         1
3.584137e+00         1
5.999940e+01         1
1.041667e+05         1
1.221026e+01         1
1.403909e+00         1
2.189600e+01         1
3.026275e+01         1
1.572462e+01         1
4.606314e+01         1
3.217503e+02         1
9.251101e+03         1
9.367681e+02         1
1.104972e+04         1
1.769912e+03         1
2.615452e+00         1
1.301293e+02         1
2.919026e+02         1
1.738934e+01         1
2.842928e+01         1
5.327772e-01         1
2.704530e+03         1
1.911381e+03         1
2.414390e+01         1
1.097639e+01         1
2.802808e+01         1
3.900000e+00         1
2.351834e+03         1
2.969386e+01         1
7.701052e-01         1
4.400000e+00         1
3.600000e+01         1
1.415094e+03         1
5.664439e+01         1
3.382950e+03         1
1.377122e+00         1
3.039739e+00         1
2.297838e+00         1
1.591090e+03         1
9.122839e+01         1
1.323919e+03         1
2.553952e+02         1
9.220232e+02         1
3.568710e+00         1
1.438917e+01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_min@['SK_ID_CURR'], Length: 1473, dtype: int64
2018-07-21 16:13:45,891 logger 29 [INFO]    [make_npy] inf             109396
1.453029e+00       177
1.695200e+00       144
1.210857e+00       141
1.937372e+00       140
2.421714e+00       139
2.179543e+00       100
9.686858e-01        83
2.906057e+00        70
7.265143e-01        48
3.390400e+00        48
2.663886e+00        39
1.356160e+00        30
3.874743e+00        25
4.843429e+00        23
3.000000e+01        23
2.500000e+00        23
2.000000e+00        22
3.632572e+00        21
3.000000e+00        21
1.840503e+00        19
1.259292e+00        18
1.500000e+00        18
3.148229e+00        18
2.500000e+01        16
1.065554e+00        16
1.792069e+00        16
1.549897e+00        16
1.113989e+00        16
1.333333e+00        15
1.307726e+00        15
5.000000e+01        15
4.359086e+00        15
1.250000e+00        14
6.000000e+00        14
5.000000e+00        14
4.000000e+01        14
4.500000e+01        13
6.000000e+01        12
1.598332e+00        12
7.500000e-01        12
8.718172e-01        12
1.743634e+00        12
2.000000e+01        11
2.034240e+00        11
4.000000e+00        11
9.202515e-01        11
8.233829e-01        11
3.500000e+01        11
2.333333e+00        10
                 ...
3.225684e+01         1
2.680965e+02         1
2.211125e+00         1
1.098977e+02         1
4.976362e+02         1
2.463127e+01         1
3.584137e+00         1
5.999940e+01         1
1.041667e+05         1
1.221026e+01         1
1.403909e+00         1
2.189600e+01         1
3.026275e+01         1
1.572462e+01         1
4.606314e+01         1
3.217503e+02         1
9.251101e+03         1
9.367681e+02         1
1.104972e+04         1
1.769912e+03         1
2.615452e+00         1
1.301293e+02         1
2.919026e+02         1
1.738934e+01         1
2.842928e+01         1
5.327772e-01         1
2.704530e+03         1
1.911381e+03         1
2.414390e+01         1
1.097639e+01         1
2.802808e+01         1
3.900000e+00         1
2.351834e+03         1
2.969386e+01         1
7.701052e-01         1
4.400000e+00         1
3.600000e+01         1
1.415094e+03         1
5.664439e+01         1
3.382950e+03         1
1.377122e+00         1
3.039739e+00         1
2.297838e+00         1
1.591090e+03         1
9.122839e+01         1
1.323919e+03         1
2.553952e+02         1
9.220232e+02         1
3.568710e+00         1
1.438917e+01         1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_LIMIT@_min@['SK_ID_CURR'], Length: 1473, dtype: int64
2018-07-21 16:13:46,026 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:46,026 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:46,090 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,090 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,168 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,168 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,177 logger 29 [INFO]    [make_npy] 0.000000         134959
2500.000000           6
40000.000000          6
5000.000000           6
25000.000000          5
50000.000000          4
20000.000000          4
30000.000000          4
750.000000            3
666.666667            3
16666.666667          3
2000.000000           3
15000.000000          3
4000.000000           3
8750.000000           3
35000.000000          3
6250.000000           3
12000.000000          3
17500.000000          2
3333.333333           2
7000.000000           2
921.052632            2
51724.137931          2
9000.000000           2
512.820513            2
1250.000000           2
60000.000000          2
28000.000000          2
2727.272727           2
500.000000            2
3076.923077           2
0.554160              2
555.555556            2
227.272727            2
1666.666667           2
437.500000            2
8333.333333           2
7142.857143           2
1363.636364           2
0.664992              2
16500.000000          2
103.092784            2
1428.571429           2
3846.153846           2
142.857143            2
3000.000000           2
1097.560976           2
250.000000            2
164.473684            1
352.112676            1
                  ...
786.516854            1
137.513751            1
595.238095            1
60.606061             1
1025.641026           1
13.152950             1
388.888889            1
1700.000000           1
180.440274            1
1078.379800           1
10182.767624          1
0.930989              1
1750.000000           1
387.323944            1
13000.000000          1
1035.714286           1
0.813511              1
37.771483             1
41666.666667          1
1153.846154           1
265.957447            1
214.629619            1
9.665475              1
1302.083333           1
238.095238            1
1842.105263           1
900.000000            1
515.151515            1
869.565217            1
10.416667             1
3500.000000           1
109375.000000         1
961.538462            1
781.250000            1
980.392157            1
2280.501710           1
27500.000000          1
266.666667            1
1052.631579           1
20.399007             1
157.738095            1
3016.528349           1
118.644068            1
7500.000000           1
319.148936            1
454.545455            1
3.450799              1
11.869436             1
1000.000000           1
259.740260            1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_sum@['SK_ID_CURR'], Length: 382, dtype: int64

2018-07-21 16:13:46,177 logger 29 [INFO]    [make_npy] 0.000000         134959
2500.000000           6
40000.000000          6
5000.000000           6
25000.000000          5
50000.000000          4
20000.000000          4
30000.000000          4
750.000000            3
666.666667            3
16666.666667          3
2000.000000           3
15000.000000          3
4000.000000           3
8750.000000           3
35000.000000          3
6250.000000           3
12000.000000          3
17500.000000          2
3333.333333           2
7000.000000           2
921.052632            2
51724.137931          2
9000.000000           2
512.820513            2
1250.000000           2
60000.000000          2
28000.000000          2
2727.272727           2
500.000000            2
3076.923077           2
0.554160              2
555.555556            2
227.272727            2
1666.666667           2
437.500000            2
8333.333333           2
7142.857143           2
1363.636364           2
0.664992              2
16500.000000          2
103.092784            2
1428.571429           2
3846.153846           2
142.857143            2
3000.000000           2
1097.560976           2
250.000000            2
164.473684            1
352.112676            1
                  ...
786.516854            1
137.513751            1
595.238095            1
60.606061             1
1025.641026           1
13.152950             1
388.888889            1
1700.000000           1
180.440274            1
1078.379800           1
10182.767624          1
0.930989              1
1750.000000           1
387.323944            1
13000.000000          1
1035.714286           1
0.813511              1
37.771483             1
41666.666667          1
1153.846154           1
265.957447            1
214.629619            1
9.665475              1
1302.083333           1
238.095238            1
1842.105263           1
900.000000            1
515.151515            1
869.565217            1
10.416667             1
3500.000000           1
109375.000000         1
961.538462            1
781.250000            1
980.392157            1
2280.501710           1
27500.000000          1
266.666667            1
1052.631579           1
20.399007             1
157.738095            1
3016.528349           1
118.644068            1
7500.000000           1
319.148936            1
454.545455            1
3.450799              1
11.869436             1
1000.000000           1
259.740260            1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_sum@['SK_ID_CURR'], Length: 382, dtype: int64
2018-07-21 16:13:46,221 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:46,221 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:46,289 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,289 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,377 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,377 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,385 logger 29 [INFO]    [make_npy] 5000.000000      6
2500.000000      6
40000.000000     6
25000.000000     5
30000.000000     4
50000.000000     4
20000.000000     4
8750.000000      3
666.666667       3
16666.666667     3
2000.000000      3
4000.000000      3
15000.000000     3
35000.000000     3
750.000000       3
12000.000000     3
6250.000000      3
921.052632       2
17500.000000     2
7000.000000      2
227.272727       2
60000.000000     2
1666.666667      2
3076.923077      2
51724.137931     2
0.554160         2
9000.000000      2
1250.000000      2
437.500000       2
500.000000       2
2727.272727      2
555.555556       2
28000.000000     2
1097.560976      2
3333.333333      2
0.664992         2
142.857143       2
250.000000       2
512.820513       2
8333.333333      2
7142.857143      2
103.092784       2
1363.636364      2
16500.000000     2
3846.153846      2
3000.000000      2
1428.571429      2
130.718954       1
1276.813075      1
28.846154        1
                ..
786.516854       1
137.513751       1
595.238095       1
60.606061        1
1025.641026      1
13.152950        1
388.888889       1
1700.000000      1
180.440274       1
1078.379800      1
10182.767624     1
0.930989         1
1750.000000      1
387.323944       1
13000.000000     1
1035.714286      1
0.813511         1
37.771483        1
41666.666667     1
1153.846154      1
265.957447       1
214.629619       1
4.832738         1
1302.083333      1
238.095238       1
1842.105263      1
900.000000       1
515.151515       1
869.565217       1
10.416667        1
3500.000000      1
109375.000000    1
961.538462       1
781.250000       1
980.392157       1
2280.501710      1
27500.000000     1
266.666667       1
1052.631579      1
20.399007        1
39.434524        1
1508.264175      1
118.644068       1
7500.000000      1
319.148936       1
454.545455       1
1.725399         1
11.869436        1
1000.000000      1
203.045685       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_mean@['SK_ID_CURR'], Length: 381, dtype: int64
2018-07-21 16:13:46,385 logger 29 [INFO]    [make_npy] 5000.000000      6
2500.000000      6
40000.000000     6
25000.000000     5
30000.000000     4
50000.000000     4
20000.000000     4
8750.000000      3
666.666667       3
16666.666667     3
2000.000000      3
4000.000000      3
15000.000000     3
35000.000000     3
750.000000       3
12000.000000     3
6250.000000      3
921.052632       2
17500.000000     2
7000.000000      2
227.272727       2
60000.000000     2
1666.666667      2
3076.923077      2
51724.137931     2
0.554160         2
9000.000000      2
1250.000000      2
437.500000       2
500.000000       2
2727.272727      2
555.555556       2
28000.000000     2
1097.560976      2
3333.333333      2
0.664992         2
142.857143       2
250.000000       2
512.820513       2
8333.333333      2
7142.857143      2
103.092784       2
1363.636364      2
16500.000000     2
3846.153846      2
3000.000000      2
1428.571429      2
130.718954       1
1276.813075      1
28.846154        1
                ..
786.516854       1
137.513751       1
595.238095       1
60.606061        1
1025.641026      1
13.152950        1
388.888889       1
1700.000000      1
180.440274       1
1078.379800      1
10182.767624     1
0.930989         1
1750.000000      1
387.323944       1
13000.000000     1
1035.714286      1
0.813511         1
37.771483        1
41666.666667     1
1153.846154      1
265.957447       1
214.629619       1
4.832738         1
1302.083333      1
238.095238       1
1842.105263      1
900.000000       1
515.151515       1
869.565217       1
10.416667        1
3500.000000      1
109375.000000    1
961.538462       1
781.250000       1
980.392157       1
2280.501710      1
27500.000000     1
266.666667       1
1052.631579      1
20.399007        1
39.434524        1
1508.264175      1
118.644068       1
7500.000000      1
319.148936       1
454.545455       1
1.725399         1
11.869436        1
1000.000000      1
203.045685       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_mean@['SK_ID_CURR'], Length: 381, dtype: int64
2018-07-21 16:13:46,434 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: std
['SK_ID_CURR']
2018-07-21 16:13:46,434 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: std
['SK_ID_CURR']
2018-07-21 16:13:46,539 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,539 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_std@['SK_ID_CURR']'], dtype='object')

2018-07-21 16:13:46,632 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,632 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,640 logger 29 [INFO]    [make_npy] 1.102446        1
22.082931       1
7065.194832     1
31.811843       1
151.522882      1
12234.545296    1
174.865796      1
1.785234        1
2487.968304     1
262.000183      1
2.287347        1
3.043501        1
0.061837        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_std@['SK_ID_CURR'], dtype: int64
2018-07-21 16:13:46,640 logger 29 [INFO]    [make_npy] 1.102446        1
22.082931       1
7065.194832     1
31.811843       1
151.522882      1
12234.545296    1
174.865796      1
1.785234        1
2487.968304     1
262.000183      1
2.287347        1
3.043501        1
0.061837        1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_std@['SK_ID_CURR'], dtype: int64
2018-07-21 16:13:46,674 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: max
['SK_ID_CURR']
2018-07-21 16:13:46,674 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: max
['SK_ID_CURR']
2018-07-21 16:13:46,742 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,742 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,834 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,834 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:46,841 logger 29 [INFO]    [make_npy] 2500.000000      6
5000.000000      6
40000.000000     6
25000.000000     5
50000.000000     4
20000.000000     4
30000.000000     4
8750.000000      3
666.666667       3
15000.000000     3
17500.000000     3
6250.000000      3
4000.000000      3
12000.000000     3
35000.000000     3
750.000000       3
2000.000000      3
16666.666667     3
1097.560976      2
1250.000000      2
7000.000000      2
0.554160         2
921.052632       2
51724.137931     2
9000.000000      2
60000.000000     2
2727.272727      2
142.857143       2
437.500000       2
1666.666667      2
3076.923077      2
28000.000000     2
3000.000000      2
3333.333333      2
3846.153846      2
16500.000000     2
512.820513       2
8333.333333      2
250.000000       2
1428.571429      2
0.664992         2
7142.857143      2
103.092784       2
500.000000       2
1363.636364      2
555.555556       2
227.272727       2
5714.285714      1
102.040816       1
213.903743       1
                ..
14.299333        1
786.516854       1
137.513751       1
595.238095       1
1025.641026      1
13.152950        1
388.888889       1
1700.000000      1
0.930989         1
1750.000000      1
387.323944       1
13000.000000     1
1035.714286      1
0.813511         1
37.771483        1
41666.666667     1
1153.846154      1
265.957447       1
214.629619       1
1302.083333      1
238.095238       1
1842.105263      1
900.000000       1
4500.000000      1
192.513369       1
1944.444444      1
1522.070015      1
10182.767624     1
1078.379800      1
180.440274       1
3500.000000      1
109375.000000    1
961.538462       1
781.250000       1
980.392157       1
2280.501710      1
27500.000000     1
266.666667       1
1052.631579      1
20.399007        1
515.151515       1
118.644068       1
7500.000000      1
319.148936       1
454.545455       1
11.869436        1
1000.000000      1
10.416667        1
869.565217       1
203.045685       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_max@['SK_ID_CURR'], Length: 380, dtype: int64
2018-07-21 16:13:46,841 logger 29 [INFO]    [make_npy] 2500.000000      6
5000.000000      6
40000.000000     6
25000.000000     5
50000.000000     4
20000.000000     4
30000.000000     4
8750.000000      3
666.666667       3
15000.000000     3
17500.000000     3
6250.000000      3
4000.000000      3
12000.000000     3
35000.000000     3
750.000000       3
2000.000000      3
16666.666667     3
1097.560976      2
1250.000000      2
7000.000000      2
0.554160         2
921.052632       2
51724.137931     2
9000.000000      2
60000.000000     2
2727.272727      2
142.857143       2
437.500000       2
1666.666667      2
3076.923077      2
28000.000000     2
3000.000000      2
3333.333333      2
3846.153846      2
16500.000000     2
512.820513       2
8333.333333      2
250.000000       2
1428.571429      2
0.664992         2
7142.857143      2
103.092784       2
500.000000       2
1363.636364      2
555.555556       2
227.272727       2
5714.285714      1
102.040816       1
213.903743       1
                ..
14.299333        1
786.516854       1
137.513751       1
595.238095       1
1025.641026      1
13.152950        1
388.888889       1
1700.000000      1
0.930989         1
1750.000000      1
387.323944       1
13000.000000     1
1035.714286      1
0.813511         1
37.771483        1
41666.666667     1
1153.846154      1
265.957447       1
214.629619       1
1302.083333      1
238.095238       1
1842.105263      1
900.000000       1
4500.000000      1
192.513369       1
1944.444444      1
1522.070015      1
10182.767624     1
1078.379800      1
180.440274       1
3500.000000      1
109375.000000    1
961.538462       1
781.250000       1
980.392157       1
2280.501710      1
27500.000000     1
266.666667       1
1052.631579      1
20.399007        1
515.151515       1
118.644068       1
7500.000000      1
319.148936       1
454.545455       1
11.869436        1
1000.000000      1
10.416667        1
869.565217       1
203.045685       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_max@['SK_ID_CURR'], Length: 380, dtype: int64
2018-07-21 16:13:46,888 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: min
['SK_ID_CURR']
2018-07-21 16:13:46,888 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@
method: min
['SK_ID_CURR']
2018-07-21 16:13:46,989 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:46,989 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:47,102 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,102 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,114 logger 29 [INFO]    [make_npy] 2500.000000      6
5000.000000      6
40000.000000     6
25000.000000     5
50000.000000     4
20000.000000     4
30000.000000     4
15000.000000     4
2000.000000      3
35000.000000     3
750.000000       3
8750.000000      3
4000.000000      3
16666.666667     3
6250.000000      3
666.666667       3
1250.000000      3
12000.000000     3
2727.272727      2
0.554160         2
7000.000000      2
1666.666667      2
28000.000000     2
9000.000000      2
555.555556       2
60000.000000     2
437.500000       2
227.272727       2
921.052632       2
51724.137931     2
17500.000000     2
3076.923077      2
142.857143       2
3000.000000      2
1285.714286      2
3846.153846      2
16500.000000     2
250.000000       2
8333.333333      2
500.000000       2
3333.333333      2
512.820513       2
1428.571429      2
1363.636364      2
7142.857143      2
103.092784       2
0.664992         2
1000.000000      2
1500.000000      2
1097.560976      2
                ..
8.780182         1
12500.000000     1
767.441860       1
1357.142857      1
1686.274510      1
1.296882         1
4500.000000      1
788.530466       1
515.151515       1
180.440274       1
1078.379800      1
10182.767624     1
0.930989         1
1750.000000      1
387.323944       1
13000.000000     1
1035.714286      1
0.813511         1
37.771483        1
41666.666667     1
1153.846154      1
265.957447       1
214.629619       1
1302.083333      1
238.095238       1
1842.105263      1
900.000000       1
869.565217       1
10.416667        1
11.869436        1
980.392157       1
13500.000000     1
1025.641026      1
13.152950        1
388.888889       1
1700.000000      1
109375.000000    1
961.538462       1
781.250000       1
2280.501710      1
454.545455       1
27500.000000     1
266.666667       1
1052.631579      1
3500.000000      1
20.399007        1
118.644068       1
7500.000000      1
319.148936       1
203.045685       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_min@['SK_ID_CURR'], Length: 376, dtype: int64

2018-07-21 16:13:47,114 logger 29 [INFO]    [make_npy] 2500.000000      6
5000.000000      6
40000.000000     6
25000.000000     5
50000.000000     4
20000.000000     4
30000.000000     4
15000.000000     4
2000.000000      3
35000.000000     3
750.000000       3
8750.000000      3
4000.000000      3
16666.666667     3
6250.000000      3
666.666667       3
1250.000000      3
12000.000000     3
2727.272727      2
0.554160         2
7000.000000      2
1666.666667      2
28000.000000     2
9000.000000      2
555.555556       2
60000.000000     2
437.500000       2
227.272727       2
921.052632       2
51724.137931     2
17500.000000     2
3076.923077      2
142.857143       2
3000.000000      2
1285.714286      2
3846.153846      2
16500.000000     2
250.000000       2
8333.333333      2
500.000000       2
3333.333333      2
512.820513       2
1428.571429      2
1363.636364      2
7142.857143      2
103.092784       2
0.664992         2
1000.000000      2
1500.000000      2
1097.560976      2
                ..
8.780182         1
12500.000000     1
767.441860       1
1357.142857      1
1686.274510      1
1.296882         1
4500.000000      1
788.530466       1
515.151515       1
180.440274       1
1078.379800      1
10182.767624     1
0.930989         1
1750.000000      1
387.323944       1
13000.000000     1
1035.714286      1
0.813511         1
37.771483        1
41666.666667     1
1153.846154      1
265.957447       1
214.629619       1
1302.083333      1
238.095238       1
1842.105263      1
900.000000       1
869.565217       1
10.416667        1
11.869436        1
980.392157       1
13500.000000     1
1025.641026      1
13.152950        1
388.888889       1
1700.000000      1
109375.000000    1
961.538462       1
781.250000       1
2280.501710      1
454.545455       1
27500.000000     1
266.666667       1
1052.631579      1
3500.000000      1
20.399007        1
118.644068       1
7500.000000      1
319.148936       1
203.045685       1
Name: AMT_INCOME_TOTAL_div_AMT_CREDIT_SUM_OVERDUE@_min@['SK_ID_CURR'], Length: 376, dtype: int64
2018-07-21 16:13:47,170 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:47,170 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-21 16:13:47,244 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:47,244 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:47,342 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,342 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,358 logger 29 [INFO]    [make_npy] 0.000000       113017
10.000000          82
20.000000          77
5.000000           74
30.000000          60
25.000000          56
40.000000          51
50.000000          49
6.000000           48
15.000000          46
13.333333          43
12.500000          40
12.000000          37
4.000000           37
6.666667           36
8.000000           33
16.666667          31
35.000000          28
7.500000           28
7.000000           27
60.000000          26
8.333333           25
33.333333          23
100.000000         22
45.000000          21
18.000000          21
2.500000           21
11.666667          20
70.000000          19
6.250000           18
90.000000          18
80.000000          18
16.000000          18
3.333333           17
4.166667           17
14.000000          17
5.555556           16
26.666667          14
23.333333          13
9.000000           13
17.500000          13
24.000000          12
66.666667          12
22.000000          12
32.000000          11
83.333333          11
3.000000           11
22.500000          11
200.000000         11
3.125000           11
                ...
30.120482           1
19.997220           1
0.468964            1
13.084724           1
1.468052            1
1.135971            1
113.378685          1
6.108735            1
174.106832          1
41.207815           1
22.408964           1
58.682938           1
4.095520            1
15.717092           1
10.103627           1
58.261750           1
36.912752           1
11.066214           1
98.714247           1
6.081245            1
7.710843            1
29.696998           1
31.793470           1
2.761092            1
35.737492           1
7.395830            1
14.078842           1
11.161847           1
6.977150            1
14.516798           1
77.269800           1
5.280760            1
30.515886           1
39.873792           1
12.802564           1
19.223308           1
49.431537           1
15.223317           1
7.960199            1
0.205239            1
20.816210           1
4.100461            1
2300.905911         1
39.997440           1
59.668508           1
9.522395            1
11.988867           1
19.376181           1
1.055361            1
6.070417            1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 18799, dtype: int64
2018-07-21 16:13:47,358 logger 29 [INFO]    [make_npy] 0.000000       113017
10.000000          82
20.000000          77
5.000000           74
30.000000          60
25.000000          56
40.000000          51
50.000000          49
6.000000           48
15.000000          46
13.333333          43
12.500000          40
12.000000          37
4.000000           37
6.666667           36
8.000000           33
16.666667          31
35.000000          28
7.500000           28
7.000000           27
60.000000          26
8.333333           25
33.333333          23
100.000000         22
45.000000          21
18.000000          21
2.500000           21
11.666667          20
70.000000          19
6.250000           18
90.000000          18
80.000000          18
16.000000          18
3.333333           17
4.166667           17
14.000000          17
5.555556           16
26.666667          14
23.333333          13
9.000000           13
17.500000          13
24.000000          12
66.666667          12
22.000000          12
32.000000          11
83.333333          11
3.000000           11
22.500000          11
200.000000         11
3.125000           11
                ...
30.120482           1
19.997220           1
0.468964            1
13.084724           1
1.468052            1
1.135971            1
113.378685          1
6.108735            1
174.106832          1
41.207815           1
22.408964           1
58.682938           1
4.095520            1
15.717092           1
10.103627           1
58.261750           1
36.912752           1
11.066214           1
98.714247           1
6.081245            1
7.710843            1
29.696998           1
31.793470           1
2.761092            1
35.737492           1
7.395830            1
14.078842           1
11.161847           1
6.977150            1
14.516798           1
77.269800           1
5.280760            1
30.515886           1
39.873792           1
12.802564           1
19.223308           1
49.431537           1
15.223317           1
7.960199            1
0.205239            1
20.816210           1
4.100461            1
2300.905911         1
39.997440           1
59.668508           1
9.522395            1
11.988867           1
19.376181           1
1.055361            1
6.070417            1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 18799, dtype: int64
2018-07-21 16:13:47,388 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:47,388 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-21 16:13:47,490 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:47,490 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')

2018-07-21 16:13:47,617 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,617 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,627 logger 29 [INFO]    [make_npy] 10.000000     101
5.000000       91
20.000000      78
25.000000      57
30.000000      54
6.000000       52
6.666667       48
4.000000       48
12.500000      48
50.000000      47
15.000000      46
40.000000      43
35.000000      40
7.500000       39
8.000000       38
13.333333      37
16.666667      37
8.333333       35
12.000000      33
7.000000       32
3.333333       27
6.250000       27
2.500000       26
11.666667      25
45.000000      24
9.000000       21
14.000000      19
3.000000       19
5.555556       19
60.000000      18
33.333333      17
4.166667       17
2.000000       15
26.666667      14
7.142857       14
22.000000      13
4.500000       13
5.833333       13
8.571429       12
3.500000       12
83.333333      12
17.500000      12
8.928571       11
3.750000       11
11.000000      11
6.500000       11
100.000000     11
3.125000       11
4.666667       11
18.000000      11
             ...
1.828780        1
10.590015       1
4.798191        1
4.105688        1
18.000072       1
5.543045        1
18.090568       1
7.865758        1
13.324450       1
5.084401        1
173.333333      1
5.182421        1
18.101970       1
4.800307        1
20.477482       1
114.795918      1
3.816252        1
10.638439       1
22.408964       1
12.854610       1
7.612667        1
9.680703        1
30.120482       1
9.998610        1
0.468964        1
13.084724       1
1.468052        1
1.135971        1
56.689342       1
6.108735        1
5.688358        1
14.223450       1
20.603908       1
2.047760        1
4.329004        1
8.384584        1
15.717092       1
0.585698        1
25.823159       1
5.622994        1
45.829514       1
12.053033       1
23.517439       1
11.102887       1
32.921811       1
64.903846       1
24.502057       1
15.728216       1
6.149733        1
90.590206       1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 18588, dtype: int64
2018-07-21 16:13:47,627 logger 29 [INFO]    [make_npy] 10.000000     101
5.000000       91
20.000000      78
25.000000      57
30.000000      54
6.000000       52
6.666667       48
4.000000       48
12.500000      48
50.000000      47
15.000000      46
40.000000      43
35.000000      40
7.500000       39
8.000000       38
13.333333      37
16.666667      37
8.333333       35
12.000000      33
7.000000       32
3.333333       27
6.250000       27
2.500000       26
11.666667      25
45.000000      24
9.000000       21
14.000000      19
3.000000       19
5.555556       19
60.000000      18
33.333333      17
4.166667       17
2.000000       15
26.666667      14
7.142857       14
22.000000      13
4.500000       13
5.833333       13
8.571429       12
3.500000       12
83.333333      12
17.500000      12
8.928571       11
3.750000       11
11.000000      11
6.500000       11
100.000000     11
3.125000       11
4.666667       11
18.000000      11
             ...
1.828780        1
10.590015       1
4.798191        1
4.105688        1
18.000072       1
5.543045        1
18.090568       1
7.865758        1
13.324450       1
5.084401        1
173.333333      1
5.182421        1
18.101970       1
4.800307        1
20.477482       1
114.795918      1
3.816252        1
10.638439       1
22.408964       1
12.854610       1
7.612667        1
9.680703        1
30.120482       1
9.998610        1
0.468964        1
13.084724       1
1.468052        1
1.135971        1
56.689342       1
6.108735        1
5.688358        1
14.223450       1
20.603908       1
2.047760        1
4.329004        1
8.384584        1
15.717092       1
0.585698        1
25.823159       1
5.622994        1
45.829514       1
12.053033       1
23.517439       1
11.102887       1
32.921811       1
64.903846       1
24.502057       1
15.728216       1
6.149733        1
90.590206       1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 18588, dtype: int64
2018-07-21 16:13:47,672 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-21 16:13:47,672 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-21 16:13:47,745 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:47,745 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:47,832 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,832 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:47,841 logger 29 [INFO]    [make_npy] 0.000000       4053
15.320647         2
3.084053          1
6.365265          1
1.069219          1
2.989149          1
0.007752          1
7.093763          1
1.017229          1
3.351867          1
0.153341          1
13.317493         1
8.180638          1
4.965631          1
13.282577         1
6.666667          1
3.431610          1
7.858206          1
2.712015          1
8.211184          1
2.644304          1
17.692310         1
5.607311          1
1.782476          1
11.062711         1
1206.489762       1
6.030755          1
5.039054          1
6.096088          1
13.992067         1
45.484308         1
3.959040          1
2.518044          1
2.583076          1
60.595410         1
13.638581         1
51.128447         1
11.066375         1
2.219369          1
7.482611          1
17.758772         1
2.707992          1
28.151168         1
8.825124          1
5.981383          1
0.029987          1
1.247122          1
72.078796         1
641.593329        1
0.010688          1
               ...
13.229579         1
18.507168         1
2.788420          1
3.657753          1
7.952404          1
8.837676          1
10.797991         1
3.282711          1
51.040389         1
31.977758         1
3.595608          1
0.957293          1
2.174881          1
1.871269          1
3.240629          1
1.964186          1
4.116820          1
7.100580          1
21.213203         1
1.118390          1
7.481828          1
1.738043          1
17.175851         1
6.091423          1
9.956940          1
48.384267         1
12.753325         1
3.191608          1
2.518387          1
4.729944          1
0.885603          1
5.197038          1
7.226334          1
11.793773         1
2.880595          1
15.837438         1
12.784394         1
5.521197          1
1.517820          1
0.146521          1
0.364537          1
9.368595          1
15.347582         1
6.921800          1
2.141870          1
9.908013          1
21.337042         1
3.993917          1
21.758518         1
0.013383          1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 4768, dtype: int64
2018-07-21 16:13:47,841 logger 29 [INFO]    [make_npy] 0.000000       4053
15.320647         2
3.084053          1
6.365265          1
1.069219          1
2.989149          1
0.007752          1
7.093763          1
1.017229          1
3.351867          1
0.153341          1
13.317493         1
8.180638          1
4.965631          1
13.282577         1
6.666667          1
3.431610          1
7.858206          1
2.712015          1
8.211184          1
2.644304          1
17.692310         1
5.607311          1
1.782476          1
11.062711         1
1206.489762       1
6.030755          1
5.039054          1
6.096088          1
13.992067         1
45.484308         1
3.959040          1
2.518044          1
2.583076          1
60.595410         1
13.638581         1
51.128447         1
11.066375         1
2.219369          1
7.482611          1
17.758772         1
2.707992          1
28.151168         1
8.825124          1
5.981383          1
0.029987          1
1.247122          1
72.078796         1
641.593329        1
0.010688          1
               ...
13.229579         1
18.507168         1
2.788420          1
3.657753          1
7.952404          1
8.837676          1
10.797991         1
3.282711          1
51.040389         1
31.977758         1
3.595608          1
0.957293          1
2.174881          1
1.871269          1
3.240629          1
1.964186          1
4.116820          1
7.100580          1
21.213203         1
1.118390          1
7.481828          1
1.738043          1
17.175851         1
6.091423          1
9.956940          1
48.384267         1
12.753325         1
3.191608          1
2.518387          1
4.729944          1
0.885603          1
5.197038          1
7.226334          1
11.793773         1
2.880595          1
15.837438         1
12.784394         1
5.521197          1
1.517820          1
0.146521          1
0.364537          1
9.368595          1
15.347582         1
6.921800          1
2.141870          1
9.908013          1
21.337042         1
3.993917          1
21.758518         1
0.013383          1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 4768, dtype: int64

2018-07-21 16:13:47,888 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-21 16:13:47,888 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-21 16:13:47,986 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:47,986 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:48,107 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:48,107 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:48,121 logger 29 [INFO]    [make_npy] 10.000000     117
20.000000      94
5.000000       93
25.000000      76
30.000000      74
50.000000      63
40.000000      62
15.000000      57
12.500000      55
6.666667       53
6.000000       53
35.000000      52
4.000000       49
13.333333      45
8.000000       44
7.500000       44
16.666667      41
12.000000      41
7.000000       38
8.333333       38
45.000000      37
11.666667      30
6.250000       28
3.333333       28
2.500000       26
60.000000      25
33.333333      24
14.000000      24
9.000000       22
4.166667       20
3.000000       20
100.000000     19
5.555556       19
17.500000      18
83.333333      18
26.666667      17
22.000000      16
4.500000       16
16.000000      16
7.142857       15
26.000000      15
2.000000       15
18.000000      15
70.000000      14
24.000000      14
200.000000     14
4.666667       14
35.714286      13
5.833333       13
8.928571       13
             ...
63.532402       1
3.024194        1
12.781095       1
47.169811       1
6.750007        1
4.642857        1
82.382763       1
26.198083       1
2.011364        1
8.553339        1
32.432432       1
4.334216        1
9.354566        1
21.400903       1
9.188361        1
0.574443        1
6.006431        1
5.460218        1
22.329736       1
6.994536        1
3.900000        1
12.090774       1
32.362460       1
13.809220       1
21.294719       1
12.328556       1
9.939759        1
6.160670        1
141.509434      1
1.828780        1
10.590015       1
34.674064       1
9.262026        1
4.105688        1
18.000072       1
5.543045        1
7.865758        1
13.324450       1
5.084401        1
13.190034       1
48.756219       1
5.182421        1
9.600614        1
10.349288       1
45.714286       1
11.345219       1
10.791367       1
4.743833        1
250.773940      1
2.200001        1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 17019, dtype: int64
2018-07-21 16:13:48,121 logger 29 [INFO]    [make_npy] 10.000000     117
20.000000      94
5.000000       93
25.000000      76
30.000000      74
50.000000      63
40.000000      62
15.000000      57
12.500000      55
6.666667       53
6.000000       53
35.000000      52
4.000000       49
13.333333      45
8.000000       44
7.500000       44
16.666667      41
12.000000      41
7.000000       38
8.333333       38
45.000000      37
11.666667      30
6.250000       28
3.333333       28
2.500000       26
60.000000      25
33.333333      24
14.000000      24
9.000000       22
4.166667       20
3.000000       20
100.000000     19
5.555556       19
17.500000      18
83.333333      18
26.666667      17
22.000000      16
4.500000       16
16.000000      16
7.142857       15
26.000000      15
2.000000       15
18.000000      15
70.000000      14
24.000000      14
200.000000     14
4.666667       14
35.714286      13
5.833333       13
8.928571       13
             ...
63.532402       1
3.024194        1
12.781095       1
47.169811       1
6.750007        1
4.642857        1
82.382763       1
26.198083       1
2.011364        1
8.553339        1
32.432432       1
4.334216        1
9.354566        1
21.400903       1
9.188361        1
0.574443        1
6.006431        1
5.460218        1
22.329736       1
6.994536        1
3.900000        1
12.090774       1
32.362460       1
13.809220       1
21.294719       1
12.328556       1
9.939759        1
6.160670        1
141.509434      1
1.828780        1
10.590015       1
34.674064       1
9.262026        1
4.105688        1
18.000072       1
5.543045        1
7.865758        1
13.324450       1
5.084401        1
13.190034       1
48.756219       1
5.182421        1
9.600614        1
10.349288       1
45.714286       1
11.345219       1
10.791367       1
4.743833        1
250.773940      1
2.200001        1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 17019, dtype: int64
2018-07-21 16:13:48,170 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-21 16:13:48,170 logger 122 [INFO]    [select_level_agg]
num: AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-21 16:13:48,254 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:48,254 logger 127 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-21 16:13:48,340 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:48,340 logger 130 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-21 16:13:48,353 logger 29 [INFO]    [make_npy] 10.000000     128
5.000000      122
20.000000      89
25.000000      69
6.666667       68
6.000000       64
4.000000       62
12.500000      54
30.000000      52
7.500000       50
15.000000      49
8.000000       49
50.000000      47
12.000000      45
40.000000      45
16.666667      45
13.333333      43
35.000000      42
8.333333       41
7.000000       39
11.666667      37
2.500000       36
3.333333       34
6.250000       33
7.142857       27
9.000000       26
45.000000      25
14.000000      25
5.555556       24
4.166667       23
3.000000       23
2.000000       20
60.000000      18
4.500000       18
33.333333      17
5.833333       16
3.500000       15
17.500000      15
26.666667      14
7.777778       14
3.571429       14
18.000000      14
8.571429       14
4.666667       14
8.928571       14
11.000000      13
22.000000      13
16.000000      13
0.227194       13
3.750000       13
             ...
4.800307        1
45.714286       1
2.836305        1
250.773940      1
24.900398       1
12.090774       1
17.875383       1
6.994536        1
3.881342        1
22.329736       1
17.277125       1
26.957946       1
0.384400        1
16.660438       1
36.390102       1
10.058114       1
11.571228       1
25.663070       1
10.590015       1
1.828780        1
141.509434      1
6.160670        1
31.771247       1
45.829514       1
12.053033       1
11.102887       1
32.921811       1
64.903846       1
15.728216       1
4.909697        1
6.149733        1
4.329004        1
3.816252        1
3.007519        1
114.795918      1
32.644178       1
3.544591        1
2.586080        1
5.772856        1
0.286738        1
1.003882        1
125.714286      1
15.600000       1
7.051081        1
48.484848       1
13.809220       1
12.328556       1
0.282844        1
9.939759        1
7.370343        1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 17216, dtype: int64
2018-07-21 16:13:48,353 logger 29 [INFO]    [make_npy] 10.000000     128
5.000000      122
20.000000      89
25.000000      69
6.666667       68
6.000000       64
4.000000       62
12.500000      54
30.000000      52
7.500000       50
15.000000      49
8.000000       49
50.000000      47
12.000000      45
40.000000      45
16.666667      45
13.333333      43
35.000000      42
8.333333       41
7.000000       39
11.666667      37
2.500000       36
3.333333       34
6.250000       33
7.142857       27
9.000000       26
45.000000      25
14.000000      25
5.555556       24
4.166667       23
3.000000       23
2.000000       20
60.000000      18
4.500000       18
33.333333      17
5.833333       16
3.500000       15
17.500000      15
26.666667      14
7.777778       14
3.571429       14
18.000000      14
8.571429       14
4.666667       14
8.928571       14
11.000000      13
22.000000      13
16.000000      13
0.227194       13
3.750000       13
             ...
4.800307        1
45.714286       1
2.836305        1
250.773940      1
24.900398       1
12.090774       1
17.875383       1
6.994536        1
3.881342        1
22.329736       1
17.277125       1
26.957946       1
0.384400        1
16.660438       1
36.390102       1
10.058114       1
11.571228       1
25.663070       1
10.590015       1
1.828780        1
141.509434      1
6.160670        1
31.771247       1
45.829514       1
12.053033       1
11.102887       1
32.921811       1
64.903846       1
15.728216       1
4.909697        1
6.149733        1
4.329004        1
3.816252        1
3.007519        1
114.795918      1
32.644178       1
3.544591        1
2.586080        1
5.772856        1
0.286738        1
1.003882        1
125.714286      1
15.600000       1
7.051081        1
48.484848       1
13.809220       1
12.328556       1
0.282844        1
9.939759        1
7.370343        1
Name: AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 17216, dtype: int64

In [43]:
prefix='b_'

data = ab.query("BUREAU_OVERDUE_CNT_ALL >0")
latest = data.groupby(unique_id)['DAYS_CREDIT'].max().reset_index()
latest['DAYS_CREDIT_2'] = latest['DAYS_CREDIT'] - 5
latest.drop('DAYS_CREDIT', axis=1, inplace=True)
data = data.merge(latest, on=unique_id, how='inner')
# data['filter'] = data['DAYS_CREDIT'] - data['DAYS_CREDIT_-2']
data = data.query('DAYS_CREDIT>=DAYS_CREDIT_2')
display(data[[unique_id, 'DAYS_CREDIT', 'TARGET']])
sys.exit()

data = data.merge(latest, on=[unique_id, 'DAYS_CREDIT', 'DAYS_ENDDATE'], how='inner').drop_duplicates()
print(data.shape)
print(data[unique_id].drop_duplicates().shape)
sys.exit()
    
data['DAYS_ENDDATE'].fillna(999, inplace=True)

' ACTIVE '
if prefix.count('ACT'):
    data = data.query('DAYS_ENDDATE>0')
elif prefix.count('CLO'):
    ' CLOSED '
    data = data.query('DAYS_ENDDATE<0')

df = data.groupby(unique_id)['LOAN_MONTHLY'].sum().reset_index()
df = df.merge(data.groupby(unique_id)['AMT_INCOME_TOTAL'].max().reset_index(), on=unique_id, how='inner')
df = division_feature(df=df, first='LOAN_MONTHLY', second='AMT_INCOME_TOTAL', sort=0)
make_feature(df=df, prefix=prefix)
    
# bureau_credit_agg(base=base, df=data)
del data

       SK_ID_CURR  DAYS_CREDIT  TARGET
0          179735        -71.0     0.0
1          114166        -12.0     1.0
4          154094         -8.0     0.0
6          127520        -44.0     0.0
8          299541         -8.0     0.0
9          210690        -19.0     1.0
14         208307        -38.0     0.0
17         208307        -40.0     0.0
23         257173        -38.0     1.0
25         351898        -11.0     NaN
27         351898        -16.0     NaN
33         236523        -15.0     0.0
35         415691        -59.0     0.0
36         315221        -20.0     NaN
37         315221        -20.0     NaN
38         331654        -14.0     0.0
39         326647        -10.0     NaN
40         326647         -8.0     NaN
41         363340         -2.0     NaN
42         363340         -4.0     NaN
46         197443        -11.0     NaN
47         180430         -3.0     NaN
49         350008         -8.0     0.0
50         350008         -8.0     0.0
51         223651         -1.0     0.0
53         261840        -21.0     NaN
54         261840        -19.0     NaN
55         192517        -11.0     0.0
57         234913         -3.0     0.0
58         234913         -8.0     0.0
59         106413        -16.0     NaN
60         106413        -15.0     NaN
61         227465         -6.0     0.0
62         119896        -20.0     NaN
66         360772        -41.0     0.0
68         342205        -13.0     0.0
70         342205        -16.0     0.0
71         342379         -2.0     0.0
73         163618         -9.0     NaN
75         105457        -11.0     0.0
76         105457        -13.0     0.0
77         105457        -12.0     0.0
78         212529         -2.0     1.0
81         237858        -24.0     0.0
82         349213         -3.0     0.0
83         367526        -24.0     NaN
84         116586        -17.0     NaN
85         181114         -5.0     NaN
87         406937         -9.0     NaN
90         182656        -10.0     0.0
...           ...          ...     ...
91261      154067        -90.0     0.0
91262      287510        -90.0     NaN
91263      287510        -90.0     NaN
91264      456071        -90.0     0.0
91265      422136        -90.0     1.0
91266      360847        -90.0     0.0
91267      360847        -90.0     0.0
91268      334263        -90.0     0.0
91269      451353        -90.0     0.0
91270      230297        -90.0     0.0
91271      148391        -90.0     0.0
91272      170377        -88.0     0.0
91273      149232        -87.0     0.0
91274      100201        -87.0     0.0
91275      445939        -89.0     0.0
91276      307816        -90.0     NaN
91277      179537        -90.0     NaN
91278      430540        -90.0     NaN
91279      188117        -90.0     NaN
91280      115368        -90.0     NaN
91281      268968        -90.0     0.0
91282      248557        -90.0     0.0
91283      331347        -90.0     NaN
91284      261697        -90.0     0.0
91285      236781        -80.0     0.0
91286      142832        -86.0     0.0
91287      105743        -81.0     0.0
91288      267053        -84.0     0.0
91290      354757        -81.0     NaN
91291      386960        -78.0     0.0
91292      140929        -66.0     0.0
91293      169540        -85.0     0.0
91294      151683        -81.0     0.0
91295      378653        -90.0     0.0
91296      304054        -90.0     0.0
91297      325136        -90.0     NaN
91298      214168        -90.0     0.0
91299      242509        -90.0     0.0
91300      283703        -88.0     0.0
91301      143278        -90.0     NaN
91302      449102        -90.0     0.0
91303      301625        -90.0     NaN
91304      145125        -90.0     1.0
91305      158456        -90.0     0.0
91306      259604        -77.0     0.0
91307      307629        -71.0     0.0
91308      371877        -86.0     0.0
91309      364583        -68.0     0.0
91310      383653        -90.0     0.0
91311      201175        -88.0     0.0

[59033 rows x 3 columns]

SystemExit:

/mnt/c/Users/gixo/go/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2971: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [8]:
def extract_same_during_annuity(row):

    remaing = row_list.copy()
    remaing.remove(row)
    
    ''' 
    tmp_resultは、ループで回ってきたrow_noを持ったレコードに絞ったDF。
    この後のremaing_loopでこのレコードと同じ期間を持ったレコードを絞り、UNIONしていく 
    '''
    tmp_result = bureau.query(f'row_no=={row}')[[unique_id, b_id, 'row_no']]
    tmp = bureau.query(f'row_no=={row}')[[unique_id, b_id, 'row_no', 'DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE']].rename(columns={'DAYS_CREDIT':'start', 'DAYS_CREDIT_ENDDATE':'end'})
    
    for rem in tqdm(remaing):
        tmp2 = bureau.query(f'row_no=={rem}')[[unique_id, b_id, 'row_no', 'DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE']].rename(columns={'DAYS_CREDIT':'start2', 'DAYS_CREDIT_ENDDATE':'end2', 'row_no':'same_term_row_no', b_id:'add_id'})
        
        ' rowの期間とremaingで回ってきた他の行の期間を比較する為、merge。 '
        df = tmp2.merge(tmp, on=unique_id, how='left')
        
        start = df['start'].values
        end = df['end'].values
        start2 = df['start2']
        end2 = df['end2']
        
        start2 = start2[start <= start2][start2 <= end].to_frame().reset_index()['index'].to_frame()
        end2 = end2[start <= end2][end2 <= end].to_frame().reset_index()['index'].to_frame()
        index = pd.concat([start2, end2], axis=0).drop_duplicates()
        index['include_flg'] = 1
        df.reset_index(inplace=True)
        same_term = df.merge(index, on='index', how='inner')[[unique_id, 'add_id', 'same_term_row_no']].rename(columns={'add_id':b_id, 'same_term_row_no':'row_no'})
        
        tmp_result = pd.concat([tmp_result, same_term], axis=0)
        
    # ここでbureauにmergeするのは、AMT_CREDITなどをつけるため
    target = bureau.merge(tmp_result, on=[unique_id, b_id, 'row_no'], how='inner')
    target['serial_no'] = row
    print(row)
    return target

In [11]:
def pararell_same_during_annuity(base, app, bureau):
    '''
    同時期に支払いの生じていたbureau_idをまとめ、月あたり支払額の合計を作る。
    延滞を起こしたbureauについて、同時期に支払っていた金額を求める。また、それをINCOMEで割る。
    同時期に無理な割合の支払額を持っていたのではないか？という仮説
    '''
    
    value = 'LOAN_MONTHLY'
#     value = 'PAYMENT_MONTHLY'
    ' DAYS_CREDIT_ENDDATEがNaNの場合、仮決めで3ヶ月後を完了日とする '
    bureau['ENDDATE_CREDIT'] = bureau['ENDDATE_CREDIT'].fillna(3)
    
    p_list = pararell_process(extract_same_during_annuity, row_list)
    
    # 同時期のセットが3つとすると、それが3回ループでやってくるが、重み付き平均チックなのが良いので3つとも積んで平均とる
    print(len(p_list))
    result = pd.concat(p_list, axis=0)
    serial = result['serial_no'].min()
    
    result.to_csv(f'../data/csv_feature/{value}_same_term_feature_{serial}.csv', index=False)
    
# row_list = list(bureau['row_no'].drop_duplicates())
row_list = list(range(1,11,1))
# row_list = list(range(11,78,1))
# pararell_same_during_annuity(base, app, bureau)

a = pd.read_csv('../data/csv_feature/LOAN_MONTHLY_same_term_feature_1.csv')
b = pd.read_csv('../data/csv_feature/LOAN_MONTHLY_same_term_feature_11.csv')
result = pd.concat([a,b], axis=0)
result.to_csv(f'../data/csv_feature/LOAN_MONTHLY_same_during_feature.csv', index=False)

In [18]:
bureau_num = [
    'AMT_CREDIT_MAX_OVERDUE'
    ,'AMT_CREDIT_SUM'
    ,'AMT_CREDIT_SUM_DEBT'
    ,'AMT_CREDIT_SUM_LIMIT'
    ,'AMT_CREDIT_SUM_OVERDUE'
    ,'AMT_ANNUITY'
    ,'DAYS_CREDIT'
    ,'DAYS_CREDIT_ENDDATE'
    ,'DAYS_CREDIT_UPDATE'
    ,'DAYS_ENDDATE_FACT'
    ,'CREDIT_DAY_OVERDUE'
    ,'LOAN_MONTHLY'
    ,'End_CREDIT_MONTHLY'
]

# bureau_num = [
#     'AMT_CREDIT_SUM_per_INCOME'
#     , 'AMT_ANNUITY_per_INCOME'
#     , 'LOAN_MONTHLY_per_INCOME'
# ]

method_list = [
    'sum', 
    'mean'
    , 'std'
    , 'max'
    , 'min'
]

' 延滞してるレコードのみに絞って集計 '
def extarct_record(df):
#     df = df.query('over_flg==1')
    df = df.query('progress_flg==1')
#     prefix = 'bc_over_'
    prefix = 'bc_prog_'
    
    for num in bureau_num:
    
        for method in method_list:
            result = base_aggregation(df, unique_id, num, method, prefix)
            result = base.merge(result, on=unique_id, how='left')
            make_npy(result, ignore_features)

# extarct_record(bureau_clean)

In [28]:
bureau_num = [
    'AMT_CREDIT_MAX_OVERDUE'
    ,'AMT_CREDIT_SUM'
    ,'AMT_CREDIT_SUM_DEBT'
    ,'AMT_CREDIT_SUM_LIMIT'
    ,'AMT_CREDIT_SUM_OVERDUE'
    ,'AMT_ANNUITY'
    ,'DAYS_CREDIT'
    ,'DAYS_CREDIT_ENDDATE'
    ,'DAYS_CREDIT_UPDATE'
    ,'DAYS_ENDDATE_FACT'
    ,'CREDIT_DAY_OVERDUE'
    ,'LOAN_MONTHLY'
    ,'END_CREDIT_MONTHLY'
]

bureau_num = [
    'AMT_CREDIT_SUM_per_INCOME'
    , 'AMT_ANNUITY_per_INCOME'
    , 'LOAN_MONTHLY_per_INCOME'
]

method_list = [
    'sum', 
    'mean'
    , 'std'
    , 'max'
    , 'min'
]

' 延滞or現在の契約のレコードでそれぞれ集計し、差と比をとる'
def extarct_record(df):
    df_over = df.query('over_flg==1')
    df_prog = df.query('progress_flg==1')
#     prefix = 'bc_over_'
    prefix = 'bc_diff_over-prog_'
#     prefix = 'bc_ratio_over-prog_'
    
    for num in bureau_num:
    
        for method in method_list:
            result_over = base_aggregation(df_over, unique_id, num, method, prefix)
            result_over = base.merge(result_over, on=unique_id, how='left')
            
            result_prog = base_aggregation(df_prog, unique_id, num, method, prefix)
            result_prog = base.merge(result_prog, on=unique_id, how='left')
            
            feature_name = [col for col in result_over.columns if col.count('@')][0]
            result_over[feature_name] = result_over[feature_name] - result_prog[feature_name]
#             result_over[feature_name] = result_over[feature_name] / result_prog[feature_name]
            
            make_npy(result_over, ignore_features)

extarct_record(bureau_app)

../../../github/module/feature_engineering.py:56: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  result = df.groupby(level)[feature].agg({'tmp': {method}})

(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)
(356255, 2)