In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
import datetime
import glob ,sys , re
from multiprocessing import Pool
import multiprocessing
from categorical_encoding import select_category_value_agg, select_level_agg
from mv_wg_avg import exp_weight_avg

sys.path.append('../../../github/module/')
from preprocessing import set_validation, split_dataset, get_dummies, factorize_categoricals
from convinience_function import get_categorical_features, get_numeric_features, row_number, pararell_process
from logger import logger_func
from feature_engineering import base_aggregation, diff_feature, division_feature
from make_file import make_npy
from tqdm import tqdm

logger = logger_func()
start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 101)

unique_id = 'SK_ID_CURR'
p_id = 'SK_ID_PREV'
target = 'TARGET'
ignore_features = [unique_id, target, 'valid_no', 'valid_no_2', 'is_train', 'is_test', 'SK_ID_PREV']

2018-07-08 16:33:11,321 logger 19 [INFO]    [logger_func] start
2018-07-08 16:33:11,339 logger 19 [INFO]    [logger_func] start
2018-07-08 16:33:11,339 logger 19 [INFO]    [logger_func] start

In [2]:
base = pd.read_csv('../data/base.csv')[unique_id].to_frame()
prev = pd.read_csv('../data/previous_cleansing.csv')
app = pd.read_csv('../data/application_train_test.csv')

' applicationとmerge '
ext_avg = pd.Series(np.load('../features/3_winner/a_EXT_SOURCE_avg@.npy'), name='a_EXT_SOURCE_avg@')
app['a_EXT_SOURCE_avg@'] = ext_avg
app_list = [unique_id, 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'AMT_GOODS_PRICE', 'a_EXT_SOURCE_avg@']
app = app[app_list]

for col in app.columns:
    if col.count('AMT'):
        app.rename(columns = {col:f'app_{col}'}, inplace=True)
        
prev_app = prev.merge(app, on=unique_id, how='inner')

In [3]:
level = unique_id
method_list = [
    'sum',
    'mean',
    'max',
    'min',
    'std'
]
days_list = [
    'DAYS_DECISION',
    'DAYS_FIRST_DRAWING',
    'DAYS_FIRST_DUE',
    'DAYS_LAST_DUE_1ST_VERSION',
    'DAYS_LAST_DUE',
    'DAYS_TERMINATION',
    'DAYS_lastplan_month',
    'DAYS_original_last_due',
    'DAYS_LAST_DUE_diff_lastplan_month',
    'DAYS_term_month',
    'DAYS_term_month_1st'
]
amt_list = [
    'AMT_ANNUITY',
    'AMT_APPLICATION',
    'AMT_CREDIT',
    'AMT_DOWN_PAYMENT',
    'cnt_annuity'
]
elem_list = [
    'CNT_PAYMENT' ,
    'DAYS_term_month',
    'cnt_annuity',
    'DAYS_term_month_1st',
]

In [4]:
' 使うfeatureを先に作成しておく '
dataset = prev_app

" last_due - (decision + (amt_credit_div_amt_annuity)) 実際の完了日と支払額から月毎の返済として逆算した場合の月数の差 "
dataset['DAYS_lastplan_month'] =  dataset[days_list[0]] + ( dataset[amt_list[2]] / dataset[amt_list[0]] ) 
dataset['DAYS_LAST_DUE_diff_lastplan_month'] = dataset[days_list[4]] - dataset['DAYS_lastplan_month']
dataset['DAYS_original_last_due'] = dataset[days_list[0:7]].apply(lambda x: x[4] if x[4]==x[4] else x[3] if x[3]==x[3] else x[6], axis=1)

' first_due - decision '
dataset = diff_feature(df=dataset, first=days_list[0], second=days_list[2])
' last_due - due_1st_version '
dataset = diff_feature(df=dataset, first=days_list[3], second=days_list[4])
' termination - last_due '
dataset = diff_feature(df=dataset, first=days_list[4], second=days_list[5])
' decision - last_due '
dataset['DAYS_term_month'] = dataset[days_list[4]] - dataset[days_list[0]]
' decision - last_due_1st '
dataset['DAYS_term_month_1st'] = dataset[days_list[3]] - dataset[days_list[0]]

' credit / application '
dataset = division_feature(df=dataset, first=amt_list[2], second=amt_list[1])
' credit / annuity '
dataset['cnt_annuity'] = dataset[amt_list[2]] / dataset[amt_list[0]]
' cnt_annuity - cnt_payment  '
dataset = diff_feature(df=dataset, first=elem_list[2], second=elem_list[0])

' amt_credit / term_month 月あたり支払額⇒予定より早く終了してる人が多くいるから'
dataset['AMT_CREDIT_div_term_month'] = dataset[amt_list[2]] / dataset[amt_list[1]]
' amt_credit / term_month_1st 月あたり支払額'
dataset['AMT_CREDIT_div_term_month_1st'] = dataset[amt_list[2]] / dataset[amt_list[3]]

In [5]:
' applicationとの組み合わせfeatureを先に作成しておく '
dataset = prev_app

dataset = division_feature(df=dataset, first='app_AMT_INCOME_TOTAL', second='AMT_CREDIT')
dataset = division_feature(df=dataset, first='app_AMT_INCOME_TOTAL', second='AMT_APPLICATION')
dataset = division_feature(df=dataset, first='app_AMT_INCOME_TOTAL', second='AMT_ANNUITY')

In [6]:
dataset = prev_app
status = 'NAME_CONTRACT_STATUS'

' Approveされたデータ '
approve = dataset.query("NAME_CONTRACT_STATUS=='Approved'")
' Refuseされたデータ '
refuse = dataset.query("NAME_CONTRACT_STATUS=='Refused'")
cancel = dataset.query("NAME_CONTRACT_STATUS=='Canceled'")
unuse = dataset.query("NAME_CONTRACT_STATUS=='Unused offer'")

In [14]:
category = 'CHANNEL_TYPE'
a = prev_app.query('TARGET!=-1')[[unique_id, target, category]].drop_duplicates().groupby([category])[target].mean().sort_values(ascending=False)
b = prev_app[category].value_counts()
c = pd.concat([a, b], axis=1).sort_values(by=target, ascending=False)
display(c)

                              TARGET  CHANNEL_TYPE
AP+ (Cash loan)             0.112792         57046
Contact center              0.095658         71297
Credit and cash offices     0.083328        719968
Country-wide                0.081940        494690
Regional / Local            0.076057        108528
Stone                       0.074257        212083
Channel of corporate sales  0.057130          6150
Car dealer                  0.047170           452

In [39]:
prev_app['LOAN_RISK_TYPE'] = prev_app['NAME_CASH_LOAN_PURPOSE'].map(risk_type)
prev_app['REJECT_TYPE'] = prev_app['CODE_REJECT_REASON'].map(lambda x: 'XAP' if x=='SYSTEM' else 'XNA' if x=='VERIF' else x)

In [106]:
' 粒度を指定して集計する '
prefix = 'p_APR_YEAR_'
# prefix = 'p_NEW_YEAR_'
level = [unique_id]
data = apr_year
feature_list = ['SELLERPLACE_AREA']
select_level_agg(base=base, data=data, level=level, num_list=feature_list, method_list=method_list, ignore_list=ignore_features, prefix=prefix)

2018-07-06 21:51:34,897 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: sum
['SK_ID_CURR']
2018-07-06 21:51:34,897 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: sum
['SK_ID_CURR']
../../../github/module/feature_engineering.py:26: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  result = df.groupby(level)[feature].agg({'tmp': {method}})
2018-07-06 21:51:34,954 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:34,954 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,038 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,038 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,052 logger 29 [INFO]    [make_npy] 0.0        49648
100.0       5956
50.0        5802
30.0        4341
20.0        4169
40.0        3288
200.0       2691
150.0       2197
60.0        1923
10.0        1888
25.0        1815
15.0        1786
300.0       1595
80.0        1465
1000.0      1390
70.0        1201
35.0        1144
4.0         1121
2000.0      1064
5.0         1055
500.0        946
45.0         860
1500.0       819
250.0        795
400.0        758
120.0        756
4782.0       636
6.0          607
600.0        576
90.0         562
3000.0       531
140.0        475
2.0          468
32.0         463
8.0          444
3.0          442
130.0        440
55.0         439
1.0          435
12.0         421
4000.0       403
1200.0       386
24.0         380
110.0        349
36.0         340
145.0        321
34.0         318
65.0         314
800.0        313
1600.0       311
           ...
5871.0         1
5878.0         1
2997.0         1
1062.0         1
2096.0         1
766.0          1
1501.0         1
3003.0         1
6008.0         1
7616.0         1
3780.0         1
3005.0         1
3007.0         1
11264.0        1
3012.0         1
12050.0        1
1507.0         1
3015.0         1
6031.0         1
6035.0         1
3018.0         1
3021.0         1
3025.0         1
457.0          1
538.0          1
2996.0         1
6480.0         1
1497.0         1
3556.0         1
2945.0         1
4700.0         1
2957.0         1
5916.0         1
4128.0         1
2965.0         1
2967.0         1
2970.0         1
1292.0         1
3552.0         1
711.0          1
2325.0         1
2978.0         1
1490.0         1
1571.0         1
1491.0         1
2992.0         1
11935.0        1
11940.0        1
2656.0         1
4132.0         1
Name: SELLERPLACE_AREA_sum@['SK_ID_CURR'], Length: 3063, dtype: int64
2018-07-06 21:51:35,052 logger 29 [INFO]    [make_npy] 0.0        49648
100.0       5956
50.0        5802
30.0        4341
20.0        4169
40.0        3288
200.0       2691
150.0       2197
60.0        1923
10.0        1888
25.0        1815
15.0        1786
300.0       1595
80.0        1465
1000.0      1390
70.0        1201
35.0        1144
4.0         1121
2000.0      1064
5.0         1055
500.0        946
45.0         860
1500.0       819
250.0        795
400.0        758
120.0        756
4782.0       636
6.0          607
600.0        576
90.0         562
3000.0       531
140.0        475
2.0          468
32.0         463
8.0          444
3.0          442
130.0        440
55.0         439
1.0          435
12.0         421
4000.0       403
1200.0       386
24.0         380
110.0        349
36.0         340
145.0        321
34.0         318
65.0         314
800.0        313
1600.0       311
           ...
5871.0         1
5878.0         1
2997.0         1
1062.0         1
2096.0         1
766.0          1
1501.0         1
3003.0         1
6008.0         1
7616.0         1
3780.0         1
3005.0         1
3007.0         1
11264.0        1
3012.0         1
12050.0        1
1507.0         1
3015.0         1
6031.0         1
6035.0         1
3018.0         1
3021.0         1
3025.0         1
457.0          1
538.0          1
2996.0         1
6480.0         1
1497.0         1
3556.0         1
2945.0         1
4700.0         1
2957.0         1
5916.0         1
4128.0         1
2965.0         1
2967.0         1
2970.0         1
1292.0         1
3552.0         1
711.0          1
2325.0         1
2978.0         1
1490.0         1
1571.0         1
1491.0         1
2992.0         1
11935.0        1
11940.0        1
2656.0         1
4132.0         1
Name: SELLERPLACE_AREA_sum@['SK_ID_CURR'], Length: 3063, dtype: int64
2018-07-06 21:51:35,072 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: mean
['SK_ID_CURR']
2018-07-06 21:51:35,072 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: mean
['SK_ID_CURR']
2018-07-06 21:51:35,119 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,119 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,195 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,195 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,205 logger 29 [INFO]    [make_npy] 50.000000      6195
100.000000     6152
30.000000      4559
20.000000      4383
40.000000      3334
0.000000       2468
150.000000     2406
200.000000     2285
15.000000      2018
25.000000      2004
10.000000      1850
60.000000      1709
1000.000000    1572
300.000000     1474
4.000000       1384
5.000000       1319
35.000000      1312
80.000000      1268
70.000000      1142
1500.000000    1078
2000.000000     977
45.000000       961
500.000000      958
4782.000000     829
250.000000      823
6.000000        591
120.000000      589
3.000000        545
1.000000        529
400.000000      524
32.000000       487
55.000000       468
2.000000        467
90.000000       462
1200.000000     399
140.000000      396
65.000000       380
24.000000       372
36.000000       363
12.000000       363
130.000000      360
145.000000      354
600.000000      349
75.000000       348
1600.000000     345
34.000000       345
18.000000       313
2200.000000     312
3000.000000     309
21.000000       298
               ...
817.666667        1
1438.500000       1
1098.000000       1
1287.000000       1
77.333333         1
1056.500000       1
2882.000000       1
228.250000        1
720.750000        1
243.750000        1
1627.666667       1
2084.000000       1
3258.333333       1
1445.000000       1
2428.000000       1
1628.666667       1
1823.500000       1
1428.000000       1
1728.000000       1
411.666667        1
715.500000        1
218.333333        1
708.500000        1
2486.400000       1
844.000000        1
1418.500000       1
228.200000        1
167.666667        1
1835.000000       1
412.666667        1
1420.500000       1
619.666667        1
355.250000        1
711.500000        1
2476.666667       1
668.500000        1
620.666667        1
1641.666667       1
1647.333333       1
178.250000        1
2080.000000       1
386.250000        1
311.666667        1
205.666667        1
66.285714         1
714.500000        1
821.666667        1
956.000000        1
915.500000        1
512.666667        1
Name: SELLERPLACE_AREA_mean@['SK_ID_CURR'], Length: 3686, dtype: int64
2018-07-06 21:51:35,205 logger 29 [INFO]    [make_npy] 50.000000      6195
100.000000     6152
30.000000      4559
20.000000      4383
40.000000      3334
0.000000       2468
150.000000     2406
200.000000     2285
15.000000      2018
25.000000      2004
10.000000      1850
60.000000      1709
1000.000000    1572
300.000000     1474
4.000000       1384
5.000000       1319
35.000000      1312
80.000000      1268
70.000000      1142
1500.000000    1078
2000.000000     977
45.000000       961
500.000000      958
4782.000000     829
250.000000      823
6.000000        591
120.000000      589
3.000000        545
1.000000        529
400.000000      524
32.000000       487
55.000000       468
2.000000        467
90.000000       462
1200.000000     399
140.000000      396
65.000000       380
24.000000       372
36.000000       363
12.000000       363
130.000000      360
145.000000      354
600.000000      349
75.000000       348
1600.000000     345
34.000000       345
18.000000       313
2200.000000     312
3000.000000     309
21.000000       298
               ...
817.666667        1
1438.500000       1
1098.000000       1
1287.000000       1
77.333333         1
1056.500000       1
2882.000000       1
228.250000        1
720.750000        1
243.750000        1
1627.666667       1
2084.000000       1
3258.333333       1
1445.000000       1
2428.000000       1
1628.666667       1
1823.500000       1
1428.000000       1
1728.000000       1
411.666667        1
715.500000        1
218.333333        1
708.500000        1
2486.400000       1
844.000000        1
1418.500000       1
228.200000        1
167.666667        1
1835.000000       1
412.666667        1
1420.500000       1
619.666667        1
355.250000        1
711.500000        1
2476.666667       1
668.500000        1
620.666667        1
1641.666667       1
1647.333333       1
178.250000        1
2080.000000       1
386.250000        1
311.666667        1
205.666667        1
66.285714         1
714.500000        1
821.666667        1
956.000000        1
915.500000        1
512.666667        1
Name: SELLERPLACE_AREA_mean@['SK_ID_CURR'], Length: 3686, dtype: int64

2018-07-06 21:51:35,252 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: max
['SK_ID_CURR']
2018-07-06 21:51:35,252 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: max
['SK_ID_CURR']
2018-07-06 21:51:35,297 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,297 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,366 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,366 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,374 logger 29 [INFO]    [make_npy] 100.0     7124
50.0      6882
30.0      4750
20.0      4526
40.0      3501
150.0     2875
200.0     2821
0.0       2468
15.0      2019
25.0      2006
1000.0    1965
10.0      1865
300.0     1818
60.0      1812
80.0      1405
4.0       1382
1500.0    1340
5.0       1327
35.0      1239
70.0      1235
2000.0    1182
500.0     1131
4782.0    1096
250.0      988
45.0       940
120.0      659
400.0      622
6.0        600
3.0        549
1.0        527
32.0       507
2.0        467
90.0       467
1200.0     462
1600.0     445
145.0      434
140.0      433
55.0       416
600.0      414
130.0      414
3000.0     385
2200.0     380
24.0       370
36.0       352
34.0       352
12.0       346
800.0      324
42.0       316
33.0       302
18.0       295
          ...
910.0        1
357.0        1
338.0        1
399.0        1
2796.0       1
2237.0       1
2233.0       1
703.0        1
956.0        1
915.0        1
557.0        1
914.0        1
591.0        1
419.0        1
349.0        1
353.0        1
451.0        1
796.0        1
707.0        1
3200.0       1
804.0        1
395.0        1
211.0        1
913.0        1
855.0        1
3220.0       1
856.0        1
462.0        1
1742.0       1
1157.0       1
578.0        1
1950.0       1
587.0        1
1663.0       1
284.0        1
1716.0       1
575.0        1
1276.0       1
3710.0       1
1564.0       1
824.0        1
799.0        1
571.0        1
678.0        1
797.0        1
746.0        1
663.0        1
1959.0       1
414.0        1
3800.0       1
Name: SELLERPLACE_AREA_max@['SK_ID_CURR'], Length: 1052, dtype: int64
2018-07-06 21:51:35,374 logger 29 [INFO]    [make_npy] 100.0     7124
50.0      6882
30.0      4750
20.0      4526
40.0      3501
150.0     2875
200.0     2821
0.0       2468
15.0      2019
25.0      2006
1000.0    1965
10.0      1865
300.0     1818
60.0      1812
80.0      1405
4.0       1382
1500.0    1340
5.0       1327
35.0      1239
70.0      1235
2000.0    1182
500.0     1131
4782.0    1096
250.0      988
45.0       940
120.0      659
400.0      622
6.0        600
3.0        549
1.0        527
32.0       507
2.0        467
90.0       467
1200.0     462
1600.0     445
145.0      434
140.0      433
55.0       416
600.0      414
130.0      414
3000.0     385
2200.0     380
24.0       370
36.0       352
34.0       352
12.0       346
800.0      324
42.0       316
33.0       302
18.0       295
          ...
910.0        1
357.0        1
338.0        1
399.0        1
2796.0       1
2237.0       1
2233.0       1
703.0        1
956.0        1
915.0        1
557.0        1
914.0        1
591.0        1
419.0        1
349.0        1
353.0        1
451.0        1
796.0        1
707.0        1
3200.0       1
804.0        1
395.0        1
211.0        1
913.0        1
855.0        1
3220.0       1
856.0        1
462.0        1
1742.0       1
1157.0       1
578.0        1
1950.0       1
587.0        1
1663.0       1
284.0        1
1716.0       1
575.0        1
1276.0       1
3710.0       1
1564.0       1
824.0        1
799.0        1
571.0        1
678.0        1
797.0        1
746.0        1
663.0        1
1959.0       1
414.0        1
3800.0       1
Name: SELLERPLACE_AREA_max@['SK_ID_CURR'], Length: 1052, dtype: int64
2018-07-06 21:51:35,428 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: min
['SK_ID_CURR']
2018-07-06 21:51:35,428 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: min
['SK_ID_CURR']
2018-07-06 21:51:35,473 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,473 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,541 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,541 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,549 logger 29 [INFO]    [make_npy] 50.0      7140
100.0     6843
30.0      5543
20.0      5413
40.0      3912
0.0       2994
150.0     2577
15.0      2501
200.0     2425
10.0      2340
25.0      2324
60.0      1842
4.0       1716
5.0       1661
1000.0    1618
300.0     1526
35.0      1402
80.0      1341
70.0      1247
1500.0    1085
45.0      1028
2000.0     982
500.0      958
250.0      851
4782.0     829
6.0        746
3.0        708
1.0        685
120.0      609
2.0        598
32.0       554
400.0      538
24.0       455
12.0       452
90.0       448
36.0       427
55.0       422
34.0       408
1200.0     402
140.0      401
145.0      378
130.0      370
18.0       368
21.0       344
1600.0     343
600.0      338
23.0       329
42.0       326
17.0       318
2200.0     317
          ...
442.0        1
632.0        1
562.0        1
941.0        1
856.0        1
579.0        1
578.0        1
968.0        1
284.0        1
404.0        1
1276.0       1
571.0        1
1948.0       1
746.0        1
334.0        1
910.0        1
914.0        1
675.0        1
1178.0       1
3800.0       1
956.0        1
2796.0       1
2508.0       1
454.0        1
3220.0       1
3641.0       1
462.0        1
668.0        1
318.0        1
2714.0       1
913.0        1
678.0        1
1012.0       1
915.0        1
666.0        1
1253.0       1
1604.0       1
338.0        1
502.0        1
358.0        1
3710.0       1
428.0        1
1824.0       1
639.0        1
638.0        1
1275.0       1
1273.0       1
614.0        1
466.0        1
3673.0       1
Name: SELLERPLACE_AREA_min@['SK_ID_CURR'], Length: 1017, dtype: int64
2018-07-06 21:51:35,549 logger 29 [INFO]    [make_npy] 50.0      7140
100.0     6843
30.0      5543
20.0      5413
40.0      3912
0.0       2994
150.0     2577
15.0      2501
200.0     2425
10.0      2340
25.0      2324
60.0      1842
4.0       1716
5.0       1661
1000.0    1618
300.0     1526
35.0      1402
80.0      1341
70.0      1247
1500.0    1085
45.0      1028
2000.0     982
500.0      958
250.0      851
4782.0     829
6.0        746
3.0        708
1.0        685
120.0      609
2.0        598
32.0       554
400.0      538
24.0       455
12.0       452
90.0       448
36.0       427
55.0       422
34.0       408
1200.0     402
140.0      401
145.0      378
130.0      370
18.0       368
21.0       344
1600.0     343
600.0      338
23.0       329
42.0       326
17.0       318
2200.0     317
          ...
442.0        1
632.0        1
562.0        1
941.0        1
856.0        1
579.0        1
578.0        1
968.0        1
284.0        1
404.0        1
1276.0       1
571.0        1
1948.0       1
746.0        1
334.0        1
910.0        1
914.0        1
675.0        1
1178.0       1
3800.0       1
956.0        1
2796.0       1
2508.0       1
454.0        1
3220.0       1
3641.0       1
462.0        1
668.0        1
318.0        1
2714.0       1
913.0        1
678.0        1
1012.0       1
915.0        1
666.0        1
1253.0       1
1604.0       1
338.0        1
502.0        1
358.0        1
3710.0       1
428.0        1
1824.0       1
639.0        1
638.0        1
1275.0       1
1273.0       1
614.0        1
466.0        1
3673.0       1
Name: SELLERPLACE_AREA_min@['SK_ID_CURR'], Length: 1017, dtype: int64
2018-07-06 21:51:35,596 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: std
['SK_ID_CURR']

2018-07-06 21:51:35,596 logger 125 [INFO]    [select_level_agg]
num: SELLERPLACE_AREA
method: std
['SK_ID_CURR']
2018-07-06 21:51:35,653 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,653 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'SELLERPLACE_AREA_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 21:51:35,723 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,723 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 21:51:35,729 logger 29 [INFO]    [make_npy] 0.000000       12497
7.071068         303
14.142136        277
35.355339        266
21.213203        246
3.535534         183
10.606602        167
28.284271        154
17.677670        134
70.710678        133
49.497475        121
24.748737        104
56.568542        104
42.426407        102
106.066017        94
31.819805         70
2.121320          68
11.313708         67
1.414214          65
63.639610         65
141.421356        64
84.852814         57
12.727922         55
8.485281          54
38.890873         54
9.899495          54
23.334524         54
91.923882         53
53.033009         52
17.320508         52
14.849242         51
2.828427          50
16.970563         49
45.961941         49
15.556349         48
28.867513         48
9.192388          47
57.735027         46
0.707107          46
4.242641          45
13.435029         45
4.949747          44
176.776695        42
60.104076         42
5.656854          42
6.363961          41
22.627417         41
24.041631         41
18.384776         41
7.778175          40
               ...
2740.722776        1
1851.205553        1
1626.500000        1
87.323155          1
982.896400         1
1066.317026        1
58.594653          1
187.638837         1
14.361407          1
236.880772         1
1314.511506        1
195.721741         1
604.576298         1
699.748526         1
340.825469         1
907.218000         1
18.912077          1
24.110855          1
442.648845         1
1499.066376        1
885.297690         1
99.035347          1
22.500000          1
22.188586          1
678.540345         1
52.306787          1
171.884651         1
65.871086          1
886.711904         1
1336.431816        1
1460.882610        1
59.785032          1
364.867099         1
68.537095          1
26.457513          1
824.456184         1
1011.644206        1
362.519425         1
26.083200          1
1807.364933        1
107.741976         1
526.087445         1
853.323698         1
1217.074498        1
857.365150         1
815.129642         1
781.352993         1
680.695967         1
51.000000          1
17.214335          1
Name: SELLERPLACE_AREA_std@['SK_ID_CURR'], Length: 4138, dtype: int64
2018-07-06 21:51:35,729 logger 29 [INFO]    [make_npy] 0.000000       12497
7.071068         303
14.142136        277
35.355339        266
21.213203        246
3.535534         183
10.606602        167
28.284271        154
17.677670        134
70.710678        133
49.497475        121
24.748737        104
56.568542        104
42.426407        102
106.066017        94
31.819805         70
2.121320          68
11.313708         67
1.414214          65
63.639610         65
141.421356        64
84.852814         57
12.727922         55
8.485281          54
38.890873         54
9.899495          54
23.334524         54
91.923882         53
53.033009         52
17.320508         52
14.849242         51
2.828427          50
16.970563         49
45.961941         49
15.556349         48
28.867513         48
9.192388          47
57.735027         46
0.707107          46
4.242641          45
13.435029         45
4.949747          44
176.776695        42
60.104076         42
5.656854          42
6.363961          41
22.627417         41
24.041631         41
18.384776         41
7.778175          40
               ...
2740.722776        1
1851.205553        1
1626.500000        1
87.323155          1
982.896400         1
1066.317026        1
58.594653          1
187.638837         1
14.361407          1
236.880772         1
1314.511506        1
195.721741         1
604.576298         1
699.748526         1
340.825469         1
907.218000         1
18.912077          1
24.110855          1
442.648845         1
1499.066376        1
885.297690         1
99.035347          1
22.500000          1
22.188586          1
678.540345         1
52.306787          1
171.884651         1
65.871086          1
886.711904         1
1336.431816        1
1460.882610        1
59.785032          1
364.867099         1
68.537095          1
26.457513          1
824.456184         1
1011.644206        1
362.519425         1
26.083200          1
1807.364933        1
107.741976         1
526.087445         1
853.323698         1
1217.074498        1
857.365150         1
815.129642         1
781.352993         1
680.695967         1
51.000000          1
17.214335          1
Name: SELLERPLACE_AREA_std@['SK_ID_CURR'], Length: 4138, dtype: int64

In [ ]:
prefix = 'p_'
dataset = prev_app
' 重み付き平均 '
weight_list = [0.99, 0.97, 0.95, 0.9]
feature_list = amt_list
# feature_list =['AMT_APPLICATION_div_app_AMT_INCOME_TOTAL@', 'AMT_CREDIT_div_app_AMT_INCOME_TOTAL@', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@' ]
for num in feature_list:
    for weight in weight_list:
        prev_wavg = exp_weight_avg(data=dataset, level=unique_id, weight=weight, label='DAYS_DECISION', value=num)
        result = base.merge(prev_wavg.to_frame().reset_index(), on=unique_id, how='left').fillna(0)
        make_npy(logger=logger, result=result, ignore_list=ignore_features, prefix=prefix)

In [42]:
approve.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,TARGET,valid_no,is_train,is_test,diff,weight
0,2462805,299809,Cash loans,9842.400,90000.0,90000.0,NaN,90000.0,THURSDAY,13,Y,1.0,NaN,NaN,NaN,XNA,Approved,-75.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash Street: high,-75.0,-74.0,-63.0,-63.0,-63.0,0.0,0,3.0,1,0,75.0,0.470587
1,1626275,426902,Cash loans,5246.010,45000.0,47970.0,NaN,45000.0,THURSDAY,15,Y,1.0,NaN,NaN,NaN,XNA,Approved,-74.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash Street: high,-74.0,-73.0,-62.0,-62.0,-62.0,1.0,0,3.0,1,0,74.0,0.475340
2,1983905,157753,Cash loans,8610.120,112500.0,127350.0,NaN,112500.0,THURSDAY,14,Y,1.0,NaN,NaN,NaN,XNA,Approved,-74.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,high,Cash Street: high,-74.0,-73.0,-50.0,-50.0,-50.0,1.0,0,4.0,1,0,74.0,0.475340
3,2462807,343731,Cash loans,17887.500,225000.0,225000.0,NaN,225000.0,THURSDAY,12,Y,1.0,NaN,NaN,NaN,XNA,Approved,-77.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,18.0,middle,Cash Street: middle,-77.0,-76.0,-59.0,-59.0,-59.0,0.0,0,2.0,1,0,77.0,0.461222
4,2006470,429750,Cash loans,19681.965,270000.0,299938.5,NaN,270000.0,THURSDAY,18,Y,1.0,NaN,NaN,NaN,XNA,Approved,-80.0,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,middle,Cash Street: middle,-84.0,-83.0,-60.0,-64.0,-64.0,1.0,-1,-1.0,0,1,80.0,0.447523

In [93]:
dataset = cash_halfyear

" last_due - (decision + (amt_credit_div_amt_annuity)) 実際の完了日と支払額から月毎の返済として逆算した場合の月数の差 "
dataset['DAYS_lastplan_month'] =  dataset[days_list[0]] + ( dataset[amt_list[2]] / dataset[amt_list[0]] ) 
dataset['DAYS_LAST_DUE_diff_lastplan_month'] = dataset[days_list[4]] - dataset['DAYS_lastplan_month']
dataset['DAYS_original_last_due'] = dataset[days_list[0:7]].apply(lambda x: x[4] if x[4]==x[4] else x[3] if x[3]==x[3] else x[6], axis=1)

' first_due - decision '
dataset = diff_feature(df=dataset, first=days_list[0], second=days_list[2])
' last_due - due_1st_version '
dataset = diff_feature(df=dataset, first=days_list[3], second=days_list[4])
' termination - last_due '
dataset = diff_feature(df=dataset, first=days_list[4], second=days_list[5])
' decision - last_due '
dataset['DAYS_term_month'] = dataset[days_list[4]] - dataset[days_list[0]]
' decision - last_due_1st '
dataset['DAYS_term_month_1st'] = dataset[days_list[3]] - dataset[days_list[0]]

' credit / application '
dataset = division_feature(df=dataset, first=amt_list[2], second=amt_list[1])
' credit / annuity '
dataset['cnt_annuity'] = dataset[amt_list[2]] / dataset[amt_list[0]]
' cnt_annuity - cnt_payment  '
dataset = diff_feature(df=dataset, first=elem_list[2], second=elem_list[0])

' amt_credit / term_month 月あたり支払額⇒予定より早く終了してる人が多くいるから'
dataset['AMT_CREDIT_div_term_month'] = dataset[amt_list[2]] / dataset[amt_list[1]]
' amt_credit / term_month_1st 月あたり支払額'
dataset['AMT_CREDIT_div_term_month_1st'] = dataset[amt_list[2]] / dataset[amt_list[3]]

/mnt/c/Users/gixo/go/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/mnt/c/Users/gixo/go/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

IndexError: ('index out of bounds', 'occurred at index 997148')

In [91]:
def select_term(df, term):
    
    ' 直近1年に絞る '
    result = df.query(f'DAYS_DECISION >={term}')
    ' credit / application '
    result = division_feature(df=result, first=amt_list[2], second=amt_list[1])
    ' credit / annuity '
    result['cnt_annuity'] = result[amt_list[2]] / result[amt_list[0]]
    
    return result

cash_year = select_term(cash, -12)
cash_halfyear = select_term(cash, -6)

../../../github/module/feature_engineering.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[f'{f1}_div_{f2}@'] = df[f1] / df[f2]
/mnt/c/Users/gixo/go/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
new_ref[[unique_id, 'is_train', target]].query('is_train==1').drop_duplicates().shape

NameError: name 'new_ref' is not defined

In [46]:
'Refuseのfeature'
" last_due - (decision + (amt_credit_div_amt_annuity)) 実際の完了日と支払額から月毎の返済として逆算した場合の月数の差 "
refuse['DAYS_lastplan_month'] =  refuse[days_list[0]] + ( refuse[amt_list[2]] / refuse[amt_list[0]] ) 

# ' credit / application '
# refuse = division_feature(df=refuse, first=amt_list[2], second=amt_list[1])
# ' credit / annuity '
# refuse['cnt_annuity'] = refuse[amt_list[2]] / refuse[amt_list[0]]
# ' cnt_annuity - cnt_payment  '
# refuse = diff_feature(df=refuse, first=elem_list[2], second=elem_list[0])

/mnt/c/Users/gixo/go/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [55]:
level = unique_id
method_list = [
    'sum',
    'mean',
    'max',
    'min',
    'std'
]
feature_list = [
    'AMT_ANNUITY',
    'AMT_APPLICATION',
    'AMT_CREDIT',
    'AMT_CREDIT_div_AMT_APPLICATION@',
    'cnt_annuity'
#     'CNT_PAYMENT_diff_cnt_annuity@',
]

prefix = 'p_APR_'
prefix = 'p_REF_'
prefix = 'p_REF_HALFYEAR'
prefix = 'p_APR_YEAR'
feature_list = [col for col in refuse.columns if col.count('DAYS_')]
data = approve_year

select_level_agg(base=base, data=data, level=level, num_list=feature_list, method_list=method_list, ignore_list=ignore_features, prefix=prefix)

2018-07-06 08:04:13,932 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: sum
['SK_ID_CURR']
2018-07-06 08:04:13,932 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: sum
['SK_ID_CURR']
../../../github/module/feature_engineering.py:26: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  result = df.groupby(level)[feature].agg({'tmp': {method}})
2018-07-06 08:04:14,097 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,097 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,172 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,172 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,181 logger 29 [INFO]    [make_npy] -12.0    14603
-10.0    13559
-11.0    13364
-9.0     12239
-8.0     12115
-7.0     10247
-6.0      9735
-5.0      7824
-4.0      6425
-3.0      5057
 0.0      4283
-2.0      4226
-16.0     3947
-1.0      3824
-18.0     3710
-14.0     3577
-20.0     3307
-22.0     2640
-17.0     2103
-15.0     2052
-24.0     2038
-13.0     1974
-19.0     1793
-21.0     1369
-23.0      846
-26.0      499
-25.0      481
-27.0      475
-28.0      402
-30.0      353
-29.0      314
-32.0      231
-31.0      212
-33.0      206
-34.0      157
-36.0      128
-35.0      116
-38.0       62
-37.0       50
-40.0       39
-41.0       34
-42.0       33
-39.0       28
-43.0       23
-44.0       19
-45.0       17
-47.0       14
-46.0       13
-48.0       11
-51.0        6
-52.0        6
-50.0        5
-49.0        5
-54.0        4
-60.0        2
-57.0        2
-55.0        2
-58.0        1
-53.0        1
-56.0        1
-70.0        1
-62.0        1
-66.0        1
-71.0        1
Name: DAYS_DECISION_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:14,181 logger 29 [INFO]    [make_npy] -12.0    14603
-10.0    13559
-11.0    13364
-9.0     12239
-8.0     12115
-7.0     10247
-6.0      9735
-5.0      7824
-4.0      6425
-3.0      5057
 0.0      4283
-2.0      4226
-16.0     3947
-1.0      3824
-18.0     3710
-14.0     3577
-20.0     3307
-22.0     2640
-17.0     2103
-15.0     2052
-24.0     2038
-13.0     1974
-19.0     1793
-21.0     1369
-23.0      846
-26.0      499
-25.0      481
-27.0      475
-28.0      402
-30.0      353
-29.0      314
-32.0      231
-31.0      212
-33.0      206
-34.0      157
-36.0      128
-35.0      116
-38.0       62
-37.0       50
-40.0       39
-41.0       34
-42.0       33
-39.0       28
-43.0       23
-44.0       19
-45.0       17
-47.0       14
-46.0       13
-48.0       11
-51.0        6
-52.0        6
-50.0        5
-49.0        5
-54.0        4
-60.0        2
-57.0        2
-55.0        2
-58.0        1
-53.0        1
-56.0        1
-70.0        1
-62.0        1
-66.0        1
-71.0        1
Name: DAYS_DECISION_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:14,221 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: mean
['SK_ID_CURR']
2018-07-06 08:04:14,221 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: mean
['SK_ID_CURR']
2018-07-06 08:04:14,274 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,274 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,340 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,340 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,349 logger 29 [INFO]    [make_npy] -9.000000     14786
-8.000000     14647
-10.000000    14332
-11.000000    13977
-7.000000     13534
-12.000000    12844
-6.000000     12350
-5.000000      9959
-4.000000      7636
-3.000000      5899
-2.000000      4434
 0.000000      4283
-1.000000      4093
-6.500000      1836
-7.500000      1816
-8.500000      1752
-5.500000      1495
-9.500000      1344
-4.500000      1041
-10.500000      768
-3.500000       630
-7.333333       527
-6.666667       481
-7.666667       479
-6.333333       453
-8.666667       408
-8.333333       401
-5.666667       386
-5.333333       381
-2.500000       366
-9.333333       303
-11.500000      293
-4.666667       274
-9.666667       219
-4.333333       213
-1.500000       192
-3.666667       137
-10.666667      129
-10.333333      129
-3.333333       109
-0.500000       101
-6.750000        87
-7.250000        83
-7.750000        73
-5.750000        73
-6.250000        73
-2.666667        72
-11.333333       71
-5.250000        67
-8.250000        65
              ...
-2.250000         7
-8.800000         7
-0.333333         7
-9.200000         6
-7.800000         6
-5.200000         5
-11.250000        5
-10.200000        5
-9.600000         4
-4.200000         4
-4.400000         4
-7.833333         3
-3.800000         3
-3.600000         3
-10.400000        3
-8.166667         3
-3.200000         2
-7.166667         2
-3.400000         2
-1.600000         2
-11.750000        2
-2.600000         2
-4.166667         2
-7.428571         2
-9.800000         2
-5.833333         1
-5.625000         1
-8.285714         1
-2.800000         1
-7.777778         1
-10.600000        1
-5.714286         1
-2.833333         1
-6.166667         1
-3.833333         1
-7.142857         1
-11.400000        1
-5.857143         1
-8.875000         1
-1.750000         1
-2.857143         1
-5.285714         1
-5.166667         1
-6.833333         1
-1.800000         1
-4.428571         1
-3.142857         1
-6.428571         1
-7.857143         1
-4.833333         1
Name: DAYS_DECISION_mean@['SK_ID_CURR'], Length: 131, dtype: int64
2018-07-06 08:04:14,349 logger 29 [INFO]    [make_npy] -9.000000     14786
-8.000000     14647
-10.000000    14332
-11.000000    13977
-7.000000     13534
-12.000000    12844
-6.000000     12350
-5.000000      9959
-4.000000      7636
-3.000000      5899
-2.000000      4434
 0.000000      4283
-1.000000      4093
-6.500000      1836
-7.500000      1816
-8.500000      1752
-5.500000      1495
-9.500000      1344
-4.500000      1041
-10.500000      768
-3.500000       630
-7.333333       527
-6.666667       481
-7.666667       479
-6.333333       453
-8.666667       408
-8.333333       401
-5.666667       386
-5.333333       381
-2.500000       366
-9.333333       303
-11.500000      293
-4.666667       274
-9.666667       219
-4.333333       213
-1.500000       192
-3.666667       137
-10.666667      129
-10.333333      129
-3.333333       109
-0.500000       101
-6.750000        87
-7.250000        83
-7.750000        73
-5.750000        73
-6.250000        73
-2.666667        72
-11.333333       71
-5.250000        67
-8.250000        65
              ...
-2.250000         7
-8.800000         7
-0.333333         7
-9.200000         6
-7.800000         6
-5.200000         5
-11.250000        5
-10.200000        5
-9.600000         4
-4.200000         4
-4.400000         4
-7.833333         3
-3.800000         3
-3.600000         3
-10.400000        3
-8.166667         3
-3.200000         2
-7.166667         2
-3.400000         2
-1.600000         2
-11.750000        2
-2.600000         2
-4.166667         2
-7.428571         2
-9.800000         2
-5.833333         1
-5.625000         1
-8.285714         1
-2.800000         1
-7.777778         1
-10.600000        1
-5.714286         1
-2.833333         1
-6.166667         1
-3.833333         1
-7.142857         1
-11.400000        1
-5.857143         1
-8.875000         1
-1.750000         1
-2.857143         1
-5.285714         1
-5.166667         1
-6.833333         1
-1.800000         1
-4.428571         1
-3.142857         1
-6.428571         1
-7.857143         1
-4.833333         1
Name: DAYS_DECISION_mean@['SK_ID_CURR'], Length: 131, dtype: int64

2018-07-06 08:04:14,397 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: max
['SK_ID_CURR']
2018-07-06 08:04:14,397 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: max
['SK_ID_CURR']
2018-07-06 08:04:14,444 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,444 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,513 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,513 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,523 logger 29 [INFO]    [make_npy] -8.0     14631
-9.0     14468
-10.0    14092
-7.0     14006
-11.0    13980
-6.0     13668
-12.0    12844
-5.0     12093
-4.0     10318
-3.0      8978
 0.0      7526
-2.0      7175
-1.0      7034
Name: DAYS_DECISION_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:14,523 logger 29 [INFO]    [make_npy] -8.0     14631
-9.0     14468
-10.0    14092
-7.0     14006
-11.0    13980
-6.0     13668
-12.0    12844
-5.0     12093
-4.0     10318
-3.0      8978
 0.0      7526
-2.0      7175
-1.0      7034
Name: DAYS_DECISION_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:14,544 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: min
['SK_ID_CURR']
2018-07-06 08:04:14,544 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: min
['SK_ID_CURR']
2018-07-06 08:04:14,630 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,630 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,705 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,705 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,714 logger 29 [INFO]    [make_npy] -12.0    19820
-11.0    19660
-10.0    18265
-9.0     17134
-8.0     15579
-7.0     13470
-6.0     11613
-5.0      9465
-4.0      7232
-3.0      5776
-2.0      4403
 0.0      4283
-1.0      4113
Name: DAYS_DECISION_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:14,714 logger 29 [INFO]    [make_npy] -12.0    19820
-11.0    19660
-10.0    18265
-9.0     17134
-8.0     15579
-7.0     13470
-6.0     11613
-5.0      9465
-4.0      7232
-3.0      5776
-2.0      4403
 0.0      4283
-1.0      4113
Name: DAYS_DECISION_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:14,752 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: std
['SK_ID_CURR']
2018-07-06 08:04:14,752 logger 125 [INFO]    [select_level_agg]
num: DAYS_DECISION
method: std
['SK_ID_CURR']
2018-07-06 08:04:14,802 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,802 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_DECISION_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,869 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,869 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:14,876 logger 29 [INFO]    [make_npy] 0.000000    15821
3.535534     2723
2.828427     2697
2.121320     2602
0.707107     2578
1.414214     2532
4.242641     2415
4.949747     1825
5.656854     1345
6.363961      981
7.071068      726
1.732051      651
4.041452      570
3.464102      567
7.778175      477
2.886751      338
1.154701      325
0.577350      319
2.886751      314
2.309401      308
2.309401      300
4.618802      266
1.154701      244
8.485281      238
5.196152      207
0.577350      197
2.645751      162
2.000000      139
3.000000      136
5.773503      127
3.605551      115
1.000000      113
2.516611      112
3.214550      112
4.358899      109
1.527525      108
4.509250      106
4.582576       94
4.163332       94
3.785939       93
3.055050       93
4.000000       92
3.511885       91
5.507571       90
2.081666       90
6.350853       90
2.081666       90
1.527525       77
2.516611       75
4.725816       71
            ...
5.357238        1
3.768289        1
3.559026        1
2.065591        1
5.079370        1
4.711688        1
4.472136        1
2.428992        1
2.529822        1
3.872983        1
3.507136        1
3.049590        1
4.082483        1
4.716991        1
3.011091        1
0.894427        1
2.193063        1
4.031129        1
3.949684        1
1.923538        1
0.447214        1
4.527693        1
5.049752        1
5.069517        1
5.619905        1
2.302173        1
0.894427        1
6.022181        1
3.638419        1
5.770615        1
4.658326        1
4.131759        1
1.914854        1
1.923538        1
0.816497        1
3.201562        1
5.560276        1
5.167204        1
2.915476        1
4.827007        1
4.062019        1
2.949576        1
5.428321        1
4.123106        1
5.338539        1
5.744563        1
0.894427        1
5.128353        1
1.673320        1
2.167948        1
Name: DAYS_DECISION_std@['SK_ID_CURR'], Length: 467, dtype: int64
2018-07-06 08:04:14,876 logger 29 [INFO]    [make_npy] 0.000000    15821
3.535534     2723
2.828427     2697
2.121320     2602
0.707107     2578
1.414214     2532
4.242641     2415
4.949747     1825
5.656854     1345
6.363961      981
7.071068      726
1.732051      651
4.041452      570
3.464102      567
7.778175      477
2.886751      338
1.154701      325
0.577350      319
2.886751      314
2.309401      308
2.309401      300
4.618802      266
1.154701      244
8.485281      238
5.196152      207
0.577350      197
2.645751      162
2.000000      139
3.000000      136
5.773503      127
3.605551      115
1.000000      113
2.516611      112
3.214550      112
4.358899      109
1.527525      108
4.509250      106
4.582576       94
4.163332       94
3.785939       93
3.055050       93
4.000000       92
3.511885       91
5.507571       90
2.081666       90
6.350853       90
2.081666       90
1.527525       77
2.516611       75
4.725816       71
            ...
5.357238        1
3.768289        1
3.559026        1
2.065591        1
5.079370        1
4.711688        1
4.472136        1
2.428992        1
2.529822        1
3.872983        1
3.507136        1
3.049590        1
4.082483        1
4.716991        1
3.011091        1
0.894427        1
2.193063        1
4.031129        1
3.949684        1
1.923538        1
0.447214        1
4.527693        1
5.049752        1
5.069517        1
5.619905        1
2.302173        1
0.894427        1
6.022181        1
3.638419        1
5.770615        1
4.658326        1
4.131759        1
1.914854        1
1.923538        1
0.816497        1
3.201562        1
5.560276        1
5.167204        1
2.915476        1
4.827007        1
4.062019        1
2.949576        1
5.428321        1
4.123106        1
5.338539        1
5.744563        1
0.894427        1
5.128353        1
1.673320        1
2.167948        1
Name: DAYS_DECISION_std@['SK_ID_CURR'], Length: 467, dtype: int64
2018-07-06 08:04:14,923 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: sum
['SK_ID_CURR']
2018-07-06 08:04:14,923 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: sum
['SK_ID_CURR']
2018-07-06 08:04:14,969 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:14,969 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,037 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,037 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)

2018-07-06 08:04:15,045 logger 29 [INFO]    [make_npy]  0.0     132161
-7.0       2964
-8.0       2689
-6.0       2630
-9.0       2273
-10.0      2016
-11.0      1682
-5.0       1341
-12.0      1173
-4.0        565
-3.0        487
-1.0        417
-2.0        405
-22.0         2
-17.0         2
-15.0         1
-18.0         1
-19.0         1
-20.0         1
-14.0         1
-16.0         1
Name: DAYS_FIRST_DRAWING_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,045 logger 29 [INFO]    [make_npy]  0.0     132161
-7.0       2964
-8.0       2689
-6.0       2630
-9.0       2273
-10.0      2016
-11.0      1682
-5.0       1341
-12.0      1173
-4.0        565
-3.0        487
-1.0        417
-2.0        405
-22.0         2
-17.0         2
-15.0         1
-18.0         1
-19.0         1
-20.0         1
-14.0         1
-16.0         1
Name: DAYS_FIRST_DRAWING_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,080 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: mean
['SK_ID_CURR']
2018-07-06 08:04:15,080 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: mean
['SK_ID_CURR']
2018-07-06 08:04:15,126 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,126 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,205 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,205 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,212 logger 29 [INFO]    [make_npy] -7.0     2965
-8.0     2689
-6.0     2631
-9.0     2274
-10.0    2016
-11.0    1683
-5.0     1340
-12.0    1171
-4.0      566
 0.0      488
-3.0      487
-1.0      417
-2.0      405
-8.5        2
-7.5        1
-9.5        1
-22.0       1
-1.5        1
-20.0       1
-2.5        1
Name: DAYS_FIRST_DRAWING_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,212 logger 29 [INFO]    [make_npy] -7.0     2965
-8.0     2689
-6.0     2631
-9.0     2274
-10.0    2016
-11.0    1683
-5.0     1340
-12.0    1171
-4.0      566
 0.0      488
-3.0      487
-1.0      417
-2.0      405
-8.5        2
-7.5        1
-9.5        1
-22.0       1
-1.5        1
-20.0       1
-2.5        1
Name: DAYS_FIRST_DRAWING_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,246 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: max
['SK_ID_CURR']
2018-07-06 08:04:15,246 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: max
['SK_ID_CURR']
2018-07-06 08:04:15,386 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,386 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,471 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,471 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,476 logger 29 [INFO]    [make_npy] -7.0     2965
-8.0     2689
-6.0     2632
-9.0     2273
-10.0    2017
-11.0    1682
-5.0     1342
-12.0    1171
-4.0      566
 0.0      489
-3.0      487
-1.0      419
-2.0      406
-22.0       1
-20.0       1
Name: DAYS_FIRST_DRAWING_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,476 logger 29 [INFO]    [make_npy] -7.0     2965
-8.0     2689
-6.0     2632
-9.0     2273
-10.0    2017
-11.0    1682
-5.0     1342
-12.0    1171
-4.0      566
 0.0      489
-3.0      487
-1.0      419
-2.0      406
-22.0       1
-20.0       1
Name: DAYS_FIRST_DRAWING_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,513 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: min
['SK_ID_CURR']
2018-07-06 08:04:15,513 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: min
['SK_ID_CURR']
2018-07-06 08:04:15,565 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,565 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,664 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,664 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,670 logger 29 [INFO]    [make_npy] -7.0     2964
-8.0     2691
-6.0     2629
-9.0     2274
-10.0    2018
-11.0    1685
-5.0     1341
-12.0    1173
-4.0      565
 0.0      488
-3.0      487
-1.0      417
-2.0      406
-22.0       1
-20.0       1
Name: DAYS_FIRST_DRAWING_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,670 logger 29 [INFO]    [make_npy] -7.0     2964
-8.0     2691
-6.0     2629
-9.0     2274
-10.0    2018
-11.0    1685
-5.0     1341
-12.0    1173
-4.0      565
 0.0      488
-3.0      487
-1.0      417
-2.0      406
-22.0       1
-20.0       1
Name: DAYS_FIRST_DRAWING_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,705 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: std
['SK_ID_CURR']
2018-07-06 08:04:15,705 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DRAWING
method: std
['SK_ID_CURR']
2018-07-06 08:04:15,759 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,759 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DRAWING_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,839 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,839 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:15,845 logger 29 [INFO]    [make_npy] 4.242641    3
3.535534    2
2.828427    2
0.707107    2
1.414214    2
2.121320    2
5.656854    1
Name: DAYS_FIRST_DRAWING_std@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,845 logger 29 [INFO]    [make_npy] 4.242641    3
3.535534    2
2.828427    2
0.707107    2
1.414214    2
2.121320    2
5.656854    1
Name: DAYS_FIRST_DRAWING_std@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:15,887 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: sum
['SK_ID_CURR']
2018-07-06 08:04:15,887 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: sum
['SK_ID_CURR']
2018-07-06 08:04:15,944 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:15,944 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,029 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,029 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,043 logger 29 [INFO]    [make_npy]  0.0     15260
-10.0    14802
-9.0     14167
-8.0     13692
-11.0    13224
-7.0     12867
-6.0     11621
-5.0     10491
-4.0      9138
-3.0      6844
-2.0      5314
-1.0      4046
-13.0     2397
-12.0     2391
-15.0     2373
-14.0     2349
-16.0     2097
-17.0     1820
-18.0     1527
-19.0     1176
-20.0      910
-21.0      647
-22.0      432
-23.0      242
-25.0      198
-24.0      191
-26.0      135
-27.0      102
-28.0       97
-29.0       64
-30.0       50
-31.0       36
-32.0       30
-33.0       17
-34.0       16
-38.0       10
-35.0        9
-37.0        8
-39.0        6
-43.0        4
-36.0        3
-40.0        3
-42.0        2
-45.0        2
-48.0        1
-44.0        1
-41.0        1
Name: DAYS_FIRST_DUE_sum@['SK_ID_CURR'], dtype: int64

2018-07-06 08:04:16,043 logger 29 [INFO]    [make_npy]  0.0     15260
-10.0    14802
-9.0     14167
-8.0     13692
-11.0    13224
-7.0     12867
-6.0     11621
-5.0     10491
-4.0      9138
-3.0      6844
-2.0      5314
-1.0      4046
-13.0     2397
-12.0     2391
-15.0     2373
-14.0     2349
-16.0     2097
-17.0     1820
-18.0     1527
-19.0     1176
-20.0      910
-21.0      647
-22.0      432
-23.0      242
-25.0      198
-24.0      191
-26.0      135
-27.0      102
-28.0       97
-29.0       64
-30.0       50
-31.0       36
-32.0       30
-33.0       17
-34.0       16
-38.0       10
-35.0        9
-37.0        8
-39.0        6
-43.0        4
-36.0        3
-40.0        3
-42.0        2
-45.0        2
-48.0        1
-44.0        1
-41.0        1
Name: DAYS_FIRST_DUE_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:16,096 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: mean
['SK_ID_CURR']
2018-07-06 08:04:16,096 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: mean
['SK_ID_CURR']
2018-07-06 08:04:16,171 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,171 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,251 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,251 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,259 logger 29 [INFO]    [make_npy] -8.000000     14671
-7.000000     14446
-9.000000     13956
-10.000000    13607
-6.000000     13566
-5.000000     12069
-11.000000    11227
-4.000000     10001
-3.000000      7328
-2.000000      5489
-1.000000      4109
 0.000000      3059
-6.500000      2260
-7.500000      2156
-5.500000      2073
-8.500000      1536
-4.500000      1443
-9.500000       875
-3.500000       830
-2.500000       414
-10.500000      374
-6.333333       282
-6.666667       278
-5.666667       278
-7.333333       254
-5.333333       242
-7.666667       201
-1.500000       200
-4.666667       199
-4.333333       172
-8.333333       151
-3.666667       101
-8.666667        95
-3.333333        84
-9.333333        68
-0.500000        64
-6.250000        41
-5.750000        38
-6.750000        34
-2.666667        33
-9.666667        30
-7.250000        28
-4.750000        25
-5.250000        23
-2.333333        22
-10.333333       18
-7.750000        15
-4.250000        15
-8.250000        11
-1.666667         9
-3.750000         9
-1.333333         8
-5.400000         7
-9.250000         7
-10.666667        7
-8.750000         5
-6.800000         5
-6.400000         4
-12.000000        4
-5.800000         4
-3.250000         4
-6.600000         3
-4.800000         3
-7.600000         3
-6.200000         3
-3.600000         2
-9.750000         2
-4.600000         2
-2.750000         2
-7.166667         2
-7.800000         2
-4.833333         2
-8.400000         2
-3.400000         2
-4.400000         2
-2.600000         1
-4.200000         1
-7.400000         1
-5.200000         1
-2.166667         1
-5.600000         1
-11.500000        1
-4.166667         1
-2.250000         1
-3.800000         1
-8.600000         1
-8.800000         1
-7.200000         1
-6.142857         1
-3.200000         1
-8.200000         1
Name: DAYS_FIRST_DUE_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:16,259 logger 29 [INFO]    [make_npy] -8.000000     14671
-7.000000     14446
-9.000000     13956
-10.000000    13607
-6.000000     13566
-5.000000     12069
-11.000000    11227
-4.000000     10001
-3.000000      7328
-2.000000      5489
-1.000000      4109
 0.000000      3059
-6.500000      2260
-7.500000      2156
-5.500000      2073
-8.500000      1536
-4.500000      1443
-9.500000       875
-3.500000       830
-2.500000       414
-10.500000      374
-6.333333       282
-6.666667       278
-5.666667       278
-7.333333       254
-5.333333       242
-7.666667       201
-1.500000       200
-4.666667       199
-4.333333       172
-8.333333       151
-3.666667       101
-8.666667        95
-3.333333        84
-9.333333        68
-0.500000        64
-6.250000        41
-5.750000        38
-6.750000        34
-2.666667        33
-9.666667        30
-7.250000        28
-4.750000        25
-5.250000        23
-2.333333        22
-10.333333       18
-7.750000        15
-4.250000        15
-8.250000        11
-1.666667         9
-3.750000         9
-1.333333         8
-5.400000         7
-9.250000         7
-10.666667        7
-8.750000         5
-6.800000         5
-6.400000         4
-12.000000        4
-5.800000         4
-3.250000         4
-6.600000         3
-4.800000         3
-7.600000         3
-6.200000         3
-3.600000         2
-9.750000         2
-4.600000         2
-2.750000         2
-7.166667         2
-7.800000         2
-4.833333         2
-8.400000         2
-3.400000         2
-4.400000         2
-2.600000         1
-4.200000         1
-7.400000         1
-5.200000         1
-2.166667         1
-5.600000         1
-11.500000        1
-4.166667         1
-2.250000         1
-3.800000         1
-8.600000         1
-8.800000         1
-7.200000         1
-6.142857         1
-3.200000         1
-8.200000         1
Name: DAYS_FIRST_DUE_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:16,299 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: max
['SK_ID_CURR']
2018-07-06 08:04:16,299 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: max
['SK_ID_CURR']
2018-07-06 08:04:16,358 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,358 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,440 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,440 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,451 logger 29 [INFO]    [make_npy] -7.0     14403
-8.0     14323
-6.0     14173
-5.0     13996
-9.0     13847
-10.0    13576
-4.0     12682
-11.0    11227
-3.0      9987
-2.0      8464
-1.0      6713
 0.0      5217
-12.0        4
Name: DAYS_FIRST_DUE_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:16,451 logger 29 [INFO]    [make_npy] -7.0     14403
-8.0     14323
-6.0     14173
-5.0     13996
-9.0     13847
-10.0    13576
-4.0     12682
-11.0    11227
-3.0      9987
-2.0      8464
-1.0      6713
 0.0      5217
-12.0        4
Name: DAYS_FIRST_DUE_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:16,491 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: min
['SK_ID_CURR']
2018-07-06 08:04:16,491 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: min
['SK_ID_CURR']
2018-07-06 08:04:16,584 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,584 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,671 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,671 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,689 logger 29 [INFO]    [make_npy] -10.0    18557
-9.0     17458
-11.0    16818
-8.0     16604
-7.0     15096
-6.0     13275
-5.0     11488
-4.0      9674
-3.0      7064
-2.0      5430
-1.0      4081
 0.0      3059
-12.0        8
Name: DAYS_FIRST_DUE_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:16,689 logger 29 [INFO]    [make_npy] -10.0    18557
-9.0     17458
-11.0    16818
-8.0     16604
-7.0     15096
-6.0     13275
-5.0     11488
-4.0      9674
-3.0      7064
-2.0      5430
-1.0      4081
 0.0      3059
-12.0        8
Name: DAYS_FIRST_DUE_min@['SK_ID_CURR'], dtype: int64

2018-07-06 08:04:16,730 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: std
['SK_ID_CURR']
2018-07-06 08:04:16,730 logger 125 [INFO]    [select_level_agg]
num: DAYS_FIRST_DUE
method: std
['SK_ID_CURR']
2018-07-06 08:04:16,864 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,864 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_FIRST_DUE_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:16,983 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,983 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:16,993 logger 29 [INFO]    [make_npy] 0.707107    3599
1.414214    3360
2.121320    2998
2.828427    2886
3.535534    2847
4.242641    2393
0.000000    1817
4.949747    1752
5.656854    1124
6.363961     733
7.071068     445
2.645751     204
4.041452     172
7.778175     152
2.081666     139
2.516611     137
3.605551     137
1.527525     136
3.214550     135
3.055050     134
3.000000     124
2.000000     123
1.527525     121
1.732051     115
2.081666     114
3.511885     113
1.000000     109
3.785939      99
4.163332      98
4.509250      98
4.358899      93
2.516611      85
4.582576      78
3.464102      71
2.886751      71
4.000000      65
3.055050      61
0.577350      59
1.154701      58
2.309401      56
4.725816      56
0.577350      55
3.214550      54
3.511885      52
4.932883      48
5.507571      47
1.154701      45
3.785939      43
5.131601      43
2.309401      42
            ...
1.923538       1
1.966384       1
3.847077       1
1.707825       1
5.188127       1
3.130495       1
3.403430       1
3.741657       1
3.898718       1
1.949359       1
3.881580       1
3.403430       1
1.870829       1
4.272002       1
3.696846       1
1.643168       1
4.381780       1
3.646917       1
4.159327       1
3.563706       1
3.000000       1
1.892969       1
4.505552       1
3.868678       1
4.147288       1
4.760952       1
3.109126       1
2.588436       1
5.259911       1
1.483240       1
3.011091       1
2.966479       1
1.414214       1
1.290994       1
3.507136       1
4.546061       1
4.690416       1
4.086563       1
0.957427       1
3.125167       1
3.674235       1
4.277850       1
2.863564       1
4.856267       1
2.915476       1
4.830459       1
2.581989       1
2.949576       1
2.792848       1
4.991660       1
Name: DAYS_FIRST_DUE_std@['SK_ID_CURR'], Length: 257, dtype: int64
2018-07-06 08:04:16,993 logger 29 [INFO]    [make_npy] 0.707107    3599
1.414214    3360
2.121320    2998
2.828427    2886
3.535534    2847
4.242641    2393
0.000000    1817
4.949747    1752
5.656854    1124
6.363961     733
7.071068     445
2.645751     204
4.041452     172
7.778175     152
2.081666     139
2.516611     137
3.605551     137
1.527525     136
3.214550     135
3.055050     134
3.000000     124
2.000000     123
1.527525     121
1.732051     115
2.081666     114
3.511885     113
1.000000     109
3.785939      99
4.163332      98
4.509250      98
4.358899      93
2.516611      85
4.582576      78
3.464102      71
2.886751      71
4.000000      65
3.055050      61
0.577350      59
1.154701      58
2.309401      56
4.725816      56
0.577350      55
3.214550      54
3.511885      52
4.932883      48
5.507571      47
1.154701      45
3.785939      43
5.131601      43
2.309401      42
            ...
1.923538       1
1.966384       1
3.847077       1
1.707825       1
5.188127       1
3.130495       1
3.403430       1
3.741657       1
3.898718       1
1.949359       1
3.881580       1
3.403430       1
1.870829       1
4.272002       1
3.696846       1
1.643168       1
4.381780       1
3.646917       1
4.159327       1
3.563706       1
3.000000       1
1.892969       1
4.505552       1
3.868678       1
4.147288       1
4.760952       1
3.109126       1
2.588436       1
5.259911       1
1.483240       1
3.011091       1
2.966479       1
1.414214       1
1.290994       1
3.507136       1
4.546061       1
4.690416       1
4.086563       1
0.957427       1
3.125167       1
3.674235       1
4.277850       1
2.863564       1
4.856267       1
2.915476       1
4.830459       1
2.581989       1
2.949576       1
2.792848       1
4.991660       1
Name: DAYS_FIRST_DUE_std@['SK_ID_CURR'], Length: 257, dtype: int64
2018-07-06 08:04:17,048 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: sum
['SK_ID_CURR']
2018-07-06 08:04:17,048 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: sum
['SK_ID_CURR']
2018-07-06 08:04:17,142 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,142 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,241 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,241 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,250 logger 29 [INFO]    [make_npy]  0.0      33891
 1.0       8557
 38.0      8209
 2.0       7834
 3.0       6937
 5.0       6184
 4.0       5966
 6.0       5081
 7.0       4391
 11.0      4235
 8.0       3937
-1.0       3868
 9.0       3631
-2.0       3360
 12.0      2805
 10.0      2771
 13.0      2560
-3.0       2350
-4.0       2325
 14.0      2322
-5.0       2204
 15.0      2103
-6.0       1830
 17.0      1720
 16.0      1645
 23.0      1330
 18.0      1131
 24.0      1050
 19.0      1034
 26.0      1033
 27.0      1015
 25.0       987
 20.0       883
 28.0       874
 29.0       866
 30.0       763
 35.0       749
 36.0       744
 37.0       711
 21.0       677
 31.0       623
 32.0       557
 22.0       548
 33.0       407
 34.0       289
-7.0        253
 76.0       227
 39.0       226
-8.0        199
 40.0       187
          ...
-11.0        24
 67.0        22
 68.0        21
 70.0        21
 69.0        14
 71.0        12
-12.0        12
 87.0        11
 77.0        11
 79.0        10
 83.0         9
 78.0         9
 72.0         9
 82.0         7
 81.0         7
 89.0         6
 91.0         6
 85.0         5
 80.0         4
 111.0        4
 88.0         4
-13.0         4
-14.0         3
 92.0         3
 84.0         3
 102.0        2
 100.0        2
 90.0         2
 103.0        2
-15.0         2
 101.0        2
 86.0         2
 97.0         2
 105.0        2
 112.0        2
 93.0         1
 99.0         1
 95.0         1
 98.0         1
 117.0        1
 107.0        1
 149.0        1
 128.0        1
 139.0        1
 114.0        1
 104.0        1
 120.0        1
 94.0         1
 110.0        1
 106.0        1
Name: DAYS_LAST_DUE_1ST_VERSION_sum@['SK_ID_CURR'], Length: 131, dtype: int64
2018-07-06 08:04:17,250 logger 29 [INFO]    [make_npy]  0.0      33891
 1.0       8557
 38.0      8209
 2.0       7834
 3.0       6937
 5.0       6184
 4.0       5966
 6.0       5081
 7.0       4391
 11.0      4235
 8.0       3937
-1.0       3868
 9.0       3631
-2.0       3360
 12.0      2805
 10.0      2771
 13.0      2560
-3.0       2350
-4.0       2325
 14.0      2322
-5.0       2204
 15.0      2103
-6.0       1830
 17.0      1720
 16.0      1645
 23.0      1330
 18.0      1131
 24.0      1050
 19.0      1034
 26.0      1033
 27.0      1015
 25.0       987
 20.0       883
 28.0       874
 29.0       866
 30.0       763
 35.0       749
 36.0       744
 37.0       711
 21.0       677
 31.0       623
 32.0       557
 22.0       548
 33.0       407
 34.0       289
-7.0        253
 76.0       227
 39.0       226
-8.0        199
 40.0       187
          ...
-11.0        24
 67.0        22
 68.0        21
 70.0        21
 69.0        14
 71.0        12
-12.0        12
 87.0        11
 77.0        11
 79.0        10
 83.0         9
 78.0         9
 72.0         9
 82.0         7
 81.0         7
 89.0         6
 91.0         6
 85.0         5
 80.0         4
 111.0        4
 88.0         4
-13.0         4
-14.0         3
 92.0         3
 84.0         3
 102.0        2
 100.0        2
 90.0         2
 103.0        2
-15.0         2
 101.0        2
 86.0         2
 97.0         2
 105.0        2
 112.0        2
 93.0         1
 99.0         1
 95.0         1
 98.0         1
 117.0        1
 107.0        1
 149.0        1
 128.0        1
 139.0        1
 114.0        1
 104.0        1
 120.0        1
 94.0         1
 110.0        1
 106.0        1
Name: DAYS_LAST_DUE_1ST_VERSION_sum@['SK_ID_CURR'], Length: 131, dtype: int64

2018-07-06 08:04:17,282 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: mean
['SK_ID_CURR']
2018-07-06 08:04:17,282 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: mean
['SK_ID_CURR']
2018-07-06 08:04:17,334 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,334 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,396 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,396 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,404 logger 29 [INFO]    [make_npy]  0.000000     17521
 1.000000      8708
 38.000000     7982
 2.000000      7848
 3.000000      7039
 5.000000      6069
 4.000000      5945
 6.000000      4719
 7.000000      4081
 11.000000     3802
-1.000000      3749
 8.000000      3508
-2.000000      3231
 9.000000      3060
 12.000000     2456
 10.000000     2341
 13.000000     2250
-3.000000      2192
-4.000000      2053
 14.000000     1983
-5.000000      1945
 15.000000     1809
-6.000000      1636
 17.000000     1480
 16.000000     1463
 23.000000     1173
 19.000000     1092
 18.000000     1025
 24.000000      912
 26.000000      871
 25.000000      865
 27.000000      828
 2.500000       782
 4.500000       751
 3.500000       729
 1.500000       720
 28.000000      709
 20.000000      697
 29.000000      691
 5.500000       633
 0.500000       589
 37.000000      579
 30.000000      568
 35.000000      544
 36.000000      534
 21.000000      495
-0.500000       472
 6.500000       470
 31.000000      466
 7.500000       407
              ...
 12.400000        1
 13.400000        1
 3.833333         1
 25.250000        1
 27.750000        1
 31.333333        1
 16.750000        1
 25.750000        1
 20.250000        1
 2.800000         1
 16.200000        1
 21.250000        1
 34.666667        1
 0.200000         1
-1.600000         1
 31.666667        1
-2.400000         1
 32.666667        1
 9.200000         1
 5.800000         1
 21.400000        1
 4.600000         1
 35.333333        1
 34.750000        1
 25.600000        1
 8.166667         1
 22.250000        1
 33.333333        1
 12.200000        1
 22.750000        1
 37.250000        1
-1.800000         1
 34.333333        1
 2.200000         1
 12.600000        1
 11.600000        1
 10.400000        1
 3.200000         1
 1.833333         1
-0.600000         1
 29.250000        1
 6.625000         1
 21.750000        1
 2.428571         1
 0.833333         1
 36.666667        1
-3.750000         1
 7.200000         1
 33.666667        1
 6.200000         1
Name: DAYS_LAST_DUE_1ST_VERSION_mean@['SK_ID_CURR'], Length: 272, dtype: int64
2018-07-06 08:04:17,404 logger 29 [INFO]    [make_npy]  0.000000     17521
 1.000000      8708
 38.000000     7982
 2.000000      7848
 3.000000      7039
 5.000000      6069
 4.000000      5945
 6.000000      4719
 7.000000      4081
 11.000000     3802
-1.000000      3749
 8.000000      3508
-2.000000      3231
 9.000000      3060
 12.000000     2456
 10.000000     2341
 13.000000     2250
-3.000000      2192
-4.000000      2053
 14.000000     1983
-5.000000      1945
 15.000000     1809
-6.000000      1636
 17.000000     1480
 16.000000     1463
 23.000000     1173
 19.000000     1092
 18.000000     1025
 24.000000      912
 26.000000      871
 25.000000      865
 27.000000      828
 2.500000       782
 4.500000       751
 3.500000       729
 1.500000       720
 28.000000      709
 20.000000      697
 29.000000      691
 5.500000       633
 0.500000       589
 37.000000      579
 30.000000      568
 35.000000      544
 36.000000      534
 21.000000      495
-0.500000       472
 6.500000       470
 31.000000      466
 7.500000       407
              ...
 12.400000        1
 13.400000        1
 3.833333         1
 25.250000        1
 27.750000        1
 31.333333        1
 16.750000        1
 25.750000        1
 20.250000        1
 2.800000         1
 16.200000        1
 21.250000        1
 34.666667        1
 0.200000         1
-1.600000         1
 31.666667        1
-2.400000         1
 32.666667        1
 9.200000         1
 5.800000         1
 21.400000        1
 4.600000         1
 35.333333        1
 34.750000        1
 25.600000        1
 8.166667         1
 22.250000        1
 33.333333        1
 12.200000        1
 22.750000        1
 37.250000        1
-1.800000         1
 34.333333        1
 2.200000         1
 12.600000        1
 11.600000        1
 10.400000        1
 3.200000         1
 1.833333         1
-0.600000         1
 29.250000        1
 6.625000         1
 21.750000        1
 2.428571         1
 0.833333         1
 36.666667        1
-3.750000         1
 7.200000         1
 33.666667        1
 6.200000         1
Name: DAYS_LAST_DUE_1ST_VERSION_mean@['SK_ID_CURR'], Length: 272, dtype: int64
2018-07-06 08:04:17,445 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: max
['SK_ID_CURR']
2018-07-06 08:04:17,445 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: max
['SK_ID_CURR']
2018-07-06 08:04:17,493 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,493 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,566 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,566 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,578 logger 29 [INFO]    [make_npy]  0.0     17891
 38.0    10631
 1.0      8705
 2.0      8069
 3.0      7242
 5.0      6734
 4.0      6439
 6.0      5428
 7.0      4774
 11.0     4571
 8.0      4351
 9.0      3916
-1.0      3465
-2.0      3004
 10.0     2820
 12.0     2739
 13.0     2503
 14.0     2311
-3.0      2060
 15.0     2060
-4.0      2043
-5.0      1939
 17.0     1787
 16.0     1658
-6.0      1632
 23.0     1374
 18.0     1208
 27.0     1021
 19.0     1011
 24.0     1005
 26.0      971
 25.0      939
 29.0      936
 28.0      899
 20.0      797
 30.0      790
 35.0      649
 37.0      649
 31.0      637
 36.0      635
 21.0      538
 32.0      524
 22.0      369
 33.0      275
-7.0       166
 34.0      144
-8.0       125
-9.0         9
Name: DAYS_LAST_DUE_1ST_VERSION_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:17,578 logger 29 [INFO]    [make_npy]  0.0     17891
 38.0    10631
 1.0      8705
 2.0      8069
 3.0      7242
 5.0      6734
 4.0      6439
 6.0      5428
 7.0      4774
 11.0     4571
 8.0      4351
 9.0      3916
-1.0      3465
-2.0      3004
 10.0     2820
 12.0     2739
 13.0     2503
 14.0     2311
-3.0      2060
 15.0     2060
-4.0      2043
-5.0      1939
 17.0     1787
 16.0     1658
-6.0      1632
 23.0     1374
 18.0     1208
 27.0     1021
 19.0     1011
 24.0     1005
 26.0      971
 25.0      939
 29.0      936
 28.0      899
 20.0      797
 30.0      790
 35.0      649
 37.0      649
 31.0      637
 36.0      635
 21.0      538
 32.0      524
 22.0      369
 33.0      275
-7.0       166
 34.0      144
-8.0       125
-9.0         9
Name: DAYS_LAST_DUE_1ST_VERSION_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:17,621 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: min
['SK_ID_CURR']
2018-07-06 08:04:17,621 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: min
['SK_ID_CURR']
2018-07-06 08:04:17,685 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,685 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_min@['SK_ID_CURR']'], dtype='object')

2018-07-06 08:04:17,774 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,774 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,783 logger 29 [INFO]    [make_npy]  0.0     21790
 1.0      9736
 2.0      8518
 38.0     7982
 3.0      7359
 5.0      6243
 4.0      6201
 6.0      4819
-1.0      4661
-2.0      4186
 7.0      4079
 11.0     3962
 8.0      3534
-4.0      3190
 9.0      3105
-5.0      3049
-3.0      2983
-6.0      2778
 12.0     2526
 10.0     2261
 13.0     2235
 14.0     1959
 15.0     1759
 17.0     1419
 16.0     1337
 23.0     1205
 24.0      923
 18.0      881
 26.0      861
 25.0      832
 27.0      832
 19.0      717
 28.0      708
 29.0      694
 35.0      588
 30.0      575
 36.0      574
 37.0      562
 20.0      559
 31.0      429
 21.0      388
 32.0      344
-7.0       294
 22.0      264
-8.0       229
 33.0      195
 34.0      101
-9.0        17
Name: DAYS_LAST_DUE_1ST_VERSION_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:17,783 logger 29 [INFO]    [make_npy]  0.0     21790
 1.0      9736
 2.0      8518
 38.0     7982
 3.0      7359
 5.0      6243
 4.0      6201
 6.0      4819
-1.0      4661
-2.0      4186
 7.0      4079
 11.0     3962
 8.0      3534
-4.0      3190
 9.0      3105
-5.0      3049
-3.0      2983
-6.0      2778
 12.0     2526
 10.0     2261
 13.0     2235
 14.0     1959
 15.0     1759
 17.0     1419
 16.0     1337
 23.0     1205
 24.0      923
 18.0      881
 26.0      861
 25.0      832
 27.0      832
 19.0      717
 28.0      708
 29.0      694
 35.0      588
 30.0      575
 36.0      574
 37.0      562
 20.0      559
 31.0      429
 21.0      388
 32.0      344
-7.0       294
 22.0      264
-8.0       229
 33.0      195
 34.0      101
-9.0        17
Name: DAYS_LAST_DUE_1ST_VERSION_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:17,822 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: std
['SK_ID_CURR']
2018-07-06 08:04:17,822 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE_1ST_VERSION
method: std
['SK_ID_CURR']
2018-07-06 08:04:17,867 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,867 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_1ST_VERSION_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:17,933 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,933 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:17,939 logger 29 [INFO]    [make_npy] 2.121320     1439
1.414214     1437
3.535534     1409
2.828427     1379
0.707107     1263
4.242641     1247
4.949747     1094
0.000000      969
5.656854      966
6.363961      858
7.071068      782
7.778175      670
8.485281      510
9.192388      486
9.899495      414
10.606602     402
26.870058     328
11.313708     295
12.020815     284
12.727922     249
13.435029     235
14.849242     216
19.091883     211
14.142136     200
18.384776     190
16.263456     188
21.920310     173
20.506097     166
17.677670     164
15.556349     157
21.213203     154
16.970563     149
22.627417     140
24.041631     138
23.334524     137
26.162951     134
25.455844     132
19.798990     127
24.748737     126
4.041452       84
28.284271      74
2.645751       68
2.081666       63
27.577164      60
30.405592      51
3.605551       48
5.507571       46
3.055050       45
28.991378      44
31.112698      42
             ...
3.834058        1
1.500000        1
3.500000        1
11.870833       1
4.434712        1
18.009257       1
7.274384        1
2.160247        1
17.473790       1
9.742518        1
20.532495       1
21.197484       1
18.027756       1
5.560276        1
12.884099       1
24.006943       1
14.106736       1
18.929694       1
17.932745       1
15.085865       1
4.649629        1
2.714160        1
22.300972       1
14.719601       1
17.776389       1
5.630275        1
6.582806        1
6.976150        1
6.685806        1
20.008332       1
17.078251       1
20.694202       1
5.188127        1
18.903263       1
3.130495        1
16.093477       1
5.263079        1
2.872281        1
6.942622        1
10.329569       1
21.779195       1
3.696846        1
22.120880       1
5.403702        1
4.112988        1
6.137318        1
1.825742        1
15.695010       1
9.914636        1
9.878428        1
Name: DAYS_LAST_DUE_1ST_VERSION_std@['SK_ID_CURR'], Length: 853, dtype: int64
2018-07-06 08:04:17,939 logger 29 [INFO]    [make_npy] 2.121320     1439
1.414214     1437
3.535534     1409
2.828427     1379
0.707107     1263
4.242641     1247
4.949747     1094
0.000000      969
5.656854      966
6.363961      858
7.071068      782
7.778175      670
8.485281      510
9.192388      486
9.899495      414
10.606602     402
26.870058     328
11.313708     295
12.020815     284
12.727922     249
13.435029     235
14.849242     216
19.091883     211
14.142136     200
18.384776     190
16.263456     188
21.920310     173
20.506097     166
17.677670     164
15.556349     157
21.213203     154
16.970563     149
22.627417     140
24.041631     138
23.334524     137
26.162951     134
25.455844     132
19.798990     127
24.748737     126
4.041452       84
28.284271      74
2.645751       68
2.081666       63
27.577164      60
30.405592      51
3.605551       48
5.507571       46
3.055050       45
28.991378      44
31.112698      42
             ...
3.834058        1
1.500000        1
3.500000        1
11.870833       1
4.434712        1
18.009257       1
7.274384        1
2.160247        1
17.473790       1
9.742518        1
20.532495       1
21.197484       1
18.027756       1
5.560276        1
12.884099       1
24.006943       1
14.106736       1
18.929694       1
17.932745       1
15.085865       1
4.649629        1
2.714160        1
22.300972       1
14.719601       1
17.776389       1
5.630275        1
6.582806        1
6.976150        1
6.685806        1
20.008332       1
17.078251       1
20.694202       1
5.188127        1
18.903263       1
3.130495        1
16.093477       1
5.263079        1
2.872281        1
6.942622        1
10.329569       1
21.779195       1
3.696846        1
22.120880       1
5.403702        1
4.112988        1
6.137318        1
1.825742        1
15.695010       1
9.914636        1
9.878428        1
Name: DAYS_LAST_DUE_1ST_VERSION_std@['SK_ID_CURR'], Length: 853, dtype: int64
2018-07-06 08:04:17,981 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: sum
['SK_ID_CURR']
2018-07-06 08:04:17,981 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: sum
['SK_ID_CURR']
2018-07-06 08:04:18,026 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,026 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,119 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,119 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,127 logger 29 [INFO]    [make_npy]  0.0     99530
-1.0      7726
-2.0      7038
-3.0      6323
-5.0      6259
-4.0      6202
-6.0      5641
-7.0      3715
-8.0      2972
-9.0      1958
-10.0     1313
-11.0      773
-12.0      357
-13.0      237
-14.0      188
-16.0      145
-15.0      136
-17.0       81
-18.0       58
-19.0       42
-20.0       42
-22.0       18
-21.0       16
-24.0        7
-23.0        7
-26.0        6
-25.0        6
-27.0        5
-29.0        3
-28.0        3
-37.0        1
-38.0        1
-34.0        1
-30.0        1
-32.0        1
-39.0        1
Name: DAYS_LAST_DUE_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,127 logger 29 [INFO]    [make_npy]  0.0     99530
-1.0      7726
-2.0      7038
-3.0      6323
-5.0      6259
-4.0      6202
-6.0      5641
-7.0      3715
-8.0      2972
-9.0      1958
-10.0     1313
-11.0      773
-12.0      357
-13.0      237
-14.0      188
-16.0      145
-15.0      136
-17.0       81
-18.0       58
-19.0       42
-20.0       42
-22.0       18
-21.0       16
-24.0        7
-23.0        7
-26.0        6
-25.0        6
-27.0        5
-29.0        3
-28.0        3
-37.0        1
-38.0        1
-34.0        1
-30.0        1
-32.0        1
-39.0        1
Name: DAYS_LAST_DUE_sum@['SK_ID_CURR'], dtype: int64

2018-07-06 08:04:18,163 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: mean
['SK_ID_CURR']
2018-07-06 08:04:18,163 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: mean
['SK_ID_CURR']
2018-07-06 08:04:18,210 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,210 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,287 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,287 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,293 logger 29 [INFO]    [make_npy]  0.000000     9093
-1.000000     7815
-2.000000     7165
-3.000000     6539
-4.000000     6400
-5.000000     6235
-6.000000     5450
-7.000000     3386
-8.000000     2522
-9.000000     1528
-10.000000     912
-3.500000      466
-4.500000      437
-2.500000      432
-11.000000     397
-5.500000      347
-1.500000      302
-6.500000      197
-0.500000      167
-7.500000      101
-8.500000       59
-2.666667       41
-3.666667       35
-4.333333       34
-4.666667       33
-2.333333       28
-3.333333       26
-5.333333       23
-5.666667       20
-1.666667       20
-9.500000       19
-6.333333       18
-6.666667       17
-1.333333       13
-7.333333       11
-0.666667        9
-3.750000        7
-3.250000        7
-4.750000        6
-0.333333        5
-12.000000       5
-2.250000        5
-8.666667        5
-10.500000       5
-6.250000        4
-5.750000        4
-6.750000        3
-7.666667        3
-4.250000        2
-8.333333        2
-5.250000        2
-0.750000        2
-5.600000        2
-5.200000        1
-5.400000        1
-6.800000        1
-4.800000        1
-7.250000        1
-5.800000        1
-2.750000        1
-9.666667        1
-6.400000        1
-7.400000        1
Name: DAYS_LAST_DUE_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,293 logger 29 [INFO]    [make_npy]  0.000000     9093
-1.000000     7815
-2.000000     7165
-3.000000     6539
-4.000000     6400
-5.000000     6235
-6.000000     5450
-7.000000     3386
-8.000000     2522
-9.000000     1528
-10.000000     912
-3.500000      466
-4.500000      437
-2.500000      432
-11.000000     397
-5.500000      347
-1.500000      302
-6.500000      197
-0.500000      167
-7.500000      101
-8.500000       59
-2.666667       41
-3.666667       35
-4.333333       34
-4.666667       33
-2.333333       28
-3.333333       26
-5.333333       23
-5.666667       20
-1.666667       20
-9.500000       19
-6.333333       18
-6.666667       17
-1.333333       13
-7.333333       11
-0.666667        9
-3.750000        7
-3.250000        7
-4.750000        6
-0.333333        5
-12.000000       5
-2.250000        5
-8.666667        5
-10.500000       5
-6.250000        4
-5.750000        4
-6.750000        3
-7.666667        3
-4.250000        2
-8.333333        2
-5.250000        2
-0.750000        2
-5.600000        2
-5.200000        1
-5.400000        1
-6.800000        1
-4.800000        1
-7.250000        1
-5.800000        1
-2.750000        1
-9.666667        1
-6.400000        1
-7.400000        1
Name: DAYS_LAST_DUE_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,330 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: max
['SK_ID_CURR']
2018-07-06 08:04:18,330 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: max
['SK_ID_CURR']
2018-07-06 08:04:18,371 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,371 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,435 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,435 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,442 logger 29 [INFO]    [make_npy]  0.0     10319
-1.0      8759
-2.0      7739
-3.0      6787
-4.0      6438
-5.0      6237
-6.0      5383
-7.0      3363
-8.0      2513
-9.0      1527
-10.0      909
-11.0      397
-12.0        5
Name: DAYS_LAST_DUE_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,442 logger 29 [INFO]    [make_npy]  0.0     10319
-1.0      8759
-2.0      7739
-3.0      6787
-4.0      6438
-5.0      6237
-6.0      5383
-7.0      3363
-8.0      2513
-9.0      1527
-10.0      909
-11.0      397
-12.0        5
Name: DAYS_LAST_DUE_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,477 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: min
['SK_ID_CURR']
2018-07-06 08:04:18,477 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: min
['SK_ID_CURR']
2018-07-06 08:04:18,526 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,526 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,617 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,617 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,624 logger 29 [INFO]    [make_npy]  0.0     9093
-1.0     7870
-2.0     7228
-5.0     6562
-3.0     6554
-4.0     6480
-6.0     6039
-7.0     3934
-8.0     2999
-9.0     1919
-10.0    1151
-11.0     540
-12.0       7
Name: DAYS_LAST_DUE_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,624 logger 29 [INFO]    [make_npy]  0.0     9093
-1.0     7870
-2.0     7228
-5.0     6562
-3.0     6554
-4.0     6480
-6.0     6039
-7.0     3934
-8.0     2999
-9.0     1919
-10.0    1151
-11.0     540
-12.0       7
Name: DAYS_LAST_DUE_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,650 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: std
['SK_ID_CURR']
2018-07-06 08:04:18,650 logger 125 [INFO]    [select_level_agg]
num: DAYS_LAST_DUE
method: std
['SK_ID_CURR']
2018-07-06 08:04:18,704 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,704 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_LAST_DUE_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,775 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,775 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,781 logger 29 [INFO]    [make_npy] 0.707107    1001
0.000000     997
2.121320     683
1.414214     656
2.828427     615
3.535534     507
4.242641     376
4.949747     226
5.656854     154
6.363961      78
2.645751      37
0.577350      30
1.732051      30
7.071068      30
1.527525      25
2.081666      25
2.309401      20
1.154701      20
7.778175      19
0.577350      19
3.464102      18
2.886751      17
2.516611      17
1.000000      16
3.214550      14
3.214550      14
3.055050      14
2.309401      14
1.527525      13
4.358899      12
4.041452      12
3.605551      11
2.081666      10
3.511885       9
3.785939       9
2.886751       8
1.154701       8
4.000000       7
2.516611       7
3.000000       6
3.511885       6
4.509250       5
2.000000       5
5.196152       5
4.725816       5
3.055050       5
3.785939       5
1.892969       4
4.932883       4
4.163332       4
            ...
4.082483       2
3.304038       2
4.349329       2
3.162278       2
2.302173       1
2.872281       1
2.408319       1
4.924429       1
2.449490       1
3.316625       1
2.362908       1
2.708013       1
3.829708       1
2.708013       1
6.082763       1
5.686241       1
5.228129       1
6.350853       1
0.816497       1
2.683282       1
3.271085       1
4.725816       1
4.193249       1
0.500000       1
3.651484       1
2.581989       1
3.403430       1
3.361547       1
3.114482       1
2.489980       1
3.016621       1
2.588436       1
1.632993       1
3.000000       1
4.573474       1
2.190890       1
4.272002       1
2.061553       1
5.131601       1
3.095696       1
4.546061       1
5.567764       1
3.500000       1
2.753785       1
3.593976       1
4.082483       1
5.619905       1
3.403430       1
3.049590       1
1.000000       1
Name: DAYS_LAST_DUE_std@['SK_ID_CURR'], Length: 114, dtype: int64

2018-07-06 08:04:18,781 logger 29 [INFO]    [make_npy] 0.707107    1001
0.000000     997
2.121320     683
1.414214     656
2.828427     615
3.535534     507
4.242641     376
4.949747     226
5.656854     154
6.363961      78
2.645751      37
0.577350      30
1.732051      30
7.071068      30
1.527525      25
2.081666      25
2.309401      20
1.154701      20
7.778175      19
0.577350      19
3.464102      18
2.886751      17
2.516611      17
1.000000      16
3.214550      14
3.214550      14
3.055050      14
2.309401      14
1.527525      13
4.358899      12
4.041452      12
3.605551      11
2.081666      10
3.511885       9
3.785939       9
2.886751       8
1.154701       8
4.000000       7
2.516611       7
3.000000       6
3.511885       6
4.509250       5
2.000000       5
5.196152       5
4.725816       5
3.055050       5
3.785939       5
1.892969       4
4.932883       4
4.163332       4
            ...
4.082483       2
3.304038       2
4.349329       2
3.162278       2
2.302173       1
2.872281       1
2.408319       1
4.924429       1
2.449490       1
3.316625       1
2.362908       1
2.708013       1
3.829708       1
2.708013       1
6.082763       1
5.686241       1
5.228129       1
6.350853       1
0.816497       1
2.683282       1
3.271085       1
4.725816       1
4.193249       1
0.500000       1
3.651484       1
2.581989       1
3.403430       1
3.361547       1
3.114482       1
2.489980       1
3.016621       1
2.588436       1
1.632993       1
3.000000       1
4.573474       1
2.190890       1
4.272002       1
2.061553       1
5.131601       1
3.095696       1
4.546061       1
5.567764       1
3.500000       1
2.753785       1
3.593976       1
4.082483       1
5.619905       1
3.403430       1
3.049590       1
1.000000       1
Name: DAYS_LAST_DUE_std@['SK_ID_CURR'], Length: 114, dtype: int64
2018-07-06 08:04:18,824 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: sum
['SK_ID_CURR']
2018-07-06 08:04:18,824 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: sum
['SK_ID_CURR']
2018-07-06 08:04:18,870 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,870 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:18,935 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,935 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:18,944 logger 29 [INFO]    [make_npy]  0.0     100799
-1.0       7707
-2.0       6980
-4.0       6313
-5.0       6265
-3.0       6119
-6.0       5293
-7.0       3568
-8.0       2748
-9.0       1804
-10.0      1267
-11.0       647
-12.0       347
-13.0       228
-14.0       186
-15.0       143
-16.0       133
-17.0        67
-18.0        51
-19.0        43
-20.0        28
-21.0        19
-25.0        12
-23.0        10
-22.0         9
-24.0         7
-27.0         5
-26.0         4
-32.0         3
-28.0         2
-29.0         2
-38.0         1
-30.0         1
-36.0         1
-33.0         1
Name: DAYS_TERMINATION_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,944 logger 29 [INFO]    [make_npy]  0.0     100799
-1.0       7707
-2.0       6980
-4.0       6313
-5.0       6265
-3.0       6119
-6.0       5293
-7.0       3568
-8.0       2748
-9.0       1804
-10.0      1267
-11.0       647
-12.0       347
-13.0       228
-14.0       186
-15.0       143
-16.0       133
-17.0        67
-18.0        51
-19.0        43
-20.0        28
-21.0        19
-25.0        12
-23.0        10
-22.0         9
-24.0         7
-27.0         5
-26.0         4
-32.0         3
-28.0         2
-29.0         2
-38.0         1
-30.0         1
-36.0         1
-33.0         1
Name: DAYS_TERMINATION_sum@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:18,981 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: mean
['SK_ID_CURR']
2018-07-06 08:04:18,981 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: mean
['SK_ID_CURR']
2018-07-06 08:04:19,025 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,025 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,118 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,118 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,124 logger 29 [INFO]    [make_npy]  0.000000     8857
-1.000000     7794
-2.000000     7115
-4.000000     6464
-3.000000     6340
-5.000000     6241
-6.000000     5051
-7.000000     3211
-8.000000     2301
-9.000000     1410
-10.000000     815
-3.500000      486
-2.500000      473
-4.500000      403
-1.500000      315
-5.500000      314
-11.000000     286
-0.500000      202
-6.500000      191
-7.500000      100
-3.666667       47
-8.500000       41
-3.333333       40
-4.666667       37
-2.666667       34
-4.333333       32
-2.333333       31
-5.333333       27
-5.666667       21
-1.333333       20
-9.500000       19
-6.333333       19
-1.666667       16
-6.666667       13
-0.666667       11
-0.333333        9
-3.750000        8
-7.666667        7
-3.250000        7
-12.000000       6
-4.750000        5
-4.250000        5
-8.333333        5
-6.250000        5
-2.750000        4
-7.333333        4
-10.500000       4
-5.750000        3
-5.250000        2
-1.750000        2
-6.750000        2
-5.400000        2
-5.200000        1
-4.800000        1
-9.333333        1
-6.600000        1
-1.200000        1
-4.200000        1
-3.800000        1
-4.400000        1
-5.800000        1
-7.250000        1
-8.666667        1
-6.400000        1
-7.200000        1
-2.250000        1
Name: DAYS_TERMINATION_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:19,124 logger 29 [INFO]    [make_npy]  0.000000     8857
-1.000000     7794
-2.000000     7115
-4.000000     6464
-3.000000     6340
-5.000000     6241
-6.000000     5051
-7.000000     3211
-8.000000     2301
-9.000000     1410
-10.000000     815
-3.500000      486
-2.500000      473
-4.500000      403
-1.500000      315
-5.500000      314
-11.000000     286
-0.500000      202
-6.500000      191
-7.500000      100
-3.666667       47
-8.500000       41
-3.333333       40
-4.666667       37
-2.666667       34
-4.333333       32
-2.333333       31
-5.333333       27
-5.666667       21
-1.333333       20
-9.500000       19
-6.333333       19
-1.666667       16
-6.666667       13
-0.666667       11
-0.333333        9
-3.750000        8
-7.666667        7
-3.250000        7
-12.000000       6
-4.750000        5
-4.250000        5
-8.333333        5
-6.250000        5
-2.750000        4
-7.333333        4
-10.500000       4
-5.750000        3
-5.250000        2
-1.750000        2
-6.750000        2
-5.400000        2
-5.200000        1
-4.800000        1
-9.333333        1
-6.600000        1
-1.200000        1
-4.200000        1
-3.800000        1
-4.400000        1
-5.800000        1
-7.250000        1
-8.666667        1
-6.400000        1
-7.200000        1
-2.250000        1
Name: DAYS_TERMINATION_mean@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:19,167 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: max
['SK_ID_CURR']
2018-07-06 08:04:19,167 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: max
['SK_ID_CURR']
2018-07-06 08:04:19,215 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,215 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,280 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)

2018-07-06 08:04:19,280 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,286 logger 29 [INFO]    [make_npy]  0.0     10178
-1.0      8754
-2.0      7673
-3.0      6572
-4.0      6525
-5.0      6195
-6.0      4994
-7.0      3176
-8.0      2289
-9.0      1411
-10.0      812
-11.0      286
-12.0        6
Name: DAYS_TERMINATION_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:19,286 logger 29 [INFO]    [make_npy]  0.0     10178
-1.0      8754
-2.0      7673
-3.0      6572
-4.0      6525
-5.0      6195
-6.0      4994
-7.0      3176
-8.0      2289
-9.0      1411
-10.0      812
-11.0      286
-12.0        6
Name: DAYS_TERMINATION_max@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:19,323 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: min
['SK_ID_CURR']
2018-07-06 08:04:19,323 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: min
['SK_ID_CURR']
2018-07-06 08:04:19,364 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,364 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,426 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,426 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,432 logger 29 [INFO]    [make_npy]  0.0     8857
-1.0     7876
-2.0     7152
-5.0     6610
-4.0     6601
-3.0     6392
-6.0     5655
-7.0     3711
-8.0     2790
-9.0     1770
-10.0    1056
-11.0     393
-12.0       8
Name: DAYS_TERMINATION_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:19,432 logger 29 [INFO]    [make_npy]  0.0     8857
-1.0     7876
-2.0     7152
-5.0     6610
-4.0     6601
-3.0     6392
-6.0     5655
-7.0     3711
-8.0     2790
-9.0     1770
-10.0    1056
-11.0     393
-12.0       8
Name: DAYS_TERMINATION_min@['SK_ID_CURR'], dtype: int64
2018-07-06 08:04:19,469 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: std
['SK_ID_CURR']
2018-07-06 08:04:19,469 logger 125 [INFO]    [select_level_agg]
num: DAYS_TERMINATION
method: std
['SK_ID_CURR']
2018-07-06 08:04:19,512 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,512 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_TERMINATION_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,584 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,584 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,607 logger 29 [INFO]    [make_npy] 0.000000    1037
0.707107    1035
2.121320     699
1.414214     694
2.828427     622
3.535534     501
4.242641     369
4.949747     225
5.656854     140
6.363961      56
1.732051      40
0.577350      36
7.071068      34
2.645751      34
0.577350      30
2.081666      29
1.000000      26
3.464102      21
1.527525      20
1.154701      20
3.214550      19
1.527525      19
2.886751      19
2.516611      17
2.309401      17
4.041452      17
3.214550      16
2.000000      13
2.081666      13
7.778175      13
3.055050      13
3.000000      12
3.511885      12
4.358899      11
1.154701      11
3.605551       9
4.000000       8
2.309401       8
4.509250       6
3.511885       6
1.500000       5
3.055050       5
5.196152       5
3.785939       5
2.886751       5
4.163332       5
2.516611       5
2.629956       4
3.774917       4
4.618802       4
            ...
2.683282       2
4.349329       2
2.160247       2
2.500000       2
3.304038       2
2.167948       2
5.291503       2
3.162278       2
2.872281       1
1.632993       1
4.725816       1
3.829708       1
6.350853       1
3.723797       1
3.271085       1
5.686241       1
5.560276       1
4.966555       1
2.875181       1
2.701851       1
2.738613       1
3.872983       1
3.346640       1
1.892969       1
2.708013       1
2.408319       1
3.862210       1
0.500000       1
2.509980       1
3.403430       1
3.947573       1
2.190890       1
4.654747       1
3.696846       1
5.000000       1
1.892969       1
2.581989       1
4.203173       1
3.593976       1
2.362908       1
4.546061       1
5.773503       1
1.258306       1
5.567764       1
1.892969       1
3.781534       1
3.500000       1
3.033150       1
3.316625       1
0.500000       1
Name: DAYS_TERMINATION_std@['SK_ID_CURR'], Length: 112, dtype: int64
2018-07-06 08:04:19,607 logger 29 [INFO]    [make_npy] 0.000000    1037
0.707107    1035
2.121320     699
1.414214     694
2.828427     622
3.535534     501
4.242641     369
4.949747     225
5.656854     140
6.363961      56
1.732051      40
0.577350      36
7.071068      34
2.645751      34
0.577350      30
2.081666      29
1.000000      26
3.464102      21
1.527525      20
1.154701      20
3.214550      19
1.527525      19
2.886751      19
2.516611      17
2.309401      17
4.041452      17
3.214550      16
2.000000      13
2.081666      13
7.778175      13
3.055050      13
3.000000      12
3.511885      12
4.358899      11
1.154701      11
3.605551       9
4.000000       8
2.309401       8
4.509250       6
3.511885       6
1.500000       5
3.055050       5
5.196152       5
3.785939       5
2.886751       5
4.163332       5
2.516611       5
2.629956       4
3.774917       4
4.618802       4
            ...
2.683282       2
4.349329       2
2.160247       2
2.500000       2
3.304038       2
2.167948       2
5.291503       2
3.162278       2
2.872281       1
1.632993       1
4.725816       1
3.829708       1
6.350853       1
3.723797       1
3.271085       1
5.686241       1
5.560276       1
4.966555       1
2.875181       1
2.701851       1
2.738613       1
3.872983       1
3.346640       1
1.892969       1
2.708013       1
2.408319       1
3.862210       1
0.500000       1
2.509980       1
3.403430       1
3.947573       1
2.190890       1
4.654747       1
3.696846       1
5.000000       1
1.892969       1
2.581989       1
4.203173       1
3.593976       1
2.362908       1
4.546061       1
5.773503       1
1.258306       1
5.567764       1
1.892969       1
3.781534       1
3.500000       1
3.033150       1
3.316625       1
0.500000       1
Name: DAYS_TERMINATION_std@['SK_ID_CURR'], Length: 112, dtype: int64
2018-07-06 08:04:19,655 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: sum
['SK_ID_CURR']
2018-07-06 08:04:19,655 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: sum
['SK_ID_CURR']
2018-07-06 08:04:19,701 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,701 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,775 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,775 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,793 logger 29 [INFO]    [make_npy]  12.000000    1473
 13.000000    1359
 11.000000    1300
 10.000000    1294
 9.000000     1214
 8.000000     1104
 14.000000    1101
 15.000000     501
 8.250709      434
 9.250709      385
 16.000000     322
 10.250709     313
 17.000000     283
 11.250709     263
 12.250709     262
 20.000000     242
 18.000000     220
 13.250709     174
 19.000000     167
 20.250709     154
 14.250709     151
 15.250709     118
 16.250709     112
-0.909091      111
 18.250709      96
-2.909091       94
-1.909091       86
 8.023588       84
 9.023588       81
 0.090909       75
 17.250709      71
 10.023588      67
 12.023588      62
-2.909091       59
 11.023588      56
 1.090909       55
 19.250709      54
 13.023588      53
 22.250709      52
 0.090909       51
 24.250709      49
-1.909091       49
 3.695187       48
-0.909091       47
-1.241044       44
-2.241044       43
 2.695187       42
-0.241044       42
-0.286480       41
 4.695187       40
              ...
-2.626992        1
-0.412388        1
-0.092062        1
-5.343317        1
 9.102789        1
 2.178544        1
 5.098789        1
 10.686243       1
 11.395201       1
 17.806236       1
-3.072140        1
-4.652852        1
 30.248227       1
 15.322717       1
 22.662265       1
 19.945352       1
 1.274979        1
 11.708276       1
 0.588781        1
 9.090136        1
 21.643422       1
 20.983231       1
 16.246565       1
 21.655466       1
 10.497185       1
 2.100039        1
-4.134653        1
 51.533210       1
-5.643525        1
 12.207884       1
 13.761113       1
 34.257192       1
-7.415779        1
-11.229920       1
 9.579395        1
 3.407742        1
 1.695633        1
-0.286511        1
 8.816610        1
 15.039974       1
 13.535077       1
 21.033956       1
 4.515177        1
 4.922592        1
 2.907827        1
 16.504159       1
 36.651943       1
 14.964380       1
-1.286496        1
-3.455903        1
Name: DAYS_lastplan_month_sum@['SK_ID_CURR'], Length: 121699, dtype: int64

2018-07-06 08:04:19,793 logger 29 [INFO]    [make_npy]  12.000000    1473
 13.000000    1359
 11.000000    1300
 10.000000    1294
 9.000000     1214
 8.000000     1104
 14.000000    1101
 15.000000     501
 8.250709      434
 9.250709      385
 16.000000     322
 10.250709     313
 17.000000     283
 11.250709     263
 12.250709     262
 20.000000     242
 18.000000     220
 13.250709     174
 19.000000     167
 20.250709     154
 14.250709     151
 15.250709     118
 16.250709     112
-0.909091      111
 18.250709      96
-2.909091       94
-1.909091       86
 8.023588       84
 9.023588       81
 0.090909       75
 17.250709      71
 10.023588      67
 12.023588      62
-2.909091       59
 11.023588      56
 1.090909       55
 19.250709      54
 13.023588      53
 22.250709      52
 0.090909       51
 24.250709      49
-1.909091       49
 3.695187       48
-0.909091       47
-1.241044       44
-2.241044       43
 2.695187       42
-0.241044       42
-0.286480       41
 4.695187       40
              ...
-2.626992        1
-0.412388        1
-0.092062        1
-5.343317        1
 9.102789        1
 2.178544        1
 5.098789        1
 10.686243       1
 11.395201       1
 17.806236       1
-3.072140        1
-4.652852        1
 30.248227       1
 15.322717       1
 22.662265       1
 19.945352       1
 1.274979        1
 11.708276       1
 0.588781        1
 9.090136        1
 21.643422       1
 20.983231       1
 16.246565       1
 21.655466       1
 10.497185       1
 2.100039        1
-4.134653        1
 51.533210       1
-5.643525        1
 12.207884       1
 13.761113       1
 34.257192       1
-7.415779        1
-11.229920       1
 9.579395        1
 3.407742        1
 1.695633        1
-0.286511        1
 8.816610        1
 15.039974       1
 13.535077       1
 21.033956       1
 4.515177        1
 4.922592        1
 2.907827        1
 16.504159       1
 36.651943       1
 14.964380       1
-1.286496        1
-3.455903        1
Name: DAYS_lastplan_month_sum@['SK_ID_CURR'], Length: 121699, dtype: int64
2018-07-06 08:04:19,838 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: mean
['SK_ID_CURR']
2018-07-06 08:04:19,838 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: mean
['SK_ID_CURR']
2018-07-06 08:04:19,881 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,881 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:19,946 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,946 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:19,965 logger 29 [INFO]    [make_npy]  12.000000    1510
 13.000000    1395
 11.000000    1333
 10.000000    1332
 9.000000     1238
 8.000000     1126
 14.000000    1121
 15.000000     509
 8.250709      443
 9.250709      398
 10.250709     317
 16.000000     310
 17.000000     289
 12.250709     271
 11.250709     270
 20.000000     208
 18.000000     197
 13.250709     179
 19.000000     165
 14.250709     155
 15.250709     121
 20.250709     113
-0.909091      111
-2.909091       95
 16.250709      90
-1.909091       87
 8.023588       87
 9.023588       82
 0.090909       76
 10.023588      69
 12.023588      66
 18.250709      66
 17.250709      66
-2.909091       59
 11.023588      58
 1.090909       55
 13.023588      54
 11.125355      52
 0.090909       51
 3.695187       50
-1.909091       49
 19.250709      48
 12.125355      48
-0.909091       47
-1.241044       44
-2.241044       44
 10.125355      43
-0.241044       42
 2.695187       42
-0.286480       41
              ...
-4.643524        1
 4.039948        1
 13.684949       1
 2.705282        1
 1.254317        1
 6.172325        1
 4.570003        1
 2.903600        1
 5.231645        1
 13.150748       1
 12.519968       1
-5.592259        1
 2.285067        1
 8.174935        1
 7.421768        1
 29.009479       1
 5.907714        1
 3.674714        1
 2.108446        1
 1.775103        1
 3.907852        1
 0.426020        1
 2.853211        1
 6.383899        1
 7.224369        1
 16.047517       1
-2.495802        1
 11.469702       1
 8.918346        1
 25.363582       1
 7.522263        1
 0.424191        1
 15.060280       1
 4.437062        1
 17.640210       1
 9.604467        1
 0.919397        1
 12.235679       1
 2.560441        1
 0.133491        1
 3.551365        1
 7.170808        1
-5.532856        1
 2.032268        1
 9.132415        1
 5.713515        1
 10.107163       1
 3.631924        1
 13.197525       1
 3.233870        1
Name: DAYS_lastplan_month_mean@['SK_ID_CURR'], Length: 121871, dtype: int64
2018-07-06 08:04:19,965 logger 29 [INFO]    [make_npy]  12.000000    1510
 13.000000    1395
 11.000000    1333
 10.000000    1332
 9.000000     1238
 8.000000     1126
 14.000000    1121
 15.000000     509
 8.250709      443
 9.250709      398
 10.250709     317
 16.000000     310
 17.000000     289
 12.250709     271
 11.250709     270
 20.000000     208
 18.000000     197
 13.250709     179
 19.000000     165
 14.250709     155
 15.250709     121
 20.250709     113
-0.909091      111
-2.909091       95
 16.250709      90
-1.909091       87
 8.023588       87
 9.023588       82
 0.090909       76
 10.023588      69
 12.023588      66
 18.250709      66
 17.250709      66
-2.909091       59
 11.023588      58
 1.090909       55
 13.023588      54
 11.125355      52
 0.090909       51
 3.695187       50
-1.909091       49
 19.250709      48
 12.125355      48
-0.909091       47
-1.241044       44
-2.241044       44
 10.125355      43
-0.241044       42
 2.695187       42
-0.286480       41
              ...
-4.643524        1
 4.039948        1
 13.684949       1
 2.705282        1
 1.254317        1
 6.172325        1
 4.570003        1
 2.903600        1
 5.231645        1
 13.150748       1
 12.519968       1
-5.592259        1
 2.285067        1
 8.174935        1
 7.421768        1
 29.009479       1
 5.907714        1
 3.674714        1
 2.108446        1
 1.775103        1
 3.907852        1
 0.426020        1
 2.853211        1
 6.383899        1
 7.224369        1
 16.047517       1
-2.495802        1
 11.469702       1
 8.918346        1
 25.363582       1
 7.522263        1
 0.424191        1
 15.060280       1
 4.437062        1
 17.640210       1
 9.604467        1
 0.919397        1
 12.235679       1
 2.560441        1
 0.133491        1
 3.551365        1
 7.170808        1
-5.532856        1
 2.032268        1
 9.132415        1
 5.713515        1
 10.107163       1
 3.631924        1
 13.197525       1
 3.233870        1
Name: DAYS_lastplan_month_mean@['SK_ID_CURR'], Length: 121871, dtype: int64
2018-07-06 08:04:19,996 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: max
['SK_ID_CURR']
2018-07-06 08:04:19,996 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: max
['SK_ID_CURR']
2018-07-06 08:04:20,058 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:20,058 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:20,152 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:20,152 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:20,170 logger 29 [INFO]    [make_npy]  12.000000    3769
 13.000000    3473
 11.000000    3410
 10.000000    3252
 9.000000     3034
 14.000000    2948
 8.000000     2550
 15.000000    1910
 16.000000    1369
 17.000000    1030
 18.000000     672
 20.000000     577
 8.250709      540
 19.000000     524
 9.250709      516
 10.250709     444
 12.250709     384
 11.250709     377
 13.250709     275
 14.250709     265
 15.250709     212
 20.250709     177
 16.250709     149
 17.250709     126
-0.909091      117
 8.023588      108
 9.023588      106
 18.250709      98
-2.909091       95
 10.023588      93
 11.023588      91
-1.909091       88
 12.023588      85
 0.090909       79
 19.250709      77
 13.023588      75
 4.695187       67
 3.695187       65
 14.023588      64
-2.909091       62
 1.090909       60
 0.090909       52
 2.695187       51
-1.909091       50
-0.909091       49
-1.241044       48
 29.363636      46
-2.241044       44
 30.363636      43
-0.241044       42
              ...
 1.907839        1
 4.358654        1
 2.907851        1
-1.077419        1
-1.077373        1
-1.146746        1
 5.320307        1
 10.638705       1
-1.991988        1
 6.247759        1
-2.245825        1
 10.353570       1
 3.304134        1
-0.468165        1
 13.471075       1
 0.999005        1
 6.229528        1
 16.925605       1
 19.294795       1
 5.370182        1
 3.691149        1
 1.100011        1
 8.281262        1
 7.907870        1
 1.754190        1
 4.693366        1
 28.199713       1
 3.253199        1
 2.129474        1
 20.692388       1
 22.206233       1
 8.804370        1
-0.092141        1
 16.486562       1
 6.702677        1
 7.343168        1
 3.713537        1
-1.212801        1
-3.397858        1
 9.353604        1
 1.650974        1
-1.134146        1
 8.907900        1
-0.043204        1
 12.559875       1
 5.224386        1
-0.195630        1
 19.609631       1
 23.224668       1
 16.701440       1
Name: DAYS_lastplan_month_max@['SK_ID_CURR'], Length: 97382, dtype: int64

2018-07-06 08:04:20,170 logger 29 [INFO]    [make_npy]  12.000000    3769
 13.000000    3473
 11.000000    3410
 10.000000    3252
 9.000000     3034
 14.000000    2948
 8.000000     2550
 15.000000    1910
 16.000000    1369
 17.000000    1030
 18.000000     672
 20.000000     577
 8.250709      540
 19.000000     524
 9.250709      516
 10.250709     444
 12.250709     384
 11.250709     377
 13.250709     275
 14.250709     265
 15.250709     212
 20.250709     177
 16.250709     149
 17.250709     126
-0.909091      117
 8.023588      108
 9.023588      106
 18.250709      98
-2.909091       95
 10.023588      93
 11.023588      91
-1.909091       88
 12.023588      85
 0.090909       79
 19.250709      77
 13.023588      75
 4.695187       67
 3.695187       65
 14.023588      64
-2.909091       62
 1.090909       60
 0.090909       52
 2.695187       51
-1.909091       50
-0.909091       49
-1.241044       48
 29.363636      46
-2.241044       44
 30.363636      43
-0.241044       42
              ...
 1.907839        1
 4.358654        1
 2.907851        1
-1.077419        1
-1.077373        1
-1.146746        1
 5.320307        1
 10.638705       1
-1.991988        1
 6.247759        1
-2.245825        1
 10.353570       1
 3.304134        1
-0.468165        1
 13.471075       1
 0.999005        1
 6.229528        1
 16.925605       1
 19.294795       1
 5.370182        1
 3.691149        1
 1.100011        1
 8.281262        1
 7.907870        1
 1.754190        1
 4.693366        1
 28.199713       1
 3.253199        1
 2.129474        1
 20.692388       1
 22.206233       1
 8.804370        1
-0.092141        1
 16.486562       1
 6.702677        1
 7.343168        1
 3.713537        1
-1.212801        1
-3.397858        1
 9.353604        1
 1.650974        1
-1.134146        1
 8.907900        1
-0.043204        1
 12.559875       1
 5.224386        1
-0.195630        1
 19.609631       1
 23.224668       1
 16.701440       1
Name: DAYS_lastplan_month_max@['SK_ID_CURR'], Length: 97382, dtype: int64
2018-07-06 08:04:20,218 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: min
['SK_ID_CURR']
2018-07-06 08:04:20,218 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: min
['SK_ID_CURR']
2018-07-06 08:04:20,264 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:20,264 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:20,329 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:20,329 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:20,347 logger 29 [INFO]    [make_npy]  12.000000    2027
 13.000000    1839
 10.000000    1807
 11.000000    1788
 9.000000     1660
 14.000000    1517
 8.000000     1508
 15.000000     735
 8.250709      562
 9.250709      473
 16.000000     469
 17.000000     423
 10.250709     373
 11.250709     313
 12.250709     309
 18.000000     260
 20.000000     238
 19.000000     213
 13.250709     194
-0.909091      171
 14.250709     161
-2.909091      161
-1.909091      142
 15.250709     123
 20.250709     115
 0.090909      109
-2.909091       99
 8.023588       96
 16.250709      95
 9.023588       92
-1.909091       87
 0.090909       79
 1.090909       78
 17.250709      77
 10.023588      75
-2.241044       75
-1.241044       73
 12.023588      73
-0.909091       73
 3.695187       68
 11.023588      68
 18.250709      67
 2.695187       63
-0.241044       59
 4.695187       59
 13.023588      58
 2.090909       56
-0.286480       53
 1.090909       52
 19.250709      51
              ...
 15.450022       1
-2.245825        1
-0.195630        1
 19.609631       1
 2.588780        1
 8.353632        1
 1.650974        1
 20.692388       1
 1.552002        1
 2.129474        1
 3.253199        1
 6.247759        1
 10.353570       1
 0.399870        1
-6.915354        1
 13.205519       1
 2.431588        1
 3.304134        1
 19.197505       1
-0.468165        1
-0.753333        1
 13.471075       1
 0.999005        1
 6.229528        1
 5.224386        1
-0.043204        1
 8.907900        1
-1.134146        1
-3.704397        1
 16.901669       1
-7.369529        1
-6.771403        1
 28.950307       1
 6.389003        1
-1.077388        1
-1.146746        1
 0.168803        1
-4.495813        1
-1.879616        1
 8.804370        1
 16.486562       1
 6.702677        1
 7.343168        1
 3.713537        1
-0.818844        1
-3.397858        1
 0.805304        1
 22.206233       1
 9.353604        1
 3.736416        1
Name: DAYS_lastplan_month_min@['SK_ID_CURR'], Length: 110592, dtype: int64
2018-07-06 08:04:20,347 logger 29 [INFO]    [make_npy]  12.000000    2027
 13.000000    1839
 10.000000    1807
 11.000000    1788
 9.000000     1660
 14.000000    1517
 8.000000     1508
 15.000000     735
 8.250709      562
 9.250709      473
 16.000000     469
 17.000000     423
 10.250709     373
 11.250709     313
 12.250709     309
 18.000000     260
 20.000000     238
 19.000000     213
 13.250709     194
-0.909091      171
 14.250709     161
-2.909091      161
-1.909091      142
 15.250709     123
 20.250709     115
 0.090909      109
-2.909091       99
 8.023588       96
 16.250709      95
 9.023588       92
-1.909091       87
 0.090909       79
 1.090909       78
 17.250709      77
 10.023588      75
-2.241044       75
-1.241044       73
 12.023588      73
-0.909091       73
 3.695187       68
 11.023588      68
 18.250709      67
 2.695187       63
-0.241044       59
 4.695187       59
 13.023588      58
 2.090909       56
-0.286480       53
 1.090909       52
 19.250709      51
              ...
 15.450022       1
-2.245825        1
-0.195630        1
 19.609631       1
 2.588780        1
 8.353632        1
 1.650974        1
 20.692388       1
 1.552002        1
 2.129474        1
 3.253199        1
 6.247759        1
 10.353570       1
 0.399870        1
-6.915354        1
 13.205519       1
 2.431588        1
 3.304134        1
 19.197505       1
-0.468165        1
-0.753333        1
 13.471075       1
 0.999005        1
 6.229528        1
 5.224386        1
-0.043204        1
 8.907900        1
-1.134146        1
-3.704397        1
 16.901669       1
-7.369529        1
-6.771403        1
 28.950307       1
 6.389003        1
-1.077388        1
-1.146746        1
 0.168803        1
-4.495813        1
-1.879616        1
 8.804370        1
 16.486562       1
 6.702677        1
 7.343168        1
 3.713537        1
-0.818844        1
-3.397858        1
 0.805304        1
 22.206233       1
 9.353604        1
 3.736416        1
Name: DAYS_lastplan_month_min@['SK_ID_CURR'], Length: 110592, dtype: int64
2018-07-06 08:04:20,391 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: std
['SK_ID_CURR']
2018-07-06 08:04:20,391 logger 125 [INFO]    [select_level_agg]
num: DAYS_lastplan_month
method: std
['SK_ID_CURR']
2018-07-06 08:04:20,440 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:20,440 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'DAYS_lastplan_month_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 08:04:20,512 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:20,512 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 08:04:20,523 logger 29 [INFO]    [make_npy] 0.000000     544
0.177278     245
0.707107      49
6.579496      35
1.479049      26
5.410238      25
0.947832      25
7.713892      25
11.570838     23
1.414214      21
2.828427      21
2.546713      21
6.883803      21
7.713892      19
6.735660      19
3.982555      19
2.121320      18
7.534704      18
0.529829      18
0.701679      18
7.478237      18
10.245801     17
6.883802      17
3.325522      16
6.688936      15
2.446991      15
5.543473      15
6.883808      14
8.249579      14
3.535534      14
3.408024      14
7.993381      14
7.478226      13
10.040723     13
1.944042      13
2.651149      13
6.694984      13
5.543465      13
7.667763      12
6.735660      12
6.993140      12
0.959275      12
7.512224      12
5.137847      12
7.531442      12
1.479045      11
0.486160      11
3.281949      11
1.025332      11
6.708758      11
            ...
3.552310       1
7.333947       1
7.619528       1
10.230523      1
9.013372       1
7.278578       1
0.042122       1
3.535508       1
0.216241       1
4.199692       1
6.563550       1
8.340240       1
8.292711       1
2.618540       1
5.336272       1
5.815103       1
6.391950       1
11.266053      1
6.748942       1
7.305050       1
19.531358      1
3.687081       1
4.885842       1
3.356501       1
0.000009       1
9.877952       1
1.386373       1
3.531668       1
6.817890       1
2.179578       1
5.090140       1
8.703922       1
18.894254      1
18.548466      1
1.263854       1
14.922711      1
7.945294       1
10.318288      1
5.891479       1
10.837375      1
9.302209       1
4.281699       1
7.240784       1
8.112299       1
8.034577       1
7.269916       1
10.698465      1
1.941153       1
8.289340       1
10.954996      1
Name: DAYS_lastplan_month_std@['SK_ID_CURR'], Length: 42704, dtype: int64

2018-07-06 08:04:20,523 logger 29 [INFO]    [make_npy] 0.000000     544
0.177278     245
0.707107      49
6.579496      35
1.479049      26
5.410238      25
0.947832      25
7.713892      25
11.570838     23
1.414214      21
2.828427      21
2.546713      21
6.883803      21
7.713892      19
6.735660      19
3.982555      19
2.121320      18
7.534704      18
0.529829      18
0.701679      18
7.478237      18
10.245801     17
6.883802      17
3.325522      16
6.688936      15
2.446991      15
5.543473      15
6.883808      14
8.249579      14
3.535534      14
3.408024      14
7.993381      14
7.478226      13
10.040723     13
1.944042      13
2.651149      13
6.694984      13
5.543465      13
7.667763      12
6.735660      12
6.993140      12
0.959275      12
7.512224      12
5.137847      12
7.531442      12
1.479045      11
0.486160      11
3.281949      11
1.025332      11
6.708758      11
            ...
3.552310       1
7.333947       1
7.619528       1
10.230523      1
9.013372       1
7.278578       1
0.042122       1
3.535508       1
0.216241       1
4.199692       1
6.563550       1
8.340240       1
8.292711       1
2.618540       1
5.336272       1
5.815103       1
6.391950       1
11.266053      1
6.748942       1
7.305050       1
19.531358      1
3.687081       1
4.885842       1
3.356501       1
0.000009       1
9.877952       1
1.386373       1
3.531668       1
6.817890       1
2.179578       1
5.090140       1
8.703922       1
18.894254      1
18.548466      1
1.263854       1
14.922711      1
7.945294       1
10.318288      1
5.891479       1
10.837375      1
9.302209       1
4.281699       1
7.240784       1
8.112299       1
8.034577       1
7.269916       1
10.698465      1
1.941153       1
8.289340       1
10.954996      1
Name: DAYS_lastplan_month_std@['SK_ID_CURR'], Length: 42704, dtype: int64

In [82]:
' 回数をカラムにもたせる '
ft_name = f'CNT_UNU_{p_id}@'
ft_name = f'CNT_UNU_YEAR_{p_id}@'
cnt_data = unuse_year
cnt_prev = cnt_data.groupby(unique_id)['SK_ID_PREV'].size().reset_index().rename(columns={p_id:ft_name})

cnt = base.merge(cnt_prev, on=unique_id, how='left').fillna(0)
' value_countして、外れ値は目視で外してしまう⇒いけてないので、outlierもってくるｗ '
cnt[ft_name].value_counts()

0.0    350115
1.0      5556
2.0       479
3.0        81
4.0        16
6.0         3
7.0         2
5.0         2
8.0         1
Name: CNT_UNU_YEAR_SK_ID_PREV@, dtype: int64

In [83]:
cnt[ft_name] = cnt[ft_name].clip(0, 4)
# cnt[f'CNT_REF_{p_id}@'] = cnt[f'CNT_REF_{p_id}@'].clip(0, 30)
# cnt[f'CNT_APR_{p_id}@'].value_counts()
# cnt[f'CNT_REF_{p_id}@'].value_counts()
make_npy(logger=logger, ignore_list=ignore_features, result=cnt)

2018-07-06 08:20:51,469 logger 29 [INFO]    [make_npy] 0.0    350115
1.0      5556
2.0       479
3.0        81
4.0        24
Name: CNT_UNU_YEAR_SK_ID_PREV@, dtype: int64
2018-07-06 08:20:51,469 logger 29 [INFO]    [make_npy] 0.0    350115
1.0      5556
2.0       479
3.0        81
4.0        24
Name: CNT_UNU_YEAR_SK_ID_PREV@, dtype: int64

In [51]:
prev_apr

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE_x,AMT_ANNUITY_x,AMT_APPLICATION,AMT_CREDIT_x,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE_x,WEEKDAY_APPR_PROCESS_START_x,HOUR_APPR_PROCESS_START_x,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE_x,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,TARGET_x,valid_no_x,is_train_x,is_test_x,DAYS_lastplan_month,DAYS_LAST_DUE_diff_lastplan_month,DAYS_original_last_due,DAYS_FIRST_DUE_diff_DAYS_DECISION@,DAYS_LAST_DUE_1ST_VERSION_diff_DAYS_LAST_DUE@,DAYS_TERMINATION_diff_DAYS_LAST_DUE@,DAYS_term_month,DAYS_term_month_1st,AMT_CREDIT_div_AMT_APPLICATION@,...,HOUR_APPR_PROCESS_START_y,HOUSETYPE_MODE,LANDAREA_AVG,LANDAREA_MEDI,LANDAREA_MODE,LIVE_CITY_NOT_WORK_CITY,LIVE_REGION_NOT_WORK_REGION,LIVINGAPARTMENTS_AVG,LIVINGAPARTMENTS_MEDI,LIVINGAPARTMENTS_MODE,LIVINGAREA_AVG,LIVINGAREA_MEDI,LIVINGAREA_MODE,NAME_CONTRACT_TYPE_y,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,NAME_INCOME_TYPE,NAME_TYPE_SUITE_y,NONLIVINGAPARTMENTS_AVG,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_AVG,NONLIVINGAREA_MEDI,NONLIVINGAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,OCCUPATION_TYPE,ORGANIZATION_TYPE,OWN_CAR_AGE,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,TARGET_y,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START_y,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,is_test_y,is_train_y,valid_no_y
0,2462805,299809,Cash loans,9842.400,90000.000,90000.00,NaN,90000.000,THURSDAY,13,Y,1.0,NaN,NaN,NaN,XNA,Approved,-75.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash Street: high,-75.0,-74.0,-63.0,-63.0,-63.0,0.0,0,3.0,1,0,-65.855889,2.855889,-63.0,1.0,0.0,0.0,12.0,12.0,1.000000,...,15,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Separated,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Laborers,Government,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,SUNDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
1,1004367,299809,Cash loans,10660.860,135000.000,152820.00,NaN,135000.000,THURSDAY,9,Y,1.0,NaN,NaN,NaN,XNA,Approved,-67.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,high,Cash Street: high,NaN,-66.0,-43.0,-43.0,-43.0,1.0,0,3.0,1,0,-52.665322,9.665322,-43.0,1.0,0.0,0.0,24.0,24.0,1.132000,...,15,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Separated,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Laborers,Government,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,SUNDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
2,1460450,299809,Cash loans,9222.390,76500.000,81549.00,NaN,76500.000,WEDNESDAY,9,Y,1.0,NaN,NaN,NaN,XNA,Approved,-52.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash X-Sell: high,NaN,-51.0,-40.0,-40.0,-39.0,1.0,0,3.0,1,0,-43.157498,3.157498,-40.0,1.0,0.0,1.0,12.0,12.0,1.066000,...,15,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Separated,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Laborers,Government,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,SUNDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
3,1129168,299809,Cash loans,4921.200,45000.000,45000.00,NaN,45000.000,THURSDAY,7,Y,1.0,NaN,NaN,NaN,XNA,Approved,-80.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash Street: high,NaN,-83.0,-72.0,-72.0,-71.0,0.0,0,3.0,1,0,-70.855889,-1.144111,-72.0,-3.0,0.0,1.0,8.0,8.0,1.000000,...,15,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Separated,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Laborers,Government,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,SUNDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
4,2360644,299809,Consumer loans,7005.690,46071.000,44172.00,4635.000,46071.000,WEDNESDAY,12,Y,1.0,0.103426,NaN,NaN,XAP,Approved,-80.0,Cash through the bank,XAP,Unaccompanied,Repeater,Mobile,POS,XNA,Country-wide,40.0,Connectivity,8.0,low_normal,POS mobile with interest,NaN,-89.0,-82.0,-82.0,-82.0,1.0,0,3.0,1,0,-73.694839,-8.305161,-82.0,-9.0,0.0,0.0,-2.0,-2.0,0.958781,...,15,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Separated,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Laborers,Government,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,SUNDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
5,1626275,426902,Cash loans,5246.010,45000.000,47970.00,NaN,45000.000,THURSDAY,15,Y,1.0,NaN,NaN,NaN,XNA,Approved,-74.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash Street: high,-74.0,-73.0,-62.0,-62.0,-62.0,1.0,0,3.0,1,0,-64.855908,2.855908,-62.0,1.0,0.0,0.0,12.0,12.0,1.066000,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Single / not married,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.018634,2,2,0,0,0,0,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
6,2243449,426902,Consumer loans,2194.695,16290.000,15880.50,1620.000,16290.000,MONDAY,16,Y,1.0,0.100816,NaN,NaN,XAP,Approved,-42.0,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,50.0,Connectivity,10.0,high,POS mobile with interest,NaN,-40.0,-31.0,-31.0,-31.0,0.0,0,3.0,1,0,-34.764143,3.764143,-31.0,2.0,0.0,0.0,11.0,11.0,0.974862,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Single / not married,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.018634,2,2,0,0,0,0,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
7,2707737,426902,Consumer loans,5705.685,62856.000,55611.00,12555.000,62856.000,SUNDAY,16,Y,1.0,0.200592,NaN,NaN,XAP,Approved,-29.0,Cash through the bank,XAP,NaN,Repeater,Computers,POS,XNA,Country-wide,50.0,Connectivity,12.0,middle,POS mobile with interest,NaN,-28.0,-17.0,-17.0,-17.0,0.0,0,3.0,1,0,-19.253405,2.253405,-17.0,1.0,0.0,0.0,12.0,12.0,0.884737,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Single / not married,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.018634,2,2,0,0,0,0,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
8,2702765,426902,Consumer loans,6918.660,58356.000,57703.50,5850.000,58356.000,SUNDAY,11,Y,1.0,0.100249,NaN,NaN,XAP,Approved,-60.0,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,50.0,Connectivity,12.0,high,POS mobile with interest,NaN,-58.0,-47.0,-47.0,-47.0,0.0,0,3.0,1,0,-51.659729,4.659729,-47.0,2.0,0.0,0.0,13.0,13.0,0.988819,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Single / not married,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.018634,2,2,0,0,0,0,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
9,1233874,426902,Consumer loans,1817.550,14170.500,15574.50,NaN,14170.500,MONDAY,16,Y,1.0,NaN,NaN,NaN,XAP,Approved,-79.0,Cash through the bank,XAP,Family,New,Mobile,POS,XNA,Country-wide,50.0,Connectivity,12.0,high,POS mobile with interest,NaN,-78.0,-67.0,-67.0,-67.0,1.0,0,3.0,1,0,-70.431047,3.431047,-67.0,1.0,0.0,0.0,12.0,12.0,1.099079,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Single / not married,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.018634,2,2,0,0,0,0,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
10,2270094,426902,Cash loans,14379.480,135000.000,143910.00,NaN,135000.000,WEDNESDAY,16,Y,1.0,NaN,NaN,NaN,XNA,Approved,-18.0,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,NaN,XNA,12.0,middle,Cash X-Sell: middle,NaN,-17.0,-6.0,-7.0,-7.0,1.0,0,3.0,1,0,-7.991989,0.991989,-7.0,1.0,1.0,0.0,11.0,12.0,1.066000,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Single / not married,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.018634,2,2,0,0,0,0,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3.0
11,1983905,157753,Cash loans,8610.120,112500.000,127350.00,NaN,112500.000,THURSDAY,14,Y,1.0,NaN,NaN,NaN,XNA,Approved,-74.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,high,Cash Street: high,-74.0,-73.0,-50.0,-50.0,-50.0,1.0,0,4.0,1,0,-59.209265,9.209265,-50.0,1.0,0.0,0.0,24.0,24.0,1.132000,...,13,block of flats,NaN,NaN,NaN,0,0,0.0832,0.0847,0.0909,0.0590,0.0601,0.0615,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,0.0000,0.0000,0.0000,0.1064,0.1086,0.1126,0.0,0.0,Laborers,Industry: type 3,NaN,0.007274,2,2,0,0,0,0,0,0.0709,"Stone, brick",FRIDAY,0.9801,0.9801,0.9801,0.7280,0.7316,0.7387,0,1,4.0
12,1984380,157753,Cash loans,20466.000,450000.000,450000.00,NaN,450000.000,TUESDAY,18,Y,1.0,NaN,NaN,NaN,XNA,Approved,-27.0,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Country-wide,79.0,Connectivity,36.0,middle,Cash X-Sell: middle,NaN,-26.0,8.0,-13.0,-13.0,0.0,0,4.0,1,0,-5.012313,-7.987687,-13.0,1.0,21.0,0.0,14.0,35.0,1.000000,...,13,block of flats,NaN,NaN,NaN,0,0,0.0832,0.0847,0.0909,0.0590,0.0601,0.0615,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,0.0000,0.0000,0.0000,0.1064,0.1086,0.1126,0.0,0.0,Laborers,Industry: type 3,NaN,0.007274,2,2,0,0,0,0,0,0.0709,"Stone, brick",FRIDAY,0.9801,0.9801,0.9801,0.7280,0.7316,0.7387,0,1,4.0
13,2137660,157753,Cash loans,7606.125,112500.000,112500.00,NaN,112500.000,TUESDAY,9,Y,1.0,NaN,NaN,NaN,XNA,Approved,-78.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,high,Cash Street: high,NaN,-77.0,-54.0,-54.0,-54.0,0.0,0,4.0,1,0,-63.209289,9.209289,-54.0,1.0,0.0,0.0,24.0,24.0,1.000000,...,13,block of flats,NaN,NaN,NaN,0,0,0.0832,0.0847,0.0909,0.0590,0.0601,0.0615,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,0.0000,0.0000,0.0000,0.1064,0.1086,0.1126,0.0,0.0,Laborers,Industry: type 3,NaN,0.007274,2,2,0,0,0,0,0,0.0709,"Stone, brick",FRIDAY,0.9801,0.9801,0.9801,0.7280,0.7316,0.7387,0,1,4.0
14,2083416,157753,Cash loans,7910.370,117000.000,117000.00,NaN,117000.000,FRIDAY,16,Y,1.0,NaN,NaN,NaN,XNA,Approved,-73.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,high,Cash Street: high,NaN,-72.0,-49.0,-49.0,-48.0,0.0,0,4.0,1,0,-58.209289,9.209289,-49.0,1.0,0.0,1.0,24.0,24.0,1.000000,...,13,block of flats,NaN,NaN,NaN,0,0,0.0832,0.0847,0.0909,0.0590,0.0601,0.0615,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,0.0000,0.0000,0.0000,0.1064,0.1086,0.1126,0.0,0.0,Laborers,Industry: type 3,NaN,0.007274,2,2,0,0,0,0,0,0.0709,"Stone, brick",FRIDAY,0.9801,0.9801,0.9801,0.7280,0.7316,0.7387,0,1,4.0
15,1055015,157753,Cash loans,9842.400,90000.000,90000.00,NaN,90000.000,FRIDAY,11,Y,1.0,NaN,NaN,NaN,XNA,Approved,-80.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash Street: high,NaN,-82.0,-71.0,-71.0,-70.0,0.0,0,4.0,1,0,-70.855889,-0.144111,-71.0,-2.0,0.0,1.0,9.0,9.0,1.000000,...,13,block of flats,NaN,NaN,NaN,0,0,0.0832,0.0847,0.0909,0.0590,0.0601,0.0615,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,0.0000,0.0000,0.0000,0.1064,0.1086,0.1126,0.0,0.0,Laborers,Industry: type 3,NaN,0.007274,2,2,0,0,0,0,0,0.0709,"Stone, brick",FRIDAY,0.9801,0.9801,0.9801,0.7280,0.7316,0.7387,0,1,4.0
16,2257553,157753,Consumer loans,6671.790,25191.000,23418.00,2520.000,25191.000,TUESDAY,14,Y,1.0,0.105810,NaN,NaN,XAP,Approved,-80.0,Cash through the bank,XAP,Unaccompanied,New,Mobile,POS,XNA,Country-wide,79.0,Connectivity,4.0,low_normal,POS mobile with interest,NaN,-89.0,-83.0,-82.0,-82.0,1.0,0,4.0,1,0,-76.489997,-5.510003,-82.0,-9.0,-1.0,0.0,-2.0,-3.0,0.929618,...,13,block of flats,NaN,NaN,NaN,0,0,0.0832,0.0847,0.0909,0.0590,0.0601,0.0615,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,0.0000,0.0000,0.0000,0.1064,0.1086,0.1126,0.0,0.0,Laborers,Industry: type 3,NaN,0.007274,2,2,0,0,0,0,0,0.0709,"Stone, brick",FRIDAY,0.9801,0.9801,0.9801,0.7280,0.7316,0.7387,0,1,4.0
17,2462807,343731,Cash loans,17887.500,225000.000,225000.00,NaN,225000.000,THURSDAY,12,Y,1.0,NaN,NaN,NaN,XNA,Approved,-77.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,18.0,middle,Cash Street: middle,-77.0,-76.0,-59.0,-59.0,-59.0,0.0,0,2.0,1,0,-64.421384,5.421384,-59.0,1.0,0.0,0.0,18.0,18.0,1.000000,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
18,2249010,343731,Consumer loans,5102.505,47142.000,45927.00,4716.000,47142.000,SUNDAY,12,Y,1.0,0.101419,NaN,NaN,XAP,Approved,-80.0,Cash through the bank,XAP,Family,Repeater,Consumer Electronics,POS,XNA,Stone,1047.0,Consumer electronics,10.0,low_normal,POS household without interest,NaN,-87.0,-78.0,-78.0,-77.0,1.0,0,2.0,1,0,-70.999127,-7.000873,-78.0,-7.0,0.0,1.0,2.0,2.0,0.974227,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
19,2242090,343731,Consumer loans,10360.530,100719.000,90643.50,10075.500,100719.000,SATURDAY,11,Y,1.0,0.108948,NaN,NaN,XAP,Approved,-80.0,Cash through the bank,XAP,Family,Repeater,Furniture,POS,XNA,Stone,140.0,Furniture,10.0,middle,POS industry with interest,NaN,-80.0,-71.0,-71.0,-71.0,0.0,0,2.0,1,0,-71.251075,0.251075,-71.0,0.0,0.0,0.0,9.0,9.0,0.899964,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
20,1984729,343731,Consumer loans,2809.125,18463.500,17712.00,1849.500,18463.500,SUNDAY,12,Y,1.0,0.102971,NaN,NaN,XAP,Approved,-80.0,Cash through the bank,XAP,Family,Repeater,Consumer Electronics,POS,XNA,Stone,1047.0,Consumer electronics,8.0,low_normal,POS household with interest,NaN,-87.0,-80.0,-80.0,-80.0,1.0,0,2.0,1,0,-73.694834,-6.305166,-80.0,-7.0,0.0,0.0,0.0,0.0,0.959298,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
21,2335113,343731,Cash loans,17495.550,270000.000,299223.00,NaN,270000.000,MONDAY,7,Y,1.0,NaN,NaN,NaN,XNA,Approved,-14.0,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,NaN,XNA,24.0,middle,Cash X-Sell: middle,NaN,-13.0,9.0,-8.0,-8.0,1.0,0,2.0,1,0,3.102806,-11.102806,-8.0,1.0,17.0,0.0,6.0,23.0,1.108233,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
22,1715154,343731,Cash loans,17767.890,225000.000,254700.00,NaN,225000.000,FRIDAY,12,Y,1.0,NaN,NaN,NaN,XNA,Approved,-55.0,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,high,Cash X-Sell: high,NaN,-54.0,-31.0,-31.0,-31.0,1.0,0,2.0,1,0,-40.665152,9.665152,-31.0,1.0,0.0,0.0,24.0,24.0,1.132000,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
23,1955669,343731,Cash loans,43527.870,848598.930,910208.43,NaN,848598.930,FRIDAY,10,Y,1.0,NaN,NaN,NaN,XNA,Approved,-32.0,Cash through the bank,XAP,Family,Repeater,XNA,Cash,x-sell,Credit and cash offices,NaN,XNA,36.0,low_normal,Cash X-Sell: low,NaN,-31.0,3.0,-8.0,-8.0,1.0,0,2.0,1,0,-11.089066,3.089066,-8.0,1.0,11.0,0.0,24.0,35.0,1.072601,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
24,1502045,343731,Consumer loans,8774.145,87750.000,78975.00,8775.000,87750.000,SATURDAY,11,Y,1.0,0.108909,NaN,NaN,XAP,Approved,-80.0,Cash through the bank,XAP,NaN,New,Furniture,POS,XNA,Stone,272.0,Furniture,10.0,low_normal,POS industry without interest,NaN,-89.0,-83.0,-82.0,-82.0,0.0,0,2.0,1,0,-70.999123,-11.000877,-82.0,-9.0,-1.0,0.0,-2.0,-3.0,0.900000,...,11,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Family,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,XNA,NaN,0.031329,2,2,0,0,0,0,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.0
25,2006470,429750,Cash loans,19681.965,270000.000,299938.50,NaN,270000.000,THURSDAY,18,Y,1.0,NaN,NaN,NaN,XNA,Approved,-80.0,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,24.0,middle,Cash Street: middle,-84.0,-83.0,-60.0,-64.0,-64.0,1.0,-1,-1.0,0,1,-64.760744,0.760744,-64.0,-3.0,4.0,0.0,16.0,20.0,1.110883,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Separated,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,XNA,NaN,0.018850,2,2,0,0,0,0,-1,NaN,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN,1,0,-1.0
26,1681996,429750,Cash loans,16227.540,180000.000,203760.00,NaN,180000.000,MONDAY,15,Y,1.0,NaN,NaN,NaN,Purchase of electronic equipment,Approved,-61.0,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,walk-in,Credit and cash offices,0.0,XNA,24.0,high,Cash Street: high,NaN,-60.0,-37.0,-52.0,-52.0,1.0,-1,-1.0,0,1,-48.443568,-3.556432,-52.0,1.0,15.0,0.0,9.0,24.0,1.132000,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Separated,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,XNA,NaN,0.018850,2,2,0,0,0,0,-1,NaN,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN,1,0,-1.0
27,1242419,429750,Cash loans,15737.985,135000.000,143910.00,NaN,135000.000,WEDNESDAY,17,Y,1.0,NaN,NaN,NaN,XNA,Approved,-80.0,Cash through the bank,XAP,NaN,Refreshed,XNA,Cash,x-sell,Country-wide,NaN,Consumer electronics,12.0,high,Cash Street: high,NaN,-84.0,-73.0,-73.0,-73.0,1.0,-1,-1.0,0,1,-70.855881,-2.144119,-73.0,-4.0,0.0,0.0,7.0,7.0,1.066000,...,13,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Higher education,Separated,House / apartment,Pensioner,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,XNA,NaN,0.018850,2,2,0,0,0,0,-1,NaN,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN,1,0,-1.0

In [60]:
app_list = ['app_AMT_CREDIT', 'app_AMT_ANNUITY', 'app_AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'app_AMT_GOODS_PRICE', 'a_EXT_SOURCE_avg@']

# dataset = prev_ref.copy()
# dataset = prev_ref_year.copy()
dataset = prev_apr.copy()
base_columns = list(dataset.columns)
prefix = 'p_APREND_'
# prefix = 'p_APREND_YEAR_'
# prefix = 'p_APREND_HALFYEAR_'
# ref_list = amt_list.remove('cnt_annuity')

for col_1 in amt_list:
    for col_2 in app_list:
        dataset = division_feature(df=dataset, first=col_1, second=col_2)
        
make_features = list(dataset.columns)
for col in base_columns:
    make_features.remove(col)

select_level_agg(base=base, data=dataset, level=level, num_list=make_features, method_list=method_list, ignore_list=ignore_features, prefix=prefix)

2018-07-06 20:42:35,465 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:35,465 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
../../../github/module/feature_engineering.py:26: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  result = df.groupby(level)[feature].agg({'tmp': {method}})
2018-07-06 20:42:36,713 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:36,713 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:36,841 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:36,841 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:36,896 logger 29 [INFO]    [make_npy] 20.023588      120
10.011794       87
40.047176       76
15.017691       74
25.029485       52
30.035382       41
5.005897        39
12.126285       38
100.000000      35
6.007076        35
0.000000        32
44.804780       31
23.988258       29
28.663766       29
22.798857       27
200.000000      26
22.402390       26
11.597662       26
40.000000       24
35.041279       23
39.204183       22
11.069039       21
17.396493       21
66.666667       21
18.585894       20
24.781192       20
12.014153       20
43.853259       19
150.000000      19
24.384725       19
16.801793       19
34.396519       18
10.540417       16
16.207092       16
50.058969       16
50.000000       15
5.666675        15
14.240776       15
20.000000       14
3.003538        14
27.210053       14
120.000000      14
13.015332       14
75.000000       14
4.004718        14
10.804728       13
10.111912       13
239.600000      13
17.594727       13
14.016511       13
              ...
118.563194       1
42.811683        1
88.046388        1
413.147164       1
128.087579       1
316.590684       1
51.218475        1
35.386643        1
21.535596        1
187.500659       1
49.804805        1
621.865224       1
163.894124       1
24.989377        1
111.208880       1
81.332145        1
283.170977       1
61.913366        1
189.320564       1
84.768609        1
404.993933       1
94.498492        1
497.492579       1
160.664809       1
177.656588       1
69.999759        1
1993.312139      1
546.891453       1
39.566635        1
154.796473       1
41.865624        1
28.465901        1
26.214436        1
52.682598        1
178.438834       1
144.634154       1
232.255923       1
300.962188       1
59.784019        1
134.755617       1
140.386029       1
32.792640        1
47.547706        1
117.819328       1
255.231530       1
101.253202       1
129.597084       1
40.427889        1
80.428287        1
201.013458       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 310387, dtype: int64
2018-07-06 20:42:36,896 logger 29 [INFO]    [make_npy] 20.023588      120
10.011794       87
40.047176       76
15.017691       74
25.029485       52
30.035382       41
5.005897        39
12.126285       38
100.000000      35
6.007076        35
0.000000        32
44.804780       31
23.988258       29
28.663766       29
22.798857       27
200.000000      26
22.402390       26
11.597662       26
40.000000       24
35.041279       23
39.204183       22
11.069039       21
17.396493       21
66.666667       21
18.585894       20
24.781192       20
12.014153       20
43.853259       19
150.000000      19
24.384725       19
16.801793       19
34.396519       18
10.540417       16
16.207092       16
50.058969       16
50.000000       15
5.666675        15
14.240776       15
20.000000       14
3.003538        14
27.210053       14
120.000000      14
13.015332       14
75.000000       14
4.004718        14
10.804728       13
10.111912       13
239.600000      13
17.594727       13
14.016511       13
              ...
118.563194       1
42.811683        1
88.046388        1
413.147164       1
128.087579       1
316.590684       1
51.218475        1
35.386643        1
21.535596        1
187.500659       1
49.804805        1
621.865224       1
163.894124       1
24.989377        1
111.208880       1
81.332145        1
283.170977       1
61.913366        1
189.320564       1
84.768609        1
404.993933       1
94.498492        1
497.492579       1
160.664809       1
177.656588       1
69.999759        1
1993.312139      1
546.891453       1
39.566635        1
154.796473       1
41.865624        1
28.465901        1
26.214436        1
52.682598        1
178.438834       1
144.634154       1
232.255923       1
300.962188       1
59.784019        1
134.755617       1
140.386029       1
32.792640        1
47.547706        1
117.819328       1
255.231530       1
101.253202       1
129.597084       1
40.427889        1
80.428287        1
201.013458       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 310387, dtype: int64
2018-07-06 20:42:36,946 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:36,946 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:37,062 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,062 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,142 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,142 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,181 logger 29 [INFO]    [make_npy] 20.023588     133
10.011794      89
15.017691      84
40.047176      64
25.029485      62
5.005897       47
12.126285      43
30.035382      41
6.007076       39
100.000000     35
28.663766      35
44.804780      32
22.402390      32
23.988258      31
22.798857      30
11.597662      29
200.000000     26
35.041279      26
24.384725      25
43.853259      24
40.000000      24
39.204183      24
17.396493      24
16.207092      23
24.781192      22
11.069039      22
66.666667      21
18.585894      21
16.801793      21
34.396519      20
12.014153      19
150.000000     19
17.594727      18
13.015332      18
10.111912      17
10.540417      17
14.240776      16
15.612391      16
5.666675       16
27.210053      16
16.603559      15
4.004718       15
50.000000      15
3.003538       14
120.000000     14
26.483197      14
14.016511      14
10.804728      14
20.000000      14
75.000000      14
             ...
28.924128       1
58.604511       1
15.719732       1
53.022834       1
61.469742       1
24.975759       1
48.453128       1
82.023460       1
112.664318      1
18.073699       1
29.827590       1
42.552429       1
25.123103       1
28.870162       1
21.656313       1
49.638127       1
28.537762       1
43.790826       1
41.779332       1
53.978610       1
80.711157       1
64.411063       1
34.980562       1
89.672628       1
109.905018      1
37.578657       1
218.717083      1
46.322981       1
82.817730       1
40.961879       1
27.595212       1
15.348226       1
124.554225      1
30.194909       1
93.072046       1
35.013468       1
50.700870       1
74.973691       1
79.076079       1
121.653709      1
20.847207       1
143.165180      1
60.991312       1
369.339233      1
46.589274       1
59.274246       1
124.479640      1
185.881734      1
36.540121       1
100.506729      1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 310252, dtype: int64
2018-07-06 20:42:37,181 logger 29 [INFO]    [make_npy] 20.023588     133
10.011794      89
15.017691      84
40.047176      64
25.029485      62
5.005897       47
12.126285      43
30.035382      41
6.007076       39
100.000000     35
28.663766      35
44.804780      32
22.402390      32
23.988258      31
22.798857      30
11.597662      29
200.000000     26
35.041279      26
24.384725      25
43.853259      24
40.000000      24
39.204183      24
17.396493      24
16.207092      23
24.781192      22
11.069039      22
66.666667      21
18.585894      21
16.801793      21
34.396519      20
12.014153      19
150.000000     19
17.594727      18
13.015332      18
10.111912      17
10.540417      17
14.240776      16
15.612391      16
5.666675       16
27.210053      16
16.603559      15
4.004718       15
50.000000      15
3.003538       14
120.000000     14
26.483197      14
14.016511      14
10.804728      14
20.000000      14
75.000000      14
             ...
28.924128       1
58.604511       1
15.719732       1
53.022834       1
61.469742       1
24.975759       1
48.453128       1
82.023460       1
112.664318      1
18.073699       1
29.827590       1
42.552429       1
25.123103       1
28.870162       1
21.656313       1
49.638127       1
28.537762       1
43.790826       1
41.779332       1
53.978610       1
80.711157       1
64.411063       1
34.980562       1
89.672628       1
109.905018      1
37.578657       1
218.717083      1
46.322981       1
82.817730       1
40.961879       1
27.595212       1
15.348226       1
124.554225      1
30.194909       1
93.072046       1
35.013468       1
50.700870       1
74.973691       1
79.076079       1
121.653709      1
20.847207       1
143.165180      1
60.991312       1
369.339233      1
46.589274       1
59.274246       1
124.479640      1
185.881734      1
36.540121       1
100.506729      1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 310252, dtype: int64

2018-07-06 20:42:37,226 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:37,226 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:37,344 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,344 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,426 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,426 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,467 logger 29 [INFO]    [make_npy] 100.000000    216
200.000000    175
20.023588     133
40.000000     118
50.000000      97
10.011794      89
120.000000     87
15.017691      84
66.666667      79
150.000000     74
80.000000      72
60.000000      70
133.333333     69
75.000000      66
300.000000     65
40.047176      64
25.029485      62
239.600000     51
119.800000     48
5.005897       47
12.126285      43
20.000000      42
30.035382      41
111.880000     40
6.007076       39
223.760000     38
160.000000     38
266.666667     36
28.663766      35
30.000000      34
231.680000     33
89.850000      33
179.700000     32
400.000000     32
44.804780      32
22.402390      32
23.988258      31
22.798857      30
11.597662      29
33.333333      29
333.333333     28
45.280000      27
35.041279      26
140.000000     25
24.384725      25
17.396493      24
43.853259      24
25.000000      24
115.840000     24
39.204183      24
             ...
93.149766       1
222.377263      1
206.909458      1
67.458408       1
54.715417       1
68.677462       1
138.142473      1
89.715293       1
32.920688       1
51.409316       1
128.162703      1
163.900036      1
158.268918      1
52.671695       1
117.909324      1
31.820299       1
372.696944      1
31.285881       1
46.021652       1
113.195343      1
154.912385      1
113.219128      1
50.054359       1
22.898988       1
12.245232       1
44.121889       1
20.931491       1
18.610659       1
291.523810      1
20.164543       1
140.865023      1
58.532224       1
266.255891      1
47.532690       1
84.870191       1
128.683862      1
94.302862       1
100.033401      1
29.578798       1
131.113465      1
21.863897       1
775.474488      1
34.198923       1
34.797133       1
62.324877       1
109.551268      1
83.877840       1
99.248005       1
60.360456       1
46.702620       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 300454, dtype: int64
2018-07-06 20:42:37,467 logger 29 [INFO]    [make_npy] 100.000000    216
200.000000    175
20.023588     133
40.000000     118
50.000000      97
10.011794      89
120.000000     87
15.017691      84
66.666667      79
150.000000     74
80.000000      72
60.000000      70
133.333333     69
75.000000      66
300.000000     65
40.047176      64
25.029485      62
239.600000     51
119.800000     48
5.005897       47
12.126285      43
20.000000      42
30.035382      41
111.880000     40
6.007076       39
223.760000     38
160.000000     38
266.666667     36
28.663766      35
30.000000      34
231.680000     33
89.850000      33
179.700000     32
400.000000     32
44.804780      32
22.402390      32
23.988258      31
22.798857      30
11.597662      29
33.333333      29
333.333333     28
45.280000      27
35.041279      26
140.000000     25
24.384725      25
17.396493      24
43.853259      24
25.000000      24
115.840000     24
39.204183      24
             ...
93.149766       1
222.377263      1
206.909458      1
67.458408       1
54.715417       1
68.677462       1
138.142473      1
89.715293       1
32.920688       1
51.409316       1
128.162703      1
163.900036      1
158.268918      1
52.671695       1
117.909324      1
31.820299       1
372.696944      1
31.285881       1
46.021652       1
113.195343      1
154.912385      1
113.219128      1
50.054359       1
22.898988       1
12.245232       1
44.121889       1
20.931491       1
18.610659       1
291.523810      1
20.164543       1
140.865023      1
58.532224       1
266.255891      1
47.532690       1
84.870191       1
128.683862      1
94.302862       1
100.033401      1
29.578798       1
131.113465      1
21.863897       1
775.474488      1
34.198923       1
34.797133       1
62.324877       1
109.551268      1
83.877840       1
99.248005       1
60.360456       1
46.702620       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 300454, dtype: int64
2018-07-06 20:42:37,512 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:37,512 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:37,620 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,620 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,702 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,702 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,736 logger 29 [INFO]    [make_npy] 20.023588     756
10.011794     732
15.017691     666
25.029485     422
5.005897      366
30.035382     316
28.663766     286
40.047176     285
16.801793     279
5.666675      228
23.988258     225
12.126285     225
22.402390     218
6.007076      203
17.396493     201
11.597662     185
22.798857     184
44.804780     171
11.069039     163
34.396519     161
35.041279     159
16.207092     158
12.014153     157
10.111912     149
18.585894     131
27.210053     129
16.603559     123
24.384725     117
5.336286      112
24.781192     111
15.117809     111
14.240776     110
39.204183     110
17.991194     109
17.594727     108
13.183530     107
8.009435      106
11.012973     105
4.004718      103
13.015332     102
7.008256      101
3.003538      101
20.000000      96
9.010615       96
40.000000      91
6.327454       91
23.195324      90
16.018870      89
14.016511      88
43.853259      86
             ...
13.515990       1
53.106834       1
8.116735        1
59.556305       1
17.047403       1
9.775400        1
23.632669       1
15.615594       1
76.910895       1
2.462311        1
54.156512       1
33.892325       1
24.148756       1
36.788089       1
14.176220       1
215.336248      1
41.268082       1
13.015888       1
22.615417       1
25.849073       1
50.485483       1
22.290481       1
11.301935       1
45.348455       1
130.235183      1
6.291730        1
71.796492       1
46.820417       1
64.041421       1
6.969239        1
99.410452       1
151.228276      1
26.614785       1
73.180017       1
27.902819       1
20.580809       1
68.354611       1
25.766101       1
87.727917       1
8.115835        1
8.972136        1
75.245560       1
86.786439       1
23.997017       1
70.317224       1
41.525545       1
51.708042       1
51.349043       1
71.856976       1
26.305940       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 281744, dtype: int64
2018-07-06 20:42:37,736 logger 29 [INFO]    [make_npy] 20.023588     756
10.011794     732
15.017691     666
25.029485     422
5.005897      366
30.035382     316
28.663766     286
40.047176     285
16.801793     279
5.666675      228
23.988258     225
12.126285     225
22.402390     218
6.007076      203
17.396493     201
11.597662     185
22.798857     184
44.804780     171
11.069039     163
34.396519     161
35.041279     159
16.207092     158
12.014153     157
10.111912     149
18.585894     131
27.210053     129
16.603559     123
24.384725     117
5.336286      112
24.781192     111
15.117809     111
14.240776     110
39.204183     110
17.991194     109
17.594727     108
13.183530     107
8.009435      106
11.012973     105
4.004718      103
13.015332     102
7.008256      101
3.003538      101
20.000000      96
9.010615       96
40.000000      91
6.327454       91
23.195324      90
16.018870      89
14.016511      88
43.853259      86
             ...
13.515990       1
53.106834       1
8.116735        1
59.556305       1
17.047403       1
9.775400        1
23.632669       1
15.615594       1
76.910895       1
2.462311        1
54.156512       1
33.892325       1
24.148756       1
36.788089       1
14.176220       1
215.336248      1
41.268082       1
13.015888       1
22.615417       1
25.849073       1
50.485483       1
22.290481       1
11.301935       1
45.348455       1
130.235183      1
6.291730        1
71.796492       1
46.820417       1
64.041421       1
6.969239        1
99.410452       1
151.228276      1
26.614785       1
73.180017       1
27.902819       1
20.580809       1
68.354611       1
25.766101       1
87.727917       1
8.115835        1
8.972136        1
75.245560       1
86.786439       1
23.997017       1
70.317224       1
41.525545       1
51.708042       1
51.349043       1
71.856976       1
26.305940       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 281744, dtype: int64

2018-07-06 20:42:37,779 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:37,779 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:37,894 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,894 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:37,975 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,975 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:37,999 logger 29 [INFO]    [make_npy] 0.000000      479
75.116560       2
6.635253        2
100.164834      2
49.559377       2
5.979816        2
60.841416       2
4.426809        2
4.352273        2
17.494561       2
16.582667       2
11.422999       2
24.286188       2
7.228874        2
31.469051       2
9.622171        2
104.868483      2
47.522111       2
1.966293        2
4.473493        2
1.018489        2
4.385506        2
39.643896       2
67.103399       2
29.768901       2
0.060235        2
0.986667        2
8.794454        2
8.916916        2
71.215575       2
31.484240       2
20.516156       2
15.053019       2
21.917268       2
17.509387       2
0.555786        2
0.693542        2
0.576939        2
30.197061       2
199.946966      2
43.793408       1
48.939390       1
13.592117       1
6.190290        1
32.068905       1
52.804156       1
89.575782       1
28.101276       1
22.082824       1
26.588840       1
             ...
33.044031       1
2.176652        1
173.598036      1
37.068179       1
8.846477        1
82.854235       1
18.937772       1
9.081328        1
54.806677       1
12.196404       1
9.640614        1
42.668943       1
31.196276       1
12.011272       1
252.669451      1
23.970062       1
15.718406       1
76.642862       1
46.699156       1
19.538276       1
5.087017        1
75.156841       1
42.677029       1
6.633330        1
63.940575       1
1.809848        1
2.486957        1
99.823427       1
5.963013        1
10.226524       1
0.074605        1
23.083104       1
17.609943       1
20.710406       1
1.644587        1
223.610551      1
3.138889        1
30.094166       1
191.126306      1
79.215743       1
75.085458       1
105.879905      1
17.236957       1
35.262909       1
35.391809       1
34.853042       1
1.378690        1
7.216917        1
8.405263        1
28.670665       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 197234, dtype: int64
2018-07-06 20:42:37,999 logger 29 [INFO]    [make_npy] 0.000000      479
75.116560       2
6.635253        2
100.164834      2
49.559377       2
5.979816        2
60.841416       2
4.426809        2
4.352273        2
17.494561       2
16.582667       2
11.422999       2
24.286188       2
7.228874        2
31.469051       2
9.622171        2
104.868483      2
47.522111       2
1.966293        2
4.473493        2
1.018489        2
4.385506        2
39.643896       2
67.103399       2
29.768901       2
0.060235        2
0.986667        2
8.794454        2
8.916916        2
71.215575       2
31.484240       2
20.516156       2
15.053019       2
21.917268       2
17.509387       2
0.555786        2
0.693542        2
0.576939        2
30.197061       2
199.946966      2
43.793408       1
48.939390       1
13.592117       1
6.190290        1
32.068905       1
52.804156       1
89.575782       1
28.101276       1
22.082824       1
26.588840       1
             ...
33.044031       1
2.176652        1
173.598036      1
37.068179       1
8.846477        1
82.854235       1
18.937772       1
9.081328        1
54.806677       1
12.196404       1
9.640614        1
42.668943       1
31.196276       1
12.011272       1
252.669451      1
23.970062       1
15.718406       1
76.642862       1
46.699156       1
19.538276       1
5.087017        1
75.156841       1
42.677029       1
6.633330        1
63.940575       1
1.809848        1
2.486957        1
99.823427       1
5.963013        1
10.226524       1
0.074605        1
23.083104       1
17.609943       1
20.710406       1
1.644587        1
223.610551      1
3.138889        1
30.094166       1
191.126306      1
79.215743       1
75.085458       1
105.879905      1
17.236957       1
35.262909       1
35.391809       1
34.853042       1
1.378690        1
7.216917        1
8.405263        1
28.670665       1
Name: app_AMT_CREDIT_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 197234, dtype: int64
2018-07-06 20:42:38,023 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:38,023 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:38,116 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,116 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,191 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:38,191 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:38,225 logger 29 [INFO]    [make_npy] 0.000000     65
0.300354     30
1.001179     20
0.200236     13
1.166975     13
1.080973     13
1.527199     12
0.150177     12
0.225265     11
0.600708     11
0.840991     11
0.927593     11
0.807451     10
0.700826     10
1.247970     10
0.897057     10
0.588393      9
0.695519      9
0.750885      9
1.008588      9
1.022404      9
0.650767      8
1.164071      8
1.392040      8
1.394943      8
0.725354      8
1.025308      8
0.568169      8
1.189401      7
0.852805      7
1.027310      7
1.268194      7
0.500590      7
1.393041      7
1.146751      7
0.963635      7
0.731862      7
7.768000      6
0.592698      6
0.250295      6
1.104201      6
1.234955      6
1.052840      6
0.810355      6
0.966238      6
1.615403      6
0.878235      6
0.722451      6
0.511202      6
0.773812      6
             ..
3.230053      1
4.621520      1
21.813584     1
15.334222     1
2.122100      1
8.931498      1
3.349786      1
9.776264      1
13.315735     1
11.325712     1
4.477342      1
9.903533      1
2.754623      1
1.144564      1
8.942616      1
2.794227      1
5.277581      1
4.363168      1
4.609349      1
11.615394     1
8.126592      1
2.900679      1
6.107085      1
8.724133      1
1.903725      1
4.247315      1
9.513914      1
1.113945      1
2.272687      1
2.300619      1
1.678769      1
13.777673     1
2.011372      1
10.716578     1
13.670726     1
4.924018      1
0.683962      1
3.197628      1
54.155617     1
13.949059     1
5.477232      1
10.212021     1
11.163389     1
1.634581      1
18.642256     1
3.678603      1
0.420604      1
2.820610      1
26.273284     1
5.977823      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 312518, dtype: int64
2018-07-06 20:42:38,225 logger 29 [INFO]    [make_npy] 0.000000     65
0.300354     30
1.001179     20
0.200236     13
1.166975     13
1.080973     13
1.527199     12
0.150177     12
0.225265     11
0.600708     11
0.840991     11
0.927593     11
0.807451     10
0.700826     10
1.247970     10
0.897057     10
0.588393      9
0.695519      9
0.750885      9
1.008588      9
1.022404      9
0.650767      8
1.164071      8
1.392040      8
1.394943      8
0.725354      8
1.025308      8
0.568169      8
1.189401      7
0.852805      7
1.027310      7
1.268194      7
0.500590      7
1.393041      7
1.146751      7
0.963635      7
0.731862      7
7.768000      6
0.592698      6
0.250295      6
1.104201      6
1.234955      6
1.052840      6
0.810355      6
0.966238      6
1.615403      6
0.878235      6
0.722451      6
0.511202      6
0.773812      6
             ..
3.230053      1
4.621520      1
21.813584     1
15.334222     1
2.122100      1
8.931498      1
3.349786      1
9.776264      1
13.315735     1
11.325712     1
4.477342      1
9.903533      1
2.754623      1
1.144564      1
8.942616      1
2.794227      1
5.277581      1
4.363168      1
4.609349      1
11.615394     1
8.126592      1
2.900679      1
6.107085      1
8.724133      1
1.903725      1
4.247315      1
9.513914      1
1.113945      1
2.272687      1
2.300619      1
1.678769      1
13.777673     1
2.011372      1
10.716578     1
13.670726     1
4.924018      1
0.683962      1
3.197628      1
54.155617     1
13.949059     1
5.477232      1
10.212021     1
11.163389     1
1.634581      1
18.642256     1
3.678603      1
0.420604      1
2.820610      1
26.273284     1
5.977823      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 312518, dtype: int64

2018-07-06 20:42:38,268 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:38,268 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:38,367 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,367 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,435 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:38,435 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:38,483 logger 29 [INFO]    [make_npy] 0.300354     33
1.001179     25
1.527199     16
1.166975     14
1.080973     13
0.200236     13
0.650767     13
1.247970     12
0.927593     12
0.150177     12
0.225265     11
0.897057     11
0.840991     11
0.600708     10
1.008588     10
0.695519     10
0.700826     10
1.146751     10
0.750885     10
0.807451     10
1.393041      9
1.025308      9
1.189401      9
1.022404      9
1.268194      9
0.588393      9
0.250295      9
0.731862      8
1.164071      8
1.392040      8
0.725354      8
1.027310      8
0.568169      8
0.810355      8
1.394943      8
0.511202      7
0.966238      7
0.592698      7
1.234955      7
0.963635      7
1.615403      7
0.878235      7
0.852805      7
0.734766      6
0.811156      6
1.052840      6
0.500590      6
0.704230      6
0.901963      6
1.294925      6
             ..
2.045537      1
1.054925      1
6.410907      1
3.768739      1
2.419333      1
3.828993      1
1.868825      1
1.819587      1
1.695055      1
1.599149      1
1.473036      1
0.999345      1
10.356336     1
0.928386      1
1.189546      1
1.495607      1
4.445760      1
3.505396      1
2.326083      1
4.115765      1
2.056063      1
1.177911      1
2.559019      1
2.029621      1
0.452046      1
1.426009      1
0.774602      1
3.655412      1
4.584081      1
4.252079      1
3.111477      1
2.271391      1
2.678428      1
2.361486      1
8.995692      1
2.746799      1
1.298153      1
6.321503      1
2.268135      1
0.702481      1
8.004562      1
2.903695      1
3.222961      1
2.880876      1
0.896012      1
7.568402      1
4.293160      1
3.611637      1
2.579633      1
0.576638      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 312351, dtype: int64
2018-07-06 20:42:38,483 logger 29 [INFO]    [make_npy] 0.300354     33
1.001179     25
1.527199     16
1.166975     14
1.080973     13
0.200236     13
0.650767     13
1.247970     12
0.927593     12
0.150177     12
0.225265     11
0.897057     11
0.840991     11
0.600708     10
1.008588     10
0.695519     10
0.700826     10
1.146751     10
0.750885     10
0.807451     10
1.393041      9
1.025308      9
1.189401      9
1.022404      9
1.268194      9
0.588393      9
0.250295      9
0.731862      8
1.164071      8
1.392040      8
0.725354      8
1.027310      8
0.568169      8
0.810355      8
1.394943      8
0.511202      7
0.966238      7
0.592698      7
1.234955      7
0.963635      7
1.615403      7
0.878235      7
0.852805      7
0.734766      6
0.811156      6
1.052840      6
0.500590      6
0.704230      6
0.901963      6
1.294925      6
             ..
2.045537      1
1.054925      1
6.410907      1
3.768739      1
2.419333      1
3.828993      1
1.868825      1
1.819587      1
1.695055      1
1.599149      1
1.473036      1
0.999345      1
10.356336     1
0.928386      1
1.189546      1
1.495607      1
4.445760      1
3.505396      1
2.326083      1
4.115765      1
2.056063      1
1.177911      1
2.559019      1
2.029621      1
0.452046      1
1.426009      1
0.774602      1
3.655412      1
4.584081      1
4.252079      1
3.111477      1
2.271391      1
2.678428      1
2.361486      1
8.995692      1
2.746799      1
1.298153      1
6.321503      1
2.268135      1
0.702481      1
8.004562      1
2.903695      1
3.222961      1
2.880876      1
0.896012      1
7.568402      1
4.293160      1
3.611637      1
2.579633      1
0.576638      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 312351, dtype: int64
2018-07-06 20:42:38,505 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:38,505 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:38,657 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,657 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,736 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:38,736 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:38,776 logger 29 [INFO]    [make_npy] 0.300354     33
2.000000     28
1.001179     25
6.000000     22
4.000000     20
3.000000     19
5.000000     19
1.527199     16
7.768000     14
2.641500     14
1.166975     14
1.080973     13
0.200236     13
0.650767     13
0.150177     12
1.247970     12
0.927593     12
5.283000     12
7.044000     12
2.434000     12
0.897057     11
5.848000     11
9.786000     11
0.225265     11
0.840991     11
0.750885     11
4.480000     10
0.700826     10
4.200000     10
0.600708     10
1.500000     10
0.807451     10
1.146751     10
5.826000     10
0.695519     10
5.600000     10
11.200000    10
1.008588     10
5.500000     10
3.226000      9
5.920000      9
1.268194      9
4.740000      9
1.022404      9
0.588393      9
1.025308      9
1.189401      9
1.000000      9
3.392000      9
0.250295      9
             ..
7.216495      1
2.496673      1
4.678436      1
9.909901      1
1.918751      1
0.604112      1
2.556629      1
3.258110      1
0.317091      1
1.946540      1
2.446579      1
0.777843      1
5.709656      1
1.152596      1
4.111514      1
3.906436      1
2.819335      1
6.149389      1
5.538494      1
3.552069      1
3.223506      1
5.866990      1
3.842493      1
2.757432      1
7.748408      1
5.737603      1
4.254551      1
2.304375      1
3.763518      1
2.754623      1
2.011372      1
8.677989      1
4.506297      1
2.985623      1
3.143133      1
4.175949      1
4.793504      1
1.351067      1
2.626135      1
4.492206      1
2.087020      1
3.443594      1
4.509307      1
1.713273      1
4.829486      1
2.735112      1
4.535978      1
1.236323      1
12.443688     1
6.631697      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 309112, dtype: int64
2018-07-06 20:42:38,776 logger 29 [INFO]    [make_npy] 0.300354     33
2.000000     28
1.001179     25
6.000000     22
4.000000     20
3.000000     19
5.000000     19
1.527199     16
7.768000     14
2.641500     14
1.166975     14
1.080973     13
0.200236     13
0.650767     13
0.150177     12
1.247970     12
0.927593     12
5.283000     12
7.044000     12
2.434000     12
0.897057     11
5.848000     11
9.786000     11
0.225265     11
0.840991     11
0.750885     11
4.480000     10
0.700826     10
4.200000     10
0.600708     10
1.500000     10
0.807451     10
1.146751     10
5.826000     10
0.695519     10
5.600000     10
11.200000    10
1.008588     10
5.500000     10
3.226000      9
5.920000      9
1.268194      9
4.740000      9
1.022404      9
0.588393      9
1.025308      9
1.189401      9
1.000000      9
3.392000      9
0.250295      9
             ..
7.216495      1
2.496673      1
4.678436      1
9.909901      1
1.918751      1
0.604112      1
2.556629      1
3.258110      1
0.317091      1
1.946540      1
2.446579      1
0.777843      1
5.709656      1
1.152596      1
4.111514      1
3.906436      1
2.819335      1
6.149389      1
5.538494      1
3.552069      1
3.223506      1
5.866990      1
3.842493      1
2.757432      1
7.748408      1
5.737603      1
4.254551      1
2.304375      1
3.763518      1
2.754623      1
2.011372      1
8.677989      1
4.506297      1
2.985623      1
3.143133      1
4.175949      1
4.793504      1
1.351067      1
2.626135      1
4.492206      1
2.087020      1
3.443594      1
4.509307      1
1.713273      1
4.829486      1
2.735112      1
4.535978      1
1.236323      1
12.443688     1
6.631697      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 309112, dtype: int64

2018-07-06 20:42:38,794 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:38,794 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:38,911 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,911 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:38,988 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:38,988 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:39,024 logger 29 [INFO]    [make_npy] 0.840991    144
0.300354    129
0.811156    105
0.500590     93
1.001179     87
1.166975     83
0.600708     77
0.927593     77
0.200236     76
0.450531     75
0.704230     75
0.750885     73
0.897057     73
1.247970     69
0.734766     68
1.155761     65
0.952021     64
1.008588     63
0.592698     62
1.025308     60
0.725354     58
0.250295     57
0.375442     53
1.022404     50
1.527199     50
1.234955     50
0.776715     50
1.314749     49
0.650767     49
0.731862     48
0.852805     48
0.695519     48
1.081975     46
1.146751     46
0.150177     45
1.189401     44
0.851303     44
0.588393     42
0.700826     42
0.878235     42
1.393041     42
0.807451     42
1.080973     41
0.799542     40
0.963635     39
0.948718     39
0.810355     38
1.052840     38
0.550649     37
1.189301     37
           ...
7.015054      1
0.657645      1
0.888113      1
2.881294      1
0.900454      1
0.948518      1
5.191715      1
2.806939      1
0.570728      1
0.894614      1
1.849317      1
1.660122      1
1.374164      1
1.489420      1
1.980012      1
1.741085      1
1.661230      1
1.913828      1
0.539193      1
0.889492      1
0.144170      1
1.810592      1
2.566458      1
1.552818      1
1.891328      1
5.851147      1
0.434847      1
1.854527      1
2.109389      1
1.327277      1
3.335200      1
1.370910      1
4.402940      1
2.772741      1
1.764463      1
3.729166      1
5.665378      1
0.645360      1
1.083287      1
1.551048      1
2.106377      1
0.735573      1
3.853039      1
0.561489      1
1.165873      1
2.635065      1
0.648597      1
0.922524      1
5.875600      1
0.808467      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 294105, dtype: int64
2018-07-06 20:42:39,024 logger 29 [INFO]    [make_npy] 0.840991    144
0.300354    129
0.811156    105
0.500590     93
1.001179     87
1.166975     83
0.600708     77
0.927593     77
0.200236     76
0.450531     75
0.704230     75
0.750885     73
0.897057     73
1.247970     69
0.734766     68
1.155761     65
0.952021     64
1.008588     63
0.592698     62
1.025308     60
0.725354     58
0.250295     57
0.375442     53
1.022404     50
1.527199     50
1.234955     50
0.776715     50
1.314749     49
0.650767     49
0.731862     48
0.852805     48
0.695519     48
1.081975     46
1.146751     46
0.150177     45
1.189401     44
0.851303     44
0.588393     42
0.700826     42
0.878235     42
1.393041     42
0.807451     42
1.080973     41
0.799542     40
0.963635     39
0.948718     39
0.810355     38
1.052840     38
0.550649     37
1.189301     37
           ...
7.015054      1
0.657645      1
0.888113      1
2.881294      1
0.900454      1
0.948518      1
5.191715      1
2.806939      1
0.570728      1
0.894614      1
1.849317      1
1.660122      1
1.374164      1
1.489420      1
1.980012      1
1.741085      1
1.661230      1
1.913828      1
0.539193      1
0.889492      1
0.144170      1
1.810592      1
2.566458      1
1.552818      1
1.891328      1
5.851147      1
0.434847      1
1.854527      1
2.109389      1
1.327277      1
3.335200      1
1.370910      1
4.402940      1
2.772741      1
1.764463      1
3.729166      1
5.665378      1
0.645360      1
1.083287      1
1.551048      1
2.106377      1
0.735573      1
3.853039      1
0.561489      1
1.165873      1
2.635065      1
0.648597      1
0.922524      1
5.875600      1
0.808467      1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 294105, dtype: int64
2018-07-06 20:42:39,075 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:39,075 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:39,180 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:39,180 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:39,247 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:39,247 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:39,268 logger 29 [INFO]    [make_npy] 0.000000     479
0.244887       2
0.099726       2
10.544280      2
2.867195       2
0.084232       2
0.057059       2
1.731309       2
0.029220       2
0.497908       2
2.896371       2
1.346876       2
0.811390       2
0.438221       2
1.011937       2
0.769152       2
5.776698       2
0.772309       1
1.404053       1
0.888598       1
0.485978       1
4.265597       1
0.080793       1
1.615344       1
0.686148       1
0.096910       1
2.107796       1
2.200347       1
2.634782       1
4.273673       1
1.864433       1
0.972722       1
0.508500       1
1.878308       1
2.968133       1
1.105844       1
3.566653       1
1.977687       1
1.185577       1
2.091022       1
0.265732       1
2.264822       1
0.345498       1
1.968435       1
1.944496       1
0.334245       1
1.210815       1
0.521678       1
2.724705       1
0.379328       1
            ...
1.180474       1
0.512327       1
0.495765       1
0.389997       1
2.998980       1
0.601955       1
2.011014       1
1.052383       1
0.534897       1
0.380687       1
0.182176       1
0.968155       1
0.702949       1
0.124851       1
0.834010       1
11.928718      1
2.292497       1
6.734294       1
3.091503       1
1.049857       1
0.315626       1
6.681896       1
1.206165       1
7.944989       1
0.048950       1
2.389847       1
6.110228       1
0.525097       1
0.526235       1
0.511510       1
0.791829       1
0.954559       1
4.190507       1
1.272643       1
0.411510       1
0.597505       1
1.150035       1
0.298001       1
2.201277       1
0.373320       1
1.130400       1
0.420615       1
0.887418       1
1.994221       1
0.031265       1
0.340877       1
1.821320       1
0.546006       1
3.236238       1
0.528257       1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 197238, dtype: int64
2018-07-06 20:42:39,268 logger 29 [INFO]    [make_npy] 0.000000     479
0.244887       2
0.099726       2
10.544280      2
2.867195       2
0.084232       2
0.057059       2
1.731309       2
0.029220       2
0.497908       2
2.896371       2
1.346876       2
0.811390       2
0.438221       2
1.011937       2
0.769152       2
5.776698       2
0.772309       1
1.404053       1
0.888598       1
0.485978       1
4.265597       1
0.080793       1
1.615344       1
0.686148       1
0.096910       1
2.107796       1
2.200347       1
2.634782       1
4.273673       1
1.864433       1
0.972722       1
0.508500       1
1.878308       1
2.968133       1
1.105844       1
3.566653       1
1.977687       1
1.185577       1
2.091022       1
0.265732       1
2.264822       1
0.345498       1
1.968435       1
1.944496       1
0.334245       1
1.210815       1
0.521678       1
2.724705       1
0.379328       1
            ...
1.180474       1
0.512327       1
0.495765       1
0.389997       1
2.998980       1
0.601955       1
2.011014       1
1.052383       1
0.534897       1
0.380687       1
0.182176       1
0.968155       1
0.702949       1
0.124851       1
0.834010       1
11.928718      1
2.292497       1
6.734294       1
3.091503       1
1.049857       1
0.315626       1
6.681896       1
1.206165       1
7.944989       1
0.048950       1
2.389847       1
6.110228       1
0.525097       1
0.526235       1
0.511510       1
0.791829       1
0.954559       1
4.190507       1
1.272643       1
0.411510       1
0.597505       1
1.150035       1
0.298001       1
2.201277       1
0.373320       1
1.130400       1
0.420615       1
0.887418       1
1.994221       1
0.031265       1
0.340877       1
1.821320       1
0.546006       1
3.236238       1
0.528257       1
Name: app_AMT_ANNUITY_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 197238, dtype: int64

2018-07-06 20:42:39,310 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:39,310 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:39,409 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:39,409 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:39,478 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:39,478 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:39,525 logger 29 [INFO]    [make_npy] 5.005897      343
4.004718      246
6.007076      209
7.008256      186
4.505307      169
8.009435      158
3.003538      149
10.011794     138
3.504128      128
20.000000     116
12.014153      74
25.000000      66
9.010615       64
5.506487       61
2.502948       61
40.000000      59
6.507666       56
30.000000      52
33.333333      51
10.000000      47
7.508845       47
15.017691      46
50.000000      45
7.904326       42
15.000000      41
20.023588      38
60.000000      38
2.002359       37
12.000000      35
46.666667      34
26.666667      33
0.000000       32
8.510025       31
16.000000      31
16.018870      30
13.333333      29
80.000000      29
11.012973      28
16.666667      27
17.500000      25
35.000000      24
70.000000      24
14.016511      24
24.000000      23
8.000000       23
12.500000      22
18.000000      21
18.021229      21
14.000000      20
32.000000      19
             ...
12.861020       1
20.653742       1
46.359339       1
79.296722       1
13.744130       1
19.341362       1
32.527653       1
9.954112        1
18.687098       1
62.432167       1
132.319150      1
15.292786       1
11.164036       1
2.737007        1
6.870019        1
47.985392       1
90.750079       1
38.795062       1
109.656243      1
22.201499       1
113.459983      1
35.869054       1
64.550335       1
379.991800      1
33.994787       1
45.282534       1
165.986687      1
22.834023       1
63.275263       1
100.993149      1
61.093985       1
100.120144      1
6.456125        1
44.920144       1
617.797389      1
11.174513       1
5.174153        1
44.979627       1
16.772582       1
8.727343        1
59.346664       1
5.118249        1
4.707726        1
99.758268       1
99.728851       1
33.260603       1
138.030529      1
5.301918        1
33.624759       1
58.890004       1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 303163, dtype: int64
2018-07-06 20:42:39,525 logger 29 [INFO]    [make_npy] 5.005897      343
4.004718      246
6.007076      209
7.008256      186
4.505307      169
8.009435      158
3.003538      149
10.011794     138
3.504128      128
20.000000     116
12.014153      74
25.000000      66
9.010615       64
5.506487       61
2.502948       61
40.000000      59
6.507666       56
30.000000      52
33.333333      51
10.000000      47
7.508845       47
15.017691      46
50.000000      45
7.904326       42
15.000000      41
20.023588      38
60.000000      38
2.002359       37
12.000000      35
46.666667      34
26.666667      33
0.000000       32
8.510025       31
16.000000      31
16.018870      30
13.333333      29
80.000000      29
11.012973      28
16.666667      27
17.500000      25
35.000000      24
70.000000      24
14.016511      24
24.000000      23
8.000000       23
12.500000      22
18.000000      21
18.021229      21
14.000000      20
32.000000      19
             ...
12.861020       1
20.653742       1
46.359339       1
79.296722       1
13.744130       1
19.341362       1
32.527653       1
9.954112        1
18.687098       1
62.432167       1
132.319150      1
15.292786       1
11.164036       1
2.737007        1
6.870019        1
47.985392       1
90.750079       1
38.795062       1
109.656243      1
22.201499       1
113.459983      1
35.869054       1
64.550335       1
379.991800      1
33.994787       1
45.282534       1
165.986687      1
22.834023       1
63.275263       1
100.993149      1
61.093985       1
100.120144      1
6.456125        1
44.920144       1
617.797389      1
11.174513       1
5.174153        1
44.979627       1
16.772582       1
8.727343        1
59.346664       1
5.118249        1
4.707726        1
99.758268       1
99.728851       1
33.260603       1
138.030529      1
5.301918        1
33.624759       1
58.890004       1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 303163, dtype: int64
2018-07-06 20:42:39,598 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:39,598 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:39,707 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:39,707 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:39,773 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:39,773 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:39,815 logger 29 [INFO]    [make_npy] 5.005897      386
4.004718      275
6.007076      222
7.008256      196
4.505307      186
3.003538      166
8.009435      160
3.504128      149
10.011794     127
20.000000     116
5.506487       77
2.502948       67
6.507666       66
25.000000      66
9.010615       64
40.000000      59
7.508845       53
12.014153      53
15.017691      53
30.000000      52
33.333333      51
10.000000      47
50.000000      45
7.904326       42
15.000000      41
2.002359       40
60.000000      38
8.510025       37
12.000000      35
46.666667      34
26.666667      33
16.000000      31
80.000000      29
13.333333      29
16.666667      27
17.500000      25
70.000000      24
35.000000      24
8.000000       23
24.000000      23
20.023588      22
12.500000      22
18.000000      21
14.000000      20
9.511204       19
32.000000      19
53.333333      18
36.000000      18
28.000000      18
4.705543       18
             ...
8.498697        1
100.120144      1
8.830074        1
27.414061       1
9.911935        1
50.538828       1
10.227645       1
16.137584       1
12.302788       1
20.590094       1
13.240537       1
15.818816       1
23.972290       1
10.016552       1
15.786388       1
12.557143       1
10.630635       1
3.507853        1
10.314139       1
4.659032        1
27.855981       1
5.844866        1
44.059396       1
21.877806       1
7.749348        1
5.616666        1
16.512082       1
9.426454        1
11.429918       1
5.763755        1
7.409671        1
4.226570        1
54.472249       1
10.560144       1
38.458580       1
54.076692       1
14.131746       1
18.983497       1
14.321040       1
13.262583       1
25.078370       1
8.468238        1
44.807284       1
10.358561       1
33.683832       1
19.878476       1
50.000880       1
10.741762       1
43.303421       1
20.758296       1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 303119, dtype: int64
2018-07-06 20:42:39,815 logger 29 [INFO]    [make_npy] 5.005897      386
4.004718      275
6.007076      222
7.008256      196
4.505307      186
3.003538      166
8.009435      160
3.504128      149
10.011794     127
20.000000     116
5.506487       77
2.502948       67
6.507666       66
25.000000      66
9.010615       64
40.000000      59
7.508845       53
12.014153      53
15.017691      53
30.000000      52
33.333333      51
10.000000      47
50.000000      45
7.904326       42
15.000000      41
2.002359       40
60.000000      38
8.510025       37
12.000000      35
46.666667      34
26.666667      33
16.000000      31
80.000000      29
13.333333      29
16.666667      27
17.500000      25
70.000000      24
35.000000      24
8.000000       23
24.000000      23
20.023588      22
12.500000      22
18.000000      21
14.000000      20
9.511204       19
32.000000      19
53.333333      18
36.000000      18
28.000000      18
4.705543       18
             ...
8.498697        1
100.120144      1
8.830074        1
27.414061       1
9.911935        1
50.538828       1
10.227645       1
16.137584       1
12.302788       1
20.590094       1
13.240537       1
15.818816       1
23.972290       1
10.016552       1
15.786388       1
12.557143       1
10.630635       1
3.507853        1
10.314139       1
4.659032        1
27.855981       1
5.844866        1
44.059396       1
21.877806       1
7.749348        1
5.616666        1
16.512082       1
9.426454        1
11.429918       1
5.763755        1
7.409671        1
4.226570        1
54.472249       1
10.560144       1
38.458580       1
54.076692       1
14.131746       1
18.983497       1
14.321040       1
13.262583       1
25.078370       1
8.468238        1
44.807284       1
10.358561       1
33.683832       1
19.878476       1
50.000880       1
10.741762       1
43.303421       1
20.758296       1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 303119, dtype: int64

2018-07-06 20:42:39,860 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:39,860 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:39,984 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:39,984 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:40,047 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:40,047 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:40,128 logger 29 [INFO]    [make_npy] 40.000000     588
20.000000     567
60.000000     406
30.000000     405
5.005897      386
50.000000     333
25.000000     293
33.333333     279
4.004718      275
80.000000     244
6.007076      231
26.666667     224
70.000000     217
15.000000     205
35.000000     201
46.666667     198
7.008256      196
4.505307      186
3.003538      167
24.000000     167
8.009435      160
10.000000     156
53.333333     153
3.504128      149
100.000000    145
16.000000     144
16.666667     139
36.000000     133
10.011794     127
90.000000     126
28.000000     125
66.666667     123
32.000000     120
17.500000     119
12.000000     115
12.500000     103
23.333333     103
13.333333     102
45.000000     100
22.500000      98
5.506487       77
14.000000      75
18.000000      71
2.502948       67
6.507666       67
48.000000      66
120.000000     65
9.010615       64
25.733843      63
56.000000      62
             ...
11.310134       1
16.091108       1
31.863167       1
9.099160        1
26.164996       1
57.410115       1
75.940956       1
25.864856       1
14.169703       1
11.762768       1
22.600797       1
17.524081       1
21.202387       1
4.871311        1
9.459396        1
76.104466       1
22.094890       1
7.871737        1
56.396631       1
88.085800       1
6.690163        1
45.548956       1
30.722506       1
8.582070        1
16.145742       1
243.383024      1
28.380986       1
2.542642        1
35.282851       1
14.750955       1
8.925891        1
10.930086       1
15.096998       1
10.651215       1
12.354945       1
12.920588       1
17.914999       1
34.411858       1
9.220116        1
19.457335       1
11.995010       1
56.164450       1
9.422505        1
113.157374      1
6.459740        1
8.482607        1
6.087316        1
35.727896       1
41.962590       1
25.566148       1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 265357, dtype: int64
2018-07-06 20:42:40,128 logger 29 [INFO]    [make_npy] 40.000000     588
20.000000     567
60.000000     406
30.000000     405
5.005897      386
50.000000     333
25.000000     293
33.333333     279
4.004718      275
80.000000     244
6.007076      231
26.666667     224
70.000000     217
15.000000     205
35.000000     201
46.666667     198
7.008256      196
4.505307      186
3.003538      167
24.000000     167
8.009435      160
10.000000     156
53.333333     153
3.504128      149
100.000000    145
16.000000     144
16.666667     139
36.000000     133
10.011794     127
90.000000     126
28.000000     125
66.666667     123
32.000000     120
17.500000     119
12.000000     115
12.500000     103
23.333333     103
13.333333     102
45.000000     100
22.500000      98
5.506487       77
14.000000      75
18.000000      71
2.502948       67
6.507666       67
48.000000      66
120.000000     65
9.010615       64
25.733843      63
56.000000      62
             ...
11.310134       1
16.091108       1
31.863167       1
9.099160        1
26.164996       1
57.410115       1
75.940956       1
25.864856       1
14.169703       1
11.762768       1
22.600797       1
17.524081       1
21.202387       1
4.871311        1
9.459396        1
76.104466       1
22.094890       1
7.871737        1
56.396631       1
88.085800       1
6.690163        1
45.548956       1
30.722506       1
8.582070        1
16.145742       1
243.383024      1
28.380986       1
2.542642        1
35.282851       1
14.750955       1
8.925891        1
10.930086       1
15.096998       1
10.651215       1
12.354945       1
12.920588       1
17.914999       1
34.411858       1
9.220116        1
19.457335       1
11.995010       1
56.164450       1
9.422505        1
113.157374      1
6.459740        1
8.482607        1
6.087316        1
35.727896       1
41.962590       1
25.566148       1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 265357, dtype: int64
2018-07-06 20:42:40,180 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:40,180 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:40,327 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:40,327 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:40,396 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:40,396 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:40,437 logger 29 [INFO]    [make_npy] 5.005897     2783
4.004718     2352
3.003538     1932
6.007076     1849
4.505307     1756
3.504128     1722
7.008256     1247
2.502948     1048
8.009435     1040
5.506487      738
10.011794     607
6.507666      564
2.002359      529
9.010615      413
7.508845      341
20.000000     316
10.000000     303
12.014153     249
8.510025      214
8.000000      197
3.804482      195
15.017691     189
2.803302      187
3.203774      175
6.000000      161
15.000000     159
2.703184      157
1.501769      155
12.000000     153
4.805661      152
3.704364      145
4.204953      144
25.000000     133
5.000000      131
12.500000     126
40.000000     122
30.000000     118
4.705543      117
3.604246      116
9.511204      113
7.000000      111
1.802123       98
13.333333      97
4.305071       96
17.500000      95
5.206133       93
2.603066       93
16.000000      91
14.000000      90
33.333333      88
             ...
15.570727       1
5.048685        1
12.789523       1
12.495627       1
17.968080       1
3.601446        1
2.834633        1
23.371039       1
39.825088       1
11.733715       1
3.198904        1
41.437390       1
6.108400        1
11.240401       1
20.719377       1
7.414752        1
8.961794        1
12.465626       1
8.635852        1
15.187528       1
35.005017       1
26.873052       1
7.577748        1
25.775171       1
2.524370        1
4.155209        1
4.417054        1
10.454536       1
14.079351       1
7.982475        1
13.531861       1
20.217377       1
12.609499       1
37.147379       1
25.873668       1
8.689065        1
7.463265        1
47.904192       1
13.574906       1
11.998860       1
10.032649       1
40.609320       1
6.982892        1
12.031957       1
13.786410       1
62.018324       1
5.591624        1
19.209528       1
7.073956        1
6.096632        1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 242688, dtype: int64
2018-07-06 20:42:40,437 logger 29 [INFO]    [make_npy] 5.005897     2783
4.004718     2352
3.003538     1932
6.007076     1849
4.505307     1756
3.504128     1722
7.008256     1247
2.502948     1048
8.009435     1040
5.506487      738
10.011794     607
6.507666      564
2.002359      529
9.010615      413
7.508845      341
20.000000     316
10.000000     303
12.014153     249
8.510025      214
8.000000      197
3.804482      195
15.017691     189
2.803302      187
3.203774      175
6.000000      161
15.000000     159
2.703184      157
1.501769      155
12.000000     153
4.805661      152
3.704364      145
4.204953      144
25.000000     133
5.000000      131
12.500000     126
40.000000     122
30.000000     118
4.705543      117
3.604246      116
9.511204      113
7.000000      111
1.802123       98
13.333333      97
4.305071       96
17.500000      95
5.206133       93
2.603066       93
16.000000      91
14.000000      90
33.333333      88
             ...
15.570727       1
5.048685        1
12.789523       1
12.495627       1
17.968080       1
3.601446        1
2.834633        1
23.371039       1
39.825088       1
11.733715       1
3.198904        1
41.437390       1
6.108400        1
11.240401       1
20.719377       1
7.414752        1
8.961794        1
12.465626       1
8.635852        1
15.187528       1
35.005017       1
26.873052       1
7.577748        1
25.775171       1
2.524370        1
4.155209        1
4.417054        1
10.454536       1
14.079351       1
7.982475        1
13.531861       1
20.217377       1
12.609499       1
37.147379       1
25.873668       1
8.689065        1
7.463265        1
47.904192       1
13.574906       1
11.998860       1
10.032649       1
40.609320       1
6.982892        1
12.031957       1
13.786410       1
62.018324       1
5.591624        1
19.209528       1
7.073956        1
6.096632        1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 242688, dtype: int64

2018-07-06 20:42:40,483 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:40,483 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:40,709 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:40,709 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:40,775 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:40,775 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:40,797 logger 29 [INFO]    [make_npy] 0.000000     479
0.743698       5
16.965559      3
11.310373      3
19.793152      3
1.016585       2
28.634072      2
5.556625       2
8.216243       2
0.349920       2
8.492790       2
0.419883       2
6.460162       2
24.494838      2
23.217843      2
0.931600       2
6.964031       2
9.612955       2
14.099792      2
6.605556       2
41.007071      2
14.995584      2
1.232041       2
10.292346      2
6.208315       2
15.291888      2
8.509404       2
12.698260      2
4.324030       2
16.700465      2
1.363398       2
12.218772      2
15.063425      2
63.892493      2
11.509057      2
6.855170       2
17.272632      2
8.789304       2
11.179962      2
10.202052      2
9.513860       2
7.632270       2
9.014557       2
6.601392       2
7.633155       2
7.076683       2
0.312856       2
12.330107      2
8.930206       2
22.712394      2
            ...
14.894839      1
7.426160       1
7.636184       1
46.210241      1
21.046941      1
9.408390       1
10.170182      1
4.425287       1
12.198808      1
3.839221       1
1.982580       1
3.637443       1
57.787008      1
10.519280      1
8.846449       1
35.473619      1
3.123360       1
8.358911       1
24.674557      1
0.786971       1
1.217724       1
16.731280      1
10.151097      1
8.485632       1
19.004187      1
6.972344       1
22.455550      1
33.068802      1
0.206999       1
4.644190       1
2.651051       1
2.557196       1
21.955170      1
3.549430       1
3.719832       1
16.699936      1
4.838197       1
4.474589       1
1.496283       1
68.794371      1
14.910254      1
2.107234       1
7.869750       1
0.810253       1
14.062290      1
13.615408      1
45.959553      1
12.605098      1
14.929978      1
30.138714      1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 196522, dtype: int64
2018-07-06 20:42:40,797 logger 29 [INFO]    [make_npy] 0.000000     479
0.743698       5
16.965559      3
11.310373      3
19.793152      3
1.016585       2
28.634072      2
5.556625       2
8.216243       2
0.349920       2
8.492790       2
0.419883       2
6.460162       2
24.494838      2
23.217843      2
0.931600       2
6.964031       2
9.612955       2
14.099792      2
6.605556       2
41.007071      2
14.995584      2
1.232041       2
10.292346      2
6.208315       2
15.291888      2
8.509404       2
12.698260      2
4.324030       2
16.700465      2
1.363398       2
12.218772      2
15.063425      2
63.892493      2
11.509057      2
6.855170       2
17.272632      2
8.789304       2
11.179962      2
10.202052      2
9.513860       2
7.632270       2
9.014557       2
6.601392       2
7.633155       2
7.076683       2
0.312856       2
12.330107      2
8.930206       2
22.712394      2
            ...
14.894839      1
7.426160       1
7.636184       1
46.210241      1
21.046941      1
9.408390       1
10.170182      1
4.425287       1
12.198808      1
3.839221       1
1.982580       1
3.637443       1
57.787008      1
10.519280      1
8.846449       1
35.473619      1
3.123360       1
8.358911       1
24.674557      1
0.786971       1
1.217724       1
16.731280      1
10.151097      1
8.485632       1
19.004187      1
6.972344       1
22.455550      1
33.068802      1
0.206999       1
4.644190       1
2.651051       1
2.557196       1
21.955170      1
3.549430       1
3.719832       1
16.699936      1
4.838197       1
4.474589       1
1.496283       1
68.794371      1
14.910254      1
2.107234       1
7.869750       1
0.810253       1
14.062290      1
13.615408      1
45.959553      1
12.605098      1
14.929978      1
30.138714      1
Name: app_AMT_INCOME_TOTAL_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 196522, dtype: int64
2018-07-06 20:42:40,841 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:40,841 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:40,938 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:40,938 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:41,032 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:41,032 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:41,109 logger 29 [INFO]    [make_npy]  0.000000      32
-88.131353     15
-84.645932     12
-85.613314     12
-88.652840     12
-121.807561    12
-70.229672     12
-75.414413     11
-89.357833     11
-74.047759     11
-78.168678     10
-80.550161     10
-118.281553    10
-92.483519     10
-95.025349     10
-94.426450     10
-87.787090     10
-83.081312     10
-97.077732     10
-90.255000     10
-65.329927     10
-81.278463     10
-83.235167     10
-78.304861     10
-71.685789      9
-89.003941      9
-94.031360      9
-83.389592      9
-96.660194      9
-124.162956     9
-98.784593      9
-103.803672     9
-78.992953      9
-80.262482      9
-117.971102     9
-112.087257     9
-66.885402      9
-69.362639      9
-101.690023     9
-92.104488      9
-87.106570      9
-76.570681      9
-84.805642      9
-75.162191      9
-62.081478      9
-96.246231      9
-75.288090      9
-99.220728      9
-114.368931     9
-74.911650      9
               ..
-68.380750      1
-211.107162     1
-12.751100      1
-11.759686      1
-131.198927     1
-28.544372      1
-272.526765     1
-71.691469      1
-47.878720      1
-4.038652       1
-84.707849      1
-47.904199      1
-190.632777     1
-19.493719      1
-28.706607      1
-27.612741      1
-87.628966      1
-54.571583      1
-49.209390      1
-26.536860      1
-31.356960      1
-10.904685      1
-104.884091     1
-16.877666      1
-19.655637      1
-44.596198      1
-66.317051      1
-10.869132      1
-206.652857     1
-19.640780      1
-98.770593      1
-29.485253      1
-54.539426      1
-39.093000      1
-96.430091      1
-28.731293      1
-99.023196      1
-13.534804      1
-47.480321      1
-37.673465      1
-20.729224      1
-101.721437     1
-37.997076      1
-125.330952     1
-6.638647       1
-50.641555      1
-226.129937     1
-93.404695      1
-29.957776      1
-51.256320      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 310116, dtype: int64
2018-07-06 20:42:41,109 logger 29 [INFO]    [make_npy]  0.000000      32
-88.131353     15
-84.645932     12
-85.613314     12
-88.652840     12
-121.807561    12
-70.229672     12
-75.414413     11
-89.357833     11
-74.047759     11
-78.168678     10
-80.550161     10
-118.281553    10
-92.483519     10
-95.025349     10
-94.426450     10
-87.787090     10
-83.081312     10
-97.077732     10
-90.255000     10
-65.329927     10
-81.278463     10
-83.235167     10
-78.304861     10
-71.685789      9
-89.003941      9
-94.031360      9
-83.389592      9
-96.660194      9
-124.162956     9
-98.784593      9
-103.803672     9
-78.992953      9
-80.262482      9
-117.971102     9
-112.087257     9
-66.885402      9
-69.362639      9
-101.690023     9
-92.104488      9
-87.106570      9
-76.570681      9
-84.805642      9
-75.162191      9
-62.081478      9
-96.246231      9
-75.288090      9
-99.220728      9
-114.368931     9
-74.911650      9
               ..
-68.380750      1
-211.107162     1
-12.751100      1
-11.759686      1
-131.198927     1
-28.544372      1
-272.526765     1
-71.691469      1
-47.878720      1
-4.038652       1
-84.707849      1
-47.904199      1
-190.632777     1
-19.493719      1
-28.706607      1
-27.612741      1
-87.628966      1
-54.571583      1
-49.209390      1
-26.536860      1
-31.356960      1
-10.904685      1
-104.884091     1
-16.877666      1
-19.655637      1
-44.596198      1
-66.317051      1
-10.869132      1
-206.652857     1
-19.640780      1
-98.770593      1
-29.485253      1
-54.539426      1
-39.093000      1
-96.430091      1
-28.731293      1
-99.023196      1
-13.534804      1
-47.480321      1
-37.673465      1
-20.729224      1
-101.721437     1
-37.997076      1
-125.330952     1
-6.638647       1
-50.641555      1
-226.129937     1
-93.404695      1
-29.957776      1
-51.256320      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 310116, dtype: int64

2018-07-06 20:42:41,176 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:41,176 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:41,278 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:41,278 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:41,342 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:41,342 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:41,374 logger 29 [INFO]    [make_npy] -88.131353     16
-89.357833     15
-84.645932     15
-88.652840     14
-81.278463     14
-83.235167     14
-74.538955     13
-85.613314     13
-70.229672     13
-75.414413     13
-72.378406     12
-90.255000     12
-74.047759     12
-97.077732     12
-75.162191     12
-78.304861     12
-92.483519     12
-78.168678     11
-80.550161     11
-94.228491     11
-91.728551     11
-118.281553    11
-80.262482     11
-99.220728     11
-68.516753     11
-101.231959    11
-64.486356     10
-64.765115     10
-70.560424     10
-95.025349     10
-83.081312     10
-91.170365     10
-77.494810     10
-69.362639     10
-65.520394     10
-92.104488     10
-65.329927     10
-84.805642     10
-65.904677     10
-67.998472     10
-92.865682     10
-93.835052     10
-71.685789     10
-87.787090     10
-74.911650     10
-87.106570     10
-83.389592     10
-66.885402     10
-89.714551     10
-99.882200     10
               ..
-91.877397      1
-27.744563      1
-28.929771      1
-6.786970       1
-19.169265      1
-75.092305      1
-13.641959      1
-35.422460      1
-18.569530      1
-10.781880      1
-16.113389      1
-14.417896      1
-17.780249      1
-16.945296      1
-64.941901      1
-40.440495      1
-14.654015      1
-37.782833      1
-9.223774       1
-10.053079      1
-21.325521      1
-18.893763      1
-36.509489      1
-23.431406      1
-23.393458      1
-4.055790       1
-9.185942       1
-10.518867      1
-24.101221      1
-10.936884      1
-17.188670      1
-3.794266       1
-22.573012      1
-16.504454      1
-34.809923      1
-10.421276      1
-22.200574      1
-68.771074      1
-16.699500      1
-18.898005      1
-11.982321      1
-24.465166      1
-23.734788      1
-24.880909      1
-47.756172      1
-17.961590      1
-12.826751      1
-23.590583      1
-9.706393       1
-64.000000      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 309864, dtype: int64
2018-07-06 20:42:41,374 logger 29 [INFO]    [make_npy] -88.131353     16
-89.357833     15
-84.645932     15
-88.652840     14
-81.278463     14
-83.235167     14
-74.538955     13
-85.613314     13
-70.229672     13
-75.414413     13
-72.378406     12
-90.255000     12
-74.047759     12
-97.077732     12
-75.162191     12
-78.304861     12
-92.483519     12
-78.168678     11
-80.550161     11
-94.228491     11
-91.728551     11
-118.281553    11
-80.262482     11
-99.220728     11
-68.516753     11
-101.231959    11
-64.486356     10
-64.765115     10
-70.560424     10
-95.025349     10
-83.081312     10
-91.170365     10
-77.494810     10
-69.362639     10
-65.520394     10
-92.104488     10
-65.329927     10
-84.805642     10
-65.904677     10
-67.998472     10
-92.865682     10
-93.835052     10
-71.685789     10
-87.787090     10
-74.911650     10
-87.106570     10
-83.389592     10
-66.885402     10
-89.714551     10
-99.882200     10
               ..
-91.877397      1
-27.744563      1
-28.929771      1
-6.786970       1
-19.169265      1
-75.092305      1
-13.641959      1
-35.422460      1
-18.569530      1
-10.781880      1
-16.113389      1
-14.417896      1
-17.780249      1
-16.945296      1
-64.941901      1
-40.440495      1
-14.654015      1
-37.782833      1
-9.223774       1
-10.053079      1
-21.325521      1
-18.893763      1
-36.509489      1
-23.431406      1
-23.393458      1
-4.055790       1
-9.185942       1
-10.518867      1
-24.101221      1
-10.936884      1
-17.188670      1
-3.794266       1
-22.573012      1
-16.504454      1
-34.809923      1
-10.421276      1
-22.200574      1
-68.771074      1
-16.699500      1
-18.898005      1
-11.982321      1
-24.465166      1
-23.734788      1
-24.880909      1
-47.756172      1
-17.961590      1
-12.826751      1
-23.590583      1
-9.706393       1
-64.000000      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 309864, dtype: int64
2018-07-06 20:42:41,417 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:42:41,417 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:42:41,552 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:41,552 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:41,678 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:41,678 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:41,713 logger 29 [INFO]    [make_npy] -6.736527     21
-6.355932     21
-12.228261    19
-12.362637    19
-6.756757     18
-5.769231     18
-6.081081     18
-4.787234     18
-7.500000     18
-6.777108     18
-11.842105    18
-7.601351     17
-5.890052     17
-6.338028     17
-6.320225     17
-12.931034    16
-13.235294    16
-88.131353    16
-7.075472     15
-5.952381     15
-5.208333     15
-6.696429     15
-9.453782     15
-89.357833    15
-84.645932    15
-6.302521     15
-5.829016     15
-10.044643    15
-6.901840     15
-7.352941     15
-12.784091    15
-7.377049     14
-8.272059     14
-15.625000    14
-6.797583     14
-10.135135    14
-4.360465     14
-88.652840    14
-5.184332     14
-11.658031    14
-13.043478    14
-9.000000     14
-12.500000    14
-81.278463    14
-83.235167    14
-74.538955    13
-6.818182     13
-14.516129    13
-9.533898     13
-5.160550     13
              ..
-8.196756      1
-8.600199      1
-4.690978      1
-17.470342     1
-17.216975     1
-7.378167      1
-8.754259      1
-9.621196      1
-32.570091     1
-8.029712      1
-18.738114     1
-22.926724     1
-5.202995      1
-19.811359     1
-32.030812     1
-36.560256     1
-10.565742     1
-11.801856     1
-17.461371     1
-3.042758      1
-15.343866     1
-18.513291     1
-35.101461     1
-2.790233      1
-9.042791      1
-9.197832      1
-9.826044      1
-6.661216      1
-3.654442      1
-31.263192     1
-9.288885      1
-17.669412     1
-8.190722      1
-20.593286     1
-10.275349     1
-13.533028     1
-6.082075      1
-17.601618     1
-10.048199     1
-13.040491     1
-40.610476     1
-10.923967     1
-8.082685      1
-74.957860     1
-23.253636     1
-8.133349      1
-7.459788      1
-12.152368     1
-25.370214     1
-35.275167     1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 301584, dtype: int64
2018-07-06 20:42:41,713 logger 29 [INFO]    [make_npy] -6.736527     21
-6.355932     21
-12.228261    19
-12.362637    19
-6.756757     18
-5.769231     18
-6.081081     18
-4.787234     18
-7.500000     18
-6.777108     18
-11.842105    18
-7.601351     17
-5.890052     17
-6.338028     17
-6.320225     17
-12.931034    16
-13.235294    16
-88.131353    16
-7.075472     15
-5.952381     15
-5.208333     15
-6.696429     15
-9.453782     15
-89.357833    15
-84.645932    15
-6.302521     15
-5.829016     15
-10.044643    15
-6.901840     15
-7.352941     15
-12.784091    15
-7.377049     14
-8.272059     14
-15.625000    14
-6.797583     14
-10.135135    14
-4.360465     14
-88.652840    14
-5.184332     14
-11.658031    14
-13.043478    14
-9.000000     14
-12.500000    14
-81.278463    14
-83.235167    14
-74.538955    13
-6.818182     13
-14.516129    13
-9.533898     13
-5.160550     13
              ..
-8.196756      1
-8.600199      1
-4.690978      1
-17.470342     1
-17.216975     1
-7.378167      1
-8.754259      1
-9.621196      1
-32.570091     1
-8.029712      1
-18.738114     1
-22.926724     1
-5.202995      1
-19.811359     1
-32.030812     1
-36.560256     1
-10.565742     1
-11.801856     1
-17.461371     1
-3.042758      1
-15.343866     1
-18.513291     1
-35.101461     1
-2.790233      1
-9.042791      1
-9.197832      1
-9.826044      1
-6.661216      1
-3.654442      1
-31.263192     1
-9.288885      1
-17.669412     1
-8.190722      1
-20.593286     1
-10.275349     1
-13.533028     1
-6.082075      1
-17.601618     1
-10.048199     1
-13.040491     1
-40.610476     1
-10.923967     1
-8.082685      1
-74.957860     1
-23.253636     1
-8.133349      1
-7.459788      1
-12.152368     1
-25.370214     1
-35.275167     1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 301584, dtype: int64

2018-07-06 20:42:41,759 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:42:41,759 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:42:41,862 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:41,862 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:41,951 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:41,951 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:42,038 logger 29 [INFO]    [make_npy] -86.270614     91
-90.985810     87
-91.355671     83
-91.541731     80
-81.573485     80
-93.251017     79
-97.077732     79
-83.856325     79
-84.805642     79
-84.645932     78
-88.131353     76
-81.278463     76
-92.674206     76
-91.170365     75
-86.770251     75
-87.787090     75
-79.411643     74
-76.052437     74
-88.652840     74
-91.728551     74
-85.126875     74
-84.328311     73
-74.047759     73
-84.170393     72
-87.445506     72
-88.828043     72
-94.426450     72
-78.992953     72
-89.003941     71
-80.119412     71
-81.870656     71
-89.180536     71
-76.964024     70
-89.357833     70
-92.483519     69
-82.928026     69
-93.444886     69
-94.824873     69
-83.235167     69
-92.104488     69
-82.471541     68
-93.835052     68
-85.613314     68
-75.541160     68
-80.550161     68
-78.304861     68
-94.228491     68
-69.902006     68
-82.775304     68
-73.683590     67
               ..
-59.410050      1
-5.150121       1
-96.160789      1
-23.375972      1
-97.641085      1
-46.902857      1
-22.914832      1
-23.806889      1
-104.629835     1
-7.073569       1
-14.305542      1
-54.914561      1
-60.022422      1
-62.817928      1
-64.039013      1
-58.434072      1
-6.532415       1
-7.046645       1
-29.018230      1
-11.390940      1
-42.029619      1
-15.730405      1
-13.647104      1
-23.843571      1
-11.375255      1
-38.492083      1
-26.111855      1
-19.615584      1
-17.289108      1
-15.820422      1
-36.646550      1
-52.010557      1
-58.778277      1
-14.702727      1
-70.507796      1
-18.024552      1
-82.973683      1
-22.490265      1
-8.347323       1
-40.264525      1
-83.642463      1
-32.274089      1
-30.303137      1
-58.477556      1
-54.600396      1
-6.191646       1
-42.857569      1
-21.186441      1
-55.879423      1
-22.431522      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 282607, dtype: int64
2018-07-06 20:42:42,038 logger 29 [INFO]    [make_npy] -86.270614     91
-90.985810     87
-91.355671     83
-91.541731     80
-81.573485     80
-93.251017     79
-97.077732     79
-83.856325     79
-84.805642     79
-84.645932     78
-88.131353     76
-81.278463     76
-92.674206     76
-91.170365     75
-86.770251     75
-87.787090     75
-79.411643     74
-76.052437     74
-88.652840     74
-91.728551     74
-85.126875     74
-84.328311     73
-74.047759     73
-84.170393     72
-87.445506     72
-88.828043     72
-94.426450     72
-78.992953     72
-89.003941     71
-80.119412     71
-81.870656     71
-89.180536     71
-76.964024     70
-89.357833     70
-92.483519     69
-82.928026     69
-93.444886     69
-94.824873     69
-83.235167     69
-92.104488     69
-82.471541     68
-93.835052     68
-85.613314     68
-75.541160     68
-80.550161     68
-78.304861     68
-94.228491     68
-69.902006     68
-82.775304     68
-73.683590     67
               ..
-59.410050      1
-5.150121       1
-96.160789      1
-23.375972      1
-97.641085      1
-46.902857      1
-22.914832      1
-23.806889      1
-104.629835     1
-7.073569       1
-14.305542      1
-54.914561      1
-60.022422      1
-62.817928      1
-64.039013      1
-58.434072      1
-6.532415       1
-7.046645       1
-29.018230      1
-11.390940      1
-42.029619      1
-15.730405      1
-13.647104      1
-23.843571      1
-11.375255      1
-38.492083      1
-26.111855      1
-19.615584      1
-17.289108      1
-15.820422      1
-36.646550      1
-52.010557      1
-58.778277      1
-14.702727      1
-70.507796      1
-18.024552      1
-82.973683      1
-22.490265      1
-8.347323       1
-40.264525      1
-83.642463      1
-32.274089      1
-30.303137      1
-58.477556      1
-54.600396      1
-6.191646       1
-42.857569      1
-21.186441      1
-55.879423      1
-22.431522      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 282607, dtype: int64
2018-07-06 20:42:42,069 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:42:42,069 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:42:42,239 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:42,239 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:42,312 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:42,312 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:42,335 logger 29 [INFO]    [make_npy] 0.000000     479
22.799508      2
56.081444      2
8.209036       2
10.529801      2
0.749324       2
16.425132      2
0.254558       2
14.673734      2
11.301488      2
10.405631      2
2.636815       2
6.323813       2
18.554760      2
34.603188      2
10.434455      2
12.286150      2
4.663668       2
4.914465       2
9.560320       2
51.084555      2
11.091118      2
10.628781      2
2.177889       2
40.393860      2
13.171846      2
7.872641       2
19.387578      2
14.689219      2
2.102371       2
5.225243       2
19.149621      2
2.653894       2
15.606838      2
1.151305       2
2.334183       2
6.023911       2
34.352480      2
10.520117      2
38.883370      2
9.479996       2
3.794645       2
36.197882      2
8.225252       2
3.185350       2
48.829924      2
1.176401       2
33.973469      2
7.306628       2
33.800951      2
            ...
8.081368       1
5.941449       1
3.518401       1
15.242516      1
11.646608      1
13.496282      1
4.222809       1
11.242909      1
10.534682      1
40.967562      1
10.255310      1
6.475193       1
16.725890      1
12.240860      1
11.557633      1
3.711572       1
13.027906      1
31.597716      1
10.572130      1
13.758154      1
10.940677      1
11.088057      1
25.744117      1
1.633400       1
2.020032       1
1.798721       1
35.005445      1
2.395488       1
30.929939      1
3.854093       1
1.063946       1
15.785240      1
20.605592      1
6.395245       1
24.693923      1
15.961091      1
2.726329       1
22.665622      1
0.687251       1
18.749175      1
7.055121       1
3.749649       1
2.082868       1
15.985913      1
23.926924      1
8.604060       1
12.200313      1
2.741894       1
11.993725      1
26.826694      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 196886, dtype: int64
2018-07-06 20:42:42,335 logger 29 [INFO]    [make_npy] 0.000000     479
22.799508      2
56.081444      2
8.209036       2
10.529801      2
0.749324       2
16.425132      2
0.254558       2
14.673734      2
11.301488      2
10.405631      2
2.636815       2
6.323813       2
18.554760      2
34.603188      2
10.434455      2
12.286150      2
4.663668       2
4.914465       2
9.560320       2
51.084555      2
11.091118      2
10.628781      2
2.177889       2
40.393860      2
13.171846      2
7.872641       2
19.387578      2
14.689219      2
2.102371       2
5.225243       2
19.149621      2
2.653894       2
15.606838      2
1.151305       2
2.334183       2
6.023911       2
34.352480      2
10.520117      2
38.883370      2
9.479996       2
3.794645       2
36.197882      2
8.225252       2
3.185350       2
48.829924      2
1.176401       2
33.973469      2
7.306628       2
33.800951      2
            ...
8.081368       1
5.941449       1
3.518401       1
15.242516      1
11.646608      1
13.496282      1
4.222809       1
11.242909      1
10.534682      1
40.967562      1
10.255310      1
6.475193       1
16.725890      1
12.240860      1
11.557633      1
3.711572       1
13.027906      1
31.597716      1
10.572130      1
13.758154      1
10.940677      1
11.088057      1
25.744117      1
1.633400       1
2.020032       1
1.798721       1
35.005445      1
2.395488       1
30.929939      1
3.854093       1
1.063946       1
15.785240      1
20.605592      1
6.395245       1
24.693923      1
15.961091      1
2.726329       1
22.665622      1
0.687251       1
18.749175      1
7.055121       1
3.749649       1
2.082868       1
15.985913      1
23.926924      1
8.604060       1
12.200313      1
2.741894       1
11.993725      1
26.826694      1
Name: AMT_ANNUITY_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 196886, dtype: int64

2018-07-06 20:42:42,382 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:42,382 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:42,486 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:42,486 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:42,587 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:42,587 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:42,620 logger 29 [INFO]    [make_npy]  0.000000e+00    56572
 inf                89
-2.996466e+03       31
-1.664703e+03       29
-8.989398e+02       28
-1.498233e+03       28
-6.420999e+03       26
-1.248527e+03       26
-1.872791e+03       26
-1.404593e+03       26
-8.026248e+02       26
-9.771085e+02       25
-7.885437e+02       25
-1.125000e+03       25
-9.172855e+02       25
-3.745582e+03       24
-8.323517e+02       24
-2.247349e+03       23
-9.363956e+02       23
-6.914922e+02       23
-1.182816e+03       23
-7.491165e+03       22
-1.045279e+03       22
-2.497055e+03       22
-1.954217e+03       22
-4.540100e+02       22
-1.362030e+03       22
-1.021522e+03       21
-9.563189e+02       21
-1.498233e+04       21
-3.457461e+03       21
-1.797880e+03       21
-1.321970e+03       21
-1.728730e+03       21
-5.618374e+03       21
-8.172180e+02       21
-3.210499e+03       20
-7.022967e+02       20
-4.086090e+03       19
-1.214784e+03       19
-1.070166e+03       19
-4.494699e+03       19
-4.994110e+03       19
-1.605250e+03       19
-8.643652e+02       19
-9.988220e+02       19
-7.368359e+02       18
-3.750000e+02       18
-2.140333e+03       18
-8.989398e+03       18
                 ...
-1.305558e+03        1
-3.709571e+01        1
-1.177150e+02        1
-2.063314e+03        1
-1.101887e+03        1
-1.802250e+02        1
-4.730217e+01        1
-3.733509e+02        1
-3.328435e+02        1
-2.068841e+02        1
-2.127587e+02        1
-3.252830e+02        1
-4.849125e+02        1
-8.186595e+02        1
-3.502260e+02        1
-5.572879e+02        1
-1.274452e+02        1
-9.661067e+02        1
-1.364468e+02        1
-5.304975e+01        1
-8.046669e+02        1
-1.535732e+02        1
-4.922528e+02        1
-2.358607e+02        1
-6.865740e+01        1
-2.899560e+02        1
-4.300386e+02        1
-2.130000e+02        1
-6.639934e+02        1
-5.535203e+02        1
-4.992702e+02        1
-1.632089e+03        1
-5.188122e+02        1
-4.692856e+02        1
-1.947420e+02        1
-3.860107e+02        1
-1.338044e+02        1
-4.309609e+02        1
-1.904704e+02        1
-9.175566e+01        1
-5.693792e+03        1
-1.528804e+02        1
-8.519531e+02        1
-1.762084e+02        1
-1.124950e+02        1
-2.198385e+02        1
-6.764292e+01        1
-2.976078e+02        1
-4.947219e+02        1
-7.438288e+02        1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 252490, dtype: int64
2018-07-06 20:42:42,620 logger 29 [INFO]    [make_npy]  0.000000e+00    56572
 inf                89
-2.996466e+03       31
-1.664703e+03       29
-8.989398e+02       28
-1.498233e+03       28
-6.420999e+03       26
-1.248527e+03       26
-1.872791e+03       26
-1.404593e+03       26
-8.026248e+02       26
-9.771085e+02       25
-7.885437e+02       25
-1.125000e+03       25
-9.172855e+02       25
-3.745582e+03       24
-8.323517e+02       24
-2.247349e+03       23
-9.363956e+02       23
-6.914922e+02       23
-1.182816e+03       23
-7.491165e+03       22
-1.045279e+03       22
-2.497055e+03       22
-1.954217e+03       22
-4.540100e+02       22
-1.362030e+03       22
-1.021522e+03       21
-9.563189e+02       21
-1.498233e+04       21
-3.457461e+03       21
-1.797880e+03       21
-1.321970e+03       21
-1.728730e+03       21
-5.618374e+03       21
-8.172180e+02       21
-3.210499e+03       20
-7.022967e+02       20
-4.086090e+03       19
-1.214784e+03       19
-1.070166e+03       19
-4.494699e+03       19
-4.994110e+03       19
-1.605250e+03       19
-8.643652e+02       19
-9.988220e+02       19
-7.368359e+02       18
-3.750000e+02       18
-2.140333e+03       18
-8.989398e+03       18
                 ...
-1.305558e+03        1
-3.709571e+01        1
-1.177150e+02        1
-2.063314e+03        1
-1.101887e+03        1
-1.802250e+02        1
-4.730217e+01        1
-3.733509e+02        1
-3.328435e+02        1
-2.068841e+02        1
-2.127587e+02        1
-3.252830e+02        1
-4.849125e+02        1
-8.186595e+02        1
-3.502260e+02        1
-5.572879e+02        1
-1.274452e+02        1
-9.661067e+02        1
-1.364468e+02        1
-5.304975e+01        1
-8.046669e+02        1
-1.535732e+02        1
-4.922528e+02        1
-2.358607e+02        1
-6.865740e+01        1
-2.899560e+02        1
-4.300386e+02        1
-2.130000e+02        1
-6.639934e+02        1
-5.535203e+02        1
-4.992702e+02        1
-1.632089e+03        1
-5.188122e+02        1
-4.692856e+02        1
-1.947420e+02        1
-3.860107e+02        1
-1.338044e+02        1
-4.309609e+02        1
-1.904704e+02        1
-9.175566e+01        1
-5.693792e+03        1
-1.528804e+02        1
-8.519531e+02        1
-1.762084e+02        1
-1.124950e+02        1
-2.198385e+02        1
-6.764292e+01        1
-2.976078e+02        1
-4.947219e+02        1
-7.438288e+02        1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 252490, dtype: int64
2018-07-06 20:42:42,661 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:42,661 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:42,758 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:42,758 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:42,844 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:42,844 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:42,882 logger 29 [INFO]    [make_npy]  inf             89
-1.664703e+03    32
-8.989398e+02    32
-1.498233e+03    30
-1.248527e+03    29
-1.404593e+03    29
-2.996466e+03    29
-9.771085e+02    28
-1.872791e+03    27
-9.172855e+02    26
-6.420999e+03    26
-7.885437e+02    25
-8.323517e+02    25
-6.914922e+02    25
-1.125000e+03    25
-4.540100e+02    24
-5.618374e+03    24
-3.457461e+03    24
-8.026248e+02    24
-1.362030e+03    24
-1.498233e+04    23
-9.563189e+02    23
-1.045279e+03    23
-1.321970e+03    23
-8.172180e+02    22
-1.021522e+03    22
-1.070166e+03    22
-1.182816e+03    22
-1.954217e+03    22
-4.086090e+03    22
-9.363956e+02    22
-3.745582e+03    22
-9.988220e+02    21
-1.605250e+03    21
-2.247349e+03    21
-7.022967e+02    21
-8.480564e+02    20
-1.728730e+03    20
-7.491165e+03    20
-8.643652e+02    20
-3.210499e+03    20
-1.284200e+03    20
-1.549896e+03    19
-1.123675e+03    19
-4.494699e+03    19
-2.497055e+03    19
-1.214784e+03    19
-4.681978e+02    19
-7.368359e+02    19
-4.885542e+02    19
                 ..
-2.578570e+01     1
-2.761009e+02     1
-1.821617e+03     1
-2.830950e+02     1
-1.370813e+02     1
-3.509331e+01     1
-1.228871e+02     1
-8.866671e+01     1
-3.390564e+03     1
-2.757113e+02     1
-1.047445e+02     1
-1.821897e+03     1
-1.139086e+02     1
-2.138240e+02     1
-3.224731e+01     1
-5.933050e+01     1
-1.393966e+02     1
-5.028665e+01     1
-5.120437e+02     1
-3.007941e+02     1
-1.036213e+03     1
-5.255508e+01     1
-3.752107e+01     1
-6.323928e+01     1
-1.746469e+02     1
-4.336533e+01     1
-2.568748e+02     1
-3.314700e+02     1
-5.806152e+02     1
-7.480237e+02     1
-4.102512e+02     1
-3.535529e+01     1
-6.005071e+02     1
-2.980783e+01     1
-8.141924e+01     1
-1.484369e+02     1
-2.588826e+02     1
-7.262330e+01     1
-8.234507e+02     1
-1.005404e+02     1
-7.206176e+01     1
-7.072904e+01     1
-6.404568e+01     1
-1.662448e+02     1
-3.270882e+01     1
-9.213888e+02     1
-4.842828e+02     1
-3.182457e+02     1
-9.899749e+02     1
-1.178188e+02     1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 252403, dtype: int64

2018-07-06 20:42:42,882 logger 29 [INFO]    [make_npy]  inf             89
-1.664703e+03    32
-8.989398e+02    32
-1.498233e+03    30
-1.248527e+03    29
-1.404593e+03    29
-2.996466e+03    29
-9.771085e+02    28
-1.872791e+03    27
-9.172855e+02    26
-6.420999e+03    26
-7.885437e+02    25
-8.323517e+02    25
-6.914922e+02    25
-1.125000e+03    25
-4.540100e+02    24
-5.618374e+03    24
-3.457461e+03    24
-8.026248e+02    24
-1.362030e+03    24
-1.498233e+04    23
-9.563189e+02    23
-1.045279e+03    23
-1.321970e+03    23
-8.172180e+02    22
-1.021522e+03    22
-1.070166e+03    22
-1.182816e+03    22
-1.954217e+03    22
-4.086090e+03    22
-9.363956e+02    22
-3.745582e+03    22
-9.988220e+02    21
-1.605250e+03    21
-2.247349e+03    21
-7.022967e+02    21
-8.480564e+02    20
-1.728730e+03    20
-7.491165e+03    20
-8.643652e+02    20
-3.210499e+03    20
-1.284200e+03    20
-1.549896e+03    19
-1.123675e+03    19
-4.494699e+03    19
-2.497055e+03    19
-1.214784e+03    19
-4.681978e+02    19
-7.368359e+02    19
-4.885542e+02    19
                 ..
-2.578570e+01     1
-2.761009e+02     1
-1.821617e+03     1
-2.830950e+02     1
-1.370813e+02     1
-3.509331e+01     1
-1.228871e+02     1
-8.866671e+01     1
-3.390564e+03     1
-2.757113e+02     1
-1.047445e+02     1
-1.821897e+03     1
-1.139086e+02     1
-2.138240e+02     1
-3.224731e+01     1
-5.933050e+01     1
-1.393966e+02     1
-5.028665e+01     1
-5.120437e+02     1
-3.007941e+02     1
-1.036213e+03     1
-5.255508e+01     1
-3.752107e+01     1
-6.323928e+01     1
-1.746469e+02     1
-4.336533e+01     1
-2.568748e+02     1
-3.314700e+02     1
-5.806152e+02     1
-7.480237e+02     1
-4.102512e+02     1
-3.535529e+01     1
-6.005071e+02     1
-2.980783e+01     1
-8.141924e+01     1
-1.484369e+02     1
-2.588826e+02     1
-7.262330e+01     1
-8.234507e+02     1
-1.005404e+02     1
-7.206176e+01     1
-7.072904e+01     1
-6.404568e+01     1
-1.662448e+02     1
-3.270882e+01     1
-9.213888e+02     1
-4.842828e+02     1
-3.182457e+02     1
-9.899749e+02     1
-1.178188e+02     1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 252403, dtype: int64
2018-07-06 20:42:42,934 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:42:42,934 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:42:43,111 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:43,111 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:43,188 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:43,188 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:43,215 logger 29 [INFO]    [make_npy] -1125.000000    92
 inf            89
-187.500000     85
-562.500000     84
-375.000000     82
-281.250000     74
-321.428571     70
-225.000000     67
-125.000000     60
-102.272727     60
-160.714286     60
-140.625000     59
-250.000000     59
-750.000000     57
-75.000000      56
-204.545455     54
-66.176471      54
-86.538462      51
-112.500000     51
-150.000000     50
-450.000000     49
-70.312500      48
-56.250000      47
-59.210526      47
-93.750000      46
-62.500000      45
-97.826087      43
-90.000000      43
-48.913043      43
-107.142857     40
-80.357143      39
-53.571429      39
-38.793103      38
-675.000000     38
-46.875000      38
-173.076923     37
-45.000000      37
-64.285714      36
-40.178571      35
-60.810811      35
-83.333333      34
-41.666667      33
-35.156250      32
-898.939800     32
-118.421053     32
-843.750000     32
-1664.703333    32
-132.352941     32
-482.142857     31
-72.580645      31
                ..
-286.203553      1
-31.910792       1
-19.563319       1
-72.328897       1
-81.286579       1
-2183.565000     1
-508.106250      1
-404.444032      1
-283.534412      1
-10.879113       1
-676.862609      1
-890.647500      1
-207.687162      1
-112.953000      1
-168.940161      1
-229.188913      1
-59.382102       1
-261.471111      1
-339.655263      1
-247.056279      1
-453.244500      1
-272.055000      1
-234.611471      1
-28.890426       1
-136.984219      1
-42.839348       1
-9.837600        1
-338.908846      1
-466.335000      1
-1816.586250     1
-207.692069      1
-420.427969      1
-614.139545      1
-277.736143      1
-261.219808      1
-263.791452      1
-273.309545      1
-18.838098       1
-100.232438      1
-72.616810       1
-188.449412      1
-15.436632       1
-589.167931      1
-509.718409      1
-45.256959       1
-236.805000      1
-137.133409      1
-22.195752       1
-60.127248       1
-407.865484      1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 242845, dtype: int64
2018-07-06 20:42:43,215 logger 29 [INFO]    [make_npy] -1125.000000    92
 inf            89
-187.500000     85
-562.500000     84
-375.000000     82
-281.250000     74
-321.428571     70
-225.000000     67
-125.000000     60
-102.272727     60
-160.714286     60
-140.625000     59
-250.000000     59
-750.000000     57
-75.000000      56
-204.545455     54
-66.176471      54
-86.538462      51
-112.500000     51
-150.000000     50
-450.000000     49
-70.312500      48
-56.250000      47
-59.210526      47
-93.750000      46
-62.500000      45
-97.826087      43
-90.000000      43
-48.913043      43
-107.142857     40
-80.357143      39
-53.571429      39
-38.793103      38
-675.000000     38
-46.875000      38
-173.076923     37
-45.000000      37
-64.285714      36
-40.178571      35
-60.810811      35
-83.333333      34
-41.666667      33
-35.156250      32
-898.939800     32
-118.421053     32
-843.750000     32
-1664.703333    32
-132.352941     32
-482.142857     31
-72.580645      31
                ..
-286.203553      1
-31.910792       1
-19.563319       1
-72.328897       1
-81.286579       1
-2183.565000     1
-508.106250      1
-404.444032      1
-283.534412      1
-10.879113       1
-676.862609      1
-890.647500      1
-207.687162      1
-112.953000      1
-168.940161      1
-229.188913      1
-59.382102       1
-261.471111      1
-339.655263      1
-247.056279      1
-453.244500      1
-272.055000      1
-234.611471      1
-28.890426       1
-136.984219      1
-42.839348       1
-9.837600        1
-338.908846      1
-466.335000      1
-1816.586250     1
-207.692069      1
-420.427969      1
-614.139545      1
-277.736143      1
-261.219808      1
-263.791452      1
-273.309545      1
-18.838098       1
-100.232438      1
-72.616810       1
-188.449412      1
-15.436632       1
-589.167931      1
-509.718409      1
-45.256959       1
-236.805000      1
-137.133409      1
-22.195752       1
-60.127248       1
-407.865484      1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 242845, dtype: int64
2018-07-06 20:42:43,262 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:42:43,262 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:42:43,405 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:43,405 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:43,507 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:43,507 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:43,547 logger 29 [INFO]    [make_npy] -6420.998571    211
-1248.527500    196
-1152.486923    196
-3457.460769    184
-1321.970294    183
-1728.730385    177
-1214.783514    177
-1182.815526    175
-817.218000     174
-898.939800     174
-977.108478     171
-1404.593437    170
-936.395625     168
-1872.791250    168
-802.624821     165
-1362.030000    163
-917.285510     163
-1605.249643    162
-2996.466000    162
-1498.233000    161
-724.951452     161
-1123.674750    161
-1664.703333    160
-1284.199714    160
-5618.373750    160
-736.835902     159
-2497.055000    159
-864.365192     159
-7491.165000    157
-848.056415     157
-1449.902903    156
-1096.268049    156
-749.116500     155
-788.543684     154
-761.813390     150
-1070.166429    148
-832.351667     148
-1045.278837    148
-1021.522500    147
-2247.349500    147
-1549.896207    147
-3210.499286    145
-2365.631053    145
-774.948103     145
-2809.186875    143
-3745.582500    143
-4994.110000    142
-4086.090000    142
-681.015000     141
-2043.045000    139
               ...
-426.758304       1
-423.603659       1
-364.630263       1
-186.482500       1
-1725.651000      1
-602.578929       1
-252.318214       1
-264.710357       1
-67.435096        1
-669.127500       1
-121.758024       1
-200.454545       1
-289.697442       1
-45.224095        1
-123.487279       1
-383.891400       1
-179.254158       1
-257.603906       1
-151.915021       1
-84.445200        1
-1772.217391      1
-38.490811        1
-149.167841       1
-426.956786       1
-291.648358       1
-130.542831       1
-148.487459       1
-333.547500       1
-42.152283        1
-372.996250       1
-399.430000       1
-350.612609       1
-154.482465       1
-56.705148        1
-111.984276       1
-303.005377       1
-979.128333       1
-270.529167       1
-350.116544       1
-943.119000       1
-254.912500       1
-658.935000       1
-308.043750       1
-996.288750       1
-192.131250       1
-113.980000       1
-239.950887       1
-67.301591        1
-410.433333       1
-102.863284       1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 226575, dtype: int64

2018-07-06 20:42:43,547 logger 29 [INFO]    [make_npy] -6420.998571    211
-1248.527500    196
-1152.486923    196
-3457.460769    184
-1321.970294    183
-1728.730385    177
-1214.783514    177
-1182.815526    175
-817.218000     174
-898.939800     174
-977.108478     171
-1404.593437    170
-936.395625     168
-1872.791250    168
-802.624821     165
-1362.030000    163
-917.285510     163
-1605.249643    162
-2996.466000    162
-1498.233000    161
-724.951452     161
-1123.674750    161
-1664.703333    160
-1284.199714    160
-5618.373750    160
-736.835902     159
-2497.055000    159
-864.365192     159
-7491.165000    157
-848.056415     157
-1449.902903    156
-1096.268049    156
-749.116500     155
-788.543684     154
-761.813390     150
-1070.166429    148
-832.351667     148
-1045.278837    148
-1021.522500    147
-2247.349500    147
-1549.896207    147
-3210.499286    145
-2365.631053    145
-774.948103     145
-2809.186875    143
-3745.582500    143
-4994.110000    142
-4086.090000    142
-681.015000     141
-2043.045000    139
               ...
-426.758304       1
-423.603659       1
-364.630263       1
-186.482500       1
-1725.651000      1
-602.578929       1
-252.318214       1
-264.710357       1
-67.435096        1
-669.127500       1
-121.758024       1
-200.454545       1
-289.697442       1
-45.224095        1
-123.487279       1
-383.891400       1
-179.254158       1
-257.603906       1
-151.915021       1
-84.445200        1
-1772.217391      1
-38.490811        1
-149.167841       1
-426.956786       1
-291.648358       1
-130.542831       1
-148.487459       1
-333.547500       1
-42.152283        1
-372.996250       1
-399.430000       1
-350.612609       1
-154.482465       1
-56.705148        1
-111.984276       1
-303.005377       1
-979.128333       1
-270.529167       1
-350.116544       1
-943.119000       1
-254.912500       1
-658.935000       1
-308.043750       1
-996.288750       1
-192.131250       1
-113.980000       1
-239.950887       1
-67.301591        1
-410.433333       1
-102.863284       1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 226575, dtype: int64
2018-07-06 20:42:43,604 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:42:43,604 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:42:43,713 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:43,713 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:43,777 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:43,777 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:43,797 logger 29 [INFO]    [make_npy] 0.000000       414
5.170718         3
30.578833        3
4.677511         2
128.329274       2
54.126980        2
44.297146        2
970.598244       2
38.591767        2
204.124667       2
174.202827       2
3155.591290      2
73.034612        2
91.630153        2
46.520555        2
40.730911        2
23.021900        2
299.438509       2
74.616320        2
78.364674        2
75.305265        2
819.182985       2
153.872623       2
417.378263       2
12.883009        2
115.185637       2
90.134901        2
55.042425        2
67.888438        2
1430.828681      2
57.580757        2
228.343674       2
1920.334332      2
54.669961        2
133.300106       2
283.583588       2
247.618052       2
237.871794       2
161.650671       2
32.558025        2
1.590990         2
101.211224       2
40.940463        2
96.729556        2
197.876762       2
322.875563       2
271.268385       2
27.526514        2
26.973767        2
10.033845        2
              ...
392.974594       1
1.753529         1
14.663633        1
17.911090        1
39.200460        1
58.176426        1
76.215008        1
89.538735        1
83.623564        1
22.050900        1
3.329715         1
86.652841        1
11.424862        1
40.858663        1
737.650255       1
78.379946        1
123.314737       1
28.219020        1
19.419649        1
33.547175        1
1456.283764      1
15.833915        1
30.614740        1
226.167017       1
123.995353       1
247.805084       1
18.498790        1
65.841346        1
167.771403       1
47.893730        1
5.408899         1
151.973150       1
18.321178        1
706.765940       1
11.213618        1
13.671766        1
997.573423       1
115.499858       1
2783.629756      1
98.038808        1
2692.363095      1
67.429839        1
77.676652        1
345.693691       1
64.032055        1
63.875228        1
92.356667        1
685.306493       1
28.282111        1
64.162912        1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 161087, dtype: int64
2018-07-06 20:42:43,797 logger 29 [INFO]    [make_npy] 0.000000       414
5.170718         3
30.578833        3
4.677511         2
128.329274       2
54.126980        2
44.297146        2
970.598244       2
38.591767        2
204.124667       2
174.202827       2
3155.591290      2
73.034612        2
91.630153        2
46.520555        2
40.730911        2
23.021900        2
299.438509       2
74.616320        2
78.364674        2
75.305265        2
819.182985       2
153.872623       2
417.378263       2
12.883009        2
115.185637       2
90.134901        2
55.042425        2
67.888438        2
1430.828681      2
57.580757        2
228.343674       2
1920.334332      2
54.669961        2
133.300106       2
283.583588       2
247.618052       2
237.871794       2
161.650671       2
32.558025        2
1.590990         2
101.211224       2
40.940463        2
96.729556        2
197.876762       2
322.875563       2
271.268385       2
27.526514        2
26.973767        2
10.033845        2
              ...
392.974594       1
1.753529         1
14.663633        1
17.911090        1
39.200460        1
58.176426        1
76.215008        1
89.538735        1
83.623564        1
22.050900        1
3.329715         1
86.652841        1
11.424862        1
40.858663        1
737.650255       1
78.379946        1
123.314737       1
28.219020        1
19.419649        1
33.547175        1
1456.283764      1
15.833915        1
30.614740        1
226.167017       1
123.995353       1
247.805084       1
18.498790        1
65.841346        1
167.771403       1
47.893730        1
5.408899         1
151.973150       1
18.321178        1
706.765940       1
11.213618        1
13.671766        1
997.573423       1
115.499858       1
2783.629756      1
98.038808        1
2692.363095      1
67.429839        1
77.676652        1
345.693691       1
64.032055        1
63.875228        1
92.356667        1
685.306493       1
28.282111        1
64.162912        1
Name: AMT_ANNUITY_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 161087, dtype: int64
2018-07-06 20:42:43,819 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:43,819 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:43,957 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:43,957 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:44,055 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,055 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,099 logger 29 [INFO]    [make_npy]  inf             2022
 0.000000e+00      32
-2.365631e+03      31
-3.745582e+03      23
-1.123675e+04      22
-4.994110e+03      21
-2.996466e+03      21
-2.497055e+03      20
-1.182816e+03      20
-2.247349e+04      19
-1.872791e+03      18
-1.321970e+03      17
-1.954217e+03      17
-8.813135e+02      17
-2.643941e+03      17
-3.457461e+03      17
-4.086090e+03      17
-1.498233e+03      17
-4.494699e+03      17
-5.618374e+03      16
-6.914922e+02      16
-6.810150e+02      16
-4.494699e+04      16
-1.664703e+03      16
-1.248527e+03      15
-1.362030e+03      15
-1.797880e+03      15
-8.989398e+03      15
-1.728730e+03      15
-3.210499e+03      15
-4.994110e+02      15
-8.989398e+02      15
-2.809187e+03      15
-1.498233e+04      15
-2.140333e+03      14
-3.165281e+02      14
-2.043045e+03      14
-1.214784e+03      14
-2.774506e+02      13
-4.321826e+02      13
-6.514057e+02      13
-1.962751e+02      13
-2.247349e+03      13
-9.988220e+02      13
-6.242637e+02      13
-1.152487e+03      13
-1.045279e+03      12
-1.123675e+03      12
-1.449903e+03      12
-1.404593e+03      12
                 ...
-9.016948e+01       1
-1.097172e+02       1
-8.470899e+01       1
-1.590336e+02       1
-9.030727e+01       1
-1.019582e+03       1
-9.735264e+01       1
-3.660297e+03       1
-1.234577e+02       1
-4.706384e+01       1
-3.519235e+01       1
-5.177818e+01       1
-9.399850e+01       1
-1.550540e+02       1
-8.262343e+02       1
-2.086039e+02       1
-2.440070e+02       1
-1.865082e+03       1
-5.228940e+01       1
-3.559420e+01       1
-2.859345e+01       1
-2.373943e+02       1
-2.304270e+02       1
-1.735388e+02       1
-2.069419e+02       1
-2.260322e+02       1
-5.940730e+01       1
-7.933136e+01       1
-6.096910e+01       1
-2.100407e+02       1
-3.805923e+02       1
-1.359012e+02       1
-5.904435e+01       1
-8.003685e+01       1
-7.197900e+02       1
-1.014354e+02       1
-2.480667e+03       1
-3.582698e+01       1
-6.100195e+02       1
-1.332129e+01       1
-5.651000e+01       1
-4.629261e+01       1
-4.011116e+02       1
-1.246214e+02       1
-2.551269e+04       1
-2.976473e+02       1
-1.532928e+02       1
-2.377207e+02       1
-7.526180e+02       1
-1.878060e+02       1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 307420, dtype: int64

2018-07-06 20:42:44,099 logger 29 [INFO]    [make_npy]  inf             2022
 0.000000e+00      32
-2.365631e+03      31
-3.745582e+03      23
-1.123675e+04      22
-4.994110e+03      21
-2.996466e+03      21
-2.497055e+03      20
-1.182816e+03      20
-2.247349e+04      19
-1.872791e+03      18
-1.321970e+03      17
-1.954217e+03      17
-8.813135e+02      17
-2.643941e+03      17
-3.457461e+03      17
-4.086090e+03      17
-1.498233e+03      17
-4.494699e+03      17
-5.618374e+03      16
-6.914922e+02      16
-6.810150e+02      16
-4.494699e+04      16
-1.664703e+03      16
-1.248527e+03      15
-1.362030e+03      15
-1.797880e+03      15
-8.989398e+03      15
-1.728730e+03      15
-3.210499e+03      15
-4.994110e+02      15
-8.989398e+02      15
-2.809187e+03      15
-1.498233e+04      15
-2.140333e+03      14
-3.165281e+02      14
-2.043045e+03      14
-1.214784e+03      14
-2.774506e+02      13
-4.321826e+02      13
-6.514057e+02      13
-1.962751e+02      13
-2.247349e+03      13
-9.988220e+02      13
-6.242637e+02      13
-1.152487e+03      13
-1.045279e+03      12
-1.123675e+03      12
-1.449903e+03      12
-1.404593e+03      12
                 ...
-9.016948e+01       1
-1.097172e+02       1
-8.470899e+01       1
-1.590336e+02       1
-9.030727e+01       1
-1.019582e+03       1
-9.735264e+01       1
-3.660297e+03       1
-1.234577e+02       1
-4.706384e+01       1
-3.519235e+01       1
-5.177818e+01       1
-9.399850e+01       1
-1.550540e+02       1
-8.262343e+02       1
-2.086039e+02       1
-2.440070e+02       1
-1.865082e+03       1
-5.228940e+01       1
-3.559420e+01       1
-2.859345e+01       1
-2.373943e+02       1
-2.304270e+02       1
-1.735388e+02       1
-2.069419e+02       1
-2.260322e+02       1
-5.940730e+01       1
-7.933136e+01       1
-6.096910e+01       1
-2.100407e+02       1
-3.805923e+02       1
-1.359012e+02       1
-5.904435e+01       1
-8.003685e+01       1
-7.197900e+02       1
-1.014354e+02       1
-2.480667e+03       1
-3.582698e+01       1
-6.100195e+02       1
-1.332129e+01       1
-5.651000e+01       1
-4.629261e+01       1
-4.011116e+02       1
-1.246214e+02       1
-2.551269e+04       1
-2.976473e+02       1
-1.532928e+02       1
-2.377207e+02       1
-7.526180e+02       1
-1.878060e+02       1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 307420, dtype: int64
2018-07-06 20:42:44,150 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:44,150 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:44,241 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:44,241 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:44,306 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,306 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,341 logger 29 [INFO]    [make_npy]  inf             2022
-2.365631e+03      29
-1.498233e+03      24
-1.123675e+04      23
-1.872791e+03      23
-4.994110e+03      22
-1.321970e+03      21
-2.497055e+03      20
-3.745582e+03      20
-1.182816e+03      20
-3.457461e+03      18
-2.043045e+03      18
-1.362030e+03      18
-4.494699e+04      17
-4.086090e+03      17
-1.123675e+03      17
-2.247349e+04      17
-9.988220e+02      17
-8.813135e+02      17
-2.996466e+03      16
-3.210499e+03      16
-1.664703e+03      16
-1.954217e+03      16
-1.248527e+03      16
-8.989398e+02      15
-6.810150e+02      15
-2.643941e+03      15
-8.989398e+03      15
-3.165281e+02      14
-1.962751e+02      14
-1.070166e+03      14
-4.321826e+02      14
-6.420999e+03      14
-1.797880e+03      14
-8.643652e+02      14
-2.140333e+03      14
-2.809187e+03      14
-1.498233e+04      14
-2.774506e+02      14
-1.214784e+03      14
-9.771085e+02      14
-4.994110e+02      14
-1.449903e+03      14
-5.618374e+03      14
-6.914922e+02      13
-6.073918e+02      13
-2.976622e+02      13
-7.885437e+02      13
-3.405075e+02      13
-2.416505e+02      13
                 ...
-7.282649e+01       1
-2.284642e+02       1
-2.498155e+01       1
-2.554313e+02       1
-2.612912e+02       1
-1.332129e+01       1
-9.399850e+01       1
-4.627794e+01       1
-7.752699e+01       1
-2.779060e+01       1
-5.071769e+01       1
-7.044092e+00       1
-3.202817e+01       1
-1.152135e+02       1
-4.569129e+01       1
-8.676942e+01       1
-4.136589e+01       1
-2.110560e+02       1
-4.233539e+01       1
-8.148346e+01       1
-9.332928e+01       1
-2.833416e+02       1
-2.703250e+01       1
-7.902951e+01       1
-8.320850e+01       1
-1.187102e+02       1
-3.094914e+01       1
-8.941312e+01       1
-2.239239e+01       1
-2.706727e+02       1
-7.986442e+02       1
-1.280861e+02       1
-9.927729e+01       1
-2.912438e+01       1
-2.241989e+01       1
-1.034709e+02       1
-2.260322e+02       1
-5.940730e+01       1
-3.048455e+01       1
-4.215056e+01       1
-4.757403e+01       1
-2.596101e+01       1
-4.163733e+01       1
-2.236386e+01       1
-2.285267e+01       1
-7.342513e+01       1
-9.834146e+01       1
-1.796928e+02       1
-1.164882e+02       1
-4.531959e+01       1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 307257, dtype: int64
2018-07-06 20:42:44,341 logger 29 [INFO]    [make_npy]  inf             2022
-2.365631e+03      29
-1.498233e+03      24
-1.123675e+04      23
-1.872791e+03      23
-4.994110e+03      22
-1.321970e+03      21
-2.497055e+03      20
-3.745582e+03      20
-1.182816e+03      20
-3.457461e+03      18
-2.043045e+03      18
-1.362030e+03      18
-4.494699e+04      17
-4.086090e+03      17
-1.123675e+03      17
-2.247349e+04      17
-9.988220e+02      17
-8.813135e+02      17
-2.996466e+03      16
-3.210499e+03      16
-1.664703e+03      16
-1.954217e+03      16
-1.248527e+03      16
-8.989398e+02      15
-6.810150e+02      15
-2.643941e+03      15
-8.989398e+03      15
-3.165281e+02      14
-1.962751e+02      14
-1.070166e+03      14
-4.321826e+02      14
-6.420999e+03      14
-1.797880e+03      14
-8.643652e+02      14
-2.140333e+03      14
-2.809187e+03      14
-1.498233e+04      14
-2.774506e+02      14
-1.214784e+03      14
-9.771085e+02      14
-4.994110e+02      14
-1.449903e+03      14
-5.618374e+03      14
-6.914922e+02      13
-6.073918e+02      13
-2.976622e+02      13
-7.885437e+02      13
-3.405075e+02      13
-2.416505e+02      13
                 ...
-7.282649e+01       1
-2.284642e+02       1
-2.498155e+01       1
-2.554313e+02       1
-2.612912e+02       1
-1.332129e+01       1
-9.399850e+01       1
-4.627794e+01       1
-7.752699e+01       1
-2.779060e+01       1
-5.071769e+01       1
-7.044092e+00       1
-3.202817e+01       1
-1.152135e+02       1
-4.569129e+01       1
-8.676942e+01       1
-4.136589e+01       1
-2.110560e+02       1
-4.233539e+01       1
-8.148346e+01       1
-9.332928e+01       1
-2.833416e+02       1
-2.703250e+01       1
-7.902951e+01       1
-8.320850e+01       1
-1.187102e+02       1
-3.094914e+01       1
-8.941312e+01       1
-2.239239e+01       1
-2.706727e+02       1
-7.986442e+02       1
-1.280861e+02       1
-9.927729e+01       1
-2.912438e+01       1
-2.241989e+01       1
-1.034709e+02       1
-2.260322e+02       1
-5.940730e+01       1
-3.048455e+01       1
-4.215056e+01       1
-4.757403e+01       1
-2.596101e+01       1
-4.163733e+01       1
-2.236386e+01       1
-2.285267e+01       1
-7.342513e+01       1
-9.834146e+01       1
-1.796928e+02       1
-1.164882e+02       1
-4.531959e+01       1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 307257, dtype: int64
2018-07-06 20:42:44,386 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:42:44,386 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']

2018-07-06 20:42:44,544 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:44,544 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:44,679 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,679 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,714 logger 29 [INFO]    [make_npy]  inf            2022
-562.500000       51
-1125.000000      47
-187.500000       42
-102.272727       41
-86.538462        40
-38.793103        38
-225.000000       38
-45.000000        37
-46.875000        35
-93.750000        34
-32.142857        34
-375.000000       34
-125.000000       34
-75.000000        33
-59.210526        32
-80.357143        32
-281.250000       32
-2250.000000      32
-450.000000       32
-66.176471        32
-20.089286        31
-41.666667        31
-250.000000       30
-70.312500        30
-321.428571       30
-29.605263        30
-35.156250        30
-60.810811        29
-56.250000        29
-2365.631053      29
-97.826087        29
-160.714286       29
-140.625000       29
-28.125000        29
-23.936170        28
-25.000000        28
-43.269231        28
-62.500000        28
-118.421053       27
-132.352941       27
-22.058824        27
-150.000000       27
-112.500000       27
-51.136364        26
-90.000000        26
-53.571429        26
-40.178571        26
-16.544118        25
-39.473684        25
                ...
-408.346667        1
-22.124916         1
-28.884653         1
-46.865625         1
-45.574430         1
-43.618144         1
-51.950769         1
-22.782286         1
-33.783488         1
-25.937591         1
-418.074545        1
-39.999000         1
-41.359091         1
-244.472838        1
-38.445644         1
-104.816250        1
-600.846429        1
-46.018411         1
-156.215132        1
-106.297200        1
-71.506098         1
-227.790000        1
-215.965500        1
-41.312121         1
-352.743061        1
-148.515261        1
-25.071025         1
-205.730217        1
-15.125153         1
-163.865323        1
-1152.865227       1
-105.161908        1
-133.976176        1
-304.003421        1
-337.622625        1
-308.607955        1
-37.580094         1
-11.580882         1
-92.326731         1
-335.970000        1
-201.240344        1
-58.892213         1
-20.501875         1
-14.093289         1
-72.858266         1
-56.538670         1
-81.290882         1
-45.196485         1
-1312.104375       1
-249.546000        1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 297539, dtype: int64
2018-07-06 20:42:44,714 logger 29 [INFO]    [make_npy]  inf            2022
-562.500000       51
-1125.000000      47
-187.500000       42
-102.272727       41
-86.538462        40
-38.793103        38
-225.000000       38
-45.000000        37
-46.875000        35
-93.750000        34
-32.142857        34
-375.000000       34
-125.000000       34
-75.000000        33
-59.210526        32
-80.357143        32
-281.250000       32
-2250.000000      32
-450.000000       32
-66.176471        32
-20.089286        31
-41.666667        31
-250.000000       30
-70.312500        30
-321.428571       30
-29.605263        30
-35.156250        30
-60.810811        29
-56.250000        29
-2365.631053      29
-97.826087        29
-160.714286       29
-140.625000       29
-28.125000        29
-23.936170        28
-25.000000        28
-43.269231        28
-62.500000        28
-118.421053       27
-132.352941       27
-22.058824        27
-150.000000       27
-112.500000       27
-51.136364        26
-90.000000        26
-53.571429        26
-40.178571        26
-16.544118        25
-39.473684        25
                ...
-408.346667        1
-22.124916         1
-28.884653         1
-46.865625         1
-45.574430         1
-43.618144         1
-51.950769         1
-22.782286         1
-33.783488         1
-25.937591         1
-418.074545        1
-39.999000         1
-41.359091         1
-244.472838        1
-38.445644         1
-104.816250        1
-600.846429        1
-46.018411         1
-156.215132        1
-106.297200        1
-71.506098         1
-227.790000        1
-215.965500        1
-41.312121         1
-352.743061        1
-148.515261        1
-25.071025         1
-205.730217        1
-15.125153         1
-163.865323        1
-1152.865227       1
-105.161908        1
-133.976176        1
-304.003421        1
-337.622625        1
-308.607955        1
-37.580094         1
-11.580882         1
-92.326731         1
-335.970000        1
-201.240344        1
-58.892213         1
-20.501875         1
-14.093289         1
-72.858266         1
-56.538670         1
-81.290882         1
-45.196485         1
-1312.104375       1
-249.546000        1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 297539, dtype: int64
2018-07-06 20:42:44,737 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:42:44,737 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:42:44,829 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:44,829 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:44,892 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,892 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:44,934 logger 29 [INFO]    [make_npy]  inf             2022
-2.247349e+04     157
-1.498233e+04     152
-7.491165e+03     142
-6.420999e+03     141
-4.494699e+03     137
-1.123675e+04     135
-1.872791e+03     134
-4.994110e+03     133
-8.989398e+03     132
-3.745582e+03     132
-2.497055e+03     131
-4.494699e+04     128
-2.365631e+03     124
-5.618374e+03     124
-1.152487e+03     122
-3.457461e+03     121
-2.043045e+03     121
-1.321970e+03     120
-1.728730e+03     117
-1.498233e+03     116
-1.362030e+03     115
-3.210499e+03     113
-2.809187e+03     113
-4.086090e+03     113
-1.549896e+03     113
-1.664703e+03     109
-2.140333e+03     108
-1.797880e+03     108
-1.449903e+03     107
-2.643941e+03     107
-2.996466e+03     106
-1.605250e+03     100
-1.248527e+03      99
-1.182816e+03      99
-9.988220e+02      98
-1.404593e+03      98
-4.781595e+02      95
-1.954217e+03      94
-8.989398e+02      94
-9.771085e+02      93
-1.070166e+03      91
-2.976622e+02      90
-7.134443e+02      90
-3.684180e+02      90
-2.247349e+03      88
-1.123675e+03      88
-2.826855e+02      87
-9.563189e+02      85
-1.021522e+03      85
                 ...
-7.649891e+01       1
-3.365845e+01       1
-9.275000e+01       1
-8.026248e+01       1
-3.707313e+02       1
-7.610940e+02       1
-4.992554e+01       1
-4.907565e+02       1
-9.981863e+00       1
-9.696678e+01       1
-9.508368e+01       1
-3.948368e+02       1
-1.020586e+02       1
-1.433000e+01       1
-1.119953e+02       1
-4.549981e+02       1
-1.035525e+02       1
-5.951588e+01       1
-3.866323e+01       1
-1.201667e+02       1
-2.102564e+01       1
-1.168884e+02       1
-8.214340e+01       1
-1.281750e+02       1
-6.491250e+01       1
-1.708470e+03       1
-6.468488e+01       1
-1.577368e+02       1
-3.355920e+03       1
-3.441761e+02       1
-4.746072e+02       1
-2.153110e+01       1
-4.806170e+03       1
-1.175573e+02       1
-7.249449e+01       1
-2.025935e+02       1
-3.528121e+01       1
-2.259807e+02       1
-5.275852e+02       1
-1.321347e+02       1
-1.613050e+02       1
-4.269441e+01       1
-6.907430e+01       1
-6.653258e+01       1
-1.325524e+02       1
-2.112649e+02       1
-2.579792e+02       1
-1.525299e+02       1
-9.987545e+01       1
-1.016723e+01       1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 279202, dtype: int64

2018-07-06 20:42:44,934 logger 29 [INFO]    [make_npy]  inf             2022
-2.247349e+04     157
-1.498233e+04     152
-7.491165e+03     142
-6.420999e+03     141
-4.494699e+03     137
-1.123675e+04     135
-1.872791e+03     134
-4.994110e+03     133
-8.989398e+03     132
-3.745582e+03     132
-2.497055e+03     131
-4.494699e+04     128
-2.365631e+03     124
-5.618374e+03     124
-1.152487e+03     122
-3.457461e+03     121
-2.043045e+03     121
-1.321970e+03     120
-1.728730e+03     117
-1.498233e+03     116
-1.362030e+03     115
-3.210499e+03     113
-2.809187e+03     113
-4.086090e+03     113
-1.549896e+03     113
-1.664703e+03     109
-2.140333e+03     108
-1.797880e+03     108
-1.449903e+03     107
-2.643941e+03     107
-2.996466e+03     106
-1.605250e+03     100
-1.248527e+03      99
-1.182816e+03      99
-9.988220e+02      98
-1.404593e+03      98
-4.781595e+02      95
-1.954217e+03      94
-8.989398e+02      94
-9.771085e+02      93
-1.070166e+03      91
-2.976622e+02      90
-7.134443e+02      90
-3.684180e+02      90
-2.247349e+03      88
-1.123675e+03      88
-2.826855e+02      87
-9.563189e+02      85
-1.021522e+03      85
                 ...
-7.649891e+01       1
-3.365845e+01       1
-9.275000e+01       1
-8.026248e+01       1
-3.707313e+02       1
-7.610940e+02       1
-4.992554e+01       1
-4.907565e+02       1
-9.981863e+00       1
-9.696678e+01       1
-9.508368e+01       1
-3.948368e+02       1
-1.020586e+02       1
-1.433000e+01       1
-1.119953e+02       1
-4.549981e+02       1
-1.035525e+02       1
-5.951588e+01       1
-3.866323e+01       1
-1.201667e+02       1
-2.102564e+01       1
-1.168884e+02       1
-8.214340e+01       1
-1.281750e+02       1
-6.491250e+01       1
-1.708470e+03       1
-6.468488e+01       1
-1.577368e+02       1
-3.355920e+03       1
-3.441761e+02       1
-4.746072e+02       1
-2.153110e+01       1
-4.806170e+03       1
-1.175573e+02       1
-7.249449e+01       1
-2.025935e+02       1
-3.528121e+01       1
-2.259807e+02       1
-5.275852e+02       1
-1.321347e+02       1
-1.613050e+02       1
-4.269441e+01       1
-6.907430e+01       1
-6.653258e+01       1
-1.325524e+02       1
-2.112649e+02       1
-2.579792e+02       1
-1.525299e+02       1
-9.987545e+01       1
-1.016723e+01       1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 279202, dtype: int64
2018-07-06 20:42:44,982 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:42:44,982 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:42:45,120 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:45,120 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:45,190 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:45,190 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:45,214 logger 29 [INFO]    [make_npy] 0.000000       474
18.296388        3
7.336305         2
267.185601       2
68.303101        2
309.484065       2
134.972117       2
2.685790         2
37.104842        2
129.909915       2
25.493449        2
35.799301        2
206.033403       2
12.460443        2
67.352454        2
40.002390        2
31.728597        2
23.601252        2
138.809974       2
7.047580         2
20.774890        2
14.843845        2
23.985912        2
27.540097        2
10.315524        2
75.975088        2
14.804695        2
457.741534       2
60.706888        2
62.842904        2
53.359825        2
112.156410       2
6.988580         2
16.842961        2
197.696449       2
21.938820        2
23.726476        2
20.165693        2
7.468380         2
17.228991        2
60.060653        2
70.248641        2
54.643774        2
5.590199         2
80.736881        2
24.802592        2
68.841666        2
41.462021        2
9.544835         2
42.202131        2
              ...
12.218427        1
23.423196        1
41.980126        1
51.094533        1
49.108566        1
180.239238       1
314.236921       1
29.224829        1
1460.106867      1
99.515497        1
59.772915        1
256.256307       1
8.946859         1
17.100545        1
7.760335         1
11.063340        1
178.204496       1
11.033129        1
8.738530         1
15.244611        1
27.346059        1
22.140221        1
93.158239        1
17.921014        1
20.268339        1
21.565713        1
5.098405         1
48.970680        1
8.086184         1
4.679867         1
14.328411        1
72.011646        1
66.468598        1
74.620033        1
53.093062        1
5.922113         1
24.596918        1
28.878548        1
27.477797        1
27.000537        1
543.986359       1
9.072700         1
49.167303        1
38.835524        1
11.158507        1
102.423188       1
18.147899        1
63.459192        1
94.097438        1
65.836503        1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 195603, dtype: int64
2018-07-06 20:42:45,214 logger 29 [INFO]    [make_npy] 0.000000       474
18.296388        3
7.336305         2
267.185601       2
68.303101        2
309.484065       2
134.972117       2
2.685790         2
37.104842        2
129.909915       2
25.493449        2
35.799301        2
206.033403       2
12.460443        2
67.352454        2
40.002390        2
31.728597        2
23.601252        2
138.809974       2
7.047580         2
20.774890        2
14.843845        2
23.985912        2
27.540097        2
10.315524        2
75.975088        2
14.804695        2
457.741534       2
60.706888        2
62.842904        2
53.359825        2
112.156410       2
6.988580         2
16.842961        2
197.696449       2
21.938820        2
23.726476        2
20.165693        2
7.468380         2
17.228991        2
60.060653        2
70.248641        2
54.643774        2
5.590199         2
80.736881        2
24.802592        2
68.841666        2
41.462021        2
9.544835         2
42.202131        2
              ...
12.218427        1
23.423196        1
41.980126        1
51.094533        1
49.108566        1
180.239238       1
314.236921       1
29.224829        1
1460.106867      1
99.515497        1
59.772915        1
256.256307       1
8.946859         1
17.100545        1
7.760335         1
11.063340        1
178.204496       1
11.033129        1
8.738530         1
15.244611        1
27.346059        1
22.140221        1
93.158239        1
17.921014        1
20.268339        1
21.565713        1
5.098405         1
48.970680        1
8.086184         1
4.679867         1
14.328411        1
72.011646        1
66.468598        1
74.620033        1
53.093062        1
5.922113         1
24.596918        1
28.878548        1
27.477797        1
27.000537        1
543.986359       1
9.072700         1
49.167303        1
38.835524        1
11.158507        1
102.423188       1
18.147899        1
63.459192        1
94.097438        1
65.836503        1
Name: AMT_ANNUITY_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 195603, dtype: int64
2018-07-06 20:42:45,230 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:45,230 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:45,320 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:45,320 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:45,385 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:45,385 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)

2018-07-06 20:42:45,423 logger 29 [INFO]    [make_npy] 20.023588      310
0.000000       275
10.011794      270
15.017691      231
40.047176      176
25.029485      148
30.035382      135
5.005897       100
100.000000      90
200.000000      68
40.000000       62
35.041279       60
75.000000       58
6.007076        55
50.000000       53
10.111912       50
66.666667       48
150.000000      48
50.058969       42
60.000000       41
133.333333      35
120.000000      34
15.117809       33
20.000000       33
80.000000       33
12.014153       32
11.012973       30
33.333333       29
7.008256        26
14.016511       26
4.004718        23
20.123706       23
13.015332       23
21.024767       23
5.306251        22
80.094351       21
10.512384       21
10.312148       20
3.003538        20
25.000000       20
8.009435        20
39.521630       19
15.318045       18
16.018870       18
70.000000       18
18.021229       17
19.760815       17
140.000000      17
60.070763       17
85.714286       17
              ...
40.967670        1
185.872511       1
78.587706        1
122.467087       1
73.256384        1
89.282207        1
253.707443       1
65.556894        1
260.046908       1
84.474716        1
37.419233        1
53.967677        1
140.598936       1
1761.834091      1
264.193066       1
56.753689        1
22.259916        1
284.981738       1
260.771675       1
250.737268       1
102.168253       1
56.991067        1
22.369220        1
63.331713        1
43.676705        1
25.522947        1
40.004000        1
798.050622       1
225.630471       1
139.267988       1
493.981722       1
100.013965       1
629.223970       1
42.273412        1
25.575324        1
523.980558       1
126.329025       1
48.021070        1
49.306626        1
89.171616        1
50.598751        1
69.346182        1
55.848168        1
42.844708        1
50.030018        1
105.503656       1
61.469742        1
20.307331        1
214.841232       1
103.401210       1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 305877, dtype: int64
2018-07-06 20:42:45,423 logger 29 [INFO]    [make_npy] 20.023588      310
0.000000       275
10.011794      270
15.017691      231
40.047176      176
25.029485      148
30.035382      135
5.005897       100
100.000000      90
200.000000      68
40.000000       62
35.041279       60
75.000000       58
6.007076        55
50.000000       53
10.111912       50
66.666667       48
150.000000      48
50.058969       42
60.000000       41
133.333333      35
120.000000      34
15.117809       33
20.000000       33
80.000000       33
12.014153       32
11.012973       30
33.333333       29
7.008256        26
14.016511       26
4.004718        23
20.123706       23
13.015332       23
21.024767       23
5.306251        22
80.094351       21
10.512384       21
10.312148       20
3.003538        20
25.000000       20
8.009435        20
39.521630       19
15.318045       18
16.018870       18
70.000000       18
18.021229       17
19.760815       17
140.000000      17
60.070763       17
85.714286       17
              ...
40.967670        1
185.872511       1
78.587706        1
122.467087       1
73.256384        1
89.282207        1
253.707443       1
65.556894        1
260.046908       1
84.474716        1
37.419233        1
53.967677        1
140.598936       1
1761.834091      1
264.193066       1
56.753689        1
22.259916        1
284.981738       1
260.771675       1
250.737268       1
102.168253       1
56.991067        1
22.369220        1
63.331713        1
43.676705        1
25.522947        1
40.004000        1
798.050622       1
225.630471       1
139.267988       1
493.981722       1
100.013965       1
629.223970       1
42.273412        1
25.575324        1
523.980558       1
126.329025       1
48.021070        1
49.306626        1
89.171616        1
50.598751        1
69.346182        1
55.848168        1
42.844708        1
50.030018        1
105.503656       1
61.469742        1
20.307331        1
214.841232       1
103.401210       1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 305877, dtype: int64
2018-07-06 20:42:45,477 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:45,477 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:45,680 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:45,680 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:45,764 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:45,764 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:45,809 logger 29 [INFO]    [make_npy] 20.023588     336
10.011794     286
15.017691     277
25.029485     184
40.047176     156
30.035382     118
5.005897      115
100.000000     90
35.041279      68
200.000000     68
40.000000      62
6.007076       60
75.000000      58
10.111912      57
50.000000      53
66.666667      48
150.000000     48
60.000000      41
15.117809      38
133.333333     35
11.012973      34
120.000000     34
20.000000      33
80.000000      33
12.014153      32
7.008256       29
33.333333      29
13.015332      27
14.016511      27
10.512384      26
5.306251       25
20.123706      24
10.312148      24
4.004718       24
8.009435       24
15.318045      22
3.003538       20
9.010615       20
25.000000      20
21.024767      19
50.058969      19
39.521630      19
20.323942      18
70.000000      18
23.027126      17
140.000000     17
30.135500      17
85.714286      17
15.518281      17
18.021229      17
             ...
19.972634       1
149.196410      1
132.993591      1
6.482760        1
126.717007      1
23.759390       1
124.403898      1
18.428801       1
104.002205      1
37.764729       1
28.096991       1
96.087722       1
58.072347       1
38.528256       1
18.419598       1
33.398041       1
78.225709       1
26.955924       1
74.724883       1
28.104361       1
28.812613       1
100.598868      1
9.355354        1
115.990442      1
89.504451       1
34.916078       1
26.770987       1
21.757864       1
66.912267       1
8.333774        1
38.112834       1
17.083143       1
51.970614       1
39.191508       1
38.653910       1
17.237719       1
77.945277       1
57.212585       1
15.375910       1
170.083209      1
25.927685       1
95.825438       1
146.256388      1
31.187841       1
22.191207       1
29.967754       1
25.178135       1
83.992696       1
50.417621       1
100.506729      1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 305814, dtype: int64
2018-07-06 20:42:45,809 logger 29 [INFO]    [make_npy] 20.023588     336
10.011794     286
15.017691     277
25.029485     184
40.047176     156
30.035382     118
5.005897      115
100.000000     90
35.041279      68
200.000000     68
40.000000      62
6.007076       60
75.000000      58
10.111912      57
50.000000      53
66.666667      48
150.000000     48
60.000000      41
15.117809      38
133.333333     35
11.012973      34
120.000000     34
20.000000      33
80.000000      33
12.014153      32
7.008256       29
33.333333      29
13.015332      27
14.016511      27
10.512384      26
5.306251       25
20.123706      24
10.312148      24
4.004718       24
8.009435       24
15.318045      22
3.003538       20
9.010615       20
25.000000      20
21.024767      19
50.058969      19
39.521630      19
20.323942      18
70.000000      18
23.027126      17
140.000000     17
30.135500      17
85.714286      17
15.518281      17
18.021229      17
             ...
19.972634       1
149.196410      1
132.993591      1
6.482760        1
126.717007      1
23.759390       1
124.403898      1
18.428801       1
104.002205      1
37.764729       1
28.096991       1
96.087722       1
58.072347       1
38.528256       1
18.419598       1
33.398041       1
78.225709       1
26.955924       1
74.724883       1
28.104361       1
28.812613       1
100.598868      1
9.355354        1
115.990442      1
89.504451       1
34.916078       1
26.770987       1
21.757864       1
66.912267       1
8.333774        1
38.112834       1
17.083143       1
51.970614       1
39.191508       1
38.653910       1
17.237719       1
77.945277       1
57.212585       1
15.375910       1
170.083209      1
25.927685       1
95.825438       1
146.256388      1
31.187841       1
22.191207       1
29.967754       1
25.178135       1
83.992696       1
50.417621       1
100.506729      1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 305814, dtype: int64

2018-07-06 20:42:45,855 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:45,855 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:46,018 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:46,018 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:46,197 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:46,197 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:46,252 logger 29 [INFO]    [make_npy] 100.000000    532
200.000000    466
20.023588     336
40.000000     295
10.011794     286
50.000000     285
15.017691     277
66.666667     234
150.000000    197
75.000000     196
60.000000     185
80.000000     184
25.029485     184
133.333333    181
120.000000    179
40.047176     156
300.000000    144
20.000000     134
30.035382     118
5.005897      115
160.000000    113
30.000000     102
33.333333      99
400.000000     93
140.000000     91
25.000000      86
266.666667     78
35.041279      68
70.000000      66
6.007076       60
202.000000     57
106.000000     57
10.111912      57
125.000000     55
333.333333     54
250.000000     54
134.666667     52
85.714286      51
93.333333      50
110.000000     50
26.666667      46
42.889739      45
101.000000     44
240.000000     44
53.333333      44
90.000000      43
166.666667     42
500.000000     42
102.000000     42
67.333333      42
             ...
44.919258       1
144.990576      1
83.324075       1
73.898178       1
43.274220       1
46.349584       1
90.351816       1
65.725694       1
25.819278       1
86.296996       1
91.095287       1
6.059688        1
168.169683      1
210.977882      1
24.114631       1
46.234907       1
273.342293      1
45.562446       1
128.798758      1
16.866440       1
106.287760      1
309.741366      1
88.515158       1
408.872534      1
136.295489      1
97.355569       1
59.743402       1
33.340742       1
41.527952       1
272.877355      1
52.349658       1
78.720942       1
100.380010      1
2.832638        1
198.978129      1
62.874628       1
16.549533       1
42.754532       1
12.980832       1
124.623732      1
98.881649       1
53.761514       1
189.420248      1
140.106536      1
30.796205       1
56.376354       1
115.969179      1
75.158422       1
90.522114       1
100.881028      1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 279956, dtype: int64
2018-07-06 20:42:46,252 logger 29 [INFO]    [make_npy] 100.000000    532
200.000000    466
20.023588     336
40.000000     295
10.011794     286
50.000000     285
15.017691     277
66.666667     234
150.000000    197
75.000000     196
60.000000     185
80.000000     184
25.029485     184
133.333333    181
120.000000    179
40.047176     156
300.000000    144
20.000000     134
30.035382     118
5.005897      115
160.000000    113
30.000000     102
33.333333      99
400.000000     93
140.000000     91
25.000000      86
266.666667     78
35.041279      68
70.000000      66
6.007076       60
202.000000     57
106.000000     57
10.111912      57
125.000000     55
333.333333     54
250.000000     54
134.666667     52
85.714286      51
93.333333      50
110.000000     50
26.666667      46
42.889739      45
101.000000     44
240.000000     44
53.333333      44
90.000000      43
166.666667     42
500.000000     42
102.000000     42
67.333333      42
             ...
44.919258       1
144.990576      1
83.324075       1
73.898178       1
43.274220       1
46.349584       1
90.351816       1
65.725694       1
25.819278       1
86.296996       1
91.095287       1
6.059688        1
168.169683      1
210.977882      1
24.114631       1
46.234907       1
273.342293      1
45.562446       1
128.798758      1
16.866440       1
106.287760      1
309.741366      1
88.515158       1
408.872534      1
136.295489      1
97.355569       1
59.743402       1
33.340742       1
41.527952       1
272.877355      1
52.349658       1
78.720942       1
100.380010      1
2.832638        1
198.978129      1
62.874628       1
16.549533       1
42.754532       1
12.980832       1
124.623732      1
98.881649       1
53.761514       1
189.420248      1
140.106536      1
30.796205       1
56.376354       1
115.969179      1
75.158422       1
90.522114       1
100.881028      1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 279956, dtype: int64
2018-07-06 20:42:46,306 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:46,306 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:46,426 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:46,426 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:46,513 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:46,513 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:46,582 logger 29 [INFO]    [make_npy] 15.017691     2095
20.023588     2074
10.011794     2019
25.029485     1255
5.005897      1164
30.035382      832
40.047176      693
10.111912      519
6.007076       397
15.117809      382
35.041279      365
10.312148      328
11.012973      326
12.014153      294
8.009435       290
7.008256       285
5.306251       272
10.512384      256
3.003538       245
16.018870      225
13.015332      221
14.016511      221
4.004718       204
15.318045      201
40.000000      201
100.000000     201
20.000000      200
20.123706      197
9.010615       192
50.000000      189
18.021229      186
5.506487       184
21.024767      178
10.612502      166
30.135500      161
15.518281      160
25.129603      157
75.000000      157
19.022408      149
20.323942      139
30.000000      136
7.508845       134
17.020050      132
50.058969      120
6.507666       112
10.000000      109
5.106015       106
23.027126      105
29.034202      104
33.333333      103
              ...
52.349658        1
31.778853        1
2.832638         1
41.412112        1
16.549533        1
65.463690        1
12.284318        1
33.572900        1
67.217165        1
28.863916        1
38.375814        1
56.376354        1
43.320987        1
5.366490         1
31.978919        1
45.261057        1
29.555444        1
16.866440        1
45.562446        1
309.741366       1
9.139765         1
18.254171        1
38.702953        1
12.917905        1
29.115354        1
16.802310        1
62.579781        1
17.201342        1
141.893170       1
32.528380        1
41.048713        1
48.527513        1
32.941259        1
30.364680        1
12.636656        1
31.742351        1
79.160610        1
103.645021       1
152.187544       1
80.752614        1
107.040746       1
29.204623        1
80.437580        1
142.165816       1
25.904051        1
35.016131        1
10.489586        1
216.223956       1
29.514283        1
79.414241        1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 258408, dtype: int64
2018-07-06 20:42:46,582 logger 29 [INFO]    [make_npy] 15.017691     2095
20.023588     2074
10.011794     2019
25.029485     1255
5.005897      1164
30.035382      832
40.047176      693
10.111912      519
6.007076       397
15.117809      382
35.041279      365
10.312148      328
11.012973      326
12.014153      294
8.009435       290
7.008256       285
5.306251       272
10.512384      256
3.003538       245
16.018870      225
13.015332      221
14.016511      221
4.004718       204
15.318045      201
40.000000      201
100.000000     201
20.000000      200
20.123706      197
9.010615       192
50.000000      189
18.021229      186
5.506487       184
21.024767      178
10.612502      166
30.135500      161
15.518281      160
25.129603      157
75.000000      157
19.022408      149
20.323942      139
30.000000      136
7.508845       134
17.020050      132
50.058969      120
6.507666       112
10.000000      109
5.106015       106
23.027126      105
29.034202      104
33.333333      103
              ...
52.349658        1
31.778853        1
2.832638         1
41.412112        1
16.549533        1
65.463690        1
12.284318        1
33.572900        1
67.217165        1
28.863916        1
38.375814        1
56.376354        1
43.320987        1
5.366490         1
31.978919        1
45.261057        1
29.555444        1
16.866440        1
45.562446        1
309.741366       1
9.139765         1
18.254171        1
38.702953        1
12.917905        1
29.115354        1
16.802310        1
62.579781        1
17.201342        1
141.893170       1
32.528380        1
41.048713        1
48.527513        1
32.941259        1
30.364680        1
12.636656        1
31.742351        1
79.160610        1
103.645021       1
152.187544       1
80.752614        1
107.040746       1
29.204623        1
80.437580        1
142.165816       1
25.904051        1
35.016131        1
10.489586        1
216.223956       1
29.514283        1
79.414241        1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 258408, dtype: int64

2018-07-06 20:42:46,646 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:46,646 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:46,781 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:46,781 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:46,872 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:46,872 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:46,903 logger 29 [INFO]    [make_npy] 0.000000      479
49.990042       3
113.103727      3
31.469051       2
7.054522        2
4.385506        2
0.508693        2
25.102144       2
54.948348       2
24.286188       2
19.746103       2
4.278262        2
17.656821       2
92.250131       2
16.951852       2
48.669589       2
6.448452        2
12.887973       2
0.422073        2
66.765371       2
7.846076        2
56.551863       2
6.578486        2
9.202027        2
7.359484        2
234.640691      2
30.197061       2
67.103399       2
64.267583       2
15.866048       2
4.082808        2
7.500392        2
6.123324        2
4.473493        2
40.404619       2
2.056434        2
17.014483       2
106.753364      2
5.638352        2
19.270037       2
21.549848       2
7.228874        2
19.212709       2
8.245409        2
47.522111       2
4.609406        2
16.586922       2
9.041726        2
15.153311       2
0.142334        2
             ...
8.276375        1
258.521103      1
112.205019      1
122.648319      1
2.962674        1
14.325834       1
24.063033       1
32.150523       1
54.446360       1
103.397340      1
40.638556       1
34.423593       1
10.871700       1
65.461077       1
45.880446       1
0.846297        1
38.647560       1
37.210310       1
8.395555        1
6.863299        1
2.269849        1
54.965157       1
28.639006       1
10.724424       1
26.335872       1
12.301317       1
24.124110       1
1.345407        1
25.780688       1
1.652571        1
77.483192       1
22.415623       1
41.531598       1
24.655598       1
89.738867       1
6.746907        1
17.135313       1
10.072865       1
87.536082       1
45.721580       1
11.268270       1
4.350003        1
12.052185       1
57.139604       1
31.248656       1
9.464875        1
5.598405        1
189.143270      1
22.235263       1
19.784063       1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 196979, dtype: int64
2018-07-06 20:42:46,903 logger 29 [INFO]    [make_npy] 0.000000      479
49.990042       3
113.103727      3
31.469051       2
7.054522        2
4.385506        2
0.508693        2
25.102144       2
54.948348       2
24.286188       2
19.746103       2
4.278262        2
17.656821       2
92.250131       2
16.951852       2
48.669589       2
6.448452        2
12.887973       2
0.422073        2
66.765371       2
7.846076        2
56.551863       2
6.578486        2
9.202027        2
7.359484        2
234.640691      2
30.197061       2
67.103399       2
64.267583       2
15.866048       2
4.082808        2
7.500392        2
6.123324        2
4.473493        2
40.404619       2
2.056434        2
17.014483       2
106.753364      2
5.638352        2
19.270037       2
21.549848       2
7.228874        2
19.212709       2
8.245409        2
47.522111       2
4.609406        2
16.586922       2
9.041726        2
15.153311       2
0.142334        2
             ...
8.276375        1
258.521103      1
112.205019      1
122.648319      1
2.962674        1
14.325834       1
24.063033       1
32.150523       1
54.446360       1
103.397340      1
40.638556       1
34.423593       1
10.871700       1
65.461077       1
45.880446       1
0.846297        1
38.647560       1
37.210310       1
8.395555        1
6.863299        1
2.269849        1
54.965157       1
28.639006       1
10.724424       1
26.335872       1
12.301317       1
24.124110       1
1.345407        1
25.780688       1
1.652571        1
77.483192       1
22.415623       1
41.531598       1
24.655598       1
89.738867       1
6.746907        1
17.135313       1
10.072865       1
87.536082       1
45.721580       1
11.268270       1
4.350003        1
12.052185       1
57.139604       1
31.248656       1
9.464875        1
5.598405        1
189.143270      1
22.235263       1
19.784063       1
Name: app_AMT_GOODS_PRICE_div_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 196979, dtype: int64
2018-07-06 20:42:46,934 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:46,934 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:47,086 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:47,086 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:47,178 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:47,178 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:47,259 logger 29 [INFO]    [make_npy] 0.000000         32
32279.255112      1
54328.868363      1
91085.496912      1
22364.061083      1
156807.537126     1
4427.631744       1
60339.566352      1
83132.194193      1
44458.647990      1
83635.122249      1
7206.608988       1
128759.596462     1
23910.832890      1
41736.614337      1
11020.474138      1
51589.474770      1
43207.740246      1
73745.001513      1
67679.427817      1
216489.835969     1
11111.691931      1
37771.362513      1
69755.865508      1
21576.574232      1
30215.555720      1
70444.676247      1
36915.228214      1
11555.778298      1
123062.570719     1
136235.023407     1
23318.578321      1
29983.651448      1
42025.286655      1
123233.843439     1
43441.352197      1
213706.089541     1
105946.515515     1
9618.650991       1
47960.538811      1
33100.382340      1
33836.650303      1
20604.004368      1
26714.056381      1
78087.145851      1
210288.839210     1
16507.603202      1
43110.739944      1
40683.003470      1
68042.659513      1
                 ..
18290.482466      1
38529.910781      1
21610.627920      1
6413.281301       1
16672.288869      1
102005.461009     1
22439.317265      1
21640.851029      1
35602.984018      1
116493.684395     1
32557.712127      1
114201.635324     1
25404.660908      1
53579.382621      1
20002.781810      1
22626.248676      1
17713.221988      1
110332.522757     1
94099.251682      1
95444.454650      1
70404.550754      1
20643.553035      1
115064.924584     1
23135.086228      1
12665.671771      1
160251.141713     1
73871.505598      1
11737.156997      1
9079.614046       1
79573.767067      1
32562.315297      1
5488.804847       1
39819.835587      1
4636.501783       1
74468.712812      1
87927.014353      1
24056.898597      1
81050.638857      1
124641.345430     1
55166.874984      1
72335.703383      1
40131.691057      1
42168.855160      1
12811.967173      1
52280.121945      1
307422.430224     1
15801.006475      1
73044.386559      1
61884.939227      1
10999.987352      1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 313891, dtype: int64
2018-07-06 20:42:47,259 logger 29 [INFO]    [make_npy] 0.000000         32
32279.255112      1
54328.868363      1
91085.496912      1
22364.061083      1
156807.537126     1
4427.631744       1
60339.566352      1
83132.194193      1
44458.647990      1
83635.122249      1
7206.608988       1
128759.596462     1
23910.832890      1
41736.614337      1
11020.474138      1
51589.474770      1
43207.740246      1
73745.001513      1
67679.427817      1
216489.835969     1
11111.691931      1
37771.362513      1
69755.865508      1
21576.574232      1
30215.555720      1
70444.676247      1
36915.228214      1
11555.778298      1
123062.570719     1
136235.023407     1
23318.578321      1
29983.651448      1
42025.286655      1
123233.843439     1
43441.352197      1
213706.089541     1
105946.515515     1
9618.650991       1
47960.538811      1
33100.382340      1
33836.650303      1
20604.004368      1
26714.056381      1
78087.145851      1
210288.839210     1
16507.603202      1
43110.739944      1
40683.003470      1
68042.659513      1
                 ..
18290.482466      1
38529.910781      1
21610.627920      1
6413.281301       1
16672.288869      1
102005.461009     1
22439.317265      1
21640.851029      1
35602.984018      1
116493.684395     1
32557.712127      1
114201.635324     1
25404.660908      1
53579.382621      1
20002.781810      1
22626.248676      1
17713.221988      1
110332.522757     1
94099.251682      1
95444.454650      1
70404.550754      1
20643.553035      1
115064.924584     1
23135.086228      1
12665.671771      1
160251.141713     1
73871.505598      1
11737.156997      1
9079.614046       1
79573.767067      1
32562.315297      1
5488.804847       1
39819.835587      1
4636.501783       1
74468.712812      1
87927.014353      1
24056.898597      1
81050.638857      1
124641.345430     1
55166.874984      1
72335.703383      1
40131.691057      1
42168.855160      1
12811.967173      1
52280.121945      1
307422.430224     1
15801.006475      1
73044.386559      1
61884.939227      1
10999.987352      1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 313891, dtype: int64

2018-07-06 20:42:47,285 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:47,285 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:47,423 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:47,423 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:47,552 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:47,552 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:47,605 logger 29 [INFO]    [make_npy] 14263.627306     1
25007.397584     1
17431.015309     1
41387.937440     1
12158.194407     1
63648.495437     1
43603.911827     1
15757.558207     1
4826.886996      1
22191.996911     1
41736.614337     1
12757.317558     1
22205.912505     1
20604.004368     1
26714.056381     1
78087.145851     1
16063.071823     1
13616.240903     1
22666.505495     1
25505.025546     1
37084.598817     1
14596.374008     1
18352.546009     1
21495.776281     1
52532.571358     1
43207.740246     1
52973.257758     1
16077.021766     1
47960.538811     1
12773.265265     1
20839.387906     1
39017.573130     1
25384.443667     1
27057.808791     1
15258.131575     1
11636.146286     1
17835.253878     1
16507.603202     1
43110.739944     1
26100.305827     1
11022.971397     1
20479.235512     1
17614.444175     1
72465.774700     1
31967.109243     1
23764.320437     1
53245.751553     1
12744.234450     1
8070.959356      1
8254.800330      1
                ..
13402.610018     1
16684.855526     1
17930.366030     1
38326.892371     1
21540.453206     1
21745.409051     1
29068.869834     1
8077.229782      1
13966.724388     1
61031.677087     1
14304.587706     1
21473.966407     1
86418.547664     1
53235.900755     1
34319.244392     1
28945.834688     1
40919.450136     1
35128.497687     1
21073.928444     1
34584.170577     1
42077.180058     1
23447.475360     1
17122.128289     1
45299.829832     1
77499.948165     1
31500.423308     1
24419.442978     1
193480.552465    1
19369.125639     1
18225.476328     1
24952.151565     1
14168.148569     1
30505.538275     1
15125.298089     1
4713.319257      1
18126.289555     1
46014.882067     1
15374.126623     1
92167.176418     1
32406.713451     1
22614.773549     1
61873.840958     1
30324.978208     1
13846.582320     1
17130.967868     1
23512.945737     1
21851.882878     1
87397.505541     1
35242.159823     1
52591.078829     1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:42:47,605 logger 29 [INFO]    [make_npy] 14263.627306     1
25007.397584     1
17431.015309     1
41387.937440     1
12158.194407     1
63648.495437     1
43603.911827     1
15757.558207     1
4826.886996      1
22191.996911     1
41736.614337     1
12757.317558     1
22205.912505     1
20604.004368     1
26714.056381     1
78087.145851     1
16063.071823     1
13616.240903     1
22666.505495     1
25505.025546     1
37084.598817     1
14596.374008     1
18352.546009     1
21495.776281     1
52532.571358     1
43207.740246     1
52973.257758     1
16077.021766     1
47960.538811     1
12773.265265     1
20839.387906     1
39017.573130     1
25384.443667     1
27057.808791     1
15258.131575     1
11636.146286     1
17835.253878     1
16507.603202     1
43110.739944     1
26100.305827     1
11022.971397     1
20479.235512     1
17614.444175     1
72465.774700     1
31967.109243     1
23764.320437     1
53245.751553     1
12744.234450     1
8070.959356      1
8254.800330      1
                ..
13402.610018     1
16684.855526     1
17930.366030     1
38326.892371     1
21540.453206     1
21745.409051     1
29068.869834     1
8077.229782      1
13966.724388     1
61031.677087     1
14304.587706     1
21473.966407     1
86418.547664     1
53235.900755     1
34319.244392     1
28945.834688     1
40919.450136     1
35128.497687     1
21073.928444     1
34584.170577     1
42077.180058     1
23447.475360     1
17122.128289     1
45299.829832     1
77499.948165     1
31500.423308     1
24419.442978     1
193480.552465    1
19369.125639     1
18225.476328     1
24952.151565     1
14168.148569     1
30505.538275     1
15125.298089     1
4713.319257      1
18126.289555     1
46014.882067     1
15374.126623     1
92167.176418     1
32406.713451     1
22614.773549     1
61873.840958     1
30324.978208     1
13846.582320     1
17130.967868     1
23512.945737     1
21851.882878     1
87397.505541     1
35242.159823     1
52591.078829     1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:42:47,657 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:42:47,657 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:42:47,802 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:47,802 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:47,896 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:47,896 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:47,946 logger 29 [INFO]    [make_npy] 14263.627306     1
21770.461944     1
24731.834409     1
54517.320466     1
35882.068595     1
21692.351383     1
6191.464100      1
10469.822204     1
26996.153326     1
43866.447415     1
9922.543397      1
24994.989526     1
97610.394679     1
51460.339941     1
7048.691733      1
3645.406842      1
23688.139095     1
29118.259717     1
38680.815612     1
3113.115498      1
34033.060500     1
13941.322572     1
12877.041819     1
17479.351554     1
78978.252933     1
16352.168335     1
14803.341394     1
42722.542360     1
56857.007101     1
88469.063213     1
50108.293221     1
41263.036937     1
16704.943415     1
31139.667106     1
17837.657680     1
19165.386117     1
41576.596769     1
19895.293825     1
22501.292062     1
4500.666075      1
39383.465810     1
16033.000715     1
62659.331745     1
19817.716814     1
21094.072784     1
26220.607739     1
92846.700280     1
29311.437624     1
9327.831453      1
11058.721110     1
                ..
27929.229434     1
21073.928444     1
33711.236920     1
48469.308372     1
14126.297359     1
98530.405400     1
64526.221483     1
9520.569402      1
32223.088162     1
77499.948165     1
84572.736127     1
34499.760725     1
18290.482466     1
81148.910190     1
45457.333184     1
29954.642158     1
87063.852868     1
33412.748394     1
39601.526491     1
38817.219965     1
8843.123285      1
25404.660908     1
17688.000798     1
10650.969458     1
39819.835587     1
74468.712812     1
19700.819979     1
24056.898597     1
20899.378748     1
55166.874984     1
14858.758813     1
8709.606783      1
6413.281301      1
37165.197389     1
38375.067448     1
22376.702678     1
21640.851029     1
20312.563941     1
35602.984018     1
18759.323074     1
54519.267976     1
131601.025758    1
20412.705347     1
36567.223794     1
71996.965040     1
13262.764389     1
71306.900047     1
3645.852487      1
22312.950098     1
25441.630419     1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:42:47,946 logger 29 [INFO]    [make_npy] 14263.627306     1
21770.461944     1
24731.834409     1
54517.320466     1
35882.068595     1
21692.351383     1
6191.464100      1
10469.822204     1
26996.153326     1
43866.447415     1
9922.543397      1
24994.989526     1
97610.394679     1
51460.339941     1
7048.691733      1
3645.406842      1
23688.139095     1
29118.259717     1
38680.815612     1
3113.115498      1
34033.060500     1
13941.322572     1
12877.041819     1
17479.351554     1
78978.252933     1
16352.168335     1
14803.341394     1
42722.542360     1
56857.007101     1
88469.063213     1
50108.293221     1
41263.036937     1
16704.943415     1
31139.667106     1
17837.657680     1
19165.386117     1
41576.596769     1
19895.293825     1
22501.292062     1
4500.666075      1
39383.465810     1
16033.000715     1
62659.331745     1
19817.716814     1
21094.072784     1
26220.607739     1
92846.700280     1
29311.437624     1
9327.831453      1
11058.721110     1
                ..
27929.229434     1
21073.928444     1
33711.236920     1
48469.308372     1
14126.297359     1
98530.405400     1
64526.221483     1
9520.569402      1
32223.088162     1
77499.948165     1
84572.736127     1
34499.760725     1
18290.482466     1
81148.910190     1
45457.333184     1
29954.642158     1
87063.852868     1
33412.748394     1
39601.526491     1
38817.219965     1
8843.123285      1
25404.660908     1
17688.000798     1
10650.969458     1
39819.835587     1
74468.712812     1
19700.819979     1
24056.898597     1
20899.378748     1
55166.874984     1
14858.758813     1
8709.606783      1
6413.281301      1
37165.197389     1
38375.067448     1
22376.702678     1
21640.851029     1
20312.563941     1
35602.984018     1
18759.323074     1
54519.267976     1
131601.025758    1
20412.705347     1
36567.223794     1
71996.965040     1
13262.764389     1
71306.900047     1
3645.852487      1
22312.950098     1
25441.630419     1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 313890, dtype: int64

2018-07-06 20:42:47,995 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:42:47,995 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:42:48,144 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:48,144 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:48,223 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:48,223 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:48,259 logger 29 [INFO]    [make_npy] 8972.177961      1
29946.924448     1
36803.394908     1
27714.840769     1
15855.214207     1
9045.146035      1
18389.624924     1
21733.953969     1
9088.983191      1
13279.230754     1
44979.956545     1
8904.538382      1
16543.756316     1
23303.323369     1
13252.179584     1
145514.153840    1
20961.463312     1
7095.331493      1
7776.510407      1
10327.526739     1
8352.502142      1
4637.474324      1
4361.893993      1
8869.533316      1
42929.049328     1
9004.224007      1
12125.157983     1
11126.253592     1
3994.851862      1
1992.073416      1
16648.571994     1
13008.366408     1
24134.070961     1
15755.149907     1
6065.447026      1
16921.392658     1
7150.082744      1
7473.072212      1
20507.818617     1
42863.471230     1
16352.168335     1
8659.629919      1
11512.218145     1
7282.255563      1
11895.966980     1
8854.309495      1
11520.888998     1
16704.943415     1
12682.570126     1
28432.317964     1
                ..
21621.263367     1
22993.264324     1
9410.730891      1
14985.542614     1
19058.238843     1
12471.748832     1
5430.517264      1
10375.656982     1
14088.165730     1
18787.262350     1
9402.585075      1
5574.446290      1
9444.877017      1
15474.297368     1
58674.283230     1
17932.192769     1
8646.014543      1
11053.383956     1
7747.615988      1
125365.409138    1
40779.397283     1
11412.153281     1
5709.539726      1
11665.604230     1
16138.357022     1
3746.050784      1
21378.576259     1
48259.228842     1
22794.144197     1
7866.089943      1
10246.177376     1
13033.216969     1
17242.148976     1
38422.441053     1
14351.325549     1
73928.607955     1
13851.700466     1
17413.284831     1
25351.723838     1
72861.942297     1
7836.222395      1
21749.377543     1
15126.485048     1
15947.960898     1
9195.063958      1
22013.459532     1
6914.543047      1
7405.269857      1
7815.221695      1
4468.146534      1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:42:48,259 logger 29 [INFO]    [make_npy] 8972.177961      1
29946.924448     1
36803.394908     1
27714.840769     1
15855.214207     1
9045.146035      1
18389.624924     1
21733.953969     1
9088.983191      1
13279.230754     1
44979.956545     1
8904.538382      1
16543.756316     1
23303.323369     1
13252.179584     1
145514.153840    1
20961.463312     1
7095.331493      1
7776.510407      1
10327.526739     1
8352.502142      1
4637.474324      1
4361.893993      1
8869.533316      1
42929.049328     1
9004.224007      1
12125.157983     1
11126.253592     1
3994.851862      1
1992.073416      1
16648.571994     1
13008.366408     1
24134.070961     1
15755.149907     1
6065.447026      1
16921.392658     1
7150.082744      1
7473.072212      1
20507.818617     1
42863.471230     1
16352.168335     1
8659.629919      1
11512.218145     1
7282.255563      1
11895.966980     1
8854.309495      1
11520.888998     1
16704.943415     1
12682.570126     1
28432.317964     1
                ..
21621.263367     1
22993.264324     1
9410.730891      1
14985.542614     1
19058.238843     1
12471.748832     1
5430.517264      1
10375.656982     1
14088.165730     1
18787.262350     1
9402.585075      1
5574.446290      1
9444.877017      1
15474.297368     1
58674.283230     1
17932.192769     1
8646.014543      1
11053.383956     1
7747.615988      1
125365.409138    1
40779.397283     1
11412.153281     1
5709.539726      1
11665.604230     1
16138.357022     1
3746.050784      1
21378.576259     1
48259.228842     1
22794.144197     1
7866.089943      1
10246.177376     1
13033.216969     1
17242.148976     1
38422.441053     1
14351.325549     1
73928.607955     1
13851.700466     1
17413.284831     1
25351.723838     1
72861.942297     1
7836.222395      1
21749.377543     1
15126.485048     1
15947.960898     1
9195.063958      1
22013.459532     1
6914.543047      1
7405.269857      1
7815.221695      1
4468.146534      1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:42:48,277 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:42:48,277 logger 125 [INFO]    [select_level_agg]
num: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:42:48,390 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:48,390 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:48,481 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:48,481 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:48,537 logger 29 [INFO]    [make_npy] 0.000000        479
15573.152717      1
17829.342521      1
28809.215918      1
8143.551436       1
11079.005949      1
38451.820134      1
28938.968828      1
9459.317371       1
15290.413066      1
7179.594058       1
25210.036117      1
19595.759442      1
12940.498644      1
9222.672351       1
13679.817293      1
8745.554199       1
24322.485030      1
3102.076118       1
19544.870795      1
6491.715985       1
16970.072388      1
38934.833722      1
17885.450930      1
6276.730560       1
16062.197494      1
30829.281392      1
712.692261        1
29682.511402      1
67750.915595      1
17764.063952      1
7045.906246       1
8949.010217       1
18727.408238      1
7566.063791       1
11913.844234      1
7590.997753       1
10649.169092      1
3208.123581       1
4725.700937       1
26571.730833      1
6394.242712       1
99180.781907      1
14858.840403      1
21072.493770      1
7468.904914       1
18127.181441      1
603.192981        1
32605.600828      1
23836.765821      1
               ...
15938.937828      1
1763.391002       1
14591.082941      1
3915.110655       1
1731.669349       1
19538.062563      1
1838.112034       1
10489.535218      1
2486.861897       1
999.665891        1
12446.173659      1
3935.635645       1
3364.286594       1
2030.811145       1
29251.211524      1
7396.226885       1
10880.449429      1
11719.222880      1
25172.945499      1
12121.706278      1
33877.142944      1
18340.751704      1
19590.866114      1
17970.783369      1
15152.683365      1
28456.352476      1
8633.455579       1
2984.555395       1
27456.152880      1
15970.474902      1
19985.303579      1
10545.543713      1
12742.527122      1
15559.305276      1
10992.927852      1
15782.152902      1
5744.053148       1
1723.774578       1
11472.048358      1
15672.782589      1
50489.198635      1
24585.830731      1
10869.747311      1
41563.678917      1
18235.717314      1
8571.950012       1
4935.696733       1
14958.405568      1
2168.835449       1
22593.460054      1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 197273, dtype: int64
2018-07-06 20:42:48,537 logger 29 [INFO]    [make_npy] 0.000000        479
15573.152717      1
17829.342521      1
28809.215918      1
8143.551436       1
11079.005949      1
38451.820134      1
28938.968828      1
9459.317371       1
15290.413066      1
7179.594058       1
25210.036117      1
19595.759442      1
12940.498644      1
9222.672351       1
13679.817293      1
8745.554199       1
24322.485030      1
3102.076118       1
19544.870795      1
6491.715985       1
16970.072388      1
38934.833722      1
17885.450930      1
6276.730560       1
16062.197494      1
30829.281392      1
712.692261        1
29682.511402      1
67750.915595      1
17764.063952      1
7045.906246       1
8949.010217       1
18727.408238      1
7566.063791       1
11913.844234      1
7590.997753       1
10649.169092      1
3208.123581       1
4725.700937       1
26571.730833      1
6394.242712       1
99180.781907      1
14858.840403      1
21072.493770      1
7468.904914       1
18127.181441      1
603.192981        1
32605.600828      1
23836.765821      1
               ...
15938.937828      1
1763.391002       1
14591.082941      1
3915.110655       1
1731.669349       1
19538.062563      1
1838.112034       1
10489.535218      1
2486.861897       1
999.665891        1
12446.173659      1
3935.635645       1
3364.286594       1
2030.811145       1
29251.211524      1
7396.226885       1
10880.449429      1
11719.222880      1
25172.945499      1
12121.706278      1
33877.142944      1
18340.751704      1
19590.866114      1
17970.783369      1
15152.683365      1
28456.352476      1
8633.455579       1
2984.555395       1
27456.152880      1
15970.474902      1
19985.303579      1
10545.543713      1
12742.527122      1
15559.305276      1
10992.927852      1
15782.152902      1
5744.053148       1
1723.774578       1
11472.048358      1
15672.782589      1
50489.198635      1
24585.830731      1
10869.747311      1
41563.678917      1
18235.717314      1
8571.950012       1
4935.696733       1
14958.405568      1
2168.835449       1
22593.460054      1
Name: AMT_ANNUITY_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 197273, dtype: int64

2018-07-06 20:42:48,589 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:48,589 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:48,729 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:48,729 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:48,808 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:48,808 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:48,847 logger 29 [INFO]    [make_npy] 0.000000      1177
2.000000       248
5.000000       182
1.000000       173
4.000000       151
3.333333       149
3.000000       140
2.500000       119
10.000000      117
1.333333        95
1.666667        91
1.500000        79
6.666667        79
6.000000        74
2.666667        68
1.060572        66
1.250000        58
2.316800        58
1.200000        57
2.422400        56
1.132000        55
0.500000        54
0.795429        53
5.990000        52
15.000000       51
0.800000        49
0.666667        48
7.500000        45
1.600000        43
3.750000        42
2.396000        42
8.000000        42
2.264000        40
8.333333        40
2.995000        40
20.000000       40
2.121143        37
1.264000        37
0.600000        36
1.428571        36
0.530286        36
5.792000        34
1.198000        34
3.500000        33
5.333333        33
2.633600        32
3.594000        31
2.830000        31
11.980000       31
0.833333        31
              ...
15.231678        1
8.708739         1
4.983134         1
34.641134        1
5.335522         1
27.859026        1
8.058472         1
6.966959         1
4.123862         1
12.343806        1
14.075713        1
17.510039        1
32.924363        1
2.310000         1
14.042067        1
23.766737        1
5.636110         1
16.647612        1
127.899437       1
34.892353        1
50.520763        1
5.307725         1
61.079587        1
3.530232         1
4.180645         1
3.333680         1
16.288954        1
82.603677        1
13.002084        1
3.054187         1
15.764534        1
145.931032       1
7.422773         1
50.949504        1
18.679241        1
7.382066         1
4.905329         1
2.059252         1
2.022880         1
26.607559        1
3.260037         1
9.013158         1
29.650018        1
1.601127         1
3.962244         1
72.154201        1
21.704846        1
15.455935        1
21.021986        1
23.146330        1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_sum@['SK_ID_CURR'], Length: 291911, dtype: int64
2018-07-06 20:42:48,847 logger 29 [INFO]    [make_npy] 0.000000      1177
2.000000       248
5.000000       182
1.000000       173
4.000000       151
3.333333       149
3.000000       140
2.500000       119
10.000000      117
1.333333        95
1.666667        91
1.500000        79
6.666667        79
6.000000        74
2.666667        68
1.060572        66
1.250000        58
2.316800        58
1.200000        57
2.422400        56
1.132000        55
0.500000        54
0.795429        53
5.990000        52
15.000000       51
0.800000        49
0.666667        48
7.500000        45
1.600000        43
3.750000        42
2.396000        42
8.000000        42
2.264000        40
8.333333        40
2.995000        40
20.000000       40
2.121143        37
1.264000        37
0.600000        36
1.428571        36
0.530286        36
5.792000        34
1.198000        34
3.500000        33
5.333333        33
2.633600        32
3.594000        31
2.830000        31
11.980000       31
0.833333        31
              ...
15.231678        1
8.708739         1
4.983134         1
34.641134        1
5.335522         1
27.859026        1
8.058472         1
6.966959         1
4.123862         1
12.343806        1
14.075713        1
17.510039        1
32.924363        1
2.310000         1
14.042067        1
23.766737        1
5.636110         1
16.647612        1
127.899437       1
34.892353        1
50.520763        1
5.307725         1
61.079587        1
3.530232         1
4.180645         1
3.333680         1
16.288954        1
82.603677        1
13.002084        1
3.054187         1
15.764534        1
145.931032       1
7.422773         1
50.949504        1
18.679241        1
7.382066         1
4.905329         1
2.059252         1
2.022880         1
26.607559        1
3.260037         1
9.013158         1
29.650018        1
1.601127         1
3.962244         1
72.154201        1
21.704846        1
15.455935        1
21.021986        1
23.146330        1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_sum@['SK_ID_CURR'], Length: 291911, dtype: int64
2018-07-06 20:42:48,863 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:48,863 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:48,994 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:48,994 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:49,178 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:49,178 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:49,274 logger 29 [INFO]    [make_npy] 2.000000     256
1.000000     187
5.000000     184
3.333333     156
4.000000     151
3.000000     145
2.500000     126
10.000000    115
1.333333      99
1.666667      97
1.500000      90
2.666667      77
6.666667      72
1.060572      69
6.000000      67
1.250000      66
1.132000      65
1.200000      61
2.316800      59
2.422400      58
0.795429      56
0.500000      54
0.800000      52
0.666667      50
5.990000      50
3.750000      49
2.396000      43
7.500000      43
1.600000      42
15.000000     40
2.995000      40
0.600000      38
0.530286      38
2.830000      37
1.428571      37
1.198000      37
2.121143      35
1.264000      35
1.158400      34
2.633600      34
8.333333      34
6.250000      33
3.500000      33
2.264000      33
1.105600      33
11.980000     32
2.333333      32
5.792000      32
1.066000      32
5.333333      32
            ...
7.378475       1
11.685819      1
4.204699       1
1.514603       1
3.358522       1
5.931900       1
5.693857       1
10.635486      1
18.624548      1
6.703536       1
4.949004       1
26.217228      1
4.652172       1
12.299013      1
1.018081       1
9.610115       1
2.250745       1
5.470994       1
32.432044      1
3.690889       1
10.272932      1
3.044623       1
9.778649       1
14.534281      1
6.887697       1
8.292610       1
5.682654       1
11.676942      1
11.887997      1
3.609329       1
25.375779      1
9.586281       1
9.189166       1
6.504551       1
7.336419       1
9.489414       1
2.249324       1
5.030297       1
6.316919       1
6.402378       1
9.471883       1
2.482569       1
1.412318       1
6.409047       1
10.048146      1
8.848782       1
2.494826       1
5.599109       1
7.429253       1
25.292071      1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_mean@['SK_ID_CURR'], Length: 291768, dtype: int64
2018-07-06 20:42:49,274 logger 29 [INFO]    [make_npy] 2.000000     256
1.000000     187
5.000000     184
3.333333     156
4.000000     151
3.000000     145
2.500000     126
10.000000    115
1.333333      99
1.666667      97
1.500000      90
2.666667      77
6.666667      72
1.060572      69
6.000000      67
1.250000      66
1.132000      65
1.200000      61
2.316800      59
2.422400      58
0.795429      56
0.500000      54
0.800000      52
0.666667      50
5.990000      50
3.750000      49
2.396000      43
7.500000      43
1.600000      42
15.000000     40
2.995000      40
0.600000      38
0.530286      38
2.830000      37
1.428571      37
1.198000      37
2.121143      35
1.264000      35
1.158400      34
2.633600      34
8.333333      34
6.250000      33
3.500000      33
2.264000      33
1.105600      33
11.980000     32
2.333333      32
5.792000      32
1.066000      32
5.333333      32
            ...
7.378475       1
11.685819      1
4.204699       1
1.514603       1
3.358522       1
5.931900       1
5.693857       1
10.635486      1
18.624548      1
6.703536       1
4.949004       1
26.217228      1
4.652172       1
12.299013      1
1.018081       1
9.610115       1
2.250745       1
5.470994       1
32.432044      1
3.690889       1
10.272932      1
3.044623       1
9.778649       1
14.534281      1
6.887697       1
8.292610       1
5.682654       1
11.676942      1
11.887997      1
3.609329       1
25.375779      1
9.586281       1
9.189166       1
6.504551       1
7.336419       1
9.489414       1
2.249324       1
5.030297       1
6.316919       1
6.402378       1
9.471883       1
2.482569       1
1.412318       1
6.409047       1
10.048146      1
8.848782       1
2.494826       1
5.599109       1
7.429253       1
25.292071      1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_mean@['SK_ID_CURR'], Length: 291768, dtype: int64

2018-07-06 20:42:49,349 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: max
['SK_ID_CURR']
2018-07-06 20:42:49,349 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: max
['SK_ID_CURR']
2018-07-06 20:42:49,583 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:49,583 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:49,694 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:49,694 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:49,775 logger 29 [INFO]    [make_npy] 5.000000     581
2.000000     451
10.000000    409
4.000000     344
3.333333     332
3.000000     313
2.500000     270
1.000000     258
6.000000     199
6.666667     185
15.000000    174
1.666667     171
1.500000     149
5.660000     139
20.000000    134
1.333333     133
8.000000     133
1.132000     128
7.500000     127
5.990000     121
2.830000     114
2.666667     108
2.316800     101
2.264000     100
11.980000     91
8.333333      90
1.250000      89
5.792000      84
3.773333      82
2.422400      80
13.333333     79
1.200000      78
16.666667     78
12.500000     77
3.750000      75
6.250000      75
1.066000      74
1.158400      73
25.000000     73
7.000000      73
2.396000      72
3.500000      72
6.320000      72
0.500000      70
1.060572      69
1.886667      69
4.500000      69
11.584000     68
2.995000      67
10.100000     66
            ...
4.172130       1
3.378410       1
8.326447       1
13.064026      1
44.378288      1
8.929852       1
1.788461       1
3.672880       1
7.755100       1
28.243558      1
24.034835      1
3.206036       1
2.047502       1
52.852118      1
3.721247       1
8.590633       1
2.703557       1
3.798562       1
1.422741       1
4.203806       1
8.201418       1
2.791217       1
22.542037      1
4.724539       1
6.954741       1
19.383004      1
10.265184      1
41.820652      1
1.652975       1
4.710870       1
2.434023       1
2.319671       1
4.870912       1
3.678930       1
12.910419      1
1.221139       1
31.483964      1
9.032816       1
5.995208       1
8.244087       1
2.772222       1
10.192996      1
10.193556      1
17.825514      1
3.598546       1
50.373420      1
7.917552       1
38.874218      1
1.694721       1
18.773638      1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_max@['SK_ID_CURR'], Length: 239119, dtype: int64
2018-07-06 20:42:49,775 logger 29 [INFO]    [make_npy] 5.000000     581
2.000000     451
10.000000    409
4.000000     344
3.333333     332
3.000000     313
2.500000     270
1.000000     258
6.000000     199
6.666667     185
15.000000    174
1.666667     171
1.500000     149
5.660000     139
20.000000    134
1.333333     133
8.000000     133
1.132000     128
7.500000     127
5.990000     121
2.830000     114
2.666667     108
2.316800     101
2.264000     100
11.980000     91
8.333333      90
1.250000      89
5.792000      84
3.773333      82
2.422400      80
13.333333     79
1.200000      78
16.666667     78
12.500000     77
3.750000      75
6.250000      75
1.066000      74
1.158400      73
25.000000     73
7.000000      73
2.396000      72
3.500000      72
6.320000      72
0.500000      70
1.060572      69
1.886667      69
4.500000      69
11.584000     68
2.995000      67
10.100000     66
            ...
4.172130       1
3.378410       1
8.326447       1
13.064026      1
44.378288      1
8.929852       1
1.788461       1
3.672880       1
7.755100       1
28.243558      1
24.034835      1
3.206036       1
2.047502       1
52.852118      1
3.721247       1
8.590633       1
2.703557       1
3.798562       1
1.422741       1
4.203806       1
8.201418       1
2.791217       1
22.542037      1
4.724539       1
6.954741       1
19.383004      1
10.265184      1
41.820652      1
1.652975       1
4.710870       1
2.434023       1
2.319671       1
4.870912       1
3.678930       1
12.910419      1
1.221139       1
31.483964      1
9.032816       1
5.995208       1
8.244087       1
2.772222       1
10.192996      1
10.193556      1
17.825514      1
3.598546       1
50.373420      1
7.917552       1
38.874218      1
1.694721       1
18.773638      1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_max@['SK_ID_CURR'], Length: 239119, dtype: int64
2018-07-06 20:42:49,844 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: min
['SK_ID_CURR']
2018-07-06 20:42:49,844 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: min
['SK_ID_CURR']
2018-07-06 20:42:50,041 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:50,041 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:50,126 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:50,126 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:50,170 logger 29 [INFO]    [make_npy] 1.000000     1386
2.000000     1239
2.500000      723
1.500000      642
1.666667      642
1.060572      621
5.000000      619
3.000000      571
3.333333      555
0.795429      523
4.000000      496
0.530286      470
1.333333      470
0.500000      420
0.666667      408
1.132000      390
1.250000      388
1.325715      360
1.200000      349
0.800000      288
1.158400      286
0.600000      282
0.833333      280
1.590858      269
10.000000     264
1.428571      262
1.066000      245
2.121143      241
2.316800      237
0.265143      233
1.518208      230
2.396000      225
6.666667      220
2.422400      211
2.666667      208
0.566000      202
6.000000      198
1.198000      196
1.105600      195
0.889926      192
1.270565      187
3.750000      184
0.400000      183
0.333333      182
1.600000      180
0.750000      179
1.211200      179
1.886667      170
1.186568      170
1.111111      164
             ...
25.671429       1
40.025213       1
15.187398       1
2.189381        1
1.554710        1
2.031429        1
33.788350       1
19.160584       1
0.476229        1
4.557559        1
3.163445        1
4.970604        1
13.033303       1
3.630752        1
9.168081        1
3.805707        1
6.915223        1
7.703456        1
0.823113        1
5.411016        1
2.850832        1
5.486850        1
12.120347       1
11.222337       1
8.174269        1
1.133125        1
9.712263        1
14.428626       1
1.616049        1
5.978436        1
7.521612        1
3.253066        1
1.468845        1
3.685614        1
1.686537        1
1.382750        1
17.714865       1
6.839868        1
12.217600       1
4.454667        1
5.588110        1
1.456945        1
9.957023        1
4.451319        1
1.993354        1
8.517556        1
1.439156        1
3.992629        1
12.600991       1
9.262685        1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_min@['SK_ID_CURR'], Length: 202654, dtype: int64
2018-07-06 20:42:50,170 logger 29 [INFO]    [make_npy] 1.000000     1386
2.000000     1239
2.500000      723
1.500000      642
1.666667      642
1.060572      621
5.000000      619
3.000000      571
3.333333      555
0.795429      523
4.000000      496
0.530286      470
1.333333      470
0.500000      420
0.666667      408
1.132000      390
1.250000      388
1.325715      360
1.200000      349
0.800000      288
1.158400      286
0.600000      282
0.833333      280
1.590858      269
10.000000     264
1.428571      262
1.066000      245
2.121143      241
2.316800      237
0.265143      233
1.518208      230
2.396000      225
6.666667      220
2.422400      211
2.666667      208
0.566000      202
6.000000      198
1.198000      196
1.105600      195
0.889926      192
1.270565      187
3.750000      184
0.400000      183
0.333333      182
1.600000      180
0.750000      179
1.211200      179
1.886667      170
1.186568      170
1.111111      164
             ...
25.671429       1
40.025213       1
15.187398       1
2.189381        1
1.554710        1
2.031429        1
33.788350       1
19.160584       1
0.476229        1
4.557559        1
3.163445        1
4.970604        1
13.033303       1
3.630752        1
9.168081        1
3.805707        1
6.915223        1
7.703456        1
0.823113        1
5.411016        1
2.850832        1
5.486850        1
12.120347       1
11.222337       1
8.174269        1
1.133125        1
9.712263        1
14.428626       1
1.616049        1
5.978436        1
7.521612        1
3.253066        1
1.468845        1
3.685614        1
1.686537        1
1.382750        1
17.714865       1
6.839868        1
12.217600       1
4.454667        1
5.588110        1
1.456945        1
9.957023        1
4.451319        1
1.993354        1
8.517556        1
1.439156        1
3.992629        1
12.600991       1
9.262685        1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_min@['SK_ID_CURR'], Length: 202654, dtype: int64

2018-07-06 20:42:50,193 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: std
['SK_ID_CURR']
2018-07-06 20:42:50,193 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_APPLICATION@
method: std
['SK_ID_CURR']
2018-07-06 20:42:50,348 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:50,348 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_APPLICATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:50,432 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:50,432 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:50,473 logger 29 [INFO]    [make_npy] 0.000000     709
0.707107      25
1.060660      21
1.414214      18
1.767767      13
2.121320      13
0.471405      12
2.828427      12
0.883883      12
0.353553      12
1.885618      12
0.176777      10
2.651650       9
0.471405       9
2.357023       9
1.178511       8
5.656854       7
0.667037       7
1.178511       7
0.235702       6
2.474874       6
0.235702       6
0.589256       6
5.303301       6
0.530330       6
1.558867       5
0.235702       5
3.064129       5
4.242641       5
3.181981       5
0.636396       5
2.357023       5
0.333519       5
1.270671       5
3.535534       5
1.649916       5
2.258970       4
0.589256       4
1.590990       4
0.742462       4
4.714045       4
1.129485       4
0.589256       4
0.294628       4
2.020726       4
2.001112       4
7.954951       4
0.157135       4
2.078490       4
0.942809       4
            ...
0.329286       1
5.764144       1
2.842331       1
1.306720       1
4.663613       1
7.301303       1
2.654907       1
2.564605       1
1.299481       1
1.923659       1
4.449162       1
0.426172       1
29.552140      1
0.416047       1
9.160953       1
1.632768       1
0.764441       1
6.338487       1
9.506356       1
0.514328       1
1.622734       1
3.356652       1
13.123055      1
1.073316       1
1.055437       1
2.161455       1
0.802994       1
3.201459       1
1.310439       1
7.433209       1
3.592698       1
0.059471       1
4.431079       1
11.932379      1
3.352429       1
1.991187       1
2.987521       1
1.632063       1
5.234114       1
6.703996       1
2.646483       1
15.708579      1
8.997491       1
1.852297       1
3.491272       1
1.756961       1
13.318021      1
5.621875       1
12.210195      1
0.759781       1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_std@['SK_ID_CURR'], Length: 192778, dtype: int64
2018-07-06 20:42:50,473 logger 29 [INFO]    [make_npy] 0.000000     709
0.707107      25
1.060660      21
1.414214      18
1.767767      13
2.121320      13
0.471405      12
2.828427      12
0.883883      12
0.353553      12
1.885618      12
0.176777      10
2.651650       9
0.471405       9
2.357023       9
1.178511       8
5.656854       7
0.667037       7
1.178511       7
0.235702       6
2.474874       6
0.235702       6
0.589256       6
5.303301       6
0.530330       6
1.558867       5
0.235702       5
3.064129       5
4.242641       5
3.181981       5
0.636396       5
2.357023       5
0.333519       5
1.270671       5
3.535534       5
1.649916       5
2.258970       4
0.589256       4
1.590990       4
0.742462       4
4.714045       4
1.129485       4
0.589256       4
0.294628       4
2.020726       4
2.001112       4
7.954951       4
0.157135       4
2.078490       4
0.942809       4
            ...
0.329286       1
5.764144       1
2.842331       1
1.306720       1
4.663613       1
7.301303       1
2.654907       1
2.564605       1
1.299481       1
1.923659       1
4.449162       1
0.426172       1
29.552140      1
0.416047       1
9.160953       1
1.632768       1
0.764441       1
6.338487       1
9.506356       1
0.514328       1
1.622734       1
3.356652       1
13.123055      1
1.073316       1
1.055437       1
2.161455       1
0.802994       1
3.201459       1
1.310439       1
7.433209       1
3.592698       1
0.059471       1
4.431079       1
11.932379      1
3.352429       1
1.991187       1
2.987521       1
1.632063       1
5.234114       1
6.703996       1
2.646483       1
15.708579      1
8.997491       1
1.852297       1
3.491272       1
1.756961       1
13.318021      1
5.621875       1
12.210195      1
0.759781       1
Name: app_AMT_CREDIT_div_AMT_APPLICATION@_std@['SK_ID_CURR'], Length: 192778, dtype: int64
2018-07-06 20:42:50,519 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:50,519 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:50,625 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:50,625 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:50,696 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:50,696 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:50,735 logger 29 [INFO]    [make_npy] 0.000000     1210
10.000000      66
20.000000      49
5.000000       44
6.666667       43
13.333333      40
25.000000      39
15.000000      37
16.666667      35
40.000000      24
7.500000       23
4.000000       23
33.333333      20
7.495000       19
3.333333       19
12.500000      19
30.000000      18
16.000000      17
4.444444       17
11.111111      17
8.445946       17
8.000000       16
26.666667      16
50.000000      16
4.995000       14
6.000000       14
8.333333       12
3.000000       12
5.495000       12
5.875441       12
12.000000      12
2.000000       11
7.142857       11
14.000000      11
8.810573       11
4.318411       11
5.149331       11
8.888889       11
24.000000      11
17.465735      11
3.495000       11
37.500000      10
5.952381       10
17.777778      10
8.928571       10
22.222222      10
7.272727       10
5.995000       10
5.678592       10
8.666667       10
             ...
76.970104       1
12.723492       1
2.001728        1
15.638042       1
4.478246        1
0.699560        1
6.652174        1
37.464632       1
9.031910        1
21.333333       1
0.791736        1
17.489567       1
12.253862       1
6.829341        1
2.198057        1
0.774040        1
24.295061       1
27.972517       1
3.630577        1
33.357160       1
2.950437        1
21.786115       1
23.998858       1
27.816806       1
4.945659        1
68.811646       1
17.492967       1
1.446506        1
1.956005        1
11.542302       1
5.861407        1
9.920795        1
39.459932       1
4.413457        1
76.158312       1
1.386322        1
2.342774        1
8.090617        1
2.921275        1
2.286223        1
19.931489       1
12.975836       1
2.505010        1
16.965592       1
62.089972       1
1.870493        1
23.088460       1
5.439668        1
8.577861        1
88.868778       1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 304350, dtype: int64
2018-07-06 20:42:50,735 logger 29 [INFO]    [make_npy] 0.000000     1210
10.000000      66
20.000000      49
5.000000       44
6.666667       43
13.333333      40
25.000000      39
15.000000      37
16.666667      35
40.000000      24
7.500000       23
4.000000       23
33.333333      20
7.495000       19
3.333333       19
12.500000      19
30.000000      18
16.000000      17
4.444444       17
11.111111      17
8.445946       17
8.000000       16
26.666667      16
50.000000      16
4.995000       14
6.000000       14
8.333333       12
3.000000       12
5.495000       12
5.875441       12
12.000000      12
2.000000       11
7.142857       11
14.000000      11
8.810573       11
4.318411       11
5.149331       11
8.888889       11
24.000000      11
17.465735      11
3.495000       11
37.500000      10
5.952381       10
17.777778      10
8.928571       10
22.222222      10
7.272727       10
5.995000       10
5.678592       10
8.666667       10
             ...
76.970104       1
12.723492       1
2.001728        1
15.638042       1
4.478246        1
0.699560        1
6.652174        1
37.464632       1
9.031910        1
21.333333       1
0.791736        1
17.489567       1
12.253862       1
6.829341        1
2.198057        1
0.774040        1
24.295061       1
27.972517       1
3.630577        1
33.357160       1
2.950437        1
21.786115       1
23.998858       1
27.816806       1
4.945659        1
68.811646       1
17.492967       1
1.446506        1
1.956005        1
11.542302       1
5.861407        1
9.920795        1
39.459932       1
4.413457        1
76.158312       1
1.386322        1
2.342774        1
8.090617        1
2.921275        1
2.286223        1
19.931489       1
12.975836       1
2.505010        1
16.965592       1
62.089972       1
1.870493        1
23.088460       1
5.439668        1
8.577861        1
88.868778       1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 304350, dtype: int64

2018-07-06 20:42:50,783 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:50,783 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:50,904 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:50,904 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:51,011 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:51,011 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:51,058 logger 29 [INFO]    [make_npy] 10.000000    72
6.666667     48
5.000000     48
20.000000    46
13.333333    39
25.000000    38
15.000000    35
16.666667    33
4.000000     26
7.500000     25
12.500000    22
3.333333     19
33.333333    19
7.495000     19
4.444444     18
40.000000    17
8.000000     17
16.000000    17
8.445946     16
26.666667    16
11.111111    16
6.000000     16
4.995000     15
2.000000     15
8.333333     15
30.000000    15
3.000000     15
8.888889     14
12.000000    13
4.318411     12
5.952381     12
5.495000     12
5.875441     12
8.810573     12
9.792401     12
50.000000    11
3.495000     11
17.465735    11
7.142857     11
2.500000     11
3.378378     11
17.500000    11
5.149331     11
5.555556     10
14.000000    10
7.272727     10
4.996667     10
6.250000     10
3.154906     10
18.000000    10
             ..
1.446506      1
1.956005      1
5.779193      1
11.322486     1
5.861407      1
4.401231      1
3.549062      1
4.578903      1
4.426906      1
5.987000      1
6.959439      1
1.751822      1
1.976471      1
1.797161      1
30.769231     1
3.778510      1
3.888956      1
3.849896      1
3.361733      1
2.168868      1
40.764708     1
4.607793      1
1.477793      1
1.608016      1
1.512735      1
3.539441      1
0.863031      1
2.975610      1
5.551546      1
6.347614      1
3.740223      1
1.502860      1
6.181416      1
2.039056      1
6.915669      1
6.473627      1
3.456541      1
1.410940      1
40.484613     1
3.478126      1
1.755277      1
1.846494      1
3.830654      1
1.018404      1
5.126462      1
1.194601      1
4.165149      1
1.580460      1
2.428431      1
2.226749      1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 304012, dtype: int64
2018-07-06 20:42:51,058 logger 29 [INFO]    [make_npy] 10.000000    72
6.666667     48
5.000000     48
20.000000    46
13.333333    39
25.000000    38
15.000000    35
16.666667    33
4.000000     26
7.500000     25
12.500000    22
3.333333     19
33.333333    19
7.495000     19
4.444444     18
40.000000    17
8.000000     17
16.000000    17
8.445946     16
26.666667    16
11.111111    16
6.000000     16
4.995000     15
2.000000     15
8.333333     15
30.000000    15
3.000000     15
8.888889     14
12.000000    13
4.318411     12
5.952381     12
5.495000     12
5.875441     12
8.810573     12
9.792401     12
50.000000    11
3.495000     11
17.465735    11
7.142857     11
2.500000     11
3.378378     11
17.500000    11
5.149331     11
5.555556     10
14.000000    10
7.272727     10
4.996667     10
6.250000     10
3.154906     10
18.000000    10
             ..
1.446506      1
1.956005      1
5.779193      1
11.322486     1
5.861407      1
4.401231      1
3.549062      1
4.578903      1
4.426906      1
5.987000      1
6.959439      1
1.751822      1
1.976471      1
1.797161      1
30.769231     1
3.778510      1
3.888956      1
3.849896      1
3.361733      1
2.168868      1
40.764708     1
4.607793      1
1.477793      1
1.608016      1
1.512735      1
3.539441      1
0.863031      1
2.975610      1
5.551546      1
6.347614      1
3.740223      1
1.502860      1
6.181416      1
2.039056      1
6.915669      1
6.473627      1
3.456541      1
1.410940      1
40.484613     1
3.478126      1
1.755277      1
1.846494      1
3.830654      1
1.018404      1
5.126462      1
1.194601      1
4.165149      1
1.580460      1
2.428431      1
2.226749      1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 304012, dtype: int64
2018-07-06 20:42:51,101 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:51,101 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:42:51,252 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:51,252 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:51,354 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:51,354 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:51,425 logger 29 [INFO]    [make_npy] 20.000000    290
10.000000    262
13.333333    213
6.666667     177
16.666667    170
33.333333    129
15.000000    127
22.449707    125
25.000000    123
5.000000     109
26.666667    108
40.000000    108
30.000000     98
23.275431     93
22.222222     80
8.000000      73
50.000000     73
25.695264     73
62.859180     69
12.000000     65
11.904762     64
16.178581     64
19.831480     63
26.809431     63
37.715508     62
18.413977     62
12.500000     61
11.111111     61
16.000000     61
8.333333      60
18.857754     59
41.906120     56
6.000000      56
14.285714     54
7.500000      54
3.333333      54
8.888889      53
26.028646     53
16.335546     52
17.857143     52
7.142857      52
31.429590     50
4.000000      49
20.353755     49
5.952381      49
18.466269     48
23.333333     48
21.046600     48
18.181818     47
18.719232     47
            ...
8.581013       1
5.073940       1
5.590719       1
62.354764      1
7.003654       1
1.038041       1
2.296968       1
0.972503       1
0.985745       1
2.296289       1
12.302645      1
1.693103       1
3.735316       1
3.979525       1
1.813472       1
0.894008       1
11.577753      1
0.423586       1
11.751944      1
11.288204      1
5.541157       1
5.070756       1
19.631827      1
12.669454      1
6.664692       1
6.438889       1
2.870125       1
10.517816      1
6.941609       1
1.230485       1
2.130146       1
7.287707       1
2.187227       1
11.289230      1
14.915117      1
1.082166       1
4.097498       1
10.902584      1
5.343511       1
4.882194       1
2.956125       1
3.932814       1
3.804692       1
5.258169       1
3.810914       1
4.622274       1
3.484295       1
27.200311      1
5.365907       1
17.309056      1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 246211, dtype: int64
2018-07-06 20:42:51,425 logger 29 [INFO]    [make_npy] 20.000000    290
10.000000    262
13.333333    213
6.666667     177
16.666667    170
33.333333    129
15.000000    127
22.449707    125
25.000000    123
5.000000     109
26.666667    108
40.000000    108
30.000000     98
23.275431     93
22.222222     80
8.000000      73
50.000000     73
25.695264     73
62.859180     69
12.000000     65
11.904762     64
16.178581     64
19.831480     63
26.809431     63
37.715508     62
18.413977     62
12.500000     61
11.111111     61
16.000000     61
8.333333      60
18.857754     59
41.906120     56
6.000000      56
14.285714     54
7.500000      54
3.333333      54
8.888889      53
26.028646     53
16.335546     52
17.857143     52
7.142857      52
31.429590     50
4.000000      49
20.353755     49
5.952381      49
18.466269     48
23.333333     48
21.046600     48
18.181818     47
18.719232     47
            ...
8.581013       1
5.073940       1
5.590719       1
62.354764      1
7.003654       1
1.038041       1
2.296968       1
0.972503       1
0.985745       1
2.296289       1
12.302645      1
1.693103       1
3.735316       1
3.979525       1
1.813472       1
0.894008       1
11.577753      1
0.423586       1
11.751944      1
11.288204      1
5.541157       1
5.070756       1
19.631827      1
12.669454      1
6.664692       1
6.438889       1
2.870125       1
10.517816      1
6.941609       1
1.230485       1
2.130146       1
7.287707       1
2.187227       1
11.289230      1
14.915117      1
1.082166       1
4.097498       1
10.902584      1
5.343511       1
4.882194       1
2.956125       1
3.932814       1
3.804692       1
5.258169       1
3.810914       1
4.622274       1
3.484295       1
27.200311      1
5.365907       1
17.309056      1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 246211, dtype: int64

2018-07-06 20:42:51,490 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:51,490 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:42:51,629 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:51,629 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:51,703 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:51,703 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:51,741 logger 29 [INFO]    [make_npy] 5.000000     128
10.000000    114
6.666667     110
3.333333      93
4.000000      77
4.444444      59
13.333333     57
20.000000     56
7.500000      45
15.000000     44
2.000000      43
16.666667     41
6.000000      40
25.000000     38
8.000000      37
2.500000      34
3.000000      34
2.857143      31
3.135779      30
2.666667      29
2.495000      29
2.330000      28
3.636364      28
5.714286      27
2.222222      27
4.995000      27
1.995000      26
7.495000      25
3.608805      25
1.996667      24
12.500000     24
3.495000      24
1.666667      23
1.689189      23
7.272727      22
12.000000     22
11.111111     22
4.215852      21
3.050641      21
5.333333      21
2.843332      21
8.445946      21
5.149331      21
33.333333     20
7.142857      20
8.888889      20
3.571429      20
2.663333      19
1.330000      19
3.419973      19
            ...
0.591976       1
1.239562       1
0.390790       1
1.081549       1
6.871547       1
10.609000      1
1.072631       1
2.152781       1
6.926079       1
0.885135       1
11.539568      1
3.650523       1
0.647219       1
1.782691       1
4.118342       1
5.559333       1
5.767926       1
1.379407       1
1.952648       1
1.547910       1
1.309907       1
1.938022       1
13.066202      1
2.175028       1
2.397652       1
0.556723       1
2.844607       1
4.444362       1
1.968737       1
1.160414       1
4.890146       1
3.555841       1
0.794450       1
1.313401       1
1.201604       1
3.408144       1
0.821124       1
1.997127       1
0.775628       1
1.809197       1
33.596569      1
2.706875       1
0.845651       1
1.282545       1
1.576645       1
1.731908       1
1.310407       1
2.989155       1
0.594650       1
1.131339       1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 284845, dtype: int64
2018-07-06 20:42:51,741 logger 29 [INFO]    [make_npy] 5.000000     128
10.000000    114
6.666667     110
3.333333      93
4.000000      77
4.444444      59
13.333333     57
20.000000     56
7.500000      45
15.000000     44
2.000000      43
16.666667     41
6.000000      40
25.000000     38
8.000000      37
2.500000      34
3.000000      34
2.857143      31
3.135779      30
2.666667      29
2.495000      29
2.330000      28
3.636364      28
5.714286      27
2.222222      27
4.995000      27
1.995000      26
7.495000      25
3.608805      25
1.996667      24
12.500000     24
3.495000      24
1.666667      23
1.689189      23
7.272727      22
12.000000     22
11.111111     22
4.215852      21
3.050641      21
5.333333      21
2.843332      21
8.445946      21
5.149331      21
33.333333     20
7.142857      20
8.888889      20
3.571429      20
2.663333      19
1.330000      19
3.419973      19
            ...
0.591976       1
1.239562       1
0.390790       1
1.081549       1
6.871547       1
10.609000      1
1.072631       1
2.152781       1
6.926079       1
0.885135       1
11.539568      1
3.650523       1
0.647219       1
1.782691       1
4.118342       1
5.559333       1
5.767926       1
1.379407       1
1.952648       1
1.547910       1
1.309907       1
1.938022       1
13.066202      1
2.175028       1
2.397652       1
0.556723       1
2.844607       1
4.444362       1
1.968737       1
1.160414       1
4.890146       1
3.555841       1
0.794450       1
1.313401       1
1.201604       1
3.408144       1
0.821124       1
1.997127       1
0.775628       1
1.809197       1
33.596569      1
2.706875       1
0.845651       1
1.282545       1
1.576645       1
1.731908       1
1.310407       1
2.989155       1
0.594650       1
1.131339       1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 284845, dtype: int64
2018-07-06 20:42:51,787 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:51,787 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_app_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:42:51,930 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:51,930 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_app_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:52,034 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:52,034 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:52,086 logger 29 [INFO]    [make_npy] 0.000000     709
3.535534      12
0.707107      11
1.414214      10
7.071068       8
2.828427       8
5.656854       7
10.606602      5
4.714045       5
2.651650       5
4.949747       4
14.142136      4
0.353553       4
2.357023       4
2.357023       4
2.197349       4
2.715664       3
6.285394       3
2.427418       3
1.480210       3
2.333452       3
1.767767       3
0.883883       3
1.987651       3
2.455232       3
1.178511       3
2.899138       3
2.121320       3
4.475359       3
12.570787      3
8.343860       3
3.367175       3
3.181981       3
4.714045       3
1.463989       3
5.050763       3
0.282843       2
2.015254       2
5.358899       2
1.934100       2
3.634887       2
2.070797       2
0.388948       2
4.429317       2
1.193631       2
2.279142       2
0.993774       2
5.232590       2
1.649916       2
2.368101       2
            ...
1.064469       1
0.673012       1
1.822001       1
0.927136       1
1.405444       1
0.610807       1
2.779316       1
1.031531       1
6.428610       1
2.328431       1
3.158163       1
1.920680       1
20.226947      1
25.762631      1
0.358544       1
4.164499       1
0.196105       1
2.410539       1
1.760878       1
7.261050       1
2.728038       1
5.719363       1
13.180193      1
23.093085      1
2.653399       1
2.950487       1
0.366358       1
2.855064       1
7.837419       1
7.056954       1
7.521404       1
0.490171       1
5.447410       1
2.048256       1
5.497864       1
1.866328       1
6.764312       1
3.544790       1
5.138750       1
0.607652       1
0.139300       1
10.114173      1
1.472710       1
2.469064       1
0.328193       1
1.768010       1
2.696953       1
2.059584       1
6.358677       1
9.654611       1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 193103, dtype: int64
2018-07-06 20:42:52,086 logger 29 [INFO]    [make_npy] 0.000000     709
3.535534      12
0.707107      11
1.414214      10
7.071068       8
2.828427       8
5.656854       7
10.606602      5
4.714045       5
2.651650       5
4.949747       4
14.142136      4
0.353553       4
2.357023       4
2.357023       4
2.197349       4
2.715664       3
6.285394       3
2.427418       3
1.480210       3
2.333452       3
1.767767       3
0.883883       3
1.987651       3
2.455232       3
1.178511       3
2.899138       3
2.121320       3
4.475359       3
12.570787      3
8.343860       3
3.367175       3
3.181981       3
4.714045       3
1.463989       3
5.050763       3
0.282843       2
2.015254       2
5.358899       2
1.934100       2
3.634887       2
2.070797       2
0.388948       2
4.429317       2
1.193631       2
2.279142       2
0.993774       2
5.232590       2
1.649916       2
2.368101       2
            ...
1.064469       1
0.673012       1
1.822001       1
0.927136       1
1.405444       1
0.610807       1
2.779316       1
1.031531       1
6.428610       1
2.328431       1
3.158163       1
1.920680       1
20.226947      1
25.762631      1
0.358544       1
4.164499       1
0.196105       1
2.410539       1
1.760878       1
7.261050       1
2.728038       1
5.719363       1
13.180193      1
23.093085      1
2.653399       1
2.950487       1
0.366358       1
2.855064       1
7.837419       1
7.056954       1
7.521404       1
0.490171       1
5.447410       1
2.048256       1
5.497864       1
1.866328       1
6.764312       1
3.544790       1
5.138750       1
0.607652       1
0.139300       1
10.114173      1
1.472710       1
2.469064       1
0.328193       1
1.768010       1
2.696953       1
2.059584       1
6.358677       1
9.654611       1
Name: AMT_APPLICATION_div_app_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 193103, dtype: int64

2018-07-06 20:42:52,142 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:52,142 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:52,258 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:52,258 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:52,343 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:52,343 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:52,386 logger 29 [INFO]    [make_npy] 0.000000     1177
1.000000      840
0.500000      503
2.000000      466
1.500000      400
0.800000      383
0.600000      379
0.400000      365
0.666667      334
2.500000      316
1.333333      302
1.666667      288
3.000000      275
0.833333      267
1.250000      256
1.200000      251
0.333333      220
0.750000      214
0.700000      213
0.300000      202
1.166667      176
4.000000      171
1.600000      164
0.900000      163
1.750000      155
1.400000      154
0.625000      150
3.500000      147
0.250000      130
0.265143      129
5.000000      120
1.800000      119
0.533333      113
2.333333      113
0.875000      112
3.333333      112
0.200000      110
0.714286      108
2.250000      107
0.466667      106
0.350000      106
0.450000       99
0.266667       98
2.400000       96
2.666667       96
1.100000       92
1.428571       91
0.371200       88
0.857143       85
6.000000       83
             ...
1.804638        1
0.470085        1
9.998500        1
0.682261        1
8.687309        1
11.289876       1
6.076389        1
0.751965        1
19.703203       1
6.215623        1
24.818315       1
15.961233       1
7.371415        1
18.468907       1
0.485774        1
3.689765        1
4.947080        1
3.336485        1
3.743775        1
4.627605        1
4.085594        1
3.103983        1
2.242442        1
12.014976       1
1.223784        1
12.448073       1
4.187039        1
1.174291        1
4.441948        1
19.814186       1
2.143956        1
16.558176       1
7.060184        1
12.155943       1
1.808901        1
2.941682        1
10.552929       1
0.915014        1
6.344891        1
3.403566        1
44.030632       1
1.742626        1
0.861557        1
2.783464        1
8.867909        1
6.811767        1
3.993909        1
6.630435        1
9.461475        1
17.753243       1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_sum@['SK_ID_CURR'], Length: 257680, dtype: int64
2018-07-06 20:42:52,386 logger 29 [INFO]    [make_npy] 0.000000     1177
1.000000      840
0.500000      503
2.000000      466
1.500000      400
0.800000      383
0.600000      379
0.400000      365
0.666667      334
2.500000      316
1.333333      302
1.666667      288
3.000000      275
0.833333      267
1.250000      256
1.200000      251
0.333333      220
0.750000      214
0.700000      213
0.300000      202
1.166667      176
4.000000      171
1.600000      164
0.900000      163
1.750000      155
1.400000      154
0.625000      150
3.500000      147
0.250000      130
0.265143      129
5.000000      120
1.800000      119
0.533333      113
2.333333      113
0.875000      112
3.333333      112
0.200000      110
0.714286      108
2.250000      107
0.466667      106
0.350000      106
0.450000       99
0.266667       98
2.400000       96
2.666667       96
1.100000       92
1.428571       91
0.371200       88
0.857143       85
6.000000       83
             ...
1.804638        1
0.470085        1
9.998500        1
0.682261        1
8.687309        1
11.289876       1
6.076389        1
0.751965        1
19.703203       1
6.215623        1
24.818315       1
15.961233       1
7.371415        1
18.468907       1
0.485774        1
3.689765        1
4.947080        1
3.336485        1
3.743775        1
4.627605        1
4.085594        1
3.103983        1
2.242442        1
12.014976       1
1.223784        1
12.448073       1
4.187039        1
1.174291        1
4.441948        1
19.814186       1
2.143956        1
16.558176       1
7.060184        1
12.155943       1
1.808901        1
2.941682        1
10.552929       1
0.915014        1
6.344891        1
3.403566        1
44.030632       1
1.742626        1
0.861557        1
2.783464        1
8.867909        1
6.811767        1
3.993909        1
6.630435        1
9.461475        1
17.753243       1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_sum@['SK_ID_CURR'], Length: 257680, dtype: int64
2018-07-06 20:42:52,470 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:52,470 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:52,656 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:52,656 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:52,761 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:52,761 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:52,808 logger 29 [INFO]    [make_npy] 1.000000    895
0.500000    529
2.000000    457
1.500000    420
0.600000    412
0.800000    389
0.400000    380
0.666667    360
1.333333    313
1.250000    308
1.666667    305
0.833333    297
2.500000    284
1.200000    264
0.750000    255
3.000000    241
0.700000    230
0.333333    224
0.300000    205
1.166667    199
0.900000    183
0.625000    167
1.600000    162
1.750000    159
1.400000    153
0.875000    149
0.250000    140
0.265143    135
0.533333    128
1.800000    120
0.350000    118
2.333333    117
4.000000    116
0.714286    115
0.200000    115
0.466667    114
3.500000    108
0.450000    107
0.266667    105
3.333333    100
2.250000    100
1.100000     98
0.933333     95
0.371200     94
0.212114     89
0.318172     88
1.428571     87
0.238629     86
0.857143     84
2.666667     82
           ...
4.668314      1
3.573746      1
1.964372      1
3.547672      1
2.082662      1
4.220201      1
1.983228      1
1.716301      1
4.371814      1
5.605381      1
0.379991      1
2.876859      1
2.304791      1
2.381345      1
1.222022      1
3.304668      1
3.068436      1
5.044643      1
2.704582      1
1.177916      1
4.847433      1
1.534079      1
2.332446      1
2.770500      1
0.870956      1
1.482287      1
0.753472      1
1.030335      1
1.405764      1
1.999460      1
8.038585      1
1.436417      1
0.521776      1
2.463443      1
1.290789      1
1.774915      1
1.829603      1
0.583760      1
3.365714      1
1.392786      1
0.969054      1
2.336212      1
4.568284      1
4.699336      1
1.136209      1
2.349501      1
0.517522      1
3.942107      1
2.373214      1
1.530495      1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_mean@['SK_ID_CURR'], Length: 257693, dtype: int64
2018-07-06 20:42:52,808 logger 29 [INFO]    [make_npy] 1.000000    895
0.500000    529
2.000000    457
1.500000    420
0.600000    412
0.800000    389
0.400000    380
0.666667    360
1.333333    313
1.250000    308
1.666667    305
0.833333    297
2.500000    284
1.200000    264
0.750000    255
3.000000    241
0.700000    230
0.333333    224
0.300000    205
1.166667    199
0.900000    183
0.625000    167
1.600000    162
1.750000    159
1.400000    153
0.875000    149
0.250000    140
0.265143    135
0.533333    128
1.800000    120
0.350000    118
2.333333    117
4.000000    116
0.714286    115
0.200000    115
0.466667    114
3.500000    108
0.450000    107
0.266667    105
3.333333    100
2.250000    100
1.100000     98
0.933333     95
0.371200     94
0.212114     89
0.318172     88
1.428571     87
0.238629     86
0.857143     84
2.666667     82
           ...
4.668314      1
3.573746      1
1.964372      1
3.547672      1
2.082662      1
4.220201      1
1.983228      1
1.716301      1
4.371814      1
5.605381      1
0.379991      1
2.876859      1
2.304791      1
2.381345      1
1.222022      1
3.304668      1
3.068436      1
5.044643      1
2.704582      1
1.177916      1
4.847433      1
1.534079      1
2.332446      1
2.770500      1
0.870956      1
1.482287      1
0.753472      1
1.030335      1
1.405764      1
1.999460      1
8.038585      1
1.436417      1
0.521776      1
2.463443      1
1.290789      1
1.774915      1
1.829603      1
0.583760      1
3.365714      1
1.392786      1
0.969054      1
2.336212      1
4.568284      1
4.699336      1
1.136209      1
2.349501      1
0.517522      1
3.942107      1
2.373214      1
1.530495      1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_mean@['SK_ID_CURR'], Length: 257693, dtype: int64

2018-07-06 20:42:52,855 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: max
['SK_ID_CURR']
2018-07-06 20:42:52,855 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: max
['SK_ID_CURR']
2018-07-06 20:42:53,031 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:53,031 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:53,182 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:53,182 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:53,235 logger 29 [INFO]    [make_npy] 1.000000     1808
2.000000     1706
1.500000     1140
2.500000     1129
3.000000     1111
1.666667      852
0.500000      760
1.250000      697
1.333333      687
4.000000      640
3.500000      634
0.800000      617
0.600000      594
1.200000      553
0.666667      541
0.833333      503
0.400000      467
5.000000      454
1.750000      436
0.750000      409
1.166667      384
3.333333      379
2.333333      365
1.600000      359
1.800000      347
1.400000      343
2.666667      326
0.700000      317
4.500000      309
0.900000      306
0.333333      264
2.250000      254
0.300000      244
0.625000      235
6.000000      205
5.010020      201
2.400000      188
6.012024      186
2.800000      184
0.875000      182
1.428571      180
7.518797      179
1.100000      179
0.714286      178
4.291845      177
6.265664      174
3.576538      170
4.173623      165
7.014028      162
5.008347      153
             ...
5.096598        1
2.780234        1
3.420265        1
6.004141        1
3.883525        1
1.435178        1
1.222693        1
7.835861        1
4.948454        1
0.264286        1
0.902165        1
4.372842        1
5.481481        1
0.708955        1
16.663704       1
0.497658        1
3.056405        1
2.015966        1
1.520492        1
3.769673        1
0.186054        1
2.418185        1
0.953380        1
0.728624        1
2.158708        1
4.875132        1
3.469080        1
6.396424        1
0.379065        1
2.680044        1
1.589264        1
3.687588        1
15.499871       1
1.750758        1
0.722979        1
1.150188        1
0.225346        1
4.291287        1
3.586795        1
5.047592        1
0.984349        1
1.275046        1
6.250130        1
4.068044        1
4.642450        1
1.606053        1
0.623752        1
4.383493        1
3.202515        1
1.475100        1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_max@['SK_ID_CURR'], Length: 134340, dtype: int64
2018-07-06 20:42:53,235 logger 29 [INFO]    [make_npy] 1.000000     1808
2.000000     1706
1.500000     1140
2.500000     1129
3.000000     1111
1.666667      852
0.500000      760
1.250000      697
1.333333      687
4.000000      640
3.500000      634
0.800000      617
0.600000      594
1.200000      553
0.666667      541
0.833333      503
0.400000      467
5.000000      454
1.750000      436
0.750000      409
1.166667      384
3.333333      379
2.333333      365
1.600000      359
1.800000      347
1.400000      343
2.666667      326
0.700000      317
4.500000      309
0.900000      306
0.333333      264
2.250000      254
0.300000      244
0.625000      235
6.000000      205
5.010020      201
2.400000      188
6.012024      186
2.800000      184
0.875000      182
1.428571      180
7.518797      179
1.100000      179
0.714286      178
4.291845      177
6.265664      174
3.576538      170
4.173623      165
7.014028      162
5.008347      153
             ...
5.096598        1
2.780234        1
3.420265        1
6.004141        1
3.883525        1
1.435178        1
1.222693        1
7.835861        1
4.948454        1
0.264286        1
0.902165        1
4.372842        1
5.481481        1
0.708955        1
16.663704       1
0.497658        1
3.056405        1
2.015966        1
1.520492        1
3.769673        1
0.186054        1
2.418185        1
0.953380        1
0.728624        1
2.158708        1
4.875132        1
3.469080        1
6.396424        1
0.379065        1
2.680044        1
1.589264        1
3.687588        1
15.499871       1
1.750758        1
0.722979        1
1.150188        1
0.225346        1
4.291287        1
3.586795        1
5.047592        1
0.984349        1
1.275046        1
6.250130        1
4.068044        1
4.642450        1
1.606053        1
0.623752        1
4.383493        1
3.202515        1
1.475100        1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_max@['SK_ID_CURR'], Length: 134340, dtype: int64
2018-07-06 20:42:53,287 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: min
['SK_ID_CURR']
2018-07-06 20:42:53,287 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: min
['SK_ID_CURR']
2018-07-06 20:42:53,541 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:53,541 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:53,721 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:53,721 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:53,770 logger 29 [INFO]    [make_npy] 0.500000    4254
1.000000    4005
0.400000    2561
0.600000    2469
0.300000    1985
0.666667    1972
0.333333    1830
0.265143    1817
0.800000    1679
0.250000    1620
0.212114    1567
0.833333    1469
0.750000    1452
0.159086    1393
1.500000    1393
0.200000    1326
2.000000    1311
0.700000    1300
0.185600    1239
0.238629    1194
0.318172    1164
1.250000    1101
1.333333    1074
1.200000    1032
0.350000    1027
1.666667     958
0.625000     910
0.450000     910
0.900000     896
0.371200     853
1.166667     851
0.132571     837
0.416667     755
0.266667     732
0.375000     716
0.424229     689
0.714286     677
2.500000     647
0.428571     630
0.588235     613
0.166667     610
0.466667     587
0.583333     581
1.400000     581
0.571429     581
0.533333     559
0.233333     554
0.875000     541
0.291657     508
3.000000     498
            ...
1.880342       1
0.852489       1
0.733301       1
2.054337       1
6.991051       1
4.129768       1
1.183050       1
1.245685       1
1.689655       1
0.638417       1
0.569541       1
1.224777       1
0.552941       1
0.436445       1
2.480364       1
0.634301       1
5.240480       1
5.587599       1
0.215040       1
1.632253       1
0.590319       1
3.032876       1
2.729796       1
2.303385       1
3.714859       1
0.407836       1
0.459247       1
0.169043       1
0.967165       1
1.008186       1
2.498502       1
3.289329       1
4.401761       1
2.477606       1
3.764588       1
0.368949       1
0.595474       1
1.431932       1
3.097237       1
5.613247       1
0.809866       1
2.230463       1
2.500260       1
6.001600       1
0.876215       1
1.920578       1
0.391831       1
1.630217       1
2.539686       1
0.376541       1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_min@['SK_ID_CURR'], Length: 121604, dtype: int64
2018-07-06 20:42:53,770 logger 29 [INFO]    [make_npy] 0.500000    4254
1.000000    4005
0.400000    2561
0.600000    2469
0.300000    1985
0.666667    1972
0.333333    1830
0.265143    1817
0.800000    1679
0.250000    1620
0.212114    1567
0.833333    1469
0.750000    1452
0.159086    1393
1.500000    1393
0.200000    1326
2.000000    1311
0.700000    1300
0.185600    1239
0.238629    1194
0.318172    1164
1.250000    1101
1.333333    1074
1.200000    1032
0.350000    1027
1.666667     958
0.625000     910
0.450000     910
0.900000     896
0.371200     853
1.166667     851
0.132571     837
0.416667     755
0.266667     732
0.375000     716
0.424229     689
0.714286     677
2.500000     647
0.428571     630
0.588235     613
0.166667     610
0.466667     587
0.583333     581
1.400000     581
0.571429     581
0.533333     559
0.233333     554
0.875000     541
0.291657     508
3.000000     498
            ...
1.880342       1
0.852489       1
0.733301       1
2.054337       1
6.991051       1
4.129768       1
1.183050       1
1.245685       1
1.689655       1
0.638417       1
0.569541       1
1.224777       1
0.552941       1
0.436445       1
2.480364       1
0.634301       1
5.240480       1
5.587599       1
0.215040       1
1.632253       1
0.590319       1
3.032876       1
2.729796       1
2.303385       1
3.714859       1
0.407836       1
0.459247       1
0.169043       1
0.967165       1
1.008186       1
2.498502       1
3.289329       1
4.401761       1
2.477606       1
3.764588       1
0.368949       1
0.595474       1
1.431932       1
3.097237       1
5.613247       1
0.809866       1
2.230463       1
2.500260       1
6.001600       1
0.876215       1
1.920578       1
0.391831       1
1.630217       1
2.539686       1
0.376541       1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_min@['SK_ID_CURR'], Length: 121604, dtype: int64

2018-07-06 20:42:53,801 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: std
['SK_ID_CURR']
2018-07-06 20:42:53,801 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@
method: std
['SK_ID_CURR']
2018-07-06 20:42:54,106 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:54,106 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:54,201 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:54,201 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:54,235 logger 29 [INFO]    [make_npy] 0.000000    709
0.353553     81
0.707107     59
0.176777     47
1.060660     46
0.530330     42
0.471405     31
1.414214     30
0.589256     26
0.265165     25
0.883883     25
0.424264     24
0.848528     23
0.235702     23
0.235702     23
1.178511     22
0.377124     22
0.212132     22
0.471405     21
0.282843     21
0.141421     19
0.636396     18
0.424264     18
0.294628     16
1.131371     16
0.565685     15
1.237437     15
0.942809     15
0.329983     15
0.282843     14
0.989949     14
0.294628     13
0.565685     13
0.282843     12
0.636396     12
1.590990     12
0.412479     12
0.441942     12
0.212132     12
0.088388     12
2.121320     12
0.754247     12
0.824958     12
0.070711     11
0.866025     11
0.188562     11
0.117851     11
0.294628     11
0.132855     10
0.117851     10
           ...
2.120922      1
0.774806      1
5.357923      1
2.134092      1
0.045222      1
0.478637      1
1.942581      1
0.264130      1
5.392661      1
3.608165      1
0.115063      1
0.647819      1
1.584965      1
1.874352      1
1.194759      1
0.889117      1
1.710557      1
3.784025      1
0.775707      1
0.324105      1
2.268902      1
0.026766      1
7.435703      1
0.652935      1
0.431072      1
0.978907      1
1.563377      1
0.798472      1
0.472221      1
2.801988      1
2.402424      1
0.024166      1
0.485315      1
2.129517      1
0.852650      1
2.095054      1
1.429312      1
0.080453      1
2.111637      1
4.646460      1
1.614382      1
0.133777      1
0.674535      1
2.393913      1
3.271957      1
2.927143      1
0.227770      1
3.855743      1
0.345173      1
2.004052      1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_std@['SK_ID_CURR'], Length: 189786, dtype: int64
2018-07-06 20:42:54,235 logger 29 [INFO]    [make_npy] 0.000000    709
0.353553     81
0.707107     59
0.176777     47
1.060660     46
0.530330     42
0.471405     31
1.414214     30
0.589256     26
0.265165     25
0.883883     25
0.424264     24
0.848528     23
0.235702     23
0.235702     23
1.178511     22
0.377124     22
0.212132     22
0.471405     21
0.282843     21
0.141421     19
0.636396     18
0.424264     18
0.294628     16
1.131371     16
0.565685     15
1.237437     15
0.942809     15
0.329983     15
0.282843     14
0.989949     14
0.294628     13
0.565685     13
0.282843     12
0.636396     12
1.590990     12
0.412479     12
0.441942     12
0.212132     12
0.088388     12
2.121320     12
0.754247     12
0.824958     12
0.070711     11
0.866025     11
0.188562     11
0.117851     11
0.294628     11
0.132855     10
0.117851     10
           ...
2.120922      1
0.774806      1
5.357923      1
2.134092      1
0.045222      1
0.478637      1
1.942581      1
0.264130      1
5.392661      1
3.608165      1
0.115063      1
0.647819      1
1.584965      1
1.874352      1
1.194759      1
0.889117      1
1.710557      1
3.784025      1
0.775707      1
0.324105      1
2.268902      1
0.026766      1
7.435703      1
0.652935      1
0.431072      1
0.978907      1
1.563377      1
0.798472      1
0.472221      1
2.801988      1
2.402424      1
0.024166      1
0.485315      1
2.129517      1
0.852650      1
2.095054      1
1.429312      1
0.080453      1
2.111637      1
4.646460      1
1.614382      1
0.133777      1
0.674535      1
2.393913      1
3.271957      1
2.927143      1
0.227770      1
3.855743      1
0.345173      1
2.004052      1
Name: app_AMT_INCOME_TOTAL_div_AMT_APPLICATION@_std@['SK_ID_CURR'], Length: 189786, dtype: int64
2018-07-06 20:42:54,305 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:54,305 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:54,453 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:54,453 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:54,561 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:54,561 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:54,615 logger 29 [INFO]    [make_npy]  0.000000       1177
-375.000000       38
-225.000000       33
-450.000000       30
-300.000000       26
-321.428571       24
-180.000000       24
-90.000000        23
-281.250000       22
-135.000000       22
-529.411765       22
-270.000000       21
-562.500000       21
-308.219178       21
-750.000000       20
-362.903226       20
-112.500000       20
-202.702703       19
-206.422018       19
-642.857143       19
-255.681818       19
-250.000000       19
-360.000000       18
-432.692308       18
-548.780488       18
-500.000000       18
-241.935484       18
-542.168675       18
-247.252747       18
-315.000000       18
-608.108108       17
-371.900826       17
-351.562500       17
-661.764706       17
-703.125000       17
-173.076923       17
-304.054054       17
-900.000000       17
-214.285714       16
-150.000000       16
-468.750000       16
-348.837209       16
-187.500000       16
-257.142857       16
-335.820896       16
-274.390244       16
-236.842105       16
-316.901408       15
-391.304348       15
-381.355932       15
                ...
-345.535714        1
-372.491639        1
-388.549180        1
-804.493810        1
-742.378924        1
-296.684369        1
-385.565789        1
-583.303797        1
-214.946591        1
-2797.188312       1
-3062.250490       1
-131.012658        1
-1637.207891       1
-935.046113        1
-875.173629        1
-195.123322        1
-904.949063        1
-98.482054         1
-3253.112918       1
-206.938716        1
-732.629834        1
-485.031646        1
-2039.948549       1
-1194.957983       1
-2144.747525       1
-1661.660314       1
-1450.279740       1
-429.902913        1
-138.486683        1
-49.443485         1
-52.733668         1
-198.116046        1
-199.243511        1
-739.400870        1
-809.476531        1
-939.910026        1
-297.953451        1
-208.794562        1
-850.558989        1
-3584.320069       1
-600.470958        1
-244.653614        1
-50.965259         1
-239.434903        1
-1520.400000       1
-60.387097         1
-351.935841        1
-759.854958        1
-227.656452        1
-2072.985914       1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 294037, dtype: int64
2018-07-06 20:42:54,615 logger 29 [INFO]    [make_npy]  0.000000       1177
-375.000000       38
-225.000000       33
-450.000000       30
-300.000000       26
-321.428571       24
-180.000000       24
-90.000000        23
-281.250000       22
-135.000000       22
-529.411765       22
-270.000000       21
-562.500000       21
-308.219178       21
-750.000000       20
-362.903226       20
-112.500000       20
-202.702703       19
-206.422018       19
-642.857143       19
-255.681818       19
-250.000000       19
-360.000000       18
-432.692308       18
-548.780488       18
-500.000000       18
-241.935484       18
-542.168675       18
-247.252747       18
-315.000000       18
-608.108108       17
-371.900826       17
-351.562500       17
-661.764706       17
-703.125000       17
-173.076923       17
-304.054054       17
-900.000000       17
-214.285714       16
-150.000000       16
-468.750000       16
-348.837209       16
-187.500000       16
-257.142857       16
-335.820896       16
-274.390244       16
-236.842105       16
-316.901408       15
-391.304348       15
-381.355932       15
                ...
-345.535714        1
-372.491639        1
-388.549180        1
-804.493810        1
-742.378924        1
-296.684369        1
-385.565789        1
-583.303797        1
-214.946591        1
-2797.188312       1
-3062.250490       1
-131.012658        1
-1637.207891       1
-935.046113        1
-875.173629        1
-195.123322        1
-904.949063        1
-98.482054         1
-3253.112918       1
-206.938716        1
-732.629834        1
-485.031646        1
-2039.948549       1
-1194.957983       1
-2144.747525       1
-1661.660314       1
-1450.279740       1
-429.902913        1
-138.486683        1
-49.443485         1
-52.733668         1
-198.116046        1
-199.243511        1
-739.400870        1
-809.476531        1
-939.910026        1
-297.953451        1
-208.794562        1
-850.558989        1
-3584.320069       1
-600.470958        1
-244.653614        1
-50.965259         1
-239.434903        1
-1520.400000       1
-60.387097         1
-351.935841        1
-759.854958        1
-227.656452        1
-2072.985914       1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 294037, dtype: int64

2018-07-06 20:42:55,770 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:55,770 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:55,924 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:55,924 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:55,990 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:55,990 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:56,082 logger 29 [INFO]    [make_npy] -225.000000     39
-375.000000     35
-90.000000      34
-300.000000     31
-187.500000     29
-450.000000     27
-321.428571     26
-281.250000     26
-180.000000     24
-250.000000     23
-135.000000     23
-255.681818     23
-112.500000     21
-202.702703     21
-247.252747     21
-362.903226     20
-150.000000     19
-548.780488     19
-308.219178     19
-206.422018     19
-351.562500     19
-529.411765     19
-241.935484     19
-214.285714     19
-267.857143     18
-468.750000     18
-562.500000     18
-220.588235     17
-542.168675     17
-391.304348     17
-511.363636     17
-500.000000     17
-108.000000     17
-579.896907     17
-270.000000     17
-608.108108     17
-304.054054     17
-401.785714     17
-192.307692     17
-173.076923     17
-288.461538     16
-67.500000      16
-335.820896     16
-681.818182     16
-642.857143     16
-128.571429     16
-244.565217     16
-535.714286     16
-236.842105     16
-75.000000      16
                ..
-117.233806      1
-182.480032      1
-49.550879       1
-225.897321      1
-647.007042      1
-288.926606      1
-318.962338      1
-32.562500       1
-222.813299      1
-168.018502      1
-547.385120      1
-53.509198       1
-49.543395       1
-822.556657      1
-51.989730       1
-131.012658      1
-351.935841      1
-259.843359      1
-163.571203      1
-395.968310      1
-101.242077      1
-499.407639      1
-256.162500      1
-316.522360      1
-179.105114      1
-203.877863      1
-345.197044      1
-703.937956      1
-195.123322      1
-289.948454      1
-227.656452      1
-177.797809      1
-205.610952      1
-276.413872      1
-152.774068      1
-1077.067819     1
-154.471154      1
-118.729617      1
-1013.545377     1
-125.282984      1
-186.245819      1
-269.003117      1
-201.123453      1
-371.189462      1
-290.758231      1
-385.565789      1
-407.121154      1
-558.892996      1
-214.946591      1
-128.000000      1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 293516, dtype: int64
2018-07-06 20:42:56,082 logger 29 [INFO]    [make_npy] -225.000000     39
-375.000000     35
-90.000000      34
-300.000000     31
-187.500000     29
-450.000000     27
-321.428571     26
-281.250000     26
-180.000000     24
-250.000000     23
-135.000000     23
-255.681818     23
-112.500000     21
-202.702703     21
-247.252747     21
-362.903226     20
-150.000000     19
-548.780488     19
-308.219178     19
-206.422018     19
-351.562500     19
-529.411765     19
-241.935484     19
-214.285714     19
-267.857143     18
-468.750000     18
-562.500000     18
-220.588235     17
-542.168675     17
-391.304348     17
-511.363636     17
-500.000000     17
-108.000000     17
-579.896907     17
-270.000000     17
-608.108108     17
-304.054054     17
-401.785714     17
-192.307692     17
-173.076923     17
-288.461538     16
-67.500000      16
-335.820896     16
-681.818182     16
-642.857143     16
-128.571429     16
-244.565217     16
-535.714286     16
-236.842105     16
-75.000000      16
                ..
-117.233806      1
-182.480032      1
-49.550879       1
-225.897321      1
-647.007042      1
-288.926606      1
-318.962338      1
-32.562500       1
-222.813299      1
-168.018502      1
-547.385120      1
-53.509198       1
-49.543395       1
-822.556657      1
-51.989730       1
-131.012658      1
-351.935841      1
-259.843359      1
-163.571203      1
-395.968310      1
-101.242077      1
-499.407639      1
-256.162500      1
-316.522360      1
-179.105114      1
-203.877863      1
-345.197044      1
-703.937956      1
-195.123322      1
-289.948454      1
-227.656452      1
-177.797809      1
-205.610952      1
-276.413872      1
-152.774068      1
-1077.067819     1
-154.471154      1
-118.729617      1
-1013.545377     1
-125.282984      1
-186.245819      1
-269.003117      1
-201.123453      1
-371.189462      1
-290.758231      1
-385.565789      1
-407.121154      1
-558.892996      1
-214.946591      1
-128.000000      1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 293516, dtype: int64
2018-07-06 20:42:56,378 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:42:56,378 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:42:56,504 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:56,504 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:56,638 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:56,638 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:56,708 logger 29 [INFO]    [make_npy] -45.000000     93
-90.000000     85
-135.000000    50
-225.000000    50
-180.000000    47
-112.500000    46
-67.500000     45
-236.842105    44
-150.000000    43
-75.000000     41
-128.571429    40
-187.500000    38
-133.928571    38
-115.384615    37
-125.000000    37
-173.076923    37
-241.935484    36
-126.404494    36
-100.000000    36
-60.000000     36
-375.000000    36
-206.422018    35
-321.428571    35
-212.264151    35
-170.454545    35
-300.000000    35
-136.363636    35
-247.252747    34
-132.743363    34
-189.075630    34
-69.230769     34
-208.333333    34
-250.000000    34
-49.500000     34
-202.702703    33
-118.421053    33
-214.285714    33
-126.760563    33
-113.636364    32
-97.826087     32
-135.542169    32
-56.250000     32
-139.751553    32
-281.250000    32
-81.818182     31
-192.307692    31
-95.744681     31
-142.405063    31
-132.352941    31
-119.047619    31
               ..
-95.909953      1
-234.082949     1
-189.691011     1
-63.853211      1
-133.510453     1
-396.520984     1
-93.585600      1
-60.618067      1
-521.138837     1
-61.639622      1
-89.916974      1
-30.709553      1
-126.088816     1
-47.630829      1
-410.097656     1
-80.961039      1
-44.983302      1
-468.938710     1
-903.578529     1
-66.072508      1
-66.489185      1
-244.170000     1
-93.730867      1
-142.781866     1
-76.390103      1
-64.953618      1
-90.762712      1
-92.708024      1
-99.928058      1
-255.147887     1
-58.753709      1
-24.070381      1
-445.127953     1
-377.029155     1
-134.711009     1
-57.084270      1
-83.325758      1
-32.285959      1
-143.104423     1
-36.441308      1
-251.375000     1
-70.472050      1
-57.173913      1
-410.429348     1
-22.203947      1
-496.147590     1
-168.808290     1
-74.633441      1
-758.066742     1
-36.901528      1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 253617, dtype: int64
2018-07-06 20:42:56,708 logger 29 [INFO]    [make_npy] -45.000000     93
-90.000000     85
-135.000000    50
-225.000000    50
-180.000000    47
-112.500000    46
-67.500000     45
-236.842105    44
-150.000000    43
-75.000000     41
-128.571429    40
-187.500000    38
-133.928571    38
-115.384615    37
-125.000000    37
-173.076923    37
-241.935484    36
-126.404494    36
-100.000000    36
-60.000000     36
-375.000000    36
-206.422018    35
-321.428571    35
-212.264151    35
-170.454545    35
-300.000000    35
-136.363636    35
-247.252747    34
-132.743363    34
-189.075630    34
-69.230769     34
-208.333333    34
-250.000000    34
-49.500000     34
-202.702703    33
-118.421053    33
-214.285714    33
-126.760563    33
-113.636364    32
-97.826087     32
-135.542169    32
-56.250000     32
-139.751553    32
-281.250000    32
-81.818182     31
-192.307692    31
-95.744681     31
-142.405063    31
-132.352941    31
-119.047619    31
               ..
-95.909953      1
-234.082949     1
-189.691011     1
-63.853211      1
-133.510453     1
-396.520984     1
-93.585600      1
-60.618067      1
-521.138837     1
-61.639622      1
-89.916974      1
-30.709553      1
-126.088816     1
-47.630829      1
-410.097656     1
-80.961039      1
-44.983302      1
-468.938710     1
-903.578529     1
-66.072508      1
-66.489185      1
-244.170000     1
-93.730867      1
-142.781866     1
-76.390103      1
-64.953618      1
-90.762712      1
-92.708024      1
-99.928058      1
-255.147887     1
-58.753709      1
-24.070381      1
-445.127953     1
-377.029155     1
-134.711009     1
-57.084270      1
-83.325758      1
-32.285959      1
-143.104423     1
-36.441308      1
-251.375000     1
-70.472050      1
-57.173913      1
-410.429348     1
-22.203947      1
-496.147590     1
-168.808290     1
-74.633441      1
-758.066742     1
-36.901528      1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 253617, dtype: int64

2018-07-06 20:42:56,732 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:42:56,732 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:42:56,914 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:56,914 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:56,997 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:56,997 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:57,045 logger 29 [INFO]    [make_npy] -450.000000     111
-375.000000     105
-681.818182     105
-346.153846     104
-592.105263     100
-409.090909      99
-608.108108      98
-642.857143      97
-750.000000      93
-576.923077      93
-562.500000      92
-432.692308      90
-535.714286      90
-703.125000      88
-548.780488      88
-900.000000      87
-321.428571      86
-661.764706      85
-500.000000      85
-300.000000      85
-441.176471      84
-340.909091      84
-478.723404      83
-391.304348      82
-225.000000      80
-401.785714      80
-250.000000      79
-1000.000000     77
-387.931034      77
-803.571429      75
-918.367347      75
-330.882353      75
-616.438356      75
-288.461538      75
-1125.000000     75
-381.355932      74
-473.684211      74
-600.000000      73
-569.620253      73
-584.415584      73
-725.806452      73
-424.528302      73
-394.736842      73
-459.183673      73
-978.260870      73
-775.862069      72
-511.363636      72
-671.641791      72
-468.750000      71
-652.173913      71
               ...
-154.402052       1
-250.852436       1
-205.324890       1
-458.193686       1
-249.725000       1
-510.646552       1
-207.881549       1
-304.212676       1
-146.564246       1
-288.306613       1
-632.790188       1
-292.349057       1
-271.225000       1
-361.149635       1
-51.639344        1
-105.249622       1
-431.002994       1
-108.696133       1
-185.433511       1
-274.182053       1
-304.377238       1
-83.084633        1
-222.517582       1
-115.158031       1
-656.698565       1
-92.083894        1
-665.121951       1
-197.770777       1
-20.475880        1
-628.490973       1
-231.113730       1
-109.785458       1
-154.810496       1
-77.993492        1
-217.342437       1
-695.760599       1
-94.954963        1
-402.548077       1
-250.216718       1
-99.395604        1
-232.292917       1
-230.781457       1
-114.948738       1
-326.265390       1
-181.169856       1
-117.180481       1
-645.220280       1
-141.969925       1
-121.168327       1
-128.000000       1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 202698, dtype: int64
2018-07-06 20:42:57,045 logger 29 [INFO]    [make_npy] -450.000000     111
-375.000000     105
-681.818182     105
-346.153846     104
-592.105263     100
-409.090909      99
-608.108108      98
-642.857143      97
-750.000000      93
-576.923077      93
-562.500000      92
-432.692308      90
-535.714286      90
-703.125000      88
-548.780488      88
-900.000000      87
-321.428571      86
-661.764706      85
-500.000000      85
-300.000000      85
-441.176471      84
-340.909091      84
-478.723404      83
-391.304348      82
-225.000000      80
-401.785714      80
-250.000000      79
-1000.000000     77
-387.931034      77
-803.571429      75
-918.367347      75
-330.882353      75
-616.438356      75
-288.461538      75
-1125.000000     75
-381.355932      74
-473.684211      74
-600.000000      73
-569.620253      73
-584.415584      73
-725.806452      73
-424.528302      73
-394.736842      73
-459.183673      73
-978.260870      73
-775.862069      72
-511.363636      72
-671.641791      72
-468.750000      71
-652.173913      71
               ...
-154.402052       1
-250.852436       1
-205.324890       1
-458.193686       1
-249.725000       1
-510.646552       1
-207.881549       1
-304.212676       1
-146.564246       1
-288.306613       1
-632.790188       1
-292.349057       1
-271.225000       1
-361.149635       1
-51.639344        1
-105.249622       1
-431.002994       1
-108.696133       1
-185.433511       1
-274.182053       1
-304.377238       1
-83.084633        1
-222.517582       1
-115.158031       1
-656.698565       1
-92.083894        1
-665.121951       1
-197.770777       1
-20.475880        1
-628.490973       1
-231.113730       1
-109.785458       1
-154.810496       1
-77.993492        1
-217.342437       1
-695.760599       1
-94.954963        1
-402.548077       1
-250.216718       1
-99.395604        1
-232.292917       1
-230.781457       1
-114.948738       1
-326.265390       1
-181.169856       1
-117.180481       1
-645.220280       1
-141.969925       1
-121.168327       1
-128.000000       1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 202698, dtype: int64
2018-07-06 20:42:57,067 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:42:57,067 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:42:57,258 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:57,258 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:57,365 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:57,365 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:57,392 logger 29 [INFO]    [make_npy] 0.000000      709
31.819805      11
79.549513      10
47.729708       6
95.459415       6
265.165043      6
115.708382      6
46.656606       5
132.582521      5
127.279221      5
63.639610       5
6.363961        5
53.033009       5
190.918831      5
50.911688       5
22.273864       5
89.886455       5
94.984493       5
9.545942        5
159.099026      5
39.774756       4
12.374369       4
88.388348       4
99.436891       4
7.071068        4
38.183766       4
267.393321      4
192.264684      4
274.308665      4
76.367532       4
70.710678       4
29.698485       4
20.139117       4
26.297360       4
111.369318      4
397.747564      4
116.672619      4
57.275649       4
12.727922       4
25.293963       4
454.568645      4
43.708524       4
47.492246       4
7.954951        4
318.198052      4
378.807204      4
129.348801      4
121.141390      4
83.297919       4
144.964944      4
             ...
127.622575      1
54.810141       1
125.892326      1
486.343885      1
17.739116       1
64.016196       1
4.806614        1
695.133271      1
106.485444      1
211.732452      1
405.418233      1
125.904442      1
341.067988      1
60.775828       1
148.358611      1
130.924428      1
84.406423       1
48.302822       1
245.601846      1
57.329398       1
161.097771      1
148.033911      1
522.750636      1
26.294742       1
54.449742       1
20.685892       1
99.139510       1
210.462411      1
32.774811       1
23.596435       1
103.594786      1
51.799926       1
93.522523       1
393.026442      1
485.942650      1
191.204634      1
21.671882       1
44.824421       1
60.237304       1
307.882276      1
0.471199        1
261.099179      1
303.614504      1
72.027576       1
987.497688      1
75.347723       1
59.018075       1
282.773883      1
257.711741      1
82.139349       1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 192074, dtype: int64
2018-07-06 20:42:57,392 logger 29 [INFO]    [make_npy] 0.000000      709
31.819805      11
79.549513      10
47.729708       6
95.459415       6
265.165043      6
115.708382      6
46.656606       5
132.582521      5
127.279221      5
63.639610       5
6.363961        5
53.033009       5
190.918831      5
50.911688       5
22.273864       5
89.886455       5
94.984493       5
9.545942        5
159.099026      5
39.774756       4
12.374369       4
88.388348       4
99.436891       4
7.071068        4
38.183766       4
267.393321      4
192.264684      4
274.308665      4
76.367532       4
70.710678       4
29.698485       4
20.139117       4
26.297360       4
111.369318      4
397.747564      4
116.672619      4
57.275649       4
12.727922       4
25.293963       4
454.568645      4
43.708524       4
47.492246       4
7.954951        4
318.198052      4
378.807204      4
129.348801      4
121.141390      4
83.297919       4
144.964944      4
             ...
127.622575      1
54.810141       1
125.892326      1
486.343885      1
17.739116       1
64.016196       1
4.806614        1
695.133271      1
106.485444      1
211.732452      1
405.418233      1
125.904442      1
341.067988      1
60.775828       1
148.358611      1
130.924428      1
84.406423       1
48.302822       1
245.601846      1
57.329398       1
161.097771      1
148.033911      1
522.750636      1
26.294742       1
54.449742       1
20.685892       1
99.139510       1
210.462411      1
32.774811       1
23.596435       1
103.594786      1
51.799926       1
93.522523       1
393.026442      1
485.942650      1
191.204634      1
21.671882       1
44.824421       1
60.237304       1
307.882276      1
0.471199        1
261.099179      1
303.614504      1
72.027576       1
987.497688      1
75.347723       1
59.018075       1
282.773883      1
257.711741      1
82.139349       1
Name: AMT_APPLICATION_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 192074, dtype: int64

2018-07-06 20:42:57,437 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:57,437 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:57,546 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:57,546 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:57,629 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:57,629 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:57,699 logger 29 [INFO]    [make_npy]  0.000000e+00    57489
-4.500000e+03      136
-5.625000e+03      134
-1.125000e+04      133
-7.500000e+03      129
-2.250000e+04      124
-1.500000e+04      112
-9.000000e+03      109
-3.750000e+03       93
-6.428571e+03       92
 inf                89
-2.250000e+03       77
-4.090909e+03       77
-5.000000e+03       76
-2.812500e+03       74
-3.214286e+03       72
-4.500000e+04       71
-3.000000e+03       69
-1.350000e+04       65
-1.875000e+04       64
-6.750000e+03       63
-2.700000e+04       61
-1.800000e+03       61
-8.437500e+03       61
-1.687500e+04       58
-2.812500e+04       58
-1.500000e+03       58
-3.461538e+03       58
-2.500000e+03       57
-1.800000e+04       54
-5.625000e+04       53
-3.375000e+04       52
-2.700000e+03       51
-3.375000e+03       51
-9.642857e+03       49
-1.730769e+03       48
-1.406250e+04       48
-1.875000e+03       47
-3.000000e+04       47
-1.022727e+04       47
-1.250000e+04       46
-2.045455e+03       45
-2.142857e+03       45
-4.218750e+03       44
-5.192308e+03       43
-1.285714e+04       43
-1.323529e+03       42
-1.000000e+04       42
-1.607143e+04       41
-3.750000e+04       41
                 ...
-1.654802e+03        1
-1.554545e+04        1
-7.962300e+03        1
-3.441711e+02        1
-3.427165e+03        1
-1.291550e+03        1
-9.512234e+03        1
-1.135102e+04        1
-3.361875e+03        1
-9.661765e+02        1
-4.048767e+03        1
-6.185567e+02        1
-7.859657e+03        1
-2.472792e+04        1
-6.391423e+03        1
-1.123115e+03        1
-2.689450e+04        1
-2.053227e+04        1
-1.205279e+03        1
-5.907951e+03        1
-1.629433e+03        1
-8.404375e+02        1
-6.634646e+03        1
-6.723844e+03        1
-4.141154e+03        1
-3.362125e+03        1
-1.724462e+04        1
-1.365486e+04        1
-1.473508e+04        1
-2.899432e+03        1
-5.273289e+03        1
-3.290083e+04        1
-3.995182e+04        1
-2.273568e+03        1
-2.689650e+04        1
-1.827951e+04        1
-1.318459e+04        1
-2.097880e+02        1
-5.257500e+03        1
-1.226270e+03        1
-4.505814e+03        1
-5.013265e+04        1
-6.928333e+02        1
-6.522689e+03        1
-3.241007e+02        1
-2.437113e+03        1
-1.065926e+03        1
-3.246273e+02        1
-1.004766e+03        1
-3.655556e+02        1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 224818, dtype: int64
2018-07-06 20:42:57,699 logger 29 [INFO]    [make_npy]  0.000000e+00    57489
-4.500000e+03      136
-5.625000e+03      134
-1.125000e+04      133
-7.500000e+03      129
-2.250000e+04      124
-1.500000e+04      112
-9.000000e+03      109
-3.750000e+03       93
-6.428571e+03       92
 inf                89
-2.250000e+03       77
-4.090909e+03       77
-5.000000e+03       76
-2.812500e+03       74
-3.214286e+03       72
-4.500000e+04       71
-3.000000e+03       69
-1.350000e+04       65
-1.875000e+04       64
-6.750000e+03       63
-2.700000e+04       61
-1.800000e+03       61
-8.437500e+03       61
-1.687500e+04       58
-2.812500e+04       58
-1.500000e+03       58
-3.461538e+03       58
-2.500000e+03       57
-1.800000e+04       54
-5.625000e+04       53
-3.375000e+04       52
-2.700000e+03       51
-3.375000e+03       51
-9.642857e+03       49
-1.730769e+03       48
-1.406250e+04       48
-1.875000e+03       47
-3.000000e+04       47
-1.022727e+04       47
-1.250000e+04       46
-2.045455e+03       45
-2.142857e+03       45
-4.218750e+03       44
-5.192308e+03       43
-1.285714e+04       43
-1.323529e+03       42
-1.000000e+04       42
-1.607143e+04       41
-3.750000e+04       41
                 ...
-1.654802e+03        1
-1.554545e+04        1
-7.962300e+03        1
-3.441711e+02        1
-3.427165e+03        1
-1.291550e+03        1
-9.512234e+03        1
-1.135102e+04        1
-3.361875e+03        1
-9.661765e+02        1
-4.048767e+03        1
-6.185567e+02        1
-7.859657e+03        1
-2.472792e+04        1
-6.391423e+03        1
-1.123115e+03        1
-2.689450e+04        1
-2.053227e+04        1
-1.205279e+03        1
-5.907951e+03        1
-1.629433e+03        1
-8.404375e+02        1
-6.634646e+03        1
-6.723844e+03        1
-4.141154e+03        1
-3.362125e+03        1
-1.724462e+04        1
-1.365486e+04        1
-1.473508e+04        1
-2.899432e+03        1
-5.273289e+03        1
-3.290083e+04        1
-3.995182e+04        1
-2.273568e+03        1
-2.689650e+04        1
-1.827951e+04        1
-1.318459e+04        1
-2.097880e+02        1
-5.257500e+03        1
-1.226270e+03        1
-4.505814e+03        1
-5.013265e+04        1
-6.928333e+02        1
-6.522689e+03        1
-3.241007e+02        1
-2.437113e+03        1
-1.065926e+03        1
-3.246273e+02        1
-1.004766e+03        1
-3.655556e+02        1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 224818, dtype: int64
2018-07-06 20:42:57,782 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:57,782 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:57,902 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:57,902 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:57,980 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:57,980 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:58,030 logger 29 [INFO]    [make_npy] -5.625000e+03    137
-4.500000e+03    133
-1.125000e+04    126
-7.500000e+03    124
-2.250000e+04    116
-3.750000e+03    110
-9.000000e+03    109
-1.500000e+04    103
-6.428571e+03     97
-2.812500e+03     92
 inf              89
-2.250000e+03     79
-5.000000e+03     77
-2.500000e+03     73
-3.000000e+03     72
-3.214286e+03     70
-4.090909e+03     66
-6.750000e+03     65
-1.875000e+04     64
-1.800000e+03     61
-1.350000e+04     59
-3.461538e+03     57
-1.687500e+04     56
-8.437500e+03     55
-3.375000e+03     55
-2.812500e+04     55
-1.500000e+03     55
-4.500000e+04     54
-1.875000e+03     53
-2.142857e+03     51
-5.192308e+03     50
-1.406250e+04     50
-2.045455e+03     49
-3.375000e+04     48
-2.700000e+04     48
-6.000000e+03     48
-9.000000e+02     48
-1.730769e+03     47
-1.406250e+03     47
-5.625000e+04     46
-2.700000e+03     46
-1.250000e+03     45
-3.600000e+03     45
-1.323529e+03     45
-4.218750e+03     44
-1.125000e+03     43
-9.375000e+03     43
-7.031250e+03     43
-1.250000e+04     42
-9.642857e+03     42
                ...
-1.500707e+03      1
-2.651605e+03      1
-3.746130e+03      1
-1.875872e+03      1
-2.430574e+03      1
-6.773625e+03      1
-6.290654e+03      1
-7.407439e+02      1
-2.551308e+03      1
-3.774620e+03      1
-1.234890e+02      1
-4.380643e+03      1
-1.860619e+03      1
-1.528105e+03      1
-4.563000e+03      1
-1.046102e+03      1
-4.292775e+03      1
-4.313587e+03      1
-2.436207e+03      1
-3.320523e+03      1
-7.510500e+03      1
-4.555862e+02      1
-7.241379e+03      1
-1.544118e+04      1
-3.073068e+03      1
-2.035076e+03      1
-1.131073e+03      1
-4.087688e+03      1
-1.139559e+03      1
-8.360646e+02      1
-1.347597e+03      1
-3.423882e+02      1
-3.387094e+03      1
-9.068625e+02      1
-3.037059e+03      1
-8.986500e+02      1
-1.988776e+03      1
-4.545120e+03      1
-4.154694e+03      1
-1.846929e+03      1
-2.841207e+03      1
-4.298775e+03      1
-1.703940e+04      1
-3.387000e+03      1
-9.319527e+02      1
-3.081086e+03      1
-5.116100e+02      1
-7.001710e+02      1
-3.450420e+04      1
-4.912984e+02      1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 224907, dtype: int64

2018-07-06 20:42:58,030 logger 29 [INFO]    [make_npy] -5.625000e+03    137
-4.500000e+03    133
-1.125000e+04    126
-7.500000e+03    124
-2.250000e+04    116
-3.750000e+03    110
-9.000000e+03    109
-1.500000e+04    103
-6.428571e+03     97
-2.812500e+03     92
 inf              89
-2.250000e+03     79
-5.000000e+03     77
-2.500000e+03     73
-3.000000e+03     72
-3.214286e+03     70
-4.090909e+03     66
-6.750000e+03     65
-1.875000e+04     64
-1.800000e+03     61
-1.350000e+04     59
-3.461538e+03     57
-1.687500e+04     56
-8.437500e+03     55
-3.375000e+03     55
-2.812500e+04     55
-1.500000e+03     55
-4.500000e+04     54
-1.875000e+03     53
-2.142857e+03     51
-5.192308e+03     50
-1.406250e+04     50
-2.045455e+03     49
-3.375000e+04     48
-2.700000e+04     48
-6.000000e+03     48
-9.000000e+02     48
-1.730769e+03     47
-1.406250e+03     47
-5.625000e+04     46
-2.700000e+03     46
-1.250000e+03     45
-3.600000e+03     45
-1.323529e+03     45
-4.218750e+03     44
-1.125000e+03     43
-9.375000e+03     43
-7.031250e+03     43
-1.250000e+04     42
-9.642857e+03     42
                ...
-1.500707e+03      1
-2.651605e+03      1
-3.746130e+03      1
-1.875872e+03      1
-2.430574e+03      1
-6.773625e+03      1
-6.290654e+03      1
-7.407439e+02      1
-2.551308e+03      1
-3.774620e+03      1
-1.234890e+02      1
-4.380643e+03      1
-1.860619e+03      1
-1.528105e+03      1
-4.563000e+03      1
-1.046102e+03      1
-4.292775e+03      1
-4.313587e+03      1
-2.436207e+03      1
-3.320523e+03      1
-7.510500e+03      1
-4.555862e+02      1
-7.241379e+03      1
-1.544118e+04      1
-3.073068e+03      1
-2.035076e+03      1
-1.131073e+03      1
-4.087688e+03      1
-1.139559e+03      1
-8.360646e+02      1
-1.347597e+03      1
-3.423882e+02      1
-3.387094e+03      1
-9.068625e+02      1
-3.037059e+03      1
-8.986500e+02      1
-1.988776e+03      1
-4.545120e+03      1
-4.154694e+03      1
-1.846929e+03      1
-2.841207e+03      1
-4.298775e+03      1
-1.703940e+04      1
-3.387000e+03      1
-9.319527e+02      1
-3.081086e+03      1
-5.116100e+02      1
-7.001710e+02      1
-3.450420e+04      1
-4.912984e+02      1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 224907, dtype: int64
2018-07-06 20:42:58,082 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:42:58,082 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:42:58,229 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:58,229 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:58,349 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:58,349 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:58,403 logger 29 [INFO]    [make_npy] -4.500000e+03    240
-1.125000e+04    239
-7.500000e+03    227
-5.625000e+03    222
-3.750000e+03    187
-9.000000e+03    181
-2.250000e+03    178
-6.428571e+03    174
-1.500000e+04    172
-2.812500e+03    170
-3.214286e+03    156
-1.500000e+03    154
-3.000000e+03    151
-2.250000e+04    150
-2.500000e+03    142
-4.090909e+03    135
-1.800000e+03    131
-1.730769e+03    130
-1.125000e+03    129
-9.000000e+02    126
-1.250000e+03    122
-1.875000e+03    122
-2.045455e+03    121
-3.461538e+03    118
-1.406250e+03    118
-1.323529e+03    115
-1.607143e+03    115
-2.142857e+03    108
-5.000000e+03    104
-2.368421e+03    101
-2.647059e+03    100
-1.956522e+03     98
-3.375000e+03     93
-7.500000e+02     92
-1.350000e+04     91
-2.700000e+03     90
-9.375000e+02     89
 inf              89
-1.285714e+03     88
-6.750000e+03     88
-8.437500e+03     88
-1.687500e+04     84
-4.500000e+04     83
-1.071429e+03     81
-4.500000e+02     80
-9.642857e+03     80
-1.184211e+03     80
-5.192308e+03     80
-5.625000e+02     78
-1.153846e+03     76
                ...
-1.513895e+03      1
-5.139000e+03      1
-6.060462e+02      1
-1.686150e+04      1
-1.660369e+03      1
-3.517875e+03      1
-3.061957e+02      1
-1.428446e+03      1
-2.376529e+02      1
-4.286100e+03      1
-1.896882e+03      1
-2.770244e+02      1
-1.776695e+03      1
-2.489032e+02      1
-2.928000e+03      1
-1.104713e+03      1
-7.910565e+02      1
-4.280850e+03      1
-1.609364e+02      1
-5.656705e+03      1
-2.888289e+03      1
-3.587264e+02      1
-9.207692e+01      1
-6.324324e+02      1
-3.883531e+02      1
-4.499735e+03      1
-9.433486e+01      1
-2.437059e+02      1
-1.676520e+02      1
-1.582405e+03      1
-4.339886e+02      1
-3.415500e+04      1
-1.760741e+03      1
-1.389560e+03      1
-6.739390e+02      1
-2.110673e+03      1
-2.617412e+02      1
-3.749447e+03      1
-1.173774e+02      1
-1.183230e+03      1
-1.074014e+03      1
-5.077154e+02      1
-3.952904e+03      1
-8.088300e+02      1
-3.053820e+02      1
-1.890145e+03      1
-1.090092e+02      1
-1.767398e+02      1
-6.797340e+03      1
-1.944280e+02      1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 176701, dtype: int64
2018-07-06 20:42:58,403 logger 29 [INFO]    [make_npy] -4.500000e+03    240
-1.125000e+04    239
-7.500000e+03    227
-5.625000e+03    222
-3.750000e+03    187
-9.000000e+03    181
-2.250000e+03    178
-6.428571e+03    174
-1.500000e+04    172
-2.812500e+03    170
-3.214286e+03    156
-1.500000e+03    154
-3.000000e+03    151
-2.250000e+04    150
-2.500000e+03    142
-4.090909e+03    135
-1.800000e+03    131
-1.730769e+03    130
-1.125000e+03    129
-9.000000e+02    126
-1.250000e+03    122
-1.875000e+03    122
-2.045455e+03    121
-3.461538e+03    118
-1.406250e+03    118
-1.323529e+03    115
-1.607143e+03    115
-2.142857e+03    108
-5.000000e+03    104
-2.368421e+03    101
-2.647059e+03    100
-1.956522e+03     98
-3.375000e+03     93
-7.500000e+02     92
-1.350000e+04     91
-2.700000e+03     90
-9.375000e+02     89
 inf              89
-1.285714e+03     88
-6.750000e+03     88
-8.437500e+03     88
-1.687500e+04     84
-4.500000e+04     83
-1.071429e+03     81
-4.500000e+02     80
-9.642857e+03     80
-1.184211e+03     80
-5.192308e+03     80
-5.625000e+02     78
-1.153846e+03     76
                ...
-1.513895e+03      1
-5.139000e+03      1
-6.060462e+02      1
-1.686150e+04      1
-1.660369e+03      1
-3.517875e+03      1
-3.061957e+02      1
-1.428446e+03      1
-2.376529e+02      1
-4.286100e+03      1
-1.896882e+03      1
-2.770244e+02      1
-1.776695e+03      1
-2.489032e+02      1
-2.928000e+03      1
-1.104713e+03      1
-7.910565e+02      1
-4.280850e+03      1
-1.609364e+02      1
-5.656705e+03      1
-2.888289e+03      1
-3.587264e+02      1
-9.207692e+01      1
-6.324324e+02      1
-3.883531e+02      1
-4.499735e+03      1
-9.433486e+01      1
-2.437059e+02      1
-1.676520e+02      1
-1.582405e+03      1
-4.339886e+02      1
-3.415500e+04      1
-1.760741e+03      1
-1.389560e+03      1
-6.739390e+02      1
-2.110673e+03      1
-2.617412e+02      1
-3.749447e+03      1
-1.173774e+02      1
-1.183230e+03      1
-1.074014e+03      1
-5.077154e+02      1
-3.952904e+03      1
-8.088300e+02      1
-3.053820e+02      1
-1.890145e+03      1
-1.090092e+02      1
-1.767398e+02      1
-6.797340e+03      1
-1.944280e+02      1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 176701, dtype: int64
2018-07-06 20:42:58,429 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:42:58,429 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:42:58,546 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:58,546 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:42:58,632 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:58,632 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:58,673 logger 29 [INFO]    [make_npy] -11250.000000     640
-22500.000000     578
-4500.000000      541
-7500.000000      537
-5625.000000      525
-15000.000000     476
-9000.000000      461
-45000.000000     401
-6428.571429      393
-3750.000000      363
-2812.500000      355
-5000.000000      342
-3214.285714      336
-2250.000000      333
-3000.000000      293
-4090.909091      292
-18000.000000     267
-3461.538462      260
-18750.000000     257
-2500.000000      254
-13500.000000     254
-6750.000000      240
-12857.142857     238
-37500.000000     237
-30000.000000     230
-12500.000000     228
-28125.000000     226
-16875.000000     225
-33750.000000     221
-2045.454545      220
-14062.500000     218
-16071.428571     217
-9375.000000      215
-8437.500000      212
-56250.000000     212
-8181.818182      207
-8653.846154      205
-9642.857143      205
-10227.272727     201
-8035.714286      199
-1875.000000      197
-10000.000000     196
-7031.250000      193
-1500.000000      192
-1730.769231      188
-6000.000000      187
-2368.421053      186
-6617.647059      184
-3375.000000      184
-1800.000000      182
                 ...
-1010.953125        1
-473.024664         1
-7187.684211        1
-687.119632         1
-4018.868852        1
-6711.750000        1
-1506.705882        1
-770.161765         1
-986.957143         1
-2125.575000        1
-1677.984375        1
-2550.214286        1
-1396.666667        1
-233.361940         1
-419.673913         1
-240.928571         1
-9514.094595        1
-2244.763636        1
-873.938028         1
-3149.274194        1
-1775.036842        1
-1158.620690        1
-3354.960938        1
-1964.016000        1
-552.393443         1
-365.621625         1
-451.000000         1
-1001.571429        1
-107361.000000      1
-479.665049         1
-1154.700000        1
-892.687500         1
-3586.810345        1
-1779.827586        1
-911.938776         1
-604.054054         1
-8369.307692        1
-2387.368421        1
-3723.750000        1
-452.777344         1
-276.576923         1
-1797.879089        1
-275.043103         1
-6928.239130        1
-2901.818182        1
-178.417085         1
-616.339286         1
-114.108808         1
-2367.500000        1
-345.937500         1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 146731, dtype: int64
2018-07-06 20:42:58,673 logger 29 [INFO]    [make_npy] -11250.000000     640
-22500.000000     578
-4500.000000      541
-7500.000000      537
-5625.000000      525
-15000.000000     476
-9000.000000      461
-45000.000000     401
-6428.571429      393
-3750.000000      363
-2812.500000      355
-5000.000000      342
-3214.285714      336
-2250.000000      333
-3000.000000      293
-4090.909091      292
-18000.000000     267
-3461.538462      260
-18750.000000     257
-2500.000000      254
-13500.000000     254
-6750.000000      240
-12857.142857     238
-37500.000000     237
-30000.000000     230
-12500.000000     228
-28125.000000     226
-16875.000000     225
-33750.000000     221
-2045.454545      220
-14062.500000     218
-16071.428571     217
-9375.000000      215
-8437.500000      212
-56250.000000     212
-8181.818182      207
-8653.846154      205
-9642.857143      205
-10227.272727     201
-8035.714286      199
-1875.000000      197
-10000.000000     196
-7031.250000      193
-1500.000000      192
-1730.769231      188
-6000.000000      187
-2368.421053      186
-6617.647059      184
-3375.000000      184
-1800.000000      182
                 ...
-1010.953125        1
-473.024664         1
-7187.684211        1
-687.119632         1
-4018.868852        1
-6711.750000        1
-1506.705882        1
-770.161765         1
-986.957143         1
-2125.575000        1
-1677.984375        1
-2550.214286        1
-1396.666667        1
-233.361940         1
-419.673913         1
-240.928571         1
-9514.094595        1
-2244.763636        1
-873.938028         1
-3149.274194        1
-1775.036842        1
-1158.620690        1
-3354.960938        1
-1964.016000        1
-552.393443         1
-365.621625         1
-451.000000         1
-1001.571429        1
-107361.000000      1
-479.665049         1
-1154.700000        1
-892.687500         1
-3586.810345        1
-1779.827586        1
-911.938776         1
-604.054054         1
-8369.307692        1
-2387.368421        1
-3723.750000        1
-452.777344         1
-276.576923         1
-1797.879089        1
-275.043103         1
-6928.239130        1
-2901.818182        1
-178.417085         1
-616.339286         1
-114.108808         1
-2367.500000        1
-345.937500         1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 146731, dtype: int64
2018-07-06 20:42:58,727 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:42:58,727 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:42:58,858 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:58,858 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:58,939 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:58,939 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:58,963 logger 29 [INFO]    [make_npy] 0.000000        566
1590.990258      31
636.396103       31
3181.980515      28
318.198052       25
795.495129       24
5303.300859      22
1988.737822      22
1060.660172      22
3977.475644      22
3535.533906      21
2121.320344      19
6363.961031      18
2651.650429      17
954.594155       16
2386.485387      15
15909.902577     15
159.099026       15
7954.951288      14
994.368911       14
1767.766953      14
4242.640687      13
265.165043       13
1325.825215      13
254.558441       13
530.330086       13
397.747564       12
127.279221       12
95.459415        12
9545.941546      12
4772.970773      12
477.297077       11
10606.601718     11
548.617330       10
31.819805        10
53.033009        10
2545.584412      10
198.873782        9
883.883476        9
3314.563037       9
31819.805153      9
353.553391        9
2272.843225       9
4419.417382       9
525.026785        9
11932.426933      9
7.954951          8
707.106781        8
827.314934        8
111.369318        8
               ...
251.100584        1
737.751274        1
2.533615          1
17615.750399      1
1015.405338       1
511.913463        1
1057.359565       1
3385.853950       1
376.019295        1
962.440405        1
48.366104         1
911.954189        1
442.335066        1
3748.384453       1
2076.242154       1
4367.290484       1
209.346991        1
848.715313        1
654.413095        1
873.832459        1
705.416898        1
409.800521        1
3016.754696       1
1016.974005       1
256.898246        1
47.350043         1
267.508802        1
12056.828611      1
669.224829        1
2777.338660       1
338.040882        1
1497.920043       1
2158.291927       1
76.789298         1
4192.914443       1
779.246718        1
260.651680        1
19542.663665      1
5404.801450       1
271.632483        1
5445.391777       1
1268.764383       1
493.763069        1
359.064664        1
1.153626          1
113.919416        1
921.843268        1
872.019537        1
1743.499260       1
64616.550055      1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 154259, dtype: int64
2018-07-06 20:42:58,963 logger 29 [INFO]    [make_npy] 0.000000        566
1590.990258      31
636.396103       31
3181.980515      28
318.198052       25
795.495129       24
5303.300859      22
1988.737822      22
1060.660172      22
3977.475644      22
3535.533906      21
2121.320344      19
6363.961031      18
2651.650429      17
954.594155       16
2386.485387      15
15909.902577     15
159.099026       15
7954.951288      14
994.368911       14
1767.766953      14
4242.640687      13
265.165043       13
1325.825215      13
254.558441       13
530.330086       13
397.747564       12
127.279221       12
95.459415        12
9545.941546      12
4772.970773      12
477.297077       11
10606.601718     11
548.617330       10
31.819805        10
53.033009        10
2545.584412      10
198.873782        9
883.883476        9
3314.563037       9
31819.805153      9
353.553391        9
2272.843225       9
4419.417382       9
525.026785        9
11932.426933      9
7.954951          8
707.106781        8
827.314934        8
111.369318        8
               ...
251.100584        1
737.751274        1
2.533615          1
17615.750399      1
1015.405338       1
511.913463        1
1057.359565       1
3385.853950       1
376.019295        1
962.440405        1
48.366104         1
911.954189        1
442.335066        1
3748.384453       1
2076.242154       1
4367.290484       1
209.346991        1
848.715313        1
654.413095        1
873.832459        1
705.416898        1
409.800521        1
3016.754696       1
1016.974005       1
256.898246        1
47.350043         1
267.508802        1
12056.828611      1
669.224829        1
2777.338660       1
338.040882        1
1497.920043       1
2158.291927       1
76.789298         1
4192.914443       1
779.246718        1
260.651680        1
19542.663665      1
5404.801450       1
271.632483        1
5445.391777       1
1268.764383       1
493.763069        1
359.064664        1
1.153626          1
113.919416        1
921.843268        1
872.019537        1
1743.499260       1
64616.550055      1
Name: AMT_APPLICATION_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 154259, dtype: int64

2018-07-06 20:42:59,012 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:59,012 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:42:59,129 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:59,129 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:59,244 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:59,244 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:59,316 logger 29 [INFO]    [make_npy]  inf             2017
 0.000000e+00    1177
-4.500000e+03      84
-2.250000e+03      83
-1.125000e+04      72
-5.625000e+03      69
-3.750000e+03      68
-7.500000e+03      66
-9.000000e+02      63
-1.500000e+03      63
-2.250000e+04      62
-2.812500e+03      52
-2.500000e+03      51
-9.000000e+03      50
-1.125000e+03      49
-1.875000e+03      48
-9.375000e+02      47
-1.406250e+03      46
-4.500000e+02      45
-1.500000e+04      45
-1.022727e+03      45
-3.214286e+03      44
-3.000000e+03      43
-8.653846e+02      41
-4.500000e+04      40
-4.090909e+03      39
-1.323529e+03      38
-9.574468e+02      38
-1.350000e+04      36
-9.782609e+02      36
-1.800000e+03      35
-1.071429e+03      35
-6.000000e+02      35
-1.250000e+03      34
-8.181818e+02      33
-6.428571e+03      33
-1.875000e+04      33
-2.142857e+03      33
-5.625000e+02      33
-3.375000e+03      33
-1.551724e+03      33
-1.666667e+03      32
-1.350000e+03      32
-8.035714e+02      32
-9.000000e+04      32
-2.045455e+03      32
-5.000000e+03      32
-5.625000e+04      32
-2.700000e+03      31
-2.368421e+03      31
                 ...
-4.273527e+03       1
-1.859480e+03       1
-3.260769e+03       1
-4.514735e+02       1
-4.702881e+02       1
-1.838421e+03       1
-1.187037e+02       1
-4.688372e+02       1
-1.305935e+04       1
-1.773750e+03       1
-8.262676e+02       1
-1.588516e+03       1
-5.205650e+02       1
-6.529182e+02       1
-6.724615e+02       1
-3.490523e+03       1
-8.368151e+02       1
-1.182600e+03       1
-8.015267e+02       1
-3.525676e+02       1
-1.290789e+04       1
-4.138400e+03       1
-2.616210e+04       1
-3.288322e+03       1
-5.101913e+02       1
-1.565740e+02       1
-3.948733e+03       1
-6.056391e+01       1
-1.793462e+03       1
-7.507125e+03       1
-5.800000e+04       1
-2.172960e+05       1
-1.375208e+03       1
-3.515202e+02       1
-2.730283e+02       1
-2.177508e+04       1
-2.053279e+02       1
-3.635096e+02       1
-1.455581e+03       1
-1.157684e+03       1
-2.253500e+03       1
-3.395188e+03       1
-1.386053e+03       1
-3.738140e+03       1
-5.656170e+03       1
-8.515273e+01       1
-1.358750e+04       1
-3.493427e+03       1
-2.172870e+05       1
-6.848827e+03       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 282329, dtype: int64
2018-07-06 20:42:59,316 logger 29 [INFO]    [make_npy]  inf             2017
 0.000000e+00    1177
-4.500000e+03      84
-2.250000e+03      83
-1.125000e+04      72
-5.625000e+03      69
-3.750000e+03      68
-7.500000e+03      66
-9.000000e+02      63
-1.500000e+03      63
-2.250000e+04      62
-2.812500e+03      52
-2.500000e+03      51
-9.000000e+03      50
-1.125000e+03      49
-1.875000e+03      48
-9.375000e+02      47
-1.406250e+03      46
-4.500000e+02      45
-1.500000e+04      45
-1.022727e+03      45
-3.214286e+03      44
-3.000000e+03      43
-8.653846e+02      41
-4.500000e+04      40
-4.090909e+03      39
-1.323529e+03      38
-9.574468e+02      38
-1.350000e+04      36
-9.782609e+02      36
-1.800000e+03      35
-1.071429e+03      35
-6.000000e+02      35
-1.250000e+03      34
-8.181818e+02      33
-6.428571e+03      33
-1.875000e+04      33
-2.142857e+03      33
-5.625000e+02      33
-3.375000e+03      33
-1.551724e+03      33
-1.666667e+03      32
-1.350000e+03      32
-8.035714e+02      32
-9.000000e+04      32
-2.045455e+03      32
-5.000000e+03      32
-5.625000e+04      32
-2.700000e+03      31
-2.368421e+03      31
                 ...
-4.273527e+03       1
-1.859480e+03       1
-3.260769e+03       1
-4.514735e+02       1
-4.702881e+02       1
-1.838421e+03       1
-1.187037e+02       1
-4.688372e+02       1
-1.305935e+04       1
-1.773750e+03       1
-8.262676e+02       1
-1.588516e+03       1
-5.205650e+02       1
-6.529182e+02       1
-6.724615e+02       1
-3.490523e+03       1
-8.368151e+02       1
-1.182600e+03       1
-8.015267e+02       1
-3.525676e+02       1
-1.290789e+04       1
-4.138400e+03       1
-2.616210e+04       1
-3.288322e+03       1
-5.101913e+02       1
-1.565740e+02       1
-3.948733e+03       1
-6.056391e+01       1
-1.793462e+03       1
-7.507125e+03       1
-5.800000e+04       1
-2.172960e+05       1
-1.375208e+03       1
-3.515202e+02       1
-2.730283e+02       1
-2.177508e+04       1
-2.053279e+02       1
-3.635096e+02       1
-1.455581e+03       1
-1.157684e+03       1
-2.253500e+03       1
-3.395188e+03       1
-1.386053e+03       1
-3.738140e+03       1
-5.656170e+03       1
-8.515273e+01       1
-1.358750e+04       1
-3.493427e+03       1
-2.172870e+05       1
-6.848827e+03       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 282329, dtype: int64
2018-07-06 20:42:59,362 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:59,362 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:42:59,464 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:59,464 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:59,537 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:59,537 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:59,577 logger 29 [INFO]    [make_npy]  inf             2017
-2.250000e+03      82
-3.750000e+03      74
-1.500000e+03      66
-4.500000e+03      66
-5.625000e+03      66
-1.125000e+04      66
-1.125000e+03      60
-7.500000e+03      60
-9.000000e+02      60
-2.250000e+04      56
-1.406250e+03      55
-4.500000e+02      53
-1.875000e+03      53
-1.022727e+03      52
-2.812500e+03      51
-9.375000e+02      51
-1.250000e+03      49
-8.653846e+02      44
-7.500000e+02      43
-6.000000e+02      42
-3.000000e+03      42
-1.323529e+03      41
-9.000000e+03      41
-9.782609e+02      40
-3.214286e+03      40
-5.625000e+02      39
-2.500000e+03      39
-9.574468e+02      37
-1.500000e+04      37
-2.142857e+03      35
-4.090909e+03      35
-6.428571e+03      35
-4.500000e+04      35
-1.071429e+03      34
-8.035714e+02      34
-1.184211e+03      33
-1.666667e+03      33
-8.181818e+02      33
-1.800000e+03      32
-1.350000e+03      32
-2.250000e+02      31
-1.000000e+03      31
-1.730769e+03      31
-1.350000e+04      31
-1.285714e+03      30
-1.551724e+03      30
-1.875000e+04      30
-7.031250e+02      29
-2.045455e+03      29
                 ...
-1.794600e+03       1
-1.396841e+03       1
-9.297891e+02       1
-1.110682e+03       1
-8.256652e+02       1
-2.869099e+02       1
-9.684000e+01       1
-1.312549e+02       1
-4.952695e+02       1
-1.087881e+03       1
-4.276687e+02       1
-4.471111e+02       1
-6.946087e+02       1
-3.142174e+02       1
-7.306522e+01       1
-1.161940e+03       1
-5.212390e+03       1
-3.133969e+02       1
-1.222844e+02       1
-2.855663e+02       1
-1.015064e+03       1
-2.785266e+02       1
-2.469970e+03       1
-1.604864e+03       1
-4.493559e+02       1
-6.017019e+03       1
-4.138630e+02       1
-4.528521e+02       1
-4.391457e+02       1
-2.848210e+02       1
-1.506217e+03       1
-1.963341e+04       1
-3.862665e+02       1
-1.042917e+02       1
-4.622545e+02       1
-8.644355e+02       1
-3.686066e+02       1
-2.897057e+03       1
-4.501090e+02       1
-2.852102e+03       1
-9.276585e+02       1
-2.322353e+02       1
-6.597810e+04       1
-1.310360e+03       1
-1.495374e+04       1
-8.363764e+02       1
-6.794283e+03       1
-3.655553e+05       1
-2.541908e+02       1
-8.910832e+02       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 282377, dtype: int64

2018-07-06 20:42:59,577 logger 29 [INFO]    [make_npy]  inf             2017
-2.250000e+03      82
-3.750000e+03      74
-1.500000e+03      66
-4.500000e+03      66
-5.625000e+03      66
-1.125000e+04      66
-1.125000e+03      60
-7.500000e+03      60
-9.000000e+02      60
-2.250000e+04      56
-1.406250e+03      55
-4.500000e+02      53
-1.875000e+03      53
-1.022727e+03      52
-2.812500e+03      51
-9.375000e+02      51
-1.250000e+03      49
-8.653846e+02      44
-7.500000e+02      43
-6.000000e+02      42
-3.000000e+03      42
-1.323529e+03      41
-9.000000e+03      41
-9.782609e+02      40
-3.214286e+03      40
-5.625000e+02      39
-2.500000e+03      39
-9.574468e+02      37
-1.500000e+04      37
-2.142857e+03      35
-4.090909e+03      35
-6.428571e+03      35
-4.500000e+04      35
-1.071429e+03      34
-8.035714e+02      34
-1.184211e+03      33
-1.666667e+03      33
-8.181818e+02      33
-1.800000e+03      32
-1.350000e+03      32
-2.250000e+02      31
-1.000000e+03      31
-1.730769e+03      31
-1.350000e+04      31
-1.285714e+03      30
-1.551724e+03      30
-1.875000e+04      30
-7.031250e+02      29
-2.045455e+03      29
                 ...
-1.794600e+03       1
-1.396841e+03       1
-9.297891e+02       1
-1.110682e+03       1
-8.256652e+02       1
-2.869099e+02       1
-9.684000e+01       1
-1.312549e+02       1
-4.952695e+02       1
-1.087881e+03       1
-4.276687e+02       1
-4.471111e+02       1
-6.946087e+02       1
-3.142174e+02       1
-7.306522e+01       1
-1.161940e+03       1
-5.212390e+03       1
-3.133969e+02       1
-1.222844e+02       1
-2.855663e+02       1
-1.015064e+03       1
-2.785266e+02       1
-2.469970e+03       1
-1.604864e+03       1
-4.493559e+02       1
-6.017019e+03       1
-4.138630e+02       1
-4.528521e+02       1
-4.391457e+02       1
-2.848210e+02       1
-1.506217e+03       1
-1.963341e+04       1
-3.862665e+02       1
-1.042917e+02       1
-4.622545e+02       1
-8.644355e+02       1
-3.686066e+02       1
-2.897057e+03       1
-4.501090e+02       1
-2.852102e+03       1
-9.276585e+02       1
-2.322353e+02       1
-6.597810e+04       1
-1.310360e+03       1
-1.495374e+04       1
-8.363764e+02       1
-6.794283e+03       1
-3.655553e+05       1
-2.541908e+02       1
-8.910832e+02       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 282377, dtype: int64
2018-07-06 20:42:59,641 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:42:59,641 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:42:59,836 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:59,836 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:42:59,934 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:59,934 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:42:59,992 logger 29 [INFO]    [make_npy]  inf             2017
-2.250000e+03     144
-4.500000e+03     142
-9.000000e+02     139
-4.500000e+02     129
-1.125000e+03     124
-1.125000e+04     122
-2.250000e+04     115
-3.750000e+03     115
-1.500000e+03     114
-7.500000e+03     111
-5.625000e+03     111
-2.250000e+02     104
-5.625000e+02     101
-1.022727e+03      97
-2.812500e+03      92
-1.875000e+03      90
-1.406250e+03      90
-9.000000e+03      88
-3.214286e+03      87
-1.800000e+03      86
-3.000000e+02      86
-7.500000e+02      84
-1.500000e+04      84
-9.375000e+02      83
-8.653846e+02      83
-3.600000e+02      80
-3.000000e+03      80
-1.184211e+03      79
-3.750000e+02      79
-6.428571e+03      79
-2.500000e+03      78
-1.323529e+03      77
-7.758621e+02      77
-3.461538e+02      76
-1.250000e+03      75
-8.035714e+02      75
-3.214286e+02      75
-4.500000e+04      75
-2.045455e+03      73
-9.574468e+02      73
-6.428571e+02      73
-1.000000e+03      72
-1.730769e+03      71
-6.000000e+02      71
-5.000000e+03      71
-4.090909e+03      70
-9.782609e+02      70
-8.333333e+02      69
-5.000000e+02      68
                 ...
-5.641579e+02       1
-2.629474e+02       1
-2.041760e+02       1
-3.869683e+02       1
-5.354587e+02       1
-1.085140e+02       1
-6.857755e+02       1
-1.951167e+02       1
-7.458843e+02       1
-1.282747e+02       1
-2.408189e+02       1
-1.759375e+02       1
-6.477750e+03       1
-1.238611e+04       1
-6.083523e+01       1
-1.492347e+03       1
-1.428866e+02       1
-1.861469e+02       1
-2.569880e+02       1
-2.142131e+03       1
-3.329222e+03       1
-1.959000e+02       1
-2.710120e+02       1
-3.571531e+02       1
-1.668432e+02       1
-4.543185e+02       1
-2.051713e+03       1
-1.991020e+02       1
-1.708581e+02       1
-1.298525e+03       1
-2.188299e+03       1
-1.472278e+02       1
-1.585868e+02       1
-4.073705e+02       1
-2.467394e+02       1
-3.789237e+03       1
-4.487879e+02       1
-2.462826e+02       1
-6.533333e+01       1
-1.998980e+02       1
-8.989437e+02       1
-2.332612e+02       1
-1.158214e+03       1
-1.587500e+02       1
-7.750435e+01       1
-1.619022e+03       1
-3.810259e+02       1
-5.423936e+02       1
-2.856316e+02       1
-3.069070e+02       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 231834, dtype: int64
2018-07-06 20:42:59,992 logger 29 [INFO]    [make_npy]  inf             2017
-2.250000e+03     144
-4.500000e+03     142
-9.000000e+02     139
-4.500000e+02     129
-1.125000e+03     124
-1.125000e+04     122
-2.250000e+04     115
-3.750000e+03     115
-1.500000e+03     114
-7.500000e+03     111
-5.625000e+03     111
-2.250000e+02     104
-5.625000e+02     101
-1.022727e+03      97
-2.812500e+03      92
-1.875000e+03      90
-1.406250e+03      90
-9.000000e+03      88
-3.214286e+03      87
-1.800000e+03      86
-3.000000e+02      86
-7.500000e+02      84
-1.500000e+04      84
-9.375000e+02      83
-8.653846e+02      83
-3.600000e+02      80
-3.000000e+03      80
-1.184211e+03      79
-3.750000e+02      79
-6.428571e+03      79
-2.500000e+03      78
-1.323529e+03      77
-7.758621e+02      77
-3.461538e+02      76
-1.250000e+03      75
-8.035714e+02      75
-3.214286e+02      75
-4.500000e+04      75
-2.045455e+03      73
-9.574468e+02      73
-6.428571e+02      73
-1.000000e+03      72
-1.730769e+03      71
-6.000000e+02      71
-5.000000e+03      71
-4.090909e+03      70
-9.782609e+02      70
-8.333333e+02      69
-5.000000e+02      68
                 ...
-5.641579e+02       1
-2.629474e+02       1
-2.041760e+02       1
-3.869683e+02       1
-5.354587e+02       1
-1.085140e+02       1
-6.857755e+02       1
-1.951167e+02       1
-7.458843e+02       1
-1.282747e+02       1
-2.408189e+02       1
-1.759375e+02       1
-6.477750e+03       1
-1.238611e+04       1
-6.083523e+01       1
-1.492347e+03       1
-1.428866e+02       1
-1.861469e+02       1
-2.569880e+02       1
-2.142131e+03       1
-3.329222e+03       1
-1.959000e+02       1
-2.710120e+02       1
-3.571531e+02       1
-1.668432e+02       1
-4.543185e+02       1
-2.051713e+03       1
-1.991020e+02       1
-1.708581e+02       1
-1.298525e+03       1
-2.188299e+03       1
-1.472278e+02       1
-1.585868e+02       1
-4.073705e+02       1
-2.467394e+02       1
-3.789237e+03       1
-4.487879e+02       1
-2.462826e+02       1
-6.533333e+01       1
-1.998980e+02       1
-8.989437e+02       1
-2.332612e+02       1
-1.158214e+03       1
-1.587500e+02       1
-7.750435e+01       1
-1.619022e+03       1
-3.810259e+02       1
-5.423936e+02       1
-2.856316e+02       1
-3.069070e+02       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 231834, dtype: int64
2018-07-06 20:43:00,037 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:00,037 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']

2018-07-06 20:43:00,217 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:00,217 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:00,344 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:00,344 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:00,397 logger 29 [INFO]    [make_npy]  inf             2017
-4.500000e+03     326
-2.250000e+04     312
-2.250000e+03     308
-1.125000e+04     300
-1.500000e+03     269
-4.500000e+04     269
-7.500000e+03     266
-5.625000e+03     263
-3.750000e+03     249
-9.000000e+03     244
-3.214286e+03     238
-2.812500e+03     236
-2.045455e+03     236
-1.500000e+04     235
-2.500000e+03     232
-1.125000e+03     220
-1.875000e+03     214
-6.428571e+03     211
-1.730769e+03     210
-9.000000e+02     202
-5.000000e+03     202
-4.090909e+03     200
-3.000000e+03     200
-1.323529e+03     196
-1.607143e+03     194
-2.647059e+03     186
-1.406250e+03     185
-1.800000e+03     179
-2.368421e+03     179
-8.653846e+02     167
-1.250000e+03     167
-2.142857e+03     165
-1.071429e+03     157
-3.461538e+03     157
-9.375000e+02     151
-1.184211e+03     150
-1.551724e+03     149
-7.500000e+02     147
-1.285714e+03     147
-1.956522e+03     145
-1.350000e+04     143
-1.022727e+03     143
-1.451613e+03     140
-1.666667e+03     137
-9.782609e+02     137
-1.125000e+05     135
-9.000000e+04     133
-5.625000e+04     133
-6.750000e+03     132
                 ...
-8.577911e+02       1
-6.272449e+02       1
-8.322000e+03       1
-7.238769e+03       1
-1.799635e+03       1
-5.915110e+02       1
-6.519231e+03       1
-1.403014e+02       1
-5.710500e+02       1
-7.473849e+01       1
-1.101150e+04       1
-1.924444e+02       1
-6.577982e+01       1
-1.361871e+03       1
-4.633163e+02       1
-1.625786e+03       1
-3.359875e+03       1
-7.045989e+02       1
-2.483634e+02       1
-5.892426e+04       1
-6.870295e+02       1
-6.910830e+01       1
-3.638250e+03       1
-7.931398e+01       1
-3.975507e+02       1
-4.713214e+02       1
-5.311812e+02       1
-1.194706e+03       1
-5.462903e+02       1
-1.589286e+02       1
-5.449091e+02       1
-3.730034e+03       1
-4.643710e+02       1
-2.662534e+02       1
-8.146029e+02       1
-5.147727e+02       1
-2.743840e+02       1
-5.448065e+02       1
-2.149372e+03       1
-1.228544e+03       1
-9.475771e+01       1
-5.203365e+02       1
-8.467279e+02       1
-1.193637e+03       1
-1.040488e+03       1
-5.451162e+02       1
-1.137780e+03       1
-8.397303e+02       1
-2.094015e+03       1
-6.702797e+02       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 187304, dtype: int64
2018-07-06 20:43:00,397 logger 29 [INFO]    [make_npy]  inf             2017
-4.500000e+03     326
-2.250000e+04     312
-2.250000e+03     308
-1.125000e+04     300
-1.500000e+03     269
-4.500000e+04     269
-7.500000e+03     266
-5.625000e+03     263
-3.750000e+03     249
-9.000000e+03     244
-3.214286e+03     238
-2.812500e+03     236
-2.045455e+03     236
-1.500000e+04     235
-2.500000e+03     232
-1.125000e+03     220
-1.875000e+03     214
-6.428571e+03     211
-1.730769e+03     210
-9.000000e+02     202
-5.000000e+03     202
-4.090909e+03     200
-3.000000e+03     200
-1.323529e+03     196
-1.607143e+03     194
-2.647059e+03     186
-1.406250e+03     185
-1.800000e+03     179
-2.368421e+03     179
-8.653846e+02     167
-1.250000e+03     167
-2.142857e+03     165
-1.071429e+03     157
-3.461538e+03     157
-9.375000e+02     151
-1.184211e+03     150
-1.551724e+03     149
-7.500000e+02     147
-1.285714e+03     147
-1.956522e+03     145
-1.350000e+04     143
-1.022727e+03     143
-1.451613e+03     140
-1.666667e+03     137
-9.782609e+02     137
-1.125000e+05     135
-9.000000e+04     133
-5.625000e+04     133
-6.750000e+03     132
                 ...
-8.577911e+02       1
-6.272449e+02       1
-8.322000e+03       1
-7.238769e+03       1
-1.799635e+03       1
-5.915110e+02       1
-6.519231e+03       1
-1.403014e+02       1
-5.710500e+02       1
-7.473849e+01       1
-1.101150e+04       1
-1.924444e+02       1
-6.577982e+01       1
-1.361871e+03       1
-4.633163e+02       1
-1.625786e+03       1
-3.359875e+03       1
-7.045989e+02       1
-2.483634e+02       1
-5.892426e+04       1
-6.870295e+02       1
-6.910830e+01       1
-3.638250e+03       1
-7.931398e+01       1
-3.975507e+02       1
-4.713214e+02       1
-5.311812e+02       1
-1.194706e+03       1
-5.462903e+02       1
-1.589286e+02       1
-5.449091e+02       1
-3.730034e+03       1
-4.643710e+02       1
-2.662534e+02       1
-8.146029e+02       1
-5.147727e+02       1
-2.743840e+02       1
-5.448065e+02       1
-2.149372e+03       1
-1.228544e+03       1
-9.475771e+01       1
-5.203365e+02       1
-8.467279e+02       1
-1.193637e+03       1
-1.040488e+03       1
-5.451162e+02       1
-1.137780e+03       1
-8.397303e+02       1
-2.094015e+03       1
-6.702797e+02       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 187304, dtype: int64
2018-07-06 20:43:00,445 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:00,445 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:00,574 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:00,574 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:00,651 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:00,651 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:00,688 logger 29 [INFO]    [make_npy] 0.000000        704
795.495129       21
31.819805        19
397.747564       19
1060.660172      18
212.132034       17
3181.980515      16
318.198052       16
883.883476       16
1590.990258      15
3977.475644      14
6363.961031      14
159.099026       14
265.165043       13
2121.320344      13
994.368911       13
1988.737822      13
424.264069       12
636.396103       12
353.553391       11
3.181981         11
530.330086       11
1272.792206      11
106.066017       10
477.297077       10
954.594155       10
79.549513        10
23.864854         9
5303.300859       9
776.092809        9
2651.650429       9
497.184456        9
95.459415         9
254.558441        9
63.639610         9
31819.805153      9
7954.951288       8
1767.766953       8
11932.426933      8
381.837662        8
25.455844         8
15.909903         8
165.728152        8
66.291261         8
662.912607        8
9.545942          8
556.846590        8
238.648539        8
127.279221        8
198.873782        8
               ...
4634.499298       1
165.946468        1
7221.336771       1
1969.935210       1
89.584223         1
109.063112        1
54.463293         1
638.561825        1
1578.335744       1
95.161646         1
1996.609322       1
710.354422        1
297.164621        1
356.666838        1
26.543724         1
352.708449        1
438.370849        1
179.215482        1
268.856140        1
588.174895        1
104.592786        1
304.967878        1
412.264285        1
63.902947         1
71.342573         1
59.689307         1
37.663863         1
413.779851        1
292.826567        1
760.845051        1
348.663822        1
5245.247219       1
474.936142        1
804.155446        1
1738.304170       1
168.602541        1
311.452810        1
5127.408047       1
122.442764        1
104.562039        1
6519.230526       1
994.244138        1
9771.331833       1
2787.695979       1
20242.656952      1
543.264966        1
4926.418637       1
82.048536         1
432.636915        1
6841.081331       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 189093, dtype: int64

2018-07-06 20:43:00,688 logger 29 [INFO]    [make_npy] 0.000000        704
795.495129       21
31.819805        19
397.747564       19
1060.660172      18
212.132034       17
3181.980515      16
318.198052       16
883.883476       16
1590.990258      15
3977.475644      14
6363.961031      14
159.099026       14
265.165043       13
2121.320344      13
994.368911       13
1988.737822      13
424.264069       12
636.396103       12
353.553391       11
3.181981         11
530.330086       11
1272.792206      11
106.066017       10
477.297077       10
954.594155       10
79.549513        10
23.864854         9
5303.300859       9
776.092809        9
2651.650429       9
497.184456        9
95.459415         9
254.558441        9
63.639610         9
31819.805153      9
7954.951288       8
1767.766953       8
11932.426933      8
381.837662        8
25.455844         8
15.909903         8
165.728152        8
66.291261         8
662.912607        8
9.545942          8
556.846590        8
238.648539        8
127.279221        8
198.873782        8
               ...
4634.499298       1
165.946468        1
7221.336771       1
1969.935210       1
89.584223         1
109.063112        1
54.463293         1
638.561825        1
1578.335744       1
95.161646         1
1996.609322       1
710.354422        1
297.164621        1
356.666838        1
26.543724         1
352.708449        1
438.370849        1
179.215482        1
268.856140        1
588.174895        1
104.592786        1
304.967878        1
412.264285        1
63.902947         1
71.342573         1
59.689307         1
37.663863         1
413.779851        1
292.826567        1
760.845051        1
348.663822        1
5245.247219       1
474.936142        1
804.155446        1
1738.304170       1
168.602541        1
311.452810        1
5127.408047       1
122.442764        1
104.562039        1
6519.230526       1
994.244138        1
9771.331833       1
2787.695979       1
20242.656952      1
543.264966        1
4926.418637       1
82.048536         1
432.636915        1
6841.081331       1
Name: AMT_APPLICATION_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 189093, dtype: int64
2018-07-06 20:43:00,741 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:00,741 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:00,865 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:00,865 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:00,949 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:00,949 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:01,013 logger 29 [INFO]    [make_npy] 0.000000      1420
2.000000       715
1.000000       527
5.000000       516
2.500000       392
3.333333       383
3.000000       356
4.000000       339
1.666667       289
10.000000      264
1.333333       261
1.500000       221
6.666667       185
6.000000       175
2.666667       172
0.666667       155
1.250000       155
1.060572       146
7.500000       138
1.200000       130
0.500000       130
15.000000      114
0.795429       112
8.000000       112
0.800000       103
1.428571       103
0.530286        99
3.500000        95
8.333333        93
3.750000        93
1.600000        87
0.833333        83
2.121143        83
2.857143        82
0.600000        81
1.325715        79
7.000000        78
2.333333        77
20.000000       75
12.500000       71
2.200000        69
4.166667        69
2.400000        69
1.400000        68
6.250000        68
1.800000        66
5.333333        65
12.000000       64
4.500000        61
1.100000        61
              ...
21.854266        1
35.654037        1
6.688292         1
6.526283         1
55.784870        1
16.925609        1
4.778550         1
24.107348        1
28.072228        1
11.048486        1
27.763348        1
14.921683        1
17.871584        1
46.851214        1
44.365006        1
24.559999        1
2.191877         1
1.792307         1
2.656543         1
8.552832         1
14.206607        1
8.650335         1
11.640476        1
68.255442        1
71.947807        1
116.354768       1
32.261981        1
34.671290        1
33.678642        1
4.660647         1
5.201327         1
8.547273         1
70.545185        1
8.018646         1
12.575605        1
1.894226         1
5.718275         1
17.275957        1
12.179163        1
46.425870        1
44.581784        1
12.234043        1
14.520137        1
15.859476        1
25.722940        1
1.100220         1
1.064307         1
44.422853        1
4.805284         1
3.315250         1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_sum@['SK_ID_CURR'], Length: 266694, dtype: int64
2018-07-06 20:43:01,013 logger 29 [INFO]    [make_npy] 0.000000      1420
2.000000       715
1.000000       527
5.000000       516
2.500000       392
3.333333       383
3.000000       356
4.000000       339
1.666667       289
10.000000      264
1.333333       261
1.500000       221
6.666667       185
6.000000       175
2.666667       172
0.666667       155
1.250000       155
1.060572       146
7.500000       138
1.200000       130
0.500000       130
15.000000      114
0.795429       112
8.000000       112
0.800000       103
1.428571       103
0.530286        99
3.500000        95
8.333333        93
3.750000        93
1.600000        87
0.833333        83
2.121143        83
2.857143        82
0.600000        81
1.325715        79
7.000000        78
2.333333        77
20.000000       75
12.500000       71
2.200000        69
4.166667        69
2.400000        69
1.400000        68
6.250000        68
1.800000        66
5.333333        65
12.000000       64
4.500000        61
1.100000        61
              ...
21.854266        1
35.654037        1
6.688292         1
6.526283         1
55.784870        1
16.925609        1
4.778550         1
24.107348        1
28.072228        1
11.048486        1
27.763348        1
14.921683        1
17.871584        1
46.851214        1
44.365006        1
24.559999        1
2.191877         1
1.792307         1
2.656543         1
8.552832         1
14.206607        1
8.650335         1
11.640476        1
68.255442        1
71.947807        1
116.354768       1
32.261981        1
34.671290        1
33.678642        1
4.660647         1
5.201327         1
8.547273         1
70.545185        1
8.018646         1
12.575605        1
1.894226         1
5.718275         1
17.275957        1
12.179163        1
46.425870        1
44.581784        1
12.234043        1
14.520137        1
15.859476        1
25.722940        1
1.100220         1
1.064307         1
44.422853        1
4.805284         1
3.315250         1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_sum@['SK_ID_CURR'], Length: 266694, dtype: int64
2018-07-06 20:43:01,075 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:01,075 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:01,211 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:01,211 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:01,319 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:01,319 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:01,364 logger 29 [INFO]    [make_npy] 2.000000     726
1.000000     571
5.000000     516
2.500000     413
3.333333     394
3.000000     343
4.000000     321
1.666667     302
1.333333     279
1.500000     262
10.000000    247
6.666667     184
1.250000     184
2.666667     179
6.000000     164
0.666667     160
1.060572     157
1.200000     140
0.500000     137
7.500000     125
0.795429     123
3.750000     113
0.800000     112
1.428571     106
0.530286     104
3.500000     103
0.833333      92
1.325715      88
0.600000      86
2.333333      85
8.333333      85
1.600000      84
6.250000      83
8.000000      83
2.857143      82
15.000000     81
2.121143      79
4.166667      75
1.400000      73
1.800000      72
1.100000      70
2.400000      70
2.200000      68
1.750000      66
0.750000      63
3.366667      60
4.285714      58
12.500000     57
0.400000      57
7.000000      55
            ...
19.752457      1
4.130088       1
16.541079      1
4.694066       1
5.533172       1
6.096941       1
14.526854      1
16.872111      1
16.875240      1
2.542460       1
2.933469       1
21.892768      1
3.873417       1
8.599866       1
4.812834       1
5.168986       1
4.193548       1
7.091682       1
10.337198      1
2.023468       1
1.950276       1
11.612667      1
16.834833      1
3.564991       1
22.363808      1
3.401632       1
11.715306      1
8.995894       1
15.289786      1
6.371979       1
3.387235       1
4.621567       1
5.843169       1
11.042844      1
10.001334      1
5.580482       1
1.862828       1
5.038944       1
3.150676       1
6.634414       1
4.216074       1
10.071391      1
6.029180       1
4.007854       1
10.995657      1
1.317678       1
17.761729      1
9.812901       1
2.819700       1
17.676391      1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_mean@['SK_ID_CURR'], Length: 266725, dtype: int64

2018-07-06 20:43:01,364 logger 29 [INFO]    [make_npy] 2.000000     726
1.000000     571
5.000000     516
2.500000     413
3.333333     394
3.000000     343
4.000000     321
1.666667     302
1.333333     279
1.500000     262
10.000000    247
6.666667     184
1.250000     184
2.666667     179
6.000000     164
0.666667     160
1.060572     157
1.200000     140
0.500000     137
7.500000     125
0.795429     123
3.750000     113
0.800000     112
1.428571     106
0.530286     104
3.500000     103
0.833333      92
1.325715      88
0.600000      86
2.333333      85
8.333333      85
1.600000      84
6.250000      83
8.000000      83
2.857143      82
15.000000     81
2.121143      79
4.166667      75
1.400000      73
1.800000      72
1.100000      70
2.400000      70
2.200000      68
1.750000      66
0.750000      63
3.366667      60
4.285714      58
12.500000     57
0.400000      57
7.000000      55
            ...
19.752457      1
4.130088       1
16.541079      1
4.694066       1
5.533172       1
6.096941       1
14.526854      1
16.872111      1
16.875240      1
2.542460       1
2.933469       1
21.892768      1
3.873417       1
8.599866       1
4.812834       1
5.168986       1
4.193548       1
7.091682       1
10.337198      1
2.023468       1
1.950276       1
11.612667      1
16.834833      1
3.564991       1
22.363808      1
3.401632       1
11.715306      1
8.995894       1
15.289786      1
6.371979       1
3.387235       1
4.621567       1
5.843169       1
11.042844      1
10.001334      1
5.580482       1
1.862828       1
5.038944       1
3.150676       1
6.634414       1
4.216074       1
10.071391      1
6.029180       1
4.007854       1
10.995657      1
1.317678       1
17.761729      1
9.812901       1
2.819700       1
17.676391      1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_mean@['SK_ID_CURR'], Length: 266725, dtype: int64
2018-07-06 20:43:01,409 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:01,409 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:01,513 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:01,513 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:01,606 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:01,606 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:01,658 logger 29 [INFO]    [make_npy] 5.000000     1556
2.000000     1304
10.000000     973
3.333333      924
1.000000      883
2.500000      874
4.000000      775
3.000000      730
1.666667      580
6.666667      464
1.500000      463
6.000000      448
15.000000     409
1.333333      389
7.500000      347
8.000000      316
20.000000     302
1.250000      282
2.666667      273
3.500000      224
8.333333      220
1.200000      216
3.750000      204
7.000000      203
6.250000      202
0.666667      198
12.500000     186
10.100000     183
16.666667     181
13.333333     179
0.500000      178
25.000000     173
5.300000      167
10.020040     164
1.428571      162
1.060572      157
2.200000      155
2.333333      150
5.500000      150
7.142857      149
2.857143      148
20.040080     148
1.600000      146
7.153076      141
0.800000      137
14.306152     136
2.800000      135
5.100000      135
12.000000     134
30.060120     131
             ...
12.718019       1
3.267688        1
4.641520        1
9.231337        1
9.571598        1
3.965345        1
5.151515        1
1.352341        1
1.521871        1
20.888303       1
6.823610        1
6.407767        1
12.741172       1
6.991051        1
32.540676       1
8.455087        1
51.902174       1
20.747700       1
2.948718        1
4.499235        1
9.541118        1
16.560510       1
9.213960        1
19.526483       1
4.049202        1
12.248898       1
5.502183        1
13.208026       1
6.048204        1
15.244947       1
4.517672        1
40.714286       1
12.327232       1
19.060719       1
4.200463        1
26.430588       1
20.344828       1
10.123165       1
14.640542       1
5.837030        1
0.554004        1
8.115183        1
3.787375        1
3.544982        1
4.311175        1
1.873887        1
2.630977        1
1.505694        1
7.572608        1
8.591344        1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_max@['SK_ID_CURR'], Length: 165241, dtype: int64
2018-07-06 20:43:01,658 logger 29 [INFO]    [make_npy] 5.000000     1556
2.000000     1304
10.000000     973
3.333333      924
1.000000      883
2.500000      874
4.000000      775
3.000000      730
1.666667      580
6.666667      464
1.500000      463
6.000000      448
15.000000     409
1.333333      389
7.500000      347
8.000000      316
20.000000     302
1.250000      282
2.666667      273
3.500000      224
8.333333      220
1.200000      216
3.750000      204
7.000000      203
6.250000      202
0.666667      198
12.500000     186
10.100000     183
16.666667     181
13.333333     179
0.500000      178
25.000000     173
5.300000      167
10.020040     164
1.428571      162
1.060572      157
2.200000      155
2.333333      150
5.500000      150
7.142857      149
2.857143      148
20.040080     148
1.600000      146
7.153076      141
0.800000      137
14.306152     136
2.800000      135
5.100000      135
12.000000     134
30.060120     131
             ...
12.718019       1
3.267688        1
4.641520        1
9.231337        1
9.571598        1
3.965345        1
5.151515        1
1.352341        1
1.521871        1
20.888303       1
6.823610        1
6.407767        1
12.741172       1
6.991051        1
32.540676       1
8.455087        1
51.902174       1
20.747700       1
2.948718        1
4.499235        1
9.541118        1
16.560510       1
9.213960        1
19.526483       1
4.049202        1
12.248898       1
5.502183        1
13.208026       1
6.048204        1
15.244947       1
4.517672        1
40.714286       1
12.327232       1
19.060719       1
4.200463        1
26.430588       1
20.344828       1
10.123165       1
14.640542       1
5.837030        1
0.554004        1
8.115183        1
3.787375        1
3.544982        1
4.311175        1
1.873887        1
2.630977        1
1.505694        1
7.572608        1
8.591344        1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_max@['SK_ID_CURR'], Length: 165241, dtype: int64
2018-07-06 20:43:01,708 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:01,708 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:01,862 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:01,862 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:01,966 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:01,966 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:02,006 logger 29 [INFO]    [make_npy] 1.000000     3948
2.000000     3190
2.500000     2017
1.666667     1894
5.000000     1642
1.500000     1598
1.060572     1575
0.795429     1476
3.333333     1406
3.000000     1368
0.500000     1278
1.333333     1252
0.530286     1182
1.250000     1154
4.000000     1132
0.666667     1105
1.325715      972
0.833333      897
1.200000      788
1.428571      709
0.800000      704
0.600000      701
0.265143      663
1.590858      651
10.000000     593
2.121143      568
0.333333      563
0.400000      513
2.666667      513
1.600000      508
6.666667      490
1.111111      490
1.100000      477
6.000000      476
1.400000      449
3.750000      434
0.750000      418
0.714286      418
2.857143      414
7.500000      372
0.980392      368
0.625000      353
0.700000      352
0.535589      347
3.500000      337
2.941176      322
2.142857      314
1.875000      309
2.400000      301
1.800000      298
             ...
35.224218       1
5.953342        1
6.918471        1
36.999664       1
6.651463        1
1.133520        1
2.008193        1
4.329609        1
15.562749       1
19.110493       1
1.848365        1
1.003391        1
14.404432       1
1.572261        1
12.253917       1
1.785268        1
15.440641       1
9.790606        1
2.918714        1
4.919825        1
20.412056       1
0.438282        1
28.615385       1
12.007505       1
2.171338        1
2.774984        1
2.286603        1
3.931090        1
1.596084        1
3.908441        1
4.011387        1
2.534983        1
5.136157        1
1.189155        1
3.874092        1
6.269270        1
21.727019       1
0.241352        1
6.349011        1
7.850674        1
6.224693        1
8.112831        1
14.312796       1
6.984606        1
5.266703        1
4.217687        1
22.393407       1
3.371439        1
16.818029       1
24.734108       1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_min@['SK_ID_CURR'], Length: 141802, dtype: int64

2018-07-06 20:43:02,006 logger 29 [INFO]    [make_npy] 1.000000     3948
2.000000     3190
2.500000     2017
1.666667     1894
5.000000     1642
1.500000     1598
1.060572     1575
0.795429     1476
3.333333     1406
3.000000     1368
0.500000     1278
1.333333     1252
0.530286     1182
1.250000     1154
4.000000     1132
0.666667     1105
1.325715      972
0.833333      897
1.200000      788
1.428571      709
0.800000      704
0.600000      701
0.265143      663
1.590858      651
10.000000     593
2.121143      568
0.333333      563
0.400000      513
2.666667      513
1.600000      508
6.666667      490
1.111111      490
1.100000      477
6.000000      476
1.400000      449
3.750000      434
0.750000      418
0.714286      418
2.857143      414
7.500000      372
0.980392      368
0.625000      353
0.700000      352
0.535589      347
3.500000      337
2.941176      322
2.142857      314
1.875000      309
2.400000      301
1.800000      298
             ...
35.224218       1
5.953342        1
6.918471        1
36.999664       1
6.651463        1
1.133520        1
2.008193        1
4.329609        1
15.562749       1
19.110493       1
1.848365        1
1.003391        1
14.404432       1
1.572261        1
12.253917       1
1.785268        1
15.440641       1
9.790606        1
2.918714        1
4.919825        1
20.412056       1
0.438282        1
28.615385       1
12.007505       1
2.171338        1
2.774984        1
2.286603        1
3.931090        1
1.596084        1
3.908441        1
4.011387        1
2.534983        1
5.136157        1
1.189155        1
3.874092        1
6.269270        1
21.727019       1
0.241352        1
6.349011        1
7.850674        1
6.224693        1
8.112831        1
14.312796       1
6.984606        1
5.266703        1
4.217687        1
22.393407       1
3.371439        1
16.818029       1
24.734108       1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_min@['SK_ID_CURR'], Length: 141802, dtype: int64
2018-07-06 20:43:02,040 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:02,040 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:02,236 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:02,236 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:02,409 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:02,409 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:02,445 logger 29 [INFO]    [make_npy] 0.000000     708
0.707107      65
0.353553      50
1.060660      47
1.414214      46
1.767767      37
2.121320      29
0.176777      29
0.883883      26
0.471405      23
2.828427      23
3.535534      21
0.471405      20
1.885618      20
1.178511      19
2.357023      18
2.474874      18
0.589256      17
0.942809      16
2.651650      16
0.530330      15
0.235702      14
1.590990      14
1.178511      13
0.235702      13
0.589256      13
5.656854      13
0.942809      12
5.303301      12
1.178511      12
4.242641      12
3.181981      12
0.235702      11
0.589256      11
4.714045      10
0.441942       9
0.332138       9
0.388909       8
0.424264       8
0.589256       8
0.294628       8
0.565685       8
0.636396       7
1.558867       7
0.636396       7
0.942809       7
0.952237       7
0.384900       7
1.131371       7
0.795495       7
            ...
1.306919       1
3.612840       1
14.033720      1
8.088241       1
6.460301       1
0.488650       1
2.292915       1
4.292318       1
3.813037       1
30.863097      1
1.702956       1
11.908830      1
2.124514       1
3.540755       1
0.785133       1
5.392356       1
6.219736       1
6.031507       1
1.625013       1
1.176268       1
2.079522       1
5.679006       1
3.098931       1
0.963490       1
3.445952       1
0.219542       1
7.892553       1
12.158559      1
3.045778       1
1.787782       1
0.689978       1
7.962451       1
0.642997       1
3.629802       1
1.117123       1
6.066523       1
5.660284       1
0.617019       1
4.315975       1
1.659008       1
1.443200       1
9.277811       1
15.154665      1
9.782016       1
1.723814       1
11.142805      1
0.432557       1
6.385613       1
6.413110       1
0.903831       1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_std@['SK_ID_CURR'], Length: 191058, dtype: int64
2018-07-06 20:43:02,445 logger 29 [INFO]    [make_npy] 0.000000     708
0.707107      65
0.353553      50
1.060660      47
1.414214      46
1.767767      37
2.121320      29
0.176777      29
0.883883      26
0.471405      23
2.828427      23
3.535534      21
0.471405      20
1.885618      20
1.178511      19
2.357023      18
2.474874      18
0.589256      17
0.942809      16
2.651650      16
0.530330      15
0.235702      14
1.590990      14
1.178511      13
0.235702      13
0.589256      13
5.656854      13
0.942809      12
5.303301      12
1.178511      12
4.242641      12
3.181981      12
0.235702      11
0.589256      11
4.714045      10
0.441942       9
0.332138       9
0.388909       8
0.424264       8
0.589256       8
0.294628       8
0.565685       8
0.636396       7
1.558867       7
0.636396       7
0.942809       7
0.952237       7
0.384900       7
1.131371       7
0.795495       7
            ...
1.306919       1
3.612840       1
14.033720      1
8.088241       1
6.460301       1
0.488650       1
2.292915       1
4.292318       1
3.813037       1
30.863097      1
1.702956       1
11.908830      1
2.124514       1
3.540755       1
0.785133       1
5.392356       1
6.219736       1
6.031507       1
1.625013       1
1.176268       1
2.079522       1
5.679006       1
3.098931       1
0.963490       1
3.445952       1
0.219542       1
7.892553       1
12.158559      1
3.045778       1
1.787782       1
0.689978       1
7.962451       1
0.642997       1
3.629802       1
1.117123       1
6.066523       1
5.660284       1
0.617019       1
4.315975       1
1.659008       1
1.443200       1
9.277811       1
15.154665      1
9.782016       1
1.723814       1
11.142805      1
0.432557       1
6.385613       1
6.413110       1
0.903831       1
Name: app_AMT_GOODS_PRICE_div_AMT_APPLICATION@_std@['SK_ID_CURR'], Length: 191058, dtype: int64
2018-07-06 20:43:02,476 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:02,476 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:02,593 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:02,593 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:02,707 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:02,707 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:02,778 logger 29 [INFO]    [make_npy] 0.000000e+00    1177
2.659494e+05       1
1.980437e+06       1
1.413134e+05       1
5.190574e+05       1
4.114096e+05       1
2.614928e+05       1
3.382430e+05       1
4.897863e+05       1
3.588263e+05       1
7.983015e+05       1
4.499891e+04       1
1.336311e+05       1
4.453219e+05       1
1.437738e+06       1
1.007808e+06       1
1.476043e+05       1
7.648045e+05       1
5.659272e+05       1
7.047713e+05       1
3.843877e+05       1
1.850159e+06       1
1.962013e+06       1
1.668992e+05       1
2.434018e+06       1
1.510682e+06       1
1.198406e+06       1
1.769204e+05       1
5.018375e+05       1
3.553426e+05       1
1.954992e+05       1
5.184030e+05       1
7.116819e+04       1
6.817283e+04       1
6.116632e+05       1
7.472091e+05       1
1.340059e+06       1
1.301660e+06       1
1.264735e+05       1
1.170117e+05       1
5.594075e+05       1
5.221170e+05       1
3.746014e+05       1
2.198808e+05       1
2.515377e+04       1
6.003221e+05       1
1.834510e+05       1
9.940698e+05       1
1.576963e+06       1
2.567144e+06       1
                ...
5.799127e+05       1
8.557134e+05       1
7.798273e+05       1
1.249758e+05       1
8.352283e+05       1
1.810706e+06       1
1.645163e+06       1
3.387234e+05       1
2.366434e+05       1
4.079403e+05       1
2.842623e+06       1
1.850022e+05       1
5.071007e+05       1
6.663411e+05       1
7.591076e+05       1
1.487972e+05       1
7.483477e+05       1
2.975240e+05       1
4.027267e+06       1
1.843754e+06       1
1.767629e+06       1
4.536741e+04       1
1.389169e+05       1
2.216728e+05       1
4.276351e+05       1
2.642810e+06       1
8.958306e+04       1
8.446762e+05       1
1.003081e+06       1
8.268834e+05       1
6.155161e+05       1
7.673014e+04       1
2.095169e+05       1
6.878203e+05       1
7.576730e+05       1
9.337308e+05       1
4.025979e+05       1
3.916204e+06       1
8.906331e+05       1
1.444165e+05       1
2.071185e+06       1
1.011437e+06       1
1.196655e+05       1
5.242403e+05       1
1.259154e+06       1
1.187359e+06       1
3.420350e+05       1
1.482888e+05       1
1.231942e+06       1
1.195368e+06       1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 312746, dtype: int64

2018-07-06 20:43:02,778 logger 29 [INFO]    [make_npy] 0.000000e+00    1177
2.659494e+05       1
1.980437e+06       1
1.413134e+05       1
5.190574e+05       1
4.114096e+05       1
2.614928e+05       1
3.382430e+05       1
4.897863e+05       1
3.588263e+05       1
7.983015e+05       1
4.499891e+04       1
1.336311e+05       1
4.453219e+05       1
1.437738e+06       1
1.007808e+06       1
1.476043e+05       1
7.648045e+05       1
5.659272e+05       1
7.047713e+05       1
3.843877e+05       1
1.850159e+06       1
1.962013e+06       1
1.668992e+05       1
2.434018e+06       1
1.510682e+06       1
1.198406e+06       1
1.769204e+05       1
5.018375e+05       1
3.553426e+05       1
1.954992e+05       1
5.184030e+05       1
7.116819e+04       1
6.817283e+04       1
6.116632e+05       1
7.472091e+05       1
1.340059e+06       1
1.301660e+06       1
1.264735e+05       1
1.170117e+05       1
5.594075e+05       1
5.221170e+05       1
3.746014e+05       1
2.198808e+05       1
2.515377e+04       1
6.003221e+05       1
1.834510e+05       1
9.940698e+05       1
1.576963e+06       1
2.567144e+06       1
                ...
5.799127e+05       1
8.557134e+05       1
7.798273e+05       1
1.249758e+05       1
8.352283e+05       1
1.810706e+06       1
1.645163e+06       1
3.387234e+05       1
2.366434e+05       1
4.079403e+05       1
2.842623e+06       1
1.850022e+05       1
5.071007e+05       1
6.663411e+05       1
7.591076e+05       1
1.487972e+05       1
7.483477e+05       1
2.975240e+05       1
4.027267e+06       1
1.843754e+06       1
1.767629e+06       1
4.536741e+04       1
1.389169e+05       1
2.216728e+05       1
4.276351e+05       1
2.642810e+06       1
8.958306e+04       1
8.446762e+05       1
1.003081e+06       1
8.268834e+05       1
6.155161e+05       1
7.673014e+04       1
2.095169e+05       1
6.878203e+05       1
7.576730e+05       1
9.337308e+05       1
4.025979e+05       1
3.916204e+06       1
8.906331e+05       1
1.444165e+05       1
2.071185e+06       1
1.011437e+06       1
1.196655e+05       1
5.242403e+05       1
1.259154e+06       1
1.187359e+06       1
3.420350e+05       1
1.482888e+05       1
1.231942e+06       1
1.195368e+06       1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 312746, dtype: int64
2018-07-06 20:43:02,827 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:02,827 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:02,925 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:02,925 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:03,000 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,000 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,039 logger 29 [INFO]    [make_npy] 2.170608e+05    1
2.093317e+05    1
8.858560e+04    1
1.018566e+05    1
4.925000e+05    1
1.431072e+05    1
1.678408e+05    1
6.867861e+05    1
4.688328e+04    1
5.328033e+05    1
8.990810e+04    1
4.414661e+05    1
2.120246e+05    1
2.334246e+05    1
6.799743e+04    1
1.160429e+05    1
3.684746e+05    1
2.348684e+05    1
1.018626e+05    1
4.313877e+05    1
7.822677e+04    1
5.202264e+05    1
1.539438e+05    1
3.145450e+05    1
3.475402e+05    1
1.157416e+05    1
1.141447e+05    1
1.354728e+05    1
2.278961e+05    1
2.177668e+05    1
2.519873e+05    1
2.844716e+05    1
5.780903e+05    1
1.097785e+05    1
1.487778e+05    1
2.689252e+05    1
8.167985e+05    1
2.241386e+05    1
1.358650e+05    1
1.714206e+05    1
4.029232e+05    1
2.576600e+05    1
3.101133e+05    1
5.062277e+04    1
5.393904e+05    1
1.857595e+05    1
2.156383e+05    1
2.484594e+05    1
1.889099e+05    1
2.582384e+05    1
               ..
1.755221e+05    1
1.306066e+05    1
1.092846e+05    1
1.976979e+05    1
2.633572e+05    1
3.640333e+05    1
2.144996e+05    1
1.062683e+05    1
5.839502e+04    1
3.041522e+05    1
1.013250e+05    1
2.192582e+05    1
3.924676e+05    1
1.020330e+05    1
1.864466e+05    1
5.549844e+05    1
1.093904e+05    1
3.624812e+05    1
1.419439e+05    1
1.174671e+05    1
1.786947e+05    1
2.371705e+05    1
9.372840e+05    1
3.710408e+05    1
9.036463e+05    1
2.152584e+06    1
1.982432e+05    1
6.315394e+05    1
8.656468e+04    1
8.360707e+04    1
5.182751e+05    1
2.167102e+05    1
1.115724e+05    1
1.523011e+05    1
1.744240e+05    1
1.016754e+05    1
2.496136e+05    1
2.811983e+05    1
1.365145e+05    1
9.088040e+04    1
9.021899e+04    1
4.693048e+05    1
4.905603e+05    1
2.875741e+05    1
8.517556e+04    1
1.341121e+05    1
1.161386e+05    1
2.224741e+05    1
1.402009e+05    1
2.658297e+05    1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 312745, dtype: int64
2018-07-06 20:43:03,039 logger 29 [INFO]    [make_npy] 2.170608e+05    1
2.093317e+05    1
8.858560e+04    1
1.018566e+05    1
4.925000e+05    1
1.431072e+05    1
1.678408e+05    1
6.867861e+05    1
4.688328e+04    1
5.328033e+05    1
8.990810e+04    1
4.414661e+05    1
2.120246e+05    1
2.334246e+05    1
6.799743e+04    1
1.160429e+05    1
3.684746e+05    1
2.348684e+05    1
1.018626e+05    1
4.313877e+05    1
7.822677e+04    1
5.202264e+05    1
1.539438e+05    1
3.145450e+05    1
3.475402e+05    1
1.157416e+05    1
1.141447e+05    1
1.354728e+05    1
2.278961e+05    1
2.177668e+05    1
2.519873e+05    1
2.844716e+05    1
5.780903e+05    1
1.097785e+05    1
1.487778e+05    1
2.689252e+05    1
8.167985e+05    1
2.241386e+05    1
1.358650e+05    1
1.714206e+05    1
4.029232e+05    1
2.576600e+05    1
3.101133e+05    1
5.062277e+04    1
5.393904e+05    1
1.857595e+05    1
2.156383e+05    1
2.484594e+05    1
1.889099e+05    1
2.582384e+05    1
               ..
1.755221e+05    1
1.306066e+05    1
1.092846e+05    1
1.976979e+05    1
2.633572e+05    1
3.640333e+05    1
2.144996e+05    1
1.062683e+05    1
5.839502e+04    1
3.041522e+05    1
1.013250e+05    1
2.192582e+05    1
3.924676e+05    1
1.020330e+05    1
1.864466e+05    1
5.549844e+05    1
1.093904e+05    1
3.624812e+05    1
1.419439e+05    1
1.174671e+05    1
1.786947e+05    1
2.371705e+05    1
9.372840e+05    1
3.710408e+05    1
9.036463e+05    1
2.152584e+06    1
1.982432e+05    1
6.315394e+05    1
8.656468e+04    1
8.360707e+04    1
5.182751e+05    1
2.167102e+05    1
1.115724e+05    1
1.523011e+05    1
1.744240e+05    1
1.016754e+05    1
2.496136e+05    1
2.811983e+05    1
1.365145e+05    1
9.088040e+04    1
9.021899e+04    1
4.693048e+05    1
4.905603e+05    1
2.875741e+05    1
8.517556e+04    1
1.341121e+05    1
1.161386e+05    1
2.224741e+05    1
1.402009e+05    1
2.658297e+05    1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 312745, dtype: int64
2018-07-06 20:43:03,060 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:03,060 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:03,172 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:03,172 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:03,269 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,269 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,313 logger 29 [INFO]    [make_npy] 2.964634e+05    1
1.192934e+05    1
1.700287e+05    1
1.951585e+06    1
1.038107e+05    1
2.220971e+05    1
4.385198e+05    1
2.044770e+06    1
7.021431e+05    1
2.546981e+05    1
2.523294e+05    1
6.685023e+04    1
2.437372e+05    1
3.410775e+05    1
4.688339e+05    1
8.097512e+04    1
3.861963e+05    1
5.062277e+04    1
2.693593e+05    1
1.204419e+06    1
1.003539e+05    1
1.268951e+05    1
1.525067e+05    1
8.008453e+05    1
8.342444e+04    1
2.120246e+05    1
2.334246e+05    1
6.133800e+05    1
3.004367e+05    1
9.809097e+04    1
1.160429e+05    1
2.015966e+05    1
1.272075e+05    1
2.241386e+05    1
7.472525e+04    1
5.184772e+05    1
9.076334e+04    1
2.259525e+06    1
3.310382e+05    1
1.407892e+05    1
2.064033e+05    1
1.349641e+05    1
2.067065e+05    1
8.198330e+04    1
5.805647e+05    1
1.856000e+05    1
5.336205e+05    1
2.977511e+05    1
9.055490e+05    1
3.810049e+05    1
               ..
4.779530e+04    1
2.346340e+05    1
1.585297e+05    1
1.784962e+06    1
3.983172e+04    1
6.737128e+05    1
4.834275e+05    1
1.990935e+05    1
1.496666e+05    1
1.238295e+05    1
1.637304e+05    1
1.949912e+05    1
4.642323e+05    1
1.180553e+05    1
6.217675e+05    1
3.221189e+05    1
4.088668e+05    1
2.480410e+05    1
3.981372e+05    1
1.027655e+05    1
9.915489e+05    1
2.106060e+05    1
6.501836e+05    1
2.109412e+05    1
5.739087e+05    1
1.668600e+05    1
9.249664e+05    1
2.760254e+05    1
9.862552e+04    1
1.409261e+05    1
3.966777e+04    1
1.924446e+05    1
1.314395e+06    1
4.898769e+04    1
1.125885e+05    1
1.086770e+05    1
2.215951e+05    1
5.477948e+05    1
2.611223e+05    1
6.221399e+05    1
5.772618e+04    1
1.026767e+05    1
5.485407e+05    1
1.092435e+05    1
6.119235e+05    1
1.099629e+05    1
2.681532e+05    1
8.201027e+04    1
1.494583e+05    1
1.917922e+05    1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 312745, dtype: int64

2018-07-06 20:43:03,313 logger 29 [INFO]    [make_npy] 2.964634e+05    1
1.192934e+05    1
1.700287e+05    1
1.951585e+06    1
1.038107e+05    1
2.220971e+05    1
4.385198e+05    1
2.044770e+06    1
7.021431e+05    1
2.546981e+05    1
2.523294e+05    1
6.685023e+04    1
2.437372e+05    1
3.410775e+05    1
4.688339e+05    1
8.097512e+04    1
3.861963e+05    1
5.062277e+04    1
2.693593e+05    1
1.204419e+06    1
1.003539e+05    1
1.268951e+05    1
1.525067e+05    1
8.008453e+05    1
8.342444e+04    1
2.120246e+05    1
2.334246e+05    1
6.133800e+05    1
3.004367e+05    1
9.809097e+04    1
1.160429e+05    1
2.015966e+05    1
1.272075e+05    1
2.241386e+05    1
7.472525e+04    1
5.184772e+05    1
9.076334e+04    1
2.259525e+06    1
3.310382e+05    1
1.407892e+05    1
2.064033e+05    1
1.349641e+05    1
2.067065e+05    1
8.198330e+04    1
5.805647e+05    1
1.856000e+05    1
5.336205e+05    1
2.977511e+05    1
9.055490e+05    1
3.810049e+05    1
               ..
4.779530e+04    1
2.346340e+05    1
1.585297e+05    1
1.784962e+06    1
3.983172e+04    1
6.737128e+05    1
4.834275e+05    1
1.990935e+05    1
1.496666e+05    1
1.238295e+05    1
1.637304e+05    1
1.949912e+05    1
4.642323e+05    1
1.180553e+05    1
6.217675e+05    1
3.221189e+05    1
4.088668e+05    1
2.480410e+05    1
3.981372e+05    1
1.027655e+05    1
9.915489e+05    1
2.106060e+05    1
6.501836e+05    1
2.109412e+05    1
5.739087e+05    1
1.668600e+05    1
9.249664e+05    1
2.760254e+05    1
9.862552e+04    1
1.409261e+05    1
3.966777e+04    1
1.924446e+05    1
1.314395e+06    1
4.898769e+04    1
1.125885e+05    1
1.086770e+05    1
2.215951e+05    1
5.477948e+05    1
2.611223e+05    1
6.221399e+05    1
5.772618e+04    1
1.026767e+05    1
5.485407e+05    1
1.092435e+05    1
6.119235e+05    1
1.099629e+05    1
2.681532e+05    1
8.201027e+04    1
1.494583e+05    1
1.917922e+05    1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 312745, dtype: int64
2018-07-06 20:43:03,330 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:03,330 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:03,459 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:03,459 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:03,542 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,542 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,589 logger 29 [INFO]    [make_npy] 850965.020971    1
191745.947170    1
191036.918070    1
554952.086942    1
67896.150230     1
124510.675173    1
561687.436848    1
265565.434571    1
65759.273061     1
228367.966635    1
53990.862954     1
184240.928880    1
159872.979354    1
131248.247026    1
40668.360211     1
102764.081788    1
34902.430304     1
109040.024642    1
145072.621002    1
82063.463205     1
78527.195251     1
119122.507227    1
98461.447894     1
36416.174973     1
100475.131602    1
89871.025056     1
49641.107384     1
451427.588266    1
36632.138243     1
229210.184806    1
49568.602923     1
82871.749541     1
214536.732449    1
75228.879555     1
119857.618457    1
89446.120928     1
127856.688453    1
88960.666676     1
328560.761245    1
526660.382721    1
33537.072551     1
38511.166905     1
138492.437058    1
60673.236909     1
121730.249474    1
138672.094989    1
622232.855063    1
47608.476563     1
146893.983517    1
40154.770208     1
                ..
62962.054128     1
312022.115434    1
112588.537794    1
108676.992894    1
221595.106656    1
152304.962685    1
115394.486290    1
148960.518292    1
154464.927410    1
109243.506570    1
68804.880714     1
130378.719314    1
513556.047512    1
74358.134248     1
136241.738744    1
550718.062963    1
49939.246097     1
290819.381581    1
69518.105093     1
136172.669901    1
160718.532146    1
49181.750332     1
58241.425920     1
35716.762546     1
73715.663460     1
51342.092758     1
197697.910569    1
263357.202330    1
364033.347715    1
155977.495569    1
74528.083721     1
59727.308100     1
226336.508848    1
154448.977314    1
420030.696006    1
167696.499273    1
65889.866747     1
98625.523604     1
96118.103642     1
118055.259740    1
167959.467915    1
100018.971804    1
102825.071577    1
67528.370662     1
74811.536723     1
57795.681512     1
48862.451031     1
43564.820531     1
60500.022752     1
119932.589151    1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 312745, dtype: int64
2018-07-06 20:43:03,589 logger 29 [INFO]    [make_npy] 850965.020971    1
191745.947170    1
191036.918070    1
554952.086942    1
67896.150230     1
124510.675173    1
561687.436848    1
265565.434571    1
65759.273061     1
228367.966635    1
53990.862954     1
184240.928880    1
159872.979354    1
131248.247026    1
40668.360211     1
102764.081788    1
34902.430304     1
109040.024642    1
145072.621002    1
82063.463205     1
78527.195251     1
119122.507227    1
98461.447894     1
36416.174973     1
100475.131602    1
89871.025056     1
49641.107384     1
451427.588266    1
36632.138243     1
229210.184806    1
49568.602923     1
82871.749541     1
214536.732449    1
75228.879555     1
119857.618457    1
89446.120928     1
127856.688453    1
88960.666676     1
328560.761245    1
526660.382721    1
33537.072551     1
38511.166905     1
138492.437058    1
60673.236909     1
121730.249474    1
138672.094989    1
622232.855063    1
47608.476563     1
146893.983517    1
40154.770208     1
                ..
62962.054128     1
312022.115434    1
112588.537794    1
108676.992894    1
221595.106656    1
152304.962685    1
115394.486290    1
148960.518292    1
154464.927410    1
109243.506570    1
68804.880714     1
130378.719314    1
513556.047512    1
74358.134248     1
136241.738744    1
550718.062963    1
49939.246097     1
290819.381581    1
69518.105093     1
136172.669901    1
160718.532146    1
49181.750332     1
58241.425920     1
35716.762546     1
73715.663460     1
51342.092758     1
197697.910569    1
263357.202330    1
364033.347715    1
155977.495569    1
74528.083721     1
59727.308100     1
226336.508848    1
154448.977314    1
420030.696006    1
167696.499273    1
65889.866747     1
98625.523604     1
96118.103642     1
118055.259740    1
167959.467915    1
100018.971804    1
102825.071577    1
67528.370662     1
74811.536723     1
57795.681512     1
48862.451031     1
43564.820531     1
60500.022752     1
119932.589151    1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 312745, dtype: int64
2018-07-06 20:43:03,640 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:03,640 logger 125 [INFO]    [select_level_agg]
num: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:03,776 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:03,776 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:03,856 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,856 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:03,885 logger 29 [INFO]    [make_npy] 0.000000e+00    709
6.773784e+05      1
8.919802e+05      1
5.499044e+04      1
6.666952e+05      1
2.000806e+05      1
4.442280e+05      1
1.443002e+05      1
1.027862e+05      1
1.047179e+06      1
9.289391e+04      1
5.023548e+02      1
1.399301e+05      1
8.191689e+04      1
9.362665e+04      1
3.560991e+04      1
2.097896e+05      1
1.858100e+04      1
9.524257e+04      1
7.710294e+03      1
4.965491e+04      1
2.170775e+05      1
1.668183e+05      1
1.486337e+05      1
6.186756e+04      1
8.237467e+03      1
1.781996e+05      1
3.433502e+04      1
4.346729e+05      1
5.189690e+05      1
5.362733e+04      1
1.496102e+05      1
5.839550e+04      1
8.263225e+04      1
3.441746e+05      1
1.752219e+05      1
8.757569e+04      1
1.240872e+05      1
7.384903e+04      1
8.832888e+04      1
1.462756e+05      1
4.820234e+05      1
6.907038e+04      1
7.951551e+04      1
1.814463e+05      1
2.082817e+05      1
1.898131e+04      1
2.373897e+05      1
9.238331e+04      1
1.677182e+05      1
               ...
6.449094e+05      1
4.431345e+03      1
2.682266e+05      1
2.639271e+05      1
1.849795e+05      1
4.768384e+05      1
1.344992e+05      1
4.953581e+04      1
7.520597e+04      1
1.135984e+05      1
6.921544e+04      1
8.229554e+05      1
8.598509e+05      1
1.242331e+05      1
3.737876e+04      1
5.287284e+04      1
7.446524e+03      1
9.196924e+03      1
5.236371e+04      1
2.587286e+04      1
1.232968e+05      1
1.330323e+05      1
2.629483e+05      1
4.222457e+04      1
1.917085e+05      1
2.327351e+05      1
2.195096e+04      1
3.769867e+05      1
2.118133e+05      1
7.373297e+03      1
8.794903e+04      1
8.284689e+04      1
6.584254e+03      1
7.775694e+04      1
4.969907e+05      1
5.903535e+04      1
9.644312e+04      1
8.739707e+05      1
1.007765e+05      1
1.780223e+04      1
5.856768e+04      1
9.653423e+03      1
7.139633e+05      1
2.687491e+04      1
3.313516e+05      1
3.589077e+05      1
2.300846e+03      1
1.143296e+05      1
2.720244e+05      1
3.520316e+04      1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 193511, dtype: int64

2018-07-06 20:43:03,885 logger 29 [INFO]    [make_npy] 0.000000e+00    709
6.773784e+05      1
8.919802e+05      1
5.499044e+04      1
6.666952e+05      1
2.000806e+05      1
4.442280e+05      1
1.443002e+05      1
1.027862e+05      1
1.047179e+06      1
9.289391e+04      1
5.023548e+02      1
1.399301e+05      1
8.191689e+04      1
9.362665e+04      1
3.560991e+04      1
2.097896e+05      1
1.858100e+04      1
9.524257e+04      1
7.710294e+03      1
4.965491e+04      1
2.170775e+05      1
1.668183e+05      1
1.486337e+05      1
6.186756e+04      1
8.237467e+03      1
1.781996e+05      1
3.433502e+04      1
4.346729e+05      1
5.189690e+05      1
5.362733e+04      1
1.496102e+05      1
5.839550e+04      1
8.263225e+04      1
3.441746e+05      1
1.752219e+05      1
8.757569e+04      1
1.240872e+05      1
7.384903e+04      1
8.832888e+04      1
1.462756e+05      1
4.820234e+05      1
6.907038e+04      1
7.951551e+04      1
1.814463e+05      1
2.082817e+05      1
1.898131e+04      1
2.373897e+05      1
9.238331e+04      1
1.677182e+05      1
               ...
6.449094e+05      1
4.431345e+03      1
2.682266e+05      1
2.639271e+05      1
1.849795e+05      1
4.768384e+05      1
1.344992e+05      1
4.953581e+04      1
7.520597e+04      1
1.135984e+05      1
6.921544e+04      1
8.229554e+05      1
8.598509e+05      1
1.242331e+05      1
3.737876e+04      1
5.287284e+04      1
7.446524e+03      1
9.196924e+03      1
5.236371e+04      1
2.587286e+04      1
1.232968e+05      1
1.330323e+05      1
2.629483e+05      1
4.222457e+04      1
1.917085e+05      1
2.327351e+05      1
2.195096e+04      1
3.769867e+05      1
2.118133e+05      1
7.373297e+03      1
8.794903e+04      1
8.284689e+04      1
6.584254e+03      1
7.775694e+04      1
4.969907e+05      1
5.903535e+04      1
9.644312e+04      1
8.739707e+05      1
1.007765e+05      1
1.780223e+04      1
5.856768e+04      1
9.653423e+03      1
7.139633e+05      1
2.687491e+04      1
3.313516e+05      1
3.589077e+05      1
2.300846e+03      1
1.143296e+05      1
2.720244e+05      1
3.520316e+04      1
Name: AMT_APPLICATION_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 193511, dtype: int64
2018-07-06 20:43:03,905 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:03,905 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:04,009 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,009 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,080 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,080 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,145 logger 29 [INFO]    [make_npy] 1.000000     85
5.000000     78
2.000000     73
2.500000     52
10.000000    49
0.988785     48
3.333333     47
3.000000     44
0.741588     40
6.666667     38
4.000000     34
1.977569     32
7.500000     32
1.333333     30
0.000000     30
4.690432     30
1.666667     29
1.500000     29
0.494392     29
1.876173     27
3.750000     26
2.666667     26
6.000000     25
3.752345     24
0.750000     24
1.235981     24
0.500000     23
2.345216     21
3.126954     20
8.985000     19
1.200000     19
4.840271     18
2.422400     18
8.333333     18
1.415445     17
8.000000     17
1.766784     17
9.380863     17
2.316800     16
0.666667     16
0.247196     16
3.226847     16
1.250000     16
5.990000     16
1.936108     16
2.814259     15
1.204142     15
2.212504     15
11.980000    15
1.600000     14
             ..
53.866468     1
0.634697      1
17.835910     1
42.760209     1
8.402294      1
2.459547      1
88.398849     1
18.783216     1
4.588773      1
96.638386     1
51.623596     1
9.014035      1
7.993687      1
7.115596      1
2.485727      1
3.216713      1
22.940003     1
92.857551     1
51.348955     1
10.588791     1
9.933379      1
27.101118     1
68.804947     1
3.165908      1
9.812388      1
3.294091      1
9.723685      1
2.950114      1
11.118482     1
54.215809     1
9.098974      1
5.988383      1
5.139916      1
1.014493      1
20.918560     1
16.236204     1
18.701513     1
53.675287     1
8.140671      1
8.435971      1
27.349022     1
10.642181     1
8.593782      1
26.618819     1
44.656475     1
7.378259      1
17.649409     1
37.659692     1
62.504432     1
11.038988     1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_sum@['SK_ID_CURR'], Length: 304296, dtype: int64
2018-07-06 20:43:04,145 logger 29 [INFO]    [make_npy] 1.000000     85
5.000000     78
2.000000     73
2.500000     52
10.000000    49
0.988785     48
3.333333     47
3.000000     44
0.741588     40
6.666667     38
4.000000     34
1.977569     32
7.500000     32
1.333333     30
0.000000     30
4.690432     30
1.666667     29
1.500000     29
0.494392     29
1.876173     27
3.750000     26
2.666667     26
6.000000     25
3.752345     24
0.750000     24
1.235981     24
0.500000     23
2.345216     21
3.126954     20
8.985000     19
1.200000     19
4.840271     18
2.422400     18
8.333333     18
1.415445     17
8.000000     17
1.766784     17
9.380863     17
2.316800     16
0.666667     16
0.247196     16
3.226847     16
1.250000     16
5.990000     16
1.936108     16
2.814259     15
1.204142     15
2.212504     15
11.980000    15
1.600000     14
             ..
53.866468     1
0.634697      1
17.835910     1
42.760209     1
8.402294      1
2.459547      1
88.398849     1
18.783216     1
4.588773      1
96.638386     1
51.623596     1
9.014035      1
7.993687      1
7.115596      1
2.485727      1
3.216713      1
22.940003     1
92.857551     1
51.348955     1
10.588791     1
9.933379      1
27.101118     1
68.804947     1
3.165908      1
9.812388      1
3.294091      1
9.723685      1
2.950114      1
11.118482     1
54.215809     1
9.098974      1
5.988383      1
5.139916      1
1.014493      1
20.918560     1
16.236204     1
18.701513     1
53.675287     1
8.140671      1
8.435971      1
27.349022     1
10.642181     1
8.593782      1
26.618819     1
44.656475     1
7.378259      1
17.649409     1
37.659692     1
62.504432     1
11.038988     1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_sum@['SK_ID_CURR'], Length: 304296, dtype: int64
2018-07-06 20:43:04,191 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:04,191 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:04,310 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,310 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,384 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,384 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,427 logger 29 [INFO]    [make_npy] 1.000000     85
2.000000     76
5.000000     76
0.988785     52
10.000000    50
2.500000     50
3.333333     48
3.000000     43
0.741588     41
6.666667     36
7.500000     32
4.000000     32
4.690432     31
1.500000     30
1.977569     30
0.494392     30
1.333333     29
1.666667     29
1.876173     27
3.750000     26
2.666667     26
0.750000     25
1.235981     25
6.000000     24
3.752345     23
0.500000     23
2.345216     22
1.250000     20
3.126954     20
4.840271     19
1.200000     19
8.985000     19
1.415445     19
8.000000     18
0.666667     18
2.422400     18
1.766784     17
8.333333     17
9.380863     16
1.936108     16
0.247196     16
5.990000     16
1.730373     15
11.980000    15
1.600000     15
2.316800     15
2.814259     15
1.184564     15
1.204142     15
3.226847     15
             ..
2.614804      1
5.015870      1
5.559793      1
1.423849      1
9.501674      1
15.259985     1
15.262513     1
9.901567      1
5.764197      1
9.706115      1
6.139840      1
1.600738      1
11.182312     1
6.467224      1
3.535740      1
0.854754      1
10.532756     1
50.227945     1
4.199354      1
12.329483     1
2.207194      1
0.943692      1
5.789609      1
5.750900      1
8.397313      1
13.854164     1
6.579618      1
1.958986      1
6.248146      1
4.370821      1
2.839968      1
0.885347      1
2.364862      1
4.634113      1
2.283491      1
14.738990     1
19.406183     1
7.219324      1
5.160758      1
13.283741     1
9.764819      1
35.672402     1
21.564886     1
0.907318      1
10.822765     1
2.007729      1
1.995913      1
4.347549      1
6.023106      1
2.948581      1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_mean@['SK_ID_CURR'], Length: 304245, dtype: int64

2018-07-06 20:43:04,427 logger 29 [INFO]    [make_npy] 1.000000     85
2.000000     76
5.000000     76
0.988785     52
10.000000    50
2.500000     50
3.333333     48
3.000000     43
0.741588     41
6.666667     36
7.500000     32
4.000000     32
4.690432     31
1.500000     30
1.977569     30
0.494392     30
1.333333     29
1.666667     29
1.876173     27
3.750000     26
2.666667     26
0.750000     25
1.235981     25
6.000000     24
3.752345     23
0.500000     23
2.345216     22
1.250000     20
3.126954     20
4.840271     19
1.200000     19
8.985000     19
1.415445     19
8.000000     18
0.666667     18
2.422400     18
1.766784     17
8.333333     17
9.380863     16
1.936108     16
0.247196     16
5.990000     16
1.730373     15
11.980000    15
1.600000     15
2.316800     15
2.814259     15
1.184564     15
1.204142     15
3.226847     15
             ..
2.614804      1
5.015870      1
5.559793      1
1.423849      1
9.501674      1
15.259985     1
15.262513     1
9.901567      1
5.764197      1
9.706115      1
6.139840      1
1.600738      1
11.182312     1
6.467224      1
3.535740      1
0.854754      1
10.532756     1
50.227945     1
4.199354      1
12.329483     1
2.207194      1
0.943692      1
5.789609      1
5.750900      1
8.397313      1
13.854164     1
6.579618      1
1.958986      1
6.248146      1
4.370821      1
2.839968      1
0.885347      1
2.364862      1
4.634113      1
2.283491      1
14.738990     1
19.406183     1
7.219324      1
5.160758      1
13.283741     1
9.764819      1
35.672402     1
21.564886     1
0.907318      1
10.822765     1
2.007729      1
1.995913      1
4.347549      1
6.023106      1
2.948581      1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_mean@['SK_ID_CURR'], Length: 304245, dtype: int64
2018-07-06 20:43:04,445 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:04,445 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:04,551 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,551 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,631 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,631 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,676 logger 29 [INFO]    [make_npy] 5.000000     232
2.000000     165
10.000000    158
1.000000     133
3.000000     108
4.690432     104
2.500000     103
3.333333     103
4.000000     100
4.840271      91
6.666667      87
6.000000      72
7.500000      70
3.752345      65
9.380863      63
2.345216      63
1.876173      63
1.500000      62
1.666667      61
9.680542      61
15.000000     61
3.126954      60
20.000000     57
3.750000      52
0.988785      52
8.000000      50
1.333333      47
16.666667     45
11.584000     44
2.814259      43
25.000000     43
0.741588      41
8.333333      39
1.936108      38
13.333333     37
5.660000      36
5.479187      36
2.666667      36
5.990000      36
3.872217      35
11.980000     35
2.904163      34
7.035647      34
1.061914      34
3.226847      33
1.250000      33
50.000000     32
0.500000      32
8.985000      32
33.333333     32
            ...
1.326770       1
1.001681       1
16.338936      1
13.092121      1
5.446085       1
47.276246      1
14.453816      1
33.402537      1
2.587504       1
15.964674      1
7.451857       1
1.956035       1
5.635579       1
2.445858       1
8.967806       1
3.615299       1
0.999933       1
14.670671      1
6.118698       1
9.693849       1
1.451613       1
32.076531      1
3.232689       1
31.255814      1
32.423469      1
1.288715       1
11.852063      1
2.280164       1
38.308971      1
17.085893      1
5.792027       1
4.077864       1
2.498173       1
15.927112      1
42.748092      1
25.711057      1
11.522924      1
1.835031       1
2.890320       1
7.768958       1
3.791495       1
9.295832       1
11.154562      1
12.545025      1
20.322450      1
1.637926       1
16.710775      1
18.646641      1
3.537819       1
18.923041      1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_max@['SK_ID_CURR'], Length: 268557, dtype: int64
2018-07-06 20:43:04,676 logger 29 [INFO]    [make_npy] 5.000000     232
2.000000     165
10.000000    158
1.000000     133
3.000000     108
4.690432     104
2.500000     103
3.333333     103
4.000000     100
4.840271      91
6.666667      87
6.000000      72
7.500000      70
3.752345      65
9.380863      63
2.345216      63
1.876173      63
1.500000      62
1.666667      61
9.680542      61
15.000000     61
3.126954      60
20.000000     57
3.750000      52
0.988785      52
8.000000      50
1.333333      47
16.666667     45
11.584000     44
2.814259      43
25.000000     43
0.741588      41
8.333333      39
1.936108      38
13.333333     37
5.660000      36
5.479187      36
2.666667      36
5.990000      36
3.872217      35
11.980000     35
2.904163      34
7.035647      34
1.061914      34
3.226847      33
1.250000      33
50.000000     32
0.500000      32
8.985000      32
33.333333     32
            ...
1.326770       1
1.001681       1
16.338936      1
13.092121      1
5.446085       1
47.276246      1
14.453816      1
33.402537      1
2.587504       1
15.964674      1
7.451857       1
1.956035       1
5.635579       1
2.445858       1
8.967806       1
3.615299       1
0.999933       1
14.670671      1
6.118698       1
9.693849       1
1.451613       1
32.076531      1
3.232689       1
31.255814      1
32.423469      1
1.288715       1
11.852063      1
2.280164       1
38.308971      1
17.085893      1
5.792027       1
4.077864       1
2.498173       1
15.927112      1
42.748092      1
25.711057      1
11.522924      1
1.835031       1
2.890320       1
7.768958       1
3.791495       1
9.295832       1
11.154562      1
12.545025      1
20.322450      1
1.637926       1
16.710775      1
18.646641      1
3.537819       1
18.923041      1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_max@['SK_ID_CURR'], Length: 268557, dtype: int64
2018-07-06 20:43:04,720 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:04,720 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:04,844 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,844 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:04,906 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,906 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:04,942 logger 29 [INFO]    [make_npy] 1.000000     664
0.988785     564
0.741588     463
0.494392     439
2.000000     419
1.235981     330
5.000000     255
2.500000     252
1.500000     252
1.483177     248
1.977569     225
0.500000     222
1.415445     220
1.666667     218
1.250000     211
0.247196     210
3.000000     192
3.333333     180
0.829689     178
1.184564     174
4.000000     163
1.106252     160
1.876173     139
1.333333     138
2.212504     138
10.000000    136
0.750000     135
0.859056     133
1.698534     129
0.666667     126
1.125830     123
1.730373     121
0.598808     118
0.600000     116
1.200000     115
3.750000     113
4.690432     108
0.499336     108
0.593271     103
0.572704     101
1.061914     101
0.296635     100
2.345216      95
0.279826      95
0.800000      93
6.000000      92
6.666667      91
0.938086      91
0.833333      89
5.990000      88
            ...
2.074603       1
2.246381       1
5.066730       1
6.969121       1
1.684905       1
7.961214       1
3.711756       1
0.625650       1
3.841922       1
0.672214       1
6.835010       1
0.579856       1
22.910473      1
2.943195       1
5.848114       1
8.077683       1
0.441315       1
10.105851      1
0.569416       1
2.650973       1
3.253620       1
1.672423       1
2.726835       1
10.400347      1
4.758278       1
4.343839       1
0.587115       1
3.697474       1
38.622344      1
3.522601       1
0.495562       1
1.585624       1
10.443605      1
7.116975       1
10.035698      1
21.444688      1
4.089949       1
2.290006       1
4.130876       1
27.695716      1
14.622320      1
5.242074       1
2.311900       1
0.196690       1
21.275740      1
23.017230      1
2.962670       1
3.494337       1
16.189089      1
1.143560       1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_min@['SK_ID_CURR'], Length: 248466, dtype: int64

2018-07-06 20:43:04,942 logger 29 [INFO]    [make_npy] 1.000000     664
0.988785     564
0.741588     463
0.494392     439
2.000000     419
1.235981     330
5.000000     255
2.500000     252
1.500000     252
1.483177     248
1.977569     225
0.500000     222
1.415445     220
1.666667     218
1.250000     211
0.247196     210
3.000000     192
3.333333     180
0.829689     178
1.184564     174
4.000000     163
1.106252     160
1.876173     139
1.333333     138
2.212504     138
10.000000    136
0.750000     135
0.859056     133
1.698534     129
0.666667     126
1.125830     123
1.730373     121
0.598808     118
0.600000     116
1.200000     115
3.750000     113
4.690432     108
0.499336     108
0.593271     103
0.572704     101
1.061914     101
0.296635     100
2.345216      95
0.279826      95
0.800000      93
6.000000      92
6.666667      91
0.938086      91
0.833333      89
5.990000      88
            ...
2.074603       1
2.246381       1
5.066730       1
6.969121       1
1.684905       1
7.961214       1
3.711756       1
0.625650       1
3.841922       1
0.672214       1
6.835010       1
0.579856       1
22.910473      1
2.943195       1
5.848114       1
8.077683       1
0.441315       1
10.105851      1
0.569416       1
2.650973       1
3.253620       1
1.672423       1
2.726835       1
10.400347      1
4.758278       1
4.343839       1
0.587115       1
3.697474       1
38.622344      1
3.522601       1
0.495562       1
1.585624       1
10.443605      1
7.116975       1
10.035698      1
21.444688      1
4.089949       1
2.290006       1
4.130876       1
27.695716      1
14.622320      1
5.242074       1
2.311900       1
0.196690       1
21.275740      1
23.017230      1
2.962670       1
3.494337       1
16.189089      1
1.143560       1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_min@['SK_ID_CURR'], Length: 248466, dtype: int64
2018-07-06 20:43:04,987 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:04,987 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_CREDIT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:05,093 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:05,093 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_CREDIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:05,182 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:05,182 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:05,207 logger 29 [INFO]    [make_npy] 0.000000     259
0.353553       5
1.060660       4
1.596938       3
2.651650       3
0.235702       3
0.471405       3
2.229326       2
1.820488       2
3.898434       2
0.349352       2
1.444059       2
2.552186       2
2.361559       2
0.794797       2
0.199495       2
2.357023       2
0.124409       2
0.073703       2
1.756463       2
3.185148       2
0.193719       2
1.783927       2
0.752285       2
1.885618       2
4.340991       2
0.424264       2
13.253449      2
3.563012       2
2.897999       2
1.997154       2
0.363889       2
3.076136       2
0.883883       2
0.589256       2
1.324443       2
0.539098       2
3.087143       2
1.814979       2
2.062214       2
1.047601       2
1.221347       2
3.947078       2
1.606753       2
0.707107       2
1.427812       2
4.607441       2
0.463242       2
1.205432       2
25.722228      2
            ...
9.555463       1
1.221458       1
10.634119      1
43.647176      1
13.379999      1
2.268863       1
1.782557       1
3.085380       1
22.617759      1
2.187173       1
11.984358      1
9.455558       1
11.959013      1
1.753347       1
24.314565      1
20.498624      1
0.349844       1
4.545341       1
5.192870       1
5.205637       1
1.642304       1
5.146132       1
2.536122       1
11.710022      1
0.713613       1
3.680939       1
6.370258       1
9.817624       1
1.056414       1
0.710027       1
2.726950       1
2.830033       1
17.118837      1
3.413508       1
4.727578       1
23.397219      1
6.996802       1
2.983530       1
13.895713      1
17.023810      1
0.360746       1
23.156427      1
1.355811       1
2.711447       1
8.199944       1
4.526149       1
23.641691      1
0.402903       1
6.500476       1
3.085928       1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_std@['SK_ID_CURR'], Length: 197414, dtype: int64
2018-07-06 20:43:05,207 logger 29 [INFO]    [make_npy] 0.000000     259
0.353553       5
1.060660       4
1.596938       3
2.651650       3
0.235702       3
0.471405       3
2.229326       2
1.820488       2
3.898434       2
0.349352       2
1.444059       2
2.552186       2
2.361559       2
0.794797       2
0.199495       2
2.357023       2
0.124409       2
0.073703       2
1.756463       2
3.185148       2
0.193719       2
1.783927       2
0.752285       2
1.885618       2
4.340991       2
0.424264       2
13.253449      2
3.563012       2
2.897999       2
1.997154       2
0.363889       2
3.076136       2
0.883883       2
0.589256       2
1.324443       2
0.539098       2
3.087143       2
1.814979       2
2.062214       2
1.047601       2
1.221347       2
3.947078       2
1.606753       2
0.707107       2
1.427812       2
4.607441       2
0.463242       2
1.205432       2
25.722228      2
            ...
9.555463       1
1.221458       1
10.634119      1
43.647176      1
13.379999      1
2.268863       1
1.782557       1
3.085380       1
22.617759      1
2.187173       1
11.984358      1
9.455558       1
11.959013      1
1.753347       1
24.314565      1
20.498624      1
0.349844       1
4.545341       1
5.192870       1
5.205637       1
1.642304       1
5.146132       1
2.536122       1
11.710022      1
0.713613       1
3.680939       1
6.370258       1
9.817624       1
1.056414       1
0.710027       1
2.726950       1
2.830033       1
17.118837      1
3.413508       1
4.727578       1
23.397219      1
6.996802       1
2.983530       1
13.895713      1
17.023810      1
0.360746       1
23.156427      1
1.355811       1
2.711447       1
8.199944       1
4.526149       1
23.641691      1
0.402903       1
6.500476       1
3.085928       1
Name: app_AMT_CREDIT_div_AMT_CREDIT@_std@['SK_ID_CURR'], Length: 197414, dtype: int64
2018-07-06 20:43:05,226 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:05,226 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:05,359 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:05,359 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:05,434 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:05,434 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:05,470 logger 29 [INFO]    [make_npy] 0.000000      63
10.000000     17
12.000000     12
16.666667     11
4.000000      10
7.500000      10
20.000000     10
2.000000       9
24.079588      9
18.733772      8
25.000000      8
5.330000       8
7.106667       8
13.333333      8
2.500000       7
16.226919      7
6.666667       7
134.845693     7
15.000000      7
4.132000       7
27.918363      7
20.226854      6
10.500000      6
25.079794      6
3.785728       6
3.432887       6
10.330000      6
21.014913      6
8.445946       6
3.000000       6
6.199628       6
24.000000      6
7.326667       6
1.000000       6
19.750858      6
5.149331       6
2.574665       6
9.000000       6
5.400000       5
8.333333       5
26.666667      5
19.806947      5
7.495000       5
13.000000      5
12.500000      5
6.865774       5
6.250000       5
21.980000      5
6.839945       5
3.879000       5
              ..
8.937959       1
28.244998      1
1.731895       1
7.430183       1
25.651667      1
18.961488      1
6.651448       1
8.925299       1
4.906054       1
3.034850       1
2.991288       1
20.081868      1
15.133221      1
9.505274       1
25.669241      1
3.787229       1
26.107492      1
2.954713       1
25.220526      1
9.380471       1
1.196370       1
4.394565       1
6.091097       1
5.547821       1
37.035532      1
5.107050       1
9.690055       1
5.561665       1
40.062123      1
2.996671       1
21.761207      1
3.510067       1
1.610001       1
29.186428      1
11.191262      1
12.829573      1
2.971334       1
7.469514       1
1.230196       1
3.362673       1
10.202989      1
13.215596      1
5.555258       1
6.981617       1
67.643166      1
2.393431       1
11.970575      1
8.501335       1
18.358895      1
14.686574      1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 310986, dtype: int64

2018-07-06 20:43:05,470 logger 29 [INFO]    [make_npy] 0.000000      63
10.000000     17
12.000000     12
16.666667     11
4.000000      10
7.500000      10
20.000000     10
2.000000       9
24.079588      9
18.733772      8
25.000000      8
5.330000       8
7.106667       8
13.333333      8
2.500000       7
16.226919      7
6.666667       7
134.845693     7
15.000000      7
4.132000       7
27.918363      7
20.226854      6
10.500000      6
25.079794      6
3.785728       6
3.432887       6
10.330000      6
21.014913      6
8.445946       6
3.000000       6
6.199628       6
24.000000      6
7.326667       6
1.000000       6
19.750858      6
5.149331       6
2.574665       6
9.000000       6
5.400000       5
8.333333       5
26.666667      5
19.806947      5
7.495000       5
13.000000      5
12.500000      5
6.865774       5
6.250000       5
21.980000      5
6.839945       5
3.879000       5
              ..
8.937959       1
28.244998      1
1.731895       1
7.430183       1
25.651667      1
18.961488      1
6.651448       1
8.925299       1
4.906054       1
3.034850       1
2.991288       1
20.081868      1
15.133221      1
9.505274       1
25.669241      1
3.787229       1
26.107492      1
2.954713       1
25.220526      1
9.380471       1
1.196370       1
4.394565       1
6.091097       1
5.547821       1
37.035532      1
5.107050       1
9.690055       1
5.561665       1
40.062123      1
2.996671       1
21.761207      1
3.510067       1
1.610001       1
29.186428      1
11.191262      1
12.829573      1
2.971334       1
7.469514       1
1.230196       1
3.362673       1
10.202989      1
13.215596      1
5.555258       1
6.981617       1
67.643166      1
2.393431       1
11.970575      1
8.501335       1
18.358895      1
14.686574      1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_sum@['SK_ID_CURR'], Length: 310986, dtype: int64
2018-07-06 20:43:05,514 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:05,514 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:05,643 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:05,643 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:05,726 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:05,726 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:05,784 logger 29 [INFO]    [make_npy] 12.000000     12
10.000000     12
2.000000      11
4.000000      10
2.500000      10
16.666667      9
20.000000      9
7.106667       9
24.079588      9
3.500000       8
7.500000       8
13.333333      8
5.000000       8
5.330000       8
18.733772      8
3.000000       8
25.000000      8
27.918363      7
15.000000      7
20.226854      7
134.845693     7
16.226919      7
8.445946       6
6.666667       6
4.600000       6
3.785728       6
6.000000       6
6.865774       6
3.432887       6
2.600000       6
10.330000      6
4.132000       6
5.149331       6
21.014913      6
19.750858      6
6.199628       6
1.000000       6
6.250000       6
7.326667       6
25.079794      6
2.574665       6
5.165000       5
13.680659      5
18.000000      5
26.666667      5
7.495000       5
2.700000       5
6.839945       5
67.422847      5
3.879000       5
              ..
2.828657       1
9.380471       1
1.196370       1
4.394565       1
3.160934       1
9.031333       1
5.107050       1
2.875723       1
4.845028       1
2.998784       1
2.549301       1
1.477893       1
4.251815       1
9.438020       1
10.754252      1
3.264467       1
11.734626      1
2.952922       1
5.878526       1
2.235402       1
0.996582       1
3.364136       1
6.400981       1
5.060327       1
6.818061       1
9.751937       1
5.659800       1
0.491183       1
5.220333       1
1.675492       1
7.536930       1
4.753800       1
2.117153       1
9.361805       1
10.450046      1
5.131989       1
1.002691       1
1.328184       1
11.470301      1
2.246687       1
49.511440      1
4.302667       1
3.749777       1
5.559622       1
3.624193       1
8.002544       1
3.298134       1
4.244047       1
13.844364      1
3.996839       1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 310765, dtype: int64
2018-07-06 20:43:05,784 logger 29 [INFO]    [make_npy] 12.000000     12
10.000000     12
2.000000      11
4.000000      10
2.500000      10
16.666667      9
20.000000      9
7.106667       9
24.079588      9
3.500000       8
7.500000       8
13.333333      8
5.000000       8
5.330000       8
18.733772      8
3.000000       8
25.000000      8
27.918363      7
15.000000      7
20.226854      7
134.845693     7
16.226919      7
8.445946       6
6.666667       6
4.600000       6
3.785728       6
6.000000       6
6.865774       6
3.432887       6
2.600000       6
10.330000      6
4.132000       6
5.149331       6
21.014913      6
19.750858      6
6.199628       6
1.000000       6
6.250000       6
7.326667       6
25.079794      6
2.574665       6
5.165000       5
13.680659      5
18.000000      5
26.666667      5
7.495000       5
2.700000       5
6.839945       5
67.422847      5
3.879000       5
              ..
2.828657       1
9.380471       1
1.196370       1
4.394565       1
3.160934       1
9.031333       1
5.107050       1
2.875723       1
4.845028       1
2.998784       1
2.549301       1
1.477893       1
4.251815       1
9.438020       1
10.754252      1
3.264467       1
11.734626      1
2.952922       1
5.878526       1
2.235402       1
0.996582       1
3.364136       1
6.400981       1
5.060327       1
6.818061       1
9.751937       1
5.659800       1
0.491183       1
5.220333       1
1.675492       1
7.536930       1
4.753800       1
2.117153       1
9.361805       1
10.450046      1
5.131989       1
1.002691       1
1.328184       1
11.470301      1
2.246687       1
49.511440      1
4.302667       1
3.749777       1
5.559622       1
3.624193       1
8.002544       1
3.298134       1
4.244047       1
13.844364      1
3.996839       1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_mean@['SK_ID_CURR'], Length: 310765, dtype: int64
2018-07-06 20:43:05,827 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:43:05,827 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: max
['SK_ID_CURR']
2018-07-06 20:43:05,931 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:05,931 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,003 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,003 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,039 logger 29 [INFO]    [make_npy] 24.079588     120
24.965260      87
20.000000      80
27.560777      68
40.453708      63
28.755835      61
21.271274      61
17.353169      60
67.422847      59
19.750858      57
10.000000      55
20.226854      54
44.948564      52
33.711423      52
21.831467      48
34.416971      47
27.918363      47
17.521530      47
13.333333      46
16.226919      46
19.806947      46
22.574614      44
20.078275      44
10.660000      42
53.938277      42
7.106667       39
16.397936      39
26.969139      38
80.907416      38
26.072253      38
33.333333      36
18.733772      36
27.670115      36
16.666667      35
134.845693     34
34.166983      34
34.587644      34
21.014913      34
101.134270     33
13.260033      33
21.345350      33
31.118237      33
23.058429      33
19.234361      33
5.000000       32
25.079794      32
25.000000      31
14.530786      31
26.666667      30
17.025971      30
             ...
1.341578        1
1.908294        1
25.320665       1
2.838383        1
2.045000        1
4.760629        1
3.134861        1
1.166983        1
3.006814        1
7.050667        1
2.344934        1
10.226725       1
2.901500        1
3.159339        1
3.461486        1
4.918436        1
12.406913       1
16.455193       1
4.648972        1
2.517509        1
13.418072       1
0.778059        1
6.175021        1
23.893057       1
6.437776        1
5.916926        1
0.344324        1
3.735643        1
7.340369        1
4.223166        1
4.469267        1
3.746546        1
4.003273        1
21.058173       1
1.766448        1
7.383294        1
8.429752        1
5.772200        1
3.631514        1
22.649983       1
8.675325        1
1.940147        1
1.778692        1
3.808091        1
1.383940        1
1.927181        1
4.912846        1
0.906610        1
4.275461        1
1.538331        1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 285294, dtype: int64

2018-07-06 20:43:06,039 logger 29 [INFO]    [make_npy] 24.079588     120
24.965260      87
20.000000      80
27.560777      68
40.453708      63
28.755835      61
21.271274      61
17.353169      60
67.422847      59
19.750858      57
10.000000      55
20.226854      54
44.948564      52
33.711423      52
21.831467      48
34.416971      47
27.918363      47
17.521530      47
13.333333      46
16.226919      46
19.806947      46
22.574614      44
20.078275      44
10.660000      42
53.938277      42
7.106667       39
16.397936      39
26.969139      38
80.907416      38
26.072253      38
33.333333      36
18.733772      36
27.670115      36
16.666667      35
134.845693     34
34.166983      34
34.587644      34
21.014913      34
101.134270     33
13.260033      33
21.345350      33
31.118237      33
23.058429      33
19.234361      33
5.000000       32
25.079794      32
25.000000      31
14.530786      31
26.666667      30
17.025971      30
             ...
1.341578        1
1.908294        1
25.320665       1
2.838383        1
2.045000        1
4.760629        1
3.134861        1
1.166983        1
3.006814        1
7.050667        1
2.344934        1
10.226725       1
2.901500        1
3.159339        1
3.461486        1
4.918436        1
12.406913       1
16.455193       1
4.648972        1
2.517509        1
13.418072       1
0.778059        1
6.175021        1
23.893057       1
6.437776        1
5.916926        1
0.344324        1
3.735643        1
7.340369        1
4.223166        1
4.469267        1
3.746546        1
4.003273        1
21.058173       1
1.766448        1
7.383294        1
8.429752        1
5.772200        1
3.631514        1
22.649983       1
8.675325        1
1.940147        1
1.778692        1
3.808091        1
1.383940        1
1.927181        1
4.912846        1
0.906610        1
4.275461        1
1.538331        1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_max@['SK_ID_CURR'], Length: 285294, dtype: int64
2018-07-06 20:43:06,083 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:43:06,083 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: min
['SK_ID_CURR']
2018-07-06 20:43:06,189 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,189 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,281 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,281 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,322 logger 29 [INFO]    [make_npy] 1.000000     34
4.000000     31
5.000000     27
2.000000     26
10.000000    25
5.330000     24
6.666667     22
7.106667     22
5.165000     20
2.500000     16
3.333333     16
1.500000     16
4.132000     15
3.443333     14
3.432887     13
5.333333     13
20.000000    13
2.600000     12
16.666667    12
5.714286     12
3.553333     12
7.500000     12
6.886667     12
1.049667     12
12.000000    12
3.608805     11
3.000000     11
1.333333     11
13.333333    11
4.264000     11
10.330000    11
4.737778     11
2.842667     11
4.591111     10
4.200000     10
1.995000     10
3.342741     10
1.033000     10
8.528000     10
6.000000     10
25.000000    10
1.250000     10
1.689189     10
4.444444      9
3.239260      9
0.800000      9
3.846987      9
4.166667      9
7.747500      9
2.664000      9
             ..
1.061921      1
5.886508      1
0.398097      1
0.441429      1
1.054482      1
9.244710      1
3.079057      1
0.897721      1
1.106512      1
3.156373      1
2.867239      1
6.221617      1
9.323616      1
0.625329      1
7.550577      1
0.627839      1
3.046645      1
1.530554      1
1.972859      1
3.999604      1
0.851648      1
3.434459      1
4.048865      1
2.779661      1
2.452270      1
5.109677      1
1.138737      1
0.920305      1
1.164652      1
1.034640      1
2.307012      1
0.757697      1
7.228475      1
1.928795      1
0.997308      1
2.656655      1
4.165470      1
1.998804      1
1.996184      1
0.448974      1
3.575383      1
1.533541      1
6.031824      1
3.106818      1
1.872581      1
1.626289      1
3.466943      1
1.483640      1
10.654674     1
1.321062      1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 302631, dtype: int64
2018-07-06 20:43:06,322 logger 29 [INFO]    [make_npy] 1.000000     34
4.000000     31
5.000000     27
2.000000     26
10.000000    25
5.330000     24
6.666667     22
7.106667     22
5.165000     20
2.500000     16
3.333333     16
1.500000     16
4.132000     15
3.443333     14
3.432887     13
5.333333     13
20.000000    13
2.600000     12
16.666667    12
5.714286     12
3.553333     12
7.500000     12
6.886667     12
1.049667     12
12.000000    12
3.608805     11
3.000000     11
1.333333     11
13.333333    11
4.264000     11
10.330000    11
4.737778     11
2.842667     11
4.591111     10
4.200000     10
1.995000     10
3.342741     10
1.033000     10
8.528000     10
6.000000     10
25.000000    10
1.250000     10
1.689189     10
4.444444      9
3.239260      9
0.800000      9
3.846987      9
4.166667      9
7.747500      9
2.664000      9
             ..
1.061921      1
5.886508      1
0.398097      1
0.441429      1
1.054482      1
9.244710      1
3.079057      1
0.897721      1
1.106512      1
3.156373      1
2.867239      1
6.221617      1
9.323616      1
0.625329      1
7.550577      1
0.627839      1
3.046645      1
1.530554      1
1.972859      1
3.999604      1
0.851648      1
3.434459      1
4.048865      1
2.779661      1
2.452270      1
5.109677      1
1.138737      1
0.920305      1
1.164652      1
1.034640      1
2.307012      1
0.757697      1
7.228475      1
1.928795      1
0.997308      1
2.656655      1
4.165470      1
1.998804      1
1.996184      1
0.448974      1
3.575383      1
1.533541      1
6.031824      1
3.106818      1
1.872581      1
1.626289      1
3.466943      1
1.483640      1
10.654674     1
1.321062      1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_min@['SK_ID_CURR'], Length: 302631, dtype: int64
2018-07-06 20:43:06,368 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:43:06,368 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_app_AMT_ANNUITY@
method: std
['SK_ID_CURR']
2018-07-06 20:43:06,476 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,476 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_app_AMT_ANNUITY@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,552 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,552 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,577 logger 29 [INFO]    [make_npy] 0.000000     259
0.084853       3
1.414214       3
0.257130       3
0.239356       2
1.726048       2
0.646953       2
0.028284       2
0.721490       2
1.025121       2
0.429921       2
1.094209       2
0.175503       2
0.212132       2
0.582656       2
4.081159       2
1.975301       2
1.457600       2
1.361888       2
2.708219       2
0.221324       2
1.838478       2
0.235409       2
0.957894       2
20.971143      2
0.579509       2
6.483280       2
1.658873       2
0.578542       2
4.651702       2
2.343352       2
6.599663       2
8.330071       2
3.166415       2
0.967322       2
1.554221       2
1.107801       2
0.445477       2
0.376417       2
0.610469       2
0.115023       2
5.355733       2
0.595680       2
0.588784       2
0.837149       2
5.647426       2
0.053387       2
0.347189       2
0.621088       2
0.918767       2
            ...
8.653694       1
0.787423       1
0.515605       1
2.943433       1
2.955435       1
2.979136       1
1.149139       1
4.970014       1
8.864505       1
1.219314       1
4.826412       1
1.749683       1
2.529829       1
6.377670       1
4.483991       1
4.955336       1
2.449620       1
1.141803       1
7.954397       1
29.797557      1
6.584763       1
8.432444       1
2.545962       1
6.173934       1
0.421213       1
9.517234       1
3.517309       1
18.698377      1
0.026126       1
15.300180      1
9.267632       1
2.390489       1
13.137660      1
1.049199       1
10.328979      1
0.155376       1
12.395986      1
3.117398       1
14.047036      1
1.833938       1
5.760885       1
2.445675       1
6.589329       1
0.948446       1
27.972095      1
1.843956       1
1.013391       1
6.050574       1
0.121084       1
0.709837       1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 197356, dtype: int64

2018-07-06 20:43:06,577 logger 29 [INFO]    [make_npy] 0.000000     259
0.084853       3
1.414214       3
0.257130       3
0.239356       2
1.726048       2
0.646953       2
0.028284       2
0.721490       2
1.025121       2
0.429921       2
1.094209       2
0.175503       2
0.212132       2
0.582656       2
4.081159       2
1.975301       2
1.457600       2
1.361888       2
2.708219       2
0.221324       2
1.838478       2
0.235409       2
0.957894       2
20.971143      2
0.579509       2
6.483280       2
1.658873       2
0.578542       2
4.651702       2
2.343352       2
6.599663       2
8.330071       2
3.166415       2
0.967322       2
1.554221       2
1.107801       2
0.445477       2
0.376417       2
0.610469       2
0.115023       2
5.355733       2
0.595680       2
0.588784       2
0.837149       2
5.647426       2
0.053387       2
0.347189       2
0.621088       2
0.918767       2
            ...
8.653694       1
0.787423       1
0.515605       1
2.943433       1
2.955435       1
2.979136       1
1.149139       1
4.970014       1
8.864505       1
1.219314       1
4.826412       1
1.749683       1
2.529829       1
6.377670       1
4.483991       1
4.955336       1
2.449620       1
1.141803       1
7.954397       1
29.797557      1
6.584763       1
8.432444       1
2.545962       1
6.173934       1
0.421213       1
9.517234       1
3.517309       1
18.698377      1
0.026126       1
15.300180      1
9.267632       1
2.390489       1
13.137660      1
1.049199       1
10.328979      1
0.155376       1
12.395986      1
3.117398       1
14.047036      1
1.833938       1
5.760885       1
2.445675       1
6.589329       1
0.948446       1
27.972095      1
1.843956       1
1.013391       1
6.050574       1
0.121084       1
0.709837       1
Name: AMT_CREDIT_div_app_AMT_ANNUITY@_std@['SK_ID_CURR'], Length: 197356, dtype: int64
2018-07-06 20:43:06,594 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:06,594 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:06,703 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,703 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,797 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,797 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:06,844 logger 29 [INFO]    [make_npy] 1.000000     243
2.000000     151
0.500000     145
0.938086     138
1.666667     124
1.500000     114
1.250000     114
0.247196     104
2.500000     101
0.600000     100
0.666667      86
1.333333      86
0.800000      83
0.400000      82
0.750000      75
1.876173      71
1.407129      71
0.346075      70
1.200000      68
0.833333      68
0.700000      67
0.222477      66
0.909918      66
3.000000      65
0.197757      61
1.172608      60
0.300000      59
4.000000      58
0.173037      58
0.296635      55
1.250782      54
2.333333      52
1.600000      51
0.900000      50
0.883392      49
5.000000      49
0.625000      48
0.395514      48
2.345216      48
3.333333      46
0.148318      45
1.750000      44
1.166667      43
1.936108      43
0.250000      42
0.469043      42
1.125704      41
0.333333      41
0.625391      40
0.562852      40
            ...
3.798567       1
4.978071       1
7.701202       1
4.543826       1
8.250825       1
21.704074      1
20.643283      1
4.574433       1
5.151783       1
9.882794       1
2.111778       1
15.439157      1
2.255750       1
4.158058       1
1.855742       1
20.153463      1
5.450810       1
2.538450       1
1.873340       1
1.205500       1
2.057895       1
6.108735       1
0.629429       1
10.254492      1
11.836727      1
4.837120       1
0.484015       1
8.251910       1
6.795319       1
2.176098       1
7.817314       1
6.665801       1
0.186379       1
4.563524       1
12.256802      1
8.418252       1
1.626863       1
9.408060       1
5.631853       1
12.207666      1
8.243227       1
9.476635       1
7.549897       1
6.782464       1
12.858805      1
25.970539      1
0.990919       1
12.686400      1
6.519746       1
10.269273      1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_sum@['SK_ID_CURR'], Length: 278529, dtype: int64
2018-07-06 20:43:06,844 logger 29 [INFO]    [make_npy] 1.000000     243
2.000000     151
0.500000     145
0.938086     138
1.666667     124
1.500000     114
1.250000     114
0.247196     104
2.500000     101
0.600000     100
0.666667      86
1.333333      86
0.800000      83
0.400000      82
0.750000      75
1.876173      71
1.407129      71
0.346075      70
1.200000      68
0.833333      68
0.700000      67
0.222477      66
0.909918      66
3.000000      65
0.197757      61
1.172608      60
0.300000      59
4.000000      58
0.173037      58
0.296635      55
1.250782      54
2.333333      52
1.600000      51
0.900000      50
0.883392      49
5.000000      49
0.625000      48
0.395514      48
2.345216      48
3.333333      46
0.148318      45
1.750000      44
1.166667      43
1.936108      43
0.250000      42
0.469043      42
1.125704      41
0.333333      41
0.625391      40
0.562852      40
            ...
3.798567       1
4.978071       1
7.701202       1
4.543826       1
8.250825       1
21.704074      1
20.643283      1
4.574433       1
5.151783       1
9.882794       1
2.111778       1
15.439157      1
2.255750       1
4.158058       1
1.855742       1
20.153463      1
5.450810       1
2.538450       1
1.873340       1
1.205500       1
2.057895       1
6.108735       1
0.629429       1
10.254492      1
11.836727      1
4.837120       1
0.484015       1
8.251910       1
6.795319       1
2.176098       1
7.817314       1
6.665801       1
0.186379       1
4.563524       1
12.256802      1
8.418252       1
1.626863       1
9.408060       1
5.631853       1
12.207666      1
8.243227       1
9.476635       1
7.549897       1
6.782464       1
12.858805      1
25.970539      1
0.990919       1
12.686400      1
6.519746       1
10.269273      1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_sum@['SK_ID_CURR'], Length: 278529, dtype: int64
2018-07-06 20:43:06,885 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:06,885 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:06,982 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:06,982 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:07,075 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:07,075 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:07,161 logger 29 [INFO]    [make_npy] 1.000000    245
2.000000    151
0.500000    147
0.938086    139
1.666667    126
1.250000    115
1.500000    110
0.247196    108
0.600000    104
2.500000    104
0.666667     88
1.333333     86
0.400000     84
0.800000     82
0.750000     79
0.346075     74
1.407129     73
0.833333     71
1.876173     71
0.700000     70
0.222477     69
1.200000     67
0.197757     66
3.000000     65
0.909918     65
1.172608     64
0.296635     62
0.173037     61
0.300000     58
4.000000     57
2.333333     54
1.250782     53
0.900000     51
0.395514     50
0.625000     50
0.883392     49
1.600000     48
2.345216     46
0.148318     46
0.494392     45
1.936108     43
0.562852     43
0.875000     43
0.469043     43
1.166667     43
5.000000     42
0.250000     42
0.625391     42
3.333333     42
0.333333     41
           ...
1.236832      1
1.947214      1
1.106084      1
1.992249      1
3.169162      1
1.751232      1
1.706748      1
2.205885      1
1.011222      1
0.485774      1
9.050618      1
1.746377      1
3.340677      1
4.366127      1
0.904812      1
1.196111      1
2.392691      1
4.300335      1
2.355477      1
1.429802      1
2.739893      1
0.614810      1
2.017090      1
6.665506      1
1.139880      1
3.541105      1
0.962062      1
1.738821      1
3.730473      1
0.969808      1
1.530799      1
0.727236      1
2.039407      1
1.972182      1
1.483433      1
2.146650      1
1.053075      1
0.608365      1
6.733706      1
1.723113      1
5.041428      1
0.556166      1
1.584846      1
3.071116      1
1.751345      1
4.100228      1
3.524850      1
0.629343      1
1.722810      1
3.345377      1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_mean@['SK_ID_CURR'], Length: 278494, dtype: int64

2018-07-06 20:43:07,161 logger 29 [INFO]    [make_npy] 1.000000    245
2.000000    151
0.500000    147
0.938086    139
1.666667    126
1.250000    115
1.500000    110
0.247196    108
0.600000    104
2.500000    104
0.666667     88
1.333333     86
0.400000     84
0.800000     82
0.750000     79
0.346075     74
1.407129     73
0.833333     71
1.876173     71
0.700000     70
0.222477     69
1.200000     67
0.197757     66
3.000000     65
0.909918     65
1.172608     64
0.296635     62
0.173037     61
0.300000     58
4.000000     57
2.333333     54
1.250782     53
0.900000     51
0.395514     50
0.625000     50
0.883392     49
1.600000     48
2.345216     46
0.148318     46
0.494392     45
1.936108     43
0.562852     43
0.875000     43
0.469043     43
1.166667     43
5.000000     42
0.250000     42
0.625391     42
3.333333     42
0.333333     41
           ...
1.236832      1
1.947214      1
1.106084      1
1.992249      1
3.169162      1
1.751232      1
1.706748      1
2.205885      1
1.011222      1
0.485774      1
9.050618      1
1.746377      1
3.340677      1
4.366127      1
0.904812      1
1.196111      1
2.392691      1
4.300335      1
2.355477      1
1.429802      1
2.739893      1
0.614810      1
2.017090      1
6.665506      1
1.139880      1
3.541105      1
0.962062      1
1.738821      1
3.730473      1
0.969808      1
1.530799      1
0.727236      1
2.039407      1
1.972182      1
1.483433      1
2.146650      1
1.053075      1
0.608365      1
6.733706      1
1.723113      1
5.041428      1
0.556166      1
1.584846      1
3.071116      1
1.751345      1
4.100228      1
3.524850      1
0.629343      1
1.722810      1
3.345377      1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_mean@['SK_ID_CURR'], Length: 278494, dtype: int64
2018-07-06 20:43:07,212 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:07,212 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:07,353 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:07,353 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:07,425 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:07,425 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:07,468 logger 29 [INFO]    [make_npy] 2.000000     553
1.000000     506
0.938086     345
1.876173     340
3.000000     338
2.500000     332
1.500000     316
1.666667     306
1.936108     267
1.407129     266
4.000000     256
1.250000     255
2.345216     242
3.500000     222
5.000000     211
2.814259     211
0.500000     203
1.333333     199
1.172608     184
2.420136     178
0.600000     167
2.904163     167
2.333333     166
1.200000     165
1.563477     162
0.800000     153
3.333333     151
0.666667     149
0.750000     147
1.250782     146
0.833333     144
2.666667     141
1.750000     140
0.909918     139
1.452081     137
4.500000     120
3.388190     117
1.166667     117
1.600000     114
0.400000     113
1.125704     113
0.968054     109
0.247196     108
1.641651     104
6.000000     104
1.800000     104
0.883392     103
3.872217     102
3.283302     101
0.700000      97
            ...
0.756315       1
3.432550       1
0.604376       1
6.772487       1
1.815912       1
5.100858       1
3.770567       1
3.700767       1
9.455587       1
2.769657       1
4.408739       1
0.966530       1
0.161830       1
16.196955      1
0.638578       1
0.749174       1
13.219726      1
9.934871       1
0.628409       1
2.153979       1
0.395883       1
11.770245      1
4.683597       1
1.182424       1
0.746770       1
2.480950       1
3.973820       1
1.021952       1
2.014180       1
0.569898       1
0.614717       1
2.598174       1
0.376510       1
0.310572       1
2.842847       1
2.354295       1
1.740417       1
3.876285       1
8.926294       1
2.902517       1
1.279606       1
1.156693       1
0.212409       1
13.858642      1
2.321900       1
4.504723       1
1.752782       1
15.719468      1
1.433325       1
2.304891       1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_max@['SK_ID_CURR'], Length: 160442, dtype: int64
2018-07-06 20:43:07,468 logger 29 [INFO]    [make_npy] 2.000000     553
1.000000     506
0.938086     345
1.876173     340
3.000000     338
2.500000     332
1.500000     316
1.666667     306
1.936108     267
1.407129     266
4.000000     256
1.250000     255
2.345216     242
3.500000     222
5.000000     211
2.814259     211
0.500000     203
1.333333     199
1.172608     184
2.420136     178
0.600000     167
2.904163     167
2.333333     166
1.200000     165
1.563477     162
0.800000     153
3.333333     151
0.666667     149
0.750000     147
1.250782     146
0.833333     144
2.666667     141
1.750000     140
0.909918     139
1.452081     137
4.500000     120
3.388190     117
1.166667     117
1.600000     114
0.400000     113
1.125704     113
0.968054     109
0.247196     108
1.641651     104
6.000000     104
1.800000     104
0.883392     103
3.872217     102
3.283302     101
0.700000      97
            ...
0.756315       1
3.432550       1
0.604376       1
6.772487       1
1.815912       1
5.100858       1
3.770567       1
3.700767       1
9.455587       1
2.769657       1
4.408739       1
0.966530       1
0.161830       1
16.196955      1
0.638578       1
0.749174       1
13.219726      1
9.934871       1
0.628409       1
2.153979       1
0.395883       1
11.770245      1
4.683597       1
1.182424       1
0.746770       1
2.480950       1
3.973820       1
1.021952       1
2.014180       1
0.569898       1
0.614717       1
2.598174       1
0.376510       1
0.310572       1
2.842847       1
2.354295       1
1.740417       1
3.876285       1
8.926294       1
2.902517       1
1.279606       1
1.156693       1
0.212409       1
13.858642      1
2.321900       1
4.504723       1
1.752782       1
15.719468      1
1.433325       1
2.304891       1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_max@['SK_ID_CURR'], Length: 160442, dtype: int64
2018-07-06 20:43:07,515 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:07,515 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:07,656 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:07,656 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:07,790 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:07,790 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:07,837 logger 29 [INFO]    [make_npy] 0.247196    1702
0.197757    1458
0.148318    1329
0.173037    1194
1.000000    1156
0.222477    1132
0.500000    1118
0.296635    1083
0.123598     796
0.346075     785
0.938086     724
0.400000     660
0.600000     637
0.395514     629
0.300000     616
0.250000     493
0.750000     472
2.000000     470
0.271916     460
1.500000     437
0.098878     417
0.666667     405
0.800000     402
1.250000     376
0.200000     364
0.833333     359
0.321355     358
1.666667     356
0.700000     353
0.350000     346
0.494392     345
0.333333     327
0.469043     326
0.625000     326
1.333333     322
0.909918     319
0.883392     310
0.562852     304
0.450000     277
1.200000     267
1.407129     265
0.444953     260
0.875000     257
0.441696     250
1.876173     248
0.900000     248
0.750469     241
1.172608     240
0.625391     234
2.500000     228
            ...
1.720041       1
1.214496       1
1.179793       1
1.206397       1
1.320917       1
0.479854       1
1.873185       1
4.341893       1
1.525643       1
0.723212       1
1.154454       1
1.560014       1
0.178430       1
0.255474       1
1.755371       1
1.806946       1
0.446927       1
0.588128       1
1.798192       1
1.578432       1
0.406603       1
0.801221       1
2.186719       1
0.329692       1
1.856378       1
4.485914       1
2.468770       1
0.903751       1
0.803812       1
3.774851       1
1.103859       1
0.994947       1
0.834521       1
4.117344       1
5.962792       1
2.720000       1
0.969349       1
2.985778       1
4.696887       1
0.637959       1
1.457399       1
0.174574       1
7.558820       1
1.686412       1
1.211261       1
1.396713       1
6.309646       1
0.814155       1
0.481487       1
0.767548       1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_min@['SK_ID_CURR'], Length: 159353, dtype: int64

2018-07-06 20:43:07,837 logger 29 [INFO]    [make_npy] 0.247196    1702
0.197757    1458
0.148318    1329
0.173037    1194
1.000000    1156
0.222477    1132
0.500000    1118
0.296635    1083
0.123598     796
0.346075     785
0.938086     724
0.400000     660
0.600000     637
0.395514     629
0.300000     616
0.250000     493
0.750000     472
2.000000     470
0.271916     460
1.500000     437
0.098878     417
0.666667     405
0.800000     402
1.250000     376
0.200000     364
0.833333     359
0.321355     358
1.666667     356
0.700000     353
0.350000     346
0.494392     345
0.333333     327
0.469043     326
0.625000     326
1.333333     322
0.909918     319
0.883392     310
0.562852     304
0.450000     277
1.200000     267
1.407129     265
0.444953     260
0.875000     257
0.441696     250
1.876173     248
0.900000     248
0.750469     241
1.172608     240
0.625391     234
2.500000     228
            ...
1.720041       1
1.214496       1
1.179793       1
1.206397       1
1.320917       1
0.479854       1
1.873185       1
4.341893       1
1.525643       1
0.723212       1
1.154454       1
1.560014       1
0.178430       1
0.255474       1
1.755371       1
1.806946       1
0.446927       1
0.588128       1
1.798192       1
1.578432       1
0.406603       1
0.801221       1
2.186719       1
0.329692       1
1.856378       1
4.485914       1
2.468770       1
0.903751       1
0.803812       1
3.774851       1
1.103859       1
0.994947       1
0.834521       1
4.117344       1
5.962792       1
2.720000       1
0.969349       1
2.985778       1
4.696887       1
0.637959       1
1.457399       1
0.174574       1
7.558820       1
1.686412       1
1.211261       1
1.396713       1
6.309646       1
0.814155       1
0.481487       1
0.767548       1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_min@['SK_ID_CURR'], Length: 159353, dtype: int64
2018-07-06 20:43:07,903 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:07,903 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:08,018 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,018 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,088 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,088 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,123 logger 29 [INFO]    [make_npy] 0.000000     259
0.441942       7
0.353553       6
0.176777       6
0.212132       5
0.087559       4
0.516833       4
0.397333       4
0.319388       4
0.471405       4
0.850907       4
0.294628       3
0.471405       3
0.265165       3
0.424264       3
1.178511       3
1.060660       3
2.828427       3
0.530330       3
0.052536       3
0.425850       3
0.282843       3
0.219145       3
1.487303       3
0.302874       3
0.707107       3
0.267148       3
0.883883       3
0.928769       3
0.043780       3
0.329983       3
0.286521       3
1.590990       3
0.235702       3
1.112537       2
2.642870       2
0.992725       2
1.626699       2
2.055628       2
3.406995       2
0.743082       2
3.043917       2
0.400694       2
0.447535       2
1.945485       2
0.265959       2
1.263605       2
0.123133       2
0.148103       2
11.553215      2
            ...
0.199922       1
0.946681       1
1.730680       1
0.285922       1
2.775431       1
1.658846       1
0.527965       1
3.345087       1
1.583982       1
0.546386       1
0.987418       1
0.167123       1
10.147964      1
2.383868       1
0.343474       1
3.935979       1
3.052958       1
2.251430       1
0.380516       1
1.807353       1
1.037148       1
1.015704       1
0.149738       1
2.978384       1
0.505182       1
0.575499       1
2.003777       1
1.998944       1
1.345490       1
0.946387       1
2.804196       1
3.276947       1
2.695325       1
1.002475       1
3.103026       1
1.392420       1
2.972165       1
2.862503       1
1.394385       1
3.927751       1
2.136076       1
1.018859       1
0.815078       1
4.746459       1
0.594126       1
0.448859       1
2.516611       1
2.769751       1
4.725888       1
1.078266       1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_std@['SK_ID_CURR'], Length: 196514, dtype: int64
2018-07-06 20:43:08,123 logger 29 [INFO]    [make_npy] 0.000000     259
0.441942       7
0.353553       6
0.176777       6
0.212132       5
0.087559       4
0.516833       4
0.397333       4
0.319388       4
0.471405       4
0.850907       4
0.294628       3
0.471405       3
0.265165       3
0.424264       3
1.178511       3
1.060660       3
2.828427       3
0.530330       3
0.052536       3
0.425850       3
0.282843       3
0.219145       3
1.487303       3
0.302874       3
0.707107       3
0.267148       3
0.883883       3
0.928769       3
0.043780       3
0.329983       3
0.286521       3
1.590990       3
0.235702       3
1.112537       2
2.642870       2
0.992725       2
1.626699       2
2.055628       2
3.406995       2
0.743082       2
3.043917       2
0.400694       2
0.447535       2
1.945485       2
0.265959       2
1.263605       2
0.123133       2
0.148103       2
11.553215      2
            ...
0.199922       1
0.946681       1
1.730680       1
0.285922       1
2.775431       1
1.658846       1
0.527965       1
3.345087       1
1.583982       1
0.546386       1
0.987418       1
0.167123       1
10.147964      1
2.383868       1
0.343474       1
3.935979       1
3.052958       1
2.251430       1
0.380516       1
1.807353       1
1.037148       1
1.015704       1
0.149738       1
2.978384       1
0.505182       1
0.575499       1
2.003777       1
1.998944       1
1.345490       1
0.946387       1
2.804196       1
3.276947       1
2.695325       1
1.002475       1
3.103026       1
1.392420       1
2.972165       1
2.862503       1
1.394385       1
3.927751       1
2.136076       1
1.018859       1
0.815078       1
4.746459       1
0.594126       1
0.448859       1
2.516611       1
2.769751       1
4.725888       1
1.078266       1
Name: app_AMT_INCOME_TOTAL_div_AMT_CREDIT@_std@['SK_ID_CURR'], Length: 196514, dtype: int64
2018-07-06 20:43:08,174 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:08,174 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:08,303 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,303 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,379 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,379 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,418 logger 29 [INFO]    [make_npy]  0.000000       30
-450.000000     13
-90.000000      13
-135.000000     13
-270.000000     12
-108.000000     11
-130.500000     11
-189.000000     11
-150.000000     10
-234.000000      9
-321.428571      9
-351.562500      9
-225.000000      9
-281.250000      9
-206.422018      9
-272.727273      9
-252.000000      9
-112.500000      9
-247.252747      9
-247.500000      9
-409.090909      9
-117.000000      8
-292.500000      8
-381.355932      8
-78.750000       8
-49.500000       8
-162.000000      8
-180.000000      8
-76.500000       8
-1965.892937     8
-81.818182       8
-67.500000       8
-2600.595514     7
-238.095238      7
-1723.879602     7
-468.750000      7
-360.000000      7
-612.000000      7
-200.892857      7
-308.219178      7
-500.000000      7
-236.842105      7
-250.000000      7
-216.000000      7
-189.075630      7
-87.750000       7
-245.901639      7
-2063.964694     6
-1442.485626     6
-240.000000      6
                ..
-490.128713      1
-110.473822      1
-375.617647      1
-666.916890      1
-1645.983333     1
-432.569170      1
-36.727941       1
-112.399038      1
-464.228873      1
-549.945167      1
-422.818386      1
-1231.658654     1
-1656.305349     1
-197.768919      1
-156.719580      1
-940.567771      1
-199.533123      1
-233.970874      1
-160.747126      1
-354.878661      1
-2200.410000     1
-425.683594      1
-780.830838      1
-68.270471       1
-425.567935      1
-36.187500       1
-71.216518       1
-1079.562257     1
-377.833333      1
-566.285433      1
-2855.505831     1
-1307.135371     1
-278.380567      1
-616.787955      1
-54.508368       1
-702.701733      1
-580.731081      1
-108.694362      1
-69.991304       1
-218.976923      1
-207.618513      1
-404.928230      1
-440.859155      1
-518.807812      1
-539.402715      1
-4511.673095     1
-803.528465      1
-1725.728155     1
-453.977113      1
-111.293263      1
Name: AMT_CREDIT_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 306805, dtype: int64

2018-07-06 20:43:08,418 logger 29 [INFO]    [make_npy]  0.000000       30
-450.000000     13
-90.000000      13
-135.000000     13
-270.000000     12
-108.000000     11
-130.500000     11
-189.000000     11
-150.000000     10
-234.000000      9
-321.428571      9
-351.562500      9
-225.000000      9
-281.250000      9
-206.422018      9
-272.727273      9
-252.000000      9
-112.500000      9
-247.252747      9
-247.500000      9
-409.090909      9
-117.000000      8
-292.500000      8
-381.355932      8
-78.750000       8
-49.500000       8
-162.000000      8
-180.000000      8
-76.500000       8
-1965.892937     8
-81.818182       8
-67.500000       8
-2600.595514     7
-238.095238      7
-1723.879602     7
-468.750000      7
-360.000000      7
-612.000000      7
-200.892857      7
-308.219178      7
-500.000000      7
-236.842105      7
-250.000000      7
-216.000000      7
-189.075630      7
-87.750000       7
-245.901639      7
-2063.964694     6
-1442.485626     6
-240.000000      6
                ..
-490.128713      1
-110.473822      1
-375.617647      1
-666.916890      1
-1645.983333     1
-432.569170      1
-36.727941       1
-112.399038      1
-464.228873      1
-549.945167      1
-422.818386      1
-1231.658654     1
-1656.305349     1
-197.768919      1
-156.719580      1
-940.567771      1
-199.533123      1
-233.970874      1
-160.747126      1
-354.878661      1
-2200.410000     1
-425.683594      1
-780.830838      1
-68.270471       1
-425.567935      1
-36.187500       1
-71.216518       1
-1079.562257     1
-377.833333      1
-566.285433      1
-2855.505831     1
-1307.135371     1
-278.380567      1
-616.787955      1
-54.508368       1
-702.701733      1
-580.731081      1
-108.694362      1
-69.991304       1
-218.976923      1
-207.618513      1
-404.928230      1
-440.859155      1
-518.807812      1
-539.402715      1
-4511.673095     1
-803.528465      1
-1725.728155     1
-453.977113      1
-111.293263      1
Name: AMT_CREDIT_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 306805, dtype: int64
2018-07-06 20:43:08,463 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:08,463 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:08,566 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,566 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,643 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,643 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,700 logger 29 [INFO]    [make_npy] -135.000000     14
-90.000000      14
-130.500000     13
-108.000000     13
-225.000000     12
-150.000000     11
-76.500000      11
-270.000000     10
-450.000000     10
-206.422018      9
-78.750000       9
-351.562500      9
-54.000000       9
-272.727273      9
-144.000000      9
-409.090909      9
-247.252747      9
-67.500000       9
-180.000000      9
-117.000000      9
-94.500000       9
-189.000000      8
-1965.892937     8
-138.375000      8
-123.750000      8
-250.000000      8
-81.818182       8
-87.750000       8
-381.355932      8
-162.000000      8
-49.500000       8
-321.428571      7
-234.000000      7
-95.625000       7
-126.000000      7
-252.000000      7
-245.901639      7
-238.095238      7
-216.000000      7
-308.219178      7
-281.250000      7
-101.250000      7
-200.892857      7
-254.250000      7
-97.500000       7
-315.000000      7
-112.500000      7
-47.250000       7
-236.842105      7
-189.075630      7
                ..
-467.169231      1
-504.813533      1
-143.442111      1
-135.159875      1
-119.634317      1
-432.619565      1
-493.679487      1
-74.032186       1
-83.456212       1
-45.127612       1
-148.601676      1
-648.041096      1
-271.473054      1
-283.636157      1
-100.486292      1
-151.192913      1
-238.658058      1
-242.134615      1
-61.252326       1
-473.515106      1
-138.646875      1
-688.871681      1
-315.976360      1
-594.415505      1
-312.750789      1
-118.360227      1
-618.553448      1
-598.524281      1
-224.256522      1
-571.159794      1
-190.787529      1
-855.254386      1
-844.609091      1
-116.016862      1
-867.032777      1
-56.410120       1
-388.049180      1
-260.920914      1
-712.578649      1
-433.527851      1
-205.945946      1
-690.630048      1
-904.705836      1
-92.172055       1
-167.722067      1
-148.881726      1
-390.386213      1
-273.250919      1
-225.363755      1
-357.596273      1
Name: AMT_CREDIT_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 306446, dtype: int64
2018-07-06 20:43:08,700 logger 29 [INFO]    [make_npy] -135.000000     14
-90.000000      14
-130.500000     13
-108.000000     13
-225.000000     12
-150.000000     11
-76.500000      11
-270.000000     10
-450.000000     10
-206.422018      9
-78.750000       9
-351.562500      9
-54.000000       9
-272.727273      9
-144.000000      9
-409.090909      9
-247.252747      9
-67.500000       9
-180.000000      9
-117.000000      9
-94.500000       9
-189.000000      8
-1965.892937     8
-138.375000      8
-123.750000      8
-250.000000      8
-81.818182       8
-87.750000       8
-381.355932      8
-162.000000      8
-49.500000       8
-321.428571      7
-234.000000      7
-95.625000       7
-126.000000      7
-252.000000      7
-245.901639      7
-238.095238      7
-216.000000      7
-308.219178      7
-281.250000      7
-101.250000      7
-200.892857      7
-254.250000      7
-97.500000       7
-315.000000      7
-112.500000      7
-47.250000       7
-236.842105      7
-189.075630      7
                ..
-467.169231      1
-504.813533      1
-143.442111      1
-135.159875      1
-119.634317      1
-432.619565      1
-493.679487      1
-74.032186       1
-83.456212       1
-45.127612       1
-148.601676      1
-648.041096      1
-271.473054      1
-283.636157      1
-100.486292      1
-151.192913      1
-238.658058      1
-242.134615      1
-61.252326       1
-473.515106      1
-138.646875      1
-688.871681      1
-315.976360      1
-594.415505      1
-312.750789      1
-118.360227      1
-618.553448      1
-598.524281      1
-224.256522      1
-571.159794      1
-190.787529      1
-855.254386      1
-844.609091      1
-116.016862      1
-867.032777      1
-56.410120       1
-388.049180      1
-260.920914      1
-712.578649      1
-433.527851      1
-205.945946      1
-690.630048      1
-904.705836      1
-92.172055       1
-167.722067      1
-148.881726      1
-390.386213      1
-273.250919      1
-225.363755      1
-357.596273      1
Name: AMT_CREDIT_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 306446, dtype: int64
2018-07-06 20:43:08,753 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:43:08,753 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:43:08,865 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,865 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:08,939 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,939 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:08,974 logger 29 [INFO]    [make_npy] -90.000000     39
-45.000000     35
-54.000000     33
-67.500000     32
-40.500000     30
-22.500000     25
-135.000000    25
-36.000000     24
-63.000000     23
-150.000000    23
-49.500000     21
-112.500000    21
-81.818182     19
-76.500000     19
-108.000000    19
-225.000000    19
-72.000000     18
-130.500000    17
-94.500000     17
-87.750000     17
-236.842105    16
-81.000000     16
-31.500000     16
-128.571429    16
-141.509434    15
-95.744681     15
-132.743363    15
-138.461538    15
-85.500000     15
-206.422018    15
-58.500000     15
-254.237288    15
-97.826087     15
-184.500000    15
-75.000000     15
-187.500000    15
-30.000000     14
-126.760563    14
-27.000000     14
-112.781955    14
-125.000000    14
-33.750000     14
-180.000000    14
-91.836735     14
-117.000000    14
-133.928571    14
-97.500000     13
-122.950820    13
-113.065327    13
-101.250000    13
               ..
-135.045639     1
-75.730263      1
-65.081776      1
-37.518490      1
-31.188525      1
-156.383212     1
-226.197368     1
-98.081081      1
-123.249296     1
-105.185106     1
-354.177898     1
-53.422105      1
-64.846614      1
-32.525246      1
-82.132017      1
-431.533929     1
-67.472050      1
-345.500000     1
-124.800963     1
-133.409201     1
-236.559197     1
-120.699708     1
-63.629848      1
-138.246518     1
-160.492021     1
-225.090517     1
-87.324771      1
-26.794872      1
-22.443750      1
-70.902574      1
-112.132653     1
-102.836484     1
-85.461123      1
-32.965116      1
-463.846154     1
-45.866554      1
-83.326371      1
-33.711258      1
-111.676829     1
-158.424771     1
-92.801325      1
-20.224790      1
-38.213826      1
-34.667910      1
-44.792169      1
-64.236264      1
-227.460674     1
-64.684729      1
-207.462279     1
-256.000000     1
Name: AMT_CREDIT_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 286575, dtype: int64

2018-07-06 20:43:08,974 logger 29 [INFO]    [make_npy] -90.000000     39
-45.000000     35
-54.000000     33
-67.500000     32
-40.500000     30
-22.500000     25
-135.000000    25
-36.000000     24
-63.000000     23
-150.000000    23
-49.500000     21
-112.500000    21
-81.818182     19
-76.500000     19
-108.000000    19
-225.000000    19
-72.000000     18
-130.500000    17
-94.500000     17
-87.750000     17
-236.842105    16
-81.000000     16
-31.500000     16
-128.571429    16
-141.509434    15
-95.744681     15
-132.743363    15
-138.461538    15
-85.500000     15
-206.422018    15
-58.500000     15
-254.237288    15
-97.826087     15
-184.500000    15
-75.000000     15
-187.500000    15
-30.000000     14
-126.760563    14
-27.000000     14
-112.781955    14
-125.000000    14
-33.750000     14
-180.000000    14
-91.836735     14
-117.000000    14
-133.928571    14
-97.500000     13
-122.950820    13
-113.065327    13
-101.250000    13
               ..
-135.045639     1
-75.730263      1
-65.081776      1
-37.518490      1
-31.188525      1
-156.383212     1
-226.197368     1
-98.081081      1
-123.249296     1
-105.185106     1
-354.177898     1
-53.422105      1
-64.846614      1
-32.525246      1
-82.132017      1
-431.533929     1
-67.472050      1
-345.500000     1
-124.800963     1
-133.409201     1
-236.559197     1
-120.699708     1
-63.629848      1
-138.246518     1
-160.492021     1
-225.090517     1
-87.324771      1
-26.794872      1
-22.443750      1
-70.902574      1
-112.132653     1
-102.836484     1
-85.461123      1
-32.965116      1
-463.846154     1
-45.866554      1
-83.326371      1
-33.711258      1
-111.676829     1
-158.424771     1
-92.801325      1
-20.224790      1
-38.213826      1
-34.667910      1
-44.792169      1
-64.236264      1
-227.460674     1
-64.684729      1
-207.462279     1
-256.000000     1
Name: AMT_CREDIT_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 286575, dtype: int64
2018-07-06 20:43:09,017 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:43:09,017 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:43:09,116 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:09,116 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:09,192 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,192 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,248 logger 29 [INFO]    [make_npy] -1888.399232    64
-1747.041132    63
-1362.587470    62
-1698.150056    60
-1842.527186    59
-1648.928315    56
-1625.372196    56
-1770.833521    56
-1892.325218    55
-1657.938852    55
-1733.730343    55
-1723.879602    54
-1872.856852    54
-1965.892937    54
-1850.017134    54
-1714.140169    54
-1262.425007    53
-1628.279839    53
-1558.576079    53
-1622.474920    53
-1577.484281    52
-1608.142102    52
-1816.783293    52
-1340.513152    52
-1569.324879    52
-1602.479630    51
-1884.489503    51
-1920.270949    50
-1777.750840    50
-1865.181209    50
-1904.201736    50
-1710.918102    50
-1727.150721    50
-1717.374396    50
-1642.975505    49
-1631.197903    49
-1676.258619    49
-1529.762067    49
-1599.663322    49
-1654.924418    49
-1809.559503    49
-1540.115787    49
-1588.496387    48
-1757.159131    48
-1651.920926    48
-1876.718412    48
-1428.898634    48
-1831.405292    48
-1670.107211    48
-1296.593205    48
                ..
-391.530963      1
-92.540201       1
-502.607321      1
-391.930013      1
-392.876471      1
-849.543657      1
-524.734982      1
-194.995427      1
-109.027778      1
-914.777188      1
-126.653986      1
-82.343366       1
-767.243767      1
-70.802206       1
-66.631417       1
-58.929545       1
-171.519231      1
-534.935668      1
-436.564103      1
-39.468439       1
-258.743077      1
-541.999295      1
-203.177711      1
-443.548387      1
-116.110465      1
-234.604286      1
-178.184746      1
-218.176471      1
-98.806867       1
-825.883178      1
-520.238095      1
-215.018182      1
-439.515707      1
-37.265625       1
-277.341390      1
-290.996809      1
-129.020781      1
-115.889313      1
-248.091892      1
-397.954128      1
-845.833008      1
-73.433077       1
-341.110398      1
-44.907143       1
-20.469441       1
-203.148506      1
-94.455390       1
-134.568493      1
-738.489540      1
-201.083851      1
Name: AMT_CREDIT_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 255476, dtype: int64
2018-07-06 20:43:09,248 logger 29 [INFO]    [make_npy] -1888.399232    64
-1747.041132    63
-1362.587470    62
-1698.150056    60
-1842.527186    59
-1648.928315    56
-1625.372196    56
-1770.833521    56
-1892.325218    55
-1657.938852    55
-1733.730343    55
-1723.879602    54
-1872.856852    54
-1965.892937    54
-1850.017134    54
-1714.140169    54
-1262.425007    53
-1628.279839    53
-1558.576079    53
-1622.474920    53
-1577.484281    52
-1608.142102    52
-1816.783293    52
-1340.513152    52
-1569.324879    52
-1602.479630    51
-1884.489503    51
-1920.270949    50
-1777.750840    50
-1865.181209    50
-1904.201736    50
-1710.918102    50
-1727.150721    50
-1717.374396    50
-1642.975505    49
-1631.197903    49
-1676.258619    49
-1529.762067    49
-1599.663322    49
-1654.924418    49
-1809.559503    49
-1540.115787    49
-1588.496387    48
-1757.159131    48
-1651.920926    48
-1876.718412    48
-1428.898634    48
-1831.405292    48
-1670.107211    48
-1296.593205    48
                ..
-391.530963      1
-92.540201       1
-502.607321      1
-391.930013      1
-392.876471      1
-849.543657      1
-524.734982      1
-194.995427      1
-109.027778      1
-914.777188      1
-126.653986      1
-82.343366       1
-767.243767      1
-70.802206       1
-66.631417       1
-58.929545       1
-171.519231      1
-534.935668      1
-436.564103      1
-39.468439       1
-258.743077      1
-541.999295      1
-203.177711      1
-443.548387      1
-116.110465      1
-234.604286      1
-178.184746      1
-218.176471      1
-98.806867       1
-825.883178      1
-520.238095      1
-215.018182      1
-439.515707      1
-37.265625       1
-277.341390      1
-290.996809      1
-129.020781      1
-115.889313      1
-248.091892      1
-397.954128      1
-845.833008      1
-73.433077       1
-341.110398      1
-44.907143       1
-20.469441       1
-203.148506      1
-94.455390       1
-134.568493      1
-738.489540      1
-201.083851      1
Name: AMT_CREDIT_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 255476, dtype: int64
2018-07-06 20:43:09,279 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:43:09,279 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:43:09,389 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:09,389 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:09,460 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,460 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,484 logger 29 [INFO]    [make_npy] 0.000000       259
6.363961         6
44.547727        5
50.911688        5
83.792154        4
9.545942         4
15.909903        4
19.091883        4
127.279221       4
3.181981         4
35.001786        4
4.772971         4
42.426407        3
25.455844        3
5.568466         3
2.569340         3
154.465074       3
219.556656       3
26.649087        3
101.957449       3
3.977476         3
7.954951         3
63.639610        3
187.736850       3
47.729708        3
53.298174        3
56.214989        3
178.190909       3
5.966213         3
16.488444        2
49.262083        2
248.277436       2
343.856090       2
20.152543        2
47.598651        2
23.334524        2
145.428773       2
704.004542       2
96.271633        2
506.583479       2
137.027985       2
121.083431       2
162.917402       2
85.579004        2
953.896535       2
94.228102        2
63.374445        2
64.804197        2
170.067108       2
154.045105       2
              ...
247.441372       1
830.866764       1
971.146444       1
11.653620        1
268.946938       1
211.334021       1
371.589341       1
14.745984        1
164.074189       1
214.266976       1
470.309242       1
229.002592       1
21.575681        1
409.638887       1
377.375574       1
106.731664       1
213.628339       1
539.391366       1
0.095162         1
114.371624       1
425.784050       1
46.058919        1
206.529735       1
504.600296       1
154.401374       1
496.751766       1
93.472458        1
35.917898        1
698.919839       1
255.726097       1
538.002335       1
605.971650       1
118.711331       1
902.682672       1
29.948625        1
176.455304       1
303.873635       1
56.916540        1
14.036897        1
786.471912       1
213.086227       1
141.827739       1
370.731791       1
184.288835       1
371.430904       1
120.561706       1
483.183741       1
70.537077        1
1170.572920      1
70.954948        1
Name: AMT_CREDIT_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 196840, dtype: int64

2018-07-06 20:43:09,484 logger 29 [INFO]    [make_npy] 0.000000       259
6.363961         6
44.547727        5
50.911688        5
83.792154        4
9.545942         4
15.909903        4
19.091883        4
127.279221       4
3.181981         4
35.001786        4
4.772971         4
42.426407        3
25.455844        3
5.568466         3
2.569340         3
154.465074       3
219.556656       3
26.649087        3
101.957449       3
3.977476         3
7.954951         3
63.639610        3
187.736850       3
47.729708        3
53.298174        3
56.214989        3
178.190909       3
5.966213         3
16.488444        2
49.262083        2
248.277436       2
343.856090       2
20.152543        2
47.598651        2
23.334524        2
145.428773       2
704.004542       2
96.271633        2
506.583479       2
137.027985       2
121.083431       2
162.917402       2
85.579004        2
953.896535       2
94.228102        2
63.374445        2
64.804197        2
170.067108       2
154.045105       2
              ...
247.441372       1
830.866764       1
971.146444       1
11.653620        1
268.946938       1
211.334021       1
371.589341       1
14.745984        1
164.074189       1
214.266976       1
470.309242       1
229.002592       1
21.575681        1
409.638887       1
377.375574       1
106.731664       1
213.628339       1
539.391366       1
0.095162         1
114.371624       1
425.784050       1
46.058919        1
206.529735       1
504.600296       1
154.401374       1
496.751766       1
93.472458        1
35.917898        1
698.919839       1
255.726097       1
538.002335       1
605.971650       1
118.711331       1
902.682672       1
29.948625        1
176.455304       1
303.873635       1
56.916540        1
14.036897        1
786.471912       1
213.086227       1
141.827739       1
370.731791       1
184.288835       1
371.430904       1
120.561706       1
483.183741       1
70.537077        1
1170.572920      1
70.954948        1
Name: AMT_CREDIT_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 196840, dtype: int64
2018-07-06 20:43:09,504 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:09,504 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:09,602 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:09,602 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:09,684 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,684 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,723 logger 29 [INFO]    [make_npy]  0.000000e+00    56570
 inf                89
-7.500000e+03       47
-1.125000e+04       42
-2.250000e+04       42
-4.500000e+03       41
-1.500000e+04       36
-6.428571e+03       34
-5.625000e+03       33
-2.812500e+03       32
-2.250000e+03       31
-3.750000e+03       28
-9.000000e+03       26
-4.500000e+04       23
-3.600000e+03       23
-2.500000e+03       22
-3.000000e+03       22
-4.090909e+03       20
-1.500000e+03       20
-4.797000e+03       20
-1.125000e+03       18
-8.437500e+03       18
-1.350000e+04       18
-2.142857e+03       18
-1.875000e+03       18
-4.218750e+03       17
-1.800000e+03       16
-9.000000e+02       16
-1.687500e+04       16
-3.375000e+04       16
-9.375000e+03       16
-6.750000e+03       16
-1.875000e+04       15
-2.398500e+03       15
-3.375000e+03       15
-1.730769e+03       15
-2.460023e+04       15
-5.000000e+03       14
-2.647059e+03       14
-3.426429e+03       14
-2.844401e+04       14
-1.184211e+03       14
-3.214286e+03       14
-1.599000e+03       14
-5.330000e+03       14
-4.050000e+03       14
-5.192308e+03       13
-1.820417e+04       13
-5.056714e+04       13
-1.285714e+03       13
                 ...
-6.770152e+03        1
-4.517886e+03        1
-1.675435e+03        1
-7.971075e+03        1
-2.651980e+03        1
-2.709375e+04        1
-2.022109e+04        1
-1.528105e+03        1
-3.127659e+03        1
-1.605919e+04        1
-4.695718e+03        1
-2.436207e+03        1
-5.252691e+03        1
-1.339573e+03        1
-2.620029e+03        1
-1.096902e+03        1
-8.911311e+02        1
-2.855118e+03        1
-1.850365e+03        1
-6.193374e+02        1
-2.273371e+02        1
-2.946000e+04        1
-6.428390e+03        1
-6.075247e+03        1
-2.433662e+03        1
-8.100625e+03        1
-5.953327e+03        1
-1.875648e+03        1
-1.438892e+04        1
-6.784888e+03        1
-1.084162e+04        1
-1.725941e+04        1
-2.285357e+02        1
-3.669857e+03        1
-8.887192e+02        1
-2.069100e+04        1
-2.066423e+03        1
-2.163300e+03        1
-6.177600e+03        1
-7.505766e+03        1
-6.044485e+03        1
-9.183803e+02        1
-2.431286e+03        1
-1.295390e+03        1
-1.562115e+03        1
-1.466795e+04        1
-8.699241e+02        1
-2.651605e+03        1
-8.293812e+02        1
-4.893075e+04        1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 240448, dtype: int64
2018-07-06 20:43:09,723 logger 29 [INFO]    [make_npy]  0.000000e+00    56570
 inf                89
-7.500000e+03       47
-1.125000e+04       42
-2.250000e+04       42
-4.500000e+03       41
-1.500000e+04       36
-6.428571e+03       34
-5.625000e+03       33
-2.812500e+03       32
-2.250000e+03       31
-3.750000e+03       28
-9.000000e+03       26
-4.500000e+04       23
-3.600000e+03       23
-2.500000e+03       22
-3.000000e+03       22
-4.090909e+03       20
-1.500000e+03       20
-4.797000e+03       20
-1.125000e+03       18
-8.437500e+03       18
-1.350000e+04       18
-2.142857e+03       18
-1.875000e+03       18
-4.218750e+03       17
-1.800000e+03       16
-9.000000e+02       16
-1.687500e+04       16
-3.375000e+04       16
-9.375000e+03       16
-6.750000e+03       16
-1.875000e+04       15
-2.398500e+03       15
-3.375000e+03       15
-1.730769e+03       15
-2.460023e+04       15
-5.000000e+03       14
-2.647059e+03       14
-3.426429e+03       14
-2.844401e+04       14
-1.184211e+03       14
-3.214286e+03       14
-1.599000e+03       14
-5.330000e+03       14
-4.050000e+03       14
-5.192308e+03       13
-1.820417e+04       13
-5.056714e+04       13
-1.285714e+03       13
                 ...
-6.770152e+03        1
-4.517886e+03        1
-1.675435e+03        1
-7.971075e+03        1
-2.651980e+03        1
-2.709375e+04        1
-2.022109e+04        1
-1.528105e+03        1
-3.127659e+03        1
-1.605919e+04        1
-4.695718e+03        1
-2.436207e+03        1
-5.252691e+03        1
-1.339573e+03        1
-2.620029e+03        1
-1.096902e+03        1
-8.911311e+02        1
-2.855118e+03        1
-1.850365e+03        1
-6.193374e+02        1
-2.273371e+02        1
-2.946000e+04        1
-6.428390e+03        1
-6.075247e+03        1
-2.433662e+03        1
-8.100625e+03        1
-5.953327e+03        1
-1.875648e+03        1
-1.438892e+04        1
-6.784888e+03        1
-1.084162e+04        1
-1.725941e+04        1
-2.285357e+02        1
-3.669857e+03        1
-8.887192e+02        1
-2.069100e+04        1
-2.066423e+03        1
-2.163300e+03        1
-6.177600e+03        1
-7.505766e+03        1
-6.044485e+03        1
-9.183803e+02        1
-2.431286e+03        1
-1.295390e+03        1
-1.562115e+03        1
-1.466795e+04        1
-8.699241e+02        1
-2.651605e+03        1
-8.293812e+02        1
-4.893075e+04        1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 240448, dtype: int64
2018-07-06 20:43:09,782 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:09,782 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:09,888 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:43:09,888 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:09,962 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,962 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:09,993 logger 29 [INFO]    [make_npy]  inf             89
-7.500000e+03    46
-2.250000e+04    44
-4.500000e+03    42
-1.125000e+04    40
-6.428571e+03    37
-1.500000e+04    35
-5.625000e+03    35
-2.812500e+03    33
-2.250000e+03    32
-3.750000e+03    30
-9.000000e+03    23
-3.000000e+03    22
-3.600000e+03    22
-1.500000e+03    21
-4.500000e+04    20
-4.090909e+03    20
-8.437500e+03    19
-2.500000e+03    18
-4.797000e+03    18
-4.050000e+03    17
-1.125000e+03    17
-2.142857e+03    17
-1.875000e+03    17
-1.350000e+04    17
-1.800000e+03    17
-9.375000e+03    17
-3.375000e+03    17
-6.750000e+03    16
-9.000000e+02    16
-1.687500e+04    16
-4.218750e+03    16
-5.996250e+03    16
-2.460023e+04    16
-1.730769e+03    15
-2.844401e+04    15
-1.599000e+03    15
-3.426429e+03    15
-5.192308e+03    15
-3.214286e+03    14
-2.700000e+03    14
-3.375000e+04    14
-1.575000e+03    14
-2.398500e+03    14
-1.820417e+04    14
-5.000000e+03    14
-1.406250e+03    14
-2.647059e+03    14
-1.184211e+03    14
-1.875000e+04    13
                 ..
-4.034243e+03     1
-1.848303e+03     1
-5.091898e+02     1
-5.146570e+02     1
-1.795403e+03     1
-1.207824e+03     1
-2.070173e+03     1
-9.986000e+02     1
-5.126860e+03     1
-1.733790e+04     1
-8.611050e+03     1
-1.639812e+04     1
-4.262734e+02     1
-1.009405e+04     1
-9.611489e+02     1
-8.476406e+02     1
-1.443300e+03     1
-4.159523e+04     1
-3.861988e+03     1
-1.861344e+02     1
-3.987342e+02     1
-1.102500e+04     1
-9.597047e+01     1
-4.370727e+02     1
-1.879607e+03     1
-3.058384e+03     1
-1.664804e+03     1
-2.887130e+03     1
-3.386663e+03     1
-3.444583e+02     1
-1.988438e+03     1
-7.101555e+02     1
-1.122649e+03     1
-1.135178e+03     1
-1.722060e+04     1
-8.976307e+02     1
-2.712750e+04     1
-3.303474e+03     1
-8.347838e+04     1
-3.232074e+02     1
-7.008900e+03     1
-6.299485e+03     1
-6.871318e+02     1
-3.516086e+04     1
-1.675200e+03     1
-2.580958e+04     1
-3.639754e+02     1
-5.776636e+03     1
-2.183133e+02     1
-2.518544e+03     1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 240584, dtype: int64
2018-07-06 20:43:09,993 logger 29 [INFO]    [make_npy]  inf             89
-7.500000e+03    46
-2.250000e+04    44
-4.500000e+03    42
-1.125000e+04    40
-6.428571e+03    37
-1.500000e+04    35
-5.625000e+03    35
-2.812500e+03    33
-2.250000e+03    32
-3.750000e+03    30
-9.000000e+03    23
-3.000000e+03    22
-3.600000e+03    22
-1.500000e+03    21
-4.500000e+04    20
-4.090909e+03    20
-8.437500e+03    19
-2.500000e+03    18
-4.797000e+03    18
-4.050000e+03    17
-1.125000e+03    17
-2.142857e+03    17
-1.875000e+03    17
-1.350000e+04    17
-1.800000e+03    17
-9.375000e+03    17
-3.375000e+03    17
-6.750000e+03    16
-9.000000e+02    16
-1.687500e+04    16
-4.218750e+03    16
-5.996250e+03    16
-2.460023e+04    16
-1.730769e+03    15
-2.844401e+04    15
-1.599000e+03    15
-3.426429e+03    15
-5.192308e+03    15
-3.214286e+03    14
-2.700000e+03    14
-3.375000e+04    14
-1.575000e+03    14
-2.398500e+03    14
-1.820417e+04    14
-5.000000e+03    14
-1.406250e+03    14
-2.647059e+03    14
-1.184211e+03    14
-1.875000e+04    13
                 ..
-4.034243e+03     1
-1.848303e+03     1
-5.091898e+02     1
-5.146570e+02     1
-1.795403e+03     1
-1.207824e+03     1
-2.070173e+03     1
-9.986000e+02     1
-5.126860e+03     1
-1.733790e+04     1
-8.611050e+03     1
-1.639812e+04     1
-4.262734e+02     1
-1.009405e+04     1
-9.611489e+02     1
-8.476406e+02     1
-1.443300e+03     1
-4.159523e+04     1
-3.861988e+03     1
-1.861344e+02     1
-3.987342e+02     1
-1.102500e+04     1
-9.597047e+01     1
-4.370727e+02     1
-1.879607e+03     1
-3.058384e+03     1
-1.664804e+03     1
-2.887130e+03     1
-3.386663e+03     1
-3.444583e+02     1
-1.988438e+03     1
-7.101555e+02     1
-1.122649e+03     1
-1.135178e+03     1
-1.722060e+04     1
-8.976307e+02     1
-2.712750e+04     1
-3.303474e+03     1
-8.347838e+04     1
-3.232074e+02     1
-7.008900e+03     1
-6.299485e+03     1
-6.871318e+02     1
-3.516086e+04     1
-1.675200e+03     1
-2.580958e+04     1
-3.639754e+02     1
-5.776636e+03     1
-2.183133e+02     1
-2.518544e+03     1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 240584, dtype: int64
2018-07-06 20:43:10,037 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:43:10,037 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:43:10,146 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:10,146 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:10,217 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:10,217 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:10,272 logger 29 [INFO]    [make_npy] -7.500000e+03    91
 inf             89
-1.125000e+04    80
-4.500000e+03    76
-3.750000e+03    75
-2.250000e+04    67
-2.250000e+03    66
-6.428571e+03    65
-2.500000e+03    65
-1.500000e+04    64
-2.812500e+03    62
-3.000000e+03    62
-5.625000e+03    61
-9.000000e+03    58
-1.500000e+03    56
-1.125000e+03    53
-3.214286e+03    51
-9.000000e+02    50
-4.090909e+03    50
-1.875000e+03    46
-1.250000e+03    45
-3.600000e+03    44
-1.800000e+03    44
-2.045455e+03    43
-4.797000e+03    42
-1.730769e+03    41
-2.700000e+03    40
-2.398500e+03    40
-1.323529e+03    39
-1.285714e+03    39
-1.607143e+03    37
-3.461538e+03    36
-1.350000e+03    36
-6.750000e+02    35
-1.184211e+03    35
-2.142857e+03    35
-1.406250e+03    35
-1.599000e+03    33
-2.647059e+03    32
-4.218750e+03    31
-9.782609e+02    31
-1.956522e+03    31
-1.199250e+04    31
-5.996250e+03    30
-7.031250e+02    29
-1.170000e+03    29
-4.500000e+04    29
-8.035714e+02    29
-1.000000e+03    29
-5.000000e+03    29
                 ..
-1.912645e+03     1
-8.173500e+02     1
-7.482645e+01     1
-4.718182e+02     1
-5.061834e+02     1
-2.600902e+02     1
-7.056711e+02     1
-5.387625e+02     1
-4.329900e+03     1
-2.407645e+02     1
-1.023720e+03     1
-9.217125e+03     1
-1.914545e+03     1
-3.957638e+04     1
-7.596463e+01     1
-5.393898e+02     1
-1.626031e+02     1
-1.531607e+03     1
-6.725000e+03     1
-1.328526e+03     1
-2.615964e+02     1
-7.495529e+02     1
-2.369176e+02     1
-4.814663e+03     1
-2.415600e+03     1
-4.021744e+03     1
-6.364260e+04     1
-2.694130e+02     1
-8.406562e+02     1
-3.102113e+03     1
-8.088261e+02     1
-2.270526e+02     1
-1.576703e+03     1
-4.554587e+03     1
-2.121560e+03     1
-2.172638e+03     1
-4.486579e+02     1
-2.010682e+03     1
-4.616391e+02     1
-5.775857e+02     1
-6.259091e+02     1
-8.381038e+02     1
-2.546835e+02     1
-2.361938e+03     1
-6.210000e+01     1
-1.243000e+02     1
-2.467031e+02     1
-1.334406e+03     1
-3.509458e+02     1
-1.710290e+03     1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 209135, dtype: int64
2018-07-06 20:43:10,272 logger 29 [INFO]    [make_npy] -7.500000e+03    91
 inf             89
-1.125000e+04    80
-4.500000e+03    76
-3.750000e+03    75
-2.250000e+04    67
-2.250000e+03    66
-6.428571e+03    65
-2.500000e+03    65
-1.500000e+04    64
-2.812500e+03    62
-3.000000e+03    62
-5.625000e+03    61
-9.000000e+03    58
-1.500000e+03    56
-1.125000e+03    53
-3.214286e+03    51
-9.000000e+02    50
-4.090909e+03    50
-1.875000e+03    46
-1.250000e+03    45
-3.600000e+03    44
-1.800000e+03    44
-2.045455e+03    43
-4.797000e+03    42
-1.730769e+03    41
-2.700000e+03    40
-2.398500e+03    40
-1.323529e+03    39
-1.285714e+03    39
-1.607143e+03    37
-3.461538e+03    36
-1.350000e+03    36
-6.750000e+02    35
-1.184211e+03    35
-2.142857e+03    35
-1.406250e+03    35
-1.599000e+03    33
-2.647059e+03    32
-4.218750e+03    31
-9.782609e+02    31
-1.956522e+03    31
-1.199250e+04    31
-5.996250e+03    30
-7.031250e+02    29
-1.170000e+03    29
-4.500000e+04    29
-8.035714e+02    29
-1.000000e+03    29
-5.000000e+03    29
                 ..
-1.912645e+03     1
-8.173500e+02     1
-7.482645e+01     1
-4.718182e+02     1
-5.061834e+02     1
-2.600902e+02     1
-7.056711e+02     1
-5.387625e+02     1
-4.329900e+03     1
-2.407645e+02     1
-1.023720e+03     1
-9.217125e+03     1
-1.914545e+03     1
-3.957638e+04     1
-7.596463e+01     1
-5.393898e+02     1
-1.626031e+02     1
-1.531607e+03     1
-6.725000e+03     1
-1.328526e+03     1
-2.615964e+02     1
-7.495529e+02     1
-2.369176e+02     1
-4.814663e+03     1
-2.415600e+03     1
-4.021744e+03     1
-6.364260e+04     1
-2.694130e+02     1
-8.406562e+02     1
-3.102113e+03     1
-8.088261e+02     1
-2.270526e+02     1
-1.576703e+03     1
-4.554587e+03     1
-2.121560e+03     1
-2.172638e+03     1
-4.486579e+02     1
-2.010682e+03     1
-4.616391e+02     1
-5.775857e+02     1
-6.259091e+02     1
-8.381038e+02     1
-2.546835e+02     1
-2.361938e+03     1
-6.210000e+01     1
-1.243000e+02     1
-2.467031e+02     1
-1.334406e+03     1
-3.509458e+02     1
-1.710290e+03     1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 209135, dtype: int64

2018-07-06 20:43:10,317 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:43:10,317 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:43:10,414 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:10,414 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:10,482 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:10,482 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:10,513 logger 29 [INFO]    [make_npy] -22500.000000     188
-11250.000000     177
-7500.000000      176
-4500.000000      158
-15000.000000     152
-5625.000000      134
-9000.000000      134
-6428.571429      125
-45000.000000     124
-23338.677692     119
-130029.775714    119
-24600.227838     118
-25283.567500     114
-30340.281000     112
-28444.013438     112
-26770.836176     110
-18204.168600     110
-18575.682245     109
-70016.033077     109
-23952.853421     106
-18962.675625     105
-60680.562000     105
-3750.000000      104
-151701.405000    103
-16549.244182     102
-19787.139783     102
-35008.016538     101
-32507.443929     100
-16253.721964     100
-14921.449672     100
-56888.026875     100
-113776.053750    100
-29361.562258     100
-50567.135000      99
-4090.909091       99
-17504.008269      99
-65014.887857      99
-21671.629286      98
-2812.500000       97
-26005.955143      97
-12300.113919      96
-37925.351250      96
-47905.706842      95
-14680.781129      95
-33711.423333      95
-27582.073636      94
-11377.605375      93
-17847.224118      92
-30000.000000      92
-15968.568947      92
                 ...
-1692.151685        1
-190.500000         1
-841.250000         1
-1388.833333        1
-7936.425000        1
-7967.700000        1
-6729.500000        1
-5462.448980        1
-6554.508197        1
-5446.028571        1
-13457.812500       1
-1958.127907        1
-523.393805         1
-3341.181818        1
-1848.804124        1
-182.531969         1
-251.973214         1
-8771.785714        1
-359.940000         1
-2159.372093        1
-2828.934783        1
-345.428571         1
-1767.395010        1
-3811.764706        1
-988.217822         1
-528.234940         1
-3403.080000        1
-5801.250000        1
-1231.776699        1
-631.819149         1
-1342.546875        1
-213.472603         1
-2412.868421        1
-13458.750000       1
-3972.402439        1
-319.871359         1
-11900.886792       1
-2005.436842        1
-14614.071429       1
-1186.615385        1
-16591.304348       1
-2060.048077        1
-5358.053571        1
-921.020548         1
-1096.051339        1
-7248.358209        1
-182.394495         1
-722.712329         1
-6729.000000        1
-3579.797872        1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 191210, dtype: int64
2018-07-06 20:43:10,513 logger 29 [INFO]    [make_npy] -22500.000000     188
-11250.000000     177
-7500.000000      176
-4500.000000      158
-15000.000000     152
-5625.000000      134
-9000.000000      134
-6428.571429      125
-45000.000000     124
-23338.677692     119
-130029.775714    119
-24600.227838     118
-25283.567500     114
-30340.281000     112
-28444.013438     112
-26770.836176     110
-18204.168600     110
-18575.682245     109
-70016.033077     109
-23952.853421     106
-18962.675625     105
-60680.562000     105
-3750.000000      104
-151701.405000    103
-16549.244182     102
-19787.139783     102
-35008.016538     101
-32507.443929     100
-16253.721964     100
-14921.449672     100
-56888.026875     100
-113776.053750    100
-29361.562258     100
-50567.135000      99
-4090.909091       99
-17504.008269      99
-65014.887857      99
-21671.629286      98
-2812.500000       97
-26005.955143      97
-12300.113919      96
-37925.351250      96
-47905.706842      95
-14680.781129      95
-33711.423333      95
-27582.073636      94
-11377.605375      93
-17847.224118      92
-30000.000000      92
-15968.568947      92
                 ...
-1692.151685        1
-190.500000         1
-841.250000         1
-1388.833333        1
-7936.425000        1
-7967.700000        1
-6729.500000        1
-5462.448980        1
-6554.508197        1
-5446.028571        1
-13457.812500       1
-1958.127907        1
-523.393805         1
-3341.181818        1
-1848.804124        1
-182.531969         1
-251.973214         1
-8771.785714        1
-359.940000         1
-2159.372093        1
-2828.934783        1
-345.428571         1
-1767.395010        1
-3811.764706        1
-988.217822         1
-528.234940         1
-3403.080000        1
-5801.250000        1
-1231.776699        1
-631.819149         1
-1342.546875        1
-213.472603         1
-2412.868421        1
-13458.750000       1
-3972.402439        1
-319.871359         1
-11900.886792       1
-2005.436842        1
-14614.071429       1
-1186.615385        1
-16591.304348       1
-2060.048077        1
-5358.053571        1
-921.020548         1
-1096.051339        1
-7248.358209        1
-182.394495         1
-722.712329         1
-6729.000000        1
-3579.797872        1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 191210, dtype: int64
2018-07-06 20:43:10,562 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:43:10,562 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:43:10,680 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:10,680 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:10,762 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:10,762 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:10,787 logger 29 [INFO]    [make_npy] 0.000000        195
105.005357        9
1060.660172       8
124.097240        8
171.826948        7
70.003571         7
54.093669         7
19.091883         7
39.774756         6
38.183766         6
3.181981          5
744.583441        5
1555.988472       5
216.374675        5
219.556656        5
35.001786         5
315.016071        5
636.396103        5
165.462987        5
64.169940         5
210.806209        5
927.547320        5
101.823376        5
515.480843        5
130.461201        4
141.598133        4
1651.447887       4
1196.424674       4
451.841233        4
1762.817205       4
630.032142        4
432.749350        4
1900.437863       4
147.564346        4
293.802868        4
795.495129        4
532.981736        4
108.187338        4
385.019642        4
140.007143        4
146.371104        4
377.064691        4
106.596347        4
539.345697        4
60.457630         4
63.639610         4
58.866640         4
283.196266        4
1018.233765       4
95.459415         4
               ...
699.812072        1
2004.337741       1
205.969708        1
110.145479        1
355.803276        1
1620.965106       1
323.983471        1
1962.982498       1
2045.841472       1
475.041761        1
204.901188        1
420.308071        1
151.913136        1
2318.943933       1
585.139044        1
3939.109757       1
1766.317574       1
175.820391        1
3468.930584       1
642.211447        1
2078.205810       1
1564.293851       1
310.483210        1
3620.622422       1
1411.981125       1
1003.084611       1
32711.687908      1
24112.328237      1
326.329780        1
4270.005720       1
6516.262189       1
16.729504         1
12064.947388      1
1673.509619       1
7778.828667       1
994.235163        1
285.919734        1
528.151167        1
2774.410101       1
12058.638050      1
4192.410852       1
672.441780        1
1577.510549       1
1308.753027       1
1556.186072       1
2839.479220       1
20827.991390      1
3317.034836       1
38.011757         1
1229.496469       1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 159679, dtype: int64

2018-07-06 20:43:10,787 logger 29 [INFO]    [make_npy] 0.000000        195
105.005357        9
1060.660172       8
124.097240        8
171.826948        7
70.003571         7
54.093669         7
19.091883         7
39.774756         6
38.183766         6
3.181981          5
744.583441        5
1555.988472       5
216.374675        5
219.556656        5
35.001786         5
315.016071        5
636.396103        5
165.462987        5
64.169940         5
210.806209        5
927.547320        5
101.823376        5
515.480843        5
130.461201        4
141.598133        4
1651.447887       4
1196.424674       4
451.841233        4
1762.817205       4
630.032142        4
432.749350        4
1900.437863       4
147.564346        4
293.802868        4
795.495129        4
532.981736        4
108.187338        4
385.019642        4
140.007143        4
146.371104        4
377.064691        4
106.596347        4
539.345697        4
60.457630         4
63.639610         4
58.866640         4
283.196266        4
1018.233765       4
95.459415         4
               ...
699.812072        1
2004.337741       1
205.969708        1
110.145479        1
355.803276        1
1620.965106       1
323.983471        1
1962.982498       1
2045.841472       1
475.041761        1
204.901188        1
420.308071        1
151.913136        1
2318.943933       1
585.139044        1
3939.109757       1
1766.317574       1
175.820391        1
3468.930584       1
642.211447        1
2078.205810       1
1564.293851       1
310.483210        1
3620.622422       1
1411.981125       1
1003.084611       1
32711.687908      1
24112.328237      1
326.329780        1
4270.005720       1
6516.262189       1
16.729504         1
12064.947388      1
1673.509619       1
7778.828667       1
994.235163        1
285.919734        1
528.151167        1
2774.410101       1
12058.638050      1
4192.410852       1
672.441780        1
1577.510549       1
1308.753027       1
1556.186072       1
2839.479220       1
20827.991390      1
3317.034836       1
38.011757         1
1229.496469       1
Name: AMT_CREDIT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 159679, dtype: int64
2018-07-06 20:43:10,840 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:10,840 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:10,938 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:10,938 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:11,004 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,004 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,044 logger 29 [INFO]    [make_npy]  inf             2022
 0.000000e+00      30
-2.250000e+04      26
-1.125000e+04      24
-9.000000e+02      22
-2.250000e+03      22
-1.125000e+03      21
-3.750000e+03      19
-4.500000e+02      17
-7.200000e+02      17
-5.625000e+03      17
-1.730769e+03      15
-1.800000e+03      14
-7.500000e+03      14
-6.428571e+03      14
-3.000000e+03      14
-1.350000e+03      14
-2.500000e+03      13
-1.350000e+04      13
-8.333333e+02      13
-6.000000e+02      13
-2.700000e+03      13
-5.625000e+02      12
-8.181818e+02      12
-7.031250e+02      12
-8.274622e+04      12
-6.750000e+02      12
-9.375000e+02      12
-3.461538e+03      12
-1.800000e+02      12
-5.400000e+03      11
-8.653846e+02      11
-1.500000e+03      11
-2.368421e+03      11
-9.000000e+03      11
-2.160000e+03      11
-4.500000e+03      11
-2.812500e+03      11
-2.045455e+03      11
-9.782609e+02      11
-4.050000e+02      11
-1.451613e+03      11
-6.250000e+02      11
-1.090227e+03      10
-9.993750e+02      10
-1.022727e+03      10
-1.323529e+03      10
-1.569767e+03      10
-3.690000e+03      10
-1.057500e+03      10
                 ...
-3.970266e+03       1
-8.466644e+02       1
-7.028571e+01       1
-8.976923e+02       1
-1.096683e+04       1
-1.758717e+03       1
-3.886096e+03       1
-2.439474e+02       1
-1.504837e+03       1
-1.112062e+03       1
-1.194458e+03       1
-2.824557e+02       1
-1.097074e+05       1
-2.678760e+03       1
-1.359517e+03       1
-1.874700e+04       1
-1.813714e+02       1
-9.476250e+01       1
-8.152700e+03       1
-1.748132e+03       1
-2.530465e+02       1
-6.756288e+02       1
-4.242140e+02       1
-5.248898e+03       1
-1.582825e+04       1
-7.113861e+01       1
-3.470586e+02       1
-3.955645e+01       1
-2.511832e+02       1
-9.076607e+02       1
-2.603320e+03       1
-4.655605e+03       1
-2.692757e+03       1
-7.545583e+02       1
-4.037589e+03       1
-9.312729e+02       1
-2.491800e+04       1
-1.769365e+05       1
-1.452107e+04       1
-4.201341e+02       1
-3.532273e+02       1
-6.374102e+02       1
-2.046584e+04       1
-7.175455e+02       1
-1.031400e+03       1
-5.163000e+02       1
-4.850236e+02       1
-1.879626e+03       1
-2.128407e+03       1
-6.365050e+03       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 298965, dtype: int64
2018-07-06 20:43:11,044 logger 29 [INFO]    [make_npy]  inf             2022
 0.000000e+00      30
-2.250000e+04      26
-1.125000e+04      24
-9.000000e+02      22
-2.250000e+03      22
-1.125000e+03      21
-3.750000e+03      19
-4.500000e+02      17
-7.200000e+02      17
-5.625000e+03      17
-1.730769e+03      15
-1.800000e+03      14
-7.500000e+03      14
-6.428571e+03      14
-3.000000e+03      14
-1.350000e+03      14
-2.500000e+03      13
-1.350000e+04      13
-8.333333e+02      13
-6.000000e+02      13
-2.700000e+03      13
-5.625000e+02      12
-8.181818e+02      12
-7.031250e+02      12
-8.274622e+04      12
-6.750000e+02      12
-9.375000e+02      12
-3.461538e+03      12
-1.800000e+02      12
-5.400000e+03      11
-8.653846e+02      11
-1.500000e+03      11
-2.368421e+03      11
-9.000000e+03      11
-2.160000e+03      11
-4.500000e+03      11
-2.812500e+03      11
-2.045455e+03      11
-9.782609e+02      11
-4.050000e+02      11
-1.451613e+03      11
-6.250000e+02      11
-1.090227e+03      10
-9.993750e+02      10
-1.022727e+03      10
-1.323529e+03      10
-1.569767e+03      10
-3.690000e+03      10
-1.057500e+03      10
                 ...
-3.970266e+03       1
-8.466644e+02       1
-7.028571e+01       1
-8.976923e+02       1
-1.096683e+04       1
-1.758717e+03       1
-3.886096e+03       1
-2.439474e+02       1
-1.504837e+03       1
-1.112062e+03       1
-1.194458e+03       1
-2.824557e+02       1
-1.097074e+05       1
-2.678760e+03       1
-1.359517e+03       1
-1.874700e+04       1
-1.813714e+02       1
-9.476250e+01       1
-8.152700e+03       1
-1.748132e+03       1
-2.530465e+02       1
-6.756288e+02       1
-4.242140e+02       1
-5.248898e+03       1
-1.582825e+04       1
-7.113861e+01       1
-3.470586e+02       1
-3.955645e+01       1
-2.511832e+02       1
-9.076607e+02       1
-2.603320e+03       1
-4.655605e+03       1
-2.692757e+03       1
-7.545583e+02       1
-4.037589e+03       1
-9.312729e+02       1
-2.491800e+04       1
-1.769365e+05       1
-1.452107e+04       1
-4.201341e+02       1
-3.532273e+02       1
-6.374102e+02       1
-2.046584e+04       1
-7.175455e+02       1
-1.031400e+03       1
-5.163000e+02       1
-4.850236e+02       1
-1.879626e+03       1
-2.128407e+03       1
-6.365050e+03       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 298965, dtype: int64
2018-07-06 20:43:11,087 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:11,087 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:11,201 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:43:11,201 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:11,287 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,287 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,337 logger 29 [INFO]    [make_npy]  inf             2022
-2.250000e+03      24
-2.250000e+04      24
-1.125000e+04      23
-9.000000e+02      21
-5.625000e+03      20
-3.750000e+03      19
-5.625000e+02      18
-4.500000e+02      17
-1.125000e+03      15
-1.350000e+03      15
-1.730769e+03      14
-6.428571e+03      14
-7.500000e+03      14
-9.375000e+02      14
-6.750000e+02      14
-7.031250e+02      13
-1.350000e+04      13
-3.000000e+03      13
-4.050000e+02      13
-8.653846e+02      13
-8.333333e+02      13
-7.200000e+02      13
-1.500000e+03      12
-1.323529e+03      12
-2.700000e+03      12
-9.782609e+02      12
-9.993750e+02      12
-2.250000e+02      12
-2.500000e+03      12
-8.181818e+02      12
-6.000000e+02      12
-1.800000e+03      12
-4.787234e+02      11
-1.080000e+03      11
-4.500000e+03      11
-1.800000e+02      11
-3.375000e+03      11
-6.250000e+02      11
-1.022727e+03      11
-1.090227e+03      11
-2.812500e+03      11
-1.184211e+03      10
-8.437500e+03      10
-1.250000e+03      10
-3.120000e+02      10
-6.136364e+02      10
-8.274622e+04      10
-2.045455e+03      10
-1.199250e+03      10
                 ...
-7.545583e+02       1
-2.038175e+03       1
-8.740658e+02       1
-2.530465e+02       1
-6.756288e+02       1
-4.242140e+02       1
-2.313060e+03       1
-1.337500e+02       1
-2.519835e+02       1
-9.476250e+01       1
-1.735293e+02       1
-3.955645e+01       1
-1.983120e+02       1
-7.775851e+02       1
-8.897100e+02       1
-1.051868e+03       1
-2.065762e+03       1
-3.873123e+03       1
-1.618862e+03       1
-6.101833e+02       1
-1.675710e+03       1
-4.067397e+02       1
-5.197658e+02       1
-2.318365e+02       1
-9.856765e+02       1
-1.207980e+03       1
-2.124922e+02       1
-1.481170e+03       1
-1.827643e+04       1
-9.787850e+01       1
-1.126539e+03       1
-7.898824e+03       1
-3.503867e+02       1
-1.087521e+03       1
-1.630777e+04       1
-2.180328e+03       1
-3.563455e+02       1
-5.246129e+02       1
-8.596129e+02       1
-3.874490e+02       1
-2.003266e+02       1
-4.139287e+02       1
-1.359886e+04       1
-4.280182e+02       1
-3.223105e+02       1
-1.841743e+02       1
-5.971368e+03       1
-2.405185e+02       1
-1.019150e+03       1
-5.219080e+02       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 299041, dtype: int64
2018-07-06 20:43:11,337 logger 29 [INFO]    [make_npy]  inf             2022
-2.250000e+03      24
-2.250000e+04      24
-1.125000e+04      23
-9.000000e+02      21
-5.625000e+03      20
-3.750000e+03      19
-5.625000e+02      18
-4.500000e+02      17
-1.125000e+03      15
-1.350000e+03      15
-1.730769e+03      14
-6.428571e+03      14
-7.500000e+03      14
-9.375000e+02      14
-6.750000e+02      14
-7.031250e+02      13
-1.350000e+04      13
-3.000000e+03      13
-4.050000e+02      13
-8.653846e+02      13
-8.333333e+02      13
-7.200000e+02      13
-1.500000e+03      12
-1.323529e+03      12
-2.700000e+03      12
-9.782609e+02      12
-9.993750e+02      12
-2.250000e+02      12
-2.500000e+03      12
-8.181818e+02      12
-6.000000e+02      12
-1.800000e+03      12
-4.787234e+02      11
-1.080000e+03      11
-4.500000e+03      11
-1.800000e+02      11
-3.375000e+03      11
-6.250000e+02      11
-1.022727e+03      11
-1.090227e+03      11
-2.812500e+03      11
-1.184211e+03      10
-8.437500e+03      10
-1.250000e+03      10
-3.120000e+02      10
-6.136364e+02      10
-8.274622e+04      10
-2.045455e+03      10
-1.199250e+03      10
                 ...
-7.545583e+02       1
-2.038175e+03       1
-8.740658e+02       1
-2.530465e+02       1
-6.756288e+02       1
-4.242140e+02       1
-2.313060e+03       1
-1.337500e+02       1
-2.519835e+02       1
-9.476250e+01       1
-1.735293e+02       1
-3.955645e+01       1
-1.983120e+02       1
-7.775851e+02       1
-8.897100e+02       1
-1.051868e+03       1
-2.065762e+03       1
-3.873123e+03       1
-1.618862e+03       1
-6.101833e+02       1
-1.675710e+03       1
-4.067397e+02       1
-5.197658e+02       1
-2.318365e+02       1
-9.856765e+02       1
-1.207980e+03       1
-2.124922e+02       1
-1.481170e+03       1
-1.827643e+04       1
-9.787850e+01       1
-1.126539e+03       1
-7.898824e+03       1
-3.503867e+02       1
-1.087521e+03       1
-1.630777e+04       1
-2.180328e+03       1
-3.563455e+02       1
-5.246129e+02       1
-8.596129e+02       1
-3.874490e+02       1
-2.003266e+02       1
-4.139287e+02       1
-1.359886e+04       1
-4.280182e+02       1
-3.223105e+02       1
-1.841743e+02       1
-5.971368e+03       1
-2.405185e+02       1
-1.019150e+03       1
-5.219080e+02       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 299041, dtype: int64
2018-07-06 20:43:11,382 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:11,382 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:11,475 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:11,475 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:11,545 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,545 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,586 logger 29 [INFO]    [make_npy]  inf             2022
-2.250000e+04      51
-9.000000e+02      47
-2.250000e+03      47
-1.125000e+04      45
-3.750000e+03      44
-6.428571e+02      40
-4.500000e+03      38
-2.250000e+02      37
-1.800000e+02      37
-1.800000e+03      36
-4.500000e+02      36
-2.500000e+03      35
-5.625000e+02      35
-8.181818e+02      34
-4.050000e+02      34
-1.125000e+03      34
-5.625000e+03      34
-2.700000e+02      33
-3.000000e+03      33
-9.000000e+03      32
-1.323529e+03      32
-3.600000e+02      31
-6.428571e+03      31
-1.500000e+03      30
-9.375000e+02      30
-1.000000e+03      29
-1.845000e+02      29
-2.812500e+03      29
-8.653846e+02      28
-7.031250e+02      28
-2.045455e+03      28
-3.690000e+02      27
-3.214286e+03      27
-4.090909e+02      27
-3.750000e+02      26
-6.617647e+02      26
-1.875000e+03      26
-5.000000e+02      26
-2.812500e+02      26
-7.500000e+03      26
-1.022727e+03      26
-1.730769e+03      25
-4.017857e+02      25
-2.398500e+03      25
-2.647059e+03      25
-2.368421e+03      25
-1.406250e+03      25
-4.787234e+02      25
-7.758621e+02      25
                 ...
-7.776078e+02       1
-4.735946e+02       1
-1.677515e+03       1
-5.682185e+03       1
-4.191809e+02       1
-6.175630e+02       1
-4.494398e+02       1
-2.646325e+02       1
-1.952679e+02       1
-2.740244e+02       1
-3.128168e+02       1
-1.389388e+02       1
-1.255750e+02       1
-1.691613e+02       1
-2.187883e+02       1
-2.582591e+03       1
-2.840777e+02       1
-1.812996e+02       1
-8.789559e+02       1
-9.481765e+01       1
-1.265654e+03       1
-4.217038e+02       1
-8.085000e+02       1
-3.825670e+02       1
-2.861006e+02       1
-6.951570e+02       1
-3.418469e+02       1
-8.456932e+02       1
-1.250182e+03       1
-4.768421e+01       1
-9.513158e+01       1
-9.638014e+01       1
-6.424773e+02       1
-1.029022e+03       1
-1.120219e+03       1
-4.874550e+04       1
-2.483500e+02       1
-4.574289e+02       1
-1.826314e+02       1
-1.687312e+03       1
-4.339800e+02       1
-2.647569e+02       1
-7.988217e+01       1
-2.685160e+02       1
-5.989608e+01       1
-2.669486e+02       1
-8.132857e+02       1
-5.208197e+02       1
-4.963037e+02       1
-1.178100e+04       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 268665, dtype: int64

2018-07-06 20:43:11,586 logger 29 [INFO]    [make_npy]  inf             2022
-2.250000e+04      51
-9.000000e+02      47
-2.250000e+03      47
-1.125000e+04      45
-3.750000e+03      44
-6.428571e+02      40
-4.500000e+03      38
-2.250000e+02      37
-1.800000e+02      37
-1.800000e+03      36
-4.500000e+02      36
-2.500000e+03      35
-5.625000e+02      35
-8.181818e+02      34
-4.050000e+02      34
-1.125000e+03      34
-5.625000e+03      34
-2.700000e+02      33
-3.000000e+03      33
-9.000000e+03      32
-1.323529e+03      32
-3.600000e+02      31
-6.428571e+03      31
-1.500000e+03      30
-9.375000e+02      30
-1.000000e+03      29
-1.845000e+02      29
-2.812500e+03      29
-8.653846e+02      28
-7.031250e+02      28
-2.045455e+03      28
-3.690000e+02      27
-3.214286e+03      27
-4.090909e+02      27
-3.750000e+02      26
-6.617647e+02      26
-1.875000e+03      26
-5.000000e+02      26
-2.812500e+02      26
-7.500000e+03      26
-1.022727e+03      26
-1.730769e+03      25
-4.017857e+02      25
-2.398500e+03      25
-2.647059e+03      25
-2.368421e+03      25
-1.406250e+03      25
-4.787234e+02      25
-7.758621e+02      25
                 ...
-7.776078e+02       1
-4.735946e+02       1
-1.677515e+03       1
-5.682185e+03       1
-4.191809e+02       1
-6.175630e+02       1
-4.494398e+02       1
-2.646325e+02       1
-1.952679e+02       1
-2.740244e+02       1
-3.128168e+02       1
-1.389388e+02       1
-1.255750e+02       1
-1.691613e+02       1
-2.187883e+02       1
-2.582591e+03       1
-2.840777e+02       1
-1.812996e+02       1
-8.789559e+02       1
-9.481765e+01       1
-1.265654e+03       1
-4.217038e+02       1
-8.085000e+02       1
-3.825670e+02       1
-2.861006e+02       1
-6.951570e+02       1
-3.418469e+02       1
-8.456932e+02       1
-1.250182e+03       1
-4.768421e+01       1
-9.513158e+01       1
-9.638014e+01       1
-6.424773e+02       1
-1.029022e+03       1
-1.120219e+03       1
-4.874550e+04       1
-2.483500e+02       1
-4.574289e+02       1
-1.826314e+02       1
-1.687312e+03       1
-4.339800e+02       1
-2.647569e+02       1
-7.988217e+01       1
-2.685160e+02       1
-5.989608e+01       1
-2.669486e+02       1
-8.132857e+02       1
-5.208197e+02       1
-4.963037e+02       1
-1.178100e+04       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 268665, dtype: int64
2018-07-06 20:43:11,637 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:11,637 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:11,754 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:11,754 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:11,840 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,840 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:11,881 logger 29 [INFO]    [make_npy]  inf             2022
-3.034028e+05     122
-4.551042e+05     117
-1.517014e+05     113
-2.275521e+05     108
-9.102084e+05     105
-1.300298e+05     104
-1.820417e+05     103
-2.250000e+04     102
-1.125000e+04      97
-9.102084e+04      95
-7.585070e+04      93
-1.137761e+05      91
-6.501489e+04      88
-1.011343e+05      86
-3.750000e+03      83
-7.001603e+04      80
-5.056714e+04      80
-2.250000e+03      79
-8.274622e+04      78
-3.792535e+04      76
-4.137311e+04      75
-4.500000e+03      75
-2.677084e+04      74
-3.500802e+04      74
-6.428571e+03      74
-3.034028e+04      73
-3.138650e+04      73
-2.045455e+03      73
-5.625000e+03      73
-3.371142e+04      73
-2.333868e+04      72
-7.500000e+03      72
-2.812500e+03      72
-9.000000e+03      72
-3.640834e+04      71
-5.354167e+04      71
-5.516415e+03      71
-9.683068e+03      70
-5.688803e+04      69
-4.790571e+04      69
-1.500000e+03      68
-4.500000e+04      68
-3.214286e+03      68
-6.068056e+04      68
-2.844401e+04      67
-1.730769e+03      67
-3.957428e+04      65
-2.500000e+03      65
-2.936156e+04      65
                 ...
-5.116650e+02       1
-2.229322e+02       1
-2.498023e+02       1
-3.755798e+02       1
-5.640833e+02       1
-8.111723e+02       1
-5.892296e+02       1
-3.542637e+02       1
-1.463353e+03       1
-3.667674e+02       1
-1.229508e+02       1
-1.266060e+04       1
-1.856856e+03       1
-1.060571e+05       1
-1.626426e+03       1
-3.838972e+02       1
-5.455813e+02       1
-1.104589e+03       1
-1.639110e+02       1
-2.670600e+04       1
-1.689132e+03       1
-2.245364e+02       1
-2.619510e+03       1
-6.676875e+03       1
-1.041462e+03       1
-2.506130e+02       1
-8.016290e+02       1
-6.585652e+03       1
-1.708234e+03       1
-8.311500e+03       1
-1.980347e+02       1
-3.674915e+02       1
-2.640160e+02       1
-5.212623e+02       1
-5.227377e+02       1
-2.579114e+03       1
-5.256587e+03       1
-7.023333e+02       1
-1.006565e+03       1
-7.824684e+02       1
-1.851138e+03       1
-4.349296e+03       1
-8.472085e+01       1
-1.005000e+03       1
-4.598294e+02       1
-6.070241e+03       1
-8.002575e+03       1
-4.772294e+02       1
-1.214941e+03       1
-9.138889e+01       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 242330, dtype: int64
2018-07-06 20:43:11,881 logger 29 [INFO]    [make_npy]  inf             2022
-3.034028e+05     122
-4.551042e+05     117
-1.517014e+05     113
-2.275521e+05     108
-9.102084e+05     105
-1.300298e+05     104
-1.820417e+05     103
-2.250000e+04     102
-1.125000e+04      97
-9.102084e+04      95
-7.585070e+04      93
-1.137761e+05      91
-6.501489e+04      88
-1.011343e+05      86
-3.750000e+03      83
-7.001603e+04      80
-5.056714e+04      80
-2.250000e+03      79
-8.274622e+04      78
-3.792535e+04      76
-4.137311e+04      75
-4.500000e+03      75
-2.677084e+04      74
-3.500802e+04      74
-6.428571e+03      74
-3.034028e+04      73
-3.138650e+04      73
-2.045455e+03      73
-5.625000e+03      73
-3.371142e+04      73
-2.333868e+04      72
-7.500000e+03      72
-2.812500e+03      72
-9.000000e+03      72
-3.640834e+04      71
-5.354167e+04      71
-5.516415e+03      71
-9.683068e+03      70
-5.688803e+04      69
-4.790571e+04      69
-1.500000e+03      68
-4.500000e+04      68
-3.214286e+03      68
-6.068056e+04      68
-2.844401e+04      67
-1.730769e+03      67
-3.957428e+04      65
-2.500000e+03      65
-2.936156e+04      65
                 ...
-5.116650e+02       1
-2.229322e+02       1
-2.498023e+02       1
-3.755798e+02       1
-5.640833e+02       1
-8.111723e+02       1
-5.892296e+02       1
-3.542637e+02       1
-1.463353e+03       1
-3.667674e+02       1
-1.229508e+02       1
-1.266060e+04       1
-1.856856e+03       1
-1.060571e+05       1
-1.626426e+03       1
-3.838972e+02       1
-5.455813e+02       1
-1.104589e+03       1
-1.639110e+02       1
-2.670600e+04       1
-1.689132e+03       1
-2.245364e+02       1
-2.619510e+03       1
-6.676875e+03       1
-1.041462e+03       1
-2.506130e+02       1
-8.016290e+02       1
-6.585652e+03       1
-1.708234e+03       1
-8.311500e+03       1
-1.980347e+02       1
-3.674915e+02       1
-2.640160e+02       1
-5.212623e+02       1
-5.227377e+02       1
-2.579114e+03       1
-5.256587e+03       1
-7.023333e+02       1
-1.006565e+03       1
-7.824684e+02       1
-1.851138e+03       1
-4.349296e+03       1
-8.472085e+01       1
-1.005000e+03       1
-4.598294e+02       1
-6.070241e+03       1
-8.002575e+03       1
-4.772294e+02       1
-1.214941e+03       1
-9.138889e+01       1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 242330, dtype: int64
2018-07-06 20:43:11,927 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:11,927 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']

2018-07-06 20:43:12,036 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,036 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,115 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,115 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,150 logger 29 [INFO]    [make_npy] 0.000000         257
9.545942           9
159.099026         8
70.003571          7
130.461201         7
25.455844          7
31.819805          7
6.363961           6
350.017857         6
50.911688          5
35.001786          5
206.828733         5
23.864854          5
327.743993         5
28.637825          5
189.327841         5
66.821591          5
604.576298         5
212.132034         5
15.909903          5
1829.638796        5
280.014285         4
40.570252          4
1250.518343        4
356.381818         4
12.727922          4
515.480843         4
630.032142         4
8.750446           4
334.107954         4
152.735065         4
63.639610          4
19.091883          4
265.165043         4
300.697159         4
17.500893          4
47.729708          4
27.046834          4
397.747564         4
381.837662         4
216.374675         4
51.707183          4
82.731493          4
81.140503          4
324.562013         3
66.026096          3
202.055763         3
830.496915         3
203.646753         3
38.183766          3
                ...
153.020444         1
189852.379544      1
321.086464         1
1327.642779        1
1971.588622        1
668.468578         1
589.384236         1
1395.834148        1
883.660004         1
379.162775         1
3283.499881        1
2401.248167        1
734.098862         1
81.915601          1
730.679541         1
212.416140         1
169.558761         1
495.003977         1
62.165034          1
169.920002         1
165.634043         1
50.433244          1
49.058324          1
41.992352          1
172.514944         1
436.439668         1
928.451673         1
2703.092448        1
105.445631         1
651.143359         1
503.239882         1
203.906228         1
225.566017         1
55.779271          1
22.432963          1
87.355356          1
2012.006854        1
1471.141880        1
104.358593         1
313.976624         1
52.223845          1
269.725882         1
247.273381         1
2370.808748        1
623.722739         1
656.838127         1
112.020948         1
488.593418         1
2441.504873        1
2962.826061        1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 194895, dtype: int64
2018-07-06 20:43:12,150 logger 29 [INFO]    [make_npy] 0.000000         257
9.545942           9
159.099026         8
70.003571          7
130.461201         7
25.455844          7
31.819805          7
6.363961           6
350.017857         6
50.911688          5
35.001786          5
206.828733         5
23.864854          5
327.743993         5
28.637825          5
189.327841         5
66.821591          5
604.576298         5
212.132034         5
15.909903          5
1829.638796        5
280.014285         4
40.570252          4
1250.518343        4
356.381818         4
12.727922          4
515.480843         4
630.032142         4
8.750446           4
334.107954         4
152.735065         4
63.639610          4
19.091883          4
265.165043         4
300.697159         4
17.500893          4
47.729708          4
27.046834          4
397.747564         4
381.837662         4
216.374675         4
51.707183          4
82.731493          4
81.140503          4
324.562013         3
66.026096          3
202.055763         3
830.496915         3
203.646753         3
38.183766          3
                ...
153.020444         1
189852.379544      1
321.086464         1
1327.642779        1
1971.588622        1
668.468578         1
589.384236         1
1395.834148        1
883.660004         1
379.162775         1
3283.499881        1
2401.248167        1
734.098862         1
81.915601          1
730.679541         1
212.416140         1
169.558761         1
495.003977         1
62.165034          1
169.920002         1
165.634043         1
50.433244          1
49.058324          1
41.992352          1
172.514944         1
436.439668         1
928.451673         1
2703.092448        1
105.445631         1
651.143359         1
503.239882         1
203.906228         1
225.566017         1
55.779271          1
22.432963          1
87.355356          1
2012.006854        1
1471.141880        1
104.358593         1
313.976624         1
52.223845          1
269.725882         1
247.273381         1
2370.808748        1
623.722739         1
656.838127         1
112.020948         1
488.593418         1
2441.504873        1
2962.826061        1
Name: AMT_CREDIT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 194895, dtype: int64
2018-07-06 20:43:12,199 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:12,199 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:12,316 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,316 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,399 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,399 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,446 logger 29 [INFO]    [make_npy] 0.000000      273
2.000000      194
5.000000      176
1.000000      157
0.988785      116
10.000000     114
3.333333      112
2.500000      109
3.000000      105
0.741588       89
6.666667       88
1.876173       87
3.750000       80
4.000000       80
7.500000       78
0.494392       77
4.690432       75
1.666667       69
1.977569       68
1.235981       67
2.345216       65
3.752345       58
1.333333       58
1.500000       57
3.126954       57
6.000000       56
0.938086       55
4.840271       53
0.500000       44
1.250000       43
2.666667       42
1.936108       41
1.766784       40
1.483177       39
8.333333       39
2.814259       36
0.883392       34
9.380863       34
3.226847       33
0.247196       33
8.000000       32
1.819836       31
0.750000       31
3.500000       31
1.563477       31
5.555556       29
0.666667       29
1.730373       29
16.666667      28
7.000000       28
             ...
9.059262        1
8.274036        1
18.713301       1
10.938103       1
6.454683        1
102.930931      1
6.836136        1
28.921456       1
2.288317        1
16.662394       1
14.337661       1
12.263920       1
0.837989        1
25.782228       1
92.610373       1
5.881762        1
51.313578       1
4.334149        1
29.833380       1
10.564571       1
4.342073        1
3.638975        1
2.909745        1
6.414404        1
11.008145       1
8.063189        1
37.885523       1
24.384703       1
26.130128       1
44.144449       1
34.106292       1
32.923617       1
28.291940       1
67.867580       1
1.577003        1
2.826356        1
6.049085        1
2.790754        1
25.024993       1
6.510841        1
30.492411       1
10.607530       1
69.062275       1
4.264028        1
18.747566       1
7.137122        1
27.863152       1
12.147716       1
33.875348       1
42.904377       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_sum@['SK_ID_CURR'], Length: 286283, dtype: int64
2018-07-06 20:43:12,446 logger 29 [INFO]    [make_npy] 0.000000      273
2.000000      194
5.000000      176
1.000000      157
0.988785      116
10.000000     114
3.333333      112
2.500000      109
3.000000      105
0.741588       89
6.666667       88
1.876173       87
3.750000       80
4.000000       80
7.500000       78
0.494392       77
4.690432       75
1.666667       69
1.977569       68
1.235981       67
2.345216       65
3.752345       58
1.333333       58
1.500000       57
3.126954       57
6.000000       56
0.938086       55
4.840271       53
0.500000       44
1.250000       43
2.666667       42
1.936108       41
1.766784       40
1.483177       39
8.333333       39
2.814259       36
0.883392       34
9.380863       34
3.226847       33
0.247196       33
8.000000       32
1.819836       31
0.750000       31
3.500000       31
1.563477       31
5.555556       29
0.666667       29
1.730373       29
16.666667      28
7.000000       28
             ...
9.059262        1
8.274036        1
18.713301       1
10.938103       1
6.454683        1
102.930931      1
6.836136        1
28.921456       1
2.288317        1
16.662394       1
14.337661       1
12.263920       1
0.837989        1
25.782228       1
92.610373       1
5.881762        1
51.313578       1
4.334149        1
29.833380       1
10.564571       1
4.342073        1
3.638975        1
2.909745        1
6.414404        1
11.008145       1
8.063189        1
37.885523       1
24.384703       1
26.130128       1
44.144449       1
34.106292       1
32.923617       1
28.291940       1
67.867580       1
1.577003        1
2.826356        1
6.049085        1
2.790754        1
25.024993       1
6.510841        1
30.492411       1
10.607530       1
69.062275       1
4.264028        1
18.747566       1
7.137122        1
27.863152       1
12.147716       1
33.875348       1
42.904377       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_sum@['SK_ID_CURR'], Length: 286283, dtype: int64

2018-07-06 20:43:12,464 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:12,464 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:12,564 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,564 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,640 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,640 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,685 logger 29 [INFO]    [make_npy] 2.000000     192
5.000000     175
1.000000     161
0.988785     126
10.000000    116
3.333333     113
2.500000     108
3.000000     104
0.741588      95
1.876173      88
6.666667      86
3.750000      81
4.000000      81
0.494392      79
7.500000      77
4.690432      73
1.235981      72
1.666667      69
2.345216      68
1.977569      64
0.938086      59
1.500000      58
3.126954      57
1.333333      57
6.000000      57
4.840271      55
3.752345      52
1.250000      45
0.500000      44
2.666667      42
1.936108      40
1.766784      40
1.483177      39
8.333333      38
2.814259      35
0.883392      34
1.730373      34
0.247196      34
9.380863      33
8.000000      32
3.226847      32
0.750000      32
1.819836      31
1.563477      31
3.500000      31
0.666667      31
5.555556      28
1.600000      27
16.666667     26
2.729754      26
            ...
1.522399       1
11.124708      1
4.035874       1
12.128628      1
17.238437      1
3.579541       1
14.157287      1
2.728927       1
29.609159      1
1.623917       1
11.979464      1
7.355022       1
15.476622      1
5.418399       1
1.066634       1
22.851010      1
14.793345      1
9.292147       1
3.987389       1
3.526811       1
3.380376       1
16.279300      1
1.318490       1
5.499087       1
17.127622      1
4.420889       1
1.299680       1
19.390327      1
19.374069      1
1.770476       1
3.873417       1
9.186673       1
4.383768       1
2.584493       1
2.759515       1
4.193548       1
15.853077      1
4.511298       1
3.991788       1
5.724903       1
9.690448       1
9.863058       1
6.621648       1
6.116956       1
14.899957      1
10.850190      1
2.246660       1
32.351629      1
0.840336       1
4.380508       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_mean@['SK_ID_CURR'], Length: 286243, dtype: int64
2018-07-06 20:43:12,685 logger 29 [INFO]    [make_npy] 2.000000     192
5.000000     175
1.000000     161
0.988785     126
10.000000    116
3.333333     113
2.500000     108
3.000000     104
0.741588      95
1.876173      88
6.666667      86
3.750000      81
4.000000      81
0.494392      79
7.500000      77
4.690432      73
1.235981      72
1.666667      69
2.345216      68
1.977569      64
0.938086      59
1.500000      58
3.126954      57
1.333333      57
6.000000      57
4.840271      55
3.752345      52
1.250000      45
0.500000      44
2.666667      42
1.936108      40
1.766784      40
1.483177      39
8.333333      38
2.814259      35
0.883392      34
1.730373      34
0.247196      34
9.380863      33
8.000000      32
3.226847      32
0.750000      32
1.819836      31
1.563477      31
3.500000      31
0.666667      31
5.555556      28
1.600000      27
16.666667     26
2.729754      26
            ...
1.522399       1
11.124708      1
4.035874       1
12.128628      1
17.238437      1
3.579541       1
14.157287      1
2.728927       1
29.609159      1
1.623917       1
11.979464      1
7.355022       1
15.476622      1
5.418399       1
1.066634       1
22.851010      1
14.793345      1
9.292147       1
3.987389       1
3.526811       1
3.380376       1
16.279300      1
1.318490       1
5.499087       1
17.127622      1
4.420889       1
1.299680       1
19.390327      1
19.374069      1
1.770476       1
3.873417       1
9.186673       1
4.383768       1
2.584493       1
2.759515       1
4.193548       1
15.853077      1
4.511298       1
3.991788       1
5.724903       1
9.690448       1
9.863058       1
6.621648       1
6.116956       1
14.899957      1
10.850190      1
2.246660       1
32.351629      1
0.840336       1
4.380508       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_mean@['SK_ID_CURR'], Length: 286243, dtype: int64
2018-07-06 20:43:12,735 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:12,735 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:12,851 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,851 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:12,924 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,924 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:12,958 logger 29 [INFO]    [make_npy] 5.000000     525
10.000000    414
2.000000     356
4.690432     291
3.333333     259
1.000000     245
2.500000     241
1.876173     230
4.840271     223
3.000000     218
4.000000     212
6.666667     208
2.345216     186
7.500000     182
3.126954     169
3.752345     158
9.680542     154
6.000000     153
9.380863     153
15.000000    151
1.666667     150
3.750000     134
20.000000    129
0.938086     128
0.988785     126
16.666667    121
2.814259     113
8.000000     112
1.500000     111
3.226847     101
1.936108      97
0.741588      95
8.333333      93
25.000000     88
1.563477      87
1.333333      87
13.333333     86
1.407129      85
3.872217      84
5.628518      83
1.250000      82
0.494392      79
4.549591      77
2.666667      77
12.500000     76
7.035647      75
2.904163      74
2.420136      74
14.071295     73
1.235981      72
            ...
3.696402       1
4.232625       1
2.252557       1
5.093465       1
18.297146      1
5.264451       1
5.962792       1
6.748397       1
12.654707      1
11.070425      1
2.758886       1
10.497276      1
14.837360      1
5.927917       1
1.343785       1
3.499382       1
21.020586      1
6.063705       1
13.615366      1
1.677477       1
54.405520      1
17.227518      1
30.877526      1
3.460527       1
1.198404       1
14.202994      1
3.353026       1
2.658610       1
37.577033      1
0.436779       1
1.634154       1
38.946876      1
7.796995       1
4.678744       1
3.947289       1
2.394292       1
2.945768       1
22.254014      1
27.269027      1
19.289534      1
10.134513      1
5.865791       1
2.402609       1
8.882185       1
7.232147       1
4.355377       1
1.654123       1
3.226223       1
16.573679      1
0.559322       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_max@['SK_ID_CURR'], Length: 196316, dtype: int64
2018-07-06 20:43:12,958 logger 29 [INFO]    [make_npy] 5.000000     525
10.000000    414
2.000000     356
4.690432     291
3.333333     259
1.000000     245
2.500000     241
1.876173     230
4.840271     223
3.000000     218
4.000000     212
6.666667     208
2.345216     186
7.500000     182
3.126954     169
3.752345     158
9.680542     154
6.000000     153
9.380863     153
15.000000    151
1.666667     150
3.750000     134
20.000000    129
0.938086     128
0.988785     126
16.666667    121
2.814259     113
8.000000     112
1.500000     111
3.226847     101
1.936108      97
0.741588      95
8.333333      93
25.000000     88
1.563477      87
1.333333      87
13.333333     86
1.407129      85
3.872217      84
5.628518      83
1.250000      82
0.494392      79
4.549591      77
2.666667      77
12.500000     76
7.035647      75
2.904163      74
2.420136      74
14.071295     73
1.235981      72
            ...
3.696402       1
4.232625       1
2.252557       1
5.093465       1
18.297146      1
5.264451       1
5.962792       1
6.748397       1
12.654707      1
11.070425      1
2.758886       1
10.497276      1
14.837360      1
5.927917       1
1.343785       1
3.499382       1
21.020586      1
6.063705       1
13.615366      1
1.677477       1
54.405520      1
17.227518      1
30.877526      1
3.460527       1
1.198404       1
14.202994      1
3.353026       1
2.658610       1
37.577033      1
0.436779       1
1.634154       1
38.946876      1
7.796995       1
4.678744       1
3.947289       1
2.394292       1
2.945768       1
22.254014      1
27.269027      1
19.289534      1
10.134513      1
5.865791       1
2.402609       1
8.882185       1
7.232147       1
4.355377       1
1.654123       1
3.226223       1
16.573679      1
0.559322       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_max@['SK_ID_CURR'], Length: 196316, dtype: int64

2018-07-06 20:43:13,003 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:13,003 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:13,145 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:13,145 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:13,222 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:13,222 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:13,298 logger 29 [INFO]    [make_npy] 0.988785     1467
0.741588     1345
0.494392     1104
1.000000     1070
1.235981      908
2.000000      812
5.000000      634
0.247196      602
1.483177      601
2.500000      556
1.977569      533
1.500000      493
0.500000      458
3.333333      422
1.666667      420
0.938086      413
3.000000      394
1.876173      363
1.250000      358
4.000000      344
0.499336      329
3.750000      317
10.000000     309
4.690432      274
2.345216      272
1.730373      259
1.333333      256
0.746532      250
0.750000      249
6.000000      225
0.883392      217
0.666667      216
7.500000      216
0.296635      210
1.563477      210
0.543831      207
0.600000      199
6.666667      198
1.766784      196
0.509224      194
1.200000      193
3.126954      191
0.800000      186
0.593271      185
0.395514      185
2.814259      182
3.752345      175
0.833333      165
0.262028      163
1.172608      163
             ...
3.906725        1
2.198156        1
1.873810        1
3.350645        1
12.348099       1
11.934314       1
2.485314        1
1.582313        1
1.599488        1
2.497074        1
13.028515       1
6.386240        1
23.933856       1
1.468458        1
1.026984        1
10.323678       1
0.644017        1
1.899268        1
3.054317        1
2.090083        1
32.462263       1
5.625088        1
6.537609        1
3.061508        1
6.821670        1
0.618795        1
0.440717        1
6.800122        1
1.032391        1
3.060678        1
4.548625        1
0.569006        1
9.264225        1
0.257426        1
3.174683        1
3.397578        1
2.271308        1
6.031443        1
18.237082       1
10.538296       1
1.916923        1
7.129616        1
1.981964        1
4.780876        1
2.611239        1
16.254289       1
4.923441        1
0.570916        1
0.868123        1
1.820068        1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_min@['SK_ID_CURR'], Length: 187151, dtype: int64
2018-07-06 20:43:13,298 logger 29 [INFO]    [make_npy] 0.988785     1467
0.741588     1345
0.494392     1104
1.000000     1070
1.235981      908
2.000000      812
5.000000      634
0.247196      602
1.483177      601
2.500000      556
1.977569      533
1.500000      493
0.500000      458
3.333333      422
1.666667      420
0.938086      413
3.000000      394
1.876173      363
1.250000      358
4.000000      344
0.499336      329
3.750000      317
10.000000     309
4.690432      274
2.345216      272
1.730373      259
1.333333      256
0.746532      250
0.750000      249
6.000000      225
0.883392      217
0.666667      216
7.500000      216
0.296635      210
1.563477      210
0.543831      207
0.600000      199
6.666667      198
1.766784      196
0.509224      194
1.200000      193
3.126954      191
0.800000      186
0.593271      185
0.395514      185
2.814259      182
3.752345      175
0.833333      165
0.262028      163
1.172608      163
             ...
3.906725        1
2.198156        1
1.873810        1
3.350645        1
12.348099       1
11.934314       1
2.485314        1
1.582313        1
1.599488        1
2.497074        1
13.028515       1
6.386240        1
23.933856       1
1.468458        1
1.026984        1
10.323678       1
0.644017        1
1.899268        1
3.054317        1
2.090083        1
32.462263       1
5.625088        1
6.537609        1
3.061508        1
6.821670        1
0.618795        1
0.440717        1
6.800122        1
1.032391        1
3.060678        1
4.548625        1
0.569006        1
9.264225        1
0.257426        1
3.174683        1
3.397578        1
2.271308        1
6.031443        1
18.237082       1
10.538296       1
1.916923        1
7.129616        1
1.981964        1
4.780876        1
2.611239        1
16.254289       1
4.923441        1
0.570916        1
0.868123        1
1.820068        1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_min@['SK_ID_CURR'], Length: 187151, dtype: int64
2018-07-06 20:43:13,350 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:13,350 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_CREDIT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:13,466 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:13,466 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_CREDIT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:13,546 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:13,546 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:13,575 logger 29 [INFO]    [make_npy] 0.000000     259
0.883883       8
1.767767       5
0.218898       5
0.353553       5
0.707107       5
1.596938       5
1.060660       5
2.651650       4
0.235702       4
0.471405       3
5.672715       3
2.202910       3
0.589256       3
0.589256       3
0.178729       3
0.851700       3
1.764271       3
1.779663       3
0.520860       3
2.592725       3
3.535534       3
2.121320       3
1.590990       3
0.705708       3
1.324443       3
4.607441       3
4.014869       3
0.384900       2
0.383845       2
19.339110      2
3.545447       2
4.242641       2
1.472731       2
0.530330       2
4.340991       2
0.247487       2
3.463422       2
3.076136       2
1.632632       2
5.951482       2
0.127907       2
0.175118       2
0.385402       2
1.774992       2
2.432194       2
2.248776       2
0.176777       2
2.273443       2
12.617321      2
            ...
11.502849      1
15.424644      1
5.465028       1
1.929488       1
7.143755       1
12.263254      1
5.744656       1
1.477101       1
9.071517       1
7.843612       1
6.779852       1
30.863097      1
7.709777       1
1.314707       1
17.323562      1
7.281000       1
5.804278       1
4.307654       1
1.889525       1
0.395700       1
8.410347       1
7.864873       1
2.575803       1
2.906154       1
3.534692       1
8.429737       1
0.320322       1
1.315836       1
4.553426       1
11.222492      1
6.834413       1
8.870252       1
1.421793       1
4.628476       1
9.111442       1
4.673295       1
4.128029       1
8.052739       1
2.580533       1
1.484404       1
26.462759      1
8.401717       1
5.691439       1
6.006536       1
15.024643      1
0.344955       1
4.412760       1
1.735092       1
2.983419       1
1.691995       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_std@['SK_ID_CURR'], Length: 197062, dtype: int64
2018-07-06 20:43:13,575 logger 29 [INFO]    [make_npy] 0.000000     259
0.883883       8
1.767767       5
0.218898       5
0.353553       5
0.707107       5
1.596938       5
1.060660       5
2.651650       4
0.235702       4
0.471405       3
5.672715       3
2.202910       3
0.589256       3
0.589256       3
0.178729       3
0.851700       3
1.764271       3
1.779663       3
0.520860       3
2.592725       3
3.535534       3
2.121320       3
1.590990       3
0.705708       3
1.324443       3
4.607441       3
4.014869       3
0.384900       2
0.383845       2
19.339110      2
3.545447       2
4.242641       2
1.472731       2
0.530330       2
4.340991       2
0.247487       2
3.463422       2
3.076136       2
1.632632       2
5.951482       2
0.127907       2
0.175118       2
0.385402       2
1.774992       2
2.432194       2
2.248776       2
0.176777       2
2.273443       2
12.617321      2
            ...
11.502849      1
15.424644      1
5.465028       1
1.929488       1
7.143755       1
12.263254      1
5.744656       1
1.477101       1
9.071517       1
7.843612       1
6.779852       1
30.863097      1
7.709777       1
1.314707       1
17.323562      1
7.281000       1
5.804278       1
4.307654       1
1.889525       1
0.395700       1
8.410347       1
7.864873       1
2.575803       1
2.906154       1
3.534692       1
8.429737       1
0.320322       1
1.315836       1
4.553426       1
11.222492      1
6.834413       1
8.870252       1
1.421793       1
4.628476       1
9.111442       1
4.673295       1
4.128029       1
8.052739       1
2.580533       1
1.484404       1
26.462759      1
8.401717       1
5.691439       1
6.006536       1
15.024643      1
0.344955       1
4.412760       1
1.735092       1
2.983419       1
1.691995       1
Name: app_AMT_GOODS_PRICE_div_AMT_CREDIT@_std@['SK_ID_CURR'], Length: 197062, dtype: int64

2018-07-06 20:43:14,670 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:14,670 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:14,851 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:14,851 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:14,941 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:14,941 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:14,982 logger 29 [INFO]    [make_npy] 0.000000e+00    30
2.937795e+05     1
1.572434e+05     1
4.994727e+05     1
2.465177e+04     1
2.849222e+06     1
6.868585e+05     1
3.113481e+05     1
2.815941e+04     1
6.035805e+05     1
1.394968e+05     1
9.468667e+05     1
1.909657e+06     1
3.935170e+05     1
1.771792e+06     1
3.413499e+05     1
1.326972e+06     1
6.288184e+05     1
3.142487e+04     1
1.068345e+05     1
7.283772e+05     1
9.173153e+04     1
1.842947e+06     1
3.741130e+06     1
1.700668e+05     1
1.920413e+05     1
1.939530e+05     1
1.851041e+05     1
2.037414e+05     1
4.424052e+04     1
2.965629e+05     1
3.080158e+05     1
3.329814e+04     1
3.258452e+05     1
2.892204e+05     1
2.198429e+05     1
2.600917e+05     1
6.978781e+05     1
6.092234e+05     1
6.386469e+04     1
4.927197e+05     1
1.752009e+06     1
3.526683e+05     1
7.262401e+05     1
5.969478e+04     1
1.051024e+06     1
7.934989e+05     1
1.856000e+05     1
1.264949e+05     1
1.941279e+06     1
                ..
5.387786e+04     1
2.240316e+05     1
3.015050e+06     1
3.855133e+05     1
1.767926e+06     1
1.792339e+06     1
4.886245e+04     1
5.848192e+05     1
1.218481e+06     1
1.931702e+05     1
1.013674e+05     1
3.085079e+05     1
8.514057e+04     1
3.655020e+05     1
1.202446e+05     1
1.454496e+06     1
2.270834e+06     1
2.407849e+05     1
1.389534e+05     1
2.277978e+05     1
3.953510e+06     1
1.365145e+05     1
5.006874e+05     1
2.107352e+05     1
3.882335e+05     1
4.227045e+05     1
3.760875e+05     1
8.306444e+05     1
1.543361e+05     1
1.537665e+06     1
5.624223e+05     1
1.819288e+06     1
2.440000e+05     1
2.770695e+06     1
5.694223e+05     1
6.829085e+05     1
2.557164e+05     1
1.053433e+05     1
8.528529e+04     1
1.207307e+05     1
2.265984e+05     1
2.128127e+04     1
4.315785e+05     1
6.099324e+05     1
3.240318e+05     1
9.966262e+04     1
1.327693e+06     1
2.520913e+05     1
1.603820e+05     1
4.733772e+05     1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 313893, dtype: int64
2018-07-06 20:43:14,982 logger 29 [INFO]    [make_npy] 0.000000e+00    30
2.937795e+05     1
1.572434e+05     1
4.994727e+05     1
2.465177e+04     1
2.849222e+06     1
6.868585e+05     1
3.113481e+05     1
2.815941e+04     1
6.035805e+05     1
1.394968e+05     1
9.468667e+05     1
1.909657e+06     1
3.935170e+05     1
1.771792e+06     1
3.413499e+05     1
1.326972e+06     1
6.288184e+05     1
3.142487e+04     1
1.068345e+05     1
7.283772e+05     1
9.173153e+04     1
1.842947e+06     1
3.741130e+06     1
1.700668e+05     1
1.920413e+05     1
1.939530e+05     1
1.851041e+05     1
2.037414e+05     1
4.424052e+04     1
2.965629e+05     1
3.080158e+05     1
3.329814e+04     1
3.258452e+05     1
2.892204e+05     1
2.198429e+05     1
2.600917e+05     1
6.978781e+05     1
6.092234e+05     1
6.386469e+04     1
4.927197e+05     1
1.752009e+06     1
3.526683e+05     1
7.262401e+05     1
5.969478e+04     1
1.051024e+06     1
7.934989e+05     1
1.856000e+05     1
1.264949e+05     1
1.941279e+06     1
                ..
5.387786e+04     1
2.240316e+05     1
3.015050e+06     1
3.855133e+05     1
1.767926e+06     1
1.792339e+06     1
4.886245e+04     1
5.848192e+05     1
1.218481e+06     1
1.931702e+05     1
1.013674e+05     1
3.085079e+05     1
8.514057e+04     1
3.655020e+05     1
1.202446e+05     1
1.454496e+06     1
2.270834e+06     1
2.407849e+05     1
1.389534e+05     1
2.277978e+05     1
3.953510e+06     1
1.365145e+05     1
5.006874e+05     1
2.107352e+05     1
3.882335e+05     1
4.227045e+05     1
3.760875e+05     1
8.306444e+05     1
1.543361e+05     1
1.537665e+06     1
5.624223e+05     1
1.819288e+06     1
2.440000e+05     1
2.770695e+06     1
5.694223e+05     1
6.829085e+05     1
2.557164e+05     1
1.053433e+05     1
8.528529e+04     1
1.207307e+05     1
2.265984e+05     1
2.128127e+04     1
4.315785e+05     1
6.099324e+05     1
3.240318e+05     1
9.966262e+04     1
1.327693e+06     1
2.520913e+05     1
1.603820e+05     1
4.733772e+05     1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 313893, dtype: int64
2018-07-06 20:43:15,027 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:15,027 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:15,123 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,123 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,192 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:15,192 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:15,227 logger 29 [INFO]    [make_npy] 1.165604e+05    1
3.329814e+04    1
3.868266e+05    1
1.939530e+05    1
1.851041e+05    1
2.037414e+05    1
4.424052e+04    1
1.435969e+05    1
1.540079e+05    1
9.247847e+04    1
1.010552e+06    1
4.354085e+05    1
3.258452e+05    1
1.446102e+05    1
2.198429e+05    1
2.600917e+05    1
4.586576e+04    1
7.283772e+05    1
1.920413e+05    1
2.161606e+05    1
2.406361e+05    1
1.065192e+06    1
2.622207e+05    1
2.832519e+05    1
7.381034e+04    1
1.024348e+05    1
5.488924e+04    1
1.950993e+05    1
2.618985e+04    1
1.076394e+05    1
2.532173e+05    1
2.733049e+05    1
1.769178e+05    1
1.394968e+05    1
1.538273e+05    1
1.752621e+05    1
4.676412e+05    1
3.953772e+05    1
1.068345e+05    1
3.142487e+04    1
8.460311e+04    1
3.560786e+05    1
6.854320e+04    1
1.842303e+05    1
9.760712e+05    1
9.324990e+04    1
8.622790e+04    1
3.315239e+05    1
2.664372e+05    1
3.592680e+05    1
               ..
5.012132e+04    1
5.753971e+05    1
1.620159e+05    1
5.503106e+05    1
6.735885e+04    1
2.520913e+05    1
3.361700e+05    1
4.738391e+05    1
6.883184e+05    1
9.096439e+05    1
2.732046e+05    1
8.743056e+04    1
4.059487e+05    1
1.512742e+05    1
8.533605e+04    1
9.744728e+04    1
3.193955e+05    1
1.242595e+05    1
2.206432e+05    1
3.787408e+05    1
3.459800e+05    1
2.447628e+05    1
2.676251e+05    1
1.976704e+05    1
4.767881e+05    1
3.686882e+04    1
1.592065e+05    1
2.715342e+05    1
1.505600e+05    1
3.271228e+05    1
5.781596e+04    1
7.289258e+04    1
1.989586e+05    1
1.237107e+05    1
2.561910e+05    1
1.557632e+05    1
2.715427e+05    1
7.788231e+04    1
2.549803e+05    1
1.021250e+05    1
3.082398e+05    1
7.380079e+05    1
9.604340e+04    1
1.249960e+05    1
1.876043e+05    1
1.236196e+05    1
1.233181e+05    1
2.787104e+05    1
4.140509e+05    1
3.663753e+05    1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 313892, dtype: int64
2018-07-06 20:43:15,227 logger 29 [INFO]    [make_npy] 1.165604e+05    1
3.329814e+04    1
3.868266e+05    1
1.939530e+05    1
1.851041e+05    1
2.037414e+05    1
4.424052e+04    1
1.435969e+05    1
1.540079e+05    1
9.247847e+04    1
1.010552e+06    1
4.354085e+05    1
3.258452e+05    1
1.446102e+05    1
2.198429e+05    1
2.600917e+05    1
4.586576e+04    1
7.283772e+05    1
1.920413e+05    1
2.161606e+05    1
2.406361e+05    1
1.065192e+06    1
2.622207e+05    1
2.832519e+05    1
7.381034e+04    1
1.024348e+05    1
5.488924e+04    1
1.950993e+05    1
2.618985e+04    1
1.076394e+05    1
2.532173e+05    1
2.733049e+05    1
1.769178e+05    1
1.394968e+05    1
1.538273e+05    1
1.752621e+05    1
4.676412e+05    1
3.953772e+05    1
1.068345e+05    1
3.142487e+04    1
8.460311e+04    1
3.560786e+05    1
6.854320e+04    1
1.842303e+05    1
9.760712e+05    1
9.324990e+04    1
8.622790e+04    1
3.315239e+05    1
2.664372e+05    1
3.592680e+05    1
               ..
5.012132e+04    1
5.753971e+05    1
1.620159e+05    1
5.503106e+05    1
6.735885e+04    1
2.520913e+05    1
3.361700e+05    1
4.738391e+05    1
6.883184e+05    1
9.096439e+05    1
2.732046e+05    1
8.743056e+04    1
4.059487e+05    1
1.512742e+05    1
8.533605e+04    1
9.744728e+04    1
3.193955e+05    1
1.242595e+05    1
2.206432e+05    1
3.787408e+05    1
3.459800e+05    1
2.447628e+05    1
2.676251e+05    1
1.976704e+05    1
4.767881e+05    1
3.686882e+04    1
1.592065e+05    1
2.715342e+05    1
1.505600e+05    1
3.271228e+05    1
5.781596e+04    1
7.289258e+04    1
1.989586e+05    1
1.237107e+05    1
2.561910e+05    1
1.557632e+05    1
2.715427e+05    1
7.788231e+04    1
2.549803e+05    1
1.021250e+05    1
3.082398e+05    1
7.380079e+05    1
9.604340e+04    1
1.249960e+05    1
1.876043e+05    1
1.236196e+05    1
1.233181e+05    1
2.787104e+05    1
4.140509e+05    1
3.663753e+05    1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 313892, dtype: int64

2018-07-06 20:43:15,275 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:15,275 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:15,367 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,367 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,434 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:15,434 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:15,472 logger 29 [INFO]    [make_npy] 3.103173e+05    1
1.367353e+05    1
1.811825e+05    1
4.177746e+05    1
2.138115e+06    1
9.472070e+04    1
2.669744e+05    1
1.544064e+05    1
4.272147e+05    1
1.580503e+05    1
1.825460e+06    1
1.516805e+06    1
1.739525e+06    1
1.503444e+06    1
2.467811e+05    1
7.237362e+05    1
1.021789e+05    1
1.639283e+06    1
2.254424e+05    1
3.246960e+05    1
8.911177e+05    1
1.398245e+06    1
3.340688e+05    1
2.952075e+05    1
4.224868e+05    1
1.730329e+06    1
1.075910e+05    1
4.662353e+05    1
1.209927e+05    1
7.004514e+04    1
4.240190e+05    1
2.189465e+05    1
2.055081e+05    1
1.891481e+05    1
8.164643e+04    1
1.317911e+05    1
8.557356e+04    1
2.286542e+05    1
1.700966e+06    1
1.824188e+05    1
1.079068e+05    1
1.426966e+05    1
1.730905e+06    1
6.147120e+05    1
2.308658e+05    1
1.411650e+06    1
1.269262e+05    1
1.003443e+05    1
4.888199e+05    1
2.393115e+05    1
               ..
2.825523e+05    1
4.690953e+05    1
8.646033e+04    1
1.517009e+05    1
8.377324e+05    1
7.960045e+05    1
4.914716e+05    1
1.021499e+05    1
1.398719e+05    1
2.396539e+05    1
1.279783e+05    1
2.215651e+05    1
3.600137e+05    1
3.338695e+05    1
3.018060e+05    1
1.486002e+06    1
5.420485e+05    1
4.623072e+05    1
4.784140e+05    1
2.822983e+05    1
3.460128e+04    1
1.111695e+05    1
1.621601e+05    1
6.530100e+04    1
2.920776e+05    1
5.239360e+04    1
1.132905e+05    1
2.812600e+05    1
1.315483e+05    1
2.972361e+05    1
2.342922e+05    1
3.411452e+05    1
2.069913e+05    1
1.041635e+05    1
6.110021e+05    1
1.404236e+06    1
1.909891e+06    1
1.088547e+05    1
9.374979e+05    1
7.567737e+05    1
2.548002e+05    1
2.594839e+05    1
1.252441e+05    1
3.780640e+05    1
3.441440e+05    1
1.840720e+05    1
1.193675e+05    1
1.636857e+05    1
9.953326e+05    1
1.538799e+06    1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 313892, dtype: int64
2018-07-06 20:43:15,472 logger 29 [INFO]    [make_npy] 3.103173e+05    1
1.367353e+05    1
1.811825e+05    1
4.177746e+05    1
2.138115e+06    1
9.472070e+04    1
2.669744e+05    1
1.544064e+05    1
4.272147e+05    1
1.580503e+05    1
1.825460e+06    1
1.516805e+06    1
1.739525e+06    1
1.503444e+06    1
2.467811e+05    1
7.237362e+05    1
1.021789e+05    1
1.639283e+06    1
2.254424e+05    1
3.246960e+05    1
8.911177e+05    1
1.398245e+06    1
3.340688e+05    1
2.952075e+05    1
4.224868e+05    1
1.730329e+06    1
1.075910e+05    1
4.662353e+05    1
1.209927e+05    1
7.004514e+04    1
4.240190e+05    1
2.189465e+05    1
2.055081e+05    1
1.891481e+05    1
8.164643e+04    1
1.317911e+05    1
8.557356e+04    1
2.286542e+05    1
1.700966e+06    1
1.824188e+05    1
1.079068e+05    1
1.426966e+05    1
1.730905e+06    1
6.147120e+05    1
2.308658e+05    1
1.411650e+06    1
1.269262e+05    1
1.003443e+05    1
4.888199e+05    1
2.393115e+05    1
               ..
2.825523e+05    1
4.690953e+05    1
8.646033e+04    1
1.517009e+05    1
8.377324e+05    1
7.960045e+05    1
4.914716e+05    1
1.021499e+05    1
1.398719e+05    1
2.396539e+05    1
1.279783e+05    1
2.215651e+05    1
3.600137e+05    1
3.338695e+05    1
3.018060e+05    1
1.486002e+06    1
5.420485e+05    1
4.623072e+05    1
4.784140e+05    1
2.822983e+05    1
3.460128e+04    1
1.111695e+05    1
1.621601e+05    1
6.530100e+04    1
2.920776e+05    1
5.239360e+04    1
1.132905e+05    1
2.812600e+05    1
1.315483e+05    1
2.972361e+05    1
2.342922e+05    1
3.411452e+05    1
2.069913e+05    1
1.041635e+05    1
6.110021e+05    1
1.404236e+06    1
1.909891e+06    1
1.088547e+05    1
9.374979e+05    1
7.567737e+05    1
2.548002e+05    1
2.594839e+05    1
1.252441e+05    1
3.780640e+05    1
3.441440e+05    1
1.840720e+05    1
1.193675e+05    1
1.636857e+05    1
9.953326e+05    1
1.538799e+06    1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 313892, dtype: int64
2018-07-06 20:43:15,517 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:15,517 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:15,625 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,625 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,702 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:15,702 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:15,747 logger 29 [INFO]    [make_npy] 2.924653e+04    1
1.073208e+05    1
6.633160e+04    1
9.798633e+04    1
3.377001e+04    1
1.965896e+05    1
4.853433e+04    1
1.981020e+05    1
1.715575e+05    1
4.539847e+04    1
2.808344e+05    1
9.994526e+04    1
3.258987e+05    1
2.572742e+05    1
2.208081e+05    1
2.615846e+05    1
2.295673e+04    1
3.474239e+05    1
5.221730e+04    1
6.814119e+04    1
1.012910e+05    1
6.868014e+04    1
2.796211e+05    1
1.187632e+05    1
1.652754e+05    1
9.479728e+04    1
1.866612e+05    1
1.285000e+05    1
3.385613e+05    1
1.225778e+05    1
2.330428e+05    1
1.723463e+05    1
1.141640e+05    1
1.121198e+05    1
1.633274e+05    1
5.519888e+04    1
1.708653e+05    1
5.176373e+05    1
4.132138e+04    1
1.821162e+05    1
3.329604e+05    1
8.765057e+04    1
2.920061e+05    1
1.634868e+05    1
2.687736e+05    1
2.390761e+05    1
8.984964e+05    1
4.389976e+04    1
6.944872e+04    1
3.631203e+05    1
               ..
3.479481e+04    1
5.871923e+05    1
5.188864e+04    1
4.773780e+05    1
8.104538e+04    1
1.187535e+05    1
6.253265e+04    1
2.349808e+05    1
4.492142e+04    1
1.519889e+05    1
4.289056e+05    1
9.859553e+04    1
5.794977e+04    1
4.673844e+04    1
9.823055e+04    1
1.291436e+05    1
1.381748e+05    1
2.297264e+05    1
5.280209e+04    1
1.634625e+05    1
3.524425e+05    1
4.959701e+05    1
1.237431e+05    1
2.428549e+04    1
8.670892e+04    1
1.013380e+05    1
7.655695e+04    1
3.790484e+04    1
1.990638e+05    1
6.282470e+04    1
3.007234e+04    1
8.622830e+04    1
3.976586e+04    1
8.216281e+04    1
1.806516e+05    1
7.393519e+04    1
1.032510e+05    1
5.358127e+04    1
2.252404e+05    1
5.071007e+05    1
6.518905e+04    1
2.001913e+05    1
7.269146e+04    1
8.034200e+04    1
4.923270e+05    1
4.055699e+04    1
1.107106e+06    1
1.071125e+05    1
5.652952e+04    1
1.201417e+05    1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 313892, dtype: int64
2018-07-06 20:43:15,747 logger 29 [INFO]    [make_npy] 2.924653e+04    1
1.073208e+05    1
6.633160e+04    1
9.798633e+04    1
3.377001e+04    1
1.965896e+05    1
4.853433e+04    1
1.981020e+05    1
1.715575e+05    1
4.539847e+04    1
2.808344e+05    1
9.994526e+04    1
3.258987e+05    1
2.572742e+05    1
2.208081e+05    1
2.615846e+05    1
2.295673e+04    1
3.474239e+05    1
5.221730e+04    1
6.814119e+04    1
1.012910e+05    1
6.868014e+04    1
2.796211e+05    1
1.187632e+05    1
1.652754e+05    1
9.479728e+04    1
1.866612e+05    1
1.285000e+05    1
3.385613e+05    1
1.225778e+05    1
2.330428e+05    1
1.723463e+05    1
1.141640e+05    1
1.121198e+05    1
1.633274e+05    1
5.519888e+04    1
1.708653e+05    1
5.176373e+05    1
4.132138e+04    1
1.821162e+05    1
3.329604e+05    1
8.765057e+04    1
2.920061e+05    1
1.634868e+05    1
2.687736e+05    1
2.390761e+05    1
8.984964e+05    1
4.389976e+04    1
6.944872e+04    1
3.631203e+05    1
               ..
3.479481e+04    1
5.871923e+05    1
5.188864e+04    1
4.773780e+05    1
8.104538e+04    1
1.187535e+05    1
6.253265e+04    1
2.349808e+05    1
4.492142e+04    1
1.519889e+05    1
4.289056e+05    1
9.859553e+04    1
5.794977e+04    1
4.673844e+04    1
9.823055e+04    1
1.291436e+05    1
1.381748e+05    1
2.297264e+05    1
5.280209e+04    1
1.634625e+05    1
3.524425e+05    1
4.959701e+05    1
1.237431e+05    1
2.428549e+04    1
8.670892e+04    1
1.013380e+05    1
7.655695e+04    1
3.790484e+04    1
1.990638e+05    1
6.282470e+04    1
3.007234e+04    1
8.622830e+04    1
3.976586e+04    1
8.216281e+04    1
1.806516e+05    1
7.393519e+04    1
1.032510e+05    1
5.358127e+04    1
2.252404e+05    1
5.071007e+05    1
6.518905e+04    1
2.001913e+05    1
7.269146e+04    1
8.034200e+04    1
4.923270e+05    1
4.055699e+04    1
1.107106e+06    1
1.071125e+05    1
5.652952e+04    1
1.201417e+05    1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 313892, dtype: int64

2018-07-06 20:43:15,796 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:15,796 logger 125 [INFO]    [select_level_agg]
num: AMT_CREDIT_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:15,927 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,927 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_CREDIT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:15,996 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:15,996 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:16,022 logger 29 [INFO]    [make_npy] 0.000000e+00    259
2.357554e+05      1
2.091668e+04      1
2.912361e+05      1
4.762980e+04      1
2.428954e+05      1
9.426400e+04      1
1.172833e+06      1
4.667264e+05      1
6.176900e+04      1
5.595343e+04      1
3.417321e+04      1
3.395401e+05      1
2.022567e+05      1
1.101930e+05      1
1.228051e+06      1
6.718824e+04      1
5.305269e+05      1
2.920444e+04      1
5.008540e+05      1
5.041186e+04      1
7.369267e+05      1
8.102995e+04      1
9.032918e+05      1
4.575202e+04      1
1.298515e+04      1
8.366297e+03      1
9.605779e+04      1
2.111893e+05      1
3.591938e+04      1
5.530298e+04      1
7.352926e+04      1
1.146620e+05      1
6.437663e+05      1
7.056591e+05      1
1.366795e+05      1
6.167969e+04      1
6.635475e+04      1
2.105354e+05      1
9.296307e+04      1
3.833874e+04      1
6.347621e+05      1
4.056341e+05      1
5.242246e+05      1
1.568096e+04      1
1.163175e+05      1
1.074347e+06      1
2.569148e+05      1
1.884595e+04      1
2.674849e+04      1
               ...
1.281339e+06      1
5.916897e+05      1
6.987814e+04      1
1.979539e+05      1
4.167407e+04      1
7.975486e+04      1
3.175870e+05      1
6.855906e+04      1
1.111980e+05      1
5.741445e+04      1
1.402575e+05      1
3.636679e+05      1
3.348594e+05      1
2.291477e+05      1
3.216038e+05      1
8.193316e+04      1
2.584370e+04      1
5.580917e+04      1
2.475504e+05      1
1.197754e+05      1
1.535249e+05      1
1.719556e+04      1
1.398000e+05      1
2.436575e+04      1
1.493861e+05      1
1.412847e+05      1
1.477528e+05      1
2.708732e+05      1
3.346046e+05      1
8.168976e+05      1
2.823193e+05      1
2.218549e+05      1
6.901759e+04      1
1.969513e+05      1
7.136336e+04      1
6.332205e+04      1
2.587865e+05      1
1.041416e+05      1
1.022957e+04      1
3.567246e+05      1
2.814293e+05      1
1.051862e+05      1
1.033952e+06      1
9.321079e+04      1
8.791600e+04      1
2.668036e+04      1
6.285886e+05      1
1.284586e+06      1
4.517325e+04      1
8.775618e+04      1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 197495, dtype: int64
2018-07-06 20:43:16,022 logger 29 [INFO]    [make_npy] 0.000000e+00    259
2.357554e+05      1
2.091668e+04      1
2.912361e+05      1
4.762980e+04      1
2.428954e+05      1
9.426400e+04      1
1.172833e+06      1
4.667264e+05      1
6.176900e+04      1
5.595343e+04      1
3.417321e+04      1
3.395401e+05      1
2.022567e+05      1
1.101930e+05      1
1.228051e+06      1
6.718824e+04      1
5.305269e+05      1
2.920444e+04      1
5.008540e+05      1
5.041186e+04      1
7.369267e+05      1
8.102995e+04      1
9.032918e+05      1
4.575202e+04      1
1.298515e+04      1
8.366297e+03      1
9.605779e+04      1
2.111893e+05      1
3.591938e+04      1
5.530298e+04      1
7.352926e+04      1
1.146620e+05      1
6.437663e+05      1
7.056591e+05      1
1.366795e+05      1
6.167969e+04      1
6.635475e+04      1
2.105354e+05      1
9.296307e+04      1
3.833874e+04      1
6.347621e+05      1
4.056341e+05      1
5.242246e+05      1
1.568096e+04      1
1.163175e+05      1
1.074347e+06      1
2.569148e+05      1
1.884595e+04      1
2.674849e+04      1
               ...
1.281339e+06      1
5.916897e+05      1
6.987814e+04      1
1.979539e+05      1
4.167407e+04      1
7.975486e+04      1
3.175870e+05      1
6.855906e+04      1
1.111980e+05      1
5.741445e+04      1
1.402575e+05      1
3.636679e+05      1
3.348594e+05      1
2.291477e+05      1
3.216038e+05      1
8.193316e+04      1
2.584370e+04      1
5.580917e+04      1
2.475504e+05      1
1.197754e+05      1
1.535249e+05      1
1.719556e+04      1
1.398000e+05      1
2.436575e+04      1
1.493861e+05      1
1.412847e+05      1
1.477528e+05      1
2.708732e+05      1
3.346046e+05      1
8.168976e+05      1
2.823193e+05      1
2.218549e+05      1
6.901759e+04      1
1.969513e+05      1
7.136336e+04      1
6.332205e+04      1
2.587865e+05      1
1.041416e+05      1
1.022957e+04      1
3.567246e+05      1
2.814293e+05      1
1.051862e+05      1
1.033952e+06      1
9.321079e+04      1
8.791600e+04      1
2.668036e+04      1
6.285886e+05      1
1.284586e+06      1
4.517325e+04      1
8.775618e+04      1
Name: AMT_CREDIT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 197495, dtype: int64
2018-07-06 20:43:16,073 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:16,073 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:16,165 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:16,165 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:16,247 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:16,247 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:16,274 logger 29 [INFO]    [make_npy] 0.000000         99176
50.000000          640
100.000000         618
20.000000          401
40.000000          393
25.000000          309
30.000000          304
60.000000          278
200.000000         275
150.000000         258
33.333333          245
75.000000          244
10.000000          235
66.666667          232
80.000000          203
250.000000         160
125.000000         156
15.000000          155
119.800000         147
120.000000         143
300.000000         141
56.600000          141
59.900000          133
16.666667          132
83.333333          123
70.000000          123
60.560000          119
179.700000         118
115.840000         118
133.333333         107
57.920000          101
166.666667          99
121.120000          99
62.500000           98
28.300000           95
90.000000           90
37.500000           90
26.666667           89
13.333333           88
13.464187           86
11.320000           85
63.200000           85
142.857143          85
22.640000           83
71.428571           83
55.000000           83
12.000000           82
12.500000           82
89.850000           81
131.680000          81
                 ...
89.855691            1
244.639835           1
129.969051           1
234.594798           1
453.523207           1
94.279412            1
264.161563           1
369.696970           1
606.860433           1
64.333333            1
110.489633           1
133.269803           1
55.881724            1
45.811619            1
262886.597938        1
356.440000           1
33.308619            1
178.727564           1
20.191000            1
114.846263           1
476.654676           1
763.919326           1
444.151050           1
247.145600           1
68.288076            1
252.628112           1
488.825620           1
17.876788            1
418.783022           1
73.667142            1
43.398900            1
206.869023           1
209.501603           1
74.586624            1
128.532146           1
58.145173            1
430.075718           1
373.399469           1
203006.060606        1
137.727746           1
51.529732            1
154.061334           1
113.979381           1
305.430886           1
63.503081            1
219.497977           1
17.903501            1
140.599516           1
191.274395           1
362993.684211        1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 166708, dtype: int64

2018-07-06 20:43:16,274 logger 29 [INFO]    [make_npy] 0.000000         99176
50.000000          640
100.000000         618
20.000000          401
40.000000          393
25.000000          309
30.000000          304
60.000000          278
200.000000         275
150.000000         258
33.333333          245
75.000000          244
10.000000          235
66.666667          232
80.000000          203
250.000000         160
125.000000         156
15.000000          155
119.800000         147
120.000000         143
300.000000         141
56.600000          141
59.900000          133
16.666667          132
83.333333          123
70.000000          123
60.560000          119
179.700000         118
115.840000         118
133.333333         107
57.920000          101
166.666667          99
121.120000          99
62.500000           98
28.300000           95
90.000000           90
37.500000           90
26.666667           89
13.333333           88
13.464187           86
11.320000           85
63.200000           85
142.857143          85
22.640000           83
71.428571           83
55.000000           83
12.000000           82
12.500000           82
89.850000           81
131.680000          81
                 ...
89.855691            1
244.639835           1
129.969051           1
234.594798           1
453.523207           1
94.279412            1
264.161563           1
369.696970           1
606.860433           1
64.333333            1
110.489633           1
133.269803           1
55.881724            1
45.811619            1
262886.597938        1
356.440000           1
33.308619            1
178.727564           1
20.191000            1
114.846263           1
476.654676           1
763.919326           1
444.151050           1
247.145600           1
68.288076            1
252.628112           1
488.825620           1
17.876788            1
418.783022           1
73.667142            1
43.398900            1
206.869023           1
209.501603           1
74.586624            1
128.532146           1
58.145173            1
430.075718           1
373.399469           1
203006.060606        1
137.727746           1
51.529732            1
154.061334           1
113.979381           1
305.430886           1
63.503081            1
219.497977           1
17.903501            1
140.599516           1
191.274395           1
362993.684211        1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 166708, dtype: int64
2018-07-06 20:43:16,318 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:16,318 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:16,464 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:16,464 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:16,581 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:16,581 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:16,619 logger 29 [INFO]    [make_npy] 50.000000        646
100.000000       621
20.000000        407
40.000000        397
25.000000        323
30.000000        310
60.000000        290
33.333333        264
150.000000       260
200.000000       259
75.000000        243
10.000000        237
66.666667        236
80.000000        198
125.000000       165
15.000000        164
119.800000       149
250.000000       148
56.600000        137
59.900000        135
16.666667        133
120.000000       127
83.333333        126
115.840000       124
300.000000       123
179.700000       121
60.560000        118
70.000000        111
37.500000        106
62.500000        104
57.920000        104
121.120000       102
166.666667       100
133.333333        99
26.666667         97
28.300000         96
11.320000         90
13.333333         88
63.200000         88
13.464187         87
45.000000         87
55.000000         85
35.000000         85
12.500000         84
142.857143        84
90.000000         83
71.428571         83
22.640000         82
89.850000         82
12.000000         82
                ...
51.278025          1
129.498969         1
184.393447         1
30.098824          1
39.617983          1
42.961920          1
78.051238          1
124.950000         1
37.226135          1
94.537815          1
8.506050           1
180.589089         1
90.715345          1
92.635326          1
17.646142          1
106.139886         1
367.494718         1
234.478665         1
77.036559          1
604990.000000      1
85.332258          1
97.833828          1
335.963290         1
42.933196          1
215.515152         1
142.522974         1
51.521400          1
59.019812          1
71.967101          1
91.136802          1
107.356364         1
141.737793         1
14.599206          1
24.105083          1
65.986341          1
41.458231          1
37.345898          1
250.778443         1
115.230531         1
62.912866          1
8.865684           1
8.398950           1
68.622503          1
105.597015         1
84.981796          1
266.666667         1
47.397918          1
9.350877           1
79.808460          1
20.781444          1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 166567, dtype: int64
2018-07-06 20:43:16,619 logger 29 [INFO]    [make_npy] 50.000000        646
100.000000       621
20.000000        407
40.000000        397
25.000000        323
30.000000        310
60.000000        290
33.333333        264
150.000000       260
200.000000       259
75.000000        243
10.000000        237
66.666667        236
80.000000        198
125.000000       165
15.000000        164
119.800000       149
250.000000       148
56.600000        137
59.900000        135
16.666667        133
120.000000       127
83.333333        126
115.840000       124
300.000000       123
179.700000       121
60.560000        118
70.000000        111
37.500000        106
62.500000        104
57.920000        104
121.120000       102
166.666667       100
133.333333        99
26.666667         97
28.300000         96
11.320000         90
13.333333         88
63.200000         88
13.464187         87
45.000000         87
55.000000         85
35.000000         85
12.500000         84
142.857143        84
90.000000         83
71.428571         83
22.640000         82
89.850000         82
12.000000         82
                ...
51.278025          1
129.498969         1
184.393447         1
30.098824          1
39.617983          1
42.961920          1
78.051238          1
124.950000         1
37.226135          1
94.537815          1
8.506050           1
180.589089         1
90.715345          1
92.635326          1
17.646142          1
106.139886         1
367.494718         1
234.478665         1
77.036559          1
604990.000000      1
85.332258          1
97.833828          1
335.963290         1
42.933196          1
215.515152         1
142.522974         1
51.521400          1
59.019812          1
71.967101          1
91.136802          1
107.356364         1
141.737793         1
14.599206          1
24.105083          1
65.986341          1
41.458231          1
37.345898          1
250.778443         1
115.230531         1
62.912866          1
8.865684           1
8.398950           1
68.622503          1
105.597015         1
84.981796          1
266.666667         1
47.397918          1
9.350877           1
79.808460          1
20.781444          1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 166567, dtype: int64
2018-07-06 20:43:16,638 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:16,638 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:16,762 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:43:16,762 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:16,872 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:16,872 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:16,909 logger 29 [INFO]    [make_npy] 100.000000      1041
50.000000        955
40.000000        569
200.000000       522
20.000000        521
60.000000        475
150.000000       453
30.000000        449
25.000000        412
75.000000        358
33.333333        350
66.666667        349
250.000000       330
80.000000        318
10.000000        280
125.000000       278
300.000000       247
119.800000       227
56.600000        217
120.000000       216
83.333333        211
166.666667       205
59.900000        203
15.000000        196
115.840000       193
179.700000       176
121.120000       170
70.000000        161
16.666667        156
60.560000        154
57.920000        153
142.857143       153
133.333333       149
62.500000        149
71.428571        140
239.600000       138
28.300000        137
90.000000        135
167.820000       133
500.000000       128
63.200000        127
101.000000       124
55.000000        124
131.680000       120
37.500000        120
113.200000       119
400.000000       118
26.666667        118
111.880000       117
22.640000        115
                ...
6.103019           1
33.917467          1
56451.612903       1
15.618899          1
183.208333         1
62.679818          1
46.250000          1
22.010917          1
81.240048          1
120.384545         1
34.795082          1
84.605970          1
32.999749          1
21.317200          1
92.114959          1
36.034000          1
144.864000         1
67.267380          1
43.427110          1
288.659155         1
282.314465         1
27.897692          1
212.468801         1
17.046159          1
191.881981         1
4.274476           1
14.788599          1
44.419446          1
68.547000          1
60.570547          1
153.341959         1
8.587102           1
103.290833         1
108.050072         1
98.231955          1
7000.000000        1
158.708621         1
32.400915          1
89.330025          1
196.987013         1
78.704857          1
192.953150         1
127.841699         1
107.516525         1
30.257426          1
33.256471          1
43.636970          1
165.662730         1
92.756996          1
39.044144          1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 130362, dtype: int64
2018-07-06 20:43:16,909 logger 29 [INFO]    [make_npy] 100.000000      1041
50.000000        955
40.000000        569
200.000000       522
20.000000        521
60.000000        475
150.000000       453
30.000000        449
25.000000        412
75.000000        358
33.333333        350
66.666667        349
250.000000       330
80.000000        318
10.000000        280
125.000000       278
300.000000       247
119.800000       227
56.600000        217
120.000000       216
83.333333        211
166.666667       205
59.900000        203
15.000000        196
115.840000       193
179.700000       176
121.120000       170
70.000000        161
16.666667        156
60.560000        154
57.920000        153
142.857143       153
133.333333       149
62.500000        149
71.428571        140
239.600000       138
28.300000        137
90.000000        135
167.820000       133
500.000000       128
63.200000        127
101.000000       124
55.000000        124
131.680000       120
37.500000        120
113.200000       119
400.000000       118
26.666667        118
111.880000       117
22.640000        115
                ...
6.103019           1
33.917467          1
56451.612903       1
15.618899          1
183.208333         1
62.679818          1
46.250000          1
22.010917          1
81.240048          1
120.384545         1
34.795082          1
84.605970          1
32.999749          1
21.317200          1
92.114959          1
36.034000          1
144.864000         1
67.267380          1
43.427110          1
288.659155         1
282.314465         1
27.897692          1
212.468801         1
17.046159          1
191.881981         1
4.274476           1
14.788599          1
44.419446          1
68.547000          1
60.570547          1
153.341959         1
8.587102           1
103.290833         1
108.050072         1
98.231955          1
7000.000000        1
158.708621         1
32.400915          1
89.330025          1
196.987013         1
78.704857          1
192.953150         1
127.841699         1
107.516525         1
30.257426          1
33.256471          1
43.636970          1
165.662730         1
92.756996          1
39.044144          1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 130362, dtype: int64
2018-07-06 20:43:16,956 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:16,956 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:17,061 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:17,061 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:17,191 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:17,191 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:17,302 logger 29 [INFO]    [make_npy] 50.000000        1022
100.000000        880
20.000000         733
40.000000         616
25.000000         607
30.000000         542
33.333333         443
10.000000         437
60.000000         398
75.000000         385
66.666667         353
150.000000        343
200.000000        337
15.000000         328
16.666667         281
80.000000         267
125.000000        227
119.800000        217
59.900000         214
250.000000        207
83.333333         202
12.500000         186
37.500000         185
56.600000         177
57.920000         175
11.320000         169
5.000000          167
12.000000         165
179.700000        165
60.560000         164
13.464187         159
115.840000        159
70.000000         158
62.500000         154
300.000000        153
10.098140         152
120.000000        150
28.300000         149
26.666667         147
6.732094          143
166.666667        141
13.333333         140
133.333333        135
6.000000          134
121.120000        132
89.850000         127
8.000000          126
35.000000         126
22.640000         125
63.200000         123
                 ...
92.801151           1
43.310876           1
168.347362          1
61.142739           1
15.800735           1
35.593220           1
209.843750          1
310191.489362       1
30.241135           1
23.611808           1
34.022856           1
84.353280           1
165459.459459       1
176.391875          1
169.063551          1
42.232278           1
47.506897           1
33.810398           1
20.346076           1
19.644436           1
39.094767           1
37.430862           1
14.457831           1
354.077236          1
25.327970           1
17.175573           1
30.874786           1
128.266436          1
41.422207           1
67.511409           1
6.780810            1
34.734426           1
58.674298           1
17.732067           1
28.069388           1
20.051636           1
96.878364           1
93.233491           1
245.772684          1
15.070468           1
13.032812           1
57.947897           1
81.496464           1
32.666667           1
73.004140           1
40.343925           1
26.585000           1
112.796800          1
25.537826           1
36.018235           1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 133304, dtype: int64
2018-07-06 20:43:17,302 logger 29 [INFO]    [make_npy] 50.000000        1022
100.000000        880
20.000000         733
40.000000         616
25.000000         607
30.000000         542
33.333333         443
10.000000         437
60.000000         398
75.000000         385
66.666667         353
150.000000        343
200.000000        337
15.000000         328
16.666667         281
80.000000         267
125.000000        227
119.800000        217
59.900000         214
250.000000        207
83.333333         202
12.500000         186
37.500000         185
56.600000         177
57.920000         175
11.320000         169
5.000000          167
12.000000         165
179.700000        165
60.560000         164
13.464187         159
115.840000        159
70.000000         158
62.500000         154
300.000000        153
10.098140         152
120.000000        150
28.300000         149
26.666667         147
6.732094          143
166.666667        141
13.333333         140
133.333333        135
6.000000          134
121.120000        132
89.850000         127
8.000000          126
35.000000         126
22.640000         125
63.200000         123
                 ...
92.801151           1
43.310876           1
168.347362          1
61.142739           1
15.800735           1
35.593220           1
209.843750          1
310191.489362       1
30.241135           1
23.611808           1
34.022856           1
84.353280           1
165459.459459       1
176.391875          1
169.063551          1
42.232278           1
47.506897           1
33.810398           1
20.346076           1
19.644436           1
39.094767           1
37.430862           1
14.457831           1
354.077236          1
25.327970           1
17.175573           1
30.874786           1
128.266436          1
41.422207           1
67.511409           1
6.780810            1
34.734426           1
58.674298           1
17.732067           1
28.069388           1
20.051636           1
96.878364           1
93.233491           1
245.772684          1
15.070468           1
13.032812           1
57.947897           1
81.496464           1
32.666667           1
73.004140           1
40.343925           1
26.585000           1
112.796800          1
25.537826           1
36.018235           1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 133304, dtype: int64

2018-07-06 20:43:17,426 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:17,426 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:17,587 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:17,587 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:17,650 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:17,650 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:17,668 logger 29 [INFO]    [make_npy] 0.000000e+00    765
1.767767e+01     30
1.414214e+01     28
3.535534e+01     28
2.121320e+01     27
7.071068e+00     24
2.357023e+01     22
1.060660e+01     21
4.242641e+01     20
5.303301e+01     19
2.828427e+01     18
7.071068e+01     17
8.485281e+01     16
3.535534e+00     14
2.651650e+01     13
8.838835e+00     13
5.656854e+01     12
3.181981e+01     11
4.714045e+01     11
1.178511e+01     10
7.954951e+01     10
1.060660e+02      9
6.363961e+01      9
1.649916e+01      8
1.590990e+02      8
9.428090e+00      8
2.357023e+01      8
1.178511e+01      8
4.772971e+01      7
1.178511e+01      7
4.596194e+01      6
1.256293e+01      6
1.131371e+02      6
2.668150e+01      6
4.949747e+01      6
2.854826e+01      6
2.474874e+01      6
2.001112e+01      6
5.336299e+00      6
1.237437e+01      5
9.428090e+01      5
4.235570e+01      5
3.299832e+01      5
8.485281e+00      5
4.419417e+01      5
8.004449e+00      5
5.773503e+01      5
4.095562e+00      5
5.303301e+00      5
2.969848e+01      5
               ...
5.329398e+01      1
1.677513e+01      1
1.104339e+02      1
2.307549e+01      1
7.721561e+01      1
5.481939e+00      1
1.306962e+01      1
1.248046e+01      1
3.976498e+01      1
9.705864e-01      1
4.394603e+01      1
3.843558e+01      1
8.529779e+01      1
6.975395e+01      1
1.370401e+01      1
4.049411e+01      1
1.208770e+02      1
6.854815e+01      1
1.212183e+06      1
2.492836e+01      1
1.435871e+01      1
2.916017e+00      1
1.429576e+02      1
5.948699e+01      1
9.524450e+00      1
3.532533e+01      1
5.534668e+01      1
6.843379e+01      1
5.319875e+01      1
1.121566e+01      1
5.209150e+01      1
3.487623e+01      1
1.201648e+01      1
1.409320e+01      1
5.404836e+01      1
1.896874e+00      1
4.184144e+00      1
5.634757e+01      1
3.513175e+01      1
8.733489e+01      1
1.874147e+00      1
1.992167e+02      1
4.804607e+01      1
1.393054e+02      1
1.605592e+01      1
3.860782e+01      1
2.400125e+02      1
1.203792e+01      1
9.574992e+01      1
1.490478e+02      1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 78872, dtype: int64
2018-07-06 20:43:17,668 logger 29 [INFO]    [make_npy] 0.000000e+00    765
1.767767e+01     30
1.414214e+01     28
3.535534e+01     28
2.121320e+01     27
7.071068e+00     24
2.357023e+01     22
1.060660e+01     21
4.242641e+01     20
5.303301e+01     19
2.828427e+01     18
7.071068e+01     17
8.485281e+01     16
3.535534e+00     14
2.651650e+01     13
8.838835e+00     13
5.656854e+01     12
3.181981e+01     11
4.714045e+01     11
1.178511e+01     10
7.954951e+01     10
1.060660e+02      9
6.363961e+01      9
1.649916e+01      8
1.590990e+02      8
9.428090e+00      8
2.357023e+01      8
1.178511e+01      8
4.772971e+01      7
1.178511e+01      7
4.596194e+01      6
1.256293e+01      6
1.131371e+02      6
2.668150e+01      6
4.949747e+01      6
2.854826e+01      6
2.474874e+01      6
2.001112e+01      6
5.336299e+00      6
1.237437e+01      5
9.428090e+01      5
4.235570e+01      5
3.299832e+01      5
8.485281e+00      5
4.419417e+01      5
8.004449e+00      5
5.773503e+01      5
4.095562e+00      5
5.303301e+00      5
2.969848e+01      5
               ...
5.329398e+01      1
1.677513e+01      1
1.104339e+02      1
2.307549e+01      1
7.721561e+01      1
5.481939e+00      1
1.306962e+01      1
1.248046e+01      1
3.976498e+01      1
9.705864e-01      1
4.394603e+01      1
3.843558e+01      1
8.529779e+01      1
6.975395e+01      1
1.370401e+01      1
4.049411e+01      1
1.208770e+02      1
6.854815e+01      1
1.212183e+06      1
2.492836e+01      1
1.435871e+01      1
2.916017e+00      1
1.429576e+02      1
5.948699e+01      1
9.524450e+00      1
3.532533e+01      1
5.534668e+01      1
6.843379e+01      1
5.319875e+01      1
1.121566e+01      1
5.209150e+01      1
3.487623e+01      1
1.201648e+01      1
1.409320e+01      1
5.404836e+01      1
1.896874e+00      1
4.184144e+00      1
5.634757e+01      1
3.513175e+01      1
8.733489e+01      1
1.874147e+00      1
1.992167e+02      1
4.804607e+01      1
1.393054e+02      1
1.605592e+01      1
3.860782e+01      1
2.400125e+02      1
1.203792e+01      1
9.574992e+01      1
1.490478e+02      1
Name: app_AMT_CREDIT_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 78872, dtype: int64
2018-07-06 20:43:17,724 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:17,724 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:17,854 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:17,854 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:17,934 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:17,934 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:17,962 logger 29 [INFO]    [make_npy] 0.000000       99200
2.000000         183
1.000000         172
1.500000         138
3.000000         130
2.500000         122
5.000000          88
0.750000          82
4.000000          71
0.500000          67
4.500000          67
1.250000          62
6.000000          61
3.750000          56
1.333333          54
2.250000          53
0.666667          50
0.400000          46
5.826000          46
1.666667          42
0.600000          41
1.875000          40
3.333333          40
0.201963          39
2.750000          39
3.500000          34
0.300000          34
4.893000          33
4.200000          33
6.660000          31
1.750000          31
8.400000          30
0.134642          28
2.913000          27
1.125000          27
4.868000          26
5.848000          26
5.920000          26
6.784000          25
0.800000          25
2.960000          25
4.250000          25
1.200000          25
3.125000          24
9.000000          24
7.500000          24
2.800000          23
6.947000          23
5.675000          23
0.450000          23
               ...
7.647666           1
0.540361           1
8.548431           1
0.597444           1
7.098827           1
11.415424          1
1.298295           1
2.622159           1
3.279695           1
3.730429           1
18.371141          1
2.924672           1
36.716001          1
4.748049           1
21.783107          1
5.749394           1
2.387903           1
1.202838           1
7.150400           1
1.204425           1
1.344199           1
1.222144           1
0.649963           1
3.146765           1
17.536139          1
14.796655          1
21.552816          1
1.742631           1
10.393525          1
3.432632           1
3.046522           1
8.707412           1
2.330615           1
4.273719           1
5.607117           1
9.816229           1
25.882851          1
2502.899480        1
1.855928           1
0.457715           1
11.194830          1
5.420721           1
1.893200           1
11.484401          1
8.988926           1
1.368571           1
0.717776           1
1.729416           1
2.611765           1
16.119393          1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 192069, dtype: int64

2018-07-06 20:43:17,962 logger 29 [INFO]    [make_npy] 0.000000       99200
2.000000         183
1.000000         172
1.500000         138
3.000000         130
2.500000         122
5.000000          88
0.750000          82
4.000000          71
0.500000          67
4.500000          67
1.250000          62
6.000000          61
3.750000          56
1.333333          54
2.250000          53
0.666667          50
0.400000          46
5.826000          46
1.666667          42
0.600000          41
1.875000          40
3.333333          40
0.201963          39
2.750000          39
3.500000          34
0.300000          34
4.893000          33
4.200000          33
6.660000          31
1.750000          31
8.400000          30
0.134642          28
2.913000          27
1.125000          27
4.868000          26
5.848000          26
5.920000          26
6.784000          25
0.800000          25
2.960000          25
4.250000          25
1.200000          25
3.125000          24
9.000000          24
7.500000          24
2.800000          23
6.947000          23
5.675000          23
0.450000          23
               ...
7.647666           1
0.540361           1
8.548431           1
0.597444           1
7.098827           1
11.415424          1
1.298295           1
2.622159           1
3.279695           1
3.730429           1
18.371141          1
2.924672           1
36.716001          1
4.748049           1
21.783107          1
5.749394           1
2.387903           1
1.202838           1
7.150400           1
1.204425           1
1.344199           1
1.222144           1
0.649963           1
3.146765           1
17.536139          1
14.796655          1
21.552816          1
1.742631           1
10.393525          1
3.432632           1
3.046522           1
8.707412           1
2.330615           1
4.273719           1
5.607117           1
9.816229           1
25.882851          1
2502.899480        1
1.855928           1
0.457715           1
11.194830          1
5.420721           1
1.893200           1
11.484401          1
8.988926           1
1.368571           1
0.717776           1
1.729416           1
2.611765           1
16.119393          1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 192069, dtype: int64
2018-07-06 20:43:18,007 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:18,007 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:18,105 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:18,105 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:18,182 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:18,182 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:18,221 logger 29 [INFO]    [make_npy] 2.000000       187
1.000000       175
1.500000       142
3.000000       136
2.500000       122
0.750000        85
5.000000        84
0.500000        68
4.000000        68
1.250000        67
2.250000        64
1.333333        57
4.500000        54
6.000000        53
3.750000        53
0.666667        51
1.666667        46
5.826000        46
0.400000        45
0.600000        42
3.333333        42
1.875000        41
0.201963        40
2.750000        39
1.750000        37
0.300000        34
8.400000        33
4.200000        33
4.893000        33
1.125000        32
6.660000        30
3.500000        28
0.134642        28
2.913000        28
5.848000        27
4.250000        27
1.200000        27
3.125000        26
5.920000        26
0.800000        26
4.868000        26
2.960000        25
0.450000        25
6.784000        25
5.283000        24
5.500000        24
2.837500        24
6.947000        24
5.675000        24
7.500000        23
              ...
7.367387         1
1.588526         1
14.033333        1
3.484752         1
0.712333         1
5.565380         1
7.850508         1
2.795771         1
1.652143         1
3.266304         1
9.611111         1
3.097471         1
1.767451         1
6.107113         1
6.097068         1
0.999385         1
10.030190        1
1.145075         1
6.591033         1
6.934848         1
9.003355         1
3.895136         1
0.134844         1
6.466109         1
8.222000         1
4.670327         1
3.847423         1
50.000000        1
1.378910         1
0.875517         1
3.683810         1
2.155342         1
4.622766         1
4.706340         1
4.315294         1
2.574498         1
3.330484         1
10.730318        1
0.640933         1
5.818325         1
1230.522192      1
9.806667         1
4.377456         1
2.854324         1
3.624789         1
4.174815         1
3.939543         1
2.636845         1
3.421212         1
1.552105         1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 191893, dtype: int64
2018-07-06 20:43:18,221 logger 29 [INFO]    [make_npy] 2.000000       187
1.000000       175
1.500000       142
3.000000       136
2.500000       122
0.750000        85
5.000000        84
0.500000        68
4.000000        68
1.250000        67
2.250000        64
1.333333        57
4.500000        54
6.000000        53
3.750000        53
0.666667        51
1.666667        46
5.826000        46
0.400000        45
0.600000        42
3.333333        42
1.875000        41
0.201963        40
2.750000        39
1.750000        37
0.300000        34
8.400000        33
4.200000        33
4.893000        33
1.125000        32
6.660000        30
3.500000        28
0.134642        28
2.913000        28
5.848000        27
4.250000        27
1.200000        27
3.125000        26
5.920000        26
0.800000        26
4.868000        26
2.960000        25
0.450000        25
6.784000        25
5.283000        24
5.500000        24
2.837500        24
6.947000        24
5.675000        24
7.500000        23
              ...
7.367387         1
1.588526         1
14.033333        1
3.484752         1
0.712333         1
5.565380         1
7.850508         1
2.795771         1
1.652143         1
3.266304         1
9.611111         1
3.097471         1
1.767451         1
6.107113         1
6.097068         1
0.999385         1
10.030190        1
1.145075         1
6.591033         1
6.934848         1
9.003355         1
3.895136         1
0.134844         1
6.466109         1
8.222000         1
4.670327         1
3.847423         1
50.000000        1
1.378910         1
0.875517         1
3.683810         1
2.155342         1
4.622766         1
4.706340         1
4.315294         1
2.574498         1
3.330484         1
10.730318        1
0.640933         1
5.818325         1
1230.522192      1
9.806667         1
4.377456         1
2.854324         1
3.624789         1
4.174815         1
3.939543         1
2.636845         1
3.421212         1
1.552105         1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 191893, dtype: int64
2018-07-06 20:43:18,270 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:18,270 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:18,391 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:18,391 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:18,468 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:18,468 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:18,495 logger 29 [INFO]    [make_npy] 2.000000        288
3.000000        237
1.000000        225
1.500000        220
2.500000        189
5.000000        158
4.000000        116
3.750000        114
6.000000        107
4.500000        103
0.750000        102
1.250000         87
0.500000         86
2.250000         84
1.333333         74
3.333333         73
5.826000         68
2.750000         66
1.666667         65
0.666667         64
8.400000         63
1.875000         56
10.000000        54
1.750000         52
7.500000         52
0.400000         51
4.893000         50
0.600000         48
4.200000         47
5.848000         45
4.868000         45
7.000000         43
3.500000         43
7.034000         42
6.660000         41
4.250000         41
5.500000         40
3.125000         40
9.000000         40
0.201963         40
2.857143         39
1.125000         38
5.877000         38
5.920000         38
4.285714         37
5.675000         37
0.300000         36
3.592000         36
6.250000         36
7.339000         36
               ...
1.069457          1
11.407273         1
2.996774          1
2.162519          1
6.578205          1
0.666299          1
12.252087         1
1.732995          1
3.756696          1
11033.333333      1
0.511771          1
1.782364          1
18770.967742      1
1.058571          1
2.821736          1
0.890732          1
6709.638554       1
1.356657          1
2.445558          1
7.982259          1
2.994574          1
5.109479          1
1.758893          1
7.281415          1
6.149733          1
5.264755          1
6.479227          1
15.675393         1
1.122711          1
7.386667          1
3.384354          1
7.747664          1
2.193340          1
1.442153          1
4.125556          1
4.320482          1
2.114067          1
2.660667          1
3.246294          1
10.687023         1
7.759704          1
2.992614          1
0.419792          1
11.551378         1
1.836471          1
2.093291          1
6.768634          1
8.260827          1
2.451058          1
4.436187          1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 172403, dtype: int64

2018-07-06 20:43:18,495 logger 29 [INFO]    [make_npy] 2.000000        288
3.000000        237
1.000000        225
1.500000        220
2.500000        189
5.000000        158
4.000000        116
3.750000        114
6.000000        107
4.500000        103
0.750000        102
1.250000         87
0.500000         86
2.250000         84
1.333333         74
3.333333         73
5.826000         68
2.750000         66
1.666667         65
0.666667         64
8.400000         63
1.875000         56
10.000000        54
1.750000         52
7.500000         52
0.400000         51
4.893000         50
0.600000         48
4.200000         47
5.848000         45
4.868000         45
7.000000         43
3.500000         43
7.034000         42
6.660000         41
4.250000         41
5.500000         40
3.125000         40
9.000000         40
0.201963         40
2.857143         39
1.125000         38
5.877000         38
5.920000         38
4.285714         37
5.675000         37
0.300000         36
3.592000         36
6.250000         36
7.339000         36
               ...
1.069457          1
11.407273         1
2.996774          1
2.162519          1
6.578205          1
0.666299          1
12.252087         1
1.732995          1
3.756696          1
11033.333333      1
0.511771          1
1.782364          1
18770.967742      1
1.058571          1
2.821736          1
0.890732          1
6709.638554       1
1.356657          1
2.445558          1
7.982259          1
2.994574          1
5.109479          1
1.758893          1
7.281415          1
6.149733          1
5.264755          1
6.479227          1
15.675393         1
1.122711          1
7.386667          1
3.384354          1
7.747664          1
2.193340          1
1.442153          1
4.125556          1
4.320482          1
2.114067          1
2.660667          1
3.246294          1
10.687023         1
7.759704          1
2.992614          1
0.419792          1
11.551378         1
1.836471          1
2.093291          1
6.768634          1
8.260827          1
2.451058          1
4.436187          1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 172403, dtype: int64
2018-07-06 20:43:18,540 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:18,540 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:18,630 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:18,630 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:18,716 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:18,716 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:18,781 logger 29 [INFO]    [make_npy] 1.000000       298
2.000000       266
1.500000       242
3.000000       176
2.500000       173
0.750000       161
1.250000       133
0.500000       130
5.000000        99
0.600000        96
1.333333        89
0.666667        86
3.750000        80
2.250000        79
4.000000        77
0.400000        75
0.300000        71
1.666667        70
1.875000        66
0.201963        64
5.826000        59
4.500000        58
4.200000        58
2.750000        57
1.125000        57
6.000000        53
3.333333        53
1.750000        52
8.400000        48
0.833333        47
0.800000        44
0.134642        43
2.913000        43
3.500000        42
1.200000        41
0.625000        40
1.680000        40
2.800000        39
0.450000        39
5.848000        39
4.893000        39
0.565496        38
7.034000        38
5.920000        37
3.517000        37
0.375000        36
3.125000        35
0.250000        35
6.784000        35
6.660000        35
              ...
4.141232         1
0.754091         1
6.044211         1
0.468703         1
0.164667         1
1.998806         1
6.821463         1
2.270667         1
3.915966         1
1.708800         1
10.760369        1
1.835146         1
0.547000         1
5.358779         1
1.320600         1
5.774481         1
2.934400         1
5.218090         1
1.064400         1
3.567602         1
0.339750         1
6.129619         1
1.493272         1
5.435743         1
4.493256         1
1.855220         1
1.630682         1
2.181651         1
1.767964         1
1.050591         1
4.189844         1
1.938497         1
1.986891         1
2.423288         1
8.369899         1
0.826303         1
1.166475         1
2.176417         1
4.042508         1
3.646181         1
2.183913         1
1.397618         1
4.042593         1
1.921512         1
9.047727         1
5436.666667      1
2.128725         1
0.973236         1
1.811685         1
0.876667         1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 172331, dtype: int64
2018-07-06 20:43:18,781 logger 29 [INFO]    [make_npy] 1.000000       298
2.000000       266
1.500000       242
3.000000       176
2.500000       173
0.750000       161
1.250000       133
0.500000       130
5.000000        99
0.600000        96
1.333333        89
0.666667        86
3.750000        80
2.250000        79
4.000000        77
0.400000        75
0.300000        71
1.666667        70
1.875000        66
0.201963        64
5.826000        59
4.500000        58
4.200000        58
2.750000        57
1.125000        57
6.000000        53
3.333333        53
1.750000        52
8.400000        48
0.833333        47
0.800000        44
0.134642        43
2.913000        43
3.500000        42
1.200000        41
0.625000        40
1.680000        40
2.800000        39
0.450000        39
5.848000        39
4.893000        39
0.565496        38
7.034000        38
5.920000        37
3.517000        37
0.375000        36
3.125000        35
0.250000        35
6.784000        35
6.660000        35
              ...
4.141232         1
0.754091         1
6.044211         1
0.468703         1
0.164667         1
1.998806         1
6.821463         1
2.270667         1
3.915966         1
1.708800         1
10.760369        1
1.835146         1
0.547000         1
5.358779         1
1.320600         1
5.774481         1
2.934400         1
5.218090         1
1.064400         1
3.567602         1
0.339750         1
6.129619         1
1.493272         1
5.435743         1
4.493256         1
1.855220         1
1.630682         1
2.181651         1
1.767964         1
1.050591         1
4.189844         1
1.938497         1
1.986891         1
2.423288         1
8.369899         1
0.826303         1
1.166475         1
2.176417         1
4.042508         1
3.646181         1
2.183913         1
1.397618         1
4.042593         1
1.921512         1
9.047727         1
5436.666667      1
2.128725         1
0.973236         1
1.811685         1
0.876667         1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 172331, dtype: int64
2018-07-06 20:43:18,810 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:18,810 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:18,973 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:18,973 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:19,075 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:19,075 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:19,094 logger 29 [INFO]    [make_npy] 0.000000       765
1.060660        15
2.121320        13
0.707107        13
0.353553        10
1.414214        10
0.530330         9
0.176777         4
1.325825         4
0.424264         4
2.386485         4
0.577350         4
0.883883         4
0.220971         3
2.969848         3
4.242641         3
2.296211         3
0.376363         3
0.471405         3
3.818377         3
0.824958         3
2.828427         3
7.415287         3
0.471405         3
1.880197         3
0.526559         2
5.793184         2
2.969848         2
5.656854         2
1.637424         2
0.912403         2
0.795495         2
0.397748         2
1.871005         2
0.505963         2
0.234288         2
3.961084         2
2.009597         2
1.908057         2
0.296985         2
2.797314         2
2.172884         2
1.909188         2
5.702816         2
0.861492         2
1.296362         2
0.341957         2
3.139554         2
0.265165         2
1.721098         2
              ...
2.142555         1
0.384018         1
2.161356         1
2.334883         1
1.019066         1
2.404765         1
3.125115         1
1.651572         1
4441.842527      1
3.336421         1
3.474788         1
1.628147         1
0.953241         1
0.267289         1
6.206864         1
0.068638         1
4.928912         1
0.880423         1
2.350768         1
1.949916         1
2.015466         1
1.206998         1
10.305374        1
6.024281         1
1.693756         1
0.099717         1
5383.987111      1
3624.159407      1
0.415489         1
1.007053         1
3.205943         1
4.600550         1
2.797208         1
1.874390         1
2.191311         1
4.642865         1
2.162867         1
5.716603         1
5.161831         1
2.256863         1
4.434924         1
1.505247         1
7.251548         1
5.383369         1
0.809166         1
4.013035         1
0.336129         1
4.337350         1
0.278567         1
3.287045         1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 79884, dtype: int64

2018-07-06 20:43:19,094 logger 29 [INFO]    [make_npy] 0.000000       765
1.060660        15
2.121320        13
0.707107        13
0.353553        10
1.414214        10
0.530330         9
0.176777         4
1.325825         4
0.424264         4
2.386485         4
0.577350         4
0.883883         4
0.220971         3
2.969848         3
4.242641         3
2.296211         3
0.376363         3
0.471405         3
3.818377         3
0.824958         3
2.828427         3
7.415287         3
0.471405         3
1.880197         3
0.526559         2
5.793184         2
2.969848         2
5.656854         2
1.637424         2
0.912403         2
0.795495         2
0.397748         2
1.871005         2
0.505963         2
0.234288         2
3.961084         2
2.009597         2
1.908057         2
0.296985         2
2.797314         2
2.172884         2
1.909188         2
5.702816         2
0.861492         2
1.296362         2
0.341957         2
3.139554         2
0.265165         2
1.721098         2
              ...
2.142555         1
0.384018         1
2.161356         1
2.334883         1
1.019066         1
2.404765         1
3.125115         1
1.651572         1
4441.842527      1
3.336421         1
3.474788         1
1.628147         1
0.953241         1
0.267289         1
6.206864         1
0.068638         1
4.928912         1
0.880423         1
2.350768         1
1.949916         1
2.015466         1
1.206998         1
10.305374        1
6.024281         1
1.693756         1
0.099717         1
5383.987111      1
3624.159407      1
0.415489         1
1.007053         1
3.205943         1
4.600550         1
2.797208         1
1.874390         1
2.191311         1
4.642865         1
2.162867         1
5.716603         1
5.161831         1
2.256863         1
4.434924         1
1.505247         1
7.251548         1
5.383369         1
0.809166         1
4.013035         1
0.336129         1
4.337350         1
0.278567         1
3.287045         1
Name: app_AMT_ANNUITY_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 79884, dtype: int64
2018-07-06 20:43:19,133 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:19,133 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:19,293 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:19,293 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:19,415 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:19,415 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:19,451 logger 29 [INFO]    [make_npy] 0.000000         99176
20.000000         1741
30.000000         1535
25.000000         1519
10.000000         1484
50.000000         1333
40.000000         1147
15.000000         1134
35.000000          752
16.666667          739
12.500000          728
5.000000           647
60.000000          617
33.333333          578
45.000000          544
13.333333          533
17.500000          518
6.000000           517
8.000000           473
12.000000          441
7.500000           428
8.333333           403
70.000000          370
23.333333          360
4.000000           360
6.666667           357
26.666667          353
18.000000          341
22.500000          336
7.000000           335
100.000000         323
11.666667          315
16.000000          314
80.000000          308
14.000000          301
9.000000           297
37.500000          281
3.366047           277
3.000000           257
41.666667          255
75.000000          250
66.666667          247
2.019628           228
6.250000           227
35.714286          227
24.000000          222
2.692837           218
28.000000          217
28.571429          215
62.500000          204
                 ...
65.305976            1
11.871056            1
80.209355            1
7.812151             1
51.771117            1
218.261846           1
8.442655             1
78.037939            1
56.589147            1
41.780366            1
13.221154            1
98.264003            1
89.688427            1
10.528532            1
40.721308            1
92.862025            1
71.294118            1
73.625204            1
54.106280            1
72.980863            1
62.836625            1
120.072253           1
9.507130             1
42.859184            1
144.603623           1
44.700552            1
116.844920           1
80.265276            1
10.936352            1
78.532110            1
73.470781            1
99.457857            1
10.745755            1
123124.501433        1
57.906654            1
53.210732            1
6.229629             1
42.359830            1
75.718055            1
30.026493            1
23.224044            1
33.848614            1
151.361206           1
107.858243           1
26.788378            1
5.001429             1
202.765680           1
99.595046            1
93.479672            1
34.912818            1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 117109, dtype: int64
2018-07-06 20:43:19,451 logger 29 [INFO]    [make_npy] 0.000000         99176
20.000000         1741
30.000000         1535
25.000000         1519
10.000000         1484
50.000000         1333
40.000000         1147
15.000000         1134
35.000000          752
16.666667          739
12.500000          728
5.000000           647
60.000000          617
33.333333          578
45.000000          544
13.333333          533
17.500000          518
6.000000           517
8.000000           473
12.000000          441
7.500000           428
8.333333           403
70.000000          370
23.333333          360
4.000000           360
6.666667           357
26.666667          353
18.000000          341
22.500000          336
7.000000           335
100.000000         323
11.666667          315
16.000000          314
80.000000          308
14.000000          301
9.000000           297
37.500000          281
3.366047           277
3.000000           257
41.666667          255
75.000000          250
66.666667          247
2.019628           228
6.250000           227
35.714286          227
24.000000          222
2.692837           218
28.000000          217
28.571429          215
62.500000          204
                 ...
65.305976            1
11.871056            1
80.209355            1
7.812151             1
51.771117            1
218.261846           1
8.442655             1
78.037939            1
56.589147            1
41.780366            1
13.221154            1
98.264003            1
89.688427            1
10.528532            1
40.721308            1
92.862025            1
71.294118            1
73.625204            1
54.106280            1
72.980863            1
62.836625            1
120.072253           1
9.507130             1
42.859184            1
144.603623           1
44.700552            1
116.844920           1
80.265276            1
10.936352            1
78.532110            1
73.470781            1
99.457857            1
10.745755            1
123124.501433        1
57.906654            1
53.210732            1
6.229629             1
42.359830            1
75.718055            1
30.026493            1
23.224044            1
33.848614            1
151.361206           1
107.858243           1
26.788378            1
5.001429             1
202.765680           1
99.595046            1
93.479672            1
34.912818            1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 117109, dtype: int64
2018-07-06 20:43:19,530 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:19,530 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']

2018-07-06 20:43:19,660 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:19,660 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:19,758 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:19,758 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:19,787 logger 29 [INFO]    [make_npy] 20.000000       1809
25.000000       1574
30.000000       1563
10.000000       1515
50.000000       1278
15.000000       1204
40.000000       1097
16.666667        782
12.500000        777
35.000000        745
5.000000         657
33.333333        575
13.333333        566
17.500000        555
6.000000         541
60.000000        531
45.000000        526
8.000000         479
7.500000         451
12.000000        447
8.333333         417
23.333333        401
22.500000        373
6.666667         372
4.000000         368
18.000000        355
26.666667        351
7.000000         349
11.666667        329
9.000000         319
14.000000        319
16.000000        313
70.000000        311
37.500000        283
3.366047         281
100.000000       270
3.000000         262
41.666667        259
80.000000        252
6.250000         235
2.019628         233
24.000000        231
35.714286        227
2.692837         220
28.571429        218
31.250000        211
66.666667        209
28.000000        203
2.500000         199
75.000000        189
                ...
62.836625          1
32.737274          1
60.036126          1
9.507130           1
28.244672          1
60.043668          1
16.565002          1
2.491901           1
52.729774          1
12.642661          1
15.451306          1
18.435409          1
7.992895           1
8.899964           1
23.229741          1
37.936464          1
9.038449           1
28.002380          1
11.189851          1
36.712511          1
8.622814           1
5.126659           1
20.497150          1
15.907933          1
14.267185          1
9.726066           1
10.510549          1
23689.352208       1
24.052288          1
12.165801          1
21.429592          1
17.106275          1
29.137846          1
21.383648          1
13.472477          1
25.095057          1
10.247356          1
9.191994           1
22.815961          1
16.585555          1
9.191939           1
12.698295          1
50011.852229       1
20.840261          1
33.502024          1
5.162418           1
23.349332          1
7.598480           1
62.700575          1
25.244735          1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 117030, dtype: int64
2018-07-06 20:43:19,787 logger 29 [INFO]    [make_npy] 20.000000       1809
25.000000       1574
30.000000       1563
10.000000       1515
50.000000       1278
15.000000       1204
40.000000       1097
16.666667        782
12.500000        777
35.000000        745
5.000000         657
33.333333        575
13.333333        566
17.500000        555
6.000000         541
60.000000        531
45.000000        526
8.000000         479
7.500000         451
12.000000        447
8.333333         417
23.333333        401
22.500000        373
6.666667         372
4.000000         368
18.000000        355
26.666667        351
7.000000         349
11.666667        329
9.000000         319
14.000000        319
16.000000        313
70.000000        311
37.500000        283
3.366047         281
100.000000       270
3.000000         262
41.666667        259
80.000000        252
6.250000         235
2.019628         233
24.000000        231
35.714286        227
2.692837         220
28.571429        218
31.250000        211
66.666667        209
28.000000        203
2.500000         199
75.000000        189
                ...
62.836625          1
32.737274          1
60.036126          1
9.507130           1
28.244672          1
60.043668          1
16.565002          1
2.491901           1
52.729774          1
12.642661          1
15.451306          1
18.435409          1
7.992895           1
8.899964           1
23.229741          1
37.936464          1
9.038449           1
28.002380          1
11.189851          1
36.712511          1
8.622814           1
5.126659           1
20.497150          1
15.907933          1
14.267185          1
9.726066           1
10.510549          1
23689.352208       1
24.052288          1
12.165801          1
21.429592          1
17.106275          1
29.137846          1
21.383648          1
13.472477          1
25.095057          1
10.247356          1
9.191994           1
22.815961          1
16.585555          1
9.191939           1
12.698295          1
50011.852229       1
20.840261          1
33.502024          1
5.162418           1
23.349332          1
7.598480           1
62.700575          1
25.244735          1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 117030, dtype: int64
2018-07-06 20:43:19,822 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:19,822 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:19,989 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:19,989 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:20,061 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,061 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,080 logger 29 [INFO]    [make_npy] 20.000000       2659
30.000000       2573
25.000000       2526
50.000000       2496
40.000000       1968
10.000000       1925
15.000000       1614
35.000000       1295
60.000000       1075
16.666667       1057
12.500000       1002
33.333333        977
45.000000        875
5.000000         744
13.333333        734
17.500000        697
100.000000       694
70.000000        655
6.000000         598
80.000000        583
8.000000         558
12.000000        546
23.333333        529
26.666667        524
41.666667        499
8.333333         493
7.500000         484
18.000000        476
66.666667        472
35.714286        456
22.500000        449
37.500000        438
75.000000        436
6.666667         429
16.000000        428
11.666667        394
4.000000         392
14.000000        391
28.571429        387
7.000000         387
62.500000        386
9.000000         365
42.857143        351
71.428571        346
31.250000        343
45.454545        337
83.333333        328
28.000000        312
24.000000        310
90.000000        309
                ...
54.988217          1
2.719608           1
38.151759          1
7.867821           1
37.800687          1
25.701858          1
25.777104          1
135.823430         1
2.462751           1
89.567966          1
21.391943          1
5.967774           1
13.062931          1
12.571839          1
25.215660          1
2.760906           1
5.000050           1
52.531041          1
71.860095          1
16.095171          1
23.788546          1
6.977671           1
57.040998          1
16.150740          1
74358.974359       1
7.169030           1
8.402185           1
2.103049           1
12.579328          1
31.114952          1
16.906700          1
13.455070          1
14.012739          1
7.826476           1
5.074786           1
8.975928           1
11.668107          1
2.650000           1
3.429442           1
7.124895           1
33.082707          1
156.938837         1
17.424449          1
1.452710           1
70.113935          1
76.400000          1
5.700872           1
66.633350          1
97.948242          1
10.960334          1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 55873, dtype: int64

2018-07-06 20:43:20,080 logger 29 [INFO]    [make_npy] 20.000000       2659
30.000000       2573
25.000000       2526
50.000000       2496
40.000000       1968
10.000000       1925
15.000000       1614
35.000000       1295
60.000000       1075
16.666667       1057
12.500000       1002
33.333333        977
45.000000        875
5.000000         744
13.333333        734
17.500000        697
100.000000       694
70.000000        655
6.000000         598
80.000000        583
8.000000         558
12.000000        546
23.333333        529
26.666667        524
41.666667        499
8.333333         493
7.500000         484
18.000000        476
66.666667        472
35.714286        456
22.500000        449
37.500000        438
75.000000        436
6.666667         429
16.000000        428
11.666667        394
4.000000         392
14.000000        391
28.571429        387
7.000000         387
62.500000        386
9.000000         365
42.857143        351
71.428571        346
31.250000        343
45.454545        337
83.333333        328
28.000000        312
24.000000        310
90.000000        309
                ...
54.988217          1
2.719608           1
38.151759          1
7.867821           1
37.800687          1
25.701858          1
25.777104          1
135.823430         1
2.462751           1
89.567966          1
21.391943          1
5.967774           1
13.062931          1
12.571839          1
25.215660          1
2.760906           1
5.000050           1
52.531041          1
71.860095          1
16.095171          1
23.788546          1
6.977671           1
57.040998          1
16.150740          1
74358.974359       1
7.169030           1
8.402185           1
2.103049           1
12.579328          1
31.114952          1
16.906700          1
13.455070          1
14.012739          1
7.826476           1
5.074786           1
8.975928           1
11.668107          1
2.650000           1
3.429442           1
7.124895           1
33.082707          1
156.938837         1
17.424449          1
1.452710           1
70.113935          1
76.400000          1
5.700872           1
66.633350          1
97.948242          1
10.960334          1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 55873, dtype: int64
2018-07-06 20:43:20,123 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:20,123 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:20,224 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:20,224 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:20,301 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,301 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,346 logger 29 [INFO]    [make_npy] 10.000000        2882
20.000000        2713
25.000000        2225
30.000000        2037
15.000000        1949
50.000000        1561
5.000000         1495
40.000000        1429
12.500000        1349
16.666667        1265
6.000000         1032
35.000000         983
13.333333         972
8.000000          922
7.500000          860
17.500000         856
8.333333          811
4.000000          783
33.333333         772
12.000000         764
6.666667          729
7.000000          717
45.000000         620
9.000000          611
60.000000         587
11.666667         584
23.333333         568
3.366047          566
3.000000          543
14.000000         538
22.500000         526
16.000000         503
18.000000         496
2.692837          483
26.666667         460
6.250000          453
2.019628          449
2.500000          415
2.356233          367
70.000000         354
41.666667         333
37.500000         307
24.000000         306
8.750000          306
3.029442          304
80.000000         303
100.000000        303
1.683023          300
4.039256          298
35.714286         288
                 ...
164285.714286       1
8.232147            1
34.576888           1
11.976417           1
3.819918            1
3.468008            1
5.098750            1
21.779714           1
60.652009           1
72.429907           1
26.856240           1
7.350745            1
3.772071            1
31.146767           1
11.142626           1
10.963647           1
35.976399           1
6.010699            1
23.830328           1
10.498950           1
6.971556            1
27.417747           1
22.307692           1
5.794228            1
13.014055           1
5.826983            1
19.989339           1
11.861314           1
10.171215           1
11.200996           1
15.960712           1
16.290369           1
12.321678           1
108.626198          1
1.772865            1
20.090003           1
4.609475            1
5.668613            1
25.549081           1
15.860428           1
24.482109           1
50.173010           1
16.758279           1
8.747631            1
6.719301            1
15.065283           1
14.711538           1
58.453237           1
37.067545           1
6.091846            1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 61668, dtype: int64
2018-07-06 20:43:20,346 logger 29 [INFO]    [make_npy] 10.000000        2882
20.000000        2713
25.000000        2225
30.000000        2037
15.000000        1949
50.000000        1561
5.000000         1495
40.000000        1429
12.500000        1349
16.666667        1265
6.000000         1032
35.000000         983
13.333333         972
8.000000          922
7.500000          860
17.500000         856
8.333333          811
4.000000          783
33.333333         772
12.000000         764
6.666667          729
7.000000          717
45.000000         620
9.000000          611
60.000000         587
11.666667         584
23.333333         568
3.366047          566
3.000000          543
14.000000         538
22.500000         526
16.000000         503
18.000000         496
2.692837          483
26.666667         460
6.250000          453
2.019628          449
2.500000          415
2.356233          367
70.000000         354
41.666667         333
37.500000         307
24.000000         306
8.750000          306
3.029442          304
80.000000         303
100.000000        303
1.683023          300
4.039256          298
35.714286         288
                 ...
164285.714286       1
8.232147            1
34.576888           1
11.976417           1
3.819918            1
3.468008            1
5.098750            1
21.779714           1
60.652009           1
72.429907           1
26.856240           1
7.350745            1
3.772071            1
31.146767           1
11.142626           1
10.963647           1
35.976399           1
6.010699            1
23.830328           1
10.498950           1
6.971556            1
27.417747           1
22.307692           1
5.794228            1
13.014055           1
5.826983            1
19.989339           1
11.861314           1
10.171215           1
11.200996           1
15.960712           1
16.290369           1
12.321678           1
108.626198          1
1.772865            1
20.090003           1
4.609475            1
5.668613            1
25.549081           1
15.860428           1
24.482109           1
50.173010           1
16.758279           1
8.747631            1
6.719301            1
15.065283           1
14.711538           1
58.453237           1
37.067545           1
6.091846            1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 61668, dtype: int64
2018-07-06 20:43:20,398 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:20,398 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']

2018-07-06 20:43:20,541 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:20,541 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:20,618 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,618 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,630 logger 29 [INFO]    [make_npy] 0.000000         765
14.142136        114
10.606602        110
7.071068         100
21.213203         92
3.535534          69
5.303301          67
17.677670         56
8.838835          50
15.909903         48
28.284271         47
31.819805         40
8.485281          39
2.828427          39
6.363961          39
23.570226         37
1.767767          36
2.121320          36
16.970563         34
12.374369         34
24.748737         32
4.242641          32
11.785113         31
26.516504         30
5.892557          29
7.576144          27
16.499158         26
7.954951          26
22.627417         26
9.428090          25
2.651650          25
11.313708         24
13.258252         24
37.123106         24
12.727922         24
1.414214          23
9.899495          23
18.856181         22
2.946278          21
4.949747          20
5.892557          20
7.424621          20
8.249579          20
4.714045          19
4.714045          19
9.545942          19
3.181981          19
35.355339         19
19.091883         18
16.499158         18
                ...
6.701687           1
26.303006          1
5.342352           1
90.175156          1
33.528618          1
9.432641           1
0.898593           1
75.529802          1
12.827671          1
5.833812           1
83.561900          1
6.274123           1
6.854274           1
16.495133          1
7.671600           1
4.565181           1
3.337220           1
15.158309          1
18.600827          1
11.598821          1
25.071583          1
9.097591           1
21.548072          1
40.711867          1
13.212003          1
5.101191           1
21.269858          1
12.024558          1
12.058054          1
1.213515           1
1120.218845        1
7.902077           1
17.971225          1
14.744498          1
8.329678           1
0.585257           1
17.415143          1
15.200951          1
108.214146         1
424254.346804      1
36.409315          1
9.678535           1
0.964995           1
39874.026668       1
3.811575           1
13.016119          1
14.805997          1
66.647927          1
28.062530          1
8.990667           1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 75352, dtype: int64
2018-07-06 20:43:20,630 logger 29 [INFO]    [make_npy] 0.000000         765
14.142136        114
10.606602        110
7.071068         100
21.213203         92
3.535534          69
5.303301          67
17.677670         56
8.838835          50
15.909903         48
28.284271         47
31.819805         40
8.485281          39
2.828427          39
6.363961          39
23.570226         37
1.767767          36
2.121320          36
16.970563         34
12.374369         34
24.748737         32
4.242641          32
11.785113         31
26.516504         30
5.892557          29
7.576144          27
16.499158         26
7.954951          26
22.627417         26
9.428090          25
2.651650          25
11.313708         24
13.258252         24
37.123106         24
12.727922         24
1.414214          23
9.899495          23
18.856181         22
2.946278          21
4.949747          20
5.892557          20
7.424621          20
8.249579          20
4.714045          19
4.714045          19
9.545942          19
3.181981          19
35.355339         19
19.091883         18
16.499158         18
                ...
6.701687           1
26.303006          1
5.342352           1
90.175156          1
33.528618          1
9.432641           1
0.898593           1
75.529802          1
12.827671          1
5.833812           1
83.561900          1
6.274123           1
6.854274           1
16.495133          1
7.671600           1
4.565181           1
3.337220           1
15.158309          1
18.600827          1
11.598821          1
25.071583          1
9.097591           1
21.548072          1
40.711867          1
13.212003          1
5.101191           1
21.269858          1
12.024558          1
12.058054          1
1.213515           1
1120.218845        1
7.902077           1
17.971225          1
14.744498          1
8.329678           1
0.585257           1
17.415143          1
15.200951          1
108.214146         1
424254.346804      1
36.409315          1
9.678535           1
0.964995           1
39874.026668       1
3.811575           1
13.016119          1
14.805997          1
66.647927          1
28.062530          1
8.990667           1
Name: app_AMT_INCOME_TOTAL_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 75352, dtype: int64
2018-07-06 20:43:20,676 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:20,676 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:20,783 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:20,783 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:20,870 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,870 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:20,915 logger 29 [INFO]    [make_npy]  0.000000      99176
-9.000000         75
-11.250000        69
-45.000000        65
-22.500000        65
-15.000000        59
-14.516129        56
-18.000000        56
-30.000000        56
-19.565217        54
-13.235294        53
-34.615385        52
-16.071429        51
-20.454545        51
-4.500000         50
-6.428571         50
-12.500000        49
-12.857143        47
-14.062500        45
-13.636364        45
-25.000000        44
-13.081395        44
-11.538462        44
-8.653846         43
-10.714286        43
-8.035714         42
-18.750000        42
-11.842105        42
-10.000000        41
-7.500000         41
-17.307692        41
-10.465116        41
-9.782609         41
-25.862069        40
-12.162162        40
-25.714286        40
-11.718750        40
-12.000000        39
-15.517241        39
-32.142857        37
-27.000000        37
-9.375000         37
-27.108434        37
-27.272727        37
-19.911504        37
-40.909091        36
-20.270270        36
-10.975610        36
-23.684211        36
-24.725275        35
               ...
-34.129918         1
-256.906383        1
-67.379356         1
-19.813820         1
-186.876238        1
-20.616740         1
-6.850097          1
-26.420455         1
-62.745221         1
-19.053344         1
-197.837463        1
-21.187403         1
-83.140244         1
-8.040789          1
-3.642496          1
-11.378754         1
-81.855909         1
-42.094538         1
-38.417702         1
-6.586957          1
-110.054348        1
-52.972826         1
-7.742236          1
-21.666667         1
-11.305479         1
-11.560825         1
-32.304505         1
-84.146341         1
-17.335843         1
-12.430407         1
-13.304073         1
-11.000821         1
-40.791367         1
-19.408946         1
-17.905254         1
-10.257180         1
-91.573724         1
-101.462107        1
-15.922096         1
-7.154917          1
-14.691413         1
-29.640927         1
-18.786026         1
-237.878968        1
-22.017857         1
-52.230871         1
-28.579368         1
-3.364315          1
-23.542024         1
-44.439531         1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 166404, dtype: int64

2018-07-06 20:43:20,915 logger 29 [INFO]    [make_npy]  0.000000      99176
-9.000000         75
-11.250000        69
-45.000000        65
-22.500000        65
-15.000000        59
-14.516129        56
-18.000000        56
-30.000000        56
-19.565217        54
-13.235294        53
-34.615385        52
-16.071429        51
-20.454545        51
-4.500000         50
-6.428571         50
-12.500000        49
-12.857143        47
-14.062500        45
-13.636364        45
-25.000000        44
-13.081395        44
-11.538462        44
-8.653846         43
-10.714286        43
-8.035714         42
-18.750000        42
-11.842105        42
-10.000000        41
-7.500000         41
-17.307692        41
-10.465116        41
-9.782609         41
-25.862069        40
-12.162162        40
-25.714286        40
-11.718750        40
-12.000000        39
-15.517241        39
-32.142857        37
-27.000000        37
-9.375000         37
-27.108434        37
-27.272727        37
-19.911504        37
-40.909091        36
-20.270270        36
-10.975610        36
-23.684211        36
-24.725275        35
               ...
-34.129918         1
-256.906383        1
-67.379356         1
-19.813820         1
-186.876238        1
-20.616740         1
-6.850097          1
-26.420455         1
-62.745221         1
-19.053344         1
-197.837463        1
-21.187403         1
-83.140244         1
-8.040789          1
-3.642496          1
-11.378754         1
-81.855909         1
-42.094538         1
-38.417702         1
-6.586957          1
-110.054348        1
-52.972826         1
-7.742236          1
-21.666667         1
-11.305479         1
-11.560825         1
-32.304505         1
-84.146341         1
-17.335843         1
-12.430407         1
-13.304073         1
-11.000821         1
-40.791367         1
-19.408946         1
-17.905254         1
-10.257180         1
-91.573724         1
-101.462107        1
-15.922096         1
-7.154917          1
-14.691413         1
-29.640927         1
-18.786026         1
-237.878968        1
-22.017857         1
-52.230871         1
-28.579368         1
-3.364315          1
-23.542024         1
-44.439531         1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 166404, dtype: int64
2018-07-06 20:43:20,977 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:20,977 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:21,092 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:21,092 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:21,184 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:21,184 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:21,231 logger 29 [INFO]    [make_npy] -9.000000      79
-11.250000     74
-15.000000     69
-45.000000     61
-22.500000     60
-4.500000      56
-18.000000     55
-6.428571      54
-13.235294     54
-14.516129     53
-16.071429     52
-7.500000      50
-8.653846      50
-14.062500     49
-20.454545     49
-12.500000     49
-19.565217     48
-30.000000     48
-18.750000     47
-13.636364     47
-17.307692     47
-13.500000     47
-25.000000     47
-8.035714      46
-11.538462     46
-15.517241     46
-9.782609      44
-10.465116     44
-13.081395     44
-6.000000      44
-9.375000      43
-11.842105     43
-10.714286     43
-12.857143     42
-34.615385     42
-12.162162     41
-25.714286     41
-11.718750     41
-25.862069     40
-8.181818      40
-17.045455     39
-5.625000      39
-10.000000     39
-23.684211     39
-12.000000     38
-6.617647      38
-27.272727     38
-10.975610     38
-7.258065      37
-10.227273     37
               ..
-15.039788      1
-5.642074       1
-26.618389      1
-20.385906      1
-14.129032      1
-8.981670       1
-6.513301       1
-6.696527       1
-3.626374       1
-14.190065      1
-9.635734       1
-14.397248      1
-19.830479      1
-8.952627       1
-10.612717      1
-0.008077       1
-160.585396     1
-11.587660      1
-3.006667       1
-41.117647      1
-5.409015       1
-21.629464      1
-5.840253       1
-10.303448      1
-6.214642       1
-27.014218      1
-40.161558      1
-83.140244      1
-14.088950      1
-8.040789       1
-21.281955      1
-0.001120       1
-15.161215      1
-7.036680       1
-8.596057       1
-34.129918      1
-64.226596      1
-16.844839      1
-19.813820      1
-20.616740      1
-6.850097       1
-9.526672       1
-39.091966      1
-8.388770       1
-6.762784       1
-18.760892      1
-15.683985      1
-18.195000      1
-19.814103      1
-32.229077      1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 166062, dtype: int64
2018-07-06 20:43:21,231 logger 29 [INFO]    [make_npy] -9.000000      79
-11.250000     74
-15.000000     69
-45.000000     61
-22.500000     60
-4.500000      56
-18.000000     55
-6.428571      54
-13.235294     54
-14.516129     53
-16.071429     52
-7.500000      50
-8.653846      50
-14.062500     49
-20.454545     49
-12.500000     49
-19.565217     48
-30.000000     48
-18.750000     47
-13.636364     47
-17.307692     47
-13.500000     47
-25.000000     47
-8.035714      46
-11.538462     46
-15.517241     46
-9.782609      44
-10.465116     44
-13.081395     44
-6.000000      44
-9.375000      43
-11.842105     43
-10.714286     43
-12.857143     42
-34.615385     42
-12.162162     41
-25.714286     41
-11.718750     41
-25.862069     40
-8.181818      40
-17.045455     39
-5.625000      39
-10.000000     39
-23.684211     39
-12.000000     38
-6.617647      38
-27.272727     38
-10.975610     38
-7.258065      37
-10.227273     37
               ..
-15.039788      1
-5.642074       1
-26.618389      1
-20.385906      1
-14.129032      1
-8.981670       1
-6.513301       1
-6.696527       1
-3.626374       1
-14.190065      1
-9.635734       1
-14.397248      1
-19.830479      1
-8.952627       1
-10.612717      1
-0.008077       1
-160.585396     1
-11.587660      1
-3.006667       1
-41.117647      1
-5.409015       1
-21.629464      1
-5.840253       1
-10.303448      1
-6.214642       1
-27.014218      1
-40.161558      1
-83.140244      1
-14.088950      1
-8.040789       1
-21.281955      1
-0.001120       1
-15.161215      1
-7.036680       1
-8.596057       1
-34.129918      1
-64.226596      1
-16.844839      1
-19.813820      1
-20.616740      1
-6.850097       1
-9.526672       1
-39.091966      1
-8.388770       1
-6.762784       1
-18.760892      1
-15.683985      1
-18.195000      1
-19.814103      1
-32.229077      1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 166062, dtype: int64
2018-07-06 20:43:21,267 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:43:21,267 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:43:21,435 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:21,435 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:21,573 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:21,573 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:21,607 logger 29 [INFO]    [make_npy] -9.000000     124
-4.500000     119
-11.250000     99
-7.500000      87
-15.000000     86
-6.428571      85
-12.500000     84
-13.235294     77
-8.653846      77
-8.035714      77
-5.625000      73
-22.500000     73
-14.516129     72
-13.636364     71
-11.538462     70
-12.857143     68
-16.071429     68
-9.375000      68
-18.000000     67
-11.842105     67
-10.975610     67
-7.258065      66
-12.162162     66
-10.000000     65
-6.617647      65
-10.714286     65
-13.392857     64
-9.574468      64
-10.465116     63
-19.565217     62
-11.718750     61
-8.181818      61
-8.333333      61
-6.923077      61
-12.000000     61
-20.454545     61
-13.081395     60
-9.782609      60
-6.000000      60
-6.081081      60
-14.062500     60
-8.823529      59
-18.750000     59
-11.597938     59
-45.000000     58
-13.595166     58
-25.000000     57
-5.000000      57
-15.517241     56
-4.090909      56
             ...
-63.882834      1
-6.366953       1
-34.688742      1
-8.803089       1
-74.575071      1
-16.158333      1
-33.852475      1
-19.459239      1
-18.956084      1
-38.032007      1
-3.092179       1
-49.525140      1
-22.104396      1
-15.570194      1
-26.269947      1
-4.776151       1
-25.657895      1
-51.328125      1
-4.160896       1
-6.029862       1
-6.012417       1
-7.813262       1
-8.548387       1
-8.260807       1
-0.002941       1
-19.081272      1
-43.946029      1
-4.405858       1
-14.731651      1
-58.251969      1
-18.904018      1
-6.739437       1
-91.820122      1
-12.948000      1
-19.779851      1
-9.485961       1
-30.845588      1
-5.206469       1
-3.092806       1
-39.610778      1
-24.611437      1
-4.613153       1
-14.471761      1
-16.064590      1
-10.680723      1
-13.804054      1
-37.275559      1
-3.220172       1
-15.213462      1
-11.569030      1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 137466, dtype: int64

2018-07-06 20:43:21,607 logger 29 [INFO]    [make_npy] -9.000000     124
-4.500000     119
-11.250000     99
-7.500000      87
-15.000000     86
-6.428571      85
-12.500000     84
-13.235294     77
-8.653846      77
-8.035714      77
-5.625000      73
-22.500000     73
-14.516129     72
-13.636364     71
-11.538462     70
-12.857143     68
-16.071429     68
-9.375000      68
-18.000000     67
-11.842105     67
-10.975610     67
-7.258065      66
-12.162162     66
-10.000000     65
-6.617647      65
-10.714286     65
-13.392857     64
-9.574468      64
-10.465116     63
-19.565217     62
-11.718750     61
-8.181818      61
-8.333333      61
-6.923077      61
-12.000000     61
-20.454545     61
-13.081395     60
-9.782609      60
-6.000000      60
-6.081081      60
-14.062500     60
-8.823529      59
-18.750000     59
-11.597938     59
-45.000000     58
-13.595166     58
-25.000000     57
-5.000000      57
-15.517241     56
-4.090909      56
             ...
-63.882834      1
-6.366953       1
-34.688742      1
-8.803089       1
-74.575071      1
-16.158333      1
-33.852475      1
-19.459239      1
-18.956084      1
-38.032007      1
-3.092179       1
-49.525140      1
-22.104396      1
-15.570194      1
-26.269947      1
-4.776151       1
-25.657895      1
-51.328125      1
-4.160896       1
-6.029862       1
-6.012417       1
-7.813262       1
-8.548387       1
-8.260807       1
-0.002941       1
-19.081272      1
-43.946029      1
-4.405858       1
-14.731651      1
-58.251969      1
-18.904018      1
-6.739437       1
-91.820122      1
-12.948000      1
-19.779851      1
-9.485961       1
-30.845588      1
-5.206469       1
-3.092806       1
-39.610778      1
-24.611437      1
-4.613153       1
-14.471761      1
-16.064590      1
-10.680723      1
-13.804054      1
-37.275559      1
-3.220172       1
-15.213462      1
-11.569030      1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 137466, dtype: int64
2018-07-06 20:43:21,653 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:43:21,653 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:43:21,826 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:21,826 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:21,962 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:21,962 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:21,996 logger 29 [INFO]    [make_npy] -9.000000     98
-15.000000    88
-45.000000    82
-22.500000    82
-11.250000    81
-20.454545    80
-18.000000    76
-13.235294    74
-13.636364    72
-19.565217    71
-30.000000    70
-14.516129    70
-16.071429    67
-18.750000    67
-25.862069    65
-6.428571     64
-12.857143    64
-8.653846     64
-25.000000    63
-14.062500    63
-32.142857    63
-17.307692    61
-34.615385    61
-11.538462    61
-27.272727    61
-16.544118    60
-13.081395    60
-25.714286    60
-26.470588    58
-23.684211    58
-12.162162    57
-7.500000     57
-10.975610    57
-21.428571    56
-15.517241    56
-11.842105    56
-12.500000    56
-13.473054    55
-9.183673     55
-12.362637    54
-4.500000     54
-23.936170    54
-26.162791    54
-28.846154    53
-19.911504    53
-17.045455    53
-11.479592    53
-40.178571    53
-20.089286    52
-11.718750    52
              ..
-4.774536      1
-6.450000      1
-95.706052     1
-14.671084     1
-19.720879     1
-14.741772     1
-20.336683     1
-9.624088      1
-36.774336     1
-18.822259     1
-16.444954     1
-61.773245     1
-7.900411      1
-8.246411      1
-48.111111     1
-21.854167     1
-36.025281     1
-16.296644     1
-7.520806      1
-10.084158     1
-49.259124     1
-7.329357      1
-6.880240      1
-63.090452     1
-22.796486     1
-19.953237     1
-39.593525     1
-9.990933      1
-7.372014      1
-3.419725      1
-2.903008      1
-15.754386     1
-44.646597     1
-51.799127     1
-22.438305     1
-16.850275     1
-44.918288     1
-21.516807     1
-52.347913     1
-5.068966      1
-8.570975      1
-25.522868     1
-60.889175     1
-9.873786      1
-41.444142     1
-7.260504      1
-23.168904     1
-17.385491     1
-11.294466     1
-31.082727     1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 139432, dtype: int64
2018-07-06 20:43:21,996 logger 29 [INFO]    [make_npy] -9.000000     98
-15.000000    88
-45.000000    82
-22.500000    82
-11.250000    81
-20.454545    80
-18.000000    76
-13.235294    74
-13.636364    72
-19.565217    71
-30.000000    70
-14.516129    70
-16.071429    67
-18.750000    67
-25.862069    65
-6.428571     64
-12.857143    64
-8.653846     64
-25.000000    63
-14.062500    63
-32.142857    63
-17.307692    61
-34.615385    61
-11.538462    61
-27.272727    61
-16.544118    60
-13.081395    60
-25.714286    60
-26.470588    58
-23.684211    58
-12.162162    57
-7.500000     57
-10.975610    57
-21.428571    56
-15.517241    56
-11.842105    56
-12.500000    56
-13.473054    55
-9.183673     55
-12.362637    54
-4.500000     54
-23.936170    54
-26.162791    54
-28.846154    53
-19.911504    53
-17.045455    53
-11.479592    53
-40.178571    53
-20.089286    52
-11.718750    52
              ..
-4.774536      1
-6.450000      1
-95.706052     1
-14.671084     1
-19.720879     1
-14.741772     1
-20.336683     1
-9.624088      1
-36.774336     1
-18.822259     1
-16.444954     1
-61.773245     1
-7.900411      1
-8.246411      1
-48.111111     1
-21.854167     1
-36.025281     1
-16.296644     1
-7.520806      1
-10.084158     1
-49.259124     1
-7.329357      1
-6.880240      1
-63.090452     1
-22.796486     1
-19.953237     1
-39.593525     1
-9.990933      1
-7.372014      1
-3.419725      1
-2.903008      1
-15.754386     1
-44.646597     1
-51.799127     1
-22.438305     1
-16.850275     1
-44.918288     1
-21.516807     1
-52.347913     1
-5.068966      1
-8.570975      1
-25.522868     1
-60.889175     1
-9.873786      1
-41.444142     1
-7.260504      1
-23.168904     1
-17.385491     1
-11.294466     1
-31.082727     1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 139432, dtype: int64
2018-07-06 20:43:22,051 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:43:22,051 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:43:22,211 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:22,211 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:22,372 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:22,372 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:22,446 logger 29 [INFO]    [make_npy] 0.000000     765
3.181981      18
1.590990      13
6.363961      12
3.977476      11
10.606602      8
5.303301       8
2.121320       8
2.386485       7
31.819805      7
12.238387      7
0.795495       7
15.909903      7
28.410540      6
1.325825       6
12.727922      6
8.599947       6
9.943689       6
1.060660       6
4.111086       6
7.954951       6
16.747266      5
4.346968       5
0.707107       5
6.119193       5
14.318912      5
4.772971       5
3.104371       5
3.535534       5
9.545942       5
3.909067       5
2.545584       5
12.007474      5
4.419417       5
2.474874       5
4.220133       5
8.485281       5
63.639610      4
2.719641       4
2.828427       4
3.059597       4
8.076093       4
7.685943       4
4.299974       4
10.264453      4
6.629126       4
2.892710       4
0.088388       4
13.523417      4
4.253985       4
            ...
10.414065      1
6.321816       1
2.104109       1
3.609613       1
7.379747       1
0.269245       1
13.648072      1
7.195238       1
18.404753      1
54.981454      1
17.107422      1
2.202085       1
6.213792       1
5.599830       1
0.559065       1
5.055581       1
7.850787       1
32.157136      1
5.269434       1
11.665446      1
0.666647       1
26.275889      1
15.932311      1
18.198696      1
2.263471       1
5.252444       1
5.846359       1
12.861763      1
1.676413       1
3.857891       1
25.241966      1
10.795764      1
3.130750       1
3.304733       1
29.946918      1
51.196429      1
3.729353       1
6.567233       1
23.625756      1
30.683543      1
8.385219       1
11.394930      1
2.453588       1
5.350126       1
9.077018       1
6.239873       1
17.645684      1
4.103745       1
33.049099      1
5.663748       1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 78289, dtype: int64

2018-07-06 20:43:22,446 logger 29 [INFO]    [make_npy] 0.000000     765
3.181981      18
1.590990      13
6.363961      12
3.977476      11
10.606602      8
5.303301       8
2.121320       8
2.386485       7
31.819805      7
12.238387      7
0.795495       7
15.909903      7
28.410540      6
1.325825       6
12.727922      6
8.599947       6
9.943689       6
1.060660       6
4.111086       6
7.954951       6
16.747266      5
4.346968       5
0.707107       5
6.119193       5
14.318912      5
4.772971       5
3.104371       5
3.535534       5
9.545942       5
3.909067       5
2.545584       5
12.007474      5
4.419417       5
2.474874       5
4.220133       5
8.485281       5
63.639610      4
2.719641       4
2.828427       4
3.059597       4
8.076093       4
7.685943       4
4.299974       4
10.264453      4
6.629126       4
2.892710       4
0.088388       4
13.523417      4
4.253985       4
            ...
10.414065      1
6.321816       1
2.104109       1
3.609613       1
7.379747       1
0.269245       1
13.648072      1
7.195238       1
18.404753      1
54.981454      1
17.107422      1
2.202085       1
6.213792       1
5.599830       1
0.559065       1
5.055581       1
7.850787       1
32.157136      1
5.269434       1
11.665446      1
0.666647       1
26.275889      1
15.932311      1
18.198696      1
2.263471       1
5.252444       1
5.846359       1
12.861763      1
1.676413       1
3.857891       1
25.241966      1
10.795764      1
3.130750       1
3.304733       1
29.946918      1
51.196429      1
3.729353       1
6.567233       1
23.625756      1
30.683543      1
8.385219       1
11.394930      1
2.453588       1
5.350126       1
9.077018       1
6.239873       1
17.645684      1
4.103745       1
33.049099      1
5.663748       1
Name: AMT_DOWN_PAYMENT_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 78289, dtype: int64
2018-07-06 20:43:22,561 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:22,561 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:22,710 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:22,710 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:22,861 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:22,861 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:22,941 logger 29 [INFO]    [make_npy]  0.000000       135083
-450.000000        365
-225.000000        321
-562.500000        320
-1125.000000       314
-750.000000        282
-375.000000        278
-900.000000        256
-300.000000        238
-90.000000         233
-112.500000        232
-2250.000000       224
-281.250000        222
-150.000000        222
-1500.000000       218
-321.428571        216
-642.857143        210
-250.000000        203
-180.000000        187
-187.500000        185
-409.090909        185
-160.714286        180
-500.000000        169
-346.153846        167
-173.076923        167
-204.545455        162
-75.000000         162
-675.000000        154
-140.625000        141
-132.352941        141
-118.421053        140
-125.000000        136
-264.705882        132
-45.000000         131
-214.285714        131
-236.842105        130
-337.500000        130
-270.000000        127
-195.652174        127
-1350.000000       125
-166.666667        123
-128.571429        121
-135.000000        118
-56.250000         117
-4500.000000       114
-1800.000000       111
-97.826087         109
-600.000000        108
-107.142857        108
-102.272727        107
                 ...
-427.403571          1
-157.140000          1
-36.093750           1
-19.436747           1
-149.613402          1
-11.972872           1
-32.773256           1
-329.950658          1
-2943.000000         1
-1870.488409         1
-155.274725          1
-192.352941          1
-63.887324           1
-837.562500          1
-104.718750          1
-196.071429          1
-41.916667           1
-185.639241          1
-625.408475          1
-43.683319           1
-199.607143          1
-300.078947          1
-2788.200000         1
-3.030303            1
-253.741935          1
-76.363636           1
-170.940566          1
-189.236842          1
-133.987500          1
-1348.714286         1
-73.514851           1
-19.959494           1
-31.363043           1
-223.578947          1
-520.269231          1
-101.351613          1
-217.221429          1
-1510.392857         1
-2385.833077         1
-335.660377          1
-252.311321          1
-296.316242          1
-275.962925          1
-2829.000000         1
-503.700000          1
-1236.103448         1
-58.207925           1
-57.831480           1
-500.850000          1
-521.941103          1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 115557, dtype: int64
2018-07-06 20:43:22,941 logger 29 [INFO]    [make_npy]  0.000000       135083
-450.000000        365
-225.000000        321
-562.500000        320
-1125.000000       314
-750.000000        282
-375.000000        278
-900.000000        256
-300.000000        238
-90.000000         233
-112.500000        232
-2250.000000       224
-281.250000        222
-150.000000        222
-1500.000000       218
-321.428571        216
-642.857143        210
-250.000000        203
-180.000000        187
-187.500000        185
-409.090909        185
-160.714286        180
-500.000000        169
-346.153846        167
-173.076923        167
-204.545455        162
-75.000000         162
-675.000000        154
-140.625000        141
-132.352941        141
-118.421053        140
-125.000000        136
-264.705882        132
-45.000000         131
-214.285714        131
-236.842105        130
-337.500000        130
-270.000000        127
-195.652174        127
-1350.000000       125
-166.666667        123
-128.571429        121
-135.000000        118
-56.250000         117
-4500.000000       114
-1800.000000       111
-97.826087         109
-600.000000        108
-107.142857        108
-102.272727        107
                 ...
-427.403571          1
-157.140000          1
-36.093750           1
-19.436747           1
-149.613402          1
-11.972872           1
-32.773256           1
-329.950658          1
-2943.000000         1
-1870.488409         1
-155.274725          1
-192.352941          1
-63.887324           1
-837.562500          1
-104.718750          1
-196.071429          1
-41.916667           1
-185.639241          1
-625.408475          1
-43.683319           1
-199.607143          1
-300.078947          1
-2788.200000         1
-3.030303            1
-253.741935          1
-76.363636           1
-170.940566          1
-189.236842          1
-133.987500          1
-1348.714286         1
-73.514851           1
-19.959494           1
-31.363043           1
-223.578947          1
-520.269231          1
-101.351613          1
-217.221429          1
-1510.392857         1
-2385.833077         1
-335.660377          1
-252.311321          1
-296.316242          1
-275.962925          1
-2829.000000         1
-503.700000          1
-1236.103448         1
-58.207925           1
-57.831480           1
-500.850000          1
-521.941103          1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 115557, dtype: int64
2018-07-06 20:43:22,974 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:22,974 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:23,138 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:23,138 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:43:23,257 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:23,257 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:23,323 logger 29 [INFO]    [make_npy] -450.000000     359
-562.500000     336
-225.000000     334
-1125.000000    293
-375.000000     282
-750.000000     275
-112.500000     240
-300.000000     238
-900.000000     228
-281.250000     225
-150.000000     221
-90.000000      220
-1500.000000    219
-321.428571     216
-642.857143     205
-2250.000000    205
-187.500000     194
-250.000000     194
-180.000000     193
-160.714286     183
-409.090909     182
-500.000000     175
-75.000000      175
-204.545455     168
-173.076923     167
-346.153846     164
-140.625000     159
-45.000000      152
-125.000000     150
-675.000000     150
-337.500000     142
-132.352941     142
-118.421053     140
-214.285714     135
-195.652174     131
-56.250000      130
-270.000000     128
-264.705882     128
-128.571429     127
-236.842105     125
-166.666667     121
-93.750000      120
-135.000000     116
-97.826087      110
-100.000000     110
-1350.000000    110
-4500.000000    109
-136.363636     108
-64.285714      108
-102.272727     105
               ...
-155.975806       1
-36.945266        1
-141.315789       1
-348.833333       1
-52.437500        1
-39.521739        1
-210.163043       1
-612.720000       1
-8.721544         1
-213.772277       1
-123.853211       1
-20.205000        1
-88.155738        1
-43.972603        1
-368.942308       1
-103.215789       1
-41.449704        1
-88.850357        1
-118.493917       1
-132.637500       1
-164.469512       1
-255.795779       1
-130.692308       1
-114.070755       1
-24.233866        1
-369.230769       1
-115.545918       1
-209.742188       1
-302.469828       1
-22.350993        1
-36.275676        1
-24.950495        1
-511.601351       1
-440.481818       1
-325.282500       1
-25.860000        1
-21.980144        1
-149.911765       1
-786.535714       1
-137.126712       1
-10.810056        1
-32.872993        1
-210.656250       1
-532.575000       1
-11.012085        1
-157.450000       1
-30.080442        1
-39.557143        1
-144.987245       1
-166.038462       1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 115904, dtype: int64
2018-07-06 20:43:23,323 logger 29 [INFO]    [make_npy] -450.000000     359
-562.500000     336
-225.000000     334
-1125.000000    293
-375.000000     282
-750.000000     275
-112.500000     240
-300.000000     238
-900.000000     228
-281.250000     225
-150.000000     221
-90.000000      220
-1500.000000    219
-321.428571     216
-642.857143     205
-2250.000000    205
-187.500000     194
-250.000000     194
-180.000000     193
-160.714286     183
-409.090909     182
-500.000000     175
-75.000000      175
-204.545455     168
-173.076923     167
-346.153846     164
-140.625000     159
-45.000000      152
-125.000000     150
-675.000000     150
-337.500000     142
-132.352941     142
-118.421053     140
-214.285714     135
-195.652174     131
-56.250000      130
-270.000000     128
-264.705882     128
-128.571429     127
-236.842105     125
-166.666667     121
-93.750000      120
-135.000000     116
-97.826087      110
-100.000000     110
-1350.000000    110
-4500.000000    109
-136.363636     108
-64.285714      108
-102.272727     105
               ...
-155.975806       1
-36.945266        1
-141.315789       1
-348.833333       1
-52.437500        1
-39.521739        1
-210.163043       1
-612.720000       1
-8.721544         1
-213.772277       1
-123.853211       1
-20.205000        1
-88.155738        1
-43.972603        1
-368.942308       1
-103.215789       1
-41.449704        1
-88.850357        1
-118.493917       1
-132.637500       1
-164.469512       1
-255.795779       1
-130.692308       1
-114.070755       1
-24.233866        1
-369.230769       1
-115.545918       1
-209.742188       1
-302.469828       1
-22.350993        1
-36.275676        1
-24.950495        1
-511.601351       1
-440.481818       1
-325.282500       1
-25.860000        1
-21.980144        1
-149.911765       1
-786.535714       1
-137.126712       1
-10.810056        1
-32.872993        1
-210.656250       1
-532.575000       1
-11.012085        1
-157.450000       1
-30.080442        1
-39.557143        1
-144.987245       1
-166.038462       1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 115904, dtype: int64
2018-07-06 20:43:23,345 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:43:23,345 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:43:23,476 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:23,476 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:23,574 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:23,574 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:23,598 logger 29 [INFO]    [make_npy] -450.000000     505
-225.000000     478
-562.500000     425
-750.000000     383
-1125.000000    371
-375.000000     370
-112.500000     369
-150.000000     347
-90.000000      342
-900.000000     324
-321.428571     321
-300.000000     311
-281.250000     306
-180.000000     298
-160.714286     294
-642.857143     290
-75.000000      285
-187.500000     280
-250.000000     277
-1500.000000    276
-45.000000      270
-204.545455     254
-173.076923     253
-2250.000000    244
-346.153846     244
-56.250000      237
-140.625000     237
-409.090909     234
-500.000000     223
-125.000000     221
-128.571429     215
-64.285714      211
-118.421053     207
-132.352941     204
-93.750000      201
-236.842105     193
-214.285714     191
-264.705882     188
-102.272727     188
-675.000000     183
-195.652174     183
-100.000000     181
-97.826087      180
-135.000000     179
-166.666667     177
-337.500000     172
-107.142857     170
-50.000000      170
-86.538462      161
-80.357143      157
               ...
-104.255097       1
-853.799286       1
-23.445860        1
-15.795918        1
-18.283019        1
-14.020408        1
-160.137931       1
-14.427835        1
-174.128571       1
-31.715311        1
-8.827273         1
-6975.000000      1
-30.385714        1
-34.533708        1
-102.456522       1
-778.335000       1
-828.250000       1
-987.136364       1
-167.956579       1
-82.358491        1
-11.107895        1
-31.875949        1
-321.132743       1
-13.230000        1
-2615.142857      1
-99.536697        1
-73.920000        1
-111.559701       1
-80.029412        1
-239.776119       1
-240.517241       1
-100.753247       1
-40.161290        1
-0.023011         1
-1609.615385      1
-160.150685       1
-416.454545       1
-0.065391         1
-33.829949        1
-142.174528       1
-22.287162        1
-991.858125       1
-160.354839       1
-1586.911765      1
-299.491071       1
-23.130000        1
-51.324474        1
-13.129747        1
-868.050000       1
-5.394578         1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 86888, dtype: int64
2018-07-06 20:43:23,598 logger 29 [INFO]    [make_npy] -450.000000     505
-225.000000     478
-562.500000     425
-750.000000     383
-1125.000000    371
-375.000000     370
-112.500000     369
-150.000000     347
-90.000000      342
-900.000000     324
-321.428571     321
-300.000000     311
-281.250000     306
-180.000000     298
-160.714286     294
-642.857143     290
-75.000000      285
-187.500000     280
-250.000000     277
-1500.000000    276
-45.000000      270
-204.545455     254
-173.076923     253
-2250.000000    244
-346.153846     244
-56.250000      237
-140.625000     237
-409.090909     234
-500.000000     223
-125.000000     221
-128.571429     215
-64.285714      211
-118.421053     207
-132.352941     204
-93.750000      201
-236.842105     193
-214.285714     191
-264.705882     188
-102.272727     188
-675.000000     183
-195.652174     183
-100.000000     181
-97.826087      180
-135.000000     179
-166.666667     177
-337.500000     172
-107.142857     170
-50.000000      170
-86.538462      161
-80.357143      157
               ...
-104.255097       1
-853.799286       1
-23.445860        1
-15.795918        1
-18.283019        1
-14.020408        1
-160.137931       1
-14.427835        1
-174.128571       1
-31.715311        1
-8.827273         1
-6975.000000      1
-30.385714        1
-34.533708        1
-102.456522       1
-778.335000       1
-828.250000       1
-987.136364       1
-167.956579       1
-82.358491        1
-11.107895        1
-31.875949        1
-321.132743       1
-13.230000        1
-2615.142857      1
-99.536697        1
-73.920000        1
-111.559701       1
-80.029412        1
-239.776119       1
-240.517241       1
-100.753247       1
-40.161290        1
-0.023011         1
-1609.615385      1
-160.150685       1
-416.454545       1
-0.065391         1
-33.829949        1
-142.174528       1
-22.287162        1
-991.858125       1
-160.354839       1
-1586.911765      1
-299.491071       1
-23.130000        1
-51.324474        1
-13.129747        1
-868.050000       1
-5.394578         1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 86888, dtype: int64

2018-07-06 20:43:23,642 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:43:23,642 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:43:23,789 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:23,789 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:23,892 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:23,892 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:23,938 logger 29 [INFO]    [make_npy] -450.000000     503
-225.000000     472
-1125.000000    463
-562.500000     460
-750.000000     441
-375.000000     413
-900.000000     385
-1500.000000    364
-2250.000000    361
-321.428571     341
-300.000000     338
-150.000000     332
-642.857143     329
-112.500000     319
-281.250000     316
-409.090909     300
-250.000000     299
-346.153846     284
-90.000000      282
-187.500000     280
-180.000000     273
-173.076923     273
-160.714286     264
-500.000000     262
-204.545455     250
-264.705882     234
-236.842105     222
-75.000000      213
-214.285714     212
-140.625000     211
-675.000000     204
-132.352941     203
-125.000000     202
-4500.000000    199
-195.652174     196
-337.500000     192
-45.000000      187
-166.666667     185
-118.421053     185
-128.571429     182
-1800.000000    182
-1285.714286    172
-97.826087      169
-93.750000      164
-145.161290     163
-100.000000     160
-270.000000     160
-1350.000000    158
-600.000000     158
-360.000000     154
               ...
-98.838323        1
-136.644231       1
-57.844780        1
-242.375000       1
-32.686364        1
-124.290503       1
-27.743478        1
-158.214286       1
-66.462963        1
-24.101695        1
-15.783582        1
-841.764706       1
-98.241573        1
-1085.142857      1
-56.975075        1
-170.670000       1
-24.737500        1
-283.108696       1
-21.256098        1
-9.567823         1
-55.551724        1
-37.569767        1
-12.195167        1
-130.794393       1
-82.153846        1
-353.479592       1
-35.085366        1
-210.724138       1
-35.004425        1
-49.816901        1
-25.632728        1
-40.181102        1
-33.696429        1
-32.152174        1
-786.423913       1
-9.496753         1
-2260.636364      1
-71.861538        1
-33.228000        1
-0.053036         1
-2233.928571      1
-37.114330        1
-342.290323       1
-172.767857       1
-115.923313       1
-99.424528        1
-71.074766        1
-26.241279        1
-48.661765        1
-5.394578         1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 91003, dtype: int64
2018-07-06 20:43:23,938 logger 29 [INFO]    [make_npy] -450.000000     503
-225.000000     472
-1125.000000    463
-562.500000     460
-750.000000     441
-375.000000     413
-900.000000     385
-1500.000000    364
-2250.000000    361
-321.428571     341
-300.000000     338
-150.000000     332
-642.857143     329
-112.500000     319
-281.250000     316
-409.090909     300
-250.000000     299
-346.153846     284
-90.000000      282
-187.500000     280
-180.000000     273
-173.076923     273
-160.714286     264
-500.000000     262
-204.545455     250
-264.705882     234
-236.842105     222
-75.000000      213
-214.285714     212
-140.625000     211
-675.000000     204
-132.352941     203
-125.000000     202
-4500.000000    199
-195.652174     196
-337.500000     192
-45.000000      187
-166.666667     185
-118.421053     185
-128.571429     182
-1800.000000    182
-1285.714286    172
-97.826087      169
-93.750000      164
-145.161290     163
-100.000000     160
-270.000000     160
-1350.000000    158
-600.000000     158
-360.000000     154
               ...
-98.838323        1
-136.644231       1
-57.844780        1
-242.375000       1
-32.686364        1
-124.290503       1
-27.743478        1
-158.214286       1
-66.462963        1
-24.101695        1
-15.783582        1
-841.764706       1
-98.241573        1
-1085.142857      1
-56.975075        1
-170.670000       1
-24.737500        1
-283.108696       1
-21.256098        1
-9.567823         1
-55.551724        1
-37.569767        1
-12.195167        1
-130.794393       1
-82.153846        1
-353.479592       1
-35.085366        1
-210.724138       1
-35.004425        1
-49.816901        1
-25.632728        1
-40.181102        1
-33.696429        1
-32.152174        1
-786.423913       1
-9.496753         1
-2260.636364      1
-71.861538        1
-33.228000        1
-0.053036         1
-2233.928571      1
-37.114330        1
-342.290323       1
-172.767857       1
-115.923313       1
-99.424528        1
-71.074766        1
-26.241279        1
-48.661765        1
-5.394578         1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 91003, dtype: int64
2018-07-06 20:43:23,987 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:43:23,987 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:43:24,097 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:24,097 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:24,201 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:24,201 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:24,225 logger 29 [INFO]    [make_npy] 0.000000       661
106.066017      49
159.099026      48
318.198052      44
31.819805       40
15.909903       35
79.549513       34
63.639610       33
53.033009       29
198.873782      29
6.363961        28
39.774756       28
530.330086      27
47.729708       27
636.396103      26
12.727922       25
3.181981        25
397.747564      23
127.279221      23
19.091883       22
38.183766       22
795.495129      21
9.545942        21
265.165043      21
21.213203       20
212.132034      19
1590.990258     19
95.459415       18
477.297077      18
7.954951        18
132.582521      17
35.355339       17
176.776695      17
42.426407       16
10.606602       16
26.516504       16
227.284323      16
119.324269      14
19.887378       14
190.918831      14
254.558441      14
113.642161      14
99.436891       14
103.414367      13
2.121320        13
93.587662       13
17.677670       13
954.594155      13
66.291261       12
238.648539      12
              ...
85.942401        1
230.610125       1
333.184934       1
1.088572         1
502.931961       1
2084.727568      1
76.857068        1
58.474243        1
53.804153        1
18.901914        1
29.672711        1
34.014274        1
78.641362        1
32.100568        1
7.277051         1
10.926089        1
69.950538        1
140.677033       1
121.435339       1
25.478654        1
135.286274       1
33.102862        1
403.057329       1
610.177747       1
183.931944       1
932.372342       1
3.545197         1
69.482309        1
205.897540       1
13.275930        1
73.919855        1
27.439053        1
43.748067        1
326.607571       1
214.313485       1
56.178528        1
79.019183        1
11.664458        1
1924.674059      1
6.461038         1
10.600151        1
13.520242        1
25.814377        1
0.462021         1
68.382562        1
110.460204       1
154.627313       1
16.647767        1
33.116168        1
177.335001       1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 63404, dtype: int64
2018-07-06 20:43:24,225 logger 29 [INFO]    [make_npy] 0.000000       661
106.066017      49
159.099026      48
318.198052      44
31.819805       40
15.909903       35
79.549513       34
63.639610       33
53.033009       29
198.873782      29
6.363961        28
39.774756       28
530.330086      27
47.729708       27
636.396103      26
12.727922       25
3.181981        25
397.747564      23
127.279221      23
19.091883       22
38.183766       22
795.495129      21
9.545942        21
265.165043      21
21.213203       20
212.132034      19
1590.990258     19
95.459415       18
477.297077      18
7.954951        18
132.582521      17
35.355339       17
176.776695      17
42.426407       16
10.606602       16
26.516504       16
227.284323      16
119.324269      14
19.887378       14
190.918831      14
254.558441      14
113.642161      14
99.436891       14
103.414367      13
2.121320        13
93.587662       13
17.677670       13
954.594155      13
66.291261       12
238.648539      12
              ...
85.942401        1
230.610125       1
333.184934       1
1.088572         1
502.931961       1
2084.727568      1
76.857068        1
58.474243        1
53.804153        1
18.901914        1
29.672711        1
34.014274        1
78.641362        1
32.100568        1
7.277051         1
10.926089        1
69.950538        1
140.677033       1
121.435339       1
25.478654        1
135.286274       1
33.102862        1
403.057329       1
610.177747       1
183.931944       1
932.372342       1
3.545197         1
69.482309        1
205.897540       1
13.275930        1
73.919855        1
27.439053        1
43.748067        1
326.607571       1
214.313485       1
56.178528        1
79.019183        1
11.664458        1
1924.674059      1
6.461038         1
10.600151        1
13.520242        1
25.814377        1
0.462021         1
68.382562        1
110.460204       1
154.627313       1
16.647767        1
33.116168        1
177.335001       1
Name: AMT_DOWN_PAYMENT_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 63404, dtype: int64

2018-07-06 20:43:24,273 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:24,273 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:24,410 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:24,410 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:24,494 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:24,494 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:24,526 logger 29 [INFO]    [make_npy]  0.000000       99176
 inf             1348
-225.000000       189
-450.000000       184
-90.000000        175
-45.000000        166
-112.500000       162
-2250.000000      146
-150.000000       138
-1125.000000      136
-75.000000        133
-562.500000       129
-750.000000       127
-900.000000       126
-321.428571       122
-375.000000       121
-180.000000       121
-4500.000000      121
-56.250000        118
-281.250000       116
-140.625000       113
-250.000000       112
-50.000000        112
-132.352941       107
-37.500000        107
-22.500000        107
-60.000000        104
-30.000000        103
-187.500000       103
-300.000000       101
-70.312500        101
-32.142857         98
-86.538462         96
-100.000000        95
-160.714286        94
-173.076923        94
-62.500000         94
-204.545455        93
-64.285714         92
-80.357143         92
-118.421053        92
-155.172414        91
-93.750000         89
-642.857143        87
-264.705882        87
-409.090909        87
-102.272727        87
-107.142857        86
-145.161290        86
-53.571429         86
                ...
-50.561798          1
-186.986842         1
-99.500000          1
-124.384615         1
-67.108696          1
-201.239130         1
-17.761146          1
-27.159292          1
-279.675000         1
-119.763780         1
-130.884146         1
-211.562500         1
-15.066964          1
-207.780985         1
-45.185294          1
-61.840491          1
-167.758621         1
-52.721053          1
-186.934091         1
-194.823529         1
-47.910430          1
-16.096774          1
-128.225806         1
-78.322785          1
-96.898897          1
-55.477099          1
-3.249097           1
-177.731422         1
-378.066176         1
-233.123377         1
-171.772734         1
-104.105769         1
-56.633333          1
-166.386076         1
-389.106383         1
-329.625000         1
-224.787500         1
-3587.400000        1
-157.075472         1
-59.153226          1
-960.967742         1
-93.659341          1
-32.990260          1
-61.193772          1
-163.805014         1
-252.517986         1
-200.079114         1
-105.364486         1
-12.253521          1
-64.083333          1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 149904, dtype: int64
2018-07-06 20:43:24,526 logger 29 [INFO]    [make_npy]  0.000000       99176
 inf             1348
-225.000000       189
-450.000000       184
-90.000000        175
-45.000000        166
-112.500000       162
-2250.000000      146
-150.000000       138
-1125.000000      136
-75.000000        133
-562.500000       129
-750.000000       127
-900.000000       126
-321.428571       122
-375.000000       121
-180.000000       121
-4500.000000      121
-56.250000        118
-281.250000       116
-140.625000       113
-250.000000       112
-50.000000        112
-132.352941       107
-37.500000        107
-22.500000        107
-60.000000        104
-30.000000        103
-187.500000       103
-300.000000       101
-70.312500        101
-32.142857         98
-86.538462         96
-100.000000        95
-160.714286        94
-173.076923        94
-62.500000         94
-204.545455        93
-64.285714         92
-80.357143         92
-118.421053        92
-155.172414        91
-93.750000         89
-642.857143        87
-264.705882        87
-409.090909        87
-102.272727        87
-107.142857        86
-145.161290        86
-53.571429         86
                ...
-50.561798          1
-186.986842         1
-99.500000          1
-124.384615         1
-67.108696          1
-201.239130         1
-17.761146          1
-27.159292          1
-279.675000         1
-119.763780         1
-130.884146         1
-211.562500         1
-15.066964          1
-207.780985         1
-45.185294          1
-61.840491          1
-167.758621         1
-52.721053          1
-186.934091         1
-194.823529         1
-47.910430          1
-16.096774          1
-128.225806         1
-78.322785          1
-96.898897          1
-55.477099          1
-3.249097           1
-177.731422         1
-378.066176         1
-233.123377         1
-171.772734         1
-104.105769         1
-56.633333          1
-166.386076         1
-389.106383         1
-329.625000         1
-224.787500         1
-3587.400000        1
-157.075472         1
-59.153226          1
-960.967742         1
-93.659341          1
-32.990260          1
-61.193772          1
-163.805014         1
-252.517986         1
-200.079114         1
-105.364486         1
-12.253521          1
-64.083333          1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 149904, dtype: int64
2018-07-06 20:43:24,574 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:24,574 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:24,692 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:24,692 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:24,787 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:24,787 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:24,818 logger 29 [INFO]    [make_npy]  inf            1348
-225.000000      196
-45.000000       175
-450.000000      167
-90.000000       165
-112.500000      165
-2250.000000     142
-1125.000000     136
-150.000000      131
-562.500000      130
-56.250000       128
-75.000000       128
-50.000000       126
-750.000000      122
-37.500000       122
-22.500000       120
-375.000000      120
-250.000000      116
-4500.000000     115
-140.625000      112
-900.000000      111
-321.428571      110
-281.250000      109
-70.312500       109
-30.000000       109
-60.000000       109
-160.714286      107
-187.500000      105
-180.000000      103
-32.142857       103
-132.352941      101
-300.000000       97
-204.545455       97
-86.538462        95
-93.750000        93
-62.500000        91
-80.357143        90
-107.142857       90
-125.000000       90
-173.076923       89
-102.272727       88
-118.421053       88
-155.172414       88
-128.571429       87
-64.285714        87
-100.000000       84
-34.615385        84
-264.705882       83
-66.176471        83
-236.842105       83
                ...
-31.683673         1
-66.348485         1
-22.824590         1
-20.964106         1
-66.357692         1
-131.759174        1
-122.518868        1
-28.536585         1
-29.554511         1
-16.141596         1
-169.480519        1
-71.440415         1
-5.031056          1
-187.403846        1
-8.949899          1
-193.036481        1
-173.693919        1
-18.293478         1
-98.112578         1
-14.782192         1
-359.513206        1
-29.834254         1
-41.142450         1
-46.837871         1
-22.050145         1
-48.175234         1
-135.511364        1
-33.862500         1
-76.308559         1
-21.273649         1
-98.205882         1
-47.497382         1
-105.046875        1
-97.805310         1
-37.571691         1
-330.816176        1
-38.089921         1
-25.042067         1
-97.903779         1
-709.710577        1
-25.433333         1
-38.281915         1
-28.244681         1
-7.990654          1
-125.253947        1
-11.450602         1
-323.863636        1
-160.431818        1
-67.782857         1
-147.492537        1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 150136, dtype: int64

2018-07-06 20:43:24,818 logger 29 [INFO]    [make_npy]  inf            1348
-225.000000      196
-45.000000       175
-450.000000      167
-90.000000       165
-112.500000      165
-2250.000000     142
-1125.000000     136
-150.000000      131
-562.500000      130
-56.250000       128
-75.000000       128
-50.000000       126
-750.000000      122
-37.500000       122
-22.500000       120
-375.000000      120
-250.000000      116
-4500.000000     115
-140.625000      112
-900.000000      111
-321.428571      110
-281.250000      109
-70.312500       109
-30.000000       109
-60.000000       109
-160.714286      107
-187.500000      105
-180.000000      103
-32.142857       103
-132.352941      101
-300.000000       97
-204.545455       97
-86.538462        95
-93.750000        93
-62.500000        91
-80.357143        90
-107.142857       90
-125.000000       90
-173.076923       89
-102.272727       88
-118.421053       88
-155.172414       88
-128.571429       87
-64.285714        87
-100.000000       84
-34.615385        84
-264.705882       83
-66.176471        83
-236.842105       83
                ...
-31.683673         1
-66.348485         1
-22.824590         1
-20.964106         1
-66.357692         1
-131.759174        1
-122.518868        1
-28.536585         1
-29.554511         1
-16.141596         1
-169.480519        1
-71.440415         1
-5.031056          1
-187.403846        1
-8.949899          1
-193.036481        1
-173.693919        1
-18.293478         1
-98.112578         1
-14.782192         1
-359.513206        1
-29.834254         1
-41.142450         1
-46.837871         1
-22.050145         1
-48.175234         1
-135.511364        1
-33.862500         1
-76.308559         1
-21.273649         1
-98.205882         1
-47.497382         1
-105.046875        1
-97.805310         1
-37.571691         1
-330.816176        1
-38.089921         1
-25.042067         1
-97.903779         1
-709.710577        1
-25.433333         1
-38.281915         1
-28.244681         1
-7.990654          1
-125.253947        1
-11.450602         1
-323.863636        1
-160.431818        1
-67.782857         1
-147.492537        1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 150136, dtype: int64
2018-07-06 20:43:24,842 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:24,842 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:24,999 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:24,999 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:25,107 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:25,107 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:25,136 logger 29 [INFO]    [make_npy]  inf            1348
-45.000000       270
-225.000000      260
-90.000000       246
-450.000000      240
-112.500000      223
-150.000000      203
-56.250000       192
-562.500000      188
-2250.000000     187
-22.500000       184
-750.000000      183
-1125.000000     179
-32.142857       175
-375.000000      175
-900.000000      174
-75.000000       171
-30.000000       169
-50.000000       169
-250.000000      167
-37.500000       167
-180.000000      163
-4500.000000     158
-15.000000       156
-140.625000      155
-64.285714       153
-321.428571      153
-160.714286      149
-187.500000      149
-28.125000       146
-281.250000      146
-204.545455      146
-86.538462       145
-118.421053      143
-62.500000       143
-132.352941      142
-60.000000       140
-128.571429      136
-70.312500       135
-173.076923      135
-93.750000       135
-300.000000      134
-34.615385       133
-102.272727      133
-25.000000       133
-100.000000      127
-51.136364       127
-80.357143       126
-40.909091       125
-18.000000       124
                ...
-102.680798        1
-13.298206         1
-23.497006         1
-80.839286         1
-18.622642         1
-30.330000         1
-333.710526        1
-368.920328        1
-59.974138         1
-15.712500         1
-60.205157         1
-6.433594          1
-53.884120         1
-17.033654         1
-171.623077        1
-79.189504         1
-73.783019         1
-20.413306         1
-26.645320         1
-29.284165         1
-38.125767         1
-45.954383         1
-19.985830         1
-98.245810         1
-0.007149          1
-80.190647         1
-510.810811        1
-257.600000        1
-80.509091         1
-106.689873        1
-2561.000000       1
-22.793478         1
-26.542623         1
-39.928793         1
-60.960938         1
-17.542683         1
-10.273352         1
-367.961538        1
-47.136364         1
-163.635341        1
-26.547847         1
-31.128571         1
-49.816901         1
-71.819095         1
-3.349876          1
-27.286404         1
-7.927245          1
-38.160650         1
-79.375000         1
-23.138060         1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 117926, dtype: int64
2018-07-06 20:43:25,136 logger 29 [INFO]    [make_npy]  inf            1348
-45.000000       270
-225.000000      260
-90.000000       246
-450.000000      240
-112.500000      223
-150.000000      203
-56.250000       192
-562.500000      188
-2250.000000     187
-22.500000       184
-750.000000      183
-1125.000000     179
-32.142857       175
-375.000000      175
-900.000000      174
-75.000000       171
-30.000000       169
-50.000000       169
-250.000000      167
-37.500000       167
-180.000000      163
-4500.000000     158
-15.000000       156
-140.625000      155
-64.285714       153
-321.428571      153
-160.714286      149
-187.500000      149
-28.125000       146
-281.250000      146
-204.545455      146
-86.538462       145
-118.421053      143
-62.500000       143
-132.352941      142
-60.000000       140
-128.571429      136
-70.312500       135
-173.076923      135
-93.750000       135
-300.000000      134
-34.615385       133
-102.272727      133
-25.000000       133
-100.000000      127
-51.136364       127
-80.357143       126
-40.909091       125
-18.000000       124
                ...
-102.680798        1
-13.298206         1
-23.497006         1
-80.839286         1
-18.622642         1
-30.330000         1
-333.710526        1
-368.920328        1
-59.974138         1
-15.712500         1
-60.205157         1
-6.433594          1
-53.884120         1
-17.033654         1
-171.623077        1
-79.189504         1
-73.783019         1
-20.413306         1
-26.645320         1
-29.284165         1
-38.125767         1
-45.954383         1
-19.985830         1
-98.245810         1
-0.007149          1
-80.190647         1
-510.810811        1
-257.600000        1
-80.509091         1
-106.689873        1
-2561.000000       1
-22.793478         1
-26.542623         1
-39.928793         1
-60.960938         1
-17.542683         1
-10.273352         1
-367.961538        1
-47.136364         1
-163.635341        1
-26.547847         1
-31.128571         1
-49.816901         1
-71.819095         1
-3.349876          1
-27.286404         1
-7.927245          1
-38.160650         1
-79.375000         1
-23.138060         1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 117926, dtype: int64
2018-07-06 20:43:25,184 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:25,184 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:25,304 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:43:25,304 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:25,420 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:25,420 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:25,455 logger 29 [INFO]    [make_npy]  inf            1348
-225.000000      256
-450.000000      237
-2250.000000     230
-1125.000000     229
-90.000000       221
-562.500000      216
-112.500000      211
-45.000000       208
-150.000000      200
-750.000000      200
-375.000000      195
-281.250000      185
-900.000000      183
-321.428571      182
-4500.000000     179
-56.250000       178
-250.000000      175
-75.000000       175
-300.000000      175
-140.625000      174
-180.000000      173
-173.076923      158
-187.500000      157
-160.714286      155
-204.545455      154
-50.000000       154
-1500.000000     150
-132.352941      150
-30.000000       145
-236.842105      143
-86.538462       143
-166.666667      142
-80.357143       140
-128.571429      140
-642.857143      139
-60.000000       139
-37.500000       138
-118.421053      137
-22.500000       136
-64.285714       135
-97.826087       135
-70.312500       134
-32.142857       133
-102.272727      133
-100.000000      132
-83.333333       130
-155.172414      128
-93.750000       128
-125.000000      128
                ...
-211.331461        1
-642.851357        1
-35.016077         1
-42.326471         1
-99.675000         1
-79.082039         1
-13.399504         1
-212.014286        1
-38.303571         1
-48.740798         1
-361.666467        1
-54.613636         1
-25.619318         1
-521.480769        1
-60.076142         1
-80.173469         1
-142.040323        1
-101.293269        1
-23.169847         1
-32.424901         1
-6.122727          1
-48.518182         1
-53.717277         1
-760.764706        1
-21.955645         1
-26.706186         1
-51.736207         1
-58.164407         1
-44.444118         1
-11.518771         1
-25.256757         1
-38.022311         1
-36.779104         1
-78.116667         1
-34.409450         1
-130.212766        1
-59.830435         1
-246.634615        1
-1146.315789       1
-108.124138        1
-285.586101        1
-39.917098         1
-355.637755        1
-8.667546          1
-48.985714         1
-11.030686         1
-94.890361         1
-210.589888        1
-754.714286        1
-67.828846         1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 121767, dtype: int64
2018-07-06 20:43:25,455 logger 29 [INFO]    [make_npy]  inf            1348
-225.000000      256
-450.000000      237
-2250.000000     230
-1125.000000     229
-90.000000       221
-562.500000      216
-112.500000      211
-45.000000       208
-150.000000      200
-750.000000      200
-375.000000      195
-281.250000      185
-900.000000      183
-321.428571      182
-4500.000000     179
-56.250000       178
-250.000000      175
-75.000000       175
-300.000000      175
-140.625000      174
-180.000000      173
-173.076923      158
-187.500000      157
-160.714286      155
-204.545455      154
-50.000000       154
-1500.000000     150
-132.352941      150
-30.000000       145
-236.842105      143
-86.538462       143
-166.666667      142
-80.357143       140
-128.571429      140
-642.857143      139
-60.000000       139
-37.500000       138
-118.421053      137
-22.500000       136
-64.285714       135
-97.826087       135
-70.312500       134
-32.142857       133
-102.272727      133
-100.000000      132
-83.333333       130
-155.172414      128
-93.750000       128
-125.000000      128
                ...
-211.331461        1
-642.851357        1
-35.016077         1
-42.326471         1
-99.675000         1
-79.082039         1
-13.399504         1
-212.014286        1
-38.303571         1
-48.740798         1
-361.666467        1
-54.613636         1
-25.619318         1
-521.480769        1
-60.076142         1
-80.173469         1
-142.040323        1
-101.293269        1
-23.169847         1
-32.424901         1
-6.122727          1
-48.518182         1
-53.717277         1
-760.764706        1
-21.955645         1
-26.706186         1
-51.736207         1
-58.164407         1
-44.444118         1
-11.518771         1
-25.256757         1
-38.022311         1
-36.779104         1
-78.116667         1
-34.409450         1
-130.212766        1
-59.830435         1
-246.634615        1
-1146.315789       1
-108.124138        1
-285.586101        1
-39.917098         1
-355.637755        1
-8.667546          1
-48.985714         1
-11.030686         1
-94.890361         1
-210.589888        1
-754.714286        1
-67.828846         1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 121767, dtype: int64
2018-07-06 20:43:25,504 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:25,504 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:25,620 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:25,620 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:25,696 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:25,696 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:25,712 logger 29 [INFO]    [make_npy] 0.000000       759
31.819805       29
7.954951        26
15.909903       25
159.099026      25
3.181981        24
79.549513       22
397.747564      22
63.639610       22
127.279221      21
10.606602       20
12.727922       19
6.363961        19
25.455844       19
47.729708       19
26.516504       19
19.091883       18
636.396103      18
106.066017      17
212.132034      17
795.495129      16
21.213203       16
265.165043      15
19.887378       15
530.330086      14
5.303301        14
38.183766       14
39.774756       14
9.545942        14
1590.990258     14
1.060660        13
13.258252       13
22.273864       13
49.718446       13
318.198052      13
1.590990        12
2.121320        12
17.677670       12
35.355339       12
37.435065       12
53.033009       12
57.275649       12
11.932427       12
44.547727       11
238.648539      11
198.873782      11
35.001786       10
95.459415       10
176.776695      10
7.071068        10
              ...
12.533603        1
229.856079       1
85.290381        1
21.745554        1
9.778702         1
46.665498        1
74.792294        1
56.113619        1
184.268956       1
17.493145        1
9.219144         1
103.700387       1
915.614893       1
12.700260        1
11.250454        1
48.367121        1
12.352941        1
78.030840        1
38.001547        1
0.992778         1
14.509831        1
3.892235         1
6.394292         1
299.343124       1
168.479504       1
599.445862       1
0.937032         1
12.730391        1
23.139055        1
129.903811       1
231.836590       1
62.000408        1
15.537014        1
178.083383       1
39.544178        1
11.494905        1
3.004968         1
5.944359         1
95.550329        1
12.926796        1
13.807325        1
52.552920        1
352.699462       1
87.543242        1
22.349147        1
2789.536252      1
41.174839        1
115.671934       1
168.770009       1
7.893759         1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 75403, dtype: int64
2018-07-06 20:43:25,712 logger 29 [INFO]    [make_npy] 0.000000       759
31.819805       29
7.954951        26
15.909903       25
159.099026      25
3.181981        24
79.549513       22
397.747564      22
63.639610       22
127.279221      21
10.606602       20
12.727922       19
6.363961        19
25.455844       19
47.729708       19
26.516504       19
19.091883       18
636.396103      18
106.066017      17
212.132034      17
795.495129      16
21.213203       16
265.165043      15
19.887378       15
530.330086      14
5.303301        14
38.183766       14
39.774756       14
9.545942        14
1590.990258     14
1.060660        13
13.258252       13
22.273864       13
49.718446       13
318.198052      13
1.590990        12
2.121320        12
17.677670       12
35.355339       12
37.435065       12
53.033009       12
57.275649       12
11.932427       12
44.547727       11
238.648539      11
198.873782      11
35.001786       10
95.459415       10
176.776695      10
7.071068        10
              ...
12.533603        1
229.856079       1
85.290381        1
21.745554        1
9.778702         1
46.665498        1
74.792294        1
56.113619        1
184.268956       1
17.493145        1
9.219144         1
103.700387       1
915.614893       1
12.700260        1
11.250454        1
48.367121        1
12.352941        1
78.030840        1
38.001547        1
0.992778         1
14.509831        1
3.892235         1
6.394292         1
299.343124       1
168.479504       1
599.445862       1
0.937032         1
12.730391        1
23.139055        1
129.903811       1
231.836590       1
62.000408        1
15.537014        1
178.083383       1
39.544178        1
11.494905        1
3.004968         1
5.944359         1
95.550329        1
12.926796        1
13.807325        1
52.552920        1
352.699462       1
87.543242        1
22.349147        1
2789.536252      1
41.174839        1
115.671934       1
168.770009       1
7.893759         1
Name: AMT_DOWN_PAYMENT_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 75403, dtype: int64

2018-07-06 20:43:25,769 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:25,769 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:25,936 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:25,936 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:26,018 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,018 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,050 logger 29 [INFO]    [make_npy] 0.000000         99346
50.000000         1780
100.000000        1641
20.000000          944
40.000000          872
25.000000          856
30.000000          769
150.000000         742
200.000000         713
33.333333          699
10.000000          618
75.000000          614
66.666667          605
60.000000          604
80.000000          453
15.000000          433
125.000000         424
250.000000         415
16.666667          403
300.000000         349
83.333333          338
120.000000         307
166.666667         306
70.000000          301
62.500000          257
133.333333         242
71.428571          238
13.464187          235
35.000000          234
12.500000          233
6.732094           225
37.500000          224
10.098140          221
55.000000          216
101.000000         213
142.857143         211
5.000000           196
90.000000          187
26.666667          185
400.000000         173
110.000000         172
13.333333          169
12.000000          168
41.666667          163
140.000000         160
3.366047           153
160.000000         152
45.000000          152
55.555556          151
53.000000          151
                 ...
229.629630           1
562.076339           1
60.535506            1
26.055237            1
78.276432            1
123.008003           1
67.147860            1
122.018181           1
336.532951           1
47.873068            1
88.363836            1
99.321550            1
16.421709            1
260.179381           1
8.272379             1
304.255319           1
39.759036            1
84.554679            1
30.695444            1
544.139807           1
25.056948            1
478.385035           1
108903.850226        1
162.815534           1
34.654037            1
23.675574            1
244.959105           1
219.297114           1
112.480740           1
36.224976            1
301.960784           1
56.312982            1
164.213794           1
146.454527           1
155.578848           1
99.496411            1
376.678445           1
116.011955           1
140.111385           1
492904.533919        1
45.677418            1
136.555905           1
539615.538302        1
15.647482            1
83.989501            1
262.999842           1
145161.290323        1
85.893060            1
107.167711           1
61.099579            1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 130112, dtype: int64
2018-07-06 20:43:26,050 logger 29 [INFO]    [make_npy] 0.000000         99346
50.000000         1780
100.000000        1641
20.000000          944
40.000000          872
25.000000          856
30.000000          769
150.000000         742
200.000000         713
33.333333          699
10.000000          618
75.000000          614
66.666667          605
60.000000          604
80.000000          453
15.000000          433
125.000000         424
250.000000         415
16.666667          403
300.000000         349
83.333333          338
120.000000         307
166.666667         306
70.000000          301
62.500000          257
133.333333         242
71.428571          238
13.464187          235
35.000000          234
12.500000          233
6.732094           225
37.500000          224
10.098140          221
55.000000          216
101.000000         213
142.857143         211
5.000000           196
90.000000          187
26.666667          185
400.000000         173
110.000000         172
13.333333          169
12.000000          168
41.666667          163
140.000000         160
3.366047           153
160.000000         152
45.000000          152
55.555556          151
53.000000          151
                 ...
229.629630           1
562.076339           1
60.535506            1
26.055237            1
78.276432            1
123.008003           1
67.147860            1
122.018181           1
336.532951           1
47.873068            1
88.363836            1
99.321550            1
16.421709            1
260.179381           1
8.272379             1
304.255319           1
39.759036            1
84.554679            1
30.695444            1
544.139807           1
25.056948            1
478.385035           1
108903.850226        1
162.815534           1
34.654037            1
23.675574            1
244.959105           1
219.297114           1
112.480740           1
36.224976            1
301.960784           1
56.312982            1
164.213794           1
146.454527           1
155.578848           1
99.496411            1
376.678445           1
116.011955           1
140.111385           1
492904.533919        1
45.677418            1
136.555905           1
539615.538302        1
15.647482            1
83.989501            1
262.999842           1
145161.290323        1
85.893060            1
107.167711           1
61.099579            1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_sum@['SK_ID_CURR'], Length: 130112, dtype: int64
2018-07-06 20:43:26,096 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:26,096 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:26,200 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:26,200 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:26,281 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,281 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,310 logger 29 [INFO]    [make_npy] 50.000000       1815
100.000000      1648
20.000000        962
25.000000        881
40.000000        877
30.000000        776
150.000000       738
33.333333        737
200.000000       677
10.000000        629
60.000000        625
75.000000        619
66.666667        608
15.000000        467
80.000000        440
125.000000       438
16.666667        410
250.000000       395
83.333333        344
166.666667       314
300.000000       298
70.000000        291
120.000000       275
37.500000        273
62.500000        266
35.000000        245
12.500000        244
71.428571        237
13.464187        237
133.333333       234
10.098140        227
6.732094         224
55.000000        219
101.000000       218
142.857143       209
5.000000         200
26.666667        189
13.333333        180
90.000000        176
110.000000       172
45.000000        171
12.000000        169
41.666667        167
3.366047         156
53.000000        152
55.555556        151
111.111111       150
140.000000       147
50.500000        145
6.000000         142
                ...
91010.562700       1
87.763713          1
13500.000000       1
11.345219          1
33.827160          1
67.436212          1
91.748450          1
10725.015328       1
546.990566         1
290.573001         1
166.959578         1
117.047253         1
314.748201         1
16.739783          1
71.318725          1
163.214671         1
195.067991         1
50.851926          1
58.667115          1
15.222807          1
13.812015          1
27.550464          1
221.505376         1
222.893800         1
12.451749          1
24.967754          1
45.382908          1
89.494059          1
253.989362         1
137.089202         1
170.164492         1
129.421600         1
70.763898          1
28.409494          1
63.221601          1
28.039255          1
68.382337          1
65.301359          1
395.876289         1
133.442266         1
28.824829          1
105.455086         1
112.464855         1
63.765182          1
125.239120         1
82.661710          1
74.803471          1
99.081036          1
33.448341          1
43.796526          1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 130097, dtype: int64

2018-07-06 20:43:26,310 logger 29 [INFO]    [make_npy] 50.000000       1815
100.000000      1648
20.000000        962
25.000000        881
40.000000        877
30.000000        776
150.000000       738
33.333333        737
200.000000       677
10.000000        629
60.000000        625
75.000000        619
66.666667        608
15.000000        467
80.000000        440
125.000000       438
16.666667        410
250.000000       395
83.333333        344
166.666667       314
300.000000       298
70.000000        291
120.000000       275
37.500000        273
62.500000        266
35.000000        245
12.500000        244
71.428571        237
13.464187        237
133.333333       234
10.098140        227
6.732094         224
55.000000        219
101.000000       218
142.857143       209
5.000000         200
26.666667        189
13.333333        180
90.000000        176
110.000000       172
45.000000        171
12.000000        169
41.666667        167
3.366047         156
53.000000        152
55.555556        151
111.111111       150
140.000000       147
50.500000        145
6.000000         142
                ...
91010.562700       1
87.763713          1
13500.000000       1
11.345219          1
33.827160          1
67.436212          1
91.748450          1
10725.015328       1
546.990566         1
290.573001         1
166.959578         1
117.047253         1
314.748201         1
16.739783          1
71.318725          1
163.214671         1
195.067991         1
50.851926          1
58.667115          1
15.222807          1
13.812015          1
27.550464          1
221.505376         1
222.893800         1
12.451749          1
24.967754          1
45.382908          1
89.494059          1
253.989362         1
137.089202         1
170.164492         1
129.421600         1
70.763898          1
28.409494          1
63.221601          1
28.039255          1
68.382337          1
65.301359          1
395.876289         1
133.442266         1
28.824829          1
105.455086         1
112.464855         1
63.765182          1
125.239120         1
82.661710          1
74.803471          1
99.081036          1
33.448341          1
43.796526          1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_mean@['SK_ID_CURR'], Length: 130097, dtype: int64
2018-07-06 20:43:26,337 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:26,337 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: max
['SK_ID_CURR']
2018-07-06 20:43:26,468 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:26,468 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:26,544 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,544 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,569 logger 29 [INFO]    [make_npy] 100.000000      2739
50.000000       2646
200.000000      1292
150.000000      1240
20.000000       1234
40.000000       1225
25.000000       1144
30.000000       1042
33.333333        949
60.000000        948
75.000000        859
66.666667        853
250.000000       838
10.000000        751
125.000000       746
80.000000        725
300.000000       604
83.333333        593
166.666667       562
15.000000        539
16.666667        510
120.000000       448
70.000000        443
62.500000        401
71.428571        390
133.333333       387
101.000000       386
142.857143       378
35.000000        329
55.000000        310
37.500000        304
400.000000       297
500.000000       294
12.500000        288
110.000000       278
111.111111       275
140.000000       264
41.666667        256
90.000000        256
53.000000        247
90.909091        242
160.000000       240
13.464187        237
55.555556        235
26.666667        230
10.098140        227
333.333333       226
6.732094         224
5.000000         221
214.285714       217
                ...
39.986884          1
39.043436          1
38.817557          1
74.107143          1
826.086957         1
29.395856          1
56.929721          1
160.458453         1
57.601511          1
338.811631         1
31.603774          1
33.233533          1
25.985275          1
66.100094          1
10.598834          1
6.846384           1
440.251572         1
26.213592          1
2.599090           1
163.708087         1
83.495146          1
22.524015          1
210.601719         1
18.103414          1
138.786765         1
53.304904          1
42.842279          1
30.677656          1
172.861711         1
116.387337         1
150.704225         1
15.487868          1
33.334667          1
102.396514         1
54.437870          1
22.209148          1
48.739496          1
181.271478         1
29.022989          1
96.242331          1
28.753444          1
98.473658          1
23.994230          1
23.117418          1
60215.053763       1
26.535088          1
23.676084          1
123.156636         1
5.927682           1
138.420405         1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 75415, dtype: int64
2018-07-06 20:43:26,569 logger 29 [INFO]    [make_npy] 100.000000      2739
50.000000       2646
200.000000      1292
150.000000      1240
20.000000       1234
40.000000       1225
25.000000       1144
30.000000       1042
33.333333        949
60.000000        948
75.000000        859
66.666667        853
250.000000       838
10.000000        751
125.000000       746
80.000000        725
300.000000       604
83.333333        593
166.666667       562
15.000000        539
16.666667        510
120.000000       448
70.000000        443
62.500000        401
71.428571        390
133.333333       387
101.000000       386
142.857143       378
35.000000        329
55.000000        310
37.500000        304
400.000000       297
500.000000       294
12.500000        288
110.000000       278
111.111111       275
140.000000       264
41.666667        256
90.000000        256
53.000000        247
90.909091        242
160.000000       240
13.464187        237
55.555556        235
26.666667        230
10.098140        227
333.333333       226
6.732094         224
5.000000         221
214.285714       217
                ...
39.986884          1
39.043436          1
38.817557          1
74.107143          1
826.086957         1
29.395856          1
56.929721          1
160.458453         1
57.601511          1
338.811631         1
31.603774          1
33.233533          1
25.985275          1
66.100094          1
10.598834          1
6.846384           1
440.251572         1
26.213592          1
2.599090           1
163.708087         1
83.495146          1
22.524015          1
210.601719         1
18.103414          1
138.786765         1
53.304904          1
42.842279          1
30.677656          1
172.861711         1
116.387337         1
150.704225         1
15.487868          1
33.334667          1
102.396514         1
54.437870          1
22.209148          1
48.739496          1
181.271478         1
29.022989          1
96.242331          1
28.753444          1
98.473658          1
23.994230          1
23.117418          1
60215.053763       1
26.535088          1
23.676084          1
123.156636         1
5.927682           1
138.420405         1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_max@['SK_ID_CURR'], Length: 75415, dtype: int64
2018-07-06 20:43:26,614 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:26,614 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: min
['SK_ID_CURR']
2018-07-06 20:43:26,727 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:43:26,727 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:26,815 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,815 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:26,870 logger 29 [INFO]    [make_npy] 50.000000       2810
100.000000      2257
20.000000       1683
25.000000       1534
40.000000       1351
30.000000       1285
10.000000       1221
33.333333       1195
150.000000       958
75.000000        951
66.666667        887
60.000000        887
200.000000       848
15.000000        829
16.666667        797
80.000000        622
125.000000       604
83.333333        533
250.000000       516
12.500000        485
10.098140        442
5.000000         442
37.500000        430
13.464187        422
166.666667       410
70.000000        406
6.732094         390
62.500000        380
35.000000        366
300.000000       349
71.428571        334
120.000000       327
3.366047         322
12.000000        318
133.333333       314
101.000000       306
55.000000        286
26.666667        286
13.333333        278
6.000000         278
41.666667        266
142.857143       255
50.500000        249
8.000000         247
14.285714        245
16.830234        236
16.000000        228
28.571429        225
8.333333         219
55.555556        215
                ...
4.951896           1
76.911244          1
169.886364         1
94.197438          1
498.338870         1
11.263798          1
25.594150          1
21.444383          1
7.957958           1
272.628135         1
26.573427          1
16.241299          1
69.576218          1
576.131687         1
42.270531          1
1350.000000        1
9.981223           1
10.421009          1
6.953781           1
88.579795          1
64.558196          1
141.014617         1
48.278757          1
26.152337          1
294.599018         1
87.935280          1
90.123457          1
60.176991          1
23.442733          1
11.529412          1
35.607321          1
67.640693          1
103.515625         1
35.257927          1
24.997950          1
28.009336          1
112.864078         1
29.102384          1
83.839260          1
3.503504           1
66279.069767       1
17.996941          1
102.011075         1
213.724089         1
23.330067          1
12.990387          1
42.952460          1
18.714286          1
35.056180          1
169.398907         1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 80844, dtype: int64
2018-07-06 20:43:26,870 logger 29 [INFO]    [make_npy] 50.000000       2810
100.000000      2257
20.000000       1683
25.000000       1534
40.000000       1351
30.000000       1285
10.000000       1221
33.333333       1195
150.000000       958
75.000000        951
66.666667        887
60.000000        887
200.000000       848
15.000000        829
16.666667        797
80.000000        622
125.000000       604
83.333333        533
250.000000       516
12.500000        485
10.098140        442
5.000000         442
37.500000        430
13.464187        422
166.666667       410
70.000000        406
6.732094         390
62.500000        380
35.000000        366
300.000000       349
71.428571        334
120.000000       327
3.366047         322
12.000000        318
133.333333       314
101.000000       306
55.000000        286
26.666667        286
13.333333        278
6.000000         278
41.666667        266
142.857143       255
50.500000        249
8.000000         247
14.285714        245
16.830234        236
16.000000        228
28.571429        225
8.333333         219
55.555556        215
                ...
4.951896           1
76.911244          1
169.886364         1
94.197438          1
498.338870         1
11.263798          1
25.594150          1
21.444383          1
7.957958           1
272.628135         1
26.573427          1
16.241299          1
69.576218          1
576.131687         1
42.270531          1
1350.000000        1
9.981223           1
10.421009          1
6.953781           1
88.579795          1
64.558196          1
141.014617         1
48.278757          1
26.152337          1
294.599018         1
87.935280          1
90.123457          1
60.176991          1
23.442733          1
11.529412          1
35.607321          1
67.640693          1
103.515625         1
35.257927          1
24.997950          1
28.009336          1
112.864078         1
29.102384          1
83.839260          1
3.503504           1
66279.069767       1
17.996941          1
102.011075         1
213.724089         1
23.330067          1
12.990387          1
42.952460          1
18.714286          1
35.056180          1
169.398907         1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_min@['SK_ID_CURR'], Length: 80844, dtype: int64
2018-07-06 20:43:26,920 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:26,920 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@
method: std
['SK_ID_CURR']
2018-07-06 20:43:27,035 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,035 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,108 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,108 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,121 logger 29 [INFO]    [make_npy] 0.000000         762
17.677670         81
35.355339         77
14.142136         60
23.570226         58
7.071068          53
28.284271         52
21.213203         51
70.710678         49
53.033009         48
42.426407         46
3.535534          39
106.066017        38
10.606602         38
26.516504         36
56.568542         31
8.838835          28
84.852814         27
47.140452         27
11.785113         27
31.819805         26
79.549513         25
23.570226         22
24.748737         20
141.421356        20
9.428090          19
16.499158         18
63.639610         18
11.785113         16
94.280904         16
113.137085        16
49.497475         15
11.785113         14
1.767767          14
32.998316         14
16.970563         14
4.714045          14
5.303301          14
15.909903         13
88.388348         13
8.485281          13
123.743687        13
12.374369         13
159.099026        13
45.961941         12
14.849242         11
29.698485         11
15.152288         11
212.132034        11
41.247896         11
                ...
56.708947          1
15.309019          1
28.511401          1
103.514854         1
22.237996          1
25.564969          1
42.601788          1
116.176743         1
12.086629          1
26.535337          1
26.981791          1
8.588468           1
11.341294          1
14.104407          1
8.606486           1
300.818507         1
8757.245521        1
52.759500          1
24.852374          1
70.640087          1
49.365134          1
52.432727          1
37.426773          1
15.354283          1
141.831987         1
55.646833          1
5.022676           1
56.548950          1
12.389957          1
113.129924         1
3.024021           1
14.852240          1
2.428027           1
44.324920          1
51.506682          1
45.341114          1
12.348052          1
39.654233          1
54.150241          1
64.599071          1
318.887504         1
53.328132          1
54.404927          1
34.858768          1
126.750451         1
19.303233          1
182214.305260      1
40.309284          1
1.669921           1
466635.376353      1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 76656, dtype: int64
2018-07-06 20:43:27,121 logger 29 [INFO]    [make_npy] 0.000000         762
17.677670         81
35.355339         77
14.142136         60
23.570226         58
7.071068          53
28.284271         52
21.213203         51
70.710678         49
53.033009         48
42.426407         46
3.535534          39
106.066017        38
10.606602         38
26.516504         36
56.568542         31
8.838835          28
84.852814         27
47.140452         27
11.785113         27
31.819805         26
79.549513         25
23.570226         22
24.748737         20
141.421356        20
9.428090          19
16.499158         18
63.639610         18
11.785113         16
94.280904         16
113.137085        16
49.497475         15
11.785113         14
1.767767          14
32.998316         14
16.970563         14
4.714045          14
5.303301          14
15.909903         13
88.388348         13
8.485281          13
123.743687        13
12.374369         13
159.099026        13
45.961941         12
14.849242         11
29.698485         11
15.152288         11
212.132034        11
41.247896         11
                ...
56.708947          1
15.309019          1
28.511401          1
103.514854         1
22.237996          1
25.564969          1
42.601788          1
116.176743         1
12.086629          1
26.535337          1
26.981791          1
8.588468           1
11.341294          1
14.104407          1
8.606486           1
300.818507         1
8757.245521        1
52.759500          1
24.852374          1
70.640087          1
49.365134          1
52.432727          1
37.426773          1
15.354283          1
141.831987         1
55.646833          1
5.022676           1
56.548950          1
12.389957          1
113.129924         1
3.024021           1
14.852240          1
2.428027           1
44.324920          1
51.506682          1
45.341114          1
12.348052          1
39.654233          1
54.150241          1
64.599071          1
318.887504         1
53.328132          1
54.404927          1
34.858768          1
126.750451         1
19.303233          1
182214.305260      1
40.309284          1
1.669921           1
466635.376353      1
Name: app_AMT_GOODS_PRICE_div_AMT_DOWN_PAYMENT@_std@['SK_ID_CURR'], Length: 76656, dtype: int64

2018-07-06 20:43:27,166 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:27,166 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:27,272 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,272 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,364 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,364 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,404 logger 29 [INFO]    [make_npy] 0.000000         99176
38278.868760         1
13659.686128         1
44518.570314         1
41883.360888         1
69786.343114         1
147663.089026        1
26834.528674         1
35927.099926         1
21802.124570         1
27887.764876         1
68317.616254         1
24299.396525         1
17557.157337         1
12450.441698         1
4667.156560          1
25446.994282         1
26856.457092         1
31290.640066         1
3300.056529          1
20364.821762         1
138658.639324        1
121593.814997        1
102085.531117        1
17334.806884         1
16255.363456         1
37630.247459         1
11617.379241         1
14698.075034         1
25491.952122         1
6434.373677          1
8514.977974          1
17301.079583         1
29871.809662         1
21409.217650         1
17276.086535         1
74081.272148         1
30835.501506         1
20463.754507         1
7044.553161          1
34448.201966         1
132415.632305        1
14206.316903         1
92275.775725         1
11.730795            1
32707.730188         1
54746.679822         1
21408.152018         1
17859.028377         1
5868.072839          1
                 ...
6799.967113          1
25703.735328         1
5051.042206          1
8764.790702          1
6867.924329          1
29012.483090         1
3253.005518          1
28265.959380         1
59652.651450         1
44121.687060         1
21919.002990         1
33069.521869         1
10567.553095         1
125819.534777        1
8368.607091          1
13811.652204         1
40049.203858         1
13573.895569         1
84009.618585         1
10010.257047         1
21034.232172         1
30557.273198         1
72665.065040         1
21874.520472         1
4496.740895          1
4999.878707          1
7015.884849          1
61920.179425         1
16015.392528         1
8141.329272          1
18028.922707         1
63345.145152         1
26103.265429         1
32747.501379         1
34062.058482         1
28414.302649         1
21361.841500         1
166292.557485        1
7697.500451          1
20239.587523         1
280235.510286        1
68428.609933         1
43868.878074         1
11799.148189         1
62139.707883         1
50295.837622         1
24234.669127         1
20686.842840         1
33567.392351         1
77726.131323         1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 214747, dtype: int64
2018-07-06 20:43:27,404 logger 29 [INFO]    [make_npy] 0.000000         99176
38278.868760         1
13659.686128         1
44518.570314         1
41883.360888         1
69786.343114         1
147663.089026        1
26834.528674         1
35927.099926         1
21802.124570         1
27887.764876         1
68317.616254         1
24299.396525         1
17557.157337         1
12450.441698         1
4667.156560          1
25446.994282         1
26856.457092         1
31290.640066         1
3300.056529          1
20364.821762         1
138658.639324        1
121593.814997        1
102085.531117        1
17334.806884         1
16255.363456         1
37630.247459         1
11617.379241         1
14698.075034         1
25491.952122         1
6434.373677          1
8514.977974          1
17301.079583         1
29871.809662         1
21409.217650         1
17276.086535         1
74081.272148         1
30835.501506         1
20463.754507         1
7044.553161          1
34448.201966         1
132415.632305        1
14206.316903         1
92275.775725         1
11.730795            1
32707.730188         1
54746.679822         1
21408.152018         1
17859.028377         1
5868.072839          1
                 ...
6799.967113          1
25703.735328         1
5051.042206          1
8764.790702          1
6867.924329          1
29012.483090         1
3253.005518          1
28265.959380         1
59652.651450         1
44121.687060         1
21919.002990         1
33069.521869         1
10567.553095         1
125819.534777        1
8368.607091          1
13811.652204         1
40049.203858         1
13573.895569         1
84009.618585         1
10010.257047         1
21034.232172         1
30557.273198         1
72665.065040         1
21874.520472         1
4496.740895          1
4999.878707          1
7015.884849          1
61920.179425         1
16015.392528         1
8141.329272          1
18028.922707         1
63345.145152         1
26103.265429         1
32747.501379         1
34062.058482         1
28414.302649         1
21361.841500         1
166292.557485        1
7697.500451          1
20239.587523         1
280235.510286        1
68428.609933         1
43868.878074         1
11799.148189         1
62139.707883         1
50295.837622         1
24234.669127         1
20686.842840         1
33567.392351         1
77726.131323         1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 214747, dtype: int64
2018-07-06 20:43:27,449 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:27,449 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:27,554 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,554 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,627 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,627 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,652 logger 29 [INFO]    [make_npy] 18957.224532     1
108857.215283    1
10236.443421     1
8726.107982      1
15521.490456     1
8.206737         1
16545.944452     1
17375.114042     1
10610.958533     1
12220.234815     1
13837.801982     1
9097.781912      1
100384.358929    1
21742.614301     1
9398.116954      1
22140.473655     1
13473.157913     1
79533.995372     1
10713.948187     1
8123.592266      1
21578.552433     1
13101.107438     1
5612.573965      1
9535.718092      1
18047.433309     1
54889.241818     1
5026.355212      1
8731.788055      1
74987.450209     1
22576.678584     1
13289.633091     1
12421.240202     1
33658.946722     1
17231.087713     1
60934.708032     1
36141.417809     1
3202.773444      1
35141.183409     1
11779.547382     1
16007.521334     1
21033.451356     1
5997.643036      1
7672.746580      1
36617.118665     1
2933.975516      1
9450.171875      1
16655.870390     1
27519.987802     1
67034.552384     1
16209.946714     1
                ..
68088.975963     1
55476.629120     1
6913.987741      1
15834.039934     1
12336.475459     1
12791.321922     1
5.262560         1
10522.236637     1
18034.094497     1
24342.498785     1
6310.423054      1
24537.076314     1
7456.497446      1
40445.849882     1
22194.900615     1
56908.862052     1
9033.299263      1
17605.434592     1
6503.903160      1
23445.897532     1
48843.329068     1
17124.808592     1
13120.797400     1
139589.156478    1
31625.808727     1
33526.931554     1
55969.200975     1
22980.597354     1
11677.966545     1
10840.630654     1
14014.774780     1
22283.082444     1
11524.849939     1
15031.250511     1
25660.184243     1
91282.719672     1
130457.234099    1
16992.485998     1
14262.647449     1
10588.900659     1
13163.338481     1
15934.860090     1
11638.954089     1
19540.346215     1
29068.328130     1
24788.750457     1
5314.557141      1
62330.150263     1
35011.356971     1
102833.993943    1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 214746, dtype: int64

2018-07-06 20:43:27,652 logger 29 [INFO]    [make_npy] 18957.224532     1
108857.215283    1
10236.443421     1
8726.107982      1
15521.490456     1
8.206737         1
16545.944452     1
17375.114042     1
10610.958533     1
12220.234815     1
13837.801982     1
9097.781912      1
100384.358929    1
21742.614301     1
9398.116954      1
22140.473655     1
13473.157913     1
79533.995372     1
10713.948187     1
8123.592266      1
21578.552433     1
13101.107438     1
5612.573965      1
9535.718092      1
18047.433309     1
54889.241818     1
5026.355212      1
8731.788055      1
74987.450209     1
22576.678584     1
13289.633091     1
12421.240202     1
33658.946722     1
17231.087713     1
60934.708032     1
36141.417809     1
3202.773444      1
35141.183409     1
11779.547382     1
16007.521334     1
21033.451356     1
5997.643036      1
7672.746580      1
36617.118665     1
2933.975516      1
9450.171875      1
16655.870390     1
27519.987802     1
67034.552384     1
16209.946714     1
                ..
68088.975963     1
55476.629120     1
6913.987741      1
15834.039934     1
12336.475459     1
12791.321922     1
5.262560         1
10522.236637     1
18034.094497     1
24342.498785     1
6310.423054      1
24537.076314     1
7456.497446      1
40445.849882     1
22194.900615     1
56908.862052     1
9033.299263      1
17605.434592     1
6503.903160      1
23445.897532     1
48843.329068     1
17124.808592     1
13120.797400     1
139589.156478    1
31625.808727     1
33526.931554     1
55969.200975     1
22980.597354     1
11677.966545     1
10840.630654     1
14014.774780     1
22283.082444     1
11524.849939     1
15031.250511     1
25660.184243     1
91282.719672     1
130457.234099    1
16992.485998     1
14262.647449     1
10588.900659     1
13163.338481     1
15934.860090     1
11638.954089     1
19540.346215     1
29068.328130     1
24788.750457     1
5314.557141      1
62330.150263     1
35011.356971     1
102833.993943    1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 214746, dtype: int64
2018-07-06 20:43:27,702 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:27,702 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:27,817 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,817 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:27,917 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,917 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:27,950 logger 29 [INFO]    [make_npy] 139823.128901    1
33843.058378     1
40044.992144     1
32160.549208     1
32143.620233     1
47307.960031     1
15763.683342     1
22887.363138     1
9968.807525      1
10608.944723     1
19576.160943     1
137854.536047    1
40519.567741     1
20764.619809     1
12396.826662     1
3.723327         1
40931.450939     1
32915.906711     1
22458.681619     1
11520.892373     1
8068.989571      1
26613.564678     1
13273.663778     1
27845.944948     1
93141.926241     1
25744.714131     1
20046.834373     1
21626.855085     1
13513.226394     1
146780.771823    1
14660.175000     1
16907.234183     1
124582.857646    1
61745.540440     1
13693.215100     1
4.698130         1
37452.119012     1
23041.861280     1
43045.014724     1
8689.392100      1
31306.796070     1
78784.208693     1
16875.602304     1
45677.116127     1
140370.795257    1
47245.586212     1
63412.224060     1
14445.251622     1
17574.001067     1
17680.344673     1
                ..
20270.016268     1
12621.499507     1
10817.670569     1
3.358905         1
13200.328397     1
14057.626159     1
5215.446461      1
28333.769354     1
36285.000405     1
12040.784180     1
127817.617014    1
42949.377006     1
9796.245036      1
5575.294755      1
13334.705091     1
6426.944994      1
23284.569730     1
18814.947174     1
29646.989717     1
37487.278619     1
5931.781243      1
9148.043118      1
5545.655996      1
8776.821509      1
19129.363254     1
3672.375573      1
22886.295171     1
27623.471475     1
59521.881492     1
21609.868456     1
100380.522632    1
31069.005992     1
53466.846058     1
52740.024604     1
76739.169217     1
33381.597349     1
89298.259865     1
10953.687038     1
48406.028163     1
7365.684143      1
14160.112580     1
41355.650299     1
26593.696122     1
111551.287700    1
43015.379562     1
13622.829190     1
39133.664466     1
63021.199124     1
7783.181150      1
29773.984493     1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 214746, dtype: int64
2018-07-06 20:43:27,950 logger 29 [INFO]    [make_npy] 139823.128901    1
33843.058378     1
40044.992144     1
32160.549208     1
32143.620233     1
47307.960031     1
15763.683342     1
22887.363138     1
9968.807525      1
10608.944723     1
19576.160943     1
137854.536047    1
40519.567741     1
20764.619809     1
12396.826662     1
3.723327         1
40931.450939     1
32915.906711     1
22458.681619     1
11520.892373     1
8068.989571      1
26613.564678     1
13273.663778     1
27845.944948     1
93141.926241     1
25744.714131     1
20046.834373     1
21626.855085     1
13513.226394     1
146780.771823    1
14660.175000     1
16907.234183     1
124582.857646    1
61745.540440     1
13693.215100     1
4.698130         1
37452.119012     1
23041.861280     1
43045.014724     1
8689.392100      1
31306.796070     1
78784.208693     1
16875.602304     1
45677.116127     1
140370.795257    1
47245.586212     1
63412.224060     1
14445.251622     1
17574.001067     1
17680.344673     1
                ..
20270.016268     1
12621.499507     1
10817.670569     1
3.358905         1
13200.328397     1
14057.626159     1
5215.446461      1
28333.769354     1
36285.000405     1
12040.784180     1
127817.617014    1
42949.377006     1
9796.245036      1
5575.294755      1
13334.705091     1
6426.944994      1
23284.569730     1
18814.947174     1
29646.989717     1
37487.278619     1
5931.781243      1
9148.043118      1
5545.655996      1
8776.821509      1
19129.363254     1
3672.375573      1
22886.295171     1
27623.471475     1
59521.881492     1
21609.868456     1
100380.522632    1
31069.005992     1
53466.846058     1
52740.024604     1
76739.169217     1
33381.597349     1
89298.259865     1
10953.687038     1
48406.028163     1
7365.684143      1
14160.112580     1
41355.650299     1
26593.696122     1
111551.287700    1
43015.379562     1
13622.829190     1
39133.664466     1
63021.199124     1
7783.181150      1
29773.984493     1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 214746, dtype: int64
2018-07-06 20:43:27,998 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:27,998 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:28,098 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:28,098 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:28,176 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:28,176 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:28,215 logger 29 [INFO]    [make_npy] 18957.224532     1
34944.323999     1
15988.924416     1
8325.044078      1
13213.457723     1
30589.886041     1
73323.762687     1
82157.690465     1
18151.287127     1
11574.585510     1
20221.927769     1
3440.649590      1
14825.051301     1
22003.320816     1
19918.493313     1
8830.144602      1
9199.611927      1
4085.447647      1
16306.840704     1
13257.631695     1
22586.393306     1
15707.013006     1
7289.330404      1
9968.582245      1
17937.971603     1
58053.605348     1
6137.772669      1
7712.676027      1
49044.824515     1
26834.528674     1
35927.099926     1
21802.124570     1
27887.764876     1
5605.909842      1
5742.890631      1
4513.088961      1
17557.157337     1
4667.156560      1
25446.994282     1
31290.640066     1
7779.779308      1
3300.056529      1
20364.821762     1
138658.639324    1
3296.013163      1
17334.806884     1
7912.634139      1
4792.802472      1
4433.860431      1
20715.770729     1
                ..
9932.004843      1
8571.929533      1
20769.324158     1
33262.196620     1
24288.513306     1
9416.486367      1
11979.616830     1
39785.686069     1
5463.946437      1
12617.426660     1
11524.870622     1
57189.073069     1
4963.030132      1
4654.193801      1
24142.778612     1
7033.595780      1
18363.064200     1
12426.799135     1
2.058533         1
5892.944383      1
12705.719669     1
21606.031486     1
7893.684471      1
7839.375038      1
44642.827014     1
40625.088626     1
11402.331514     1
8.258614         1
14941.196416     1
41285.806582     1
34239.535512     1
24628.771491     1
4164.348759      1
26935.607082     1
21692.414952     1
36438.866999     1
8751.300955      1
40874.681962     1
13568.385350     1
10731.376258     1
8870.391741      1
30840.930167     1
27935.588699     1
17073.075584     1
127376.924522    1
45399.800058     1
28887.824948     1
6037.199637      1
42835.650592     1
31102.534193     1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 214746, dtype: int64

2018-07-06 20:43:28,215 logger 29 [INFO]    [make_npy] 18957.224532     1
34944.323999     1
15988.924416     1
8325.044078      1
13213.457723     1
30589.886041     1
73323.762687     1
82157.690465     1
18151.287127     1
11574.585510     1
20221.927769     1
3440.649590      1
14825.051301     1
22003.320816     1
19918.493313     1
8830.144602      1
9199.611927      1
4085.447647      1
16306.840704     1
13257.631695     1
22586.393306     1
15707.013006     1
7289.330404      1
9968.582245      1
17937.971603     1
58053.605348     1
6137.772669      1
7712.676027      1
49044.824515     1
26834.528674     1
35927.099926     1
21802.124570     1
27887.764876     1
5605.909842      1
5742.890631      1
4513.088961      1
17557.157337     1
4667.156560      1
25446.994282     1
31290.640066     1
7779.779308      1
3300.056529      1
20364.821762     1
138658.639324    1
3296.013163      1
17334.806884     1
7912.634139      1
4792.802472      1
4433.860431      1
20715.770729     1
                ..
9932.004843      1
8571.929533      1
20769.324158     1
33262.196620     1
24288.513306     1
9416.486367      1
11979.616830     1
39785.686069     1
5463.946437      1
12617.426660     1
11524.870622     1
57189.073069     1
4963.030132      1
4654.193801      1
24142.778612     1
7033.595780      1
18363.064200     1
12426.799135     1
2.058533         1
5892.944383      1
12705.719669     1
21606.031486     1
7893.684471      1
7839.375038      1
44642.827014     1
40625.088626     1
11402.331514     1
8.258614         1
14941.196416     1
41285.806582     1
34239.535512     1
24628.771491     1
4164.348759      1
26935.607082     1
21692.414952     1
36438.866999     1
8751.300955      1
40874.681962     1
13568.385350     1
10731.376258     1
8870.391741      1
30840.930167     1
27935.588699     1
17073.075584     1
127376.924522    1
45399.800058     1
28887.824948     1
6037.199637      1
42835.650592     1
31102.534193     1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 214746, dtype: int64
2018-07-06 20:43:28,268 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:28,268 logger 125 [INFO]    [select_level_agg]
num: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:28,404 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:28,404 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:28,481 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:28,481 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:28,494 logger 29 [INFO]    [make_npy] 0.000000        765
62367.429342      1
17585.696514      1
1108.644443       1
3779.734942       1
1560.543459       1
3670.998938       1
9039.119965       1
23198.649145      1
4044.769978       1
44543.918526      1
11035.326630      1
2005.757975       1
65387.264500      1
1738.679579       1
8244.430164       1
4381.766042       1
7958.033661       1
23625.593456      1
25152.131397      1
8318.600358       1
11844.036339      1
49368.372575      1
11016.652478      1
80661.854961      1
9077.039110       1
19579.901490      1
3138.040604       1
12809.878698      1
8877.829597       1
13920.056352      1
88029.840450      1
5065.919787       1
14467.890548      1
20710.227868      1
5414.198153       1
6056.391836       1
4367.784431       1
87.903881         1
3852.290925       1
39889.199796      1
3922.741972       1
55050.952827      1
2078.406152       1
14839.850999      1
6729.163336       1
21764.975919      1
8636.443803       1
68234.550323      1
9321.995976       1
               ...
20383.999661      1
24783.877477      1
12875.124468      1
36810.060022      1
8990.455835       1
3630.944764       1
17848.788570      1
12535.646607      1
3710.734285       1
9305.517113       1
31433.686023      1
5035.403294       1
13060.130032      1
2942.649610       1
3637.720844       1
20723.018725      1
7.912934          1
65520.606040      1
237.687829        1
59189.394867      1
30960.244882      1
18352.939761      1
10316.654535      1
6779.789804       1
26653.005768      1
2572.214364       1
4857.113828       1
40655.810327      1
7507.224128       1
1742.663749       1
16419.540791      1
8392.766225       1
9255.438191       1
19632.154280      1
12166.499855      1
37113.914952      1
6343.447476       1
4610.683802       1
1368.185032       1
10599.815447      1
17622.293837      1
6096.935511       1
10478.947563      1
4683.068594       1
8474.298300       1
10427.936805      1
27428.834938      1
14326.361583      1
2067.111059       1
1841.930390       1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 80139, dtype: int64
2018-07-06 20:43:28,494 logger 29 [INFO]    [make_npy] 0.000000        765
62367.429342      1
17585.696514      1
1108.644443       1
3779.734942       1
1560.543459       1
3670.998938       1
9039.119965       1
23198.649145      1
4044.769978       1
44543.918526      1
11035.326630      1
2005.757975       1
65387.264500      1
1738.679579       1
8244.430164       1
4381.766042       1
7958.033661       1
23625.593456      1
25152.131397      1
8318.600358       1
11844.036339      1
49368.372575      1
11016.652478      1
80661.854961      1
9077.039110       1
19579.901490      1
3138.040604       1
12809.878698      1
8877.829597       1
13920.056352      1
88029.840450      1
5065.919787       1
14467.890548      1
20710.227868      1
5414.198153       1
6056.391836       1
4367.784431       1
87.903881         1
3852.290925       1
39889.199796      1
3922.741972       1
55050.952827      1
2078.406152       1
14839.850999      1
6729.163336       1
21764.975919      1
8636.443803       1
68234.550323      1
9321.995976       1
               ...
20383.999661      1
24783.877477      1
12875.124468      1
36810.060022      1
8990.455835       1
3630.944764       1
17848.788570      1
12535.646607      1
3710.734285       1
9305.517113       1
31433.686023      1
5035.403294       1
13060.130032      1
2942.649610       1
3637.720844       1
20723.018725      1
7.912934          1
65520.606040      1
237.687829        1
59189.394867      1
30960.244882      1
18352.939761      1
10316.654535      1
6779.789804       1
26653.005768      1
2572.214364       1
4857.113828       1
40655.810327      1
7507.224128       1
1742.663749       1
16419.540791      1
8392.766225       1
9255.438191       1
19632.154280      1
12166.499855      1
37113.914952      1
6343.447476       1
4610.683802       1
1368.185032       1
10599.815447      1
17622.293837      1
6096.935511       1
10478.947563      1
4683.068594       1
8474.298300       1
10427.936805      1
27428.834938      1
14326.361583      1
2067.111059       1
1841.930390       1
Name: AMT_DOWN_PAYMENT_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 80139, dtype: int64
2018-07-06 20:43:28,548 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:28,548 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:28,641 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:28,641 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:28,723 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:28,723 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:28,768 logger 29 [INFO]    [make_npy] 33750.000000     85
22500.000000     71
40432.500000     57
49500.000000     41
49500.000000     37
99000.000000     35
11250.000000     35
44442.887658     34
0.000000         32
27252.000000     32
74250.000000     32
24750.000000     28
88885.775316     27
33332.165744     26
37759.500000     26
19800.000000     26
12735.000000     24
74250.000000     23
29700.000000     22
24750.000000     22
45000.000000     21
99000.000000     21
6750.000000      19
55553.609573     19
26064.000000     19
47115.000000     18
39096.000000     18
41769.000000     17
14850.000000     16
22221.443829     16
14220.000000     16
18000.000000     15
25875.000000     15
32004.000000     15
63619.993683     14
20700.000000     14
20250.000000     14
31500.000000     14
57340.800000     14
19800.000000     14
99445.405424     14
29628.000000     13
67500.000000     13
26703.025328     13
13500.000000     12
87014.729746     12
24876.000000     12
15750.000000     11
90000.000000     11
11110.721915     11
                 ..
117061.910246     1
33208.029833      1
468537.914172     1
200726.186795     1
491182.993124     1
33575.386083      1
11598.440367      1
197418.902650     1
358823.362006     1
145825.735788     1
40095.008442      1
132975.019755     1
95621.007807      1
52356.233556      1
159438.619004     1
75001.884033      1
28887.314399      1
132243.625461     1
124673.203626     1
140668.312481     1
105136.472804     1
47128.598143      1
289464.983738     1
28323.933250      1
22973.146750      1
106681.339184     1
272617.148474     1
317147.693213     1
182937.053307     1
15900.323668      1
451732.339685     1
279646.739741     1
662562.857491     1
285332.684304     1
36448.009229      1
53984.984633      1
339051.463388     1
187324.997100     1
42931.458315      1
241755.446501     1
92520.350725      1
102445.093312     1
109528.592048     1
205610.657720     1
57182.639904      1
218379.748544     1
86190.958582      1
167490.346839     1
725397.771917     1
37774.211250      1
Name: app_AMT_CREDIT_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 310096, dtype: int64

2018-07-06 20:43:28,768 logger 29 [INFO]    [make_npy] 33750.000000     85
22500.000000     71
40432.500000     57
49500.000000     41
49500.000000     37
99000.000000     35
11250.000000     35
44442.887658     34
0.000000         32
27252.000000     32
74250.000000     32
24750.000000     28
88885.775316     27
33332.165744     26
37759.500000     26
19800.000000     26
12735.000000     24
74250.000000     23
29700.000000     22
24750.000000     22
45000.000000     21
99000.000000     21
6750.000000      19
55553.609573     19
26064.000000     19
47115.000000     18
39096.000000     18
41769.000000     17
14850.000000     16
22221.443829     16
14220.000000     16
18000.000000     15
25875.000000     15
32004.000000     15
63619.993683     14
20700.000000     14
20250.000000     14
31500.000000     14
57340.800000     14
19800.000000     14
99445.405424     14
29628.000000     13
67500.000000     13
26703.025328     13
13500.000000     12
87014.729746     12
24876.000000     12
15750.000000     11
90000.000000     11
11110.721915     11
                 ..
117061.910246     1
33208.029833      1
468537.914172     1
200726.186795     1
491182.993124     1
33575.386083      1
11598.440367      1
197418.902650     1
358823.362006     1
145825.735788     1
40095.008442      1
132975.019755     1
95621.007807      1
52356.233556      1
159438.619004     1
75001.884033      1
28887.314399      1
132243.625461     1
124673.203626     1
140668.312481     1
105136.472804     1
47128.598143      1
289464.983738     1
28323.933250      1
22973.146750      1
106681.339184     1
272617.148474     1
317147.693213     1
182937.053307     1
15900.323668      1
451732.339685     1
279646.739741     1
662562.857491     1
285332.684304     1
36448.009229      1
53984.984633      1
339051.463388     1
187324.997100     1
42931.458315      1
241755.446501     1
92520.350725      1
102445.093312     1
109528.592048     1
205610.657720     1
57182.639904      1
218379.748544     1
86190.958582      1
167490.346839     1
725397.771917     1
37774.211250      1
Name: app_AMT_CREDIT_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 310096, dtype: int64
2018-07-06 20:43:28,815 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:28,815 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:28,943 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:28,943 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:29,036 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:29,036 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:29,077 logger 29 [INFO]    [make_npy] 33750.000000     85
22500.000000     71
40432.500000     57
49500.000000     41
49500.000000     37
44442.887658     36
74250.000000     35
11250.000000     35
99000.000000     34
27252.000000     32
24750.000000     29
37759.500000     26
19800.000000     26
33332.165744     26
12735.000000     24
88885.775316     24
74250.000000     24
29700.000000     22
24750.000000     22
99000.000000     21
45000.000000     21
55553.609573     19
6750.000000      19
26064.000000     19
39096.000000     18
47115.000000     18
22221.443829     17
41769.000000     17
18000.000000     17
14850.000000     16
14220.000000     16
63619.993683     16
20700.000000     15
32004.000000     15
25875.000000     15
19800.000000     15
57340.800000     14
31500.000000     14
20250.000000     14
29628.000000     13
99445.405424     13
87014.729746     13
118602.000000    13
26703.025328     13
67500.000000     13
90000.000000     12
24876.000000     12
13500.000000     12
29700.000000     11
53910.000000     11
                 ..
11962.370845      1
22754.937674      1
127985.359407     1
31168.779677      1
66121.812731      1
62336.601813      1
106835.323679     1
41624.395024      1
26284.118201      1
47128.598143      1
141871.584411     1
40509.101550      1
78002.933541      1
14685.376512      1
24766.706276      1
116549.904032     1
28237.301877      1
129215.620783     1
13959.004675      1
7282.099836       1
40096.857600      1
27251.101962      1
114320.465248     1
19350.043452      1
34971.528027      1
147124.190328     1
29148.165411      1
43327.462247      1
31264.621980      1
55869.895395      1
22693.847298      1
55579.338926      1
50687.609486      1
139281.880811     1
208979.340323     1
94298.593506      1
38072.459565      1
16612.401532      1
53853.941524      1
34636.539389      1
64305.023645      1
25505.694843      1
63488.997808      1
25925.663276      1
85182.054253      1
24381.250939      1
93909.404202      1
71516.947120      1
18995.898615      1
77815.940858      1
Name: app_AMT_CREDIT_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 310047, dtype: int64
2018-07-06 20:43:29,077 logger 29 [INFO]    [make_npy] 33750.000000     85
22500.000000     71
40432.500000     57
49500.000000     41
49500.000000     37
44442.887658     36
74250.000000     35
11250.000000     35
99000.000000     34
27252.000000     32
24750.000000     29
37759.500000     26
19800.000000     26
33332.165744     26
12735.000000     24
88885.775316     24
74250.000000     24
29700.000000     22
24750.000000     22
99000.000000     21
45000.000000     21
55553.609573     19
6750.000000      19
26064.000000     19
39096.000000     18
47115.000000     18
22221.443829     17
41769.000000     17
18000.000000     17
14850.000000     16
14220.000000     16
63619.993683     16
20700.000000     15
32004.000000     15
25875.000000     15
19800.000000     15
57340.800000     14
31500.000000     14
20250.000000     14
29628.000000     13
99445.405424     13
87014.729746     13
118602.000000    13
26703.025328     13
67500.000000     13
90000.000000     12
24876.000000     12
13500.000000     12
29700.000000     11
53910.000000     11
                 ..
11962.370845      1
22754.937674      1
127985.359407     1
31168.779677      1
66121.812731      1
62336.601813      1
106835.323679     1
41624.395024      1
26284.118201      1
47128.598143      1
141871.584411     1
40509.101550      1
78002.933541      1
14685.376512      1
24766.706276      1
116549.904032     1
28237.301877      1
129215.620783     1
13959.004675      1
7282.099836       1
40096.857600      1
27251.101962      1
114320.465248     1
19350.043452      1
34971.528027      1
147124.190328     1
29148.165411      1
43327.462247      1
31264.621980      1
55869.895395      1
22693.847298      1
55579.338926      1
50687.609486      1
139281.880811     1
208979.340323     1
94298.593506      1
38072.459565      1
16612.401532      1
53853.941524      1
34636.539389      1
64305.023645      1
25505.694843      1
63488.997808      1
25925.663276      1
85182.054253      1
24381.250939      1
93909.404202      1
71516.947120      1
18995.898615      1
77815.940858      1
Name: app_AMT_CREDIT_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 310047, dtype: int64
2018-07-06 20:43:29,094 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:29,094 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:29,198 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:29,198 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:29,284 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:29,284 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)

2018-07-06 20:43:29,326 logger 29 [INFO]    [make_npy] 33750.000000     107
22500.000000      91
40432.500000      64
49500.000000      54
24750.000000      54
74250.000000      48
49500.000000      47
99000.000000      45
24750.000000      42
44442.887658      41
11250.000000      41
29700.000000      38
19800.000000      38
27252.000000      38
45000.000000      35
74250.000000      34
25875.000000      33
67500.000000      32
99000.000000      32
37759.500000      31
33332.165744      31
88885.775316      27
12735.000000      27
55553.609573      25
31500.000000      25
26064.000000      25
13500.000000      25
77625.000000      24
19800.000000      24
39096.000000      23
56250.000000      23
6750.000000       23
90000.000000      22
22221.443829      22
14850.000000      22
41769.000000      21
47115.000000      21
20700.000000      20
128205.711520     20
53910.000000      20
26703.025328      20
31050.000000      19
28017.000000      19
44100.000000      19
14220.000000      19
53406.050657      18
74992.500000      18
63619.993683      17
20250.000000      17
77775.053402      17
                ...
122081.430378      1
41603.790760       1
45413.751860       1
274139.491435      1
71555.404716       1
106735.361612      1
18259.315791       1
189661.813491      1
102054.812426      1
112036.183210      1
43751.134700       1
56504.040718       1
106055.865000      1
9874.104568        1
31219.393487       1
133833.471206      1
23066.896339       1
67680.275583       1
122633.811651      1
49510.186797       1
16591.725000       1
69742.008555       1
54976.250883       1
99931.366833       1
53223.648395       1
97252.429134       1
74061.029195       1
44653.941870       1
116159.696152      1
72626.438292       1
22497.748887       1
172538.018712      1
64907.431658       1
210164.757364      1
37859.240588       1
342324.000000      1
50090.771962       1
30626.651076       1
47170.315554       1
29292.343525       1
25370.287819       1
32473.287000       1
18453.588790       1
221143.359586      1
11662.182833       1
113659.533865      1
32328.712297       1
191935.684626      1
47963.520000       1
56716.578947       1
Name: app_AMT_CREDIT_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 302604, dtype: int64
2018-07-06 20:43:29,326 logger 29 [INFO]    [make_npy] 33750.000000     107
22500.000000      91
40432.500000      64
49500.000000      54
24750.000000      54
74250.000000      48
49500.000000      47
99000.000000      45
24750.000000      42
44442.887658      41
11250.000000      41
29700.000000      38
19800.000000      38
27252.000000      38
45000.000000      35
74250.000000      34
25875.000000      33
67500.000000      32
99000.000000      32
37759.500000      31
33332.165744      31
88885.775316      27
12735.000000      27
55553.609573      25
31500.000000      25
26064.000000      25
13500.000000      25
77625.000000      24
19800.000000      24
39096.000000      23
56250.000000      23
6750.000000       23
90000.000000      22
22221.443829      22
14850.000000      22
41769.000000      21
47115.000000      21
20700.000000      20
128205.711520     20
53910.000000      20
26703.025328      20
31050.000000      19
28017.000000      19
44100.000000      19
14220.000000      19
53406.050657      18
74992.500000      18
63619.993683      17
20250.000000      17
77775.053402      17
                ...
122081.430378      1
41603.790760       1
45413.751860       1
274139.491435      1
71555.404716       1
106735.361612      1
18259.315791       1
189661.813491      1
102054.812426      1
112036.183210      1
43751.134700       1
56504.040718       1
106055.865000      1
9874.104568        1
31219.393487       1
133833.471206      1
23066.896339       1
67680.275583       1
122633.811651      1
49510.186797       1
16591.725000       1
69742.008555       1
54976.250883       1
99931.366833       1
53223.648395       1
97252.429134       1
74061.029195       1
44653.941870       1
116159.696152      1
72626.438292       1
22497.748887       1
172538.018712      1
64907.431658       1
210164.757364      1
37859.240588       1
342324.000000      1
50090.771962       1
30626.651076       1
47170.315554       1
29292.343525       1
25370.287819       1
32473.287000       1
18453.588790       1
221143.359586      1
11662.182833       1
113659.533865      1
32328.712297       1
191935.684626      1
47963.520000       1
56716.578947       1
Name: app_AMT_CREDIT_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 302604, dtype: int64
2018-07-06 20:43:29,385 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:29,385 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:29,494 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:29,494 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:29,565 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:29,565 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:29,602 logger 29 [INFO]    [make_npy] 33750.000000     580
22500.000000     522
11250.000000     397
44442.887658     313
40432.500000     311
45000.000000     303
33332.165744     261
22221.443829     239
27252.000000     198
13500.000000     193
55553.609573     180
22725.000000     174
37759.500000     171
12735.000000     162
56250.000000     158
6750.000000      154
66664.331487     153
9000.000000      151
88885.775316     150
26064.000000     149
63619.993683     138
18000.000000     138
67500.000000     129
53910.000000     129
64417.500000     127
39096.000000     127
15750.000000     114
14220.000000     112
32004.000000     109
11110.721915     109
37292.027034     107
41769.000000     105
31500.000000      98
47115.000000      97
13477.500000      97
53242.579414      96
29628.000000      92
49722.702712      92
20250.000000      89
27000.000000      87
25424.775000      87
99445.405424      84
50602.671888      84
24750.000000      84
33975.000000      82
50346.000000      78
24876.000000      77
38611.980797      76
12375.000000      74
10125.000000      71
                ...
59733.430830       1
154145.428553      1
16414.650000       1
150172.457286      1
50006.294964       1
112113.001372      1
16171.162691       1
143071.444946      1
11879.979991       1
46567.946653       1
48443.102140       1
151827.888000      1
61422.166008       1
12856.398336       1
74992.494226       1
50602.783095       1
27351.587302       1
120047.318660      1
27989.006677       1
31769.980293       1
26551.795990       1
62538.248006       1
30002.327085       1
7942.766169        1
42049.308343       1
33228.450000       1
27173.000649       1
31728.944104       1
85436.903653       1
16873.458236       1
35767.220819       1
95440.057768       1
20257.452715       1
58043.316964       1
58631.172853       1
56929.245466       1
19101.579838       1
87659.065286       1
19737.040286       1
24291.397652       1
40425.474760       1
42712.588462       1
37928.977030       1
81090.255440       1
12228.293496       1
12215.407923       1
72716.232549       1
23961.874099       1
46166.118190       1
22823.876145       1
Name: app_AMT_CREDIT_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 280385, dtype: int64
2018-07-06 20:43:29,602 logger 29 [INFO]    [make_npy] 33750.000000     580
22500.000000     522
11250.000000     397
44442.887658     313
40432.500000     311
45000.000000     303
33332.165744     261
22221.443829     239
27252.000000     198
13500.000000     193
55553.609573     180
22725.000000     174
37759.500000     171
12735.000000     162
56250.000000     158
6750.000000      154
66664.331487     153
9000.000000      151
88885.775316     150
26064.000000     149
63619.993683     138
18000.000000     138
67500.000000     129
53910.000000     129
64417.500000     127
39096.000000     127
15750.000000     114
14220.000000     112
32004.000000     109
11110.721915     109
37292.027034     107
41769.000000     105
31500.000000      98
47115.000000      97
13477.500000      97
53242.579414      96
29628.000000      92
49722.702712      92
20250.000000      89
27000.000000      87
25424.775000      87
99445.405424      84
50602.671888      84
24750.000000      84
33975.000000      82
50346.000000      78
24876.000000      77
38611.980797      76
12375.000000      74
10125.000000      71
                ...
59733.430830       1
154145.428553      1
16414.650000       1
150172.457286      1
50006.294964       1
112113.001372      1
16171.162691       1
143071.444946      1
11879.979991       1
46567.946653       1
48443.102140       1
151827.888000      1
61422.166008       1
12856.398336       1
74992.494226       1
50602.783095       1
27351.587302       1
120047.318660      1
27989.006677       1
31769.980293       1
26551.795990       1
62538.248006       1
30002.327085       1
7942.766169        1
42049.308343       1
33228.450000       1
27173.000649       1
31728.944104       1
85436.903653       1
16873.458236       1
35767.220819       1
95440.057768       1
20257.452715       1
58043.316964       1
58631.172853       1
56929.245466       1
19101.579838       1
87659.065286       1
19737.040286       1
24291.397652       1
40425.474760       1
42712.588462       1
37928.977030       1
81090.255440       1
12228.293496       1
12215.407923       1
72716.232549       1
23961.874099       1
46166.118190       1
22823.876145       1
Name: app_AMT_CREDIT_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 280385, dtype: int64

2018-07-06 20:43:29,646 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:29,646 logger 125 [INFO]    [select_level_agg]
num: app_AMT_CREDIT_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:29,794 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:29,794 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_CREDIT_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:29,906 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:29,906 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:29,935 logger 29 [INFO]    [make_npy] 0.000000e+00    162
1.272792e+03      3
1.063013e+04      2
3.099031e+04      2
7.811677e+04      2
1.083464e+04      2
2.916278e+04      2
1.603452e+04      2
2.079562e+03      2
4.924224e+02      2
4.226426e+04      2
1.263665e+02      2
1.616828e+03      2
9.014384e+03      2
6.396224e+03      2
3.655041e+04      2
1.422947e+04      2
2.297092e+04      2
1.311229e+04      2
3.136597e+04      2
2.954534e+02      2
9.624948e+03      2
2.047345e+04      2
3.857184e+04      2
3.493710e+04      2
8.544000e+04      2
4.932881e+04      2
5.430473e+04      2
3.097521e+04      2
3.012652e+04      2
6.736855e+04      2
1.447840e+04      2
5.351115e+03      2
7.939062e+03      2
2.828784e+03      2
6.893914e+02      2
2.185059e+04      2
5.037231e+03      2
8.423217e+03      2
2.102155e+04      2
1.469201e+04      2
1.450989e+03      2
1.455192e-11      2
6.461271e+02      2
1.810551e+04      2
2.386485e+04      2
1.909188e+04      2
6.338600e+04      2
1.990943e+04      2
1.714467e+04      2
               ...
2.748050e+04      1
3.128676e+04      1
1.241805e+04      1
1.893255e+04      1
3.232448e+04      1
4.436764e+04      1
1.882673e+04      1
2.033246e+04      1
8.849199e+03      1
4.158342e+04      1
1.262245e+05      1
9.661711e+04      1
3.761456e+04      1
8.367443e+03      1
5.026813e+03      1
4.408916e+04      1
5.892749e+03      1
3.668070e+04      1
8.025522e+03      1
1.356684e+04      1
7.156710e+03      1
3.647798e+04      1
1.088536e+04      1
1.428820e+04      1
1.628466e+04      1
1.752031e+04      1
4.988354e+03      1
6.870072e+04      1
2.052924e+04      1
4.811452e+04      1
1.215377e+04      1
1.617349e+04      1
7.789077e+03      1
8.474986e+03      1
4.889290e+04      1
2.812304e+03      1
7.665193e+03      1
9.511738e+03      1
2.427163e+04      1
2.027466e+04      1
5.159758e+04      1
1.560603e+04      1
8.812949e+03      1
8.874579e+03      1
9.562307e+04      1
4.132231e+03      1
5.053500e+04      1
2.818333e+04      1
4.642385e+03      1
1.277911e+04      1
Name: app_AMT_CREDIT_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 197537, dtype: int64
2018-07-06 20:43:29,935 logger 29 [INFO]    [make_npy] 0.000000e+00    162
1.272792e+03      3
1.063013e+04      2
3.099031e+04      2
7.811677e+04      2
1.083464e+04      2
2.916278e+04      2
1.603452e+04      2
2.079562e+03      2
4.924224e+02      2
4.226426e+04      2
1.263665e+02      2
1.616828e+03      2
9.014384e+03      2
6.396224e+03      2
3.655041e+04      2
1.422947e+04      2
2.297092e+04      2
1.311229e+04      2
3.136597e+04      2
2.954534e+02      2
9.624948e+03      2
2.047345e+04      2
3.857184e+04      2
3.493710e+04      2
8.544000e+04      2
4.932881e+04      2
5.430473e+04      2
3.097521e+04      2
3.012652e+04      2
6.736855e+04      2
1.447840e+04      2
5.351115e+03      2
7.939062e+03      2
2.828784e+03      2
6.893914e+02      2
2.185059e+04      2
5.037231e+03      2
8.423217e+03      2
2.102155e+04      2
1.469201e+04      2
1.450989e+03      2
1.455192e-11      2
6.461271e+02      2
1.810551e+04      2
2.386485e+04      2
1.909188e+04      2
6.338600e+04      2
1.990943e+04      2
1.714467e+04      2
               ...
2.748050e+04      1
3.128676e+04      1
1.241805e+04      1
1.893255e+04      1
3.232448e+04      1
4.436764e+04      1
1.882673e+04      1
2.033246e+04      1
8.849199e+03      1
4.158342e+04      1
1.262245e+05      1
9.661711e+04      1
3.761456e+04      1
8.367443e+03      1
5.026813e+03      1
4.408916e+04      1
5.892749e+03      1
3.668070e+04      1
8.025522e+03      1
1.356684e+04      1
7.156710e+03      1
3.647798e+04      1
1.088536e+04      1
1.428820e+04      1
1.628466e+04      1
1.752031e+04      1
4.988354e+03      1
6.870072e+04      1
2.052924e+04      1
4.811452e+04      1
1.215377e+04      1
1.617349e+04      1
7.789077e+03      1
8.474986e+03      1
4.889290e+04      1
2.812304e+03      1
7.665193e+03      1
9.511738e+03      1
2.427163e+04      1
2.027466e+04      1
5.159758e+04      1
1.560603e+04      1
8.812949e+03      1
8.874579e+03      1
9.562307e+04      1
4.132231e+03      1
5.053500e+04      1
2.818333e+04      1
4.642385e+03      1
1.277911e+04      1
Name: app_AMT_CREDIT_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 197537, dtype: int64
2018-07-06 20:43:29,985 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:29,985 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:30,089 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:30,089 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:30,162 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:30,162 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:30,212 logger 29 [INFO]    [make_npy] 0.000000        65
990.000000      20
1310.850000     20
1485.000000     19
1188.675000     18
1035.000000     14
990.000000      11
1332.000000     11
4158.000000     10
1088.775000     10
993.375000       9
1095.300000      9
1012.500000      9
1526.400000      8
1563.075000      8
2399.249290      8
1866.601282      8
1113.750000      8
2422.035000      7
2909.115000      7
1383.975000      7
1485.000000      7
337.500000       7
1606.275000      7
1125.000000      7
1113.750000      7
1304.325000      7
742.500000       6
1613.700000      6
1100.925000      6
986.850000       6
1792.159445      6
2894.760000      6
1080.000000      6
1298.475000      6
1048.950000      6
1503.900000      6
2222.144383      6
1068.121013      6
1055.475000      5
1236.600000      5
506.250000       5
1552.500000      5
1776.150000      5
1237.500000      5
675.000000       5
1669.725000      5
1080.000000      5
1094.400000      5
1609.943605      5
                ..
2389.869405      1
1331.762667      1
16731.664583     1
15030.573140     1
11850.230549     1
37692.070711     1
8206.594779      1
3906.697017      1
1562.227755      1
21093.815625     1
3978.932146      1
2639.513445      1
2459.209159      1
2139.753693      1
7823.359800      1
19454.165357     1
1626.835414      1
2179.777822      1
2997.969057      1
2110.235295      1
3688.057609      1
2621.735997      1
1876.746121      1
10084.782335     1
1074.542243      1
12451.734548     1
10621.768233     1
14965.238471     1
3781.085922      1
13002.042249     1
2644.263653      1
2516.157885      1
22850.060034     1
8160.333050      1
5335.198459      1
3766.034003      1
5742.952284      1
27109.779676     1
943.568486       1
25017.728384     1
13742.795606     1
4791.361759      1
1153.400052      1
9842.982317      1
11169.270692     1
5970.236531      1
1996.255967      1
8446.104648      1
15089.488045     1
4130.526869      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 312573, dtype: int64
2018-07-06 20:43:30,212 logger 29 [INFO]    [make_npy] 0.000000        65
990.000000      20
1310.850000     20
1485.000000     19
1188.675000     18
1035.000000     14
990.000000      11
1332.000000     11
4158.000000     10
1088.775000     10
993.375000       9
1095.300000      9
1012.500000      9
1526.400000      8
1563.075000      8
2399.249290      8
1866.601282      8
1113.750000      8
2422.035000      7
2909.115000      7
1383.975000      7
1485.000000      7
337.500000       7
1606.275000      7
1125.000000      7
1113.750000      7
1304.325000      7
742.500000       6
1613.700000      6
1100.925000      6
986.850000       6
1792.159445      6
2894.760000      6
1080.000000      6
1298.475000      6
1048.950000      6
1503.900000      6
2222.144383      6
1068.121013      6
1055.475000      5
1236.600000      5
506.250000       5
1552.500000      5
1776.150000      5
1237.500000      5
675.000000       5
1669.725000      5
1080.000000      5
1094.400000      5
1609.943605      5
                ..
2389.869405      1
1331.762667      1
16731.664583     1
15030.573140     1
11850.230549     1
37692.070711     1
8206.594779      1
3906.697017      1
1562.227755      1
21093.815625     1
3978.932146      1
2639.513445      1
2459.209159      1
2139.753693      1
7823.359800      1
19454.165357     1
1626.835414      1
2179.777822      1
2997.969057      1
2110.235295      1
3688.057609      1
2621.735997      1
1876.746121      1
10084.782335     1
1074.542243      1
12451.734548     1
10621.768233     1
14965.238471     1
3781.085922      1
13002.042249     1
2644.263653      1
2516.157885      1
22850.060034     1
8160.333050      1
5335.198459      1
3766.034003      1
5742.952284      1
27109.779676     1
943.568486       1
25017.728384     1
13742.795606     1
4791.361759      1
1153.400052      1
9842.982317      1
11169.270692     1
5970.236531      1
1996.255967      1
8446.104648      1
15089.488045     1
4130.526869      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 312573, dtype: int64

2018-07-06 20:43:30,262 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:30,262 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:30,384 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:30,384 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:30,469 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:30,469 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:30,507 logger 29 [INFO]    [make_npy] 1310.850000    20
990.000000     20
1485.000000    19
1188.675000    18
1035.000000    15
990.000000     12
1332.000000    11
4158.000000    11
1088.775000    10
993.375000      9
1095.300000     9
1012.500000     9
1563.075000     8
1866.601282     8
1526.400000     8
1113.750000     8
2399.249290     8
337.500000      7
2909.115000     7
1383.975000     7
1606.275000     7
1113.750000     7
1125.000000     7
2222.144383     7
2422.035000     7
1485.000000     7
1304.325000     7
1068.121013     6
986.850000      6
1503.900000     6
1100.925000     6
1613.700000     6
1792.159445     6
1048.950000     6
2894.760000     6
1080.000000     6
1237.500000     6
1298.475000     6
742.500000      6
1776.150000     5
1552.500000     5
666.643315      5
1609.943605     5
675.000000      5
1276.875000     5
333.321657      5
1080.000000     5
1669.725000     5
506.250000      5
1094.400000     5
               ..
2718.312986     1
2436.167362     1
4203.574610     1
5827.519290     1
4803.505572     1
3523.682365     1
2291.032800     1
2656.140561     1
2693.592627     1
1526.020021     1
1837.168578     1
3081.050261     1
5633.460855     1
8560.068774     1
2579.271114     1
7966.286736     1
2697.385758     1
1680.138900     1
2250.931646     1
5640.733641     1
3091.434965     1
3656.838126     1
2525.219752     1
9581.862619     1
1662.211725     1
2489.344379     1
4297.920049     1
7354.178587     1
2309.587537     1
3032.777956     1
3088.367082     1
456.129729      1
1303.746077     1
5594.152055     1
5053.185279     1
3160.177717     1
1655.661889     1
4590.376820     1
4016.408941     1
1435.594376     1
2944.864758     1
712.148621      1
3564.757625     1
3003.337546     1
2726.734104     1
848.905233      1
5534.244761     1
3917.415359     1
3923.425394     1
1213.750591     1
Name: app_AMT_ANNUITY_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 312549, dtype: int64
2018-07-06 20:43:30,507 logger 29 [INFO]    [make_npy] 1310.850000    20
990.000000     20
1485.000000    19
1188.675000    18
1035.000000    15
990.000000     12
1332.000000    11
4158.000000    11
1088.775000    10
993.375000      9
1095.300000     9
1012.500000     9
1563.075000     8
1866.601282     8
1526.400000     8
1113.750000     8
2399.249290     8
337.500000      7
2909.115000     7
1383.975000     7
1606.275000     7
1113.750000     7
1125.000000     7
2222.144383     7
2422.035000     7
1485.000000     7
1304.325000     7
1068.121013     6
986.850000      6
1503.900000     6
1100.925000     6
1613.700000     6
1792.159445     6
1048.950000     6
2894.760000     6
1080.000000     6
1237.500000     6
1298.475000     6
742.500000      6
1776.150000     5
1552.500000     5
666.643315      5
1609.943605     5
675.000000      5
1276.875000     5
333.321657      5
1080.000000     5
1669.725000     5
506.250000      5
1094.400000     5
               ..
2718.312986     1
2436.167362     1
4203.574610     1
5827.519290     1
4803.505572     1
3523.682365     1
2291.032800     1
2656.140561     1
2693.592627     1
1526.020021     1
1837.168578     1
3081.050261     1
5633.460855     1
8560.068774     1
2579.271114     1
7966.286736     1
2697.385758     1
1680.138900     1
2250.931646     1
5640.733641     1
3091.434965     1
3656.838126     1
2525.219752     1
9581.862619     1
1662.211725     1
2489.344379     1
4297.920049     1
7354.178587     1
2309.587537     1
3032.777956     1
3088.367082     1
456.129729      1
1303.746077     1
5594.152055     1
5053.185279     1
3160.177717     1
1655.661889     1
4590.376820     1
4016.408941     1
1435.594376     1
2944.864758     1
712.148621      1
3564.757625     1
3003.337546     1
2726.734104     1
848.905233      1
5534.244761     1
3917.415359     1
3923.425394     1
1213.750591     1
Name: app_AMT_ANNUITY_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 312549, dtype: int64
2018-07-06 20:43:30,549 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:30,549 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:30,648 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:30,648 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:30,732 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:30,732 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:30,773 logger 29 [INFO]    [make_npy] 1485.000000     32
990.000000      30
1188.675000     21
1310.850000     21
1035.000000     19
990.000000      19
4158.000000     17
1552.500000     14
1080.000000     13
1332.000000     13
675.000000      12
1088.775000     12
1095.300000     10
1485.000000     10
1575.000000     10
1012.500000     10
1237.500000     10
1825.022265     10
1526.400000     10
993.375000      10
1503.900000      9
2909.115000      9
1563.075000      9
3846.171346      9
1100.925000      8
2399.249290      8
1125.000000      8
1113.750000      8
2809.125000      8
1113.750000      8
1304.325000      8
2422.035000      8
1866.601282      8
1825.019335      8
2222.144383      8
2894.760000      7
742.500000       7
1582.650000      7
337.500000       7
2887.474050      7
1606.275000      7
1298.475000      7
1792.159445      7
1383.975000      7
742.500000       7
666.643315       7
1048.950000      7
986.850000       7
1215.000000      7
2737.529002      7
                ..
1032.599764      1
1606.116167      1
10574.180177     1
9624.790170      1
997.591960       1
6794.865782      1
3379.160578      1
7668.033795      1
1488.081697      1
4691.349175      1
7523.078133      1
3844.955092      1
6392.111877      1
3337.122301      1
4013.380360      1
2366.723761      1
2354.283189      1
5992.005642      1
2497.950000      1
9153.682580      1
6477.899473      1
4575.433661      1
2003.831584      1
6424.113510      1
3480.550817      1
2598.931035      1
5568.146480      1
4436.566497      1
5085.572475      1
6445.371657      1
15229.476139     1
3681.363789      1
3788.551359      1
1099.184285      1
1632.005052      1
3800.766373      1
749.854029       1
1493.845315      1
4507.426755      1
4035.826306      1
9170.909798      1
4342.834691      1
3371.602776      1
7229.662444      1
620.568819       1
4111.739526      1
3673.650420      1
3094.104340      1
4830.705000      1
2861.989442      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 310421, dtype: int64
2018-07-06 20:43:30,773 logger 29 [INFO]    [make_npy] 1485.000000     32
990.000000      30
1188.675000     21
1310.850000     21
1035.000000     19
990.000000      19
4158.000000     17
1552.500000     14
1080.000000     13
1332.000000     13
675.000000      12
1088.775000     12
1095.300000     10
1485.000000     10
1575.000000     10
1012.500000     10
1237.500000     10
1825.022265     10
1526.400000     10
993.375000      10
1503.900000      9
2909.115000      9
1563.075000      9
3846.171346      9
1100.925000      8
2399.249290      8
1125.000000      8
1113.750000      8
2809.125000      8
1113.750000      8
1304.325000      8
2422.035000      8
1866.601282      8
1825.019335      8
2222.144383      8
2894.760000      7
742.500000       7
1582.650000      7
337.500000       7
2887.474050      7
1606.275000      7
1298.475000      7
1792.159445      7
1383.975000      7
742.500000       7
666.643315       7
1048.950000      7
986.850000       7
1215.000000      7
2737.529002      7
                ..
1032.599764      1
1606.116167      1
10574.180177     1
9624.790170      1
997.591960       1
6794.865782      1
3379.160578      1
7668.033795      1
1488.081697      1
4691.349175      1
7523.078133      1
3844.955092      1
6392.111877      1
3337.122301      1
4013.380360      1
2366.723761      1
2354.283189      1
5992.005642      1
2497.950000      1
9153.682580      1
6477.899473      1
4575.433661      1
2003.831584      1
6424.113510      1
3480.550817      1
2598.931035      1
5568.146480      1
4436.566497      1
5085.572475      1
6445.371657      1
15229.476139     1
3681.363789      1
3788.551359      1
1099.184285      1
1632.005052      1
3800.766373      1
749.854029       1
1493.845315      1
4507.426755      1
4035.826306      1
9170.909798      1
4342.834691      1
3371.602776      1
7229.662444      1
620.568819       1
4111.739526      1
3673.650420      1
3094.104340      1
4830.705000      1
2861.989442      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 310421, dtype: int64

2018-07-06 20:43:30,818 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:30,818 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:30,954 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:30,954 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:31,040 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:31,040 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:31,104 logger 29 [INFO]    [make_npy] 675.000000     107
1310.850000    102
1188.675000     99
1890.000000     85
450.000000      71
1866.601282     70
1582.650000     64
993.375000      61
1095.300000     58
1332.000000     54
1088.775000     50
1800.381379     48
1012.500000     47
506.250000      47
1563.075000     46
1822.950000     44
1315.800000     44
1526.400000     43
1322.325000     43
1485.000000     43
337.500000      39
1100.925000     39
1304.325000     39
2222.144383     39
2590.131493     38
990.000000      38
1651.275000     37
1055.475000     37
1383.975000     37
1503.900000     36
2058.816771     36
1630.125000     36
843.750000      36
562.500000      36
666.643315      35
1563.056359     35
1276.875000     34
2113.037094     34
1814.625000     34
1350.000000     33
2139.525000     32
986.850000      32
2016.000000     32
1094.400000     32
1498.500000     31
900.000000      31
2565.243476     30
1125.000000     30
1333.286630     30
1581.525000     30
              ...
1705.198515      1
3663.660597      1
1475.643754      1
880.199146       1
4081.275000      1
2412.252960      1
5850.649017      1
1415.021757      1
1176.253838      1
1135.664160      1
5526.648700      1
2169.778200      1
1085.818142      1
3321.682810      1
2204.272933      1
2587.049519      1
5661.426288      1
2394.009562      1
608.177666       1
4217.591036      1
1281.010529      1
1134.225000      1
2311.652101      1
4441.618745      1
1100.538514      1
2076.024984      1
1337.772141      1
2156.300567      1
739.187091       1
2749.517946      1
690.027660       1
1521.631557      1
1176.216226      1
4447.903516      1
3887.623154      1
2477.568407      1
2278.658293      1
1052.708024      1
3594.620890      1
5387.740036      1
2932.595620      1
1984.252395      1
4199.578518      1
3852.189470      1
4821.901026      1
989.793316       1
5039.101552      1
1831.902142      1
3909.059116      1
4027.998776      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 294653, dtype: int64
2018-07-06 20:43:31,104 logger 29 [INFO]    [make_npy] 675.000000     107
1310.850000    102
1188.675000     99
1890.000000     85
450.000000      71
1866.601282     70
1582.650000     64
993.375000      61
1095.300000     58
1332.000000     54
1088.775000     50
1800.381379     48
1012.500000     47
506.250000      47
1563.075000     46
1822.950000     44
1315.800000     44
1526.400000     43
1322.325000     43
1485.000000     43
337.500000      39
1100.925000     39
1304.325000     39
2222.144383     39
2590.131493     38
990.000000      38
1651.275000     37
1055.475000     37
1383.975000     37
1503.900000     36
2058.816771     36
1630.125000     36
843.750000      36
562.500000      36
666.643315      35
1563.056359     35
1276.875000     34
2113.037094     34
1814.625000     34
1350.000000     33
2139.525000     32
986.850000      32
2016.000000     32
1094.400000     32
1498.500000     31
900.000000      31
2565.243476     30
1125.000000     30
1333.286630     30
1581.525000     30
              ...
1705.198515      1
3663.660597      1
1475.643754      1
880.199146       1
4081.275000      1
2412.252960      1
5850.649017      1
1415.021757      1
1176.253838      1
1135.664160      1
5526.648700      1
2169.778200      1
1085.818142      1
3321.682810      1
2204.272933      1
2587.049519      1
5661.426288      1
2394.009562      1
608.177666       1
4217.591036      1
1281.010529      1
1134.225000      1
2311.652101      1
4441.618745      1
1100.538514      1
2076.024984      1
1337.772141      1
2156.300567      1
739.187091       1
2749.517946      1
690.027660       1
1521.631557      1
1176.216226      1
4447.903516      1
3887.623154      1
2477.568407      1
2278.658293      1
1052.708024      1
3594.620890      1
5387.740036      1
2932.595620      1
1984.252395      1
4199.578518      1
3852.189470      1
4821.901026      1
989.793316       1
5039.101552      1
1831.902142      1
3909.059116      1
4027.998776      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 294653, dtype: int64
2018-07-06 20:43:31,134 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:31,134 logger 125 [INFO]    [select_level_agg]
num: app_AMT_ANNUITY_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:31,266 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:31,266 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_ANNUITY_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:31,362 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:31,362 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:31,398 logger 29 [INFO]    [make_npy] 0.000000e+00    163
3.818377e+02      2
8.896236e+01      2
2.044674e+03      2
1.435028e+02      2
6.404745e+02      2
3.215549e-13      2
8.203815e+02      2
1.921617e+03      2
2.941080e+03      2
1.011011e+03      2
1.516356e+03      2
1.237320e+01      2
6.505720e+01      2
4.227003e+02      2
5.778024e+03      2
2.901995e+03      2
7.061244e+02      1
5.569674e+02      1
6.228235e+01      1
1.267776e+03      1
3.333325e+03      1
3.494868e+03      1
5.894596e+02      1
3.896783e+01      1
5.958235e+02      1
8.195869e+02      1
2.445047e+03      1
8.732398e+02      1
1.338200e+03      1
1.101693e+02      1
7.525756e+01      1
6.888831e+02      1
7.456276e+01      1
3.170536e+02      1
9.315344e+02      1
3.112694e+02      1
3.343483e+02      1
2.279086e+03      1
1.913909e+03      1
2.340178e+03      1
1.263201e+02      1
1.336466e+03      1
1.463564e+03      1
1.281570e+03      1
3.319498e+03      1
1.925044e+03      1
2.082395e+03      1
1.749293e+03      1
3.178779e+02      1
               ...
1.882691e+03      1
2.597167e+03      1
5.859806e+01      1
1.000162e+03      1
4.419945e+03      1
1.383167e+03      1
1.905410e+03      1
8.779880e+02      1
1.624687e+03      1
1.554975e+01      1
6.244077e+02      1
6.476818e+02      1
6.261589e+02      1
3.042934e+03      1
3.259494e+02      1
1.512584e+03      1
2.606855e+02      1
2.383249e+02      1
1.788185e+02      1
1.773107e+02      1
3.753647e+02      1
8.938351e+02      1
5.551278e+02      1
3.879612e+02      1
2.732572e+03      1
1.097479e+03      1
2.243416e+02      1
1.514104e+02      1
1.738782e+03      1
1.648189e+03      1
1.589826e+03      1
4.037100e+03      1
6.226234e+02      1
3.748488e+02      1
8.336505e+02      1
6.112553e+02      1
1.613379e+03      1
1.502800e+03      1
1.174651e+02      1
1.010827e+03      1
5.630992e+03      1
5.459992e+02      1
2.887097e+03      1
1.370627e+03      1
2.387111e+03      1
5.345064e+02      1
1.891982e+03      1
1.188685e+03      1
5.204763e+01      1
1.219787e+03      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 197554, dtype: int64
2018-07-06 20:43:31,398 logger 29 [INFO]    [make_npy] 0.000000e+00    163
3.818377e+02      2
8.896236e+01      2
2.044674e+03      2
1.435028e+02      2
6.404745e+02      2
3.215549e-13      2
8.203815e+02      2
1.921617e+03      2
2.941080e+03      2
1.011011e+03      2
1.516356e+03      2
1.237320e+01      2
6.505720e+01      2
4.227003e+02      2
5.778024e+03      2
2.901995e+03      2
7.061244e+02      1
5.569674e+02      1
6.228235e+01      1
1.267776e+03      1
3.333325e+03      1
3.494868e+03      1
5.894596e+02      1
3.896783e+01      1
5.958235e+02      1
8.195869e+02      1
2.445047e+03      1
8.732398e+02      1
1.338200e+03      1
1.101693e+02      1
7.525756e+01      1
6.888831e+02      1
7.456276e+01      1
3.170536e+02      1
9.315344e+02      1
3.112694e+02      1
3.343483e+02      1
2.279086e+03      1
1.913909e+03      1
2.340178e+03      1
1.263201e+02      1
1.336466e+03      1
1.463564e+03      1
1.281570e+03      1
3.319498e+03      1
1.925044e+03      1
2.082395e+03      1
1.749293e+03      1
3.178779e+02      1
               ...
1.882691e+03      1
2.597167e+03      1
5.859806e+01      1
1.000162e+03      1
4.419945e+03      1
1.383167e+03      1
1.905410e+03      1
8.779880e+02      1
1.624687e+03      1
1.554975e+01      1
6.244077e+02      1
6.476818e+02      1
6.261589e+02      1
3.042934e+03      1
3.259494e+02      1
1.512584e+03      1
2.606855e+02      1
2.383249e+02      1
1.788185e+02      1
1.773107e+02      1
3.753647e+02      1
8.938351e+02      1
5.551278e+02      1
3.879612e+02      1
2.732572e+03      1
1.097479e+03      1
2.243416e+02      1
1.514104e+02      1
1.738782e+03      1
1.648189e+03      1
1.589826e+03      1
4.037100e+03      1
6.226234e+02      1
3.748488e+02      1
8.336505e+02      1
6.112553e+02      1
1.613379e+03      1
1.502800e+03      1
1.174651e+02      1
1.010827e+03      1
5.630992e+03      1
5.459992e+02      1
2.887097e+03      1
1.370627e+03      1
2.387111e+03      1
5.345064e+02      1
1.891982e+03      1
1.188685e+03      1
5.204763e+01      1
1.219787e+03      1
Name: app_AMT_ANNUITY_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 197554, dtype: int64

2018-07-06 20:43:31,449 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:31,449 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:31,565 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:31,565 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:31,637 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:31,637 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:31,685 logger 29 [INFO]    [make_npy] 6750.000000      199
5625.000000      167
7875.000000      157
11250.000000     146
9000.000000      132
4500.000000      109
12375.000000     108
13500.000000      98
14850.000000      93
9900.000000       84
10125.000000      75
14850.000000      75
19800.000000      72
17325.000000      72
11110.721915      68
18000.000000      64
15555.010680      55
3375.000000       52
24750.000000      52
12375.000000      51
15750.000000      49
19800.000000      47
9999.649723       45
17325.000000      45
13332.866297      45
8888.577532       44
7425.000000       43
16021.815197      43
9900.000000       42
22500.000000      40
17777.155063      38
20250.000000      38
22275.000000      37
15525.000000      36
10800.000000      35
24750.000000      35
7777.505340       34
10350.000000      33
29700.000000      33
21600.000000      32
16200.000000      32
22221.443829      32
0.000000          32
13500.000000      31
6300.000000       29
12937.500000      29
13351.512664      28
10681.210131      26
4050.000000       25
18900.000000      25
                ...
59764.729380       1
61696.167862       1
22186.207495       1
20303.995170       1
39476.403061       1
18765.546149       1
133919.058717      1
66947.458593       1
92268.104745       1
27094.548075       1
54316.699331       1
6572.490961        1
11927.269146       1
46995.279278       1
23850.467984       1
14998.497610       1
42514.584719       1
10178.175276       1
14411.080882       1
18419.620670       1
9668.576929        1
21067.165972       1
86673.597354       1
53924.076318       1
71309.439420       1
30955.508898       1
45886.558709       1
47440.782765       1
34115.046202       1
74424.179164       1
35027.690806       1
32120.560921       1
24991.554615       1
21906.468817       1
39441.090040       1
160473.529880      1
52470.105380       1
20173.867847       1
115449.540186      1
229171.083865      1
36210.632214       1
48253.864875       1
18063.072289       1
49612.475449       1
18540.034729       1
21002.544098       1
5999.425837        1
27621.012155       1
92575.441721       1
67807.151359       1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 303197, dtype: int64
2018-07-06 20:43:31,685 logger 29 [INFO]    [make_npy] 6750.000000      199
5625.000000      167
7875.000000      157
11250.000000     146
9000.000000      132
4500.000000      109
12375.000000     108
13500.000000      98
14850.000000      93
9900.000000       84
10125.000000      75
14850.000000      75
19800.000000      72
17325.000000      72
11110.721915      68
18000.000000      64
15555.010680      55
3375.000000       52
24750.000000      52
12375.000000      51
15750.000000      49
19800.000000      47
9999.649723       45
17325.000000      45
13332.866297      45
8888.577532       44
7425.000000       43
16021.815197      43
9900.000000       42
22500.000000      40
17777.155063      38
20250.000000      38
22275.000000      37
15525.000000      36
10800.000000      35
24750.000000      35
7777.505340       34
10350.000000      33
29700.000000      33
21600.000000      32
16200.000000      32
22221.443829      32
0.000000          32
13500.000000      31
6300.000000       29
12937.500000      29
13351.512664      28
10681.210131      26
4050.000000       25
18900.000000      25
                ...
59764.729380       1
61696.167862       1
22186.207495       1
20303.995170       1
39476.403061       1
18765.546149       1
133919.058717      1
66947.458593       1
92268.104745       1
27094.548075       1
54316.699331       1
6572.490961        1
11927.269146       1
46995.279278       1
23850.467984       1
14998.497610       1
42514.584719       1
10178.175276       1
14411.080882       1
18419.620670       1
9668.576929        1
21067.165972       1
86673.597354       1
53924.076318       1
71309.439420       1
30955.508898       1
45886.558709       1
47440.782765       1
34115.046202       1
74424.179164       1
35027.690806       1
32120.560921       1
24991.554615       1
21906.468817       1
39441.090040       1
160473.529880      1
52470.105380       1
20173.867847       1
115449.540186      1
229171.083865      1
36210.632214       1
48253.864875       1
18063.072289       1
49612.475449       1
18540.034729       1
21002.544098       1
5999.425837        1
27621.012155       1
92575.441721       1
67807.151359       1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 303197, dtype: int64
2018-07-06 20:43:31,707 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:31,707 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:31,846 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:31,846 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:31,986 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:31,986 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:32,032 logger 29 [INFO]    [make_npy] 6750.000000     199
5625.000000     167
7875.000000     157
11250.000000    146
9000.000000     136
12375.000000    109
4500.000000     109
13500.000000     99
14850.000000     94
9900.000000      84
10125.000000     76
14850.000000     75
17325.000000     75
19800.000000     73
11110.721915     69
18000.000000     63
15555.010680     56
3375.000000      52
24750.000000     52
12375.000000     51
13332.866297     50
15750.000000     49
19800.000000     47
8888.577532      47
17325.000000     46
9999.649723      46
7425.000000      43
16021.815197     43
9900.000000      42
20250.000000     40
22500.000000     40
17777.155063     40
22275.000000     38
10800.000000     37
22221.443829     36
15525.000000     36
7777.505340      36
24750.000000     35
16200.000000     35
10350.000000     33
29700.000000     32
13500.000000     31
21600.000000     30
12937.500000     29
6300.000000      29
13351.512664     28
18112.500000     25
18900.000000     25
10681.210131     25
4050.000000      25
               ...
24438.047453      1
27453.489747      1
7499.236379       1
10912.032925      1
11702.316160      1
11553.314054      1
18939.308097      1
34091.458502      1
20154.541664      1
18453.623692      1
19512.836093      1
42318.538360      1
17613.029316      1
20164.555309      1
16483.663417      1
25821.864966      1
11905.200563      1
25166.889173      1
39156.354075      1
10663.477628      1
18653.325062      1
5221.793721       1
29593.792403      1
10222.187662      1
12574.408584      1
7394.997431       1
35416.467969      1
13532.190665      1
28205.082821      1
10972.928087      1
32233.229361      1
28168.259327      1
15333.300716      1
17359.971146      1
15623.551377      1
85900.335495      1
13373.805349      1
33417.877024      1
10995.154495      1
8400.590615       1
43385.013958      1
27531.852810      1
19496.313812      1
5751.007825       1
11330.552497      1
15648.211194      1
13011.123217      1
24716.957044      1
14603.497878      1
8365.774673       1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 303151, dtype: int64

2018-07-06 20:43:32,032 logger 29 [INFO]    [make_npy] 6750.000000     199
5625.000000     167
7875.000000     157
11250.000000    146
9000.000000     136
12375.000000    109
4500.000000     109
13500.000000     99
14850.000000     94
9900.000000      84
10125.000000     76
14850.000000     75
17325.000000     75
19800.000000     73
11110.721915     69
18000.000000     63
15555.010680     56
3375.000000      52
24750.000000     52
12375.000000     51
13332.866297     50
15750.000000     49
19800.000000     47
8888.577532      47
17325.000000     46
9999.649723      46
7425.000000      43
16021.815197     43
9900.000000      42
20250.000000     40
22500.000000     40
17777.155063     40
22275.000000     38
10800.000000     37
22221.443829     36
15525.000000     36
7777.505340      36
24750.000000     35
16200.000000     35
10350.000000     33
29700.000000     32
13500.000000     31
21600.000000     30
12937.500000     29
6300.000000      29
13351.512664     28
18112.500000     25
18900.000000     25
10681.210131     25
4050.000000      25
               ...
24438.047453      1
27453.489747      1
7499.236379       1
10912.032925      1
11702.316160      1
11553.314054      1
18939.308097      1
34091.458502      1
20154.541664      1
18453.623692      1
19512.836093      1
42318.538360      1
17613.029316      1
20164.555309      1
16483.663417      1
25821.864966      1
11905.200563      1
25166.889173      1
39156.354075      1
10663.477628      1
18653.325062      1
5221.793721       1
29593.792403      1
10222.187662      1
12574.408584      1
7394.997431       1
35416.467969      1
13532.190665      1
28205.082821      1
10972.928087      1
32233.229361      1
28168.259327      1
15333.300716      1
17359.971146      1
15623.551377      1
85900.335495      1
13373.805349      1
33417.877024      1
10995.154495      1
8400.590615       1
43385.013958      1
27531.852810      1
19496.313812      1
5751.007825       1
11330.552497      1
15648.211194      1
13011.123217      1
24716.957044      1
14603.497878      1
8365.774673       1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 303151, dtype: int64
2018-07-06 20:43:32,079 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:32,079 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:32,182 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:32,182 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:32,263 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:32,263 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:32,314 logger 29 [INFO]    [make_npy] 6750.000000     278
11250.000000    239
5625.000000     213
7875.000000     211
9000.000000     191
13500.000000    175
12375.000000    165
14850.000000    161
17325.000000    126
4500.000000     126
10125.000000    125
14850.000000    118
19800.000000    118
18000.000000    118
9900.000000     115
15750.000000    101
24750.000000     96
12375.000000     90
11110.721915     89
21600.000000     78
19800.000000     77
17325.000000     76
9900.000000      71
10800.000000     71
16021.815197     71
13332.866297     69
20250.000000     68
22500.000000     68
15555.010680     68
15525.000000     67
9999.649723      64
12937.500000     63
8888.577532      62
22275.000000     62
13500.000000     60
27375.290023     59
7425.000000      59
13351.512664     58
3375.000000      56
29700.000000     56
16200.000000     55
10350.000000     54
17777.155063     51
18112.500000     51
7777.505340      50
35100.000000     49
18250.222652     49
12303.025328     48
14763.630394     47
22221.443829     47
               ...
33758.844340      1
21819.085714      1
11417.579983      1
27161.977106      1
20142.015561      1
32051.286369      1
48708.000000      1
21326.816059      1
29203.662281      1
11092.491229      1
25838.972901      1
15232.476140      1
13579.031250      1
27158.000000      1
14863.514851      1
17069.570174      1
11089.720927      1
16186.437570      1
13885.569106      1
69389.925783      1
62987.578762      1
24572.049527      1
5651.373601       1
74892.649084      1
3304.256626       1
7419.611768       1
24899.118483      1
67301.981099      1
32345.960094      1
45886.558709      1
40965.729483      1
35252.559629      1
47833.136095      1
37800.763043      1
12262.964152      1
23631.762011      1
10178.175276      1
36742.591678      1
40641.838881      1
13013.962766      1
39875.741789      1
27621.012155      1
5999.425837       1
14875.883451      1
18540.034729      1
22578.824834      1
8259.539275       1
30307.560000      1
69589.845626      1
40888.680510      1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 277274, dtype: int64
2018-07-06 20:43:32,314 logger 29 [INFO]    [make_npy] 6750.000000     278
11250.000000    239
5625.000000     213
7875.000000     211
9000.000000     191
13500.000000    175
12375.000000    165
14850.000000    161
17325.000000    126
4500.000000     126
10125.000000    125
14850.000000    118
19800.000000    118
18000.000000    118
9900.000000     115
15750.000000    101
24750.000000     96
12375.000000     90
11110.721915     89
21600.000000     78
19800.000000     77
17325.000000     76
9900.000000      71
10800.000000     71
16021.815197     71
13332.866297     69
20250.000000     68
22500.000000     68
15555.010680     68
15525.000000     67
9999.649723      64
12937.500000     63
8888.577532      62
22275.000000     62
13500.000000     60
27375.290023     59
7425.000000      59
13351.512664     58
3375.000000      56
29700.000000     56
16200.000000     55
10350.000000     54
17777.155063     51
18112.500000     51
7777.505340      50
35100.000000     49
18250.222652     49
12303.025328     48
14763.630394     47
22221.443829     47
               ...
33758.844340      1
21819.085714      1
11417.579983      1
27161.977106      1
20142.015561      1
32051.286369      1
48708.000000      1
21326.816059      1
29203.662281      1
11092.491229      1
25838.972901      1
15232.476140      1
13579.031250      1
27158.000000      1
14863.514851      1
17069.570174      1
11089.720927      1
16186.437570      1
13885.569106      1
69389.925783      1
62987.578762      1
24572.049527      1
5651.373601       1
74892.649084      1
3304.256626       1
7419.611768       1
24899.118483      1
67301.981099      1
32345.960094      1
45886.558709      1
40965.729483      1
35252.559629      1
47833.136095      1
37800.763043      1
12262.964152      1
23631.762011      1
10178.175276      1
36742.591678      1
40641.838881      1
13013.962766      1
39875.741789      1
27621.012155      1
5999.425837       1
14875.883451      1
18540.034729      1
22578.824834      1
8259.539275       1
30307.560000      1
69589.845626      1
40888.680510      1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 277274, dtype: int64
2018-07-06 20:43:32,366 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:32,366 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:32,488 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:32,488 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:32,562 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:32,562 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)

2018-07-06 20:43:32,598 logger 29 [INFO]    [make_npy] 6750.000000     1926
7875.000000     1541
5625.000000     1526
9000.000000     1466
11250.000000    1268
4500.000000     1079
11110.721915    1030
10125.000000     980
8888.577532      810
13500.000000     744
13332.866297     712
6666.433149      650
9999.649723      621
7777.505340      607
15555.010680     527
3375.000000      454
17777.155063     443
15750.000000     433
5555.360957      362
12375.000000     327
18000.000000     322
6300.000000      296
4050.000000      281
12221.794106     272
22221.443829     255
14443.938489     228
14850.000000     219
12375.000000     214
6075.000000      203
22500.000000     200
4950.000000      196
14625.000000     187
5175.000000      186
9900.000000      181
20250.000000     175
19999.299446     173
4444.288766      166
9450.000000      161
17325.000000     160
8550.000000      151
7200.000000      151
14850.000000     147
19800.000000     145
8100.000000      137
16666.082872     135
3825.000000      133
5850.000000      128
8325.000000      121
3600.000000      120
10800.000000     116
                ...
29402.135774       1
15607.675388       1
10791.059603       1
12433.505359       1
6300.457221        1
5249.487827        1
38105.975757       1
5514.744704        1
8028.010801        1
28327.327978       1
23332.715555       1
9660.719784        1
15649.178491       1
19321.014829       1
17298.900000       1
10500.747264       1
11941.315738       1
22211.177699       1
6526.049278        1
29750.179939       1
8098.355334        1
7985.700000        1
8117.987712        1
29002.367834       1
17063.582566       1
10292.531374       1
24132.037615       1
13678.890306       1
12263.418617       1
14750.993634       1
25842.278146       1
21073.443552       1
17189.456173       1
16236.001145       1
12681.380026       1
4607.120000        1
8016.190133        1
7517.964412        1
30553.672236       1
18380.241063       1
19320.272120       1
21835.188105       1
6148.237500        1
5073.755306        1
52339.970049       1
11991.619420       1
15539.233536       1
3775.912461        1
4261.951348        1
19152.049763       1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 245379, dtype: int64
2018-07-06 20:43:32,598 logger 29 [INFO]    [make_npy] 6750.000000     1926
7875.000000     1541
5625.000000     1526
9000.000000     1466
11250.000000    1268
4500.000000     1079
11110.721915    1030
10125.000000     980
8888.577532      810
13500.000000     744
13332.866297     712
6666.433149      650
9999.649723      621
7777.505340      607
15555.010680     527
3375.000000      454
17777.155063     443
15750.000000     433
5555.360957      362
12375.000000     327
18000.000000     322
6300.000000      296
4050.000000      281
12221.794106     272
22221.443829     255
14443.938489     228
14850.000000     219
12375.000000     214
6075.000000      203
22500.000000     200
4950.000000      196
14625.000000     187
5175.000000      186
9900.000000      181
20250.000000     175
19999.299446     173
4444.288766      166
9450.000000      161
17325.000000     160
8550.000000      151
7200.000000      151
14850.000000     147
19800.000000     145
8100.000000      137
16666.082872     135
3825.000000      133
5850.000000      128
8325.000000      121
3600.000000      120
10800.000000     116
                ...
29402.135774       1
15607.675388       1
10791.059603       1
12433.505359       1
6300.457221        1
5249.487827        1
38105.975757       1
5514.744704        1
8028.010801        1
28327.327978       1
23332.715555       1
9660.719784        1
15649.178491       1
19321.014829       1
17298.900000       1
10500.747264       1
11941.315738       1
22211.177699       1
6526.049278        1
29750.179939       1
8098.355334        1
7985.700000        1
8117.987712        1
29002.367834       1
17063.582566       1
10292.531374       1
24132.037615       1
13678.890306       1
12263.418617       1
14750.993634       1
25842.278146       1
21073.443552       1
17189.456173       1
16236.001145       1
12681.380026       1
4607.120000        1
8016.190133        1
7517.964412        1
30553.672236       1
18380.241063       1
19320.272120       1
21835.188105       1
6148.237500        1
5073.755306        1
52339.970049       1
11991.619420       1
15539.233536       1
3775.912461        1
4261.951348        1
19152.049763       1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 245379, dtype: int64
2018-07-06 20:43:32,643 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:32,643 logger 125 [INFO]    [select_level_agg]
num: app_AMT_INCOME_TOTAL_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:32,783 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:32,783 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_INCOME_TOTAL_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:32,877 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:32,877 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:32,905 logger 29 [INFO]    [make_npy] 0.000000         161
118.181374         8
78.787583          6
7636.753237        5
6682.159082        4
4772.970773        4
8118.823285        4
1589.081069        4
98.484479          4
196.968957         4
7954.951288        4
137.878270         4
2064.343425        3
7555.323191        3
5727.564928        3
8591.347391        3
4391.133111        3
6769.621174        2
924.140745         2
6522.757700        2
5895.854608        2
7953.100414        2
1727.684259        2
7180.435182        2
1669.345365        2
3904.397673        2
15206.626412       2
5263.506137        2
5623.125795        2
26947.421577       2
7165.707042        2
10064.469337       2
6729.869709        2
3574.970817        2
5938.971234        2
2768.323048        2
5816.185678        2
4846.527808        2
5305.335006        2
1060.044448        2
21984.298818       2
9581.356942        2
3472.677850        2
12932.904387       2
1288.669906        2
27881.535490       2
22423.567628       2
2394.718309        2
13082.610913       2
6358.897724        2
                ...
3189.281291        1
2503.061216        1
3750.419830        1
7430.481584        1
3362.105349        1
245.484789         1
10103.196636       1
7136.360511        1
5996.900261        1
19334.377197       1
8155.293866        1
13323.101662       1
8717.048972        1
11299.114696       1
14575.333826       1
6763.465386        1
7487.404541        1
4802.001163        1
14788.343827       1
2331.144468        1
11105.969713       1
12262.336191       1
15312.557263       1
5839.528193        1
20988.882437       1
668.286306         1
4648.875762        1
21230.324934       1
21578.690288       1
18816.499725       1
23748.910789       1
26653.737486       1
19111.469163       1
4192.192542        1
7973.031247        1
5874.374899        1
5174.433660        1
13998.537489       1
8559.494462        1
8559.398264        1
5177.134714        1
5353.693347        1
131160.917781      1
1422.938017        1
4684.513096        1
38678.914484       1
1142.368702        1
6985.047808        1
6399.484759        1
7238.867123        1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 196783, dtype: int64
2018-07-06 20:43:32,905 logger 29 [INFO]    [make_npy] 0.000000         161
118.181374         8
78.787583          6
7636.753237        5
6682.159082        4
4772.970773        4
8118.823285        4
1589.081069        4
98.484479          4
196.968957         4
7954.951288        4
137.878270         4
2064.343425        3
7555.323191        3
5727.564928        3
8591.347391        3
4391.133111        3
6769.621174        2
924.140745         2
6522.757700        2
5895.854608        2
7953.100414        2
1727.684259        2
7180.435182        2
1669.345365        2
3904.397673        2
15206.626412       2
5263.506137        2
5623.125795        2
26947.421577       2
7165.707042        2
10064.469337       2
6729.869709        2
3574.970817        2
5938.971234        2
2768.323048        2
5816.185678        2
4846.527808        2
5305.335006        2
1060.044448        2
21984.298818       2
9581.356942        2
3472.677850        2
12932.904387       2
1288.669906        2
27881.535490       2
22423.567628       2
2394.718309        2
13082.610913       2
6358.897724        2
                ...
3189.281291        1
2503.061216        1
3750.419830        1
7430.481584        1
3362.105349        1
245.484789         1
10103.196636       1
7136.360511        1
5996.900261        1
19334.377197       1
8155.293866        1
13323.101662       1
8717.048972        1
11299.114696       1
14575.333826       1
6763.465386        1
7487.404541        1
4802.001163        1
14788.343827       1
2331.144468        1
11105.969713       1
12262.336191       1
15312.557263       1
5839.528193        1
20988.882437       1
668.286306         1
4648.875762        1
21230.324934       1
21578.690288       1
18816.499725       1
23748.910789       1
26653.737486       1
19111.469163       1
4192.192542        1
7973.031247        1
5874.374899        1
5174.433660        1
13998.537489       1
8559.494462        1
8559.398264        1
5177.134714        1
5353.693347        1
131160.917781      1
1422.938017        1
4684.513096        1
38678.914484       1
1142.368702        1
6985.047808        1
6399.484759        1
7238.867123        1
Name: app_AMT_INCOME_TOTAL_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 196783, dtype: int64

2018-07-06 20:43:32,952 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:32,952 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:33,053 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,053 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,127 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:33,127 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:33,167 logger 29 [INFO]    [make_npy]  0.000000    32
-0.042283    12
-0.036430    11
-0.042105    10
-0.029940    10
-0.039841    10
-0.039683     9
-0.027137     9
-0.033113     8
-0.032895     8
-0.020202     8
-0.040080     8
-0.047962     8
-0.033670     8
-0.044643     8
-0.040816     8
-0.029326     8
-0.059347     8
-0.029586     8
-0.036101     8
-0.042017     8
-0.058997     7
-0.030303     7
-0.030441     7
-0.034483     7
-0.037175     7
-0.028249     7
-0.055249     7
-0.029412     7
-0.029499     7
-0.049383     7
-0.051680     7
-0.030722     7
-0.047281     7
-0.027322     7
-0.038911     7
-0.031949     7
-0.047506     7
-0.029112     6
-0.037736     6
-0.022391     6
-0.042735     6
-0.044843     6
-0.032468     6
-0.048193     6
-0.031696     6
-0.026738     6
-0.034014     6
-0.040650     6
-0.016469     6
             ..
-0.051122     1
-0.014977     1
-0.037293     1
-0.010129     1
-0.082734     1
-0.037294     1
-0.012809     1
-0.036579     1
-0.039618     1
-0.082677     1
-0.021323     1
-0.026370     1
-0.067122     1
-0.026326     1
-0.012994     1
-0.006144     1
-0.146304     1
-0.023889     1
-0.012337     1
-0.190340     1
-0.025747     1
-0.067740     1
-0.007124     1
-0.035946     1
-0.008956     1
-0.105764     1
-0.016126     1
-0.053414     1
-0.172298     1
-0.158832     1
-0.081148     1
-0.071574     1
-0.022756     1
-0.058463     1
-0.034632     1
-0.063440     1
-0.074385     1
-0.060509     1
-0.012995     1
-0.084373     1
-0.010977     1
-0.067173     1
-0.092641     1
-0.039652     1
-0.039808     1
-0.016322     1
-0.036584     1
-0.205315     1
-0.029152     1
-0.038291     1
Name: cnt_annuity_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 310350, dtype: int64
2018-07-06 20:43:33,167 logger 29 [INFO]    [make_npy]  0.000000    32
-0.042283    12
-0.036430    11
-0.042105    10
-0.029940    10
-0.039841    10
-0.039683     9
-0.027137     9
-0.033113     8
-0.032895     8
-0.020202     8
-0.040080     8
-0.047962     8
-0.033670     8
-0.044643     8
-0.040816     8
-0.029326     8
-0.059347     8
-0.029586     8
-0.036101     8
-0.042017     8
-0.058997     7
-0.030303     7
-0.030441     7
-0.034483     7
-0.037175     7
-0.028249     7
-0.055249     7
-0.029412     7
-0.029499     7
-0.049383     7
-0.051680     7
-0.030722     7
-0.047281     7
-0.027322     7
-0.038911     7
-0.031949     7
-0.047506     7
-0.029112     6
-0.037736     6
-0.022391     6
-0.042735     6
-0.044843     6
-0.032468     6
-0.048193     6
-0.031696     6
-0.026738     6
-0.034014     6
-0.040650     6
-0.016469     6
             ..
-0.051122     1
-0.014977     1
-0.037293     1
-0.010129     1
-0.082734     1
-0.037294     1
-0.012809     1
-0.036579     1
-0.039618     1
-0.082677     1
-0.021323     1
-0.026370     1
-0.067122     1
-0.026326     1
-0.012994     1
-0.006144     1
-0.146304     1
-0.023889     1
-0.012337     1
-0.190340     1
-0.025747     1
-0.067740     1
-0.007124     1
-0.035946     1
-0.008956     1
-0.105764     1
-0.016126     1
-0.053414     1
-0.172298     1
-0.158832     1
-0.081148     1
-0.071574     1
-0.022756     1
-0.058463     1
-0.034632     1
-0.063440     1
-0.074385     1
-0.060509     1
-0.012995     1
-0.084373     1
-0.010977     1
-0.067173     1
-0.092641     1
-0.039652     1
-0.039808     1
-0.016322     1
-0.036584     1
-0.205315     1
-0.029152     1
-0.038291     1
Name: cnt_annuity_div_DAYS_BIRTH@_sum@['SK_ID_CURR'], Length: 310350, dtype: int64
2018-07-06 20:43:33,218 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:33,218 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:33,326 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,326 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,423 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:33,423 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:33,467 logger 29 [INFO]    [make_npy] -0.042283    12
-0.036430    11
-0.029940    10
-0.042105    10
-0.039841    10
-0.039683     9
-0.027137     9
-0.059347     8
-0.029586     8
-0.044643     8
-0.020202     8
-0.033670     8
-0.036101     8
-0.040816     8
-0.047962     8
-0.042017     8
-0.032895     8
-0.033113     8
-0.040080     8
-0.030722     7
-0.029326     7
-0.047506     7
-0.037175     7
-0.051680     7
-0.049383     7
-0.047281     7
-0.028249     7
-0.034483     7
-0.026738     7
-0.031949     7
-0.038911     7
-0.030441     7
-0.029499     7
-0.030303     7
-0.058997     7
-0.029412     7
-0.055249     7
-0.027322     7
-0.048193     6
-0.036630     6
-0.034247     6
-0.042553     6
-0.042735     6
-0.031299     6
-0.039139     6
-0.026042     6
-0.035026     6
-0.030864     6
-0.041152     6
-0.032841     6
             ..
-0.014565     1
-0.028347     1
-0.027364     1
-0.025658     1
-0.029152     1
-0.024731     1
-0.023889     1
-0.035745     1
-0.034522     1
-0.025747     1
-0.033870     1
-0.007124     1
-0.018269     1
-0.044186     1
-0.037135     1
-0.011966     1
-0.026167     1
-0.023703     1
-0.020686     1
-0.010570     1
-0.063786     1
-0.023277     1
-0.026598     1
-0.026810     1
-0.021085     1
-0.015922     1
-0.022950     1
-0.023951     1
-0.010408     1
-0.013816     1
-0.011969     1
-0.013485     1
-0.021473     1
-0.015277     1
-0.009481     1
-0.009340     1
-0.010485     1
-0.031680     1
-0.019697     1
-0.017372     1
-0.022454     1
-0.053309     1
-0.017187     1
-0.009538     1
-0.010899     1
-0.014106     1
-0.012819     1
-0.019320     1
-0.029940     1
-0.019145     1
Name: cnt_annuity_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 310286, dtype: int64
2018-07-06 20:43:33,467 logger 29 [INFO]    [make_npy] -0.042283    12
-0.036430    11
-0.029940    10
-0.042105    10
-0.039841    10
-0.039683     9
-0.027137     9
-0.059347     8
-0.029586     8
-0.044643     8
-0.020202     8
-0.033670     8
-0.036101     8
-0.040816     8
-0.047962     8
-0.042017     8
-0.032895     8
-0.033113     8
-0.040080     8
-0.030722     7
-0.029326     7
-0.047506     7
-0.037175     7
-0.051680     7
-0.049383     7
-0.047281     7
-0.028249     7
-0.034483     7
-0.026738     7
-0.031949     7
-0.038911     7
-0.030441     7
-0.029499     7
-0.030303     7
-0.058997     7
-0.029412     7
-0.055249     7
-0.027322     7
-0.048193     6
-0.036630     6
-0.034247     6
-0.042553     6
-0.042735     6
-0.031299     6
-0.039139     6
-0.026042     6
-0.035026     6
-0.030864     6
-0.041152     6
-0.032841     6
             ..
-0.014565     1
-0.028347     1
-0.027364     1
-0.025658     1
-0.029152     1
-0.024731     1
-0.023889     1
-0.035745     1
-0.034522     1
-0.025747     1
-0.033870     1
-0.007124     1
-0.018269     1
-0.044186     1
-0.037135     1
-0.011966     1
-0.026167     1
-0.023703     1
-0.020686     1
-0.010570     1
-0.063786     1
-0.023277     1
-0.026598     1
-0.026810     1
-0.021085     1
-0.015922     1
-0.022950     1
-0.023951     1
-0.010408     1
-0.013816     1
-0.011969     1
-0.013485     1
-0.021473     1
-0.015277     1
-0.009481     1
-0.009340     1
-0.010485     1
-0.031680     1
-0.019697     1
-0.017372     1
-0.022454     1
-0.053309     1
-0.017187     1
-0.009538     1
-0.010899     1
-0.014106     1
-0.012819     1
-0.019320     1
-0.029940     1
-0.019145     1
Name: cnt_annuity_div_DAYS_BIRTH@_mean@['SK_ID_CURR'], Length: 310286, dtype: int64

2018-07-06 20:43:33,513 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:43:33,513 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: max
['SK_ID_CURR']
2018-07-06 20:43:33,613 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,613 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,681 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:33,681 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:33,729 logger 29 [INFO]    [make_npy] -0.036430    15
-0.027137    13
-0.042283    12
-0.020202    12
-0.039683    12
-0.040080    12
-0.032895    11
-0.038911    11
-0.029499    10
-0.026042    10
-0.033670    10
-0.030441    10
-0.029586    10
-0.042105    10
-0.029985    10
-0.029940    10
-0.029326    10
-0.039841    10
-0.029851    10
-0.028249     9
-0.058997     9
-0.017618     9
-0.027322     9
-0.031348     9
-0.036101     9
-0.040816     9
-0.047281     9
-0.044643     9
-0.027548     9
-0.031056     9
-0.033113     9
-0.031299     9
-0.026123     9
-0.025183     9
-0.037175     9
-0.031847     9
-0.040650     8
-0.042017     8
-0.051546     8
-0.034247     8
-0.034483     8
-0.033841     8
-0.040404     8
-0.047962     8
-0.031949     8
-0.026316     8
-0.014639     8
-0.048193     8
-0.045147     8
-0.028531     8
             ..
-0.013885     1
-0.010199     1
-0.012999     1
-0.012302     1
-0.024471     1
-0.013083     1
-0.012178     1
-0.015332     1
-0.035831     1
-0.009440     1
-0.014322     1
-0.011871     1
-0.022195     1
-0.013214     1
-0.018504     1
-0.003651     1
-0.019960     1
-0.020141     1
-0.008929     1
-0.014126     1
-0.015412     1
-0.008608     1
-0.021102     1
-0.007801     1
-0.013326     1
-0.010926     1
-0.013524     1
-0.012253     1
-0.015595     1
-0.023976     1
-0.008936     1
-0.007442     1
-0.009563     1
-0.008251     1
-0.020364     1
-0.010813     1
-0.010282     1
-0.007342     1
-0.011911     1
-0.012774     1
-0.016003     1
-0.014802     1
-0.006591     1
-0.014840     1
-0.014474     1
-0.016498     1
-0.012137     1
-0.011041     1
-0.007721     1
-0.012436     1
Name: cnt_annuity_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 304680, dtype: int64
2018-07-06 20:43:33,729 logger 29 [INFO]    [make_npy] -0.036430    15
-0.027137    13
-0.042283    12
-0.020202    12
-0.039683    12
-0.040080    12
-0.032895    11
-0.038911    11
-0.029499    10
-0.026042    10
-0.033670    10
-0.030441    10
-0.029586    10
-0.042105    10
-0.029985    10
-0.029940    10
-0.029326    10
-0.039841    10
-0.029851    10
-0.028249     9
-0.058997     9
-0.017618     9
-0.027322     9
-0.031348     9
-0.036101     9
-0.040816     9
-0.047281     9
-0.044643     9
-0.027548     9
-0.031056     9
-0.033113     9
-0.031299     9
-0.026123     9
-0.025183     9
-0.037175     9
-0.031847     9
-0.040650     8
-0.042017     8
-0.051546     8
-0.034247     8
-0.034483     8
-0.033841     8
-0.040404     8
-0.047962     8
-0.031949     8
-0.026316     8
-0.014639     8
-0.048193     8
-0.045147     8
-0.028531     8
             ..
-0.013885     1
-0.010199     1
-0.012999     1
-0.012302     1
-0.024471     1
-0.013083     1
-0.012178     1
-0.015332     1
-0.035831     1
-0.009440     1
-0.014322     1
-0.011871     1
-0.022195     1
-0.013214     1
-0.018504     1
-0.003651     1
-0.019960     1
-0.020141     1
-0.008929     1
-0.014126     1
-0.015412     1
-0.008608     1
-0.021102     1
-0.007801     1
-0.013326     1
-0.010926     1
-0.013524     1
-0.012253     1
-0.015595     1
-0.023976     1
-0.008936     1
-0.007442     1
-0.009563     1
-0.008251     1
-0.020364     1
-0.010813     1
-0.010282     1
-0.007342     1
-0.011911     1
-0.012774     1
-0.016003     1
-0.014802     1
-0.006591     1
-0.014840     1
-0.014474     1
-0.016498     1
-0.012137     1
-0.011041     1
-0.007721     1
-0.012436     1
Name: cnt_annuity_div_DAYS_BIRTH@_max@['SK_ID_CURR'], Length: 304680, dtype: int64
2018-07-06 20:43:33,777 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:43:33,777 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: min
['SK_ID_CURR']
2018-07-06 20:43:33,898 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,898 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:33,977 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:33,977 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:34,012 logger 29 [INFO]    [make_npy] -0.050505    58
-0.044743    56
-0.042827    55
-0.051020    54
-0.049383    54
-0.042283    53
-0.051680    52
-0.030722    52
-0.048900    51
-0.052632    51
-0.030628    51
-0.042105    50
-0.043573    50
-0.033113    50
-0.037665    49
-0.052910    49
-0.045767    49
-0.051813    49
-0.034662    48
-0.037594    48
-0.038911    48
-0.045351    48
-0.042017    48
-0.047281    48
-0.036969    48
-0.037736    48
-0.046948    48
-0.043956    48
-0.053908    48
-0.035273    47
-0.036364    47
-0.044543    47
-0.052770    47
-0.042644    47
-0.044150    47
-0.052356    47
-0.047506    47
-0.040404    47
-0.052493    46
-0.034188    46
-0.044053    46
-0.039841    46
-0.055249    46
-0.058997    46
-0.054795    46
-0.041237    46
-0.044643    46
-0.031646    46
-0.037383    46
-0.033670    45
             ..
-0.010638     1
-0.010415     1
-0.023968     1
-0.023687     1
-0.027862     1
-0.015182     1
-0.021885     1
-0.060983     1
-0.016541     1
-0.039583     1
-0.033712     1
-0.024711     1
-0.014962     1
-0.022697     1
-0.022563     1
-0.007067     1
-0.023692     1
-0.042284     1
-0.053969     1
-0.044248     1
-0.077950     1
-0.008416     1
-0.044599     1
-0.024185     1
-0.028195     1
-0.017516     1
-0.026165     1
-0.023152     1
-0.040053     1
-0.012017     1
-0.029397     1
-0.026871     1
-0.023619     1
-0.012967     1
-0.029400     1
-0.042479     1
-0.024741     1
-0.039324     1
-0.030799     1
-0.045955     1
-0.056552     1
-0.043647     1
-0.016740     1
-0.036863     1
-0.055992     1
-0.025350     1
-0.013215     1
-0.015139     1
-0.018229     1
-0.016795     1
Name: cnt_annuity_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 280464, dtype: int64
2018-07-06 20:43:34,012 logger 29 [INFO]    [make_npy] -0.050505    58
-0.044743    56
-0.042827    55
-0.051020    54
-0.049383    54
-0.042283    53
-0.051680    52
-0.030722    52
-0.048900    51
-0.052632    51
-0.030628    51
-0.042105    50
-0.043573    50
-0.033113    50
-0.037665    49
-0.052910    49
-0.045767    49
-0.051813    49
-0.034662    48
-0.037594    48
-0.038911    48
-0.045351    48
-0.042017    48
-0.047281    48
-0.036969    48
-0.037736    48
-0.046948    48
-0.043956    48
-0.053908    48
-0.035273    47
-0.036364    47
-0.044543    47
-0.052770    47
-0.042644    47
-0.044150    47
-0.052356    47
-0.047506    47
-0.040404    47
-0.052493    46
-0.034188    46
-0.044053    46
-0.039841    46
-0.055249    46
-0.058997    46
-0.054795    46
-0.041237    46
-0.044643    46
-0.031646    46
-0.037383    46
-0.033670    45
             ..
-0.010638     1
-0.010415     1
-0.023968     1
-0.023687     1
-0.027862     1
-0.015182     1
-0.021885     1
-0.060983     1
-0.016541     1
-0.039583     1
-0.033712     1
-0.024711     1
-0.014962     1
-0.022697     1
-0.022563     1
-0.007067     1
-0.023692     1
-0.042284     1
-0.053969     1
-0.044248     1
-0.077950     1
-0.008416     1
-0.044599     1
-0.024185     1
-0.028195     1
-0.017516     1
-0.026165     1
-0.023152     1
-0.040053     1
-0.012017     1
-0.029397     1
-0.026871     1
-0.023619     1
-0.012967     1
-0.029400     1
-0.042479     1
-0.024741     1
-0.039324     1
-0.030799     1
-0.045955     1
-0.056552     1
-0.043647     1
-0.016740     1
-0.036863     1
-0.055992     1
-0.025350     1
-0.013215     1
-0.015139     1
-0.018229     1
-0.016795     1
Name: cnt_annuity_div_DAYS_BIRTH@_min@['SK_ID_CURR'], Length: 280464, dtype: int64

2018-07-06 20:43:34,058 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:43:34,058 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_BIRTH@
method: std
['SK_ID_CURR']
2018-07-06 20:43:34,163 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:34,163 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_BIRTH@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:34,251 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:34,251 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:34,284 logger 29 [INFO]    [make_npy] 0.000000e+00    162
3.469447e-18      3
9.563748e-03      2
1.109626e-02      2
3.085371e-03      2
3.746924e-04      2
2.062228e-04      2
5.742910e-03      2
2.101726e-03      2
1.315984e-02      2
4.004057e-03      2
7.426425e-03      2
1.421287e-02      2
6.778055e-03      2
2.136812e-02      2
3.030377e-02      2
3.855955e-03      2
2.505255e-03      2
1.275416e-03      2
2.389130e-03      2
2.326065e-02      2
2.923124e-03      2
8.051311e-03      2
1.199681e-02      2
9.224519e-04      2
3.995817e-04      2
1.326419e-02      2
5.472617e-04      2
7.429614e-03      2
5.452374e-03      2
2.594926e-02      2
2.024482e-03      2
1.030579e-02      2
2.975539e-03      2
1.899984e-03      2
1.016618e-02      2
5.168489e-04      2
2.968417e-03      2
2.521215e-03      2
3.381178e-03      2
2.099871e-02      2
5.733488e-04      2
6.835154e-03      2
5.598687e-05      2
1.005341e-02      2
3.262341e-03      2
7.814613e-03      2
8.820860e-03      2
5.101696e-03      2
1.394860e-02      2
               ...
8.626571e-03      1
1.425077e-02      1
5.365827e-03      1
1.550869e-03      1
4.043883e-03      1
9.469792e-03      1
1.938071e-02      1
5.742347e-03      1
8.296716e-03      1
6.568401e-03      1
1.925420e-03      1
1.591044e-02      1
1.001917e-02      1
1.732100e-03      1
8.481462e-03      1
1.019386e-02      1
7.443075e-03      1
9.928246e-03      1
1.975075e-03      1
6.766571e-03      1
5.826744e-04      1
2.795803e-03      1
2.334398e-02      1
1.607734e-02      1
8.812866e-03      1
1.082706e-03      1
2.322457e-04      1
2.341153e-03      1
3.209307e-03      1
2.266969e-02      1
1.198605e-02      1
1.021694e-02      1
1.124193e-02      1
9.541376e-03      1
3.393514e-03      1
2.705504e-03      1
2.853447e-03      1
4.182258e-04      1
8.482769e-03      1
1.151824e-03      1
5.495699e-03      1
2.719955e-02      1
2.834592e-03      1
6.379818e-03      1
2.706055e-03      1
2.361210e-03      1
1.834403e-02      1
7.198230e-03      1
1.303269e-02      1
1.842587e-02      1
Name: cnt_annuity_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 197234, dtype: int64
2018-07-06 20:43:34,284 logger 29 [INFO]    [make_npy] 0.000000e+00    162
3.469447e-18      3
9.563748e-03      2
1.109626e-02      2
3.085371e-03      2
3.746924e-04      2
2.062228e-04      2
5.742910e-03      2
2.101726e-03      2
1.315984e-02      2
4.004057e-03      2
7.426425e-03      2
1.421287e-02      2
6.778055e-03      2
2.136812e-02      2
3.030377e-02      2
3.855955e-03      2
2.505255e-03      2
1.275416e-03      2
2.389130e-03      2
2.326065e-02      2
2.923124e-03      2
8.051311e-03      2
1.199681e-02      2
9.224519e-04      2
3.995817e-04      2
1.326419e-02      2
5.472617e-04      2
7.429614e-03      2
5.452374e-03      2
2.594926e-02      2
2.024482e-03      2
1.030579e-02      2
2.975539e-03      2
1.899984e-03      2
1.016618e-02      2
5.168489e-04      2
2.968417e-03      2
2.521215e-03      2
3.381178e-03      2
2.099871e-02      2
5.733488e-04      2
6.835154e-03      2
5.598687e-05      2
1.005341e-02      2
3.262341e-03      2
7.814613e-03      2
8.820860e-03      2
5.101696e-03      2
1.394860e-02      2
               ...
8.626571e-03      1
1.425077e-02      1
5.365827e-03      1
1.550869e-03      1
4.043883e-03      1
9.469792e-03      1
1.938071e-02      1
5.742347e-03      1
8.296716e-03      1
6.568401e-03      1
1.925420e-03      1
1.591044e-02      1
1.001917e-02      1
1.732100e-03      1
8.481462e-03      1
1.019386e-02      1
7.443075e-03      1
9.928246e-03      1
1.975075e-03      1
6.766571e-03      1
5.826744e-04      1
2.795803e-03      1
2.334398e-02      1
1.607734e-02      1
8.812866e-03      1
1.082706e-03      1
2.322457e-04      1
2.341153e-03      1
3.209307e-03      1
2.266969e-02      1
1.198605e-02      1
1.021694e-02      1
1.124193e-02      1
9.541376e-03      1
3.393514e-03      1
2.705504e-03      1
2.853447e-03      1
4.182258e-04      1
8.482769e-03      1
1.151824e-03      1
5.495699e-03      1
2.719955e-02      1
2.834592e-03      1
6.379818e-03      1
2.706055e-03      1
2.361210e-03      1
1.834403e-02      1
7.198230e-03      1
1.303269e-02      1
1.842587e-02      1
Name: cnt_annuity_div_DAYS_BIRTH@_std@['SK_ID_CURR'], Length: 197234, dtype: int64
2018-07-06 20:43:34,330 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:34,330 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:34,462 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:34,462 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:34,536 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:34,536 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:34,572 logger 29 [INFO]    [make_npy]  0.000000    56572
 inf            89
-2.500000       34
-1.666667       27
-0.952381       25
-0.833333       24
-1.428571       22
-1.538462       22
-1.111111       21
-5.000000       20
-0.666667       20
-1.052632       19
-0.303030       19
-1.250000       18
-0.606061       18
-3.333333       18
-0.769231       17
-0.400000       17
-0.363636       17
-0.909091       17
-1.176471       16
-0.333333       16
-2.857143       16
-0.625000       16
-0.714286       16
-0.252525       15
-0.181818       15
-0.588235       15
-0.571429       15
-6.666667       15
-2.000000       15
-0.505051       14
-0.357143       14
-4.000000       14
-1.136364       14
-0.487805       13
-0.689655       13
-0.362319       13
-0.645161       13
-0.454545       13
-0.377358       13
-0.500000       12
-0.208333       12
-0.243902       12
-0.267380       12
-0.434783       12
-0.869565       12
-1.515152       12
-1.000000       12
-0.526316       12
             ...
-0.049477        1
-0.496387        1
-0.131953        1
-0.214377        1
-0.117757        1
-0.887255        1
-1.921331        1
-0.821825        1
-3.435389        1
-0.757456        1
-0.118169        1
-0.172317        1
-0.229328        1
-0.041878        1
-0.100965        1
-0.148877        1
-0.221970        1
-0.153258        1
-1.052822        1
-0.364198        1
-0.918383        1
-0.259977        1
-3.078166        1
-0.631113        1
-0.040711        1
-4.273861        1
-1.090213        1
-2.253273        1
-0.374933        1
-0.495916        1
-0.368048        1
-0.425123        1
-0.517914        1
-0.205754        1
-0.841521        1
-0.888633        1
-2.236887        1
-0.022615        1
-0.679807        1
-0.063967        1
-0.082890        1
-0.147992        1
-0.305633        1
-3.161226        1
-1.153130        1
-0.203351        1
-0.304616        1
-0.776831        1
-1.394268        1
-0.546644        1
Name: cnt_annuity_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 253161, dtype: int64
2018-07-06 20:43:34,572 logger 29 [INFO]    [make_npy]  0.000000    56572
 inf            89
-2.500000       34
-1.666667       27
-0.952381       25
-0.833333       24
-1.428571       22
-1.538462       22
-1.111111       21
-5.000000       20
-0.666667       20
-1.052632       19
-0.303030       19
-1.250000       18
-0.606061       18
-3.333333       18
-0.769231       17
-0.400000       17
-0.363636       17
-0.909091       17
-1.176471       16
-0.333333       16
-2.857143       16
-0.625000       16
-0.714286       16
-0.252525       15
-0.181818       15
-0.588235       15
-0.571429       15
-6.666667       15
-2.000000       15
-0.505051       14
-0.357143       14
-4.000000       14
-1.136364       14
-0.487805       13
-0.689655       13
-0.362319       13
-0.645161       13
-0.454545       13
-0.377358       13
-0.500000       12
-0.208333       12
-0.243902       12
-0.267380       12
-0.434783       12
-0.869565       12
-1.515152       12
-1.000000       12
-0.526316       12
             ...
-0.049477        1
-0.496387        1
-0.131953        1
-0.214377        1
-0.117757        1
-0.887255        1
-1.921331        1
-0.821825        1
-3.435389        1
-0.757456        1
-0.118169        1
-0.172317        1
-0.229328        1
-0.041878        1
-0.100965        1
-0.148877        1
-0.221970        1
-0.153258        1
-1.052822        1
-0.364198        1
-0.918383        1
-0.259977        1
-3.078166        1
-0.631113        1
-0.040711        1
-4.273861        1
-1.090213        1
-2.253273        1
-0.374933        1
-0.495916        1
-0.368048        1
-0.425123        1
-0.517914        1
-0.205754        1
-0.841521        1
-0.888633        1
-2.236887        1
-0.022615        1
-0.679807        1
-0.063967        1
-0.082890        1
-0.147992        1
-0.305633        1
-3.161226        1
-1.153130        1
-0.203351        1
-0.304616        1
-0.776831        1
-1.394268        1
-0.546644        1
Name: cnt_annuity_div_DAYS_EMPLOYED@_sum@['SK_ID_CURR'], Length: 253161, dtype: int64

2018-07-06 20:43:34,615 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:34,615 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:34,717 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:34,717 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:34,796 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:34,796 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:34,836 logger 29 [INFO]    [make_npy]  inf         89
-2.500000    34
-1.666667    27
-0.952381    24
-0.833333    22
-1.538462    22
-1.111111    21
-1.428571    21
-0.666667    20
-5.000000    20
-1.052632    19
-0.606061    19
-3.333333    18
-1.250000    18
-0.400000    17
-0.909091    17
-0.303030    17
-0.714286    17
-0.769231    17
-0.363636    17
-1.176471    16
-2.857143    16
-0.625000    16
-0.333333    16
-0.181818    16
-0.252525    15
-6.666667    15
-0.588235    15
-2.000000    15
-4.000000    14
-0.505051    14
-0.571429    14
-0.357143    14
-1.136364    14
-0.377358    13
-0.689655    13
-0.416667    13
-0.645161    13
-0.487805    13
-0.454545    13
-0.243902    12
-0.434783    12
-0.362319    12
-1.000000    12
-0.526316    12
-0.500000    12
-0.267380    12
-0.208333    12
-0.869565    12
-0.336700    12
             ..
-1.408256     1
-0.180384     1
-0.120947     1
-0.074759     1
-0.639431     1
-0.065199     1
-0.197580     1
-0.243032     1
-0.077704     1
-0.235112     1
-0.328110     1
-0.059845     1
-0.548291     1
-0.155497     1
-0.067265     1
-0.108916     1
-0.155176     1
-0.029452     1
-0.116134     1
-0.047168     1
-0.314529     1
-0.917154     1
-0.157673     1
-0.089631     1
-0.101559     1
-0.085192     1
-0.299082     1
-0.069044     1
-0.061700     1
-0.273025     1
-0.030090     1
-0.113150     1
-0.691753     1
-0.061765     1
-0.366435     1
-0.041939     1
-0.102422     1
-0.033845     1
-0.241701     1
-0.151695     1
-0.164766     1
-0.299370     1
-0.289419     1
-0.415982     1
-2.201085     1
-0.632898     1
-1.692596     1
-0.345504     1
-0.173689     1
-0.031207     1
Name: cnt_annuity_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 253127, dtype: int64
2018-07-06 20:43:34,836 logger 29 [INFO]    [make_npy]  inf         89
-2.500000    34
-1.666667    27
-0.952381    24
-0.833333    22
-1.538462    22
-1.111111    21
-1.428571    21
-0.666667    20
-5.000000    20
-1.052632    19
-0.606061    19
-3.333333    18
-1.250000    18
-0.400000    17
-0.909091    17
-0.303030    17
-0.714286    17
-0.769231    17
-0.363636    17
-1.176471    16
-2.857143    16
-0.625000    16
-0.333333    16
-0.181818    16
-0.252525    15
-6.666667    15
-0.588235    15
-2.000000    15
-4.000000    14
-0.505051    14
-0.571429    14
-0.357143    14
-1.136364    14
-0.377358    13
-0.689655    13
-0.416667    13
-0.645161    13
-0.487805    13
-0.454545    13
-0.243902    12
-0.434783    12
-0.362319    12
-1.000000    12
-0.526316    12
-0.500000    12
-0.267380    12
-0.208333    12
-0.869565    12
-0.336700    12
             ..
-1.408256     1
-0.180384     1
-0.120947     1
-0.074759     1
-0.639431     1
-0.065199     1
-0.197580     1
-0.243032     1
-0.077704     1
-0.235112     1
-0.328110     1
-0.059845     1
-0.548291     1
-0.155497     1
-0.067265     1
-0.108916     1
-0.155176     1
-0.029452     1
-0.116134     1
-0.047168     1
-0.314529     1
-0.917154     1
-0.157673     1
-0.089631     1
-0.101559     1
-0.085192     1
-0.299082     1
-0.069044     1
-0.061700     1
-0.273025     1
-0.030090     1
-0.113150     1
-0.691753     1
-0.061765     1
-0.366435     1
-0.041939     1
-0.102422     1
-0.033845     1
-0.241701     1
-0.151695     1
-0.164766     1
-0.299370     1
-0.289419     1
-0.415982     1
-2.201085     1
-0.632898     1
-1.692596     1
-0.345504     1
-0.173689     1
-0.031207     1
Name: cnt_annuity_div_DAYS_EMPLOYED@_mean@['SK_ID_CURR'], Length: 253127, dtype: int64
2018-07-06 20:43:34,875 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:43:34,875 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: max
['SK_ID_CURR']
2018-07-06 20:43:34,991 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:34,991 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:35,064 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,064 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,095 logger 29 [INFO]    [make_npy]  inf         89
-2.500000    41
-1.666667    36
-1.111111    35
-0.769231    32
-0.833333    31
-0.952381    30
-1.428571    28
-0.208333    28
-1.538462    27
-0.625000    25
-1.250000    25
-0.434783    25
-5.000000    25
-0.666667    25
-0.252525    24
-0.869565    23
-0.714286    23
-0.416667    23
-0.400000    23
-0.606061    23
-1.052632    22
-2.857143    22
-0.303030    22
-3.333333    22
-0.505051    21
-0.277778    21
-0.454545    21
-0.181818    21
-0.363636    21
-1.136364    20
-6.666667    20
-0.333333    20
-0.165289    20
-0.689655    19
-1.176471    19
-0.757576    19
-0.571429    19
-0.487805    19
-0.909091    19
-0.192308    18
-0.526316    18
-0.378788    18
-0.377358    18
-4.000000    18
-0.284091    18
-2.000000    18
-0.357143    18
-0.500000    18
-0.217391    17
             ..
-0.027170     1
-0.083447     1
-0.022254     1
-0.069076     1
-0.119835     1
-0.014460     1
-0.084245     1
-0.071459     1
-0.338630     1
-0.136840     1
-0.069364     1
-0.050459     1
-0.052753     1
-0.845250     1
-0.195182     1
-0.029674     1
-0.088244     1
-2.142699     1
-0.023335     1
-0.179277     1
-0.126579     1
-0.200008     1
-0.170593     1
-0.184990     1
-0.111140     1
-0.096437     1
-0.308698     1
-0.023045     1
-0.117040     1
-0.128419     1
-0.071431     1
-0.152123     1
-0.015317     1
-0.259589     1
-0.340740     1
-0.333931     1
-0.050111     1
-0.049125     1
-0.301723     1
-0.071694     1
-0.085047     1
-0.362057     1
-0.182463     1
-0.054805     1
-0.061633     1
-0.157232     1
-0.158011     1
-0.248064     1
-0.017654     1
-0.125728     1
Name: cnt_annuity_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 246694, dtype: int64
2018-07-06 20:43:35,095 logger 29 [INFO]    [make_npy]  inf         89
-2.500000    41
-1.666667    36
-1.111111    35
-0.769231    32
-0.833333    31
-0.952381    30
-1.428571    28
-0.208333    28
-1.538462    27
-0.625000    25
-1.250000    25
-0.434783    25
-5.000000    25
-0.666667    25
-0.252525    24
-0.869565    23
-0.714286    23
-0.416667    23
-0.400000    23
-0.606061    23
-1.052632    22
-2.857143    22
-0.303030    22
-3.333333    22
-0.505051    21
-0.277778    21
-0.454545    21
-0.181818    21
-0.363636    21
-1.136364    20
-6.666667    20
-0.333333    20
-0.165289    20
-0.689655    19
-1.176471    19
-0.757576    19
-0.571429    19
-0.487805    19
-0.909091    19
-0.192308    18
-0.526316    18
-0.378788    18
-0.377358    18
-4.000000    18
-0.284091    18
-2.000000    18
-0.357143    18
-0.500000    18
-0.217391    17
             ..
-0.027170     1
-0.083447     1
-0.022254     1
-0.069076     1
-0.119835     1
-0.014460     1
-0.084245     1
-0.071459     1
-0.338630     1
-0.136840     1
-0.069364     1
-0.050459     1
-0.052753     1
-0.845250     1
-0.195182     1
-0.029674     1
-0.088244     1
-2.142699     1
-0.023335     1
-0.179277     1
-0.126579     1
-0.200008     1
-0.170593     1
-0.184990     1
-0.111140     1
-0.096437     1
-0.308698     1
-0.023045     1
-0.117040     1
-0.128419     1
-0.071431     1
-0.152123     1
-0.015317     1
-0.259589     1
-0.340740     1
-0.333931     1
-0.050111     1
-0.049125     1
-0.301723     1
-0.071694     1
-0.085047     1
-0.362057     1
-0.182463     1
-0.054805     1
-0.061633     1
-0.157232     1
-0.158011     1
-0.248064     1
-0.017654     1
-0.125728     1
Name: cnt_annuity_div_DAYS_EMPLOYED@_max@['SK_ID_CURR'], Length: 246694, dtype: int64

2018-07-06 20:43:35,113 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:43:35,113 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: min
['SK_ID_CURR']
2018-07-06 20:43:35,220 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:35,220 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:35,310 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,310 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,368 logger 29 [INFO]    [make_npy] -3.333333    199
-1.666667    184
-2.500000    179
-2.857143    166
-5.000000    158
-4.000000    143
-0.714286    141
-0.909091    136
-0.645161    136
-1.250000    135
-0.833333    135
-2.000000    135
-1.000000    133
-1.538462    133
-0.606061    132
-1.333333    132
-1.428571    130
-0.869565    130
-0.571429    129
-0.666667    129
-0.952381    129
-0.625000    129
-1.176471    129
-2.222222    128
-1.111111    128
-0.555556    128
-0.800000    123
-0.540541    120
-0.588235    119
-0.454545    119
-0.526316    117
-0.500000    117
-0.689655    117
-0.465116    116
-0.363636    115
-0.434783    115
-6.666667    113
-0.740741    113
-0.512821    112
-1.818182    110
-1.052632    110
-0.769231    108
-0.400000    107
-0.444444    106
-0.333333    105
-0.357143    105
-0.384615    103
-0.416667    102
-0.392157    102
-0.487805    101
            ...
-0.867597      1
-0.079016      1
-0.540772      1
-3.553660      1
-0.122867      1
-0.792670      1
-0.059611      1
-0.152936      1
-0.185991      1
-0.031909      1
-0.046268      1
-0.322789      1
-0.163664      1
-0.438748      1
-0.055965      1
-0.020384      1
-0.147856      1
-0.521077      1
-0.518589      1
-0.309330      1
-0.126323      1
-0.068452      1
-1.945969      1
-0.271670      1
-0.261414      1
-0.078832      1
-0.049826      1
-0.119069      1
-0.084647      1
-0.076649      1
-0.100082      1
-0.109407      1
-0.552695      1
-0.779236      1
-0.341764      1
-0.186547      1
-0.279280      1
-1.718391      1
-0.214259      1
-0.137867      1
-0.293255      1
-0.078727      1
-0.025252      1
-0.210555      1
-0.923871      1
-0.051260      1
-1.886197      1
-0.530855      1
-1.136715      1
-0.118412      1
Name: cnt_annuity_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 225563, dtype: int64
2018-07-06 20:43:35,368 logger 29 [INFO]    [make_npy] -3.333333    199
-1.666667    184
-2.500000    179
-2.857143    166
-5.000000    158
-4.000000    143
-0.714286    141
-0.909091    136
-0.645161    136
-1.250000    135
-0.833333    135
-2.000000    135
-1.000000    133
-1.538462    133
-0.606061    132
-1.333333    132
-1.428571    130
-0.869565    130
-0.571429    129
-0.666667    129
-0.952381    129
-0.625000    129
-1.176471    129
-2.222222    128
-1.111111    128
-0.555556    128
-0.800000    123
-0.540541    120
-0.588235    119
-0.454545    119
-0.526316    117
-0.500000    117
-0.689655    117
-0.465116    116
-0.363636    115
-0.434783    115
-6.666667    113
-0.740741    113
-0.512821    112
-1.818182    110
-1.052632    110
-0.769231    108
-0.400000    107
-0.444444    106
-0.333333    105
-0.357143    105
-0.384615    103
-0.416667    102
-0.392157    102
-0.487805    101
            ...
-0.867597      1
-0.079016      1
-0.540772      1
-3.553660      1
-0.122867      1
-0.792670      1
-0.059611      1
-0.152936      1
-0.185991      1
-0.031909      1
-0.046268      1
-0.322789      1
-0.163664      1
-0.438748      1
-0.055965      1
-0.020384      1
-0.147856      1
-0.521077      1
-0.518589      1
-0.309330      1
-0.126323      1
-0.068452      1
-1.945969      1
-0.271670      1
-0.261414      1
-0.078832      1
-0.049826      1
-0.119069      1
-0.084647      1
-0.076649      1
-0.100082      1
-0.109407      1
-0.552695      1
-0.779236      1
-0.341764      1
-0.186547      1
-0.279280      1
-1.718391      1
-0.214259      1
-0.137867      1
-0.293255      1
-0.078727      1
-0.025252      1
-0.210555      1
-0.923871      1
-0.051260      1
-1.886197      1
-0.530855      1
-1.136715      1
-0.118412      1
Name: cnt_annuity_div_DAYS_EMPLOYED@_min@['SK_ID_CURR'], Length: 225563, dtype: int64
2018-07-06 20:43:35,417 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:43:35,417 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_EMPLOYED@
method: std
['SK_ID_CURR']
2018-07-06 20:43:35,530 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:35,530 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_EMPLOYED@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:35,611 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,611 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,634 logger 29 [INFO]    [make_npy] 0.000000    129
1.285649      4
0.004029      3
0.005540      3
0.018908      2
0.210499      2
0.951729      2
0.039576      2
0.027332      2
0.030178      2
0.187797      2
0.950567      2
0.138830      2
0.001387      2
0.009268      2
0.007148      2
0.094871      2
0.014354      2
0.028761      2
0.043694      2
0.453022      2
0.059837      2
1.017375      2
0.167382      2
0.021769      2
0.092699      2
0.007778      2
0.065618      2
0.035057      2
0.059472      2
0.102671      2
0.567976      2
0.282563      2
0.136007      2
0.001075      2
0.015981      2
0.155255      2
0.247298      2
0.104119      2
0.074881      2
0.013885      2
0.411342      2
0.010457      2
0.077926      2
0.038214      2
0.001152      2
0.234004      2
0.039778      2
0.042163      2
0.845703      2
           ...
0.005872      1
0.218695      1
0.003336      1
0.251896      1
0.016537      1
0.077982      1
0.016002      1
0.115657      1
0.433731      1
0.256075      1
0.037494      1
0.002220      1
0.307497      1
0.249877      1
0.154490      1
0.033980      1
0.003005      1
0.180990      1
0.008870      1
0.065827      1
0.018946      1
0.031279      1
0.270163      1
0.374736      1
0.039682      1
0.295812      1
0.066074      1
0.015916      1
0.873493      1
0.061985      1
0.074789      1
0.016570      1
0.028227      1
0.071223      1
0.130383      1
0.001071      1
0.050031      1
0.066011      1
0.040664      1
0.189979      1
0.046448      1
0.007310      1
0.047356      1
0.212235      1
0.799163      1
0.491121      1
0.103686      1
0.091418      1
0.031464      1
0.014971      1
Name: cnt_annuity_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 161436, dtype: int64
2018-07-06 20:43:35,634 logger 29 [INFO]    [make_npy] 0.000000    129
1.285649      4
0.004029      3
0.005540      3
0.018908      2
0.210499      2
0.951729      2
0.039576      2
0.027332      2
0.030178      2
0.187797      2
0.950567      2
0.138830      2
0.001387      2
0.009268      2
0.007148      2
0.094871      2
0.014354      2
0.028761      2
0.043694      2
0.453022      2
0.059837      2
1.017375      2
0.167382      2
0.021769      2
0.092699      2
0.007778      2
0.065618      2
0.035057      2
0.059472      2
0.102671      2
0.567976      2
0.282563      2
0.136007      2
0.001075      2
0.015981      2
0.155255      2
0.247298      2
0.104119      2
0.074881      2
0.013885      2
0.411342      2
0.010457      2
0.077926      2
0.038214      2
0.001152      2
0.234004      2
0.039778      2
0.042163      2
0.845703      2
           ...
0.005872      1
0.218695      1
0.003336      1
0.251896      1
0.016537      1
0.077982      1
0.016002      1
0.115657      1
0.433731      1
0.256075      1
0.037494      1
0.002220      1
0.307497      1
0.249877      1
0.154490      1
0.033980      1
0.003005      1
0.180990      1
0.008870      1
0.065827      1
0.018946      1
0.031279      1
0.270163      1
0.374736      1
0.039682      1
0.295812      1
0.066074      1
0.015916      1
0.873493      1
0.061985      1
0.074789      1
0.016570      1
0.028227      1
0.071223      1
0.130383      1
0.001071      1
0.050031      1
0.066011      1
0.040664      1
0.189979      1
0.046448      1
0.007310      1
0.047356      1
0.212235      1
0.799163      1
0.491121      1
0.103686      1
0.091418      1
0.031464      1
0.014971      1
Name: cnt_annuity_div_DAYS_EMPLOYED@_std@['SK_ID_CURR'], Length: 161436, dtype: int64

2018-07-06 20:43:35,680 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:35,680 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:35,788 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:35,788 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:35,878 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,878 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:35,923 logger 29 [INFO]    [make_npy]  inf          2022
 0.000000       32
-0.434783       17
-1.538462       15
-1.250000       15
-0.129870       14
-1.666667       13
-10.000000      13
-2.857143       13
-0.151515       12
-0.064935       11
-0.303030       11
-0.212766       11
-1.428571       11
-0.121951       11
-0.217391       11
-0.066667       11
-0.869565       11
-0.413223       10
-0.800000       10
-2.000000       10
-0.114943       10
-1.052632       10
-0.444444       10
-0.149254       10
-2.500000       10
-0.625000       10
-0.147059       10
-20.000000      10
-0.153846        9
-0.062500        9
-0.125000        9
-0.666667        9
-0.909091        9
-0.082645        9
-0.082988        9
-0.150376        9
-0.096618        9
-0.181818        9
-0.063694        9
-3.333333        9
-0.074074        9
-6.666667        9
-0.069930        9
-0.079051        9
-0.091743        8
-0.072202        8
-0.124224        8
-0.083682        8
-0.432900        8
              ...
-0.904490        1
-0.106515        1
-0.219692        1
-0.048140        1
-0.281909        1
-0.118994        1
-0.298867        1
-9.998229        1
-0.012102        1
-0.299245        1
-0.087876        1
-4.130766        1
-0.021344        1
-0.291544        1
-0.057858        1
-0.039100        1
-0.346998        1
-0.094750        1
-0.096643        1
-0.066784        1
-0.115093        1
-0.033555        1
-0.169265        1
-0.186405        1
-0.072960        1
-0.141946        1
-0.326271        1
-0.216494        1
-0.029589        1
-0.026862        1
-0.094545        1
-0.155537        1
-0.014231        1
-0.118761        1
-0.055692        1
-0.037551        1
-2.195609        1
-0.051676        1
-0.146135        1
-0.016370        1
-0.076100        1
-0.669608        1
-0.042134        1
-0.172014        1
-0.264157        1
-0.057451        1
-0.291069        1
-0.437855        1
-0.053898        1
-0.550102        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 307848, dtype: int64
2018-07-06 20:43:35,923 logger 29 [INFO]    [make_npy]  inf          2022
 0.000000       32
-0.434783       17
-1.538462       15
-1.250000       15
-0.129870       14
-1.666667       13
-10.000000      13
-2.857143       13
-0.151515       12
-0.064935       11
-0.303030       11
-0.212766       11
-1.428571       11
-0.121951       11
-0.217391       11
-0.066667       11
-0.869565       11
-0.413223       10
-0.800000       10
-2.000000       10
-0.114943       10
-1.052632       10
-0.444444       10
-0.149254       10
-2.500000       10
-0.625000       10
-0.147059       10
-20.000000      10
-0.153846        9
-0.062500        9
-0.125000        9
-0.666667        9
-0.909091        9
-0.082645        9
-0.082988        9
-0.150376        9
-0.096618        9
-0.181818        9
-0.063694        9
-3.333333        9
-0.074074        9
-6.666667        9
-0.069930        9
-0.079051        9
-0.091743        8
-0.072202        8
-0.124224        8
-0.083682        8
-0.432900        8
              ...
-0.904490        1
-0.106515        1
-0.219692        1
-0.048140        1
-0.281909        1
-0.118994        1
-0.298867        1
-9.998229        1
-0.012102        1
-0.299245        1
-0.087876        1
-4.130766        1
-0.021344        1
-0.291544        1
-0.057858        1
-0.039100        1
-0.346998        1
-0.094750        1
-0.096643        1
-0.066784        1
-0.115093        1
-0.033555        1
-0.169265        1
-0.186405        1
-0.072960        1
-0.141946        1
-0.326271        1
-0.216494        1
-0.029589        1
-0.026862        1
-0.094545        1
-0.155537        1
-0.014231        1
-0.118761        1
-0.055692        1
-0.037551        1
-2.195609        1
-0.051676        1
-0.146135        1
-0.016370        1
-0.076100        1
-0.669608        1
-0.042134        1
-0.172014        1
-0.264157        1
-0.057451        1
-0.291069        1
-0.437855        1
-0.053898        1
-0.550102        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_sum@['SK_ID_CURR'], Length: 307848, dtype: int64
2018-07-06 20:43:35,971 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:35,971 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:36,063 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:36,063 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:36,130 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:36,130 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:36,165 logger 29 [INFO]    [make_npy]  inf          2022
-0.434783       17
-1.538462       15
-1.250000       15
-0.129870       14
-10.000000      13
-1.666667       13
-2.857143       13
-0.151515       12
-0.303030       11
-0.064935       11
-0.212766       11
-1.428571       11
-0.217391       11
-0.869565       11
-0.121951       11
-0.066667       11
-0.413223       10
-2.500000       10
-2.000000       10
-0.625000       10
-20.000000      10
-1.052632       10
-0.114943       10
-0.147059       10
-0.444444       10
-0.149254       10
-0.096618        9
-0.069930        9
-0.909091        9
-6.666667        9
-0.666667        9
-0.181818        9
-0.082988        9
-0.125000        9
-0.063694        9
-0.082645        9
-0.062500        9
-3.333333        9
-0.079051        9
-0.074074        9
-0.150376        9
-0.800000        9
-0.153846        9
-0.083682        8
-0.124224        8
-2.250079        8
-0.833333        8
-0.118343        8
-0.078125        8
              ...
-0.040935        1
-0.219717        1
-0.022310        1
-0.036383        1
-0.043225        1
-0.063530        1
-0.143028        1
-1.113244        1
-0.542258        1
-0.056264        1
-0.042033        1
-0.052577        1
-0.043582        1
-0.061682        1
-0.062215        1
-0.061570        1
-0.029546        1
-0.052780        1
-0.065287        1
-0.061114        1
-0.259887        1
-0.101038        1
-0.095790        1
-0.044710        1
-0.081635        1
-0.075631        1
-0.025942        1
-0.042341        1
-0.063814        1
-0.030719        1
-0.046202        1
-0.212048        1
-0.037748        1
-0.074805        1
-0.035313        1
-0.110940        1
-0.059067        1
-0.074050        1
-1.644732        1
-0.077717        1
-0.080116        1
-0.162828        1
-0.072694        1
-0.026081        1
-0.030590        1
-0.049015        1
-0.050128        1
-0.057233        1
-0.616053        1
-0.070191        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 307814, dtype: int64
2018-07-06 20:43:36,165 logger 29 [INFO]    [make_npy]  inf          2022
-0.434783       17
-1.538462       15
-1.250000       15
-0.129870       14
-10.000000      13
-1.666667       13
-2.857143       13
-0.151515       12
-0.303030       11
-0.064935       11
-0.212766       11
-1.428571       11
-0.217391       11
-0.869565       11
-0.121951       11
-0.066667       11
-0.413223       10
-2.500000       10
-2.000000       10
-0.625000       10
-20.000000      10
-1.052632       10
-0.114943       10
-0.147059       10
-0.444444       10
-0.149254       10
-0.096618        9
-0.069930        9
-0.909091        9
-6.666667        9
-0.666667        9
-0.181818        9
-0.082988        9
-0.125000        9
-0.063694        9
-0.082645        9
-0.062500        9
-3.333333        9
-0.079051        9
-0.074074        9
-0.150376        9
-0.800000        9
-0.153846        9
-0.083682        8
-0.124224        8
-2.250079        8
-0.833333        8
-0.118343        8
-0.078125        8
              ...
-0.040935        1
-0.219717        1
-0.022310        1
-0.036383        1
-0.043225        1
-0.063530        1
-0.143028        1
-1.113244        1
-0.542258        1
-0.056264        1
-0.042033        1
-0.052577        1
-0.043582        1
-0.061682        1
-0.062215        1
-0.061570        1
-0.029546        1
-0.052780        1
-0.065287        1
-0.061114        1
-0.259887        1
-0.101038        1
-0.095790        1
-0.044710        1
-0.081635        1
-0.075631        1
-0.025942        1
-0.042341        1
-0.063814        1
-0.030719        1
-0.046202        1
-0.212048        1
-0.037748        1
-0.074805        1
-0.035313        1
-0.110940        1
-0.059067        1
-0.074050        1
-1.644732        1
-0.077717        1
-0.080116        1
-0.162828        1
-0.072694        1
-0.026081        1
-0.030590        1
-0.049015        1
-0.050128        1
-0.057233        1
-0.616053        1
-0.070191        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_mean@['SK_ID_CURR'], Length: 307814, dtype: int64

2018-07-06 20:43:36,217 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:36,217 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: max
['SK_ID_CURR']
2018-07-06 20:43:36,329 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:36,329 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:36,436 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:36,436 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:36,488 logger 29 [INFO]    [make_npy]  inf          2022
-0.434783       22
-1.666667       19
-2.857143       18
-1.250000       18
-0.151515       17
-0.129870       17
-20.000000      17
-0.869565       17
-1.538462       17
-0.079051       16
-0.833333       16
-0.066667       15
-0.303030       15
-0.217391       15
-0.149254       15
-5.000000       15
-1.428571       15
-0.178571       15
-10.000000      14
-2.500000       14
-0.069930       14
-0.125000       14
-0.555556       14
-0.064935       14
-0.065359       13
-0.606061       13
-0.069444       13
-0.666667       13
-0.625000       13
-6.666667       13
-0.121951       13
-0.072464       13
-0.173913       13
-0.313480       13
-0.212766       13
-0.588235       13
-2.000000       13
-0.181818       13
-0.413223       13
-0.153846       13
-0.363636       12
-0.124224       12
-0.909091       12
-0.150376       12
-2.222222       12
-0.094340       12
-0.135135       12
-0.800000       11
-0.432900       11
              ...
-0.017965        1
-0.110221        1
-0.015603        1
-0.054493        1
-1.660856        1
-0.099902        1
-0.048375        1
-0.045313        1
-0.083042        1
-0.140125        1
-0.059385        1
-0.024655        1
-0.136832        1
-0.023853        1
-0.017642        1
-0.038250        1
-0.131695        1
-0.043786        1
-0.027708        1
-2.101724        1
-0.119065        1
-0.047854        1
-0.028278        1
-0.149628        1
-0.425350        1
-0.033312        1
-0.036842        1
-0.100058        1
-0.030015        1
-0.269334        1
-5.504181        1
-0.021264        1
-0.026434        1
-0.014941        1
-0.055596        1
-0.017247        1
-0.024276        1
-0.157500        1
-0.599919        1
-0.200867        1
-0.084272        1
-0.099420        1
-0.032774        1
-0.250975        1
-0.050673        1
-0.026757        1
-0.016405        1
-0.037956        1
-0.315482        1
-0.019629        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 301627, dtype: int64
2018-07-06 20:43:36,488 logger 29 [INFO]    [make_npy]  inf          2022
-0.434783       22
-1.666667       19
-2.857143       18
-1.250000       18
-0.151515       17
-0.129870       17
-20.000000      17
-0.869565       17
-1.538462       17
-0.079051       16
-0.833333       16
-0.066667       15
-0.303030       15
-0.217391       15
-0.149254       15
-5.000000       15
-1.428571       15
-0.178571       15
-10.000000      14
-2.500000       14
-0.069930       14
-0.125000       14
-0.555556       14
-0.064935       14
-0.065359       13
-0.606061       13
-0.069444       13
-0.666667       13
-0.625000       13
-6.666667       13
-0.121951       13
-0.072464       13
-0.173913       13
-0.313480       13
-0.212766       13
-0.588235       13
-2.000000       13
-0.181818       13
-0.413223       13
-0.153846       13
-0.363636       12
-0.124224       12
-0.909091       12
-0.150376       12
-2.222222       12
-0.094340       12
-0.135135       12
-0.800000       11
-0.432900       11
              ...
-0.017965        1
-0.110221        1
-0.015603        1
-0.054493        1
-1.660856        1
-0.099902        1
-0.048375        1
-0.045313        1
-0.083042        1
-0.140125        1
-0.059385        1
-0.024655        1
-0.136832        1
-0.023853        1
-0.017642        1
-0.038250        1
-0.131695        1
-0.043786        1
-0.027708        1
-2.101724        1
-0.119065        1
-0.047854        1
-0.028278        1
-0.149628        1
-0.425350        1
-0.033312        1
-0.036842        1
-0.100058        1
-0.030015        1
-0.269334        1
-5.504181        1
-0.021264        1
-0.026434        1
-0.014941        1
-0.055596        1
-0.017247        1
-0.024276        1
-0.157500        1
-0.599919        1
-0.200867        1
-0.084272        1
-0.099420        1
-0.032774        1
-0.250975        1
-0.050673        1
-0.026757        1
-0.016405        1
-0.037956        1
-0.315482        1
-0.019629        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_max@['SK_ID_CURR'], Length: 301627, dtype: int64
2018-07-06 20:43:36,540 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:36,540 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: min
['SK_ID_CURR']
2018-07-06 20:43:36,639 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:36,639 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:36,718 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:36,718 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:36,757 logger 29 [INFO]    [make_npy]  inf          2022
-1.428571       89
-20.000000      88
-0.666667       85
-2.500000       84
-5.000000       84
-2.000000       83
-0.129870       82
-10.000000      82
-0.800000       82
-1.176471       82
-3.333333       79
-1.538462       77
-2.857143       77
-0.444444       76
-6.666667       75
-0.121951       75
-1.250000       74
-0.500000       74
-0.151515       73
-1.818182       72
-2.222222       71
-0.540541       71
-1.111111       70
-0.434783       70
-0.128205       70
-0.118343       70
-1.052632       70
-0.152672       69
-1.333333       69
-0.909091       69
-1.666667       69
-0.120482       68
-0.740741       67
-0.147059       67
-3.375118       67
-4.000000       66
-6.750236       66
-0.769231       66
-0.606061       66
-0.124224       66
-0.136986       65
-0.588235       65
-0.714286       65
-0.116959       65
-0.555556       65
-0.487805       65
-0.119760       64
-0.408163       64
-0.952381       64
              ...
-0.101420        1
-0.127209        1
-0.177127        1
-0.060028        1
-0.026408        1
-0.018791        1
-0.041106        1
-0.083357        1
-0.543826        1
-0.033816        1
-0.156274        1
-0.272755        1
-0.015217        1
-0.143963        1
-0.094900        1
-0.065723        1
-0.203528        1
-0.181042        1
-0.017147        1
-0.177238        1
-0.083369        1
-0.033092        1
-1.084304        1
-0.033340        1
-0.066052        1
-0.036977        1
-0.020269        1
-0.056949        1
-0.360271        1
-0.041157        1
-0.085507        1
-0.062383        1
-0.073178        1
-0.021712        1
-0.068195        1
-0.765579        1
-0.975418        1
-0.027455        1
-0.017141        1
-0.034877        1
-0.033330        1
-0.038322        1
-0.024779        1
-0.032480        1
-0.083557        1
-0.040217        1
-0.152409        1
-0.064612        1
-0.061995        1
-0.062003        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 277542, dtype: int64
2018-07-06 20:43:36,757 logger 29 [INFO]    [make_npy]  inf          2022
-1.428571       89
-20.000000      88
-0.666667       85
-2.500000       84
-5.000000       84
-2.000000       83
-0.129870       82
-10.000000      82
-0.800000       82
-1.176471       82
-3.333333       79
-1.538462       77
-2.857143       77
-0.444444       76
-6.666667       75
-0.121951       75
-1.250000       74
-0.500000       74
-0.151515       73
-1.818182       72
-2.222222       71
-0.540541       71
-1.111111       70
-0.434783       70
-0.128205       70
-0.118343       70
-1.052632       70
-0.152672       69
-1.333333       69
-0.909091       69
-1.666667       69
-0.120482       68
-0.740741       67
-0.147059       67
-3.375118       67
-4.000000       66
-6.750236       66
-0.769231       66
-0.606061       66
-0.124224       66
-0.136986       65
-0.588235       65
-0.714286       65
-0.116959       65
-0.555556       65
-0.487805       65
-0.119760       64
-0.408163       64
-0.952381       64
              ...
-0.101420        1
-0.127209        1
-0.177127        1
-0.060028        1
-0.026408        1
-0.018791        1
-0.041106        1
-0.083357        1
-0.543826        1
-0.033816        1
-0.156274        1
-0.272755        1
-0.015217        1
-0.143963        1
-0.094900        1
-0.065723        1
-0.203528        1
-0.181042        1
-0.017147        1
-0.177238        1
-0.083369        1
-0.033092        1
-1.084304        1
-0.033340        1
-0.066052        1
-0.036977        1
-0.020269        1
-0.056949        1
-0.360271        1
-0.041157        1
-0.085507        1
-0.062383        1
-0.073178        1
-0.021712        1
-0.068195        1
-0.765579        1
-0.975418        1
-0.027455        1
-0.017141        1
-0.034877        1
-0.033330        1
-0.038322        1
-0.024779        1
-0.032480        1
-0.083557        1
-0.040217        1
-0.152409        1
-0.064612        1
-0.061995        1
-0.062003        1
Name: cnt_annuity_div_DAYS_REGISTRATION@_min@['SK_ID_CURR'], Length: 277542, dtype: int64

2018-07-06 20:43:37,911 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:37,911 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_DAYS_REGISTRATION@
method: std
['SK_ID_CURR']
2018-07-06 20:43:38,174 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:38,174 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_DAYS_REGISTRATION@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:38,270 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:38,270 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:38,297 logger 29 [INFO]    [make_npy] 0.000000e+00    162
7.386595e-03      3
7.593704e-02      2
8.386464e-03      2
9.554469e-03      2
5.422707e-03      2
5.211970e-02      2
1.931092e-02      2
1.696311e-02      2
7.441569e-03      2
1.202133e-02      2
2.591312e-02      2
6.114222e-03      2
5.435538e-02      2
9.983238e-03      2
6.117936e-04      2
3.684783e-03      2
4.240930e-02      2
1.209482e-02      2
8.964433e-07      2
1.041361e-02      2
6.520272e-03      2
1.698926e-04      2
1.835834e-02      2
7.707905e-04      2
7.972831e-02      2
4.983110e-03      2
3.313707e-02      2
8.358200e-03      2
7.123713e-01      2
9.141079e-03      2
1.330899e-03      2
2.641744e-02      2
2.903296e-02      2
1.259884e-02      2
2.001991e-02      2
8.352420e-03      2
6.494122e-02      2
1.557620e-02      2
1.288361e-02      2
1.667939e-03      2
2.500052e-02      2
2.622045e-01      2
7.613834e-02      2
1.855972e-02      2
2.606528e-02      2
2.238277e-02      2
6.361865e-03      2
7.300029e-03      2
1.949307e-02      2
               ...
9.114352e-03      1
8.748274e-04      1
2.622934e-02      1
5.702335e-03      1
1.573687e-02      1
6.123932e-02      1
2.599081e-02      1
1.902825e+00      1
2.340320e-02      1
1.523302e-01      1
7.257209e-03      1
3.013798e-02      1
1.910628e-02      1
2.860526e-03      1
6.945415e-03      1
6.117519e-01      1
1.334435e-02      1
1.032978e+00      1
2.098872e-01      1
1.223631e-03      1
1.579409e-02      1
5.602573e-02      1
5.615093e-02      1
1.817264e-02      1
1.083440e-01      1
2.260551e-02      1
2.773129e-02      1
4.510161e-03      1
3.860142e+00      1
1.197022e-02      1
4.127750e-02      1
5.732417e-02      1
1.433615e-02      1
3.478007e-02      1
1.616342e-03      1
1.601939e-01      1
1.503167e-02      1
3.092476e-02      1
5.117707e-02      1
1.415549e-01      1
2.570470e-02      1
8.107806e-03      1
7.595189e-03      1
3.778770e-02      1
3.390981e-02      1
9.525982e-03      1
2.461533e-02      1
1.086609e-01      1
1.032782e-01      1
3.803591e-02      1
Name: cnt_annuity_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 195971, dtype: int64
2018-07-06 20:43:38,297 logger 29 [INFO]    [make_npy] 0.000000e+00    162
7.386595e-03      3
7.593704e-02      2
8.386464e-03      2
9.554469e-03      2
5.422707e-03      2
5.211970e-02      2
1.931092e-02      2
1.696311e-02      2
7.441569e-03      2
1.202133e-02      2
2.591312e-02      2
6.114222e-03      2
5.435538e-02      2
9.983238e-03      2
6.117936e-04      2
3.684783e-03      2
4.240930e-02      2
1.209482e-02      2
8.964433e-07      2
1.041361e-02      2
6.520272e-03      2
1.698926e-04      2
1.835834e-02      2
7.707905e-04      2
7.972831e-02      2
4.983110e-03      2
3.313707e-02      2
8.358200e-03      2
7.123713e-01      2
9.141079e-03      2
1.330899e-03      2
2.641744e-02      2
2.903296e-02      2
1.259884e-02      2
2.001991e-02      2
8.352420e-03      2
6.494122e-02      2
1.557620e-02      2
1.288361e-02      2
1.667939e-03      2
2.500052e-02      2
2.622045e-01      2
7.613834e-02      2
1.855972e-02      2
2.606528e-02      2
2.238277e-02      2
6.361865e-03      2
7.300029e-03      2
1.949307e-02      2
               ...
9.114352e-03      1
8.748274e-04      1
2.622934e-02      1
5.702335e-03      1
1.573687e-02      1
6.123932e-02      1
2.599081e-02      1
1.902825e+00      1
2.340320e-02      1
1.523302e-01      1
7.257209e-03      1
3.013798e-02      1
1.910628e-02      1
2.860526e-03      1
6.945415e-03      1
6.117519e-01      1
1.334435e-02      1
1.032978e+00      1
2.098872e-01      1
1.223631e-03      1
1.579409e-02      1
5.602573e-02      1
5.615093e-02      1
1.817264e-02      1
1.083440e-01      1
2.260551e-02      1
2.773129e-02      1
4.510161e-03      1
3.860142e+00      1
1.197022e-02      1
4.127750e-02      1
5.732417e-02      1
1.433615e-02      1
3.478007e-02      1
1.616342e-03      1
1.601939e-01      1
1.503167e-02      1
3.092476e-02      1
5.117707e-02      1
1.415549e-01      1
2.570470e-02      1
8.107806e-03      1
7.595189e-03      1
3.778770e-02      1
3.390981e-02      1
9.525982e-03      1
2.461533e-02      1
1.086609e-01      1
1.032782e-01      1
3.803591e-02      1
Name: cnt_annuity_div_DAYS_REGISTRATION@_std@['SK_ID_CURR'], Length: 195971, dtype: int64
2018-07-06 20:43:38,324 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:38,324 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:38,419 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:38,419 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:38,491 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:38,491 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:38,530 logger 29 [INFO]    [make_npy] 0.000000         275
33750.000000     241
22500.000000     201
11250.000000     122
49500.000000      97
44442.887658      83
24750.000000      79
74250.000000      76
49500.000000      68
99000.000000      65
33332.165744      64
45000.000000      62
88885.775316      58
55553.609573      53
13500.000000      51
22221.443829      49
74250.000000      49
6750.000000       46
24750.000000      45
31500.000000      44
18000.000000      41
22725.000000      38
19800.000000      38
99000.000000      36
51750.000000      35
25875.000000      35
29700.000000      34
24750.000000      33
11925.000000      33
67500.000000      33
20250.000000      32
66664.331487      31
27000.000000      31
15750.000000      30
26703.025328      30
23175.000000      29
54000.000000      28
27000.000000      28
53406.050657      27
123750.000000     26
14850.000000      26
77775.053402      23
36000.000000      23
90000.000000      23
23625.000000      23
11110.721915      23
42003.000000      22
81000.000000      22
29250.000000      21
20700.000000      21
                ...
70245.065160       1
349343.598792      1
53137.823276       1
141307.700240      1
68418.092387       1
26522.912380       1
40711.646797       1
53191.256831       1
378216.674409      1
89919.225869       1
33747.224559       1
19443.329016       1
19258.861921       1
123951.704133      1
439557.987191      1
429400.463488      1
170000.893065      1
109953.686337      1
32684.152518       1
48390.701934       1
217755.217557      1
48732.457696       1
60392.271025       1
352197.181645      1
48680.902653       1
22113.009215       1
68896.978699       1
517387.173282      1
239786.735091      1
542383.385646      1
264910.855448      1
36489.631914       1
277140.290215      1
88307.823503       1
237122.490056      1
311081.162658      1
42759.750327       1
763449.776708      1
36126.061121       1
110643.193388      1
147087.867077      1
594629.564848      1
45157.664234       1
73810.830361       1
69862.687627       1
519749.332721      1
449168.647232      1
115230.609458      1
14607.011100       1
90791.952880       1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 305694, dtype: int64

2018-07-06 20:43:38,530 logger 29 [INFO]    [make_npy] 0.000000         275
33750.000000     241
22500.000000     201
11250.000000     122
49500.000000      97
44442.887658      83
24750.000000      79
74250.000000      76
49500.000000      68
99000.000000      65
33332.165744      64
45000.000000      62
88885.775316      58
55553.609573      53
13500.000000      51
22221.443829      49
74250.000000      49
6750.000000       46
24750.000000      45
31500.000000      44
18000.000000      41
22725.000000      38
19800.000000      38
99000.000000      36
51750.000000      35
25875.000000      35
29700.000000      34
24750.000000      33
11925.000000      33
67500.000000      33
20250.000000      32
66664.331487      31
27000.000000      31
15750.000000      30
26703.025328      30
23175.000000      29
54000.000000      28
27000.000000      28
53406.050657      27
123750.000000     26
14850.000000      26
77775.053402      23
36000.000000      23
90000.000000      23
23625.000000      23
11110.721915      23
42003.000000      22
81000.000000      22
29250.000000      21
20700.000000      21
                ...
70245.065160       1
349343.598792      1
53137.823276       1
141307.700240      1
68418.092387       1
26522.912380       1
40711.646797       1
53191.256831       1
378216.674409      1
89919.225869       1
33747.224559       1
19443.329016       1
19258.861921       1
123951.704133      1
439557.987191      1
429400.463488      1
170000.893065      1
109953.686337      1
32684.152518       1
48390.701934       1
217755.217557      1
48732.457696       1
60392.271025       1
352197.181645      1
48680.902653       1
22113.009215       1
68896.978699       1
517387.173282      1
239786.735091      1
542383.385646      1
264910.855448      1
36489.631914       1
277140.290215      1
88307.823503       1
237122.490056      1
311081.162658      1
42759.750327       1
763449.776708      1
36126.061121       1
110643.193388      1
147087.867077      1
594629.564848      1
45157.664234       1
73810.830361       1
69862.687627       1
519749.332721      1
449168.647232      1
115230.609458      1
14607.011100       1
90791.952880       1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_sum@['SK_ID_CURR'], Length: 305694, dtype: int64
2018-07-06 20:43:38,578 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:38,578 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:38,676 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:38,676 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:38,741 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:38,741 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:38,778 logger 29 [INFO]    [make_npy] 33750.000000     241
22500.000000     201
11250.000000     122
49500.000000      96
44442.887658      88
24750.000000      81
74250.000000      79
49500.000000      69
33332.165744      68
99000.000000      66
45000.000000      62
55553.609573      56
88885.775316      53
22221.443829      51
74250.000000      51
13500.000000      50
6750.000000       47
24750.000000      45
31500.000000      44
18000.000000      43
19800.000000      39
22725.000000      38
51750.000000      35
99000.000000      35
24750.000000      34
25875.000000      34
29700.000000      34
67500.000000      34
11925.000000      33
27000.000000      31
20250.000000      31
26703.025328      30
15750.000000      30
66664.331487      30
23175.000000      29
54000.000000      28
27000.000000      28
123750.000000     27
53406.050657      27
36000.000000      26
77775.053402      26
14850.000000      26
90000.000000      24
23625.000000      23
11110.721915      23
42003.000000      22
20700.000000      22
29250.000000      21
81000.000000      21
4500.000000       20
                ...
50297.634338       1
28168.259327       1
34063.829914       1
54658.797052       1
102431.387700      1
53906.465856       1
23444.159626       1
27270.618440       1
47620.802254       1
20444.375323       1
16177.988877       1
171111.888204      1
249642.214071      1
35421.645261       1
62543.004732       1
76882.341794       1
116202.249913      1
20817.778987       1
52673.717633       1
31454.980426       1
35426.001123       1
136891.759903      1
27357.789095       1
13670.103362       1
61402.655985       1
24191.626651       1
217348.436122      1
94793.567972       1
27060.762158       1
19712.597536       1
78128.610045       1
55963.522175       1
28875.857143       1
64485.110919       1
30015.095339       1
23714.359978       1
43168.905088       1
19543.469282       1
10392.749600       1
43117.534743       1
67534.310770       1
78607.994308       1
40925.724201       1
44653.941870       1
103801.418607      1
125518.525110      1
10127.962596       1
69021.252189       1
50999.327537       1
39964.071998       1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 305641, dtype: int64
2018-07-06 20:43:38,778 logger 29 [INFO]    [make_npy] 33750.000000     241
22500.000000     201
11250.000000     122
49500.000000      96
44442.887658      88
24750.000000      81
74250.000000      79
49500.000000      69
33332.165744      68
99000.000000      66
45000.000000      62
55553.609573      56
88885.775316      53
22221.443829      51
74250.000000      51
13500.000000      50
6750.000000       47
24750.000000      45
31500.000000      44
18000.000000      43
19800.000000      39
22725.000000      38
51750.000000      35
99000.000000      35
24750.000000      34
25875.000000      34
29700.000000      34
67500.000000      34
11925.000000      33
27000.000000      31
20250.000000      31
26703.025328      30
15750.000000      30
66664.331487      30
23175.000000      29
54000.000000      28
27000.000000      28
123750.000000     27
53406.050657      27
36000.000000      26
77775.053402      26
14850.000000      26
90000.000000      24
23625.000000      23
11110.721915      23
42003.000000      22
20700.000000      22
29250.000000      21
81000.000000      21
4500.000000       20
                ...
50297.634338       1
28168.259327       1
34063.829914       1
54658.797052       1
102431.387700      1
53906.465856       1
23444.159626       1
27270.618440       1
47620.802254       1
20444.375323       1
16177.988877       1
171111.888204      1
249642.214071      1
35421.645261       1
62543.004732       1
76882.341794       1
116202.249913      1
20817.778987       1
52673.717633       1
31454.980426       1
35426.001123       1
136891.759903      1
27357.789095       1
13670.103362       1
61402.655985       1
24191.626651       1
217348.436122      1
94793.567972       1
27060.762158       1
19712.597536       1
78128.610045       1
55963.522175       1
28875.857143       1
64485.110919       1
30015.095339       1
23714.359978       1
43168.905088       1
19543.469282       1
10392.749600       1
43117.534743       1
67534.310770       1
78607.994308       1
40925.724201       1
44653.941870       1
103801.418607      1
125518.525110      1
10127.962596       1
69021.252189       1
50999.327537       1
39964.071998       1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_mean@['SK_ID_CURR'], Length: 305641, dtype: int64
2018-07-06 20:43:38,821 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:38,821 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: max
['SK_ID_CURR']
2018-07-06 20:43:38,925 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:38,925 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_max@['SK_ID_CURR']'], dtype='object')

2018-07-06 20:43:38,996 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:38,996 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:39,040 logger 29 [INFO]    [make_npy] 33750.000000     307
22500.000000     260
11250.000000     153
24750.000000     137
49500.000000     129
74250.000000     116
44442.887658     113
45000.000000     109
49500.000000      95
99000.000000      93
33332.165744      81
67500.000000      79
13500.000000      78
74250.000000      75
24750.000000      75
55553.609573      70
25875.000000      68
31500.000000      64
22221.443829      63
29700.000000      61
88885.775316      60
6750.000000       60
51750.000000      57
27652.500000      57
19800.000000      57
22725.000000      54
99000.000000      53
90000.000000      52
26703.025328      52
53406.050657      51
56250.000000      50
27000.000000      49
54000.000000      49
18000.000000      48
27000.000000      46
36000.000000      46
24750.000000      45
77625.000000      44
91250.966744      44
81000.000000      43
24606.050657      42
43474.443369      41
45625.483372      40
11925.000000      40
74992.500000      39
15750.000000      39
45625.556631      39
20250.000000      38
58500.000000      38
123750.000000     38
                ...
12918.327974       1
72197.804000       1
48253.505411       1
22625.517957       1
67576.171229       1
64745.979381       1
47094.748576       1
25636.449343       1
31949.987455       1
31196.739637       1
92736.360000       1
52515.006821       1
130466.700000      1
59714.873632       1
55697.462250       1
91754.942234       1
254490.900290      1
60817.503684       1
111083.410155      1
94765.295630       1
122119.735519      1
92520.488768       1
74587.586371       1
76469.611471       1
95170.112536       1
36702.028721       1
51468.421053       1
85390.412758       1
98080.474215       1
240003.056991      1
99731.296373       1
91726.569292       1
91772.956253       1
54719.810991       1
159570.151487      1
26743.641496       1
269534.504717      1
47961.117717       1
126015.731371      1
11439.591729       1
171615.575881      1
63299.374115       1
45198.153409       1
22075.152091       1
107499.177583      1
72848.991655       1
29994.364094       1
39454.662674       1
98851.097425       1
39964.071998       1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 287540, dtype: int64
2018-07-06 20:43:39,040 logger 29 [INFO]    [make_npy] 33750.000000     307
22500.000000     260
11250.000000     153
24750.000000     137
49500.000000     129
74250.000000     116
44442.887658     113
45000.000000     109
49500.000000      95
99000.000000      93
33332.165744      81
67500.000000      79
13500.000000      78
74250.000000      75
24750.000000      75
55553.609573      70
25875.000000      68
31500.000000      64
22221.443829      63
29700.000000      61
88885.775316      60
6750.000000       60
51750.000000      57
27652.500000      57
19800.000000      57
22725.000000      54
99000.000000      53
90000.000000      52
26703.025328      52
53406.050657      51
56250.000000      50
27000.000000      49
54000.000000      49
18000.000000      48
27000.000000      46
36000.000000      46
24750.000000      45
77625.000000      44
91250.966744      44
81000.000000      43
24606.050657      42
43474.443369      41
45625.483372      40
11925.000000      40
74992.500000      39
15750.000000      39
45625.556631      39
20250.000000      38
58500.000000      38
123750.000000     38
                ...
12918.327974       1
72197.804000       1
48253.505411       1
22625.517957       1
67576.171229       1
64745.979381       1
47094.748576       1
25636.449343       1
31949.987455       1
31196.739637       1
92736.360000       1
52515.006821       1
130466.700000      1
59714.873632       1
55697.462250       1
91754.942234       1
254490.900290      1
60817.503684       1
111083.410155      1
94765.295630       1
122119.735519      1
92520.488768       1
74587.586371       1
76469.611471       1
95170.112536       1
36702.028721       1
51468.421053       1
85390.412758       1
98080.474215       1
240003.056991      1
99731.296373       1
91726.569292       1
91772.956253       1
54719.810991       1
159570.151487      1
26743.641496       1
269534.504717      1
47961.117717       1
126015.731371      1
11439.591729       1
171615.575881      1
63299.374115       1
45198.153409       1
22075.152091       1
107499.177583      1
72848.991655       1
29994.364094       1
39454.662674       1
98851.097425       1
39964.071998       1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_max@['SK_ID_CURR'], Length: 287540, dtype: int64
2018-07-06 20:43:39,083 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:39,083 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: min
['SK_ID_CURR']
2018-07-06 20:43:39,185 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:39,185 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:39,260 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:39,260 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:39,299 logger 29 [INFO]    [make_npy] 33750.000000     1589
22500.000000     1445
11250.000000     1133
44442.887658      871
33332.165744      799
45000.000000      751
22221.443829      634
55553.609573      543
22725.000000      528
13500.000000      428
6750.000000       415
56250.000000      399
66664.331487      380
88885.775316      353
11110.721915      339
15750.000000      312
11925.000000      309
18000.000000      308
9000.000000       293
67500.000000      290
31500.000000      271
33975.000000      258
23175.000000      244
24750.000000      228
27000.000000      199
12375.000000      196
4500.000000       195
20250.000000      176
11475.000000      171
22443.658267      171
23625.000000      157
77775.053402      156
29250.000000      155
24750.000000      153
5625.000000       151
49500.000000      150
74250.000000      141
90000.000000      141
23850.000000      135
47250.000000      133
36000.000000      133
33554.380182      126
42750.000000      122
54000.000000      121
10125.000000      121
7875.000000       120
99000.000000      120
22888.087144      116
12600.000000      110
16875.000000      109
                 ...
24725.191242        1
27231.661345        1
44107.407837        1
39779.864083        1
94509.428338        1
5749.628950         1
49995.128205        1
27997.136793        1
15993.447544        1
71754.276316        1
29023.092593        1
34790.226770        1
86256.098115        1
20497.943732        1
114176.837185       1
93600.475126        1
21019.611650        1
24047.845981        1
100740.348070       1
57183.828706        1
55578.549864        1
15711.035824        1
22608.034516        1
26130.420469        1
36799.919847        1
9185.782975         1
60823.979817        1
254718.131374       1
30015.120160        1
11943.011271        1
41985.135286        1
18265.567254        1
31230.230769        1
58249.896694        1
125009.823183       1
38132.489139        1
22244.172866        1
40590.038020        1
56494.599945        1
43289.978903        1
48024.208999        1
30315.594707        1
22736.700000        1
48089.698492        1
43384.318095        1
33597.502108        1
22835.200524        1
20069.954502        1
48695.783133        1
39964.071998        1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 258746, dtype: int64
2018-07-06 20:43:39,299 logger 29 [INFO]    [make_npy] 33750.000000     1589
22500.000000     1445
11250.000000     1133
44442.887658      871
33332.165744      799
45000.000000      751
22221.443829      634
55553.609573      543
22725.000000      528
13500.000000      428
6750.000000       415
56250.000000      399
66664.331487      380
88885.775316      353
11110.721915      339
15750.000000      312
11925.000000      309
18000.000000      308
9000.000000       293
67500.000000      290
31500.000000      271
33975.000000      258
23175.000000      244
24750.000000      228
27000.000000      199
12375.000000      196
4500.000000       195
20250.000000      176
11475.000000      171
22443.658267      171
23625.000000      157
77775.053402      156
29250.000000      155
24750.000000      153
5625.000000       151
49500.000000      150
74250.000000      141
90000.000000      141
23850.000000      135
47250.000000      133
36000.000000      133
33554.380182      126
42750.000000      122
54000.000000      121
10125.000000      121
7875.000000       120
99000.000000      120
22888.087144      116
12600.000000      110
16875.000000      109
                 ...
24725.191242        1
27231.661345        1
44107.407837        1
39779.864083        1
94509.428338        1
5749.628950         1
49995.128205        1
27997.136793        1
15993.447544        1
71754.276316        1
29023.092593        1
34790.226770        1
86256.098115        1
20497.943732        1
114176.837185       1
93600.475126        1
21019.611650        1
24047.845981        1
100740.348070       1
57183.828706        1
55578.549864        1
15711.035824        1
22608.034516        1
26130.420469        1
36799.919847        1
9185.782975         1
60823.979817        1
254718.131374       1
30015.120160        1
11943.011271        1
41985.135286        1
18265.567254        1
31230.230769        1
58249.896694        1
125009.823183       1
38132.489139        1
22244.172866        1
40590.038020        1
56494.599945        1
43289.978903        1
48024.208999        1
30315.594707        1
22736.700000        1
48089.698492        1
43384.318095        1
33597.502108        1
22835.200524        1
20069.954502        1
48695.783133        1
39964.071998        1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_min@['SK_ID_CURR'], Length: 258746, dtype: int64

2018-07-06 20:43:39,316 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:39,316 logger 125 [INFO]    [select_level_agg]
num: app_AMT_GOODS_PRICE_div_cnt_annuity@
method: std
['SK_ID_CURR']
2018-07-06 20:43:39,449 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:39,449 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'app_AMT_GOODS_PRICE_div_cnt_annuity@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:39,554 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:39,554 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:39,597 logger 29 [INFO]    [make_npy] 0.000000e+00    161
1.969690e+02      6
1.909188e+04      5
2.954534e+02      4
1.083464e+04      4
3.818377e+04      3
3.939379e+02      3
1.272792e+03      3
2.386485e+04      3
6.893914e+02      3
4.924224e+02      3
9.014384e+03      2
2.102155e+04      2
1.876592e+04      2
1.208073e+04      2
1.031397e+04      2
5.516219e+03      2
2.142445e+04      2
6.338600e+04      2
4.449850e+03      2
1.835033e+03      2
2.865351e+03      2
3.142693e+04      2
2.882874e+04      2
1.422947e+04      2
1.489658e+03      2
1.348835e+03      2
2.038578e+04      2
2.833246e+04      2
2.775699e+04      2
2.550990e+04      2
9.450436e+03      2
2.903156e+04      2
5.151916e+03      2
1.447840e+04      2
6.433763e+03      2
1.232132e-01      2
2.350899e+04      2
5.322415e+03      2
2.397622e+04      2
3.687574e+04      2
5.541307e+04      2
6.736855e+04      2
2.916285e+04      2
1.810551e+04      2
7.750834e+03      2
1.037983e+03      2
1.616828e+03      2
1.001077e+04      2
2.057952e-11      2
               ...
9.892069e+03      1
1.345979e+04      1
2.686340e+03      1
5.455572e+04      1
1.388963e+04      1
3.018489e+01      1
1.545540e+03      1
2.547053e+04      1
4.224370e+04      1
8.607087e+03      1
1.749767e+04      1
6.416787e+03      1
1.094966e+03      1
2.008231e+04      1
3.073101e+04      1
2.361864e+04      1
4.773804e+03      1
2.475579e+04      1
3.855608e+04      1
4.424652e+04      1
2.150352e+03      1
7.185914e+02      1
1.981303e+04      1
1.411918e+04      1
2.408836e+04      1
3.716085e+03      1
3.338652e+04      1
1.914230e+04      1
5.679184e+03      1
8.121450e+02      1
2.529888e+04      1
9.613975e+03      1
1.939542e+04      1
1.425833e+04      1
6.463840e+04      1
3.497124e+04      1
4.399346e+04      1
4.172504e+04      1
5.517609e+04      1
2.322045e+04      1
6.803046e+03      1
2.947055e+04      1
4.014089e+03      1
2.262788e+04      1
8.923465e+03      1
3.838019e+03      1
3.430529e+03      1
5.255944e+04      1
3.167661e+03      1
3.164518e+04      1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 197260, dtype: int64
2018-07-06 20:43:39,597 logger 29 [INFO]    [make_npy] 0.000000e+00    161
1.969690e+02      6
1.909188e+04      5
2.954534e+02      4
1.083464e+04      4
3.818377e+04      3
3.939379e+02      3
1.272792e+03      3
2.386485e+04      3
6.893914e+02      3
4.924224e+02      3
9.014384e+03      2
2.102155e+04      2
1.876592e+04      2
1.208073e+04      2
1.031397e+04      2
5.516219e+03      2
2.142445e+04      2
6.338600e+04      2
4.449850e+03      2
1.835033e+03      2
2.865351e+03      2
3.142693e+04      2
2.882874e+04      2
1.422947e+04      2
1.489658e+03      2
1.348835e+03      2
2.038578e+04      2
2.833246e+04      2
2.775699e+04      2
2.550990e+04      2
9.450436e+03      2
2.903156e+04      2
5.151916e+03      2
1.447840e+04      2
6.433763e+03      2
1.232132e-01      2
2.350899e+04      2
5.322415e+03      2
2.397622e+04      2
3.687574e+04      2
5.541307e+04      2
6.736855e+04      2
2.916285e+04      2
1.810551e+04      2
7.750834e+03      2
1.037983e+03      2
1.616828e+03      2
1.001077e+04      2
2.057952e-11      2
               ...
9.892069e+03      1
1.345979e+04      1
2.686340e+03      1
5.455572e+04      1
1.388963e+04      1
3.018489e+01      1
1.545540e+03      1
2.547053e+04      1
4.224370e+04      1
8.607087e+03      1
1.749767e+04      1
6.416787e+03      1
1.094966e+03      1
2.008231e+04      1
3.073101e+04      1
2.361864e+04      1
4.773804e+03      1
2.475579e+04      1
3.855608e+04      1
4.424652e+04      1
2.150352e+03      1
7.185914e+02      1
1.981303e+04      1
1.411918e+04      1
2.408836e+04      1
3.716085e+03      1
3.338652e+04      1
1.914230e+04      1
5.679184e+03      1
8.121450e+02      1
2.529888e+04      1
9.613975e+03      1
1.939542e+04      1
1.425833e+04      1
6.463840e+04      1
3.497124e+04      1
4.399346e+04      1
4.172504e+04      1
5.517609e+04      1
2.322045e+04      1
6.803046e+03      1
2.947055e+04      1
4.014089e+03      1
2.262788e+04      1
8.923465e+03      1
3.838019e+03      1
3.430529e+03      1
5.255944e+04      1
3.167661e+03      1
3.164518e+04      1
Name: app_AMT_GOODS_PRICE_div_cnt_annuity@_std@['SK_ID_CURR'], Length: 197260, dtype: int64
2018-07-06 20:43:39,678 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:39,678 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: sum
['SK_ID_CURR']
2018-07-06 20:43:39,780 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:39,780 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:39,850 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:39,850 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:39,887 logger 29 [INFO]    [make_npy] 0.000000      32
16.533116      1
97.154706      1
19.465902      1
34.209553      1
35.328918      1
15.854900      1
23.133903      1
31.861975      1
65.611820      1
117.555335     1
5.036080       1
14.282329      1
34.904917      1
59.175500      1
37.969162      1
23.419781      1
138.683890     1
27.002345      1
11.388094      1
59.181244      1
112.810672     1
138.285693     1
105.372112     1
35.613458      1
163.816663     1
58.397804      1
157.907257     1
169.416723     1
112.577499     1
39.218342      1
24.720689      1
20.459487      1
13.343707      1
42.948463      1
17.452414      1
37.357473      1
60.136923      1
17.500380      1
132.306138     1
181.756409     1
52.428151      1
45.810156      1
41.454392      1
48.523333      1
16.997324      1
13.899396      1
10.619493      1
89.870366      1
101.330327     1
              ..
54.776017      1
27.455532      1
78.900733      1
64.818530      1
70.044912      1
25.952448      1
16.820086      1
99.095710      1
17.494317      1
43.148574      1
60.210718      1
13.065064      1
74.895928      1
166.725496     1
81.410804      1
29.611570      1
7.758336       1
118.293700     1
29.055401      1
56.109174      1
34.238143      1
26.379908      1
86.964386      1
28.752652      1
17.106400      1
58.681166      1
30.964170      1
98.708065      1
20.015281      1
8.355105       1
26.140673      1
14.055682      1
59.790099      1
8.758683       1
18.267879      1
100.157721     1
29.515746      1
41.410629      1
13.857331      1
23.480849      1
8.659259       1
81.577450      1
27.177560      1
151.607077     1
31.571513      1
24.833132      1
69.725023      1
10.137739      1
19.050908      1
25.257147      1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 313891, dtype: int64
2018-07-06 20:43:39,887 logger 29 [INFO]    [make_npy] 0.000000      32
16.533116      1
97.154706      1
19.465902      1
34.209553      1
35.328918      1
15.854900      1
23.133903      1
31.861975      1
65.611820      1
117.555335     1
5.036080       1
14.282329      1
34.904917      1
59.175500      1
37.969162      1
23.419781      1
138.683890     1
27.002345      1
11.388094      1
59.181244      1
112.810672     1
138.285693     1
105.372112     1
35.613458      1
163.816663     1
58.397804      1
157.907257     1
169.416723     1
112.577499     1
39.218342      1
24.720689      1
20.459487      1
13.343707      1
42.948463      1
17.452414      1
37.357473      1
60.136923      1
17.500380      1
132.306138     1
181.756409     1
52.428151      1
45.810156      1
41.454392      1
48.523333      1
16.997324      1
13.899396      1
10.619493      1
89.870366      1
101.330327     1
              ..
54.776017      1
27.455532      1
78.900733      1
64.818530      1
70.044912      1
25.952448      1
16.820086      1
99.095710      1
17.494317      1
43.148574      1
60.210718      1
13.065064      1
74.895928      1
166.725496     1
81.410804      1
29.611570      1
7.758336       1
118.293700     1
29.055401      1
56.109174      1
34.238143      1
26.379908      1
86.964386      1
28.752652      1
17.106400      1
58.681166      1
30.964170      1
98.708065      1
20.015281      1
8.355105       1
26.140673      1
14.055682      1
59.790099      1
8.758683       1
18.267879      1
100.157721     1
29.515746      1
41.410629      1
13.857331      1
23.480849      1
8.659259       1
81.577450      1
27.177560      1
151.607077     1
31.571513      1
24.833132      1
69.725023      1
10.137739      1
19.050908      1
25.257147      1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_sum@['SK_ID_CURR'], Length: 313891, dtype: int64

2018-07-06 20:43:39,903 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:39,903 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: mean
['SK_ID_CURR']
2018-07-06 20:43:40,020 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,020 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,115 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:40,115 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:40,157 logger 29 [INFO]    [make_npy] 14.012888    1
16.225918    1
17.613648    1
17.603900    1
11.517689    1
16.991777    1
21.340870    1
8.668823     1
23.660536    1
12.691494    1
26.986910    1
22.784234    1
16.559955    1
20.253739    1
47.484476    1
23.993487    1
31.196886    1
20.789865    1
11.842624    1
16.162261    1
34.109158    1
22.896490    1
22.483499    1
16.185906    1
43.451091    1
36.006289    1
33.441664    1
15.027743    1
18.433148    1
13.696263    1
14.926344    1
47.024866    1
34.021849    1
14.433339    1
29.205102    1
19.447636    1
24.679356    1
22.123044    1
40.625434    1
37.071898    1
16.781375    1
15.538414    1
21.536352    1
13.817329    1
9.309429     1
24.645870    1
9.175798     1
14.664245    1
12.464318    1
17.987453    1
            ..
16.914262    1
14.184112    1
30.711465    1
13.327199    1
36.046878    1
20.818957    1
12.843809    1
23.464065    1
22.146105    1
21.031025    1
15.547999    1
13.580175    1
22.844524    1
24.305824    1
32.982397    1
29.359397    1
39.842995    1
33.831249    1
20.851980    1
13.939360    1
17.641235    1
13.011545    1
26.802760    1
19.964453    1
19.389911    1
23.553325    1
37.189137    1
17.802199    1
21.145358    1
17.628688    1
26.626307    1
28.713068    1
30.965181    1
27.213121    1
24.380420    1
16.059456    1
24.493224    1
15.730596    1
21.792004    1
25.550831    1
25.943527    1
25.835548    1
22.264412    1
25.590990    1
20.083878    1
6.612103     1
10.868733    1
17.959456    1
25.796934    1
34.915169    1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:43:40,157 logger 29 [INFO]    [make_npy] 14.012888    1
16.225918    1
17.613648    1
17.603900    1
11.517689    1
16.991777    1
21.340870    1
8.668823     1
23.660536    1
12.691494    1
26.986910    1
22.784234    1
16.559955    1
20.253739    1
47.484476    1
23.993487    1
31.196886    1
20.789865    1
11.842624    1
16.162261    1
34.109158    1
22.896490    1
22.483499    1
16.185906    1
43.451091    1
36.006289    1
33.441664    1
15.027743    1
18.433148    1
13.696263    1
14.926344    1
47.024866    1
34.021849    1
14.433339    1
29.205102    1
19.447636    1
24.679356    1
22.123044    1
40.625434    1
37.071898    1
16.781375    1
15.538414    1
21.536352    1
13.817329    1
9.309429     1
24.645870    1
9.175798     1
14.664245    1
12.464318    1
17.987453    1
            ..
16.914262    1
14.184112    1
30.711465    1
13.327199    1
36.046878    1
20.818957    1
12.843809    1
23.464065    1
22.146105    1
21.031025    1
15.547999    1
13.580175    1
22.844524    1
24.305824    1
32.982397    1
29.359397    1
39.842995    1
33.831249    1
20.851980    1
13.939360    1
17.641235    1
13.011545    1
26.802760    1
19.964453    1
19.389911    1
23.553325    1
37.189137    1
17.802199    1
21.145358    1
17.628688    1
26.626307    1
28.713068    1
30.965181    1
27.213121    1
24.380420    1
16.059456    1
24.493224    1
15.730596    1
21.792004    1
25.550831    1
25.943527    1
25.835548    1
22.264412    1
25.590990    1
20.083878    1
6.612103     1
10.868733    1
17.959456    1
25.796934    1
34.915169    1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_mean@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:43:40,199 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:40,199 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: max
['SK_ID_CURR']
2018-07-06 20:43:40,291 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,291 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,359 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:40,359 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:40,394 logger 29 [INFO]    [make_npy] 36.913994    1
52.154755    1
11.161978    1
66.718751    1
18.168183    1
60.632522    1
27.019176    1
14.365366    1
24.416641    1
22.743843    1
69.648955    1
25.501357    1
22.797046    1
28.201071    1
21.388792    1
22.597906    1
12.145027    1
29.165094    1
62.532150    1
12.163778    1
23.366446    1
24.967121    1
29.041255    1
24.115694    1
40.709643    1
20.229363    1
21.154173    1
31.345662    1
27.489162    1
85.709712    1
39.036343    1
20.443525    1
21.578769    1
33.293613    1
35.882677    1
52.147948    1
24.189758    1
30.942822    1
54.011934    1
62.230335    1
9.250800     1
22.774462    1
33.809495    1
29.329020    1
43.954686    1
13.623750    1
25.880570    1
20.849828    1
15.587682    1
45.243572    1
            ..
12.866706    1
24.498520    1
19.261023    1
43.757508    1
63.381693    1
34.286250    1
17.688338    1
45.626743    1
12.854457    1
23.716021    1
18.860288    1
15.579610    1
23.304897    1
40.859756    1
23.402998    1
7.959271     1
18.506348    1
26.818044    1
40.164167    1
22.451574    1
7.489133     1
41.542952    1
19.291577    1
26.958492    1
33.151195    1
31.759270    1
19.059255    1
16.291127    1
22.002701    1
30.891866    1
8.952637     1
14.810791    1
39.535946    1
43.931951    1
11.971280    1
25.550122    1
18.153696    1
11.166034    1
21.570033    1
22.533837    1
24.982791    1
38.675335    1
35.761885    1
38.744758    1
13.386888    1
49.870648    1
56.553787    1
52.307753    1
14.258036    1
59.345888    1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:43:40,394 logger 29 [INFO]    [make_npy] 36.913994    1
52.154755    1
11.161978    1
66.718751    1
18.168183    1
60.632522    1
27.019176    1
14.365366    1
24.416641    1
22.743843    1
69.648955    1
25.501357    1
22.797046    1
28.201071    1
21.388792    1
22.597906    1
12.145027    1
29.165094    1
62.532150    1
12.163778    1
23.366446    1
24.967121    1
29.041255    1
24.115694    1
40.709643    1
20.229363    1
21.154173    1
31.345662    1
27.489162    1
85.709712    1
39.036343    1
20.443525    1
21.578769    1
33.293613    1
35.882677    1
52.147948    1
24.189758    1
30.942822    1
54.011934    1
62.230335    1
9.250800     1
22.774462    1
33.809495    1
29.329020    1
43.954686    1
13.623750    1
25.880570    1
20.849828    1
15.587682    1
45.243572    1
            ..
12.866706    1
24.498520    1
19.261023    1
43.757508    1
63.381693    1
34.286250    1
17.688338    1
45.626743    1
12.854457    1
23.716021    1
18.860288    1
15.579610    1
23.304897    1
40.859756    1
23.402998    1
7.959271     1
18.506348    1
26.818044    1
40.164167    1
22.451574    1
7.489133     1
41.542952    1
19.291577    1
26.958492    1
33.151195    1
31.759270    1
19.059255    1
16.291127    1
22.002701    1
30.891866    1
8.952637     1
14.810791    1
39.535946    1
43.931951    1
11.971280    1
25.550122    1
18.153696    1
11.166034    1
21.570033    1
22.533837    1
24.982791    1
38.675335    1
35.761885    1
38.744758    1
13.386888    1
49.870648    1
56.553787    1
52.307753    1
14.258036    1
59.345888    1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_max@['SK_ID_CURR'], Length: 313890, dtype: int64

2018-07-06 20:43:40,440 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:40,440 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: min
['SK_ID_CURR']
2018-07-06 20:43:40,561 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,561 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,648 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:40,648 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:40,758 logger 29 [INFO]    [make_npy] 9.714941      1
10.880011     1
19.188194     1
18.851383     1
17.756911     1
29.261200     1
16.531140     1
9.561715      1
7.120014      1
8.195273      1
11.078190     1
17.979865     1
23.323683     1
12.181461     1
12.733050     1
15.672015     1
21.812520     1
13.593625     1
62.702120     1
18.664932     1
16.879074     1
15.972632     1
42.465146     1
13.493024     1
11.008856     1
17.526035     1
9.135701      1
8.214331      1
14.433069     1
13.808188     1
7.614257      1
23.521303     1
20.563737     1
18.409764     1
34.476034     1
37.175123     1
9.822409      1
16.927910     1
17.026565     1
107.568279    1
14.316438     1
11.871993     1
42.204663     1
14.768488     1
12.125676     1
20.452064     1
15.301665     1
12.870899     1
10.107790     1
13.664063     1
             ..
24.066963     1
10.125113     1
24.697975     1
8.065347      1
8.199050      1
29.551750     1
14.946065     1
15.727005     1
16.118517     1
19.486263     1
15.531893     1
35.736767     1
19.119443     1
5.752207      1
9.595439      1
15.220291     1
21.256027     1
24.132827     1
11.014681     1
18.130427     1
5.810638      1
7.684636      1
30.115240     1
16.792713     1
17.316840     1
22.637732     1
9.841840      1
18.578736     1
12.792859     1
25.148709     1
23.510275     1
12.724476     1
8.209881      1
21.492716     1
40.457075     1
51.256205     1
7.652202      1
8.789476      1
20.335085     1
15.184701     1
58.458137     1
14.803539     1
16.181112     1
22.572223     1
17.826294     1
25.761972     1
10.992350     1
9.915667      1
8.956637      1
15.158853     1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:43:40,758 logger 29 [INFO]    [make_npy] 9.714941      1
10.880011     1
19.188194     1
18.851383     1
17.756911     1
29.261200     1
16.531140     1
9.561715      1
7.120014      1
8.195273      1
11.078190     1
17.979865     1
23.323683     1
12.181461     1
12.733050     1
15.672015     1
21.812520     1
13.593625     1
62.702120     1
18.664932     1
16.879074     1
15.972632     1
42.465146     1
13.493024     1
11.008856     1
17.526035     1
9.135701      1
8.214331      1
14.433069     1
13.808188     1
7.614257      1
23.521303     1
20.563737     1
18.409764     1
34.476034     1
37.175123     1
9.822409      1
16.927910     1
17.026565     1
107.568279    1
14.316438     1
11.871993     1
42.204663     1
14.768488     1
12.125676     1
20.452064     1
15.301665     1
12.870899     1
10.107790     1
13.664063     1
             ..
24.066963     1
10.125113     1
24.697975     1
8.065347      1
8.199050      1
29.551750     1
14.946065     1
15.727005     1
16.118517     1
19.486263     1
15.531893     1
35.736767     1
19.119443     1
5.752207      1
9.595439      1
15.220291     1
21.256027     1
24.132827     1
11.014681     1
18.130427     1
5.810638      1
7.684636      1
30.115240     1
16.792713     1
17.316840     1
22.637732     1
9.841840      1
18.578736     1
12.792859     1
25.148709     1
23.510275     1
12.724476     1
8.209881      1
21.492716     1
40.457075     1
51.256205     1
7.652202      1
8.789476      1
20.335085     1
15.184701     1
58.458137     1
14.803539     1
16.181112     1
22.572223     1
17.826294     1
25.761972     1
10.992350     1
9.915667      1
8.956637      1
15.158853     1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_min@['SK_ID_CURR'], Length: 313890, dtype: int64
2018-07-06 20:43:40,780 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:40,780 logger 125 [INFO]    [select_level_agg]
num: cnt_annuity_div_a_EXT_SOURCE_avg@@
method: std
['SK_ID_CURR']
2018-07-06 20:43:40,884 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,884 logger 129 [INFO]    [select_level_agg]
base: Index(['SK_ID_CURR'], dtype='object')
result: Index(['SK_ID_CURR', 'cnt_annuity_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR']'], dtype='object')
2018-07-06 20:43:40,973 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:40,973 logger 132 [INFO]    [select_level_agg]
result shape: (356255, 2)
2018-07-06 20:43:41,011 logger 29 [INFO]    [make_npy] 0.000000e+00    164
3.552714e-15      3
1.203112e+01      1
8.880917e+00      1
1.588692e+01      1
4.835273e+00      1
4.693211e+00      1
1.097846e+01      1
1.983471e+00      1
1.045402e+01      1
4.664504e+00      1
1.016965e+01      1
7.567145e+00      1
3.445183e+00      1
6.723367e+00      1
1.021735e+01      1
3.967048e+00      1
3.477306e+00      1
1.104677e+01      1
4.887885e+00      1
5.643939e+00      1
9.847461e+00      1
1.788459e+01      1
1.356340e+01      1
1.439271e+01      1
1.483173e+01      1
1.287510e+01      1
2.650114e+00      1
6.733889e+00      1
9.094566e-01      1
9.324409e+00      1
8.990523e+00      1
1.594202e+00      1
3.588961e+00      1
4.775225e-01      1
1.640490e+01      1
3.032353e+00      1
8.103705e-01      1
1.551292e+01      1
1.236748e+01      1
4.804308e+00      1
5.729032e-01      1
1.505203e+01      1
2.227590e+01      1
1.292453e+01      1
8.106256e+00      1
1.023768e+01      1
1.189320e+01      1
5.910098e+00      1
1.618964e+01      1
               ...
3.605679e+00      1
8.269188e+00      1
1.301754e+00      1
6.419053e+00      1
4.204494e+00      1
8.735785e+00      1
1.226413e+01      1
7.189836e+00      1
2.055365e+01      1
1.547982e+01      1
1.204523e+01      1
4.591160e+00      1
7.740796e+00      1
1.894695e+01      1
1.037028e+00      1
1.454664e+01      1
2.482734e+01      1
6.326775e+00      1
2.742394e+00      1
5.696107e+00      1
6.842193e+00      1
1.731267e+00      1
1.327060e+01      1
1.288075e+01      1
8.664473e+00      1
7.419235e+00      1
1.190205e-01      1
6.335052e+00      1
3.479093e+00      1
1.347430e+01      1
2.566612e+01      1
1.502899e+01      1
1.421254e+01      1
5.486821e+00      1
1.053013e+01      1
1.021776e+01      1
1.081328e+01      1
3.165805e+00      1
4.925649e+00      1
5.849203e+00      1
8.087073e+00      1
9.568660e+00      1
3.862633e+00      1
3.593209e+00      1
4.518379e+00      1
1.487652e+01      1
1.619050e+01      1
3.381243e+00      1
1.932997e+01      1
1.678465e+01      1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 197586, dtype: int64
2018-07-06 20:43:41,011 logger 29 [INFO]    [make_npy] 0.000000e+00    164
3.552714e-15      3
1.203112e+01      1
8.880917e+00      1
1.588692e+01      1
4.835273e+00      1
4.693211e+00      1
1.097846e+01      1
1.983471e+00      1
1.045402e+01      1
4.664504e+00      1
1.016965e+01      1
7.567145e+00      1
3.445183e+00      1
6.723367e+00      1
1.021735e+01      1
3.967048e+00      1
3.477306e+00      1
1.104677e+01      1
4.887885e+00      1
5.643939e+00      1
9.847461e+00      1
1.788459e+01      1
1.356340e+01      1
1.439271e+01      1
1.483173e+01      1
1.287510e+01      1
2.650114e+00      1
6.733889e+00      1
9.094566e-01      1
9.324409e+00      1
8.990523e+00      1
1.594202e+00      1
3.588961e+00      1
4.775225e-01      1
1.640490e+01      1
3.032353e+00      1
8.103705e-01      1
1.551292e+01      1
1.236748e+01      1
4.804308e+00      1
5.729032e-01      1
1.505203e+01      1
2.227590e+01      1
1.292453e+01      1
8.106256e+00      1
1.023768e+01      1
1.189320e+01      1
5.910098e+00      1
1.618964e+01      1
               ...
3.605679e+00      1
8.269188e+00      1
1.301754e+00      1
6.419053e+00      1
4.204494e+00      1
8.735785e+00      1
1.226413e+01      1
7.189836e+00      1
2.055365e+01      1
1.547982e+01      1
1.204523e+01      1
4.591160e+00      1
7.740796e+00      1
1.894695e+01      1
1.037028e+00      1
1.454664e+01      1
2.482734e+01      1
6.326775e+00      1
2.742394e+00      1
5.696107e+00      1
6.842193e+00      1
1.731267e+00      1
1.327060e+01      1
1.288075e+01      1
8.664473e+00      1
7.419235e+00      1
1.190205e-01      1
6.335052e+00      1
3.479093e+00      1
1.347430e+01      1
2.566612e+01      1
1.502899e+01      1
1.421254e+01      1
5.486821e+00      1
1.053013e+01      1
1.021776e+01      1
1.081328e+01      1
3.165805e+00      1
4.925649e+00      1
5.849203e+00      1
8.087073e+00      1
9.568660e+00      1
3.862633e+00      1
3.593209e+00      1
4.518379e+00      1
1.487652e+01      1
1.619050e+01      1
3.381243e+00      1
1.932997e+01      1
1.678465e+01      1
Name: cnt_annuity_div_a_EXT_SOURCE_avg@@_std@['SK_ID_CURR'], Length: 197586, dtype: int64